.kuiTitle {
  @include kuiTitle;
  @include kuiFontSizeL;
  font-weight: $kuiFontWeightRegular;
}

.kuiTitle--small {
  @include kuiFontSizeM;
  font-weight: $kuiFontWeightRegular;
}

.kuiTitle--large {
  @include kuiFontSizeXL;
  font-weight: $kuiFontWeightRegular;
}
