.kuiLocalMenu {
  display: flex;
  align-items: stretch;
}

.kuiLocalMenuItem {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 $localNavSideSpacing;
  font-size: $kuiFontSize;
  background-color: $localNavButtonBackgroundColor;
  color: $localNavButtonTextColor;
  border: 0;
  cursor: pointer;
  border-right: solid 1px transparent;
  border-left: solid 1px transparent;

  &:hover, &:focus {
    background-color: $localNavButtonBackgroundColor-isHover;
    color: $localNavButtonTextColor-isHover;
  }

  &.kuiLocalMenuItem-isSelected {
    background-color: $localNavButtonBackgroundColor-isSelected;
    border-color: $kuiColorLightGray;
    height: calc(100% + 1px); // Cheat the border when opened
    z-index: 2;
    color: $kuiColorBlue;

    &:hover, &:focus {
      color: $kuiColorBlue;
    }
  }

  &.kuiLocalMenuItem-isDisabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      background-color: $localNavButtonBackgroundColor;
      color: $localNavButtonTextColor;
    }
  }
}

    .kuiLocalMenuItem__icon {
      margin-right: 5px;
      margin-bottom: -1px;
    }
