// This code is responsible for making sure that:
// * the shadow and focus rings are visible outside the accordion bounds,
// * the dragged element has a padding to the left and right,

.unifiedFieldListSidebar__list {
  > *, .euiAccordion__triggerWrapper, .euiAccordion__children, .unifiedFieldListItemButton {
    padding-left: $euiSizeXS;
    padding-right: $euiSizeXS;
  }

  .unifiedFieldListSidebar__accordionContainer {
    padding-left: 0;
    padding-right: 0;
  }

  @include euiBreakpoint('xs', 's') {
    padding: $euiSizeS 0 0 0;
    > *, .euiAccordion__triggerWrapper, .unifiedFieldListSidebar__accordionContainer, .unifiedFieldListItemButton {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.unifiedFieldListSidebar__group {
  height: 100%;
}

.unifiedFieldListSidebar__mobile {
  width: 100%;
  padding: $euiSizeS $euiSizeS 0;

  .unifiedFieldListSidebar__mobileBadge {
    margin-left: $euiSizeS;
    vertical-align: text-bottom;
  }
}

.unifiedFieldListSidebar__flyoutHeader {
  align-items: center;
}

.unifiedFieldListSidebar .unifiedFieldListItemButton {
  &.kbnFieldButton {
    margin-bottom: calc($euiSizeXS / 2);
    background: none;
    box-shadow: none;
  }
}

.unifiedFieldListItemButton__dragging {
  background: $euiColorEmptyShade;
}