@use 'sass:math';
@use 'eui/eui_variables' as eui;

.unifiedFieldListSidebar {
  overflow: hidden;
  margin: 0 !important;
  flex-grow: 1;
  padding: 0;
  height: 100%;

  &--collapsed {
    width: auto;
    padding: eui.$euiSizeS eui.$euiSizeS 0;
  }

  &.unifiedFieldListSidebar--fullWidth {
    min-width: 0 !important;
  }

  &:not(.unifiedFieldListSidebar--fullWidth) {
    width: math.mul(eui.$euiSize, 19);
  }

  @include euiBreakpoint('xs', 's') {
    width: 100%;
    padding: eui.$euiSize;
    background-color: eui.$euiPageBackgroundColor;
  }
}

// This code is responsible for making sure that:
// * the shadow and focus rings are visible outside the accordion bounds,
// * the dragged element has a padding to the left and right,

.unifiedFieldListSidebar__list {
  padding: eui.$euiSizeS eui.$euiSizeXS 0 eui.$euiSizeXS;

  >*,
  .euiAccordion__triggerWrapper,
  .euiAccordion__children,
  .unifiedFieldListItemButton {
    padding-left: eui.$euiSizeXS;
    padding-right: eui.$euiSizeXS;
  }

  .unifiedFieldListSidebar__accordionContainer {
    padding-left: 0;
    padding-right: 0;
  }

  @include euiBreakpoint('xs', 's') {
    padding: eui.$euiSizeS 0 0 0;

    > *,
    .euiAccordion__triggerWrapper,
    .unifiedFieldListSidebar__accordionContainer,
    .unifiedFieldListItemButton {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.unifiedFieldListSidebar__group {
  height: 100%;
}

.unifiedFieldListSidebar__mobile {
  width: 100%;
  padding: eui.$euiSizeS eui.$euiSizeS 0;

  .unifiedFieldListSidebar__mobileBadge {
    margin-left: eui.$euiSizeS;
    vertical-align: text-bottom;
  }
}

.unifiedFieldListSidebar__flyoutHeader {
  align-items: center;
}

.unifiedFieldListSidebar .unifiedFieldListItemButton {
  &.kbnFieldButton {
    margin-bottom: calc(eui.$euiSizeXS / 2);
    background: none;
    box-shadow: none;
  }
}

.unifiedFieldListItemButton__dragging {
  background: eui.$euiColorEmptyShade;
}
