<div class="kuiVerticalRhythm">
  <div class="kuiSubTitle">
    Some items
  </div>

  <div class="kuiGallery">
    <a class="kuiGalleryButton" href="#">
      <div class="kuiGalleryButton__image" style="background-color: lightgray">
      </div>

      <div class="kuiGalleryButton__label">
        Item A
      </div>

      <div class="kuiGalleryButton__icon kuiIcon fa-flask">
      </div>
    </a>

    <a class="kuiGalleryButton" href="#">
      <div class="kuiGalleryButton__image" style="background-color: lightgray">
      </div>

      <div class="kuiGalleryButton__label">
        Item B
      </div>
    </a>

    <a class="kuiGalleryButton" href="#">
      <div class="kuiGalleryButton__image" style="background-color: lightgray">
      </div>

      <div class="kuiGalleryButton__label">
        Item C
      </div>
    </a>

    <a class="kuiGalleryButton" href="#">
      <div class="kuiGalleryButton__image" style="background-color: lightgray">
      </div>

      <div class="kuiGalleryButton__label">
        Item D
      </div>
    </a>

    <a class="kuiGalleryButton" href="#">
      <div class="kuiGalleryButton__image" style="background-color: lightgray">
      </div>

      <div class="kuiGalleryButton__label">
        Item E
      </div>
    </a>
  </div>
</div>

<div class="kuiVerticalRhythm">
  <div class="kuiSubTitle">
    Some more items
  </div>

  <div class="kuiGallery">
    <a class="kuiGalleryButton" href="#">
      <div class="kuiGalleryButton__image" style="background-color: lightgray">
      </div>

      <div class="kuiGalleryButton__label">
        Item F
      </div>
    </a>

    <a class="kuiGalleryButton" href="#">
      <div class="kuiGalleryButton__image" style="background-color: lightgray">
      </div>

      <div class="kuiGalleryButton__label">
        Item G with a long label that wraps
      </div>
    </a>
  </div>
</div>
