.guideSection {
  padding-bottom: $kuiSizeL;
  position: relative;

  &:first-child {
    margin-top: -1px;
  }

  & + &:after {
    position: absolute;
    content: "";
    height: 1px;
    top: 0;
    left: -$kuiSizeL;
    right: -$kuiSizeL;
    background: $kuiBorderColor;
  }
}

  .guideSection__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .guideSection__title {
    @include kuiFontSizeM;
    background: $kuiColorLightestShade;
    border: $kuiBorderThin;
    border-left: none;
    line-height: $kuiSizeXL;
    padding: 0 $kuiSizeS;
    margin-left: -$kuiSizeL;
  }

  .guideSection__sourceButton {
    background: $kuiColorLightestShade;
    border: $kuiBorderThin;
    border-right: none;
    line-height: $kuiSizeXL;
    padding: 0 $kuiSizeS;
    margin-right: -$kuiSizeL;
    @include kuiCodeFont;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
