.guideSection {
  & + .guideSection {
    margin-top: 64px;
  }
}

.guideSection__space {
  height: $kuiSizeL;
}

.guide__hasNoChrome {
  .guideSection__text {
    margin-top: $kuiSizeXL;
    padding: 0 $kuiSizeL;
  }
  .guideSection__space {
    height: 0;
  }
}
