
@import "../../variables";

.guideSection {
  margin-bottom: 40px;
}

  .guideSection__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    line-height: $guideLineHeight;
    border-bottom: 1px solid #d6d6d6;
  }

  .guideSection__title {
    font-size: 18px;
    font-weight: 700;
  }

  .guideSection__sourceButton {
    border: none;
    line-height: 10px;
    padding: 4px 10px;
    background-color: #19a8e0;
    color: white;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      box-shadow:
        inset 0 1px 0 rgba(#95e1ff, 1),
        0 2px 4px rgba(black, 0.2);
    }

    &:active {
      box-shadow:
        inset 0 20px 20px rgba(black, 0.1),
        inset 0 2px 8px rgba(black, 0.2);
    }
  }
