.kuiEvent {
  display: flex;
}

.kuiEventSymbol {
  flex: 0 1 auto;
  font-size: $globalFontSize;
  line-height: $globalLineHeight;
  padding-right: 8px;
}

.kuiEventBody {
  flex: 1 1 0%;
}

  .kuiEventBody__message {
    font-size: $globalFontSize;
    line-height: $globalLineHeight;
    color: $globalFontColor;
  }

  .kuiEventBody__metadata {
    font-size: $globalFontSize;
    line-height: $globalLineHeight;
    color: $globalSubduedTextColor;
  }
