.kuiEvent {
  display: flex;
}

.kuiEventSymbol {
  flex: 0 1 auto;
  font-size: $fontSize;
  line-height: $lineHeight;
  padding-right: 8px;
  width: 20px;
}

.kuiEventBody {
  flex: 1 1 0%;
}

  .kuiEventBody__message {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $fontColor;
  }

  .kuiEventBody__metadata {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $subduedFontColor;
  }
