.kuiPageContent {
  width: 100%;
}

.kuiPageContent--verticalCenter {
  align-self: center;
}

.kuiPageContent--horizontalCenter {
  width: auto;
  margin: auto;
}

@include screenXSmall {
  .kuiPageContent {
    border-radius: 0;
    border: none;
  }
}
