.kuiPageContent {
  padding: $kuiSizeL;
  background: $kuiColorEmptyShade;
  border: $kuiBorderThin;
  border-radius: $kuiBorderRadius;
  width: 100%;
  @include kuiBottomShadowSmall;
}

.kuiPageContent--verticalCenter {
  align-self: center;
}

.kuiPageContent--horizontalCenter {
  width: auto;
  margin: auto;
}

@include screenXSmall {
  .kuiPageContent {
    border-radius: 0;
    border: none;
  }
}
