#indexPatternListReact {
  .indexPatternList__headerWrapper {
    padding-bottom: $euiSizeS;
  }

  .euiButtonEmpty__content {
    justify-content: left;
    padding: 0;

    span {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
