#createIndexPatternReact,
#indexPatternListReact {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 100%;
}

#indexPatternListReact {
  display: flex;

  .indexPatternList__headerWrapper {
    padding-bottom: $euiSizeS;
  }

  .euiButtonEmpty__content {
    justify-content: left;
    padding: 0;

    span {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .indexPatternListPrompt__descList {
    text-align: left;
  }
}

.indexPatternList__badge {
  margin-left: $euiSizeS;
}

.inpEmptyState__footer {
  background: $euiColorLightestShade;
  margin: 0 (-$euiSizeL) (-$euiSizeL);
  padding: $euiSizeL $euiSizeL $euiSize;
  border-radius: 0 0 $euiBorderRadius $euiBorderRadius;
}
