#createIndexPatternReact,
#indexPatternListReact {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 100%;

  .inpEmptyState {
    max-width: $euiSizeXXL * 19;
  }
}

#createIndexPatternReact {
  .euiCard {
    min-height: $euiSizeXL * 6;
  }
}

#indexPatternListReact {
  display: flex;

  .indexPatternList__headerWrapper {
    padding-bottom: $euiSizeS;
  }

  .euiButtonEmpty__content {
    justify-content: left;
    padding: 0;

    span {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .indexPatternListPrompt__descList {
    text-align: left;
  }
}

.indexPatternList__badge {
  margin-left: $euiSizeS;
}

.inpEmptyState__illustration {
  @include euiBreakpoint('xs', 's') {
    order: 1;

    > svg {
      width: 190px;
      height: auto;
      margin: 0 auto;
    }
  }
}

.inpEmptyState__text {
  @include euiBreakpoint('xs', 's') {
    order: 2;
    text-align: center;
  }
}

.inpEmptyState__footer {
  background: $euiColorLightestShade;
  margin: 0 (-$euiSizeL) (-$euiSizeL);
  padding: $euiSizeL $euiSizeL $euiSizeL;
  border-radius: 0 0 $euiBorderRadius $euiBorderRadius;

  @include euiBreakpoint('xs', 's') {
    text-align: center;

    .euiDescriptionList__title,
    .euiDescriptionList__description {
      width: 100% !important;
      padding-left: 0 !important;
    }
  }
}
