.guideSandbox__header {
  background: #222;
  color: #FFF !important;
  height: $kuiSizeXXL;
  border-bottom: $kuiBorderThin;
  line-height: $kuiSizeXXL;
  padding-left: $kuiSizeS;
}

.guideSandbox__link {
  color: #FFF;
}

.guideSandbox__appListIcon {
  fill: #FFF !important;
}
