@import (reference) "~plugins/rework/main.less";

.rework--dropdown {
  background-color: @rework--editor--background;
  border-bottom: @rework--border;
  max-height: 400px;
  padding: 10px;
  overflow: auto;
  z-index: 4000;
  flex-shrink: 0;
}
