.vgaEditor {
  position: relative;
}

.vgaEditor__aceEditorActions {
  position: absolute;
  z-index: $euiZLevel1;
  top: 0;
  // Adjust for possible scrollbars
  right: $euiSize;
  line-height: 1;
}
