@import (reference) "../../style/main";

.canvas__color-manager {
  display: flex;

  .canvas__color-manager--input {
    border-radius: @spacingXS;
    margin-right: @spacingXS;

    input {
      padding-left: @spacingS;
      border-radius: @spacingXS;
      font-weight: bold;
    }
  }

  .fa {
    font-size: 29px; // TODO: This is a hack to make these icons the same size as the colored dots
    margin-right: @spacingXS;

    &:hover {
      cursor: pointer;
    }
  }

  .canvas__color-manager--add {
    color: @mediumGrey;
  }

  .canvas__color-manager--active {
    color: @blue;
  }


  .canvas__color-manager--remove {
    color: @mediumGrey;
  }
}
