.canvas__color-manager {
  display: flex;

  .canvas__color-manager--input {
    border-radius: $euiSizeXS;
    margin-right: $euiSizeXS;

    input {
      padding-left: $euiSizeS;
      border-radius: $euiSizeXS;
      font-weight: bold;
    }
  }

  .fa {
    font-size: 29px; // TODO: This is a hack to make these icons the same size as the colored dots
    margin-right: $euiSizeXS;

    &:hover {
      cursor: pointer;
    }
  }

  .canvas__color-manager--add {
    color: $euiColorMediumShade;
  }

  .canvas__color-manager--active {
    color: $euiColorPrimary;
  }


  .canvas__color-manager--remove {
    color: $euiColorMediumShade;
  }
}
