<div class="kuiLocalNav">
  <div class="kuiLocalNavRow">
    <div class="kuiLocalNavRow__section">
      <div class="kuiLocalTitle">
        Untitled Document
      </div>
    </div>

    <div class="kuiLocalNavRow__section">
      <div class="kuiLocalMenu">
        <div class="kuiLocalMenuItem">
          New
        </div>

        <div class="kuiLocalMenuItem">
          Save
        </div>

        <div class="kuiLocalMenuItem">
          Open
        </div>

        <button class="kuiLocalMenuItem">
          <div class="kuiLocalMenuItem__icon kuiIcon fa-clock-o"></div>
          Last 5 minutes
        </button>
      </div>
    </div>
  </div>
</div>
