<div class="kuiLocalNav">
  <div class="kuiLocalNavRow">
    <div class="kuiLocalNavRow__section">
      <div class="kuiLocalBreadcrumbs">
        <div class="kuiLocalBreadcrumb">
          <a class="kuiLocalBreadcrumb__link" href="#">
            Discover
          </a>
        </div>

        <div class="kuiLocalBreadcrumb">
          <a class="kuiLocalBreadcrumb__link" href="#">
            <span class="kuiLocalBreadcrumb__emphasis">0</span> hits
          </a>
        </div>
      </div>
    </div>

    <div class="kuiLocalNavRow__section">
      <div class="kuiLocalMenu">
        <button class="kuiLocalMenuItem">
          New
        </button>

        <button class="kuiLocalMenuItem">
          Save
        </button>

        <button class="kuiLocalMenuItem">
          Open
        </button>

        <button class="kuiLocalMenuItem">
          <div class="kuiLocalMenuItem__icon kuiIcon fa-clock-o"></div>
          Last 5 minutes
        </button>
      </div>
    </div>
  </div>

  <div class="kuiLocalNavRow kuiLocalNavRow--secondary">
    <div class="kuiLocalSearch">
      <textarea
        id="expandableSearchInput"
        class="kuiLocalSearchInput kuiLocalSearchInput--expandable"
        rows="9"
      ></textarea>

      <input
        class="kuiLocalSearchInput kuiLocalSearchInput--secondary"
        type="text"
        placeholder="Another input"
        autocomplete="off"
        style="width: 150px"
      >

      <select class="kuiLocalSearchSelect">
        <option>Alligator</option>
        <option>Balaclava</option>
        <option>Castanets</option>
      </select>

      <button class="kuiLocalSearchButton">
        <span class="kuiIcon fa-search"></span>
      </button>
    </div>
  </div>
</div>
