<div class="kuiLocalNav">
  <div class="kuiLocalNavRow">
    <div class="kuiLocalNavRow__section">
      <div class="kuiLocalBreadcrumbs">
        <div class="kuiLocalBreadcrumb">
          <a class="kuiLocalBreadcrumb__link" href="#">
            Discover
          </a>
        </div>

        <div class="kuiLocalBreadcrumb">
          <span class="kuiLocalBreadcrumb__emphasis">0</span> hits
        </div>
      </div>
    </div>

    <div class="kuiLocalNavRow__section">
      <div class="kuiLocalMenu">
        <div class="kuiLocalMenuItem kuiLocalMenuItem-isSelected">
          New
        </div>

        <div class="kuiLocalMenuItem">
          Save
        </div>

        <div class="kuiLocalMenuItem">
          Open
        </div>

        <button class="kuiLocalMenuItem">
          <div class="kuiLocalMenuItem__icon kuiIcon fa-clock-o"></div>
          Last 5 minutes
        </button>
      </div>
    </div>
  </div>

  <div class="kuiLocalDropdown">
    <!-- Dropdown close button -->
    <button class="kuiLocalDropdownCloseButton">
      <span class="fa fa-chevron-circle-up"></span>
    </button>

    <div class="kuiLocalDropdownPanels">
      <!-- Left panel -->
      <div class="kuiLocalDropdownPanel kuiLocalDropdownPanel--left">
        <!-- Title -->
        <div class="kuiLocalDropdownTitle">Left panel</div>

        <!-- Help text -->
        <div class="kuiLocalDropdownHelpText">
          Here's some help text to explain the purpose of the dropdown.
        </div>
      </div>

      <!-- Right panel -->
      <div class="kuiLocalDropdownPanel kuiLocalDropdownPanel--left">
        <!-- Title -->
        <div class="kuiLocalDropdownTitle">Right panel</div>

        <!-- Help text -->
        <div class="kuiLocalDropdownHelpText">
          Here's some help text to explain the purpose of the dropdown.
        </div>
      </div>
    </div>
  </div>

  <div class="kuiLocalNavRow kuiLocalNavRow--secondary">
    <div class="kuiLocalSearch">
      <input
        class="kuiLocalSearchInput"
        type="text"
        placeholder="Filter..."
        autocomplete="off"
      >
      <button class="kuiLocalSearchButton">
        <span class="kuiIcon fa-search"></span>
      </button>
    </div>
  </div>
</div>
