@use 'sass:math';
@use 'eui/eui_variables' as eui;
@use 'eui/eui_mixins' as mixins;

.kbnFieldButton {
  @include mixins.euiFontSizeS;
  border-radius: eui.$euiBorderRadius;
  margin-bottom: eui.$euiSizeXS;
  padding: 0 eui.$euiSizeS;
  display: flex;
  align-items: flex-start;
  transition: box-shadow eui.$euiAnimSpeedFast eui.$euiAnimSlightResistance,
    background-color eui.$euiAnimSpeedFast eui.$euiAnimSlightResistance; // sass-lint:disable-line indentation

  &:focus-within,
  &-isActive {
    @include mixins.euiFocusRing;
  }
}

.kbnFieldButton__button {
  flex-grow: 1;
  text-align: left;
  padding: eui.$euiSizeS 0;
  display: flex;
  align-items: flex-start;
  line-height: normal;
}

.kbnFieldButton__fieldIcon {
  flex-shrink: 0;
  line-height: 0;
}

.kbnFieldButton__name {
  flex-grow: 1;
  padding: 0 eui.$euiSizeS;
}

.kbnFieldButton__infoIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: eui.$euiSize;
  flex-shrink: 0;
  line-height: 0;
}

.kbnFieldButton__fieldAction {
  margin-left: eui.$euiSizeS;
}

.kbnFieldButton__dragHandle {
  margin-right: eui.$euiSizeS;
}

.kbnFieldButton__fieldAction,
.kbnFieldButton__dragHandle {
  line-height: eui.$euiSizeXL;
}

// Reduce text size and spacing for the small size
.kbnFieldButton--xs {
  font-size: eui.$euiFontSizeXS;

  .kbnFieldButton__button {
    padding: eui.$euiSizeXS 0;
  }

  .kbnFieldButton__fieldAction {
    margin-left: eui.$euiSizeXS;
  }

  .kbnFieldButton__fieldAction,
  .kbnFieldButton__dragHandle {
    line-height: eui.$euiSizeL;
  }
}

.kbnFieldButton--flushBoth {
  padding-left: 0;
  padding-right: 0;
}
