.kbnFieldButton {
  @include euiFontSizeS;
  border-radius: $euiBorderRadius;
  margin-bottom: $euiSizeXS;
  padding: 0 $euiSizeS;
  display: flex;
  align-items: flex-start;
  transition: box-shadow $euiAnimSpeedFast $euiAnimSlightResistance,
    background-color $euiAnimSpeedFast $euiAnimSlightResistance; // sass-lint:disable-line indentation

  &:focus-within,
  &-isActive {
    @include euiFocusRing;
  }
}


// Reduce text size and spacing for the small size
.kbnFieldButton--xs {
  font-size: $euiFontSizeXS;
}

.kbnFieldButton--flushBoth {
  padding-left: 0;
  padding-right: 0;
}
