<div class="legend-value-container">
  <div
    ng-click="showDetails = !showDetails"
    ng-class="showDetails ? 'legend-value-full' : 'legend-value-truncate'"\
    class="legend-value-title">
    <i class="fa fa-circle" ng-style="{color: color}"></i> {{legendData.label}}
  </div>


  <div ng-show="showDetails" class="legend-value-details">

    <div ng-show="hasFilter">
      <label>Filter</label>
      <button class="btn btn-xs" ng-click="filter(false)"><i class="fa fa-search-plus"></i></button>
      <button class="btn btn-xs" ng-click="filter(true)"><i class="fa fa-search-minus"></i></button>
    </div>


    <div class="legend-value-color-picker">
      <i ng-click="setColor(color)"
        ng-repeat="color in colors"
        ng-style="{color: color}" class="fa fa-circle dot">
      </i>
    </div>
  </div>
</div>