<div class="app-container">
  <local-navigation>
    <local-navigation-row>
      <!-- Breadcrumbs. -->
      <local-navigation-row-section>
        <div class="kuiLocalBreadcrumbs">
          <div class="kuiLocalBreadcrumb">
            <a class="kuiLocalBreadcrumb__link" href="#/discover">Discover</a>
          </div>
          <div class="kuiLocalBreadcrumb">
            <span>Context of </span>
            <span class="kuiLocalBreadcrumb__emphasis" ng-bind="contextApp.state.queryParameters.anchorUid"></span>
            <span> in </span>
            <span class="kuiLocalBreadcrumb__emphasis" ng-bind="contextApp.state.queryParameters.indexPattern.id"></span>
          </div>
        </div>
      </local-navigation-row-section>

      <local-navigation-row-section>
        <div class="contextSizePicker">
          <input
            class="kuiTextInput contextSizePicker__item contextSizePicker__sizeInput"
            ng-model-options="{updateOn: 'change', getterSetter: true, debounce: 200}"
            ng-model="contextApp.selectors.predecessorCount"
            type="number"
          />
          <div class="contextSizePicker__item">newer and</div>
          <input
            class="kuiTextInput contextSizePicker__item contextSizePicker__sizeInput"
            ng-model-options="{updateOn: 'change', getterSetter: true, debounce: 200}"
            ng-model="contextApp.selectors.successorCount"
            type="number"
          />
          <div class="contextSizePicker__item">older entries</div>
        </div>
      </local-navigation-row-section>
    </local-navigation-row>
  </local-navigation>

  <div class="container-fluid" role="main">
    <div class="row">
      <div class="col-md-12">
        <button
          class="kuiButton kuiButton--basic contextLoadingButton"
          ng-click="contextApp.actions.fetchMorePredecessorRows()"
          ng-if="!contextApp.selectors.isLoadingAnchorRow()"
          ng-disabled="contextApp.selectors.isLoadingPredecessorRows()"
        >
          <span class="kuiButton__icon kuiIcon fa-spinner fa-spin" ng-if="contextApp.selectors.isLoadingPredecessorRows()"></span>
          <span class="kuiButton__icon kuiIcon fa-chevron-up" ng-if="!contextApp.selectors.isLoadingPredecessorRows()"></span>
          <span>Load newer entries</span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="discover-overlay" ng-if="contextApp.selectors.isLoadingAnchorRow()">
          <h2>Loading...</h2>
        </div>
        <div class="discover-table" ng-if="!contextApp.selectors.isLoadingAnchorRow()" fixed-scroll>
          <doc-table
            hits="contextApp.selectors.rows()"
            index-pattern="contextApp.state.queryParameters.indexPattern"
            sorting="contextApp.state.queryParameters.sort"
            columns="contextApp.state.queryParameters.columns"
            infinite-scroll="true"
          >
          </doc-table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button
          class="kuiButton kuiButton--basic contextLoadingButton"
          ng-click="contextApp.actions.fetchMoreSuccessorRows()"
          ng-if="!contextApp.selectors.isLoadingAnchorRow()"
          ng-disabled="contextApp.selectors.isLoadingSuccessorRows()"
        >
          <span class="kuiButton__icon kuiIcon fa-spinner fa-spin" ng-if="contextApp.selectors.isLoadingSuccessorRows()"></span>
          <span class="kuiButton__icon kuiIcon fa-chevron-down" ng-if="!contextApp.selectors.isLoadingSuccessorRows()"></span>
          <span>Load older entries</span>
        </button>
      </div>
    </div>
  </div>
</div>
