<div class="kuiLocalNav">
  <div class="kuiLocalNavRow">
    <div class="kuiLocalNavRow__section">
      <div class="kuiLocalBreadcrumbs">
        <div class="kuiLocalBreadcrumb">
          <a class="kuiLocalBreadcrumb__link" href="#/discover">Discover</a>
        </div>
        <div class="kuiLocalBreadcrumb" ng-bind="contextApp.state.queryParameters.indexPattern.id"></div>
      </div>
    </div>
  </div>
  <div class="kuiLocalNavRow kuiLocalNavRow--secondary">
    <div class="kuiLocalTabs">
      <div class="kuiLocalTab kuiLocalTab-isSelected" ng-bind-template="Context of {{ contextApp.state.queryParameters.anchorUid }}"></div>
    </div>
  </div>
</div>

<div class="kuiViewContent kuiViewContentItem" role="main">
  <!-- Controls -->
  <div class="kuiBar kuiVerticalRhythm">
    <div class="kuiBarSection">
      <context-loading-button
        data-test-subj="predecessorLoadMoreButton"
        disabled="contextApp.derivedState.isLoadingPredecessorRows()"
        icon="'fa-chevron-up'"
        ng-click="contextApp.actions.fetchMorePredecessorRows()"
        ng-if="!contextApp.derivedState.isLoadingAnchorRow()"
      >
        Load newer entries
      </context-loading-button>
    </div>

    <div class="kuiBarSection">
      <div>Limit to</div>
      <context-size-picker
        count="contextApp.state.queryParameters.predecessorCount"
        data-test-subj="predecessorCountPicker"
        set-count="contextApp.actions.fetchGivenPredecessorRows"
      ></context-size-picker>
      <div>newer entries</div>
    </div>
  </div>

  <!-- Loading feedback -->
  <div
    ng-if="contextApp.derivedState.isLoadingAnchorRow()"
    class="kuiPanel kuiPanel--centered kuiVerticalRhythm"
  >
    <div class="kuiLoadingItems">
      Loading&hellip;
    </div>
  </div>

  <!-- Table -->
  <div
    ng-if="!contextApp.derivedState.isLoadingAnchorRow()"
    class="kuiPanel kuiVerticalRhythm"
  >
    <div class="discover-table" fixed-scroll>
      <doc-table
        hits="contextApp.derivedState.rows()"
        index-pattern="contextApp.state.queryParameters.indexPattern"
        sorting="contextApp.state.queryParameters.sort"
        columns="contextApp.state.queryParameters.columns"
        infinite-scroll="true"
      ></doc-table>
    </div>
  </div>

  <!-- Controls -->
  <div class="kuiBar kuiVerticalRhythm">
    <div class="kuiBarSection">
      <context-loading-button
        data-test-subj="successorLoadMoreButton"
        disabled="contextApp.derivedState.isLoadingSuccessorRows()"
        icon="'fa-chevron-down'"
        ng-click="contextApp.actions.fetchMoreSuccessorRows()"
        ng-if="!contextApp.derivedState.isLoadingAnchorRow()"
      >
        Load older entries
      </context-loading-button>
    </div>

    <div class="kuiBarSection">
      <div>Limit to</div>
      <context-size-picker
        count="contextApp.state.queryParameters.successorCount"
        data-test-subj="successorCountPicker"
        set-count="contextApp.actions.fetchGivenSuccessorRows"
      ></context-size-picker>
      <div>older entries</div>
    </div>
  </div>
</div>
