
<div class="editor-row">
  <div class="section">
    <div class="editor-option">
      <label class="small">Mode</label>
      <select ng-change="needs_refresh()" class="input-small" ng-model="panel.mode" ng-options="f for f in ['nodes','indices']"></select>
    </div>
  <div class="section" ng-show="panel.mode == 'nodes'">
    <div class="editor-option">
      <label class="small">Persistent id field <tip>choose a field that does not change on node restart</tip></label>
      <input type="text" bs-typeahead="fields.list" ng-change="needs_refresh()" class="input-large" ng-model="panel.persistent_field"/>
    </div>
    <div class="editor-option">
      <label class="small">Display field <tip>will be used as the name of each row</tip></label>
      <input type="text" bs-typeahead="fields.list" class="input-large" ng-change="needs_refresh()" ng-model="panel.display_field"/>
    </div>
  </div>
  <div class="section" ng-show="panel.mode == 'indices'">
    <div class="editor-option">
      <label class="small">Show hidden indices <tip>indices whose name starts with a dot (`.`) are considered hidden</tip></label>
      <input type="checkbox" ng-model="panel.show_hidden" ng-change="needs_refresh()"/>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <table class="table table-condensed table-striped">
      <thead>
      <th>Metrics</th>
      <th>Field</th>
      <th>Warning</th>
      <th>Error</th>
      <th>Prec.</th>
      <th>Format</th>
      <th>Derivative</th>
      <th/>
      <th/>
      </thead>
      <tr ng-repeat="metric in panel.metrics">
        <td>
          <span ng-show="metricEditor.index != $index">{{metric.name}}</span>
          <input ng-show="metricEditor.index == $index" type="text" class="input-medium" ng-model="metric.name" ng-required/></td>
        </td>
        <td>
          <span ng-show="metricEditor.index != $index">{{metric.field}}</span>
          <input ng-show="metricEditor.index == $index"  placeholder="field name"
                 type="text" bs-typeahead="fields.list" class="input-medium" ng-model="metric.field" ng-required/></td>
        </td>
        <td>
          <span ng-show="metricEditor.index != $index">{{formatAlert(metric.warning, metric)}}</span>
          <input ng-show="metricEditor.index == $index" type="text" class="input-mini" alert-value ng-model="metric.warning" ng-required/></td>
        </td>
        <td>
          <span ng-show="metricEditor.index != $index">{{formatAlert(metric.error, metric)}}</span>
          <input ng-show="metricEditor.index == $index" type="text" class="input-mini" alert-value ng-model="metric.error" ng-required/></td>
        </td>
        <td>
          <span ng-show="metricEditor.index != $index">{{metric.decimals}}</span>
          <input ng-show="metricEditor.index == $index" type="number" class="input-mini" ng-model="metric.decimals" ng-required/></td>
        </td>
        <td>
            <span ng-show="metricEditor.index != $index">{{metric.y_format}}</span>
            <select ng-show="metricEditor.index == $index" class="input-mini" ng-model="metric.y_format" ng-options="f for f in ['none','short','bytes']"></select>
        </td>
        <td>
          <input ng-disabled="metricEditor.index != $index" type="checkbox" ng-model="metric.derivative" ng-checked="metric.derivative"/>
        </td>


        <td ng-show="metricEditor.index != $index">
          <i ng-show="metricEditor.index < 0" ng-click="needs_refresh(); metricEditor.index=$index;" class="pointer icon-edit"></i></td>
        <td ng-show="metricEditor.index != $index">
          <i ng-show="metricEditor.index < 0 && !$first" ng-click="_.move(panel.metrics,$index,$index-1)" class="pointer icon-arrow-up"></i>
        </td>
        <td ng-show="metricEditor.index != $index">
          <i ng-show="metricEditor.index < 0 && !$last" ng-click="_.move(panel.metrics,$index,$index+1)" class="pointer icon-arrow-down"></i>
        </td>

        <td ng-show="metricEditor.index == $index">
          <i class="pointer icon-check" ng-click="metricEditor.index=-1"></i>
        </td>
        <td ng-show="metricEditor.index == $index">
          <i ng-click="deleteMetric(panel,$index); metricEditor.index = -1;" class="pointer icon-trash"></i>
        <td ng-show="metricEditor.index == $index">
          <i class="icon"></i></td>
      </tr>
    </table>
    <form class="form-inline">
      <button class="btn btn-success" ng-click="needs_refresh(); addMetric(panel)">Add Metric</button>
    </form>
  </div>
</div>