<div ng-controller='marvel.stats_table' ng-init="init()">
  <style>
    .marvel-table {
      vertical-align: middle;
    }
    .marvel-mean {
      font-size: 20pt;
      font-weight: 200;
      display: inline-block;
      vertical-align: middle;
    }
    .marvel-persistent-name {
      font-size: 9pt;
    }
    .marvel-extended {
      display: inline-block;
      font-size:9pt;
      margin-left: 5px;
      vertical-align: middle;
    }
    .marvel-header {
      margin-bottom: 10px;
    }
    .marvel-header .count{
      font-size: 20pt;
      font-weight: bold;
      margin-left: 10px;
    }
    .marvel-stats-sparkline {
      margin-top: 5px;
      display: inline-block;
      height: 10px;
      width: 50px;
    }
    .marvel-stats-sparkline.compact {
      margin-left: 5px; 
    }
    .marvel-muted .mutable {
      opacity: 0.3;
    }
  </style>

  <div class="pull-left marvel-header marvel-table" ng-show="rows.length > 0 || panel.rowFilter">
    <input type="text" class="input-medium" placeholder="Filter {{panel.mode}}..." ng-model="panel.rowFilter" ng-change="onRowFilterChange()">
    <span class="count">{{rows.length}} of {{_.size(data)}} {{panel.mode}}</span> / {{selectedData().length}} selected / Last 10m </span>
    <span ng-show="meta.masterCount > 1"> / </span><span class="text-warning" ng-show="meta.masterCount > 1">Warning: Multiple masters. {{meta.masterCount}} nodes report master role</span></span>
    <br>
    <span class="small muted pull-right" ng-show="!viewSelect"> <i class="icon-warning"></i> Compact view. Filter {{panel.mode}} to 5 or less, or set the page refresh rate to 2m or greater for more options.</span>
  </div>
  <div class="pull-right" ng-if="viewSelect">
    <a href="" ng-class="{strong:!panel.compact}" ng-click="panel.compact=false">Full</a> /
    <a href="" ng-class="{strong:panel.compact}" ng-click="panel.compact=true">Compact</a>
  </div>
  <div class="clearfix"></div>
  <!-- full view -->
  <table bindonce class="table table-bordered" ng-if="!panel.compact">
    <thead>
      <th class="pointer">
        <span ng-click="set_sort('__name__')">{{panel.mode}}</span>
        <i ng-show="'__name__' == panel.sort[0]" class="pointer link" ng-class="{'icon-chevron-up': panel.sort[1] == 'asc','icon-chevron-down': panel.sort[1] == 'desc'}"></i>
        <a ng-disabled="!hasSelected()" id="detail_view_link" ng-href="{{detailViewLink()}}" class="btn btn-mini btn-info pull-right"  bs-tooltip="detailViewTip()" data-placement="right">Dashboard</a>
      </th>

      <th ng-repeat="metric in panel.metrics" ng-class="alertClass(warnLevels[metric.field])" class="pointer">
        <span ng-click="set_sort(metric.field)">{{metric.name}}</span>
        <i ng-show='metric.field == panel.sort[0]' class="pointer link" ng-class="{'icon-chevron-up': panel.sort[1] == 'asc','icon-chevron-down': panel.sort[1] == 'desc'}"></i>
      </th>
    </thead>
    <tr ng-repeat="row in rows" ng-class="{'marvel-muted':!row.alive}">
      <td>
        <div>
          <label class="checkbox" ng-class="alertClassForId(row)">
            <input type="checkbox" ng-model="row.selected" ng-checked="row.selected">
            <span class="pointer" ng-click="rowClick(row)">
              {{row.display_name}}
              <i bs-tooltip="'No report has been received for more than '+row.data_age_display" ng-show="!row.alive" class="icon-exclamation-sign"></i>
              <i data-placement="right" bs-popover="'index_health.html'"
               ng-class="alertClassForIndexStatusInfo(row.status)"
               data-trigger="hover" ng-show="row.status && row.status !== 'green'" class="icon-exclamation-sign"></i>
              <i bs-tooltip="'This node is master'" ng-show="row.master" class="icon-star"></i>
            </span>
            <div class="marvel-persistent-name pointer" ng-hide="row.id == row.display_name" ng-click="rowClick(row)">{{row.id}}</div>
          </label>
        </div>
      </td>
      <td ng-repeat="metric in panel.metrics" class="mutable" ng-class="alertClass(row[metric.field].alert_level)">
        <div class="marvel-mean pointer" ng-click="rowClick(row,metric)">
          <span bo-text="(_.isNull(row[metric.field].value)?'n/a':row[metric.field].value) | metric_format:metric"></span>
          <br>

          <div class="marvel-stats-sparkline" panel='panel' field="metric.field" series="row[metric.field].series"></div>
        </div>
        <div class="marvel-extended pointer" ng-click="rowClick(row,metric)">
          <span>min: <span bo-text="(_.isNull(row[metric.field].min)?'n/a':row[metric.field].min) | metric_format:metric"></span></span><br>
          <span>max: <span bo-text="(_.isNull(row[metric.field].max)?'n/a':row[metric.field].max) | metric_format:metric"></span></span>
        </div>
      </td>
    </tr>
  </table>

  <!-- compact view -->
  <table bindonce class="table table-bordered table-condensed marvel-table" ng-if="panel.compact">
    <thead>
      <th class="pointer">
        <span ng-click="set_sort('__name__')">{{panel.mode}}</span>
        <i ng-show="'__name__' == panel.sort[0]" class="pointer link" ng-class="{'icon-chevron-up': panel.sort[1] == 'asc','icon-chevron-down': panel.sort[1] == 'desc'}"></i>
        <a ng-disabled="!hasSelected()" id="detail_view_link" ng-href="{{detailViewLink()}}" class="btn btn-mini btn-info pull-right"  bs-tooltip="detailViewTip()" data-placement="right">Dashboard</a>
      </th>

      <th ng-repeat="metric in panel.metrics" ng-class="alertClass(warnLevels[metric.field])" class="pointer">
          <span ng-click="set_sort(metric.field)">{{metric.name}}</span>
          <i ng-show='metric.field == panel.sort[0]' class="pointer link" ng-class="{'icon-chevron-up': panel.sort[1] == 'asc','icon-chevron-down': panel.sort[1] == 'desc'}"></i>
      </th>
    </thead>
    <tr ng-repeat="row in rows" ng-class="{'marvel-muted':!row.alive}">
      <td>
        <div class="checkbox" ng-class="alertClassForId(row)">
          <label>
            <input type="checkbox" ng-model="row.selected" ng-checked="row.selected">
          </label>
          <span class="pointer" ng-click="rowClick(row)">{{ row.id }}</span>
          <i bs-tooltip="'No report has been received for more than '+row.data_age_display" ng-show="!row.alive" class="icon-exclamation-sign"></i>
          <i data-placement="right" bs-popover="'index_health.html'"
             ng-class="alertClassForIndexStatusInfo(row.status)"
             data-trigger="hover" ng-show="row.status && row.status !== 'green'" class="icon-exclamation-sign"></i>
          <i bs-tooltip="'This node is master'" ng-show="row.master" class="icon-star"></i>
        </div>
      </td>
      <td ng-repeat="metric in panel.metrics" ng-class="alertClass(row[metric.field].alert_level)" class="mutable">
        <div class="pointer" ng-click="rowClick(row,metric)">
          <span bo-text="(_.isNull(row[metric.field].value)?'n/a':row[metric.field].value) | metric_format:metric"></span>

          <div ng-if="sparkLines" class="marvel-stats-sparkline compact pointer" ng-click="rowClick(row,metric)" panel='panel' field="metric.field" series="row[metric.field].series"></div>
        </div>
      </td>
    </tr>
  </table>

</div>

<script type="text/ng-template" id="index_health.html">
  <div class="text-normal" ng-repeat="msg in row.statusExplain|limitTo:5">{{ msg }}</div>
  <div class="text-normal" ng-if="row.statusExplain.length > 5">...</div>
</script>
