// Header. Includes breadcrumbs of nav buttons.

@include component('kuiHeader') {
  background: $kuiHeaderBackgroundColor;
  border-bottom: $kuiBorderThin;

  @include child('logo') {
    position: relative;
    height: $kuiHeaderChildSize;
    padding: $kuiSize $kuiSizeXL;
    display: inline-block;
    vertical-align: middle;

    @include kuiHeaderSeparation('right');

  }

  @include child('logoIcon') {
    height: $kuiSizeXL;
    width: $kuiSizeL;
    opacity: 1;
  }

  @include child('notification') {
    display: inline-block;
    border-radius: $kuiBorderRadius;
    background: $kuiHeaderNotificationBackgroundColor;
    color: $kuiColorEmptyShade;
    font-size: $kuiFontSizeXS;
    height: $kuiSize;
    min-width: $kuiSize;
    vertical-align: middle;
  }
}
