// Header. Includes breadcrumbs of nav buttons.

$kuiHeaderChildSize: $kuiSizeXXL + $kuiSizeL;

// Adds a border to the left or right of an item. Requires relative position on parent.
@mixin kuiHeaderSeparation($position) {
  &:after {
    position: absolute;
    content: "";
    width: 1px;
    top: $kuiSize;
    bottom: 0;
    background: $kuiBorderColor;
    #{$position}: 0;
  }
}

@include component('kuiHeader') {
  background: $kuiHeaderBackgroundColor;
  border-bottom: $kuiBorderThin;

  @include child('logo') {
    position: relative;
    height: $kuiHeaderChildSize;
    padding: $kuiSize $kuiSizeXL;
    display: inline-block;
    vertical-align: middle;

    @include kuiHeaderSeparation('right');

  }

  @include child('logoIcon') {
    height: $kuiSizeXL;
    width: $kuiSizeL;
    opacity: 1;
  }

  // Truncate long text.
  @include child('breadcrumbText') {
    white-space: nowrap;
    max-width: 150px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @include child('breadcrumb') {
    display: inline-block;
    height: $kuiHeaderChildSize;
    line-height: $kuiHeaderChildSize;
    padding: 0 $kuiSize;
    position: relative;
    color: $kuiHeaderBreadcrumbColor;

    // Slanted separator. Shows on all but last item.
    &:not(:last-child):after {
      position: absolute;
      top: $kuiSizeL;
      right: -3px; // Half the transformed width.
      content: "";
      width: 1px;
      height: $kuiSize;
      transform: rotate(15deg);
      background: $kuiColorLightGray;
    }

    @include state('isActive') {
      color: $kuiColorMediumGray;
    }

    @include state('isCollapsed') {
      color: $kuiColorLightGray;
    }
  }

  @include child('breadcrumbText') {
    white-space: nowrap;
    max-width: 150px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @include child('button') {
    height: $kuiHeaderChildSize;
    min-width: $kuiHeaderChildSize;
    text-align: center;
    position: relative;

    svg g {
      fill: $kuiColorPink;
    }

    @include kuiHeaderSeparation('left');

    &:hover {
      background: $kuiColorLightestGray;
    }

    &:focus {
      background: $kuiFocusBackgroundColor;
    }
  }

  @include child('notification') {
    display: inline-block;
    border-radius: $kuiBorderRadius;
    background: $kuiHeaderNotificationBackgroundColor;
    color: $kuiColorWhite;
    font-size: $kuiFontSizeXS;
    height: $kuiSize;
    min-width: $kuiSize;
    vertical-align: middle;
  }
}

// Laptop
@include screenMedium {

  @include component('kuiHeader') {

    @include child('breadcrumb') {
      display: none;

      // Only show last 4 breadcrumbs
      &:nth-last-child(-n+4) {
        display: inline-block;
      }
    }
  }
}

// Tablets
@include screenSmall {

  @include component('kuiHeader') {

    @include child('breadcrumb') {
      display: none;

      // Only show last 2 breadcrumbs
      &:nth-last-child(-n+2) {
        display: inline-block;
      }
    }
  }
}

// Mobile
@include screenXSmall {

  @include component('kuiHeader') {

    // Don't show breadcrumbs
    @include child('breadcrumb') {
      display: none;
    }
  }
}
