// Vars
$kuiHeaderChildSize: $kuiSizeXXL + $kuiSizeL;

// Mixin to add a border to the left or right of an item. Requires relative position on the parent.
@mixin kuiHeaderSeparation($position) {
  &:after {
    position: absolute;
    content: "";
    width: 1px;
    top: $kuiSize;
    bottom: 0;
    background: $kuiBorderColor;
    #{$position}: 0;
  }
}

// Components
@import 'header';
@import 'header_breadcrumb';
@import 'header_item';
