<form role="form" class="form-inline">
  <div class="container-fluid">
    <div class="saved-object-finder-row row">
      <div class="saved-object-finder-input input-group form-group finder-form col-md-8">
        <span class="search-icon input-group-addon">
          <i class="fa fa-search"></i>
        </span>
        <input
          input-focus
          ng-model="filter"
          ng-attr-placeholder="{{finder.properties.noun | capitalize}} Filter"
          ng-keydown="finder.filterKeyDown($event)"
          class="form-control"
          name="filter"
          type="text" />
      </div>
      <div class="saved-object-finder-column col-md-2">
        <span>{{finder.hitCount}} of {{finder.hitCount}}</span>
      </div>
      <div class="saved-object-finder-column-manage col-md-2">
        <a class="small" ng-click="finder.manageObjects(finder.properties.name)">Manage {{finder.properties.nouns | capitalize}}</a>
      </div>
    </div>
  </div>
</form>
<paginate list="finder.hits" per-page="20" class="paginate-style">
  <ul class="li-striped list-group list-group-menu"
    ng-class="{'select-mode': finder.selector.enabled}">

    <li class="list-header list-group-item list-group-menu-item">
      <ul class="li-not-striped">
        <li class="list-type table-type-label" ng-show="finder.properties.noun === 'Visualization'">Type</li>
        <li class="list-name table-label">
          Name
          <!-- <span class="fa fa-caret-up"></span> -->
          <span class="fa fa-caret-down"></span>
        </li>
      </ul>
    </li>

    <li
      class="list-body list-group-item list-group-menu-item"
      ng-class="{'active': finder.selector.index === $index && finder.selector.enabled}"
      ng-repeat="hit in page"
      ng-keydown="finder.hitKeyDown($event, page, paginate)"
      ng-click="finder.onChoose(hit, $event)">

      <a ng-href="{{finder.makeUrl(hit)}}"
          ng-blur="finder.hitBlur($event)"
          ng-click="finder.preventClick($event)">
        <ul class="li-not-striped">
          <li ng-show="finder.properties.noun === 'Visualization'" class="list-type">
            <i aria-hidden="true" class="fa" ng-if="hit.icon" ng-class="hit.icon"></i>
          </li>
          <li class="list-name">
            {{hit.title}}
            <p ng-if="hit.description" ng-bind="hit.description"></p>
          </li>
        </ul>
      </a>

    </li>
    <li
      class="list-group-item list-group-no-results"
      ng-if="finder.hits.length === 0">
      <p ng-bind="'No matching ' + finder.properties.nouns + ' found.'"></p>
    </li>
  </ul>
</paginate>
