 <div class="kuiBar">
  <div class="kuiBarSection">
    <div class="kuiTitle">
      The Great American Novel
    </div>
  </div>

  <div class="kuiBarSection">
    <div class="kuiButtonGroup">
      <button class="kuiButton kuiButton--basic">
        Create new page
      </button>
      <button class="kuiButton kuiButton--danger">
        Clear all pages
      </button>
    </div>
  </div>

  <div class="kuiBarSection">
    <div>Limit to</div>
    <input class="kuiTextInput" size="2" value="10">
    <div>pages</div>

    <div class="kuiButtonGroup">
      <button class="kuiButton kuiButton--basic">
        Undo
      </button>
      <button class="kuiButton kuiButton--basic">
        Redo
      </button>
    </div>
  </div>
</div>
