<div class="kuiFieldGroup">
  <div class="kuiFieldGroupSection kuiFieldGroupSection--wide">
    <div class="kuiSearchInput">
      <div class="kuiSearchInput__icon kuiIcon fa-search"></div>
      <input
        class="kuiSearchInput__input"
        type="text"
      >
    </div>
  </div>

  <div class="kuiFieldGroupSection">
    <select class="kuiSelect">
      <option>Animal</option>
      <option>Mineral</option>
      <option>Vegetable</option>
    </select>
  </div>
</div>

<div class="kuiFieldGroup">
  <div class="kuiFieldGroupSection">
    <input
      class="kuiTextInput"
      placeholder="http://"
      type="text"
    >
  </div>

  <div class="kuiFieldGroupSection">
    <button class="kuiButton kuiButton--primary">
      Ping
    </button>
  </div>
</div>

<div class="kuiFieldGroup">
  <div class="kuiFieldGroupSection">
    <input
      class="kuiTextInput"
      type="text"
    >
  </div>

  <div class="kuiFieldGroupSection">
    <div class="kuiButtonGroup">
      <button class="kuiButton kuiButton--basic kuiButton--small">
        <span class="kuiIcon fa-plus"></span>
      </button>

      <button class="kuiButton kuiButton--basic kuiButton--small">
        <span class="kuiIcon fa-minus"></span>
      </button>

      <button class="kuiButton kuiButton--danger kuiButton--small">
        <span class="kuiIcon fa-trash"></span>
      </button>
    </div>
  </div>
</div>
