<div class="kuiFieldGroup">
  <div class="kuiFieldGroupSection">
    <label class="kuiLabel kuiFieldGroupSection__label">
      Category
    </label>

    <select class="kuiSelect kuiFieldGroupSection__control">
      <option>Animal</option>
      <option>Mineral</option>
      <option>Vegetable</option>
    </select>
  </div>

  <div class="kuiFieldGroupSection kuiFieldGroupSection--wide">
    <label class="kuiLabel kuiFieldGroupSection__label">
      Search
    </label>

    <div class="kuiSearchInput kuiFieldGroupSection__control">
      <div class="kuiSearchInput__icon kuiIcon fa-search"></div>
      <input
        class="kuiSearchInput__input"
        type="text"
      >
    </div>
  </div>
</div>
