@import (reference) "../../styles/_bootstrap.less";
@import (reference) "../../styles/theme/_theme.less";
@import (reference) "lesshat.less";

doc-table {
  overflow: auto;
  margin: 5px;
  .flex(1, 1, 100%);

  .discover-table-datafield {
    white-space: pre-wrap;
  }

  .loading {
    opacity: @loading-opacity;
  }

  .spinner {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    z-index: 20;
    opacity: @loading-opacity;
  }
}
