saved-object-finder,
paginated-selectable-list {

  .list-sort-button {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border: none;
    padding: $euiSizeS $euiSize;
    font-weight: $euiFontWeightRegular;
    background-color: $euiColorLightestShade;
  }

  ul.li-striped {
    li {
      border: none;
    }

    li:nth-child(even) {
      background-color: $euiColorLightestShade;
    }

    li:nth-child(odd) {
      background-color: $euiColorEmptyShade;
    }

    .paginate-heading {
      font-weight: $euiFontWeightRegular;
      color: $euiColorDarkestShade;
    }

    .list-group-item {
      padding: $euiSizeS $euiSize;

      ul {
        padding: 0;
        display: flex;
        flex-direction: row;

        .finder-type {
          margin-right: $euiSizeS;
        }
      }

      a {
        display: block;
        color: $euiColorPrimary !important;

        i {
          color: shade($euiColorPrimary, 10%) !important;
          margin-right: $euiSizeS;
        }
      }

      &:first-child {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
      }

      &.list-group-no-results p {
        margin-bottom: 0 !important;
      }
    }
  }

  paginate {
    paginate-controls {
      margin: $euiSize;
    }
  }
}
