{
	"plugins": [
		"transform-object-rest-spread",
		"transform-async-to-generator",
		"transform-class-properties"
	],
	"presets": [
		"react",
		[
		"env",
		{
			"targets": {
				"node": "current"
			}
		}
		]
	]
}
