<div class="form-group btn-group">
  <button
    type="button"
    class="btn btn-primary"
    ng-model="config.global"
    tooltip="Use the {{group.label}} values for every {{vis.segment.label}} value"
    tooltip-position="top"
    tooltip-append-to-body="true"
    btn-radio="true">
    Global
  </button>
  <button
    type="button"
    class="btn btn-primary"
    tooltip="Break up each {{vis.segment.label}} value by {{group.label}}"
    tooltip-position="top"
    tooltip-append-to-body="true"
    ng-model="config.global"
    btn-radio="false">
    Local
  </button>
</div>