<div class="form-group">
  <table class="agg-config-interval">
  <tr>
    <td>
      <label>Interval</label>
      <select
        ng-if="aggParams.interval.options"
        ng-model="config.interval"
        ng-options="opt.val as opt.display for opt in aggParams.interval.options"
        class="form-control"
        name="interval">
      </select>
      <input
        ng-if="!aggParams.interval.options"
        ng-model="config.interval"
        type="number"
        class="form-control"
        name="interval" />
    </td>
  </tr>
  </table>
</div>
