.rework--timelion {
  height: 100%;
  width: 100%;
  overflow: hidden;

  .flot-x-axis, .flot-y-axis {
    {{{axis_style.string}}}
  }

  .legend > table > tbody {
    background-color: transparent;
  }
}
