<div class="form-group">
  <label>Field:</label>
  <select
    class="form-control"
    ng-options="field as field for field in fields"
    ng-model="processor.sourceField">
  </select>
</div>
<div class="form-group">
  <label>Field Data:</label>
  <pre>{{ fieldData }}</pre>
</div>
<div class="form-group">
  <label>Type:</label>
  <select
    class="form-control"
    ng-options="type as type for type in types"
    ng-model="processor.type">
  </select>
</div>
<div class="form-group">
  <label>Target Field:</label>
  <input type="text" class="form-control" ng-model="processor.targetField">
</div>
