@import '../../../../core_plugins/kbn_vislib_vis_types/public/vislib/variables';

// NOTE: Some of the styles attempt to align with the TSVB legend

$visLegendWidth: 150px;
$visColorPickerWidth: $euiSizeM * 10;
$visLegendLineHeight: $euiSize;

.visLegend__toggle {
  border-radius: $euiBorderRadius;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $euiColorEmptyShade;
  transition: opacity $euiAnimSpeedFast $euiAnimSlightResistance,
              background-color $euiAnimSpeedFast $euiAnimSlightResistance $euiAnimSpeedExtraSlow;

  &:focus {
    box-shadow: none;
    background-color: $euiFocusBackgroundColor !important;
  }
}

.visLegend__toggle--isOpen {
  background-color: transparentize($euiColorDarkestShade, .9);
  opacity: 1;
}


.visLegend {
  @include euiFontSizeXS;
  display: flex;
  min-height: 0;
  height: 100%;
}

.visLib--legend-left {
  .visLegend__list {
    margin-bottom: $euiSizeL;
  }
}

.visLib--legend-bottom {
  .visLegend__list {
    margin-left: $euiSizeL;
  }
}

/**
 * 1. Position the .visLegend__valueDetails absolutely against the legend item
 * 2. Make sure the .visLegend__valueDetails is visible outside the list bounds
 * 3. Make sure the currently selected item is top most in z level
 */
.visLegend__list {
  @include euiScrollBar;
  display: flex;
  line-height: $visLegendLineHeight;
  width: $visLegendWidth; // Must be a hard-coded width for the chart to get its correct dimensions
  flex: 1 1 auto;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;

  .visLib--legend-top &,
  .visLib--legend-bottom & {
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: visible; /* 2 */

    .visLegend__value {
      flex-grow: 0;
      max-width: $visLegendWidth;
    }
  }

  &.hidden {
    visibility: hidden;
  }
}

.visLegend__value {
  cursor: pointer;
  padding: $euiSizeXS;
  display: flex;
  flex-shrink: 0;
  position: relative; /* 1 */

  > * {
    width: 100%;
  }

  &.disabled {
    opacity: 0.5;
  }
}

.visLegend__valueTitle {
  @include euiTextTruncate; // ALWAYS truncate
  color: $visTextColor;

  &:hover {
    text-decoration: underline;
  }
}

.visLegend__valueTitle--full ~ .visLegend__valueDetails {
  z-index: 2; /* 3 */
}

.visLegend__valueDetails {
  background-color: $euiColorEmptyShade;

  .visLib--legend-left &,
  .visLib--legend-right & {
    margin-top: $euiSizeXS;
    border-bottom: $euiBorderThin;
  }

  .visLib--legend-top &,
  .visLib--legend-bottom & {
    @include euiBottomShadowMedium;
    position: absolute; /* 1 */
    border-radius: $euiBorderRadius;
  }

  .visLib--legend-bottom & {
    bottom: $visLegendLineHeight + 2 * $euiSizeXS;
  }

  .visLib--legend-top & {
    margin-top: $euiSizeXS;
  }
}

.visLegend__valueColorPicker {
  width: $visColorPickerWidth;
  margin: auto;

  .visLegend__valueColorPickerDot {
    $colorPickerDotsPerRow: 8;
    $colorPickerDotMargin: $euiSizeXS / 2;
    $colorPickerDotWidth: $visColorPickerWidth / $colorPickerDotsPerRow - 2 * $colorPickerDotMargin;

    margin: $colorPickerDotMargin;
    width: $colorPickerDotWidth;

    &:hover {
      transform: scale(1.4);
    }
  }
}
