/**
 * 1. Enforce pointer when there's no href.
 */
.kuiLink {
  color: $linkColor;
  text-decoration: none;
  cursor: pointer; /* 1 */

  &:visited,
  &:active {
    color: #3CAED2;
  }

  &:hover {
    color: $linkHoverColor;
    text-decoration: underline;
  }
}
