@import (reference) "~plugins/rework/main.less";

.rework--dataframe-dropdown-actions {
  display: flex;
  font-size: 20px;
  padding-right: 30px;

  a {
    line-height: 30px;
    margin-left: 10px;
    color: @rework--action-link-color;
  }

  .fa-pencil:hover {
    color: @kibanaBlue2;
  }

  .fa-ban:hover {
    color: @kibanaPink1;
  }

  .rework--dataframe-selector, input {
    flex-grow: 1;
  }
}

.rework--dataframe-dropdown {
  .rework--dataframe-editor {
    margin-top: 5px;
  }
}
