.tvbVis {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  padding: $euiSizeS;

  .tvbVisTimeSeries {
    overflow: hidden;
  }
  .tvbVisTimeSeriesDark {
    .echLegendItem  {
      color: #DFE5EF !important;
    }
  }
  .tvbVisTimeSeriesLight {
    .echLegendItem  {
      color: #343741 !important;
    }
  }
}

