@include component('kuiLargeTitle') {
  @extend %kuiFontSizeXL;
  color: $kuiTitleColor;
  font-weight: $kuiFontWeightLight;
}

@include component('kuiMediumTitle') {
  @extend %kuiFontSizeL;
  color: $kuiTitleColor;
  font-weight: $kuiFontWeightLight;
}

@include component('kuiSmallTitle') {
  @extend %kuiFontSizeM;
  color: $kuiTitleColor;
  font-weight: $kuiFontWeightLight;
}

@include component('kuiText') {
  @extend %kuiFontSizeM;
  color: $kuiTextColor;
  font-weight: $kuiFontWeightRegular;
}
