.canvas__media_card {
  height: 200px;
  width: 200px;
  border: $euiBorderThin;
  border-radius: $euiBorderThin;
  display: inline-table;
  margin: $euiSize $euiSize 0 0;
  background-color: darken($euiColorDarkestShade, 5%);
  border-color: lighten($euiColorDarkestShade, 10%);
}

.canvas__media_card_clickable:hover {
  cursor: pointer;
  border-color: $euiColorPrimary;
}

.canvas__media_card-image {
  height: 80px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-color: darken($euiColorDarkestShade, 2%);
}

.canvas__media_card-content {
  font-size: $euiFontSizeS;
  padding: $euiSize;
}

.canvas__media_card-title {
  text-transform: capitalize;
  margin-top: 0px;
}
