.guidePageSideNav {
  position: fixed;
  top: $guideNavHeight + $kuiSizeL;
  bottom: 10px;
  width: $guideSideNavWidth;
  overflow: auto;
  z-index: 100;
  padding: 0 $kuiSizeL;

  @include scrollbar;

  @include whenNarrowerThan($guideNormalBreakpoint) {
    width: $guideSideNavSmallWidth;
  }
}

  .guidePageSideNav__title {
    line-height: $guideLineHeight;
    color: $kuiColorDarkestShade;
    @include kuiFontSizeL;
    margin-bottom: $kuiSize;
  }

    .guidePageSideNavMenu__item {
      margin-left: $kuiSize;
      & + & {
        margin-top: $kuiSize;
      }
    }

      .guidePageSideNavMenu__itemLink {
        cursor: pointer;
        color: $guideTextColor;
        text-decoration: none;

        &:hover {
          color: $kuiColorDarkestShade;
          text-decoration: underline;
        }
      }
