<kbn-management-app section="kibana">
  <kbn-management-indices>
    <div
      ng-controller="managementIndicesCreate as controller"
      data-test-subj="createIndexPatternContainer"
      class="kuiViewContent"
    >
      <h1 class="kuiTitle kuiVerticalRhythm">
        Configure an index pattern
      </h1>

      <p class="kuiText kuiVerticalRhythm">
        In order to use Kibana you must configure at least one index pattern.
        Index patterns are used to identify the Elasticsearch index to run
        search and analytics against. They are also used to configure fields.
      </p>

      <div class="kuiVerticalRhythm">
        <!-- Form -->
        <form
          name="form"
          role="form"
          class="kuiVerticalRhythm"
          ng-submit="controller.createIndexPattern()"
        >

          <!-- Index pattern input -->
          <div class="kuiVerticalRhythm">
            <label class="kuiLabel kuiVerticalRhythmSmall">
              <span>Index pattern</span>

              <small>
                <a
                  class="kuiLink"
                  ng-click="controller.toggleAdvancedIndexOptions();"
                >
                  advanced options
                </a>
              </small>
            </label>

            <div class="kuiVerticalRhythm kuiVerticalRhythmSmall">
              <input
                class="kuiTextInput kuiTextInput--large"
                data-test-subj="createIndexPatternNameInput"
                ng-model="controller.formValues.name"
                ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
                validate-index-name
                allow-wildcard
                name="name"
                required
                type="text"
              >
            </div>

            <!-- Input error text -->
            <div
              class="kuiVerticalRhythm"
              ng-if="controller.timeFieldOptionsError"
            >
              <p class="kuiText">
                <span class="kuiStatusText kuiStatusText--error">
                  <span class="kuiStatusText__icon kuiIcon fa-warning"></span>
                  {{controller.timeFieldOptionsError}}
                </span>
              </p>
            </div>

            <!-- Input help text -->
            <div class="kuiVerticalRhythm">
              <p
                class="kuiSubText kuiVerticalRhythmSmall"
                ng-if="!controller.formValues.nameIsPattern"
              >
                Patterns allow you to define dynamic index names using * as a wildcard. Example: logstash-*
              </p>

              <p
                class="kuiSubText kuiVerticalRhythmSmall"
                ng-if="controller.formValues.nameIsPattern"
              >
                <span>
                  Patterns allow you to define dynamic index names. Static text in an index name is denoted
                  using brackets. Example: [logstash-]YYYY.MM.DD. Please note that weeks are setup to use
                  ISO weeks which start on Monday.
                </span> &mdash;
                <a
                  class="kuiLink"
                  href="http://momentjs.com/docs/#/displaying/format/"
                  target="_blank"
                >
                  Date Format Documentation
                </a>
              </p>

              <p
                class="kuiSubText kuiVerticalRhythmSmall"
                ng-show="controller.formValues.nameInterval.name == 'weeks'"
              >
                <strong>Note:</strong>&nbsp;
                <span>I noticed you are using weekly indices. Kibana requires ISO weeks be used in your index creation.</span>
                <span>See</span>
                <a
                  class="kuiLink"
                  href="https://en.wikipedia.org/wiki/ISO_week_date"
                  target="_blank"
                >
                  Wikipedia: ISO Week Date
                </a>
              </p>
            </div>
          </div>

          <!-- Index pattern id input -->
          <div class="kuiVerticalRhythm" ng-if="controller.showAdvancedOptions">
            <label class="kuiLabel kuiVerticalRhythmSmall">
              Index pattern ID
            </label>

            <div class="kuiVerticalRhythm kuiVerticalRhythmSmall">
              <input
                class="kuiTextInput kuiTextInput--large"
                data-test-subj="createIndexPatternIdInput"
                ng-model="controller.formValues.id"
                ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
                validate-index-name
                allow-wildcard
                name="id"
                type="text"
              >
            </div>

            <!-- ID help text -->
            <div class="kuiVerticalRhythm">
              <p class="kuiSubText kuiVerticalRhythmSmall">
                Creates the index pattern with the specified ID.
              </p>
            </div>
          </div>

          <!-- Time field select -->
          <div class="kuiVerticalRhythm">
            <label class="kuiLabel kuiVerticalRhythmSmall">
              <span>Time Filter field name</span>
              &nbsp;
              <kbn-info info="This field will be used to filter events with the global time filter"></kbn-info>
              &nbsp;
              <small>
                <a
                  class="kuiLink"
                  ng-click="controller.refreshTimeFieldOptions();"
                >refresh fields</a>
              </small>
            </label>

            <div class="kuiVerticalRhythmSmall">
              <select
                class="kuiSelect kuiSelect--large kuiVerticalRhythmSmall"
                data-test-subj="createIndexPatternTimeFieldSelect"
                ng-disabled="controller.isLoading() || controller.timeFieldOptionsError || controller.timeFieldOptions.length === 1"
                ng-required="controller.timeFieldOptions.length"
                ng-options="option.display for option in controller.timeFieldOptions"
                ng-model="controller.formValues.timeFieldOption"
              ></select>
            </div>
          </div>

          <!-- Expand index pattern checkbox -->
          <div class="kuiVerticalRhythm" ng-if="controller.canEnableExpandWildcard()">
            <label class="kuiCheckBoxLabel kuiVerticalRhythm">
              <input
                class="kuiCheckBox"
                type="checkbox"
                data-test-subj="createIndexPatternEnableExpand"
                ng-model="controller.formValues.expandWildcard"
              >
              <span class="kuiCheckBoxLabel__text">
                <span>Expand index pattern when searching</span>
                <span>[DEPRECATED]</span>
              </span>
            </label>

            <!-- Checkbox help text -->
            <div class="kuiVerticalRhythm">
              <p class="kuiSubText kuiVerticalRhythmSmall">
                With this option selected, searches against any time-based index pattern that contains
                a wildcard will automatically be expanded to query only the indices that contain data
                within the currently selected time range.
              </p>

              <p class="kuiSubText kuiVerticalRhythmSmall">
                Searching against the index pattern <em>logstash-*</em> will actually query
                Elasticsearch for the specific matching indices (e.g. <em>logstash-2015.12.21</em>)
                that fall within the current time range.
              </p>

              <p class="kuiSubText kuiVerticalRhythmSmall">
                With recent changes to Elasticsearch, this option should no longer be necessary and
                will likely be removed in future versions of Kibana.
              </p>
            </div>
          </div>

          <!-- Use event times checkbox -->
          <div
            class="kuiVerticalRhythm"
            ng-if="controller.canUseTimePattern()"
          >
            <label class="kuiCheckBoxLabel">
              <input
                class="kuiCheckBox"
                type="checkbox"
                data-test-subj="createIndexPatternNameIsPatternCheckBox"
                ng-model="controller.formValues.nameIsPattern"
              >

              <span class="kuiCheckBoxLabel__text">
                Use event times to create index names
                <span>[DEPRECATED]</span>
              </span>
            </label>
          </div>

          <div
            class="kuiVerticalRhythm"
            ng-if="controller.canUseTimePattern() && controller.formValues.nameIsPattern"
          >
            <!-- Time-interval deprecation warning -->
            <div class="kuiInfoPanel kuiInfoPanel--warning kuiVerticalRhythm">
              <div class="kuiInfoPanelHeader">
                <span class="kuiInfoPanelHeader__icon kuiIcon kuiIcon--warning fa-bolt"></span>
                <span class="kuiInfoPanelHeader__title">
                  Time-interval based index patterns are deprecated!
                </span>
              </div>

              <div class="kuiInfoPanelBody">
                <div class="kuiInfoPanelBody__message">
                  We <strong>strongly recommend</strong> using wildcard pattern names instead of
                  time-interval based index patterns.
                </div>
              </div>
            </div>

            <!-- Index pattern interval select -->
            <div class="kuiVerticalRhythm">
              <label class="kuiLabel kuiVerticalRhythmSmall">
                <span>Index pattern interval</span>&nbsp;
                <kbn-info info="The interval at which index names rotate."></kbn-info>
              </label>

              <div class="kuiVerticalRhythmSmall">
                <select
                  class="kuiSelect"
                  required
                  ng-options="opt.display for opt in controller.nameIntervalOptions"
                  ng-model="controller.formValues.nameInterval"
                ></select>
              </div>
            </div>
          </div>

          <!-- Errors -->
          <div class="kuiVerticalRhythm">
            <div
              class="kuiInfoPanel kuiInfoPanel--error kuiVerticalRhythmSmall"
              ng-repeat="err in controller.patternErrors"
            >
              <div class="kuiInfoPanelHeader">
                <span class="kuiInfoPanelHeader__icon kuiIcon kuiIcon--error fa-warning"></span>
                <span class="kuiInfoPanelHeader__title">
                  {{err}}
                </span>
              </div>
            </div>

            <div
              class="kuiInfoPanel kuiInfoPanel--info kuiVerticalRhythmSmall"
              ng-if="controller.samples"
            >
              <div class="kuiInfoPanelHeader">
                <span class="kuiInfoPanelHeader__icon kuiIcon kuiIcon--info fa-info"></span>
                <span class="kuiInfoPanelHeader__title">
                  Attempted to match the following indices and aliases:
                </span>
              </div>

              <div class="kuiInfoPanelBody">
                <div
                  class="kuiInfoPanelBody__message"
                  ng-repeat="sample in controller.samples"
                >
                  {{sample}}
                </div>

                <div class="kuiInfoPanelBody__message">
                  <button
                    type="button"
                    ng-click="controller.moreSamples(true)"
                    class="kuiButton kuiButton--basic"
                  >
                    <span>Expand Search</span>
                  </button>
                </div>
              </div>
            </div>

            <!-- Percentage of indices which match the index pattern -->
            <div
              class="kuiInfoPanel kuiVerticalRhythmSmall"
              ng-class="controller.existing.matches.length ? 'kuiInfoPanel--success' : 'kuiInfoPanel--error'"
              ng-if="controller.existing"
            >
              <div class="kuiInfoPanelHeader">
                <span
                  class="kuiInfoPanelHeader__icon kuiIcon"
                  ng-class="controller.existing.matches.length ? 'kuiIcon--success fa-check' : 'kuiIcon--error fa-warning'"
                ></span>
                <span class="kuiInfoPanelHeader__title">
                  Pattern matches {{controller.existing.matchPercent}} of existing indices and aliases
                </span>
              </div>

              <div
                class="kuiInfoPanelBody"
                ng-if="controller.existing.matches.length"
              >
                <div
                  class="kuiInfoPanelBody__message"
                  ng-repeat="match in controller.existing.matches | orderBy:'toString()'| limitTo: controller.sampleCount"
                >
                  {{match}}
                </div>

                <div class="kuiInfoPanelBody__message">
                  <button
                    ng-if="controller.sampleCount < controller.existing.matches.length"
                    ng-click="controller.moreSamples()"
                    type="button"
                    class="kuiButton kuiButton--basic"
                  >
                    <span>Expand Search</span>
                  </button>
                </div>
              </div>
            </div>

            <div
              class="kuiInfoPanel kuiInfoPanel--info kuiVerticalRhythmSmall"
              ng-if="controller.existing.failures.length"
            >
              <div class="kuiInfoPanelHeader">
                <span class="kuiInfoPanelHeader__icon kuiIcon kuiIcon--info fa-info"></span>
                <span class="kuiInfoPanelHeader__title">
                  Indices and aliases that were found, but did not match the pattern:
                </span>
              </div>

              <div class="kuiInfoPanelBody">
                <div
                  class="kuiInfoPanelBody__message"
                  ng-repeat="match in controller.existing.failures | limitTo: controller.sampleCount"
                >
                  {{match}}
                </div>
              </div>

              <div class="kuiInfoPanelBody__message">
                <a
                  class="kuiLink"
                  ng-if="controller.sampleCount < controller.existing.matches.length"
                  ng-click="controller.moreSamples()"
                >
                  <span>more</span>
                </a>
              </div>
            </div>
          </div>

          <!-- Form actions -->
          <button
            data-test-subj="createIndexPatternCreateButton"
            ng-disabled="form.$invalid || controller.timeFieldOptionsError || controller.isLoading()"
            class="kuiButton kuiButton--primary kuiVerticalRhythm"
            type="submit"
          >
            {{controller.createButtonText}}
          </button>
        </form>
      </div>
    </div>
  </kbn-management-indices>
</kbn-management-app>
