<kbn-management-app section="kibana">
  <kbn-management-indices>
    <div
      ng-controller="managementIndicesCreate as controller"
      data-test-subj="createIndexPatternContainer"
      class="kuiViewContent"
    >
      <h1
        class="kuiTitle kuiVerticalRhythm"
        translate="KIBANA-CONFIGURE_INDEX_PATTERN"
      ></h1>

      <p
        class="kuiText kuiVerticalRhythm"
        translate="KIBANA-MUST_CONFIGURE_INDEX_PATTERN"
      ></p>

      <div class="kuiVerticalRhythm">
        <!-- Form -->
        <form
          name="form"
          role="form"
          class="kuiVerticalRhythm"
          ng-submit="controller.createIndexPattern()"
        >

          <!-- Index pattern input -->
          <div class="kuiVerticalRhythm">
            <label class="kuiLabel kuiVerticalRhythmSmall">
              <span translate="KIBANA-INDEX_PATTERN"></span>

              <small>
                <a
                  class="kuiLink"
                  ng-click="controller.toggleAdvancedIndexOptions();"
                  translate="KIBANA-ADVANCED_OPTIONS"
                ></a>
              </small>
            </label>

            <div class="kuiVerticalRhythm kuiVerticalRhythmSmall">
              <input
                class="kuiTextInput kuiTextInput--large"
                data-test-subj="createIndexPatternNameInput"
                ng-model="controller.formValues.name"
                ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
                validate-index-name
                allow-wildcard
                name="name"
                required
                type="text"
              >
            </div>

            <!-- Input error text -->
            <div
              class="kuiVerticalRhythm"
              ng-if="controller.timeFieldOptionsError"
            >
              <p class="kuiText">
                <span class="kuiStatusText kuiStatusText--error">
                  <span class="kuiStatusText__icon kuiIcon fa-warning"></span>
                  {{controller.timeFieldOptionsError}}
                </span>
              </p>
            </div>

            <!-- Input help text -->
            <div class="kuiVerticalRhythm">
              <p
                class="kuiSubText kuiVerticalRhythmSmall"
                translate="KIBANA-WILDCARD_DYNAMIC_INDEX_PATTERNS"
              ></p>
            </div>
          </div>

          <!-- Index pattern id input -->
          <div class="kuiVerticalRhythm" ng-if="controller.showAdvancedOptions">
            <label
              class="kuiLabel kuiVerticalRhythmSmall"
              translate="KIBANA-INDEX_PATTERN_ID">
            </label>

            <div class="kuiVerticalRhythm kuiVerticalRhythmSmall">
              <input
                class="kuiTextInput kuiTextInput--large"
                data-test-subj="createIndexPatternIdInput"
                ng-model="controller.formValues.id"
                ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
                validate-index-name
                allow-wildcard
                name="id"
                type="text"
              >
            </div>

            <!-- ID help text -->
            <div class="kuiVerticalRhythm">
              <p
                class="kuiSubText kuiVerticalRhythmSmall"
                translate="KIBANA-INDEX_PATTERN_SPECIFY_ID"
              ></p>
            </div>
          </div>

          <!-- Time field select -->
          <div class="kuiVerticalRhythm">
            <label class="kuiLabel kuiVerticalRhythmSmall">
              <span translate="KIBANA-TIME_FILTER_FIELD_NAME"></span>
              &nbsp;
              <kbn-info info="{{ 'KIBANA-FIELD_FILTER_EVENTS_GLOBAL_TIME' | translate }}"></kbn-info>
              &nbsp;
              <small>
                <a
                  class="kuiLink"
                  ng-click="controller.refreshTimeFieldOptions();"
                  translate="KIBANA-REFRESH_FIELDS"
                ></a>
              </small>
            </label>

            <div class="kuiVerticalRhythmSmall">
              <select
                class="kuiSelect kuiSelect--large kuiVerticalRhythmSmall"
                data-test-subj="createIndexPatternTimeFieldSelect"
                ng-disabled="controller.isLoading() || controller.timeFieldOptionsError || controller.timeFieldOptions.length === 1"
                ng-required="controller.timeFieldOptions.length"
                ng-options="option.display for option in controller.timeFieldOptions"
                ng-model="controller.formValues.timeFieldOption"
              ></select>
            </div>
          </div>

          <!-- Expand index pattern checkbox -->
          <div class="kuiVerticalRhythm" ng-if="controller.canEnableExpandWildcard()">
            <label class="kuiCheckBoxLabel kuiVerticalRhythm">
              <input
                class="kuiCheckBox"
                type="checkbox"
                data-test-subj="createIndexPatternEnableExpand"
                ng-model="controller.formValues.expandWildcard"
              >
              <span class="kuiCheckBoxLabel__text">
                <span translate="KIBANA-EXPAND_INDEX_PATTERN"></span>
                <span translate="KIBANA-DEPRECATED"></span>
              </span>
            </label>

            <!-- Checkbox help text -->
            <div class="kuiVerticalRhythm">
              <p
                class="kuiSubText kuiVerticalRhythmSmall"
                translate="KIBANA-WILDCARD_DEFAULT_EXPANDED_TO_CURRENT_TIME_RANGE"
              ></p>

              <p class="kuiSubText kuiVerticalRhythmSmall">
                <span translate="KIBANA-SEARCH_AGAINST_INDEX_PATTERN"></span>
                <em translate="KIBANA-LOGSTASH_WILDCARD"></em>
                <span translate="KIBANA-ACTUALLY_QUERY"></span>
                <em translate="KIBANA-EXAMPLE_TIME_RANGE"></em>
                <span translate="KIBANA-FALL_WITHIN_CURRENT_TIME_RANGE"></span>
              </p>

              <p
                class="kuiSubText kuiVerticalRhythmSmall"
                translate="KIBANA-EXPAND_INDEX_PATTERN_DEPRECATION"
              ></p>
            </div>
          </div>

          <!-- Form actions -->
          <button
            data-test-subj="createIndexPatternCreateButton"
            ng-disabled="form.$invalid || controller.timeFieldOptionsError || controller.isLoading()"
            class="kuiButton kuiButton--primary kuiVerticalRhythm"
            type="submit"
          >
            {{controller.createButtonText}}
          </button>
        </form>
      </div>
    </div>
  </kbn-management-indices>
</kbn-management-app>
