.editor-color {
  margin-top: 5px;
  display: flex;
  position: relative;
  > .form-group {
    flex: 1 1 1%;
    padding-right: 5px;
    margin-bottom: 10px;
    &:last-child {
      padding-right: 0;
    }
  }
}

.editor-color-remove {
  position: absolute;
  right: 0;
}
