body {
  margin: 10px 35px;
}

[chart] {
  height: 270px;
}

[ng-click] {
  cursor: pointer;
}

.chart-container {
  height: 270px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  border: 2px dashed transparent;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 10px;
}

.chart-container.active {
  border-color: #ccc;
}


.chart-container.running {
  opacity: 0.50;
}

.add-chart {
  cursor: inherit !important;
}

.add-chart i {
  margin: 10px 0 0 10px;
  font-size: 60px;
  opacity: 0.20;
}

.add-chart i:hover {
  opacity: 0.40;
}

.add-chart i:hover:after {
  content: 'ADD PLOT';
  font-weight: bold;
  font-size: 0.4em;
  font: normal normal normal normal '.HelveticaNeueDeskInterface-Regular';
}

.footer {
  background-color: whitesmoke;
  padding: 5px;
  font-size: 0.9em;
}

.new-sheet {
  cursor: pointer;
  font-size: 0.6em;
  line-height: 25px;
  margin-top: -13px;
  opacity: 0.50;
}

.new-sheet:hover {
  opacity: 1;
}

.new-sheet .fa-plus {
  margin-left: -3px;
}

.header {
  position:relative;
}


.cell-id {
  position: absolute;
  bottom:5px;
  left:5px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #666;
  padding: 3px;
  font-weight: bold;
  background-color: #ccc;
  opacity: 0.50;
  z-index: 999;
}

.chart-container:hover .cell-id {
  background-color: #a00;
  border-color: #a00;
  color: #fff;
}

.chart-container:hover .cell-id span {
  display: none;
}

.chart-container:hover .cell-id:after {
  content: "X";
}

.chart-container:hover .cell-id:hover {
  opacity: 1;
}



.top-agg-input {
    border: 0;
    box-shadow: inherit;
    border-bottom: 2px dotted #999;
    border-radius: 0;
    font-size: 1.4em;
}

.function-form {
  margin-top: 20px;
  position: relative;
}

.form-control:focus
{
    outline:0px !important;
    -webkit-appearance:none;
    border-color: #666;
    box-shadow: inherit;
}

.input-form {
  display: flex;
}

.input-form label {
  font-weight: normal;
  font-size: 0.8em;
  margin-bottom: 0px;
}

.input-form input {
  padding: 0px 0px;
}

.input-form-expression {
  flex-grow: 1;
}

.input-form-interval {
  margin-left: 5px;
  margin-right: 20px;
}

.input-form-interval > select {
  box-shadow: inherit;
  width: 60px;
}

.legendLabel {
  max-width: 210px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.ngLegendValue:hover {
  text-decoration: underline;
}