body {
  margin: 10px 35px;
}

[chart] {
  height: 270px;
}

.chart-container.running {
  opacity: 0.50;
}

.new-sheet {
  cursor: pointer;
  font-size: 0.6em;
  line-height: 25px;
  margin-top: -5px;
  opacity: 0.50;
}

.new-sheet:hover {
  opacity: 1;
}

.new-sheet .fa-plus {
  margin-left: -3px;
}

.header {
  position:relative;
  padding-left: 35px;
}

.chart-container {
  height: 270px;
  position: relative;
  box-sizing: border-box;
  border: 2px dashed transparent;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.chart-container.active {
  border-color: #ccc;
}

.cell-id {
  position: absolute;
  bottom:5px;
  left:5px;
  font-size: 0.7em;
  text-align: center;
  line-height: 12px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  padding: 3px;
  font-weight: bold;
  background-color: #ccc;
  opacity: 0.75;
  z-index: 999;
}

.top-agg-input {
    border: 0;
    box-shadow: inherit;
    border-bottom: 2px dotted #999;
    border-radius: 0;
    font-size: 1.4em;
}

.function-form {
  position: relative;
}

.form-control:focus
{
    outline:0px !important;
    -webkit-appearance:none;
    border-color: #666;
    box-shadow: inherit;
}

/* Preloader */

.preloader {
  left:0;
  top: 6px;
}

.preloader {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border: .4rem solid #999;
  border-radius: 100%;
  -webkit-animation-play-state: paused;
}

.preloader.running {
  -webkit-animation-play-state: running;
}

.preloader:before,
.preloader:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -.2rem 0 0 -.2rem;
  border-bottom: .4rem solid #999;
  border-radius: .6rem;
  -webkit-transform-origin: .2rem center;
}

.preloader:before { /* hour hand */
  width: 30%;
  -webkit-transform: rotate(270deg);

  -webkit-animation: hour 10s linear infinite;
  -webkit-animation-play-state: inherit;
}
.preloader:after { /* minute hand */
  width: 40%;
  background-color: #999;
  -webkit-animation: minute 1s linear infinite;
  -webkit-animation-play-state: inherit;
}

@-webkit-keyframes hour {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes minute {
  100% {
    -webkit-transform: rotate(360deg);
  }
}