$tableCellPadding: 7px 8px 8px;

/**
 * 1. Prevent cells from expanding based on content size. This substitutes for table-layout: fixed.
 */
@mixin tableCell {
  font-size: $fontSize;
  font-weight: 400;
  text-align: left;
  max-width: 20px; /* 1 */

  &:last-child {
    padding-right: 16px;
  }
}

/**
 * NOTE: table-layout: fixed causes a bug in IE11 and Edge (see #9929). It also prevents us from
 * specifying a column width, e.g. the checkbox column.
 */
.kuiTable {
  width: 100%;
  border: $tableBorder;
  border-collapse: collapse;
  background-color: #FFFFFF;
}

.kuiTableHeaderCell {
  @include tableCell;
  padding: $tableCellPadding;
  line-height: $lineHeight;
  color: #a7a7a7;
}

/**
 * 1. Prevent rapid clicking from selecting text.
 */
.kuiTableHeaderCell--sortable {
  user-select: none; /* 1 */
  cursor: pointer;

  &:hover:not(.kuiTableHeaderCell-isSorted) {
    .kuiTableSortIcon {
      opacity: 0.4;
    }
  }
}

.kuiTableHeaderCell--alignRight {
  text-align: right;
}

.kuiTableSortIcon {
  pointer-events: none;
}

.kuiTableRow {
  &:hover {
    .kuiTableRowHoverReveal {
      display: inline-block;
    }
  }
}

.kuiTableRowHoverReveal {
  display: none;
}

.kuiTableRowCell {
  @include tableCell;
  color: $fontColor;
  border-top: $tableRowBorder;
}

  /**
   * 1. Vertically align all children.
   * 2. Truncate text with an ellipsis. The padding on this div allows the ellipsis to show. If
   *    the padding was on the cell, the ellipsis would be cropped.
   */
  .kuiTableRowCell__liner {
    white-space: nowrap; /* 2 */
    overflow: hidden; /* 2 */
    text-overflow: ellipsis; /* 2 */
    padding: $tableCellPadding; /* 2 */
    line-height: $lineHeight; /* 1 */

    & > * {
      vertical-align: middle; /* 1 */
    }
  }

.kuiTableRowCell--alignRight {
  text-align: right;

  .kuiTableRowCell__liner {
    text-align: right;
  }
}

/**
 * 1. Rendered width of cell with checkbox inside of it.
 * 2. Align checkbox with text in other cells.
 * 3. Show the checkbox in Edge; otherwise it gets cropped.
 */
.kuiTableHeaderCell--checkBox,
.kuiTableRowCell--checkBox {
  width: 28px; /* 1 */
  padding-right: 0;
  line-height: 1; /* 2 */

  .kuiTableRowCell__liner {
    overflow: visible; /* 3 */
  }
}
