@import (reference) "~plugins/rework/main.less";

.rework--editor-section {
  label {
    font-weight: normal;
    font-size: 12px !important;
  }

  h4 {
    text-transform: capitalize;

    i {
      font-size: 15px;
    }
  }
}
