.*.swp
*.gem
pkg/*.deb
pkg/*.rpm
*.class
*.tar.gz
*.jar
.bundle
build
local
vendor
.sass-cache
data
.buildpath
.project
.DS_Store
*.pyc
.VERSION.mk
.idea/*
.install-done
.vendor
integration_run
qa/.vm_ssh_config
qa/.vagrant
.aws-config.json
.signing-config.json
.ackrc
.DS_Store
.node_binaries
node_modules
trash
bundles
target
/build
.jruby
.idea
*.iml
*.log
/test/screenshots/diff
/test/screenshots/failure
/test/screenshots/session
/test/screenshots/visual_regression_gallery.html
/esvm
.htpasswd
.eslintcache
plugins
data
disabledPlugins
webpackstats.json
config/kibana.dev.yml
coverage
selenium
.babelcache.json
*.swp
*.swo
*.deb
.vagrant
*.sha512
*-6.3.*
*-6.4.*
*-6.5.*
qa/envvars.sh
*.marker
completed.txt
qa/tempcurl
qa/done.txt
