.kuiEmptyTablePrompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

  .kuiEmptyTablePrompt__message {
    font-size: $kuiTitleFontSize;
    color: $kuiSubduedTextColor;
    line-height: $kuiLineHeight;
  }

  .kuiEmptyTablePrompt__actions {
    margin-top: 10px;
  }
