// EUITODO: Convert to EuiColorPicker

@import 'node_modules/@elastic/eui/src/components/color_picker/index';

.tvbColorPicker {
  display: flex;
  align-items: center;
  position: relative;
}

.tvbColorPicker__swatch-empty,
.tvbColorPicker__swatch {
  @extend .euiColorPicker__swatch;
}

.tvbColorPicker__swatch-empty {
  background-color: transparent;
  background-size: 22px 22px;
  background-image: repeating-linear-gradient(
    -45deg,
    $euiColorDanger,
    $euiColorDanger 2px,
    transparent 2px,
    transparent $euiSize
  );
}

.tvbColorPicker__clear {
  margin-left: $euiSizeXS;
}

.tvbColorPicker__popover {
  position: absolute;
  top: $euiSizeL;
  z-index: 2;
}

.tvbColorPicker__cover {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
