.tvbSplitVis {
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-self: start;
  width: 100%;
}

.tvbSplitVis__split {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  overflow: hidden;
  min-width: $tvbSplitBlockVisMinSize;
  min-height: $tvbSplitBlockVisMinSize;
}
