.kuiVerticalRhythm {
  margin-bottom: $kuiVerticalRhythmM;
}

.kuiVerticalRhythm--xSmall {
  margin-bottom: $kuiVerticalRhythmXS;
}

.kuiVerticalRhythm--small {
  margin-bottom: $kuiVerticalRhythmS;
}

.kuiVerticalRhythm--large {
  margin-bottom: $kuiVerticalRhythmL;
}

.kuiVerticalRhythm--xLarge {
  margin-bottom: $kuiVerticalRhythmXL;
}

.kuiVerticalRhythm--xxLarge {
  margin-bottom: $kuiVerticalRhythmXXL;
}
