

.annotation {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 90;
  align-items: center;
}
.annotation__line {
  flex: 1 0 auto;
  width: 2px;
}
.annotation__icon {
  position: relative;
  flex: 0 0 auto;
  width: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.annotation__tooltip {
  position: absolute;
  bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.annotation__message,
.annotation__timestamp {
  font-size: 12px;
}
.annotation__caret-reversed,
.annotation__caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $tvbValueColor;
}
.annotation__caret-reversed {
  border-top: none;
  border-bottom: 5px solid rgba(0,0,0,0.7);
}
.annotation__tooltip-body-reversed,
.annotation__tooltip-body {
  border-radius: 4px;
  padding: 4px;
  white-space: nowrap;
  color: white;
  background-color: rgba(0,0,0,0.7);
}
.annotation__tooltip-body-reversed {
  color: black;
  background-color: rgba(255,255,255,0.7);
}
.annotation__timestamp {
  color: rgba(255,255,255,0.7);

}
.annotation__timestamp-reversed {
  color: rgba(0,0,0,0.7);
}
