// v7dark global scope
//
// prepended to all .scss imports (from JS, when v7dark theme selected)

@import '@elastic/eui/src/themes/eui/eui_colors_dark';
@import '@elastic/eui/src/themes/eui/eui_globals';

@import './mixins';

$kbnThemeVersion: 'v7dark';
