// v7light global scope
//
// prepended to all .scss imports (from JS, when v7light theme selected)

@import '@elastic/eui/src/themes/eui/eui_colors_light';
@import '@elastic/eui/src/themes/eui/eui_globals';

@import './mixins';

$kbnThemeVersion: 'v7light';
