<select class="kuiSelect">
  <option>Apple</option>
  <option>Bread</option>
  <option>Cheese</option>
</select>

<hr class="guideBreak">

<select class="kuiSelect" disabled>
  <option>Disabled</option>
</select>

<hr class="guideBreak">

<select class="kuiSelect kuiSelect-isInvalid">
  <option>Invalid</option>
</select>

<hr class="guideBreak">

<select class="kuiSelect kuiSelect--small">
  <option>Small</option>
</select>

<hr class="guideBreak">

<select class="kuiSelect kuiSelect--large">
  <option>Large</option>
</select>
