<input type="text" class="kuiTextInput" placeholder="Placeholder text">

<hr class="guideBreak">

<input type="text" class="kuiTextInput" value="Entered text" autofocus>

<hr class="guideBreak">

<input type="text" class="kuiTextInput kuiTextInput-isInvalid">

<hr class="guideBreak">

<input type="text" class="kuiTextInput" value="Disabled" disabled>

<hr class="guideBreak">

<input type="text" class="kuiTextInput kuiTextInput--small" placeholder="Small">

<hr class="guideBreak">

<input type="text" class="kuiTextInput kuiTextInput--large" placeholder="Large">
