// SASSTODO: figure out why this is needed
kbn-management-app,
kbn-management-landing,
kbn-management-indices,
kbn-management-indices-edit,
kbn-management-indices-create,
kbn-management-advanced,
kbn-management-objects,
kbn-management-objects-view {
  display: block;
}

// SASSTODO: Remove when Kibana has a proper background color
.tab-account, .tab-management {
  background-color: $euiColorEmptyShade;
}

// SASSTODO: Remove when Kibana has a proper background color
kbn-management-objects, kbn-management-app {
  background: $euiColorLightestShade;
  min-height: 100vh;
}

.kbn-management-tab:first-letter {
  text-transform: capitalize;
}

// SASSTODO: Remove when this is replaced with EuiCode
kbn-management-objects-view {
  .ace_editor { height: 300px; }
}

// SASSTODO: These are some dragula settings.
.gu-handle {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.gu-mirror,
.gu-mirror .gu-handle {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}