<kbn-management-app>
  <kbn-management-landing>
    <!-- General info -->
    <div class="page-row">
      <div class="page-row-text">Version: {{::kbnVersion}}</div>
    </div>

    <!-- Management sections for the ES stack -->
    <div
      ng-if="section.visibleItems.length > 0"
      ng-repeat="section in sections"
      class="page-row"
    >
      <div class="kuiPanel mgtPanel" role="group">
        <div class="kuiPanelHeader">
          <div class="kuiPanelHeaderSection">
            <icon type="'{{::section.icon}}'" size="'l'"></icon>
            <h3 class="kuiPanelHeader__title">
              {{::section.display}}
            </h3>
          </div>
        </div>

        <div class="kuiPanelBody">
          <div class="row">
            <ul class="list-unstyled">
              <li
                class="col-xs-4 col-md-3"
                ng-repeat="item in section.visibleItems"
              >
                <a
                  data-test-subj="{{::item.id}}"
                  class="euiLink euiLink--primary mgtPanel__link"
                  ng-class="{ 'mgtPanel__link--disabled': item.disabled || !item.url }"
                  kbn-href="{{::item.disabled ? '' : item.url}}"
                  tooltip="{{::item.tooltip}}"
                  tooltip-placement="bottom"
                  tooltip-popup-delay="400"
                  tooltip-append-to-body="1"
                >
                  {{::item.display}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </kbn-management-landing>
</kbn-management-app>
