@import (reference) "../../../styles/_bootstrap.less";
@import (reference) "../../../styles/theme/_theme.less";
@import (reference) "../../../styles/_variables.less";

.application-discover {
  overflow-x: hidden;
}

.discover-table {
  overflow-y: auto;
  overflow-x: auto;
  margin-top: 10px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.discover-field-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: @well-bg;
  border-right: 1px solid @well-border;
  border-bottom: 1px solid @well-border;
}

.discover-field-list {

  h5 {
    padding-left: 5px;
  }

  .discover-field-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: @font-size-smaller;
    border-top: 1px solid @well-border;
  }

  .discover-field-name {
    padding: 5px 10px;
  }

  .discover-field-name:hover, .discover-field-name:hover .text-muted {
    background-color: @component-active-bg;
    color: @component-active-color;
  }

  .discover-field-details {
    border-top: 1px solid @well-border;
    padding: 5px 10px;
    background-color: @body-bg;
    color: @text-color;

    .discover-field-details-error {
      margin-top: 5px;
    }

    .discover-field-details-item {
      margin-top: 5px;
    }

    .discover-field-details-filter {
      cursor: pointer;
    }

    .progress {
      margin-bottom: 0px;

      .progress-bar {
        padding-left: 10px;
        text-align: right;

        span {
          background-color: @gray;
          padding: 3px;
          border-radius: 4px;
          font-size: 0.8em;
          margin-left: 3px;
          margin-right: 3px;
        }
      }
    }
  }
}