.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
.application-discover {
  overflow-x: hidden;
}
.discover-table {
  overflow-y: auto;
  overflow-x: auto;
  margin-top: 10px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.discover-field-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #f5f5f5;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
.discover-field-list .discover-field-list-header {
  padding-left: 10px;
  color: #777777;
}
.discover-field-list .discover-field-item {
  border-top: 1px solid #e3e3e3;
  font-size: 11px;
}
.discover-field-list .discover-field-item .discover-field-details-close {
  text-align: center;
  border-top: 1px solid #e3e3e3;
  background-color: #f5f5f5;
}
.discover-field-list .discover-field-name {
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.discover-field-list .discover-field-name:hover,
.discover-field-list .discover-field-name:hover .text-muted {
  background-color: #428bca;
  color: #ffffff;
}
.discover-field-list .discover-field-details {
  border-top: 1px solid #e3e3e3;
  padding: 5px 10px;
  background-color: #ffffff;
  color: #333333;
}
.discover-field-list .discover-field-details .discover-field-details-error {
  margin-top: 5px;
}
.discover-field-list .discover-field-details .discover-field-details-item {
  margin-top: 5px;
}
.discover-field-list .discover-field-details .discover-field-details-filter {
  cursor: pointer;
}
.discover-field-list .discover-field-details .progress {
  margin-bottom: 0px;
}
.discover-field-list .discover-field-details .progress .progress-bar {
  padding-left: 10px;
  text-align: right;
}
.discover-field-list .discover-field-details .progress .progress-bar span {
  background-color: #555555;
  padding: 3px;
  border-radius: 4px;
  font-size: 0.8em;
  margin-left: 3px;
  margin-right: 3px;
}
