@import (reference) "../../../../bower_components/bootstrap/less/bootstrap.less";
@import (reference) "../../../../bower_components/bootstrap/less/theme.less";
@import (reference) "../../../styles/_variables.less";

.application-discover {
  overflow-x: hidden;
}

.discover-table {
  overflow-y: auto;
  overflow-x: auto;
  margin-top: 10px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.discover-field-list {

  .discover-field-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: @font-size-smaller;
  }

  .discover-field-item [field-name]:hover {
    color: @link-color;
  }

  .discover-field-details {
    padding: 5px;
    background-color: @well-bg;
    border-radius: @border-radius-base;
    border: 1px solid @table-border-color;
    margin-bottom: 5px;

    .discover-field-details-error {
      margin-top: 5px;
    }

    .discover-field-details-item {
      margin-top: 5px;
    }

    .discover-field-details-filter {
      cursor: pointer;
    }

    .progress {
      margin-bottom: 0px;

      .progress-bar {
        padding-left: 10px;
        text-align: right;

        span {
          background-color: @gray;
          padding: 3px;
          border-radius: 4px;
          font-size: 0.8em;
          margin-left: 3px;
          margin-right: 3px;
        }
      }
    }
  }
}