@import url("//fonts.googleapis.com/css?family=Lato:400,700,400italic");
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 18px 27px;
  font-size: 19px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 6px 9px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
.application-discover {
  overflow-x: hidden;
}
.discover-timechart {
  display: block;
  height: 150px;
}
.discover-table {
  overflow-y: auto;
  overflow-x: auto;
  margin-top: 10px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.discover-field-details-close {
  text-align: center;
  border-top: 1px solid transparent;
  background-color: #ecf0f1;
}
.discover-field-details-close:hover {
  background-color: #cfd9db;
  color: #46525d;
}
.discover-field-details {
  border-top: 1px solid transparent;
  padding: 5px 10px;
  background-color: #ffffff;
  color: #46525d;
}
.discover-field-details .discover-field-details-error {
  margin-top: 5px;
}
.discover-field-details .discover-field-details-item {
  margin-top: 5px;
}
.discover-field-details .discover-field-details-filter {
  cursor: pointer;
}
.discover-field-details .progress {
  margin-bottom: 0px;
}
.discover-field-details .progress .progress-bar {
  padding-left: 10px;
  text-align: right;
  line-height: 20px;
}
.discover-field-details .progress .progress-bar span {
  background-color: #95a5a6;
  padding: 3px;
  border-radius: 4px;
  font-size: 0.8em;
  margin-left: 3px;
  margin-right: 3px;
}
