@import (reference) "../../../../bower_components/bootstrap/less/bootstrap.less";
@import (reference) "../../../../bower_components/bootstrap/less/theme.less";

.discover-field-list {
  .discover-field-item .discover-field-add {
    visibility:hidden;
  }

  .discover-field-item:hover .discover-field-add {
    visibility:visible;
  }

  .discover-field-name:hover {
    text-decoration: none;
    margin-left: 0;
  }

  .discover-field-details {
    font-size: @font-size-small;
    margin-left: 15px;
    padding: 5px;
    background-color: @well-bg;
    border-radius: @border-radius-base;
    border: 1px solid @table-border-color;

    .discover-field-details-item {
      margin-top: 5px;
    }

    .discover-field-details-filter {
      cursor: pointer;
    }

    .progress {
      margin-bottom: 0px;

      .progress-bar {
        padding-left: 10px;
        text-align: right;

        span {
          background-color: @gray;
          padding: 3px;
          border-radius: 4px;
          font-size: 0.8em;
          margin-left: 3px;
          margin-right: 3px;
        }
      }
    }
  }
}