.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 18px 27px;
  font-size: 19px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 6px 9px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
.application-discover {
  overflow-x: hidden;
}
.discover-timechart {
  margin-bottom: 20px;
  display: block;
  position: relative;
}
.discover-timechart visualize {
  height: 200px;
  max-height: 600px;
}
.discover-timechart visualize.only-spy {
  height: auto;
}
.discover-timechart visualize.only-spy .visualize-table {
  height: auto;
}
.discover-timechart .chartwrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.discover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  opacity: 0.75;
  text-align: center;
  background-color: #ffffff;
}
.discover-overlay .spinner {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
}
.discover-hits {
  background-color: #ecf0f1;
  float: right;
  padding: 5px 10px;
  border-bottom-left-radius: 4px;
}
.discover-table {
  overflow-y: auto;
  overflow-x: auto;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.discover-table .discover-table-timefield {
  white-space: nowrap;
}
.discover-table-footer {
  background-color: #ecf0f1;
  padding: 5px 10px;
}
.discover-table-details-toggle {
  margin-bottom: 3px;
}
.discover-table-details-buttons,
.discover-table-details-field {
  white-space: nowrap;
}
.discover-table-details-value,
.discover-table-details pre {
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.discover-field-filter {
  background-color: #ecf0f1;
  margin-right: 10px;
}
.discover-field-filter .form-group {
  margin-bottom: 0px;
}
.discover-field-filter-toggle {
  color: #ffffff;
  font-size: 9px;
}
.sidebar-item button.discover-field-toggle {
  display: none;
  font-size: 9px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px 10px;
}
.sidebar-item:hover:hover button.discover-field-toggle {
  display: inherit;
}
.discover-field-details-close {
  text-align: center;
  border-top: 1px solid transparent;
  background-color: #ecf0f1;
}
.discover-field-details-close:hover {
  background-color: #cfd9db;
  color: #46525d;
}
.discover-field-details {
  border-top: 1px solid transparent;
  padding: 5px 10px;
  background-color: #ffffff;
  color: #46525d;
}
.discover-field-details .discover-field-details-count {
  white-space: nowrap;
}
.discover-field-details a {
  color: #31c471 !important;
}
.discover-field-details a.btn {
  color: #46525d !important;
}
.discover-field-details .discover-field-details-error {
  margin-top: 5px;
}
.discover-field-details .discover-field-details-item {
  margin-top: 5px;
}
.discover-field-details .discover-field-details-filter {
  cursor: pointer;
}
.discover-field-details .progress {
  margin-bottom: 0px;
}
.discover-field-details .progress .progress-bar {
  padding-left: 10px;
  text-align: right;
  line-height: 20px;
}
.discover-field-details .progress .progress-bar span {
  background-color: #95a5a6;
  padding: 3px;
  border-radius: 4px;
  font-size: 0.8em;
  margin-left: 3px;
  margin-right: 3px;
}
field-name > i,
[field-name] > i {
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  width: 12px;
  color: #b4bcc2;
}
field-name.no-results,
[field-name].no-results {
  color: #b4bcc2;
}
disc-field-chooser ul.discover-selected-fields {
  /* If only _source is presend in the selected fields list, hide its toggle button */
}
disc-field-chooser ul.discover-selected-fields li:first-child:nth-last-child(1)[field=_source] button.discover-field-toggle {
  display: none;
}
