.TextBasedLangEditor .monaco-editor {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.TextBasedLangEditor .monaco-editor .monaco-hover {
  display: none !important;
}

.TextBasedLangEditor--expanded .monaco-editor .monaco-hover {
  display: block !important;
}

.TextBasedLangEditor .monaco-editor .margin {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.TextBasedLangEditor--compact .monaco-editor {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.TextBasedLangEditor--compact .monaco-editor .margin {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: $euiColorLightestShade;
  color: $euiColorDisabledText;
}

.TextBasedLangEditor .monaco-editor .margin-view-overlays .line-numbers {
  color: $euiColorDisabledText;
}

.TextBasedLangEditor .monaco-editor .current-line ~ .line-numbers {
  color: $euiTextSubduedColor;
}

.TextBasedLangEditor--compact .monaco-editor .monaco-scrollable-element {
  margin-left: 4px;
}

.TextBasedLangEditor_errorMessage {
  @include euiTextBreakWord;
}