.TextBasedLangEditor .monaco-editor {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.TextBasedLangEditor .monaco-editor .monaco-hover {
  display: none !important;
}

.TextBasedLangEditor--expanded .monaco-editor .monaco-hover {
  display: block !important;
}

.TextBasedLangEditor .monaco-editor .margin {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.TextBasedLangEditor--compact .monaco-editor {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.TextBasedLangEditor--compact .monaco-editor .margin {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: $euiColorLightestShade;
  color: $euiColorDisabledText;
}

.TextBasedLangEditor .monaco-editor .margin-view-overlays .line-numbers {
  color: $euiColorDisabledText;
}

.TextBasedLangEditor .monaco-editor .current-line ~ .line-numbers {
  color: $euiTextSubduedColor;
}

.TextBasedLangEditor--compact .monaco-editor .monaco-scrollable-element {
  margin-left: 4px;
}

.TextBasedLangEditor_errorMessage {
  @include euiTextBreakWord;
}

.mySourcePill {
	background: lightblue;
  padding: 5px;
  box-shadow: 0 0 #0000, inset 0 0 0 1px #bcc3ce;
  // background-color: #fbfcfd;
  color: #343741;
  cursor: pointer;
}

.popoverHeader {
  line-height: 1.4286rem;
  font-weight: 700;
  color: rgb(26, 28, 33);
  border-block-end: 1px solid rgb(211, 218, 230);
  margin-block: -16px 16px;
  margin-inline: -16px;
  padding: 8px;
}

div:has(> .integrationWrapper) {
  max-height: 200px;
  overflow-y: auto;
}
