@import (reference) "~ui/styles/variables";

.ui-ace-keyboard-hint {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.ui-ace-keyboard-hint-inactive {
  display: none;
}

.ui-ace-keyboard-hint:focus {
  opacity: 1;
  border: 2px solid @globalColorBlue;
  z-index: 1000;
}
