.tvbMarkdown {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  position: relative;
}

.tvbMarkdown__content {
  @include euiScrollBar;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  &--middle {
    justify-content: center;
  }

  &--bottom {
    justify-content: flex-end;
  }

  &-isScrolling {
    overflow: auto;
  }
}


