@import (reference) "../../style/variables.less";


.canvas__element--grid {
  padding: 10px;

  table {
    width: 100%;
    table-layout: fixed;
  }

  .canvas__element--grid-label {
    padding-right: 20px;
    font-size: 0.9em;
    font-weight: 100;
  }

  .canvas__element--grid-block {
    margin: @spacingXS;
    display: inline-block;

    .fa {
      display: block;
      font-size: 2em;
    }
  }

  th.canvas__element--grid-label {
    text-align: center;
  }

  td:not(.canvas__element--grid-label) {
    text-align: center;
    vertical-align: top;
  }

  tr {
    height: 30px;
  }
}
