.kuiPageBody {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 400px; // Temporary till we have a better doc system.
}

@include screenXSmall {
  .kuiPageBody {
    flex-direction: column;
  }
}

