.rework--warning {
  opacity: 0.3;
  background-size: 50% 50%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.rework--warning-content {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
