@import '../../../../src/ui/public/styles/styling_constants';

// Discover styles
@import './discover/index';

// Home styles
@import './home/index';

// Dashboard styles
// MUST STAY AT THE BOTTOM BECAUSE OF DARK THEME IMPORTS
@import './dashboard/index';
