<th width="1%"></th>
<th ng-if="indexPattern.timeFieldName">
  <span ng-click="sort(indexPattern.timeFieldName)" tooltip="Sort by time">Time <i ng-class="headerClass(indexPattern.timeFieldName)"></i></span>
</th>
<th ng-repeat="name in columns">
  <span ng-click="sort(name)" class="table-header-name" tooltip="{{tooltip(name)}}">
    {{name | shortDots}} <i ng-class="headerClass(name)"></i>
  </span>
  <span class="table-header-move">
    <i ng-click="moveLeft(name)" class="fa fa-angle-double-left" ng-show="!$first" tooltip="Move column to the left"></i>
    <i ng-click="moveRight(name)" class="fa fa-angle-double-right" ng-show="!$last" tooltip="Move column to the right"></i>
  </span>
</th>