@import (reference) "../../style/variables";

.canvas__argtype {
  padding: @spacingM;
  border-bottom: @borderStyle;
}

.canvas__argtype__arg {
  display: flex;
}

.canvas__argtype__arg--controls {
  flex: 1 0;
}

.canvas__argtype__arg--remove {
  padding-left: @spacingS;
  margin: auto;
  cursor: pointer;
}

.canvas__argtype__add {
  display: inline-block;

  .label {
    margin: @spacingXXS;
    cursor: pointer;
  }
}
