@import (reference) "~ui/styles/variables";

doc-table {
  overflow: auto;
  flex: 1 1 100%;

  .discover-table-datafield {
    white-space: pre-wrap;

    // break-word is what we really want but it hasn't been added to the standard and adopted by all browsers yet,
    // so we provide break-all as a fallback
    word-break: break-all;
    word-break: break-word;
  }

  .discover-table-sourcefield {
    word-break: break-all;
    word-break: break-word;
  }

  .loading {
    opacity: @loading-opacity;
  }

  .spinner {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    z-index: 20;
    opacity: @loading-opacity;
  }
}

.kuiDocumentDetails {
  display: flex;
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ecf0f1;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.kuiDocumentSource {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.kuiDocumentSourceItem {
  width: 300px;
  padding: 4px 2px 0;
  margin-right: 2px;
}

  .kuiDocumentSourceItem__term {
    word-wrap: break-word;
    font-weight: bold;
  }

  .kuiDocumentSourceItem__description {
    word-wrap: break-word;
    padding-bottom: 4px;
  }
