<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>Last Elasticsearch Query</h3>
</div>
<div class="modal-body">

  <div>
    <pre>curl -XGET '{{config.elasticsearch}}/{{dashboard.indices|stringify}}/_search?pretty' -d '{{inspector}}'
    </pre>
  </div>
  
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" onclick="window.open('export.php?url={{config.elasticsearch}}&indices={{dashboard.indices|stringify}}&export={{base64inspector}}','popUpWindow','height=400,width=600,left=10,top=10,,scrollbars=yes,menubar=no'); return false;">Export Logs</button>
  <button type="button" class="btn btn-success" ng-click="dismiss()">Close</button>
</div>
