<div class="modal-body">
	<div class="pull-right editor-title">{{panel.type}} settings</div>

	<tabset>
		<tab heading="General">
			<div ng-include src="'app/partials/panelgeneral.html'"></div>
		</tab>
		<tab heading="Panel">
			<div ng-include src="edit_path(panel.type)"></div>
		</tab>

		<tab ng-repeat="tab in panelMeta.editorTabs" heading="{{tab.title}}">
			<div ng-include src="tab.src"></div>
		</tab>
	</tabset>
	
</div>

<div class="modal-footer">
	<!-- close_edit() is provided here to allow for a scope to perform action on dismiss -->
	<button type="button" class="btn btn-danger" ng-click="editor.index=0;close_edit();dismiss()">Close</button>
</div>