/**
 * 1. Copied from FontAwesome's .fa class. We use a custom class to make it easier to migrate away
 *    from FontAwesome someday. When we do migrate away, we can just update this definition.
 */
.kuiIcon {
  display: inline-block; /* 1 */
  font: normal normal normal 14px/1 FontAwesome; /* 1 */
  font-size: inherit; /* 1 */
  text-rendering: auto; /* 1 */
  -webkit-font-smoothing: antialiased; /* 1 */
  -moz-osx-font-smoothing: grayscale; /* 1 */
}

.kuiIcon--info {
  color: $infoColor;
}

.kuiIcon--success {
  color: $successColor;
}

.kuiIcon--warning {
  color: $warningColor;
}

.kuiIcon--error {
  color: $errorColor;
}

.kuiIcon--inactive {
  color: $inactiveColor;
}

.kuiIcon--basic {
  color: #565656;
}
