@import (reference) "~ui/styles/mixins.less";

.input-control-vis {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .horizontal-layout {
    display: flex;
  }

  .vertical-layout {
    display: flex;
    flex-direction: column;
  }

  .input-control {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    margin-top: 10px;
  }

  .input-control > span {
    width: 120px;
  }

  .input-range {
    margin-left: 25px;
    margin-right: 15px;
  }

  .terms-select {
    flex: 1 1 auto;
  }
}
