.terms-vis {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .horizontal-layout {
    display: flex;
  }

  .vertical-layout {
    display: flex;
    flex-direction: column;
  }

  .terms-field {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
  }

  .terms-select {
    margin-right: 5px;
    flex: 1 1 auto;
  }
}

.terms-vis-editor {
  .field-section {
    margin-top: 15px;
  }
}
