.kuiDescriptionList {
  .kuiDescriptionList__title {
    font-weight: $kuiFontWeightMedium;
  }

  .kuiDescriptionList__desc {
    color: $kuiColorDarkShade;
  }

  &.kuiDescriptionList--row {
    .kuiDescriptionList__title {
      @include kuiFontSizeM;
      margin-top: $kuiSize;

      &:first-of-type {
        margin-top: 0;
      }
    }

    .kuiDescriptionList__desc {
      @include kuiFontSizeS;
    }

    &.kuiDescriptionList--center {
      text-align: center;
    }

    &.kuiDescriptionList--right {
      text-align: right;
    }
  }


  &.kuiDescriptionList--column {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    > * {
      margin-top: $kuiSize;
    }

    // First two items don't have margin
    > *:first-child, >:nth-child(2) {
      margin-top: 0;
    }

    .kuiDescriptionList__title {
      @include kuiFontSizeM;
      flex-basis: 50%;
      padding-right: $kuiSizeS;
    }

    .kuiDescriptionList__desc {
      @include kuiFontSizeM;
      flex-basis: 50%;
      padding-left: $kuiSizeS;
    }

    &.kuiDescriptionList--center {
      .kuiDescriptionList__title {
        text-align: right;
      }
    }
  }
}
