.kuiStatusText {
  display: inline-flex;
  align-items: baseline;
}

.kuiStatusText--info {
  color: $globalInfoColor;
}

.kuiStatusText--success {
  color: $globalSuccessColor;
}

.kuiStatusText--warning {
  color: $globalWarningColor;
}

.kuiStatusText--error {
  color: $globalDangerColor;
}

.kuiStatusText__icon {
  margin-right: 6px;
}
