.kuiStatusText {
  display: inline-flex;
  align-items: baseline;
  font-weight: 700;
}

.kuiStatusText--info {
  color: $infoColor;
}

.kuiStatusText--success {
  color: $successColor;
}

.kuiStatusText--warning {
  color: $warningColor;
}

.kuiStatusText--error {
  color: $errorColor;
}

  .kuiStatusText__icon {
    margin-right: 6px;
  }
