.kuiAccordianForm__children {
  padding: $kuiSizeL;
}

.kuiAccordianForm__extraAction {
  opacity: 0;
  transition: opacity $kuiAnimSpeedNormal $kuiAnimSlightResistance;

  &:focus {
    opacity: 1;
  }
}

.kuiAccordianForm__title {
  display: inline-block;
}

.kuiAccordianForm__button {
  padding: $kuiSize;

  &:hover {
    text-decoration: none;

    .kuiAccordianForm__title {
      text-decoration: underline;
    }
  }

  &:focus {
    text-decoration: none;
    background-color: transparent;

    .kuiAccordianForm__title {
      text-decoration: underline;
      background-color: $kuiFocusBackgroundColor;
      outline: solid $kuiSizeXS / 2 $kuiFocusBackgroundColor;
    }
  }
}
.kuiAccordianForm {
  border-top: $kuiBorderThin;
  border-bottom: $kuiBorderThin;

  & + .kuiAccordianForm {
    border-top: none;
  }

  &:hover {
    .kuiAccordianForm__extraAction {
      opacity: 1;
      visibility: visible;
    }
  }
}
