  - kv:
      field: message
      field_split: '{{ kvInput.field_split }}'
      value_split: '{{ kvInput.value_split }}'
      trim_key: '{{ kvInput.trim_key }}'
      trim_value: '{{ kvInput.trim_value }}'
      target_field: '{{ packageName }}.{{ dataStreamName }}'
