<div id="fatal-splash-screen-header" class="container">
  <center>
    <h1>Oops!</h1>
    <p>
      Looks like something went wrong. Refreshing may do the trick.
    </p>

    <p>
      <button class="btn btn-success" onclick="window.history.back();">
        Go back
      </button>
      or
      <a
        onclick="localStorage.clear(); sessionStorage.clear(); window.location.hash = ''; window.location.reload();"
        href="#" >
        clear your session
      </a>
    </p>
  </center>
  <div id="fatal-splash-screen">
  </div>
</div>