body {
  margin: 0;
  overflow: hidden;
}

body.fouc {
  display: none;
}

.pull-right-btn {
  float: right;
  margin-right: 5px;
}

.pull-right-btn:first-of-type {
  margin-right: 0;
}

#es_method {
  width: 100px;
}

#editor_actions {
  position: absolute;
  top: 47px;
  right: 100%;
  line-height: 1;
  margin-right: -468px;
  z-index: 100;
}

#editor_actions > .btn-group > a {
  padding: 2px 4px;
}

#editor_actions > .btn-group > a:hover {
  padding: 2px 4px;
  text-decoration: none;
}

.overlay {
  background-color: #000;
  opacity: 0.5;
  z-index: 100;
}

#editor_container {
  position: absolute;
  top: 50px;
  bottom: 5px;
  left: 5px;
  width: 468px;
}

#output_container {
  position: absolute;
  top: 50px;
  bottom: 5px;
  left: 488px;
  right: 5px;
  min-width: 700px;
}

#output, #editor {
  height: 100%;
}

.ace_gutter {
  margin-top: 1px;
}

#autocomplete {
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  margin-top: 22px;
  /*font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;*/
  /*font-size: 12px;*/
  /*max-height: 100px;*/
  /*overflow-y: auto;*/
  /* prevent horizontal scrollbar */
  /*overflow-x: hidden;*/
}

.ui-state-focus {
  margin: auto !important;
}

#history_popup {
  width: 90%;
  margin-left: -45%;
  height: 90%;
  top: 5%;
  margin-top: 0;
}

#history_popup .modal-body {
  position: relative;
  max-height: none;
  height: 100%;
}

#history_popup .modal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* by pass body overlay*/
  z-index: 10;
}

#history_popup .modal-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* by pass ace gutter */
  z-index: 10;
}

#history_popup .nav {
  position: absolute;
  width: 400px;
  left: 0;
  top: 60px;
  bottom: 70px;
  overflow-y: auto;
}

#help_example_container,
#welcome_example_container {
  width: 100%;
  height: 10em;
  margin: 10px 0;
  position: relative;
}

#help_example_editor,
#welcome_example_editor {
  height: 100%;
}

.icon-chevron-right {
  position: absolute;
  right: 10px;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}

#history_popup .nav a {
  display: block;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}

#history_popup .nav li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

#history_popup .nav li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

#history_viewer {
  position: absolute;
  left: 430px;
  right: 0;
  margin-right: 9px;
  top: 60px;
  bottom: 70px;
}

#history_viewer_editor {
  height: 100%;
}

#welcome_popup {
  top: 40%;
}

#welcome_popup .modal-body {
  max-height: 600px;
}

.ui-autocomplete {
  z-index: 400 !important;
}

.ace_editor {
  line-height: normal;
}

.out_of_screen {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin-left: -1000px;
}

.ace_layer.ace_marker-layer {
  overflow: visible;
}

.ace_snippet-marker {
  position: absolute;
  width: 100% !important;
}

.ui-resizable-e {
  cursor: ew-resize;
  width: 10px;
  right: -5px;
  top: 0;
  bottom: 0;
  background-color: transparent;
  position: absolute;
  z-index: 50 !important;
}

.ui-resizable-e:hover {
  background-color: rgba(194, 193, 208, 0.80);
}

.ui-resizable-e.active {
  background-color: rgba(194, 193, 208, 100);
}

/** COPIED FROM BOOTSTRAP, MODIFIED SELECTORS **/
.dropdown-menu li > a.zeroclipboard-is-hover,
.dropdown-menu li > a.zeroclipboard-is-active {
  color: #FFF;
  text-decoration: none;
  background-color: #0081C2;
  background-image: -moz-linear-gradient(top, #08c, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#0077B3));
  background-image: -webkit-linear-gradient(top, #08C, #0077B3);
  background-image: -o-linear-gradient(top, #08c, #0077b3);
  background-image: linear-gradient(to bottom, #08C, #0077B3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

/** END COPIED **/