{
  "plugins": [
    "transform-object-rest-spread",
    "transform-async-to-generator"
  ],
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}