**/*.js.snap
__tmp__
/.es
/.chromium
/build
/built_assets
/config/apm.dev.js
/data
/html_docs
/optimize
/plugins
/test/fixtures/scenarios
/x-pack/build
node_modules
target
snapshots.js

!/.eslintrc.js
!.storybook
!.buildkite

# plugin overrides
/src/platform/plugins/shared/data/common/es_query/kuery/ast/_generated_/**
/x-pack/platform/plugins/private/canvas/canvas_plugin
/x-pack/platform/plugins/private/canvas/shareable_runtime/build
/x-pack/platform/plugins/private/canvas/storybook/build
/x-pack/platform/plugins/private/reporting/server/export_types/printable_pdf/server/lib/pdf/assets/**
/x-pack/platform/plugins/private/reporting/server/export_types/printable_pdf_v2/server/lib/pdf/assets/**
/x-pack/platform/plugins/private/cloud_integrations/cloud_full_story/server/assets/**

# package overrides
/packages/kbn-eslint-config
/packages/kbn-plugin-generator/template
/packages/kbn-generate/templates
/packages/kbn-test/src/functional_test_runner/__tests__/fixtures/
/packages/kbn-test/src/functional_test_runner/lib/config/__tests__/fixtures/
/src/platform/packages/shared/kbn-flot-charts/lib
/src/platform/packages/shared/kbn-monaco/src/**/antlr
/src/platform/packages/shared/kbn-esql-ast/src/**/antlr

# Bazel
/bazel-*
