[submodule "javascript-typescript-langserver"]
	path = code/lsp/javascript-typescript-langserver
	url = ../javascript-typescript-langserver
	ignore = untracked
[submodule "kibana"]
	path = code/kibana
	url = ../kibana
[submodule "lsp/java-langserver"]
	path = code/lsp/java-langserver
	url = ../java-langserver
