[submodule "javascript-typescript-langserver"]
	path = lsp/javascript-typescript-langserver
	url = ../javascript-typescript-langserver
	ignore = untracked
[submodule "lsp/eclipse.jdt.ls"]
	path = lsp/eclipse.jdt.ls
	url = ../eclipse.jdt.ls
[submodule "kibana"]
	path = kibana
	url = ../kibana
