/work
/shipper/logs
.idea
/shipper/data
/shipper/target
.DS_Store
*.iml
/shipper/.project
/shipper/.classpath
/shipper/.settings
/shipper/config
/shipper/lib
/vendor/kibana
/node_modules
/build
/packages
/.aws-config.json
