/work
.idea
/agent/logs
/agent/data
/agent/target
/agent/.project
/agent/.classpath
/agent/.settings
/agent/config
/agent/lib
.DS_Store
*.iml
/kibana/vendor/kibana
/node_modules
/build
/.aws-config.json
html_docs
