/node_modules
/.git
/package.json

/bin/*
/config/*
/data/*
/docs/*
/optimize/*
/packages/*
/plugins/*
/scripts/*
/style_guides/*
/tasks/*
/test/*
/ui_framework/*
/utilities/*
/webpackShims/*
/GruntFile.js

/src/babel-preset/*
/src/babel-register/*
/src/cli/*
/src/cli_keystore/*
/src/cli_plugin/*
/src/deprecation/*
/src/dev/*
/src/docs/*
/src/es_archiver/*
/src/fixtures/*
/src/functional_test_runner/*
/src/jest/*
/src/optimize/*
/src/server/*
/src/test_utils/*
/src/ui/*
/src/utils/*

/src/core_plugins/console/*
/src/core_plugins/dev_mode/*
/src/core_plugins/elasticsearch/*
/src/core_plugins/input_control_vis/*
/src/core_plugins/kbn_doc_views/*
/src/core_plugins/kbn_vislib_vis_types/*
/src/core_plugins/kibana/*
/src/core_plugins/markdown_vis/*
/src/core_plugins/metric_vis/*
/src/core_plugins/region_map/*
/src/core_plugins/spy_modes/*
/src/core_plugins/state_session_storage_redirect/*
/src/core_plugins/status_page/*
/src/core_plugins/table_vis/*
/src/core_plugins/tagcloud/*
/src/core_plugins/testbed/*
/src/core_plugins/tests_bundle/*
/src/core_plugins/tile_map/*
/src/core_plugins/timelion/*
