{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "jsx": true,
      "tsx": true,
      "dynamicImport": true,
      "privateMethod": false,
      "functionBind": false,
      "exportDefaultFrom": false,
      "exportNamespaceFrom": false,
      "decorators": false,
      "decoratorsBeforeExport": false,
      "topLevelAwait": false,
      "importMeta": false
    },
    "target": "es5",
    "loose": true,
    "externalHelpers": false,
    "keepClassNames": false,
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
  },
  "module": {
    "type": "commonjs",
    "strict": true,
    "noInterop": false
  },
  "minify": true
}
