language: node_js
node_js: '0.12.7'
install:
  - npm install -g npm@3.2
  - npm install
script: ./node_modules/.bin/grunt travis
sudo: false
cache:
  directories:
  - esvm
  - node_modules
before_cache:
- rm -rf esvm/*/logs esvm/data_dir
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
notifications:
  email:
  - rashid.khan@elastic.co
  hipchat:
    rooms:
      secure: UKrVR+5KztHarodQruQe97UJfwftutD6RNdXlVkr+oIr2GqccisDIIN9pAzS/kxl+eAnP1uT6VHzc9YI/jgbrmiSkz3DHViw+MwDwY2aIDgI8aHEbd/4B2ihtb15+OYTVbb+lytyz4+W8A8hSmbkTR/P/uFIJ+EYcBeYZfw1elo=
    format: html
    on_success: change
    template:
    - ! '%{repository_slug}/%{branch} by %{author}: %{commit_message} (<a href="%{build_url}">open</a>)'
