# Configure an offline yarn mirror in the data folder
yarn-offline-mirror ".yarn-local-mirror"

# Always look into the cache first before fetching online
--install.prefer-offline true

# Disable interactive and progress logs as yarn install is now
# managed by Bazel and we are piping the logs from the underlying
# process running bazel into the parent one running kbn
--install.non-interactive true
--install.no-progress true
