# Configure an offline yarn mirror in the data folder
yarn-offline-mirror ".yarn-local-mirror"

# Enable auto pruning in the local mirror to auto remove unused packages
yarn-offline-mirror-pruning true

# Always look into the cache first before fetching online
--install.prefer-offline true
