# Configure an offline yarn mirror in the data folder
yarn-offline-mirror ".yarn-local-mirror"

# Always look into the cache first before fetching online
--install.prefer-offline true

# Install scripts are managed by `yarn kbn bootstrap` via @kbn/yarn-install-scripts
ignore-scripts true
