<style type="text/css">
.marvel-confirmation-form .span3 {
  text-align: left;
}
.marvel-confirmation-form .span6 {
  text-align: left;
}

.marvel-confirmation-form .note {
  font-size: 12px;
  color: #CCC;
}
.marvel-confirmation-form form input,
.marvel-confirmation-form form select {
  color: #FFF;
}
.marvel-confirmation-form form input.ng-invalid,
.marvel-confirmation-form form select.ng-invalid {
  color: #FF9C9C;
}
</style>
<div class="marvel-confirmation-form modal-body" style="text-align: center">
  <h2>Thank You For Purchasing Marvel!</h2>
  <p>Please enter the purchase details below.</p>
  <form name="confirmationForm" ng-submit="confirmPurchase();dismiss();">
    <div class="row-fluid">
      <div class="span3 offset3">
        <label>First Name</label>
        <input ng-model="registration.first_name" required="true" type="text" class="span12" />
      </div>
      <div class="span3">
        <label>Last Name</label>
        <input ng-model="registration.last_name" required="true" type="text" class="span12" />
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 offset3">
        <label>Company Name</label>
        <input ng-model="registration.company" required="true" type="text" class="span12" />
      </div>
    </div>
    <div class="row-fluid">
      <div class="span6 offset3">
        <label>Order Number or Support Quote Reference<br><span class="note">This can be found either on your signed order form or the order confirmation email.</span></label>
        <input ng-model="registration.order_number" required="true" type="text" ng-pattern="/^(\d{4}|Q-\S{7}|\d{8})$/" class="span12" />
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 form-actions" style="text-align: center;">
        <button class="btn btn-success" ng-disabled="confirmationForm.$invalid">Send Confirmation</button> <a class="btn" ng-click="options.showConfirmation = false">Cancel</a>
      </div>
    </div>
  </form>
</div>
