@import '@elastic/eui/src/components/form/mixins';
@import '@elastic/eui/src/components/form/variables';

/**
 * 1.  Allow wrapping of long filter items
 */

.globalFilterItem {
  line-height: $euiSize;
  border: none;
  color: $euiTextColor;
  padding-top: $euiSizeM / 2;
  padding-bottom: $euiSizeM / 2;
  white-space: normal; /* 1 */

  .euiBadge__childButton {
    flex-shrink: 1; /* 1 */
  }

  &:not(.globalFilterItem-isDisabled) {
    @include euiFormControlDefaultShadow;
  }
}

.globalFilterItem-isDisabled {
  background-color: transparentize($euiColorLightShade, .4);
  text-decoration: line-through;
  font-weight: $euiFontWeightRegular;
  font-style: italic;
}

.globalFilterItem-isPinned {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $euiSizeXS;
    background-color: $euiColorVis0;
    border-top-left-radius: $euiBorderRadius / 2;
    border-bottom-left-radius: $euiBorderRadius / 2;
  }
}

.globalFilterItem__editorForm {
  padding: $euiSizeM;
}

.globalFilterItem__popover,
.globalFilterItem__popoverAnchor {
  display: block;
}
