<button
  class="button toggle-button"
  ng-click="toggle()"
  ng-class="{active:dropdownVisible}">
  Current URL
  <span aria-hidden="true" class="fa fa-caret-down"></span>
</button>
<div class="class1" ng-show="dropdownVisible" ng-style="dropdownStyle">
  <div class="class2">
    <span class="class3">Choose the type of URL to share</span>
    <button
      class="class4">
      <span aria-hidden="true" class="fa fa-close"></span>
    </button>
  </div>
  <div class="class5">
    <div class="class6"><span aria-hidden="true" class="fa fa-check"></span></div>
    <div class="class9">
      <div class="class7">Current URL</div>
      <div class="class8">
        The URL will link back to this page in the exact state that it is in now. If this saved visualization changes
        in the future, those changes will not be reflected.
      </div>
    </div>
  </div>
  <div class="class5">
    <div class="class6"></div>
    <div class="class9">
      <div class="class7">Saved Object</div>
      <div class="class8">
        The URL will link back to the saved visualization, and will always show the most recently saved version.
      </div>
    </div>
  </div>
  <div class="class5">
    <div class="class6"><span aria-hidden="true" class="fa fa-question-circle"></span></div>
    <div class="class9">
      <div class="class8">Learn more about shared URLs</div>
    </div>
  </div>
</div>

<style>
  dropdown-button {
    position: relative;
    display: inline-block;
  }

  .class1 {
    border: 1px solid #CCC;
    width: 400px;
    top: 35px;
    position: absolute;
    background: #FFF;
  }

  .class2 {
    display: flex;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
  }

  .class3 {
    margin: 5px;
    display: inline-block;
    width:100%;
  }

  .class4 {
    color: #bbb;
    background-color: transparent;
  }

  .class5 {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }

  .class5:hover {
    background-color: #CCC;
    color: #FFF;
  }

  .class6 {
    width: 20px;
  }

  .class7 {
    font-weight: bold;
    font-size: 15px;
  }

  .class5 .class8 {
    color: #999;
  }
  .class5:hover .class8 {
    color: #FFF;
  }

  .class9 {
    width: 100%;
  }
</style>
