@import '../styles/bootstrap/variables.less';

.kbn-intervalpicker {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  
  .kbn-refresh-section {
    float: left;
    padding: 0 15px;
  }
}
