.disabledLabVisualization {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.disabledLabVisualization__icon {
  font-size: 2em;
}
