@import '../styles/bootstrap/variables.less';
.kbn-timepicker {
  [kbn-time-input] {
    text-align: center;
  }
  .kbn-timepicker-modes {
    text-transform: capitalize;
  }
  .kbn-timepicker-section {
    float: left;
    padding: 0px 15px;
  }
  .kbn-refresh-section {
    float: left;
    padding: 0px 15px;
  }
  .kbn-timepicket-alert {
    width: 100px;
  }
  .kbn-timepicker-error {
    color: @brand-danger;
  }
}
