<div class="kbn-timepicker">

  <div class="tab-content kbn-timepicker-content">

    <!-- Filters -->
    <div ng-show="activeTab === 'filter'" role="tabpanel" class="tab-pane active">
      <div class="kuiLocalDropdownTitle kbn-timepicker-title">
        <div class="kbn-timepicker-title__section">
          Time Range
        </div>
        <ul class="nav nav-pills kbn-timepicker-modes kbn-timepicker-title__section">
          <li ng-class="{active: mode === 'quick' }">
            <a
              class="kbn-timerpicker-nav-button"
              ng-click="setMode('quick')"
              kbn-accessible-click
            >
              quick
            </a>
          </li>
          <li ng-class="{active: mode === 'relative' }">
            <a
              class="kbn-timerpicker-nav-button"
              ng-click="setMode('relative')"
              kbn-accessible-click
            >
              relative
            </a>
          </li>
          <li ng-class="{active: mode === 'absolute' }">
            <a
              class="kbn-timerpicker-nav-button"
              ng-click="setMode('absolute')"
              kbn-accessible-click
            >
              absolute
            </a>
          </li>
        </ul>
      </div>
      <div ng-switch on="mode">
        <kbn-timepicker-quick-panel
          ng-switch-when="quick"
          set-quick="setQuick(from, to)"
        ></kbn-timepicker-quick-panel>

        <kbn-timepicker-relative-panel
          ng-switch-when="relative"
          apply-relative="applyRelative()"
          check-relative="checkRelative()"
          format-relative="formatRelative(key)"
          relative="relative"
          relative-options="relativeOptions"
          set-relative-to-now="setRelativeToNow(key)"
          units="units"
        ></kbn-timepicker-relative-panel>

        <kbn-timepicker-absolute-panel
          ng-switch-when="absolute"
          absolute="absolute"
          apply-absolute="applyAbsolute()"
          format="format"
          pick-from-date="pickFromDate"
          pick-to-date="pickToDate"
          set-to-now="setToNow(key)"
        ></kbn-timepicker-absolute-panel>
      </div>
    </div>

    <!-- Refresh Intervals -->
    <div ng-show="activeTab === 'interval'" role="tabpanel" class="tab-pane active">
      <div class="kuiLocalDropdownTitle">Refresh Interval</div>
      <div ng-repeat="list in refreshLists" class="kbn-refresh-section">
        <ul class="list-unstyled">
          <li ng-repeat="inter in list">
            <a
              class="refresh-interval"
              ng-class="{ 'refresh-interval-active': interval.value === inter.value }"
              ng-click="setRefreshInterval(inter)"
              kbn-accessible-click
            >
              {{inter.display}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
