.kbn-timepicker {
  display: flex;
  justify-content: flex-end;

  .kbn-timepicker-content {
    width: 100%;
    max-width: 600px;
  }

  [kbn-time-input] {
    text-align: center;
  }
  .kbn-timepicker-modes {
    text-transform: capitalize;
  }
  .kbn-timepicker-section {
    float: left;

    & + .kbn-timepicker-section {
      padding-left: 15px;
    }
  }
  .kbn-timepicker-quick-section {
    width: 25%;
  }
  .kbn-timepicker-body {
    display: flex;
    align-items: top;
    justify-content: stretch;
    width: 100%;

    @media (max-width: 660px) {
      flex-direction: column;
    }
  }
  .kbn-timepicker-body-column {
    width: 100%;
  }
  .kbn-timepicker-form-header {
    margin-bottom: 0 !important;
  }
  .kbn-timepicker-actions {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }
  .kbn-timepicker-action-item,
  .kbn-timepicker-submit-button {
    margin-left: 10px;
  }
  .kbn-timepicker-submit-button {
    min-width: 100px;
  }
  .kbn-refresh-section {
    float: left;
    padding: 0px 15px;
  }
  .kbn-timepicket-alert {
    width: 100px;
  }
  .kbn-timepicker-error {
    color: @brand-danger;
  }
  .kbn-timepicker-title {
    display: flex;
    justify-content: space-between;
  }
  /**
   * 1. Override kuiLocalNav styles.
   */
  .kbn-timepicker-title__text {
    margin-bottom: 0 !important; /* 1 */
  }
  .kbn-timepicker-title__section {
    display: flex;
    align-items: center;
  }
  /**
   * Avoid last nav overlapping collapse button
   */
  .nav:last-child {
    margin-right: 24px;
  }

  .refresh-interval {
    padding: 0.2em 0.4em;
    border-radius: @border-radius-small;
  }

  .refresh-interval-active {
    background-color: @brand-info;
    color: @white;
  }
}

.navbar-timepicker-time-desc > .fa-clock-o {
  padding-right: 5px;
}
