.variableBadge {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding-block: 0px;
  padding-inline: 2px;
  max-inline-size: 100%;
  font-size: 0.8571rem;
  line-height: 18px;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  text-align: start;
  background-color: #ffc7db;
}