// Animations

$kuiAnimSlightBounce: $euiAnimSlightBounce;
$kuiAnimSlightResistance: $euiAnimSlightResistance;
$kuiAnimSpeedVeryFast: $euiAnimSpeedExtraFast;
$kuiAnimSpeedFast: $euiAnimSpeedFast;
$kuiAnimSpeedNormal: $euiAnimSpeedNormal;
$kuiAnimSpeedSlow: $euiAnimSpeedSlow;
$kuiAnimSpeedVerySlow: $euiAnimSpeedExtraSlow;
