// True colors

$kuiColorBlue: $euiColorPrimary;
$kuiColorTeal: $euiColorSecondary;
$kuiColorRed: $euiColorDanger;
$kuiColorLightestGray: $euiColorLightestShade;
$kuiColorLightGray: $euiColorLightShade;
$kuiColorMediumGray: $euiColorMediumShade;
$kuiColorDarkGray: $euiColorDarkShade;
$kuiColorDarkestGray: $euiColorDarkestShade;
$kuiColorBlack: $euiColorFullShade;
$kuiColorWhite: $euiColorGhost;
$kuiColorEmptyShade: $euiColorEmptyShade;
$kuiColorLightestShade: $euiColorLightestShade;

// Normal colors

$kuiTextColor: $euiTextColor;
$kuiLinkColor: $euiColorPrimary;
$kuiLinkColor-isHover: darken($kuiLinkColor, 10%);
$kuiInputTextColor: $kuiTextColor;
$kuiInputBackgroundColor: $kuiColorWhite;
$kuiInputBorderColor: $euiBorderColor;

// Dark theme colors

$kuiTextColor--darkTheme: #DDD;
$kuiBackgroundColor--darkTheme: #222;
$kuiLinkColor--darkTheme: #4DA1C0;
$kuiLinkColor-isHover--darkTheme: #def2f6;
$kuiInputTextColor--darkTheme: $kuiTextColor--darkTheme;
$kuiInputBackgroundColor--darkTheme: #1b1b1b;
$kuiInputBorderColor--darkTheme: #333;

// Colors

$kuiInfoColor: $euiColorPrimary;
$kuiInactiveColor: $euiColorLightShade;
$kuiSuccessColor: $euiColorSecondary;
$kuiWarningColor: $euiColorWarning;
$kuiDangerColor: $euiColorDanger;
$kuiFocusColor: $euiColorPrimary;
$kuiFocusAltBackgroundColor: rgba($kuiInfoColor, 0.2);
$kuiFocusDangerColor: $euiColorDanger;
$kuiFocusWarningColor: $euiColorWarning;
$kuiFocusBackgroundColor: #fff;
$kuiFontColor: $euiTextColor;
$kuiSubduedTextColor: $euiColorDarkShade;
$kuiLinkHoverColor: darken($euiColorPrimary, 10%);
$kuiSelectedBorderColor: $euiColorPrimary;
$kuiDangerBorderColor: $euiColorDanger;
$kuiFormControlBorderColor: transparentize($euiColorFullShade, .9);
