$kuiFormControlHorizontalPadding: 12px;
$kuiFormControlPadding: 3px $kuiFormControlHorizontalPadding 4px;
$kuiFormInputHeight: 30px;
$kuiFormFieldDefaultWidth: 180px;
$kuiFormFieldSmallWidth: 60px;
$kuiFormFieldLargeWidth: 400px;
