$kuiFormControlHorizontalPadding: $euiSizeM;
$kuiFormControlPadding: $euiSizeXS $kuiFormControlHorizontalPadding $euiSizeXS;
$kuiFormInputHeight: $euiSizeXL;
$kuiFormFieldDefaultWidth: 180px;
$kuiFormFieldSmallWidth: 60px;
$kuiFormFieldLargeWidth: $euiFormMaxWidth;
