$screenHeightBreakpoint: $euiSize * 15;

.kbnCollapsibleNav {
  @media (max-height: $screenHeightBreakpoint) {
    overflow-y: auto;
  }
}

.kbnCollapsibleNav__recentsListGroup {
  max-height: $euiSize * 10;
  margin-right: -$euiSizeS;
  @include euiYScroll;
}

.kbnCollapsibleNav__solutions {
  @include euiYScroll;

  /**
   * Allows the solutions nav group to be viewed on
   * very small screen sizes and when the browser Zoom is high
   */
  @media (max-height: $screenHeightBreakpoint) {
    flex: 1 0 auto;
  }
}

/**
 * 1. Increase the hit area of the link (anchor)
 * 2. Only show the text underline when hovering on the text/anchor portion
 */

.kbnCollapsibleNav__solutionGroupButton {
  display: block; /* 1 */

  &:hover {
    text-decoration: none; /* 2 */
  }
}

.kbnCollapsibleNav__solutionGroupLink {
  display: block; /* 1 */

  &:hover {
    text-decoration: underline; /* 2 */
  }
}
