.kbnCollapsibleNav__recentsListGroup {
  @include euiYScroll;
  max-height: $euiSize * 10;
  margin-right: -$euiSizeS;
}

/**
 * 1. Increase the hit area of the link (anchor)
 * 2. Only show the text underline when hovering on the text/anchor portion
 */

.kbnCollapsibleNav__solutionGroupButton {
  display: block; /* 1 */

  &:hover {
    text-decoration: none; /* 2 */
  }
}

.kbnCollapsibleNav__solutionGroupLink {
  display: block; /* 1 */

  &:hover {
    text-decoration: underline; /* 2 */
  }
}

/**
 * Allows the CollapsibleNavGroups to be viewed on
 * very small screen sizes and when the browser Zoom is high
 */
@media (max-height: 15em) {
  .euiCollapsibleNav {
    overflow-y: auto;

    & > .euiFlexItem.eui-yScroll {
      flex-shrink: 0;
      flex-grow: 1;
      flex-basis: auto;
    }
  }
}
