<div ng-controller="stats" ng-init="init()">
  <h1 ng-style="panel.style" style="text-align: center; line-height: .6em">{{data.value|formatstats:panel.format}} <small style="font-size: .5em; line-height: 0;">{{panel.unit}}</small></h1>
  <table ng-show="panel.display_breakdown == 'yes'" cellspacing="0" class="table-hover table table-condensed" style="margin-top: 38px;">
    <tbody>
      <tr>
       <th><a href="" ng-click="set_sort('label')" ng-class="{'icon-chevron-down': panel.sort_field == 'label' && panel.sort_reverse == true, 'icon-chevron-up': panel.sort_field == 'label' && panel.sort_reverse == false}"> {{panel.label_name}} </a></th>
       <th style="text-align: right;"><a href="" ng-click="set_sort('value')" ng-class="{'icon-chevron-down': panel.sort_field == 'value' && panel.sort_reverse == true, 'icon-chevron-up': panel.sort_field == 'value' && panel.sort_reverse == false}"> {{panel.value_name}} </a></th>
      </tr>
      <tr ng-repeat="item in data.rows | orderBy:panel.sort_field:panel.sort_reverse">
        <td><i class="icon-circle" ng-style="{color:item.color}"></i> {{item.label}}</td>
        <td style="text-align: right;">{{item.value|formatstats:panel.format}} {{panel.unit}}</td>
      </tr>
    </tbody>
  </table>
</div>
