.kuiPageHeader {
  margin-bottom: $kuiSizeL;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@include screenXSmall {
  .kuiPageHeader {
    flex-direction: column;
    padding: 0 $kuiSizeL;
    margin-bottom: 0;
  }
}
