// I swear to dog, if you add anything to this file I will **cut you**
// Seriously, add stuff to variables.less, but don't add any colors, just
// darken() and lighten() stuff from this file, and try todo that sparingly.

// @blue: #0096CC;
@blue: #3caed2; // to avoid clashing we'll use Kibana's toolbar blue for now
@aqua: #00A69B;
@red: #DD0973;
@orange: #E5830E;

@trueWhite: #FFF;
@lightestGrey: #F5F5F5;
@lightGrey: #D9D9D9;
@mediumGrey: #999999;
@darkGrey: #666666;
@darkestGrey: #3F3F3F;
@trueBlack: #000;
