@import (reference) './main';

/*
  This file contains all the global scope and bootstrap garbage that should be removed
  when the UI framework implements everything we need
*/

// Give buttons some room to the right
.btn-toolbar {
  .btn {
    margin-right: @spacingXS;
  }
}

.btn-link,
.btn-link:focus,
.btn-link:hover {
  background-color: transparent;
  color: @kibanaBlue2;
}

.btn-link:focus,
.btn-link:hover {
  text-decoration: underline;
}

.text-warning {
  color: @orange;
}

.text-danger {
  color: @red;
}

.clickable {
  cursor: pointer;
}

.popover-content {
  overflow: auto;
}

.form-control[type='checkbox'],
button:focus {
  box-shadow: none !important;
}

.table > thead > tr > th {
  border-bottom: 0px;
}

.muted {
  color: @textSecondary;
}

.popover {
  max-width: 2000px !important; // React-Bootstrap popovers are hardcoded to 276px;
}
