@import '~ui/styles/mixins.less';
@import './variables.less';
@import './hackery.less';

.canvas {
  &.canvas__container {
    display: flex;
    flex-grow: 1;
  }

  a {
    cursor: pointer;
  }

  /*
    Forms
  */
  label {
    font-size: @textXSmall;
    font-weight: normal;
    color: @labelColor;
    margin-bottom: 0px;
  }

  /*
    Headers
  */
  h1,
  h2,
  h3,
  h4 {
    font-weight: 100;
  }

  h1 {
    font-size: @textXXLarge;
  }
  h2 {
    font-size: @textXLarge;
  }
  h3 {
    font-size: @textLarge;
  }
  h4 {
    font-size: @textMedium;
  }

  .canvas__checkered {
    background-image: linear-gradient(45deg, #ddd 25%, transparent 25%),
      linear-gradient(-45deg, #ddd 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #ddd 75%),
      linear-gradient(-45deg, transparent 75%, #ddd 75%);
    background-size: 8px 8px;
  }

  .canvas__confirm_modal {
    color: @trueBlack;
  }
}

// TODO: remove this when 6.2.4 goes out
// hacky fix for issue introduced by https://github.com/elastic/kibana/pull/15542
body .tooltip {
  width: auto;
}
