@import "./colors.less";

// Colors
@colorSecondary: @aqua;
@colorPrimary: @blue;
@background: @lightestGrey;
@border: @lightGrey;
@textSecondary: @darkGrey;
@textMain: @darkestGrey;

@colorDanger: @red;
@colorWarning: @orange;

@cardBackground: @trueWhite;

@titleColor: @trueBlack;
@labelColor: @mediumGrey;

// Fonts
@textXSmall: @textMedium * 0.75;
@textSmall: @textMedium * 0.875;
@textMedium: 16px;
@textLarge: @textMedium * 1.5;
@textXLarge: @textMedium * 2;
@textXXLarge: @textMedium * 3;
@textSize: @textSmall;
// Borders
@borderWidth: 1px;
@borderStyle: @borderWidth solid @border;

// Spacing
@spacingXXS: 2px;
@spacingXS: 4px;
@spacingS: 8px;
@spacingM: 16px;
@spacingL: 24px;
@spacingXL: 32px;
@spacingXXL: 40px;
@spacingXXXL: 48px;
@spacingXXXXL: 64px;
