@import "./colors.less";

// Colors
@colorSecondary: @aqua;
@colorPrimary: @blue;
@background: @lightestGrey;
@border: @lightGrey;
@textSecondary: @darkGrey;
@textMain: @darkestGrey;

@colorDanger: @red;
@colorWarning: @orange;

@cardBackground: @trueWhite;

@titleColor: @trueBlack;
@labelColor: @mediumGrey;

// Fonts
@textXSmall: @textMedium * 0.75; // 12px
@textSmall: @textMedium * 0.875; // 14px
@textMedium: 16px;
@textLarge: @textMedium * 1.5; // 24px
@textXLarge: @textMedium * 2; // 32px
@textXXLarge: @textMedium * 3; // 48px
@textSize: @textSmall;

// Borders
@borderWidth: 1px;
@borderStyle: @borderWidth solid @border;

// Spacing
@spacingXXS: 2px;
@spacingXS: 4px;
@spacingS: 8px;
@spacingM: 16px;
@spacingL: 24px;
@spacingXL: 32px;
@spacingXXL: 40px;
@spacingXXXL: 48px;
@spacingXXXXL: 64px;
