<div class="kuiView">
  <!-- Constrained width, centered content -->
  <div class="kuiViewContent kuiViewContent--constrainedWidth">
    <div class="kuiViewContentItem">

      <div class="kuiHeaderBar">
        <div class="kuiHeaderBarSection">
          <h2 class="kuiSubTitle">
            Cluster of Almonds
          </h2>
        </div>

        <div class="kuiHeaderBarSection">
          <div class="kuiText">
            <a class="kuiLink" href="#">View all 21 almonds</a>
          </div>
        </div>
      </div>

      <ul class="kuiMenu kuiVerticalRhythm">
        <li class="kuiMenuItem">
          <div class="kuiEvent">
            <div class="kuiEventSymbol">
              <span class="kuiIcon kuiIcon--info fa-info"></span>
            </div>

            <div class="kuiEventBody">
              <div class="kuiEventBody__message">
                margarine_masher_toad sitting of 1 is less than opossum of 2
              </div>

              <div class="kuiEventBody__metadata">
                August 4, 2021 02:23:28
              </div>
            </div>
          </div>
        </li>

        <li class="kuiMenuItem">
          <div class="kuiEvent">
            <div class="kuiEventSymbol">
              <span class="kuiIcon kuiIcon--error fa-warning"></span>
            </div>

            <div class="kuiEventBody">
              <div class="kuiEventBody__message">
                Cluster stork is red because 17 pillory stars are unenamored
              </div>

              <div class="kuiEventBody__metadata">
                August 3, 2021 12:00:54
              </div>
            </div>
          </div>
        </li>

        <li class="kuiMenuItem">
          <div class="kuiEvent">
            <div class="kuiEventSymbol">
              <span class="kuiIcon kuiIcon--warning fa-bolt"></span>
            </div>

            <div class="kuiEventBody">
              <div class="kuiEventBody__message">
                Elastic band nematode vision marshmallow directed: 50,100
              </div>

              <div class="kuiEventBody__metadata">
                July 27, 2021 11:20:09
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>
