<div class="kuiMenu">
  <div class="kuiMenuItem">
    <div class="kuiEvent">
      <div class="kuiEventSymbol">
        <span class="kuiIcon kuiIcon--error fa-warning"></span>
      </div>

      <div class="kuiEventBody">
        <div class="kuiEventBody__message">
          minimum_master_nodes setting of 1 is less than quorum of 2
        </div>

        <div class="kuiEventBody__metadata">
          August 4, 2021 02:23:28
        </div>
      </div>
    </div>
  </div>

  <div class="kuiMenuItem">
    <div class="kuiEvent">
      <div class="kuiEventSymbol">
        <span class="kuiIcon kuiIcon--error fa-warning"></span>
      </div>

      <div class="kuiEventBody">
        <div class="kuiEventBody__message">
          Cluster state is red because 17 primary shards are unassigned
        </div>

        <div class="kuiEventBody__metadata">
          August 3, 2021 12:00:54
        </div>
      </div>
    </div>
  </div>

  <div class="kuiMenuItem">
    <div class="kuiEvent">
      <div class="kuiEventSymbol">
        <span class="kuiIcon kuiIcon--warning fa-bolt"></span>
      </div>

      <div class="kuiEventBody">
        <div class="kuiEventBody__message">
          Elasticsearch node version mismatches detected: 5.1.0
        </div>

        <div class="kuiEventBody__metadata">
          July 27, 2021 11:20:09
        </div>
      </div>
    </div>
  </div>
</div>
