<div class="visEditorSidebar__section">
  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="gaugeType"
      i18n-id="kbnVislibVisTypes.controls.gaugeOptions.gaugeTypeLabel"
      i18n-default-message="Gauge Type"
    ></label>
    <div class="visEditorSidebar__formControl">
      <select
        id="gaugeType"
        class="kuiSelect visEditorSidebar__select"
        ng-model="editorState.params.gauge.gaugeType"
        ng-options="mode for mode in collections.gaugeTypes"
      ></select>
    </div>
  </div>

  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="percentageMode"
      i18n-id="kbnVislibVisTypes.controls.gaugeOptions.percentageModeLabel"
      i18n-default-message="Percentage Mode"
    ></label>
    <div class="visEditorSidebar__formControl">
      <input class="kuiCheckBox" id="percentageMode" type="checkbox" ng-model="editorState.params.gauge.percentageMode">
    </div>
  </div>

  <div class="visEditorSidebar__formRow" ng-hide="editorState.params.gauge.type === 'simple'">
    <label
      class="visEditorSidebar__formLabel"
      for="alignment"
      i18n-id="kbnVislibVisTypes.controls.gaugeOptions.alignmentLabel"
      i18n-default-message="Alignment"
    ></label>
    <div class="visEditorSidebar__formControl">
      <select
        id="alignment"
        class="kuiSelect visEditorSidebar__select"
        ng-model="editorState.params.gauge.alignment"
        ng-options="alignment.id as alignment.label for alignment in collections.alignments"
      ></select>
    </div>
  </div>

  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="displayWarnings"
      i18n-id="kbnVislibVisTypes.controls.gaugeOptions.displayWarningsLabel"
      i18n-default-message="Display warnings"
    ></label>

    <div class="visEditorSidebar__formControl">
      <input class="kuiCheckBox" id="displayWarnings" type="checkbox" ng-model="editorState.params.isDisplayWarning">
      &nbsp;
      <icon-tip
        content="'Turns on/off warnings. When turned on, a warning will be shown if not all labels could be displayed.'"
        position="'right'"
      ></icon-tip>
    </div>
  </div>

  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="addLegend"
      i18n-id="kbnVislibVisTypes.controls.gaugeOptions.showLegendLabel"
      i18n-default-message="Show Legend"
    ></label>
    <div class="visEditorSidebar__formControl">
      <input class="kuiCheckBox" id="addLegend" type="checkbox" ng-model="editorState.params.addLegend">
    </div>
  </div>

  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="showLabels"
      i18n-id="kbnVislibVisTypes.controls.gaugeOptions.showLabelsLabel"
      i18n-default-message="Show Labels"
    ></label>
    <div class="visEditorSidebar__formControl">
      <input class="kuiCheckBox" id="showLabels" type="checkbox" ng-model="editorState.params.gauge.labels.show">
    </div>
  </div>

  <div class="visEditorSidebar__formRow" ng-show="editorState.params.gauge.labels.show">
    <label
      class="visEditorSidebar__formLabel"
      for="subText"
      i18n-id="kbnVislibVisTypes.controls.gaugeOptions.subTextLabel"
      i18n-default-message="Sub Text"
    ></label>
    <div class="visEditorSidebar__formControl">
      <input
        id="subText"
        class="kuiInput visEditorSidebar__input"
        ng-model="editorState.params.gauge.style.subText"
        type="text"
      >
    </div>
  </div>


  <div class="visEditorSidebar__collapsible--margin">

    <div id="gaugeOptionsRanges" ng-show="showColorRange">

      <table class="visEditorAgg__rangesTable form-group" ng-show="editorState.params.gauge.colorsRange.length">

        <tr ng-repeat="range in editorState.params.gauge.colorsRange track by $index">
          <td>
            <input
              aria-labelledby="gaugeOptionsCustomRangeFrom"
              ng-model="range.from"
              type="number"
              class="form-control"
              name="range.from"
              greater-or-equal-than="getGreaterThan($index)"
              required
              step="any" />
          </td>
          <td>
            <input
              aria-labelledby="gaugeOptionsCustomRangeTo"
              ng-model="range.to"
              type="number"
              class="form-control"
              name="range.to"
              greater-or-equal-than="range.from"
              required
              step="any" />
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
