<div class="visEditorSidebar__section">
  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="gaugeType"
      i18n-id="kbnVislibVisTypes.controls.gaugeOptions.gaugeTypeLabel"
      i18n-default-message="Gauge Type"
    ></label>
    <div class="visEditorSidebar__formControl">
      <select
        id="gaugeType"
        class="kuiSelect visEditorSidebar__select"
        ng-model="editorState.params.gauge.gaugeType"
        ng-options="mode for mode in collections.gaugeTypes"
      ></select>
    </div>
  </div>

  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="percentageMode"
      i18n-id="kbnVislibVisTypes.controls.gaugeOptions.percentageModeLabel"
      i18n-default-message="Percentage Mode"
    ></label>
    <div class="visEditorSidebar__formControl">
      <input class="kuiCheckBox" id="percentageMode" type="checkbox" ng-model="editorState.params.gauge.percentageMode">
    </div>
  </div>

  <div class="visEditorSidebar__formRow" ng-hide="editorState.params.gauge.type === 'simple'">
    <label
      class="visEditorSidebar__formLabel"
      for="alignment"
      i18n-id="kbnVislibVisTypes.controls.gaugeOptions.alignmentLabel"
      i18n-default-message="Alignment"
    ></label>
    <div class="visEditorSidebar__formControl">
      <select
        id="alignment"
        class="kuiSelect visEditorSidebar__select"
        ng-model="editorState.params.gauge.alignment"
        ng-options="alignment.id as alignment.label for alignment in collections.alignments"
      ></select>
    </div>
  </div>

  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="displayWarnings"
      i18n-id="kbnVislibVisTypes.controls.gaugeOptions.displayWarningsLabel"
      i18n-default-message="Display warnings"
    ></label>

    <div class="visEditorSidebar__formControl">
      <input class="kuiCheckBox" id="displayWarnings" type="checkbox" ng-model="editorState.params.isDisplayWarning">
      &nbsp;
      <icon-tip
        content="'Turns on/off warnings. When turned on, a warning will be shown if not all labels could be displayed.'"
        position="'right'"
      ></icon-tip>
    </div>
  </div>

  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="addLegend"
      i18n-id="kbnVislibVisTypes.controls.gaugeOptions.showLegendLabel"
      i18n-default-message="Show Legend"
    ></label>
    <div class="visEditorSidebar__formControl">
      <input class="kuiCheckBox" id="addLegend" type="checkbox" ng-model="editorState.params.addLegend">
    </div>
  </div>

  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="showLabels"
      i18n-id="kbnVislibVisTypes.controls.gaugeOptions.showLabelsLabel"
      i18n-default-message="Show Labels"
    ></label>
    <div class="visEditorSidebar__formControl">
      <input class="kuiCheckBox" id="showLabels" type="checkbox" ng-model="editorState.params.gauge.labels.show">
    </div>
  </div>

  <div class="visEditorSidebar__formRow" ng-show="editorState.params.gauge.labels.show">
    <label
      class="visEditorSidebar__formLabel"
      for="subText"
      i18n-id="kbnVislibVisTypes.controls.gaugeOptions.subTextLabel"
      i18n-default-message="Sub Text"
    ></label>
    <div class="visEditorSidebar__formControl">
      <input
        id="subText"
        class="kuiInput visEditorSidebar__input"
        ng-model="editorState.params.gauge.style.subText"
        type="text"
      >
    </div>
  </div>

  <div
    class="visEditorSidebar__formRow"
    ng-hide="editorState.params.gauge.type === 'simple'"
    ng-show="editorState.params.gauge.colorsRange.length > 1"
  >
    <label
      class="visEditorSidebar__formLabel"
      for="extendRange"
      i18n-id="kbnVislibVisTypes.controls.gaugeOptions.autoExtendRangeLabel"
      i18n-default-message="Auto Extend Range"
    ></label>
    <div class="visEditorSidebar__formControl">
      <input class="kuiCheckBox" id="extendRange" type="checkbox" ng-model="editorState.params.gauge.extendRange">
      &nbsp;
      <icon-tip
        content="'Extends range to the maximum value in your data'"
        position="'right'"
      ></icon-tip>
    </div>
  </div>

  <div class="visEditorSidebar__collapsible--margin">
    <div class="visEditorSidebar__collapsibleTitle">
      <div
        kbn-accessible-click
        aria-expanded="{{!!showColorRange}}"
        aria-controls="gaugeOptionsRanges"
        aria-label="Toggle range options"
        class="visEditorSidebar__collapsibleTitleLabel"
        ng-click="showColorRange = !showColorRange"
      >
      <icon color="'primary'" aria-hidden="true" ng-if="showColorRange" type="'arrowDown'" size="'s'"></icon>
      <icon color="'primary'" aria-hidden="true" ng-if="!showColorRange" type="'arrowRight'" size="'s'"></icon>

      <span
        class="visEditorSidebar__collapsibleTitleText"
        i18n-id="kbnVislibVisTypes.controls.gaugeOptions.rangesTitle"
        i18n-default-message="Ranges"
      ></span>
      </div>
    </div>

    <div id="gaugeOptionsRanges" ng-show="showColorRange">

      <table class="visEditorAgg__rangesTable form-group" ng-show="editorState.params.gauge.colorsRange.length">
        <tr>
          <th scope="col">
            <label
              id="gaugeOptionsCustomRangeFrom"
              i18n-id="kbnVislibVisTypes.controls.gaugeOptions.fromTitle"
              i18n-default-message="From"
            ></label>
          </th>
          <th scope="col" colspan="2">
            <label
              id="gaugeOptionsCustomRangeTo"
              i18n-id="kbnVislibVisTypes.controls.gaugeOptions.toTitle"
              i18n-default-message="To"
            ></label>
          </th>
        </tr>

        <tr ng-repeat="range in editorState.params.gauge.colorsRange track by $index">
          <td>
            <input
              aria-labelledby="gaugeOptionsCustomRangeFrom"
              ng-model="range.from"
              type="number"
              class="form-control"
              name="range.from"
              greater-or-equal-than="getGreaterThan($index)"
              required
              step="any" />
          </td>
          <td>
            <input
              aria-labelledby="gaugeOptionsCustomRangeTo"
              ng-model="range.to"
              type="number"
              class="form-control"
              name="range.to"
              greater-or-equal-than="range.from"
              required
              step="any" />
          </td>
          <td>
            <button
              type="button"
              ng-click="removeRange($index)"
              ng-show="editorState.params.gauge.colorsRange.length > 1"
              class="kuiButton kuiButton--danger kuiButton--small">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </table>

      <div class="hintbox" ng-show="!editorState.params.gauge.colorsRange.length">
        <p>
          <i class="fa fa-danger text-danger"></i>
          <span
            i18n-id="kbnVislibVisTypes.controls.gaugeOptions.specifiedRangeNumberWarningMessage"
            i18n-default-message="{required} You must specify at least one range."
            i18n-values="{ html_required: '<strong>' + requiredText + '</strong>' }"
          ></span>
        </p>
      </div>

      <div
        ng-click="addRange()"
        class="kuiButton kuiButton--primary kuiButton--fullWidth"
        i18n-id="kbnVislibVisTypes.controls.gaugeOptions.addRangeTitle"
        i18n-default-message="Add Range"
      ></div>
      <div
        class="euiFormHelpText"
        i18n-id="kbnVislibVisTypes.controls.gaugeOptions.howToChangeColorsDescription"
        i18n-default-message="Note: colors can be changed in the legend"
      ></div>

    </div>
  </div>

  <div class="visEditorSidebar__collapsible--margin" ng-show="editorState.params.gauge.colorsRange.length > 1">
    <div class="visEditorSidebar__collapsibleTitle">
      <div
        kbn-accessible-click
        aria-expanded="{{!!showColorOptions}}"
        aria-controls="gaugeOptionsColors"
        aria-label="Toggle color options"
        class="visEditorSidebar__collapsibleTitleLabel"
        ng-click="showColorOptions = !showColorOptions"
      >
      <icon color="'primary'" aria-hidden="true" ng-if="showColorOptions" type="'arrowDown'" size="'s'"></icon>
      <icon color="'primary'" aria-hidden="true" ng-if="!showColorOptions" type="'arrowRight'" size="'s'"></icon>

      <span
        class="visEditorSidebar__collapsibleTitleText"
        i18n-id="kbnVislibVisTypes.controls.gaugeOptions.colorOptionsTitle"
        i18n-default-message="Color Options"
      ></span>
      </div>
    </div>
    <div id="gaugeOptionsColors" ng-if="showColorOptions">

      <div class="visEditorSidebar__formRow">
        <label
          class="visEditorSidebar__formLabel"
          for="colorSchema"
          i18n-id="kbnVislibVisTypes.controls.gaugeOptions.colorSchemaLabel"
          i18n-default-message="Color Schema"
        ></label>
        <div class="visEditorSidebar__formControl">
          <select
            id="colorSchema"
            class="kuiSelect visEditorSidebar__select"
            ng-model="editorState.params.gauge.colorSchema"
            ng-options="mode.id as mode.label for mode in collections.colorSchemas"
          ></select>
        </div>
        <div
          class="text-info text-center"
          ng-show="customColors"
          ng-click="resetColors()"
          i18n-id="kbnVislibVisTypes.controls.gaugeOptions.resetColorsTitle"
          i18n-default-message="reset colors"
        ></div>
      </div>

      <div class="visEditorSidebar__formRow">
        <label
          class="visEditorSidebar__formLabel"
          for="invertColors"
          i18n-id="kbnVislibVisTypes.controls.gaugeOptions.reverseColorSchemaLabel"
          i18n-default-message="Reverse Color Schema"
        ></label>
        <div class="visEditorSidebar__formControl">
          <input class="kuiCheckBox" id="invertColors" type="checkbox" ng-model="editorState.params.gauge.invertColors">
        </div>
      </div>

    </div>
  </div>

  <div class="visEditorSidebar__collapsible--margin">
    <div class="visEditorSidebar__collapsibleTitle">
      <div
        kbn-accessible-click
        aria-expanded="{{!!showStyle}}"
        aria-controls="gaugeOptionsStyle"
        aria-label="Toggle style options"
        class="visEditorSidebar__collapsibleTitleLabel"
        ng-click="showStyle = !showStyle"
      >
        <icon color="'primary'" aria-hidden="true" ng-if="showStyle" type="'arrowDown'" size="'s'"></icon>
        <icon color="'primary'" aria-hidden="true" ng-if="!showStyle" type="'arrowRight'" size="'s'"></icon>

        <span
          class="visEditorSidebar__collapsibleTitleText"
          i18n-id="kbnVislibVisTypes.controls.gaugeOptions.styleTitle"
          i18n-default-message="Style"
        ></span>
      </div>
    </div>
    <div id="gaugeOptionsStyle" ng-if="showStyle">
      <div ng-hide="editorState.params.gauge.type === 'simple'">
        <div class="visEditorSidebar__formRow" ng-show="editorState.params.gauge.colorsRange.length > 1">
          <label
            class="visEditorSidebar__formLabel"
            for="labelColor"
            i18n-id="kbnVislibVisTypes.controls.gaugeOptions.colorLabelsLabel"
            i18n-default-message="Color Labels"
          ></label>
          <div class="visEditorSidebar__formControl">
            <input class="kuiCheckBox" id="labelColor" type="checkbox" ng-model="editorState.params.gauge.style.labelColor">
          </div>
        </div>
        <div class="visEditorSidebar__formRow">
          <label
            class="visEditorSidebar__formLabel"
            for="showScale"
            i18n-id="kbnVislibVisTypes.controls.gaugeOptions.showScaleLabel"
            i18n-default-message="Show Scale"
          ></label>
          <div class="visEditorSidebar__formControl">
            <input class="kuiCheckBox" id="showScale" type="checkbox" ng-model="editorState.params.gauge.scale.show">
          </div>
        </div>
      </div>
      <div ng-show="editorState.params.gauge.type === 'simple'">
        <div class="visEditorSidebar__formRow">
          <label
            class="visEditorSidebar__formLabel"
            for="gaugeColorMode"
            i18n-id="kbnVislibVisTypes.controls.gaugeOptions.colorLabel"
            i18n-default-message="Color"
          ></label>
          <div class="visEditorSidebar__formControl">
            <select
              id="gaugeColorMode"
              class="kuiSelect visEditorSidebar__select"
              ng-model="editorState.params.gauge.gaugeColorMode"
              ng-options="mode for mode in collections.gaugeColorMode"
            ></select>
          </div>
        </div>
        <div class="visEditorSidebar__formRow">
          <label
            class="visEditorSidebar__formLabel"
            for="backColor"
            i18n-id="kbnVislibVisTypes.controls.gaugeOptions.backTextColorLabel"
            i18n-default-message="Back/Text Color"
          ></label>
          <div class="visEditorSidebar__formControl">
            <input
              id="backTextColor"
              class="kuiInput visEditorSidebar__input"
              ng-model="editorState.params.gauge.style.bgFill"
            >
          </div>
        </div>
        <div class="visEditorSidebar__formRow">
          <label
            class="visEditorSidebar__formLabel"
            for="showScale"
            i18n-id="kbnVislibVisTypes.controls.gaugeOptions.fontSizeLabel"
            i18n-default-message="Font Size ({fontSize}pt)"
            i18n-values="{ fontSize: editorState.params.gauge.style.fontSize }"
          ></label>
          <div class="visEditorSidebar__formControl">
            <input type="range" ng-model="editorState.params.gauge.style.fontSize" class="form-control" min="12" max="120" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
