visualization-editor {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;

  .vegaEditor {
    // this would is overriden by .collapsible-sidebar:  flex: 0 0 auto
    flex: 2 2 auto;

    flex-basis: 50%;
    display: flex;
    flex-direction: column;

    .vegaEditorToolbar {
      flex: 0 0 auto;

      display: flex;
      flex-wrap: wrap;
      background-color: #adadad;
      padding: 0.3em 0.6em;

      button {
        margin-left: 0.4em;
      }

      .vegaEditorHelp {
        flex: 1 1 auto;
        margin-left: 0.6em;
        text-align: right;
      }

      button, div {
        padding-top: 4px;
        padding-bottom: 5px;
      }
    }

    .vegaEditorSpec {
      flex: 1 1 auto;
    }
  }

  .gutter {
    flex: 0 0 13px;
    cursor: ew-resize;
    background-color: #e4e4e4;
    align-items: center;

    &:hover {
      background-color: darken(#e4e4e4, 10%);
    }

    &.active {
      background-color: darken(#e4e4e4, 40%);;
    }
  }

  .vegaEditorPreview {
    flex: 1 1 50%;

    visualization {
      height: 90vh;
    }
  }
}
