.advancedSettings {
  &__table {

    .euiTableCellContent--overflowingContent {
      overflow: hidden;
    }

    &__value {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
