@import (reference) '~ui/styles/variables/colors';

.advancedSettings {
  padding: 20px;
  background: @globalColorLightestGray;
  min-height: calc(~"100vh - 70px");

  > div {
    max-width: 1000px;
    margin: 0 auto;
  }

  .euiForm > .euiFlexGroup + * {
    margin-top: 16px;
  }
}
