@import (reference) '~ui/styles/variables/colors';

.advancedSettings {
  padding: 20px;
  background: @globalColorLightestGray;
  min-height: calc(~"100vh - 70px");

  > div {
    max-width: 1000px;
    margin: 0 auto;
  }

  .advancedSettings__field {
    + * {
      margin-top: 24px;
    }

    &__wrapper {
      width: 720px;
    }

    &__actions {
      padding-top: 30px;
    }

    .euiFormHelpText {
      padding-bottom: 0;
    }
  }
}
