@import (reference) '~ui/styles/variables/colors';

.advancedSettings {
  padding: 20px;
  background: @globalColorLightestGray;

  > .euiPanel {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__field {
    &__name {
      white-space: nowrap;
    }

    &__key {
      overflow: hidden;
      font-weight: normal;

      &__wrapper {
        overflow: hidden;
      }

      &__text {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .euiForm > .euiFlexGroup + * {
    margin-top: 16px;
  }
}
