@import (reference) "../../style/main";

.canvas__color-picker {
  .canvas__color-picker--dot {
    .fa {
      font-size: @textXSmall;
      margin-left: @spacingXS;
    }

    &:hover {
      cursor: pointer;
    }
  }


}
