@import (reference) "~plugins/rework/main.less";

.rework--color-picker {
  a {
    color: @text-color;
  }

  i.fa-check {
    margin-left: 5px;
  }
}

.rework--color-picker--transparent {
  margin-top: 10px;
  width: 190px;
}

.rework--color-picker--popover-button {
  height: 28px;
  width: 28px;
  padding: 0px !important;
  border: @rework--border !important;
  border-radius: 14px !important;

  &:focus {
    outline: 0 !important;
  }
}
