@import (reference) "../../style/main";

.canvas__workpad_header {
  flex-grow: 0;

  h2 {
    margin-top: 2px;
  }

  .fa {
    font-size: @textLarge;
    margin-left: @spacingS;
    cursor: pointer;
  }
}
