@import (reference) "../../style/main";

.canvas__workpad_header {
  flex-grow: 0;

  h2 {
    margin-top: 2px;
  }

  .canvas__workpad_header--button {
    margin-left: @spacingL;
    cursor: pointer;
  }
}

.canvas__workpad_header--settings {

}
