@import (reference) "../../style/main";

.canvas__workpad_header {
  flex-grow: 0;

  div {
    display: inline-block;
  }

  h2 {
    margin-top: 2px;
  }

  .canvas__workpad_header--button {
    margin-left: @spacingM;
    font-size: @textLarge;
    cursor: pointer;
  }
}

.canvas__workpad_header--settings {

}
