//-
  THIS FILE HAS BEEN MODIFIED FROM THE ORIGINAL SOURCE
  This comment only applies to modifications applied after the e633644c43a0a0271e0b6c32c382ce1db6b413c3 commit
  Copyright 2019 LogRhythm, Inc
  Licensed under the LogRhythm Global End User License Agreement,
  which can be found through this page: https://logrhythm.com/about/logrhythm-terms-and-conditions/

html
  head
    title NetMon Status
  body
    h1 NetMon Status Page
    p Statusy stuff goes here... it's going to be totally awesome!
