<button class="kuiMenuButton kuiMenuButton--basic kuiMenuButton--iconText">
  <span class="kuiMenuButton__icon kuiIcon fa-gear"></span>
  <span>Settings</span>
</button>

<hr class="guideBreak">

<button class="kuiMenuButton kuiMenuButton--basic kuiMenuButton--iconText">
  <span>Next</span>
  <span class="kuiMenuButton__icon kuiIcon fa-chevron-right"></span>
</button>

<hr class="guideBreak">

<button class="kuiMenuButton kuiMenuButton--basic">
  <span class="kuiMenuButton__icon kuiIcon fa-gear"></span>
</button>
