<div class="discover-field-list">
  <div class="discover-field-list-header">
    <h5>Selected</h5>
  </div>
  <ul bindonce class="list-unstyled">
    <discover-field field="field" ng-repeat="field in fields|filter:{display:true}" data="data">
    </discover-field>
  </ul>

  <div class="discover-field-list-header">
    <h5>Available</h5>
  </div>
  <ul bindonce class="list-unstyled">
    <discover-field field="field" ng-repeat="field in fields|filter:{display:false}" data="data">
    </discover-field>
  </ul>
</div>