<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class="control-label">Save Search</label>
        <input ng-model="opts.savedSearch.title" input-focus class="form-control" placeholder="Name this search...">
      </div>
      <div class="form-group">
        <button ng-click="opts.saveDataSource()" ng-disabled="!opts.savedSearch.title" type="submit" class="btn btn-primary">
          Save
        </button>
      </div>
    </div>
  </div>
</div>