<div class="visEditorSidebar__section kuiSideBarSection__main">
  <div class="visEditorSidebar__sectionTitle">
    <div
      i18n-id="kbnVislibVisTypes.controls.pointSeries.categoryAxis.xAxisTitle"
      i18n-default-message="X-Axis"
    ></div>
  </div>

  <!-- General -->
  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="categoryAxisShow"
      i18n-id="kbnVislibVisTypes.controls.pointSeries.categoryAxis.showLabel"
      i18n-default-message="Show"
    ></label>
    <div class="visEditorSidebar__formControl">
      <input class="kuiCheckBox" id="categoryAxisShow" type="checkbox" ng-model="editorState.params.categoryAxes[0].show">
    </div>
  </div>

  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="categoryAxisPosition"
      i18n-id="kbnVislibVisTypes.controls.pointSeries.categoryAxis.positionLabel"
      i18n-default-message="Position"
    ></label>
    <div class="visEditorSidebar__formControl">
      <select
        id="categoryAxisPosition"
        class="kuiSelect visEditorSidebar__select"
        ng-model="editorState.params.categoryAxes[0].position"
        ng-options="mode for mode in vis.type.editorConfig.collections.positions"
      ></select>
    </div>
  </div>


  <!-- Advanced options -->
  <div class="visEditorSidebar__collapsible--margin">
    <a
      class="small"
      ng-click="isCategoryAxisAdvancedOptionsOpen = !isCategoryAxisAdvancedOptionsOpen"
      kbn-accessible-click
    >

      <icon class="visEditorSidebar__advancedLinkIcon" color="'primary'" aria-hidden="true" ng-if="isCategoryAxisAdvancedOptionsOpen" type="'arrowDown'" size="'s'"></icon>
      <icon class="visEditorSidebar__advancedLinkIcon" color="'primary'" aria-hidden="true" ng-if="!isCategoryAxisAdvancedOptionsOpen" type="'arrowRight'" size="'s'"></icon>


      <span
        ng-show="!isCategoryAxisAdvancedOptionsOpen"
        i18n-id="kbnVislibVisTypes.controls.pointSeries.categoryAxis.showAdvancedOptionsLabel"
        i18n-default-message="Show Advanced Options"
      ></span>
      <span
        ng-show="isCategoryAxisAdvancedOptionsOpen"
        i18n-id="kbnVislibVisTypes.controls.pointSeries.categoryAxis.hideAdvancedOptionsLabel"
        i18n-default-message="Hide Advanced Options"
      ></span>
    </a>

    <div ng-show="isCategoryAxisAdvancedOptionsOpen">
      <!-- Labels -->
      <h6
        class="visEditorSidebar__formTitle"
        i18n-id="kbnVislibVisTypes.controls.pointSeries.categoryAxis.labelsTitle"
        i18n-default-message="Labels"
      ></h6>

      <div class="visEditorSidebar__formRow">
        <label
          class="visEditorSidebar__formLabel"
          for="categoryAxisShowLabels"
          i18n-id="kbnVislibVisTypes.controls.pointSeries.categoryAxis.showLabelsLabel"
          i18n-default-message="Show Labels"
        ></label>
        <div class="visEditorSidebar__formControl">
          <input class="kuiCheckBox" id="categoryAxisShowLabels" type="checkbox" ng-model="editorState.params.categoryAxes[0].labels.show">
        </div>
      </div>

      <div class="visEditorSidebar__formRow">
        <label
          class="visEditorSidebar__formLabel"
          for="categoryAxisShowFilter"
          i18n-id="kbnVislibVisTypes.controls.pointSeries.categoryAxis.filterLabelsLabel"
          i18n-default-message="Filter Labels"
        ></label>
        <div class="visEditorSidebar__formControl">
          <input class="kuiCheckBox" id="categoryAxisShowFilter" type="checkbox" ng-model="editorState.params.categoryAxes[0].labels.filter">
        </div>
      </div>

      <div class="visEditorSidebar__formRow">
        <label
          class="visEditorSidebar__formLabel"
          for="categoryAxisRotateLabels"
          i18n-id="kbnVislibVisTypes.controls.pointSeries.categoryAxis.rotateLabel"
          i18n-default-message="Rotate"
        ></label>
        <div class="visEditorSidebar__formControl">
          <select
            id="categoryAxisRotateLabels"
            class="kuiSelect visEditorSidebar__select"
            ng-model="editorState.params.categoryAxes[0].labels.rotate"
            ng-options="mode.value as mode.name for mode in rotateOptions"
          ></select>
        </div>
      </div>

      <div class="visEditorSidebar__formRow">
        <label
          class="visEditorSidebar__formLabel"
          for="categoryAxisTruncateLabels"
          i18n-id="kbnVislibVisTypes.controls.pointSeries.categoryAxis.truncateLabel"
          i18n-default-message="Truncate"
        ></label>
        <div class="visEditorSidebar__formControl">
          <input
            id="categoryAxisTruncateLabels"
            class="kuiInput visEditorSidebar__input"
            type="number"
            ng-model="editorState.params.categoryAxes[0].labels.truncate"
          >
        </div>
      </div>

    </div>
  </div>

</div>
