<div class="visEditorSidebar__collapsible--margin">
  <div class="visEditorSidebar__collapsibleTitle">
    <div
      class="visEditorSidebar__collapsibleTitleLabel"
      ng-click="isGridOpen = !isGridOpen"
      kbn-accessible-click
      aria-expanded="{{!!isGridOpen}}"
      aria-controls="visGridOptions"
      aria-label="Toggle grid options"
    >
      <icon color="'primary'"aria-hidden="true"ng-if="isGridOpen"type="'arrowDown'"size="'s'"></icon>
      <icon color="'primary'"aria-hidden="true"ng-if="!isGridOpen"type="'arrowRight'"size="'s'"></icon>

      <span
        class="visEditorSidebar__collapsibleTitleText"
        i18n-id="kbnVislibVisTypes.controls.pointSeries.gridAxis.gridText"
        i18n-default-message="Grid"
      ></span>
    </div>
  </div>

  <div id="visGridOptions" ng-show="isGridOpen">
    <!-- General -->
    <div class="visEditorSidebar__formRow">
      <label
        class="visEditorSidebar__formLabel"
        for="showCategoryLines"
        i18n-id="kbnVislibVisTypes.controls.pointSeries.gridAxis.xAxisLinesLabel"
        i18n-default-message="X-Axis Lines"
      ></label>
      <div class="visEditorSidebar__formControl">
        <input class="kuiCheckBox" id="showCategoryLines" type="checkbox" ng-model="editorState.params.grid.categoryLines">
      </div>
    </div>

    <div class="visEditorSidebar__formRow">
      <label
        class="visEditorSidebar__formLabel"
        for="gridAxis"
        i18n-id="kbnVislibVisTypes.controls.pointSeries.gridAxis.yAxisLinesLabel"
        i18n-default-message="Y-Axis Lines"
      ></label>
      <div class="visEditorSidebar__formControl">
        <select
          id="gridAxis"
          class="kuiSelect visEditorSidebar__select"
          ng-model="editorState.params.grid.valueAxis"
          ng-options="axis.id as axis.name for axis in editorState.params.valueAxes track by axis.id"
        >
          <option
            value=""
            i18n-id="kbnVislibVisTypes.controls.pointSeries.gridAxis.dontShowLabel"
            i18n-default-message="Don't show"
          ></option>
        </select>
      </div>
    </div>
  </div>
</div>
