<div class="visEditorSidebar__section kuiSideBarSection__main">
  <div class="visEditorSidebar__sectionTitle">
    <div
      i18n-id="kbnVislibVisTypes.controls.pointSeries.series.metricsTitle"
      i18n-default-message="Metrics"
    ></div>
  </div>

  <div
    ng-repeat="chart in editorState.params.seriesParams track by $index"
    class="visEditorSidebar__section visEditorSidebar__collapsible"
  >
    <div class="visEditorSidebar__collapsibleTitle">
      <div
        ng-init="isSeriesOpen = ($index === 0)"
        class="visEditorSidebar__collapsibleTitleLabel"
        ng-click="isSeriesOpen = !isSeriesOpen"
        kbn-accessible-click
        aria-expanded="{{!!isSeriesOpen}}"
        aria-controls="visSeriesOptions{{$index}}"
        aria-label="Toggle {{chart.data.label}} options"
      >
        <icon color="'primary'" aria-hidden="true" ng-if="isSeriesOpen" type="'arrowDown'" size="'s'"></icon>
        <icon color="'primary'" aria-hidden="true" ng-if="!isSeriesOpen" type="'arrowRight'" size="'s'"></icon>

        <span class="visEditorSidebar__collapsibleTitleText">
          {{chart.data.label}}
        </span>
      </div>
    </div>

    <div id="visSeriesOptions{{$index}}" ng-show="isSeriesOpen">
      <!-- General -->
      <div class="visEditorSidebar__formRow">
        <label
          class="visEditorSidebar__formLabel"
          for="{{ 'seriesType' + $index }}"
          i18n-id="kbnVislibVisTypes.controls.pointSeries.series.chartTypeLabel"
          i18n-default-message="Chart Type"
        ></label>
        <div class="visEditorSidebar__formControl">
          <select
            id="{{ 'seriesType' + $index }}"
            class="kuiSelect visEditorSidebar__select"
            ng-model="chart.type"
            ng-options="mode.value as mode.text for mode in vis.type.editorConfig.collections.chartTypes"
          ></select>
        </div>
      </div>

      <div class="visEditorSidebar__formRow">
        <label
          class="visEditorSidebar__formLabel"
          for="{{ 'seriesMode' + $index }}"
          i18n-id="kbnVislibVisTypes.controls.pointSeries.series.modeLabel"
          i18n-default-message="Mode"
        ></label>
        <div class="visEditorSidebar__formControl">
          <select
            id="{{ 'seriesMode' + $index }}"
            class="kuiSelect visEditorSidebar__select"
            ng-model="chart.mode"
            ng-options="mode for mode in vis.type.editorConfig.collections.chartModes"
          ></select>
        </div>
      </div>

      <div class="visEditorSidebar__formRow">
        <label
          class="visEditorSidebar__formLabel"
          for="{{ 'seriesValueAxis' + $index }}"
          i18n-id="kbnVislibVisTypes.controls.pointSeries.series.valueAxisLabel"
          i18n-default-message="Value Axis"
        ></label>
        <div class="visEditorSidebar__formControl">
          <select
            id="{{ 'seriesValueAxis' + $index }}"
            class="kuiSelect visEditorSidebar__select"
            ng-model="chart.valueAxis"
            ng-change="changeValueAxis($index)"
          >
            <option ng-repeat="axis in editorState.params.valueAxes track by axis.id" value="{{axis.id}}">{{axis.name}}</option>
            <option
              value="new"
              i18n-id="kbnVislibVisTypes.controls.pointSeries.series.newAxisLabel"
              i18n-default-message="New Axis…"
            ></option>
          </select>
        </div>
      </div>

      <div ng-show="chart.type == 'line' || chart.type == 'area'">
        <div class="visEditorSidebar__formRow">
          <label
            class="visEditorSidebar__formLabel"
            for="{{ 'lineMode' + $index }}"
            i18n-id="kbnVislibVisTypes.controls.pointSeries.series.lineModeLabel"
            i18n-default-message="Line Mode"
          ></label>
          <div class="visEditorSidebar__formControl">
            <select
              id="{{ 'lineMode' + $index }}"
              class="kuiSelect visEditorSidebar__select"
              ng-model="chart.interpolate"
              ng-options="mode.value as mode.text for mode in vis.type.editorConfig.collections.interpolationModes"
            >
            </select>
          </div>
        </div>
      </div>
      <div ng-show="chart.type == 'line'">
        <div class="visEditorSidebar__formRow">
          <label
            class="visEditorSidebar__formLabel"
            for="{{ 'drawLines' + $index }}"
            i18n-id="kbnVislibVisTypes.controls.pointSeries.series.showLineLabel"
            i18n-default-message="Show Line"
          ></label>
          <div class="visEditorSidebar__formControl">
            <input class="kuiCheckBox" id="{{ 'drawLines' + $index }}" type="checkbox" ng-model="chart.drawLinesBetweenPoints">
          </div>
        </div>

        <div class="visEditorSidebar__formRow">
          <label
            class="visEditorSidebar__formLabel"
            for="{{ 'showCircles' + $index }}"
            i18n-id="kbnVislibVisTypes.controls.pointSeries.series.showCirclesLabel"
            i18n-default-message="Show Circles"
          ></label>
          <div class="visEditorSidebar__formControl">
            <input class="kuiCheckBox" id="{{ 'showCircles' + $index }}" type="checkbox" ng-model="chart.showCircles">
          </div>
        </div>

        <div class="visEditorSidebar__formRow">
          <label
            class="visEditorSidebar__formLabel"
            i18n-id="kbnVislibVisTypes.controls.pointSeries.series.lineWidthLabel"
            i18n-default-message="Line Width"
          ></label>
          <div class="visEditorSidebar__formControl">
            <input name="lineWidth"
                   class="kuiInput visEditorSidebar__input"
                   type="number"
                   step="0.5"
                   ng-model="chart.lineWidth"
            >
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
