<div class="visEditorSidebar__section kuiSideBarSection__main">
  <div class="visEditorSidebar__sectionTitle">
    <div
      i18n-id="kbnVislibVisTypes.controls.pointSeries.valueAxes.yAxisTitle"
      i18n-default-message="Y-Axes"
    ></div>

    <button
      data-test-subj="visualizeAddYAxisButton"
      aria-label="Add Y axis"
      ng-click="addValueAxis()"
      tooltip="Add Y axis"
      tooltip-append-to-body="true"
      type="button"
    >
      <icon color="'primary'" aria-hidden="true" type="'plusInCircleFilled'" size="'m'"></icon>
    </button>
  </div>

  <div
    ng-repeat="axis in editorState.params.valueAxes track by axis.id"
    class="visEditorSidebar__section visEditorSidebar__collapsible"
  >
    <div class="visEditorSidebar__collapsibleTitle">
      <div
        data-test-subj="toggleYAxisOptions-{{axis.id}}"
        class="visEditorSidebar__collapsibleTitleLabel"
        ng-click="isValueAxisOpen = !isValueAxisOpen"
        kbn-accessible-click
        aria-expanded="{{!!isValueAxisOpen}}"
        aria-controls="axisOptions{{axis.id}}"
        aria-label="Toggle {{axis.name}} options"
      >
        <icon class="kuiSideBarOptionsLink__caret" color="'primary'" aria-hidden="true" ng-if="isValueAxisOpen" type="'arrowDown'" size="'s'"></icon>
        <icon class="kuiSideBarOptionsLink__caret" color="'primary'" aria-hidden="true" ng-if="!isValueAxisOpen" type="'arrowRight'" size="'s'"></icon>

        <span class="visEditorSidebar__collapsibleTitleText">
          {{axis.name}}
        </span>
      </div>

      <div class="visEditorSidebar__collapsibleTitleDescription" tooltip="{{getSeries(axis)}}">{{getSeriesShort(axis)}}</div>

      <button
        ng-hide="editorState.params.valueAxes.length === 1"
        aria-label="Remove Y axis"
        ng-click="removeValueAxis(axis)"
        tooltip="Remove Y axis"
        tooltip-append-to-body="true"
        type="button"
      >
        <icon color="'danger'" aria-hidden="true" type="'cross'" size="'m'"></icon>
      </button>
    </div>

    <div id="axisOptions{{axis.id}}" ng-show="isValueAxisOpen">
      <!-- General -->

      <div class="visEditorSidebar__formRow">
        <label
          class="visEditorSidebar__formLabel"
          for="{ 'valueAxisShow' + $index }"
          i18n-id="kbnVislibVisTypes.controls.pointSeries.valueAxes.showLabel"
          i18n-default-message="Show"
        ></label>
        <div class="visEditorSidebar__formControl">
          <input class="kuiCheckBox" id="{ 'valueAxisShow' + $index }" type="checkbox" ng-model="axis.show">
        </div>
      </div>

      <div class="visEditorSidebar__formRow">
        <label
          class="visEditorSidebar__formLabel"
          for="{{ 'valueAxisTitle' + $index }}"
          i18n-id="kbnVislibVisTypes.controls.pointSeries.valueAxes.titleLabel"
          i18n-default-message="Title"
        ></label>
        <div class="visEditorSidebar__formControl">
          <input
            id="{{ 'valueAxisTitle' + $index }}"
            class="kuiInput visEditorSidebar__input"
            type="text"
            ng-model="axis.title.text"
          >
        </div>
      </div>

      <div class="visEditorSidebar__formRow">
        <label
          class="visEditorSidebar__formLabel"
          for="{{ 'valueAxisPosition' + $index }}"
          i18n-id="kbnVislibVisTypes.controls.pointSeries.valueAxes.positionLabel"
          i18n-default-message="Position"
        ></label>
        <div class="visEditorSidebar__formControl">
          <select
            id="{{ 'valueAxisPosition' + $index }}"
            class="kuiSelect visEditorSidebar__select"
            ng-change="updateAxisName(axis)"
            ng-model="axis.position"
            ng-options="mode disable when isPositionDisabled(mode) for mode in vis.type.editorConfig.collections.positions"
          ></select>
        </div>
      </div>

      <div class="visEditorSidebar__formRow">
        <label
          class="visEditorSidebar__formLabel"
          for="{{ 'valueAxisMode' + $index }}"
          i18n-id="kbnVislibVisTypes.controls.pointSeries.valueAxes.modeLabel"
          i18n-default-message="Mode"
        ></label>
        <div class="visEditorSidebar__formControl">
          <select
            id="{{ 'valueAxisMode' + $index }}"
            class="kuiSelect visEditorSidebar__select"
            ng-model="axis.scale.mode"
            ng-options="mode for mode in vis.type.editorConfig.collections.axisModes"
          ></select>
        </div>
      </div>

      <div class="visEditorSidebar__formRow">
        <label
          class="visEditorSidebar__formLabel"
          for="{{ 'valueAxisScaleType' + $index }}"
          i18n-id="kbnVislibVisTypes.controls.pointSeries.valueAxes.scaleTypeLabel"
          i18n-default-message="Scale Type"
        ></label>
        <div class="visEditorSidebar__formControl">
          <select
            data-test-subj="scaleSelectYAxis-{{axis.id}}"
            id="{{ 'valueAxisScaleType' + $index }}"
            class="kuiSelect visEditorSidebar__select"
            ng-model="axis.scale.type"
            ng-options="type for type in vis.type.editorConfig.collections.scaleTypes"
          ></select>
        </div>
      </div>


      <!-- Advanced options -->
      <div class="visEditorSidebar__collapsible--margin">
        <a
          data-test-subj="toggleYAxisAdvancedOptions-{{axis.id}}"
          class="visEditorSidebar__collapsibleTitle"
          ng-click="isValueAxisAdvancedOptionsOpen = !isValueAxisAdvancedOptionsOpen"
          kbn-accessible-click
        >
          <span>
            <icon class="visEditorSidebar__advancedLinkIcon" color="'primary'" aria-hidden="true" ng-if="isValueAxisAdvancedOptionsOpen" type="'arrowDown'" size="'s'"></icon>
            <icon class="visEditorSidebar__advancedLinkIcon" color="'primary'" aria-hidden="true" ng-if="!isValueAxisAdvancedOptionsOpen" type="'arrowRight'" size="'s'"></icon>

            <span
              class="kuiSideBarOptionsLink__text"
              ng-show="!isValueAxisAdvancedOptionsOpen"
              i18n-id="kbnVislibVisTypes.controls.pointSeries.valueAxes.showAdvancedOptionsLabel"
              i18n-default-message="Show Advanced Options"
            ></span>
            <span
              class="kuiSideBarOptionsLink__text"
              ng-show="isValueAxisAdvancedOptionsOpen"
              i18n-id="kbnVislibVisTypes.controls.pointSeries.valueAxes.hideAdvancedOptionsLabel"
              i18n-default-message="Hide Advanced Options"
            ></span>
          </span>
        </a>

        <div ng-show="isValueAxisAdvancedOptionsOpen">

          <!-- Labels -->
          <h6
            class="visEditorSidebar__formTitle"
            i18n-id="kbnVislibVisTypes.controls.pointSeries.valueAxes.labelsTitle"
            i18n-default-message="Labels"
          ></h6>

          <div class="visEditorSidebar__formRow">
            <label
              class="visEditorSidebar__formLabel"
              for="{{ 'valueAxisShowLabels' + $index }}"
              i18n-id="kbnVislibVisTypes.controls.pointSeries.valueAxes.showLabelsLabel"
              i18n-default-message="Show Labels"
            ></label>
            <div class="visEditorSidebar__formControl">
              <input class="kuiCheckBox" id="{{ 'valueAxisShowLabels' + $index }}" type="checkbox" ng-model="axis.labels.show">
            </div>
          </div>

          <div class="visEditorSidebar__formRow">
            <label
              class="visEditorSidebar__formLabel"
              for="{{ 'valueAxisFilterLabels' + $index }}"
              i18n-id="kbnVislibVisTypes.controls.pointSeries.valueAxes.filterLabelsLabel"
              i18n-default-message="Filter Labels"
            ></label>
            <div class="visEditorSidebar__formControl">
              <input
                data-test-subj="yAxisFilterLabelsCheckbox-{{axis.id}}"
                class="kuiCheckBox"
                id="{{ 'valueAxisFilterLabels' + $index }}"
                type="checkbox"
                ng-model="axis.labels.filter"
              >
            </div>
          </div>

          <div class="visEditorSidebar__formRow">
            <label
              class="visEditorSidebar__formLabel"
              for="{{ 'valueAxisRotateLabels' + $index }}"
              i18n-id="kbnVislibVisTypes.controls.pointSeries.valueAxes.rotateLabel"
              i18n-default-message="Rotate"
            ></label>
            <div class="visEditorSidebar__formControl">
              <select
                id="{{ 'valueAxisRotateLabels' + $index }}"
                class="kuiSelect visEditorSidebar__select"
                ng-model="axis.labels.rotate"
                ng-options="mode.value as mode.name for mode in rotateOptions"
              ></select>
            </div>
          </div>

          <div class="visEditorSidebar__formRow">
            <label
              class="visEditorSidebar__formLabel"
              for="{{ 'valueAxisTruncateLabels' + $index }}"
              i18n-id="kbnVislibVisTypes.controls.pointSeries.valueAxes.truncateLabel"
              i18n-default-message="Truncate"
            ></label>
            <div class="visEditorSidebar__formControl">
              <input
                id="{{ 'valueAxisTruncateLabels' + $index }}"
                class="kuiInput visEditorSidebar__input"
                type="number"
                ng-model="axis.labels.truncate"
              >
            </div>
          </div>


          <!-- Custom Extents -->
          <h6
            class="visEditorSidebar__formTitle"
            i18n-id="kbnVislibVisTypes.controls.pointSeries.valueAxes.customExtentsTitle"
            i18n-default-message="Custom Extents"
          ></h6>

          <div class="visEditorSidebar__formRow visEditorSidebar__formRow--expand">
            <label
              class="visEditorSidebar__formLabel"
              for="{ 'defaultYExtents' + $index }"
              i18n-id="kbnVislibVisTypes.controls.pointSeries.valueAxes.scaleToDataBoundsLabel"
              i18n-default-message="Scale to Data Bounds"
            ></label>
            <div class="visEditorSidebar__formControl">
              <input class="kuiCheckBox" id="{ 'defaultYExtents' + $index }" type="checkbox" ng-model="axis.scale.defaultYExtents">
            </div>
          </div>

          <div class="visEditorSidebar__formRow visEditorSidebar__formRow--expand">
            <label
              class="visEditorSidebar__formLabel"
              for="{ 'setYExtents' + $index }"
              i18n-id="kbnVislibVisTypes.controls.pointSeries.valueAxes.setAxisExtentsLabel"
              i18n-default-message="Set Axis Extents"
            ></label>
            <div class="visEditorSidebar__formControl">
              <input class="kuiCheckBox" id="{ 'setYExtents' + $index }" type="checkbox" ng-model="axis.scale.setYExtents" ng-change="updateExtents(axis)">
            </div>
          </div>

          <div ng-if="axis.scale.setYExtents">
            <div class="visEditorSidebar__formRow">
              <label
                class="visEditorSidebar__formLabel"
                i18n-id="kbnVislibVisTypes.controls.pointSeries.valueAxes.maxLabel"
                i18n-default-message="Max"
              ></label>
              <div class="visEditorSidebar__formControl">
                <input
                  name="yMax"
                  class="kuiInput visEditorSidebar__input"
                  type="number"
                  step="0.1"
                  greater-than="axis.scale.min"
                  ng-model="axis.scale.max"
                >
              </div>
            </div>

            <div class="visEditorSidebar__formRow">
              <label
                class="visEditorSidebar__formLabel"
                i18n-id="kbnVislibVisTypes.controls.pointSeries.valueAxes.minLabel"
                i18n-default-message="Min"
              ></label>
              <div class="visEditorSidebar__formControl">
                <input
                  name="yMin"
                  class="kuiInput visEditorSidebar__input"
                  type="number"
                  step="0.1"
                  greater-than="axis.scale.type === 'log' ? 0 : undefined"
                  less-than="axis.scale.max"
                  ng-model="axis.scale.min"
                >
              </div>
            </div>
            <div ng-show="axis.scale.type === 'log' && axis.scale.min <= 0">
              <span
                class="text-danger"
                i18n-id="kbnVislibVisTypes.controls.pointSeries.valueAxes.minNeededScaleText"
                i18n-default-message="Min must exceed 0 when a log scale is selected"
              ></span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
