<div class="visEditorSidebar__section">
  <div class="visEditorSidebar__sectionTitle">
    <div
      i18n-id="kbnVislibVisTypes.editors.heatmap.basicSettingsTitle"
      i18n-default-message="Basic Settings"
    ></div>
  </div>

  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="addTooltip"
      i18n-id="kbnVislibVisTypes.editors.heatmap.showTooltipsLabel"
      i18n-default-message="Show Tooltips"
    ></label>
    <div class="visEditorSidebar__formControl">
      <input class="kuiCheckBox" id="addTooltip" type="checkbox" ng-model="editorState.params.addTooltip">
    </div>
  </div>

  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="enableHover"
      i18n-id="kbnVislibVisTypes.editors.heatmap.highlightLabel"
      i18n-default-message="Highlight"
    ></label>
    <div class="visEditorSidebar__formControl">
      <input class="kuiCheckBox" id="enableHover" type="checkbox" ng-model="editorState.params.enableHover">
    </div>
  </div>

  <div class="visEditorSidebar__formRow" ng-show="editorState.params.addLegend">
    <label
      class="visEditorSidebar__formLabel"
      for="legendPosition"
      i18n-id="kbnVislibVisTypes.editors.heatmap.legendPositionLabel"
      i18n-default-message="Legend Position"
    ></label>
    <div class="visEditorSidebar__formControl">
      <select
        id="legendPosition"
        class="kuiSelect visEditorSidebar__select"
        ng-model="editorState.params.legendPosition"
        ng-options="position.value as position.text for position in vis.type.editorConfig.collections.legendPositions"
      ></select>
    </div>
  </div>
</div>

<div class="visEditorSidebar__section">

  <div class="visEditorSidebar__sectionTitle">
    <div
      i18n-id="kbnVislibVisTypes.editors.heatmap.heatmapSettingsTitle"
      i18n-default-message="Heatmap Settings"
    ></div>
  </div>

  <heatmap-options></heatmap-options>

</div>
