.colorMappingGradientAddStop:hover {
  color: #696F7D !important;
}
.colorMappingColorSwatchEditable::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid rgb(255,255,255);
  margin: 0;
  bottom: 2px;
  position: absolute;
  right: 2.5px;
}

.colorMappingColorSwatchEditableRound::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid rgb(255,255,255);
  margin: 0;
  bottom: 4px;
  position: absolute;
  right: 5px;
}