
.rework--timelion {
  .rework--timelion--input {
    display: flex;

    label {
      font-weight: normal;
      font-size: 12px;
      margin-left: 3px;
    }
  }

  .btn {
    height: 28px;
    border: 0px;
    margin-top: 2px;
  }

  .rework--timelion--input-expression {
    flex-grow: 1;
  }

  .rework--timelion--input-interval {
    width: 75px;
  }
}
