
.rework--timelion {
  .rework--timelion--input {
    display: flex;
  }

  .btn {
    height: 28px;
    border: 0px;
    margin-top: 2px;
  }

  .rework--timelion--expression {
    flex-grow: 1;
  }

  .rework--timelion--interval {
    width: 75px;
  }
}
