<h2
  class="kuiLocalDropdownTitle"
  i18n-id="console.settingsPage.pageTitle"
  i18n-default-message="Settings"
></h2>

<form class="form" name="settingsForm" ng-submit="settingsForm.$valid && settings.saveSettings()">
  <fieldset
    class="kuiVerticalRhythm"
    role="group"
  >
    <div class="kuiLocalDropdownHeader">
      <legend
        id="consoleFontSize"
        class="kuiLocalDropdownHeader__label"
        i18n-id="console.settingsPage.fontSizeLabel"
        i18n-default-message="Font size"
      ></legend>
    </div>

    <input
      input-focus
      ng-model="settings.vals.fontSize"
      name="fontSize"
      type="number"
      required
      class="kuiLocalDropdownInput kuiVerticalRhythmSmall"
      aria-labelledby="consoleFontSize"
      data-test-subj="setting-font-size-input"
    >

    <label class="kuiCheckBoxLabel kuiVerticalRhythmSmall">
      <input
        class="kuiCheckBox"
        type="checkbox"
        ng-model="settings.vals.wrapMode"
        aria-describedby="consoleFontSize"
      >
      <span
        class="kuiCheckBoxLabel__text"
        i18n-id="console.settingsPage.wrapLongLinesLabelText"
        i18n-default-message="Wrap long lines"
      ></span>
    </label>
  </fieldset>

  <fieldset
    class="kuiVerticalRhythm"
    role="group"
  >
    <div class="kuiLocalDropdownHeader">
      <legend
        class="kuiLocalDropdownHeader__label"
        i18n-id="console.settingsPage.jsonLabel"
        i18n-default-message="JSON syntax"
      ></legend>
    </div>

    <label class="kuiCheckBoxLabel kuiVerticalRhythmSmall">
      <input
        class="kuiCheckBox"
        name="jsonTripleQuotes"
        type="checkbox"
        ng-model="settings.vals.tripleQuotes"
      >
      <span
        class="kuiCheckBoxLabel__text"
        i18n-id="console.settingsPage.tripleQuotesLabelText"
        i18n-default-message="Use triple quotes in output pane"
      ></span>
    </label>
  </fieldset>

  <fieldset
    class="kuiVerticalRhythm"
    role="group"
  >
    <div class="kuiLocalDropdownHeader">
      <legend
        id="consoleAutocomplete"
        class="kuiLocalDropdownHeader__label"
        i18n-id="console.settingsPage.autocompleteLabel"
        i18n-default-message="Autocomplete"
      ></legend>
    </div>

    <label class="kuiCheckBoxLabel kuiVerticalRhythmSmall">
      <input
        class="kuiCheckBox"
        name="autocompleteFields"
        type="checkbox"
        ng-model="settings.vals.autocomplete.fields"
        aria-describedby="consoleAutocomplete"
      >
      <span
        class="kuiCheckBoxLabel__text"
        i18n-id="console.settingsPage.fieldsLabelText"
        i18n-default-message="Fields"
      ></span>
    </label>

    <label class="kuiCheckBoxLabel kuiVerticalRhythmSmall">
      <input
        class="kuiCheckBox"
        name="autocompleteIndices"
        type="checkbox"
        ng-model="settings.vals.autocomplete.indices"
        aria-describedby="consoleAutocomplete"
      >
      <span
        class="kuiCheckBoxLabel__text"
        i18n-id="console.settingsPage.indicesAndAliasesLabelText"
        i18n-default-message="Indices &amp; Aliases"
      ></span>
    </label>

    <label class="kuiCheckBoxLabel kuiVerticalRhythmSmall">
      <input
        class="kuiCheckBox"
        name="autocompleteTemplates"
        type="checkbox"
        ng-model="settings.vals.autocomplete.templates"
        aria-describedby="consoleAutocomplete"
      >
      <span
        class="kuiCheckBoxLabel__text"
        i18n-id="console.settingsPage.templatesLabelText"
        i18n-default-message="Templates"
      ></span>
    </label>
  </fieldset>

  <fieldset
    class="kuiVerticalRhythm"
    role="group"
    ng-show="settings.isPollingVisible()"
  >
    <div class="kuiLocalDropdownHeader">
      <legend
        class="kuiLocalDropdownHeader__label"
        i18n-id="console.settingsPage.refreshingDataLabel"
        i18n-default-message="Refreshing autocomplete suggestions"
      ></legend>
    </div>

    <p
      class="kuiVerticalRhythmSmall"
      id="consoleRefreshingData"
      i18n-id="console.settingsPage.refreshingDataDescription"
      i18n-default-message="Console refreshes autocomplete suggestions by querying Elasticsearch.
        Automatic refreshes may be an issue if you have a large cluster or if you have network limitations."
    ></p>

    <label class="kuiCheckBoxLabel kuiVerticalRhythmSmall">
      <input
        class="kuiCheckBox"
        name="polling"
        type="checkbox"
        ng-model="settings.vals.polling"
        aria-describedby="consoleRefreshingData"
      >
      <span
        class="kuiCheckBoxLabel__text"
        i18n-id="console.settingsPage.pollingLabelText"
        i18n-default-message="Automatically refresh autocomplete suggestions"
      ></span>
    </label>

    <button
      type="button"
      ng-click="settings.refresh()"
      class="euiButton euiButton--primary kuiVerticalRhythmSmall"
    >
      <span class="euiButton__content">
        <span
          class="euiButton__text"
          i18n-id="console.settingsPage.refreshButtonLabel"
          i18n-default-message="Refresh autocomplete suggestions"
        ></span>
      </span>
    </button>
  </fieldset>

  <div class="kuiVerticalRhythm">
    <button
      ng-click="kbnTopNav.close()"
      class="euiButton euiButton--primary"
    >
      <span class="euiButton__content">
        <span
          class="euiButton__text"
          i18n-id="console.settingsPage.cancelButtonLabel"
          i18n-default-message="Cancel"
        ></span>
      </span>
    </button>

    <button
      type="submit"
      ng-disabled="settingsForm.$invalid"
      class="euiButton euiButton--primary euiButton--fill"
      data-test-subj="settings-save-button"
    >
      <span class="euiButton__content">
        <span
          class="euiButton__text"
          i18n-id="console.settingsPage.saveButtonLabel"
          i18n-default-message="Save"
        ></span>
      </span>
    </button>
  </div>
</form>
