.kbnLoadingIndicator-hidden {
  visibility: hidden;
  animation-play-state: paused;
}

.euiHeaderSectionItem .euiButtonEmpty__text {
  // stop global header buttons from jumping during loading state
  display: flex;
}