.synopsis {
  display: flex;
  flex-grow: 1;
  cursor: pointer;
}

.synopsis:hover {
  text-decoration: none;
  .synopsisTitle {
    text-decoration: underline;
  }
}

.synopsis:focus {
  text-decoration: none;

  .synopsisPanel {
    border: solid 1px $euiColorPrimary;
  }

  .synopsisBody {
    text-decoration: none;
  }
}

.synopsisTitle {
  font-size: $euiSize;
  font-weight: normal;
  color: $euiColorPrimary;
}

.synopsisIcon {
  padding-top: $euiSizeS;
}
