.recentlyAccessedItem {
  overflow: hidden;
  max-width: 300px;
}

.recentlyAccessedLongLink {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recentlyAccessedDropwdownLink {
  white-space: nowrap;
}

.recentlyAccessedDropdownLabel {
  white-space: nowrap;
}
