@import (reference) "~ui/styles/variables.less";

.synopsis:hover {
  text-decoration: none;
  .kuiTextTitle {
    text-decoration: underline;
  }
}

.synopsisContent {
  margin-left: 10px !important;
}

.synopsisTitle {
  font-size: 16px;
  font-weight: normal;
}

.synopsisIcon {
  padding-top: 8px;
}
