@import (reference) "../../../style/variables";

.canvas__argtype--containerStyle-simple {

}

.canvas__argtype--containerStyle {
  .canvas__argtype--containerStyle--appearance,
  .canvas__argtype--containerStyle--border {
    display: flex;

    & > * {
      margin-right: @spacingXS;
      flex: 1;

      .control-label {
        display: block;
        margin-top: @spacingXS;
      }
    }
  }
}