<div>
  <div class="row-fluid">
    <h4>Add Panel to Column</h4>
    <select class="input-medium" ng-change="reset_panel(new_panel.type);send_render();" ng-model="new_panel.type" ng-options="f for f in _.without(config.modules,'column')| stringSort"></select>
    <small>Select Type</small>
    <div ng-show="!(_.isUndefined(new_panel.type))">
      <div column-edit="" config="config" dashboards="dashboards" panel="new_panel" row="row" type="new_panel.type"></div>
      <button class="btn btn-primary" ng-click="add_panel(new_panel); reset_panel();">Create Panel</button>
      <br>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h4>Panels</h4>
      <table class="table table-condensed table-striped">
        <thead>
          <th>Title</th>
          <th>Type</th>
          <th>Height</th>
          <th>Delete</th>
          <th>Move</th>
          <th></th>
          <th>Hide</th>
        </thead>
        <tr ng-repeat="app in panel.panels">
          <td>{{app.title}}</td>
          <td>{{app.type}}</td>
          <td>
            <input class="input-small" ng-model="app.height" type="text">
          </td>
          <td>
            <i class="pointer icon-remove" ng-click="panel.panels = _.without(panel.panels,app)"></i>
          </td>
          <td>
            <i class="pointer icon-arrow-up" ng-click="_.move(panel.panels,$index,$index-1)" ng-hide="$first"></i>
          </td>
          <td>
            <i class="pointer icon-arrow-down" ng-click="_.move(panel.panels,$index,$index+1)" ng-hide="$last"></i>
          </td>
          <td>
            <input ng-checked="app.hide" ng-model="app.hide" type="checkbox">
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
