.kuiLink {
  @include kuiLink;
}

$textColors: (
  subdued: $kuiColorDarkShade,
  primary: $kuiColorPrimary,
  secondary: $kuiColorSecondary,
  accent: $kuiColorAccent,
  warning: $kuiColorWarning,
  danger: $kuiColorDanger,
  ghost: #FFF, // Ghost is special and a constant.
);

// Create color modifiers based on the map
@each $name, $color in $textColors {
  .kuiLink.kuiLink--#{$name} {
    color: $color;

    &:hover {
      color: darken($color, 10%);
    }

    &:focus {
      outline: solid 3px transparentize($color, .9);
      background-color: transparentize($color, .9);
    }
  }
}
