.guideCode {
  font-family: 'Roboto Mono', monospace;
  background-color: $kuiColorLightestShade;
  padding: $kuiSizeXS / 2 $kuiSizeXS;
  border-radius: $kuiBorderRadius;
  color: $kuiColorAccent;
  @include kuiFontSizeXS;
}
