@import './drag_drop_mixins';

.domDragDrop {
  user-select: none;
  transition: $euiAnimSpeedFast ease-in-out;
  transition-property: background-color, border-color, opacity;
  z-index: $domDragDropZLevel1;
}

.domDragDrop_ghost {
  @include mixinDomDraggable;
  border: $euiBorderWidthThin dashed $euiBorderColor;
  position: absolute !important;  // sass-lint:disable-line no-important
  margin: 0 !important;  // sass-lint:disable-line no-important
  bottom: 100%;
  width: 100%;
  left: 0;
  opacity: .9;
  transform: translate(-12px, 8px);
  z-index: $domDragDropZLevel3;
  pointer-events: none;
  outline: $euiFocusRingSize solid currentColor; // Safari & Firefox
  outline-style: auto; // Chrome
}

// Draggable item
.domDragDrop-isDraggable {
  @include mixinDomDraggable;
  @include mixinDomDragDropHover;

  // Include a possible nested button like when using FieldButton
  > .kbnFieldButton__button {
    cursor: grab;
  }

  &:focus {
    @include euiFocusRing;
  }
}

// Drop area
.domDragDrop-isDroppable {
  @include mixinDomDroppable;
}

// Drop area when there's an item being dragged
.domDragDrop-isDropTarget {
  @include mixinDomDroppable;
  @include mixinDomDroppableActive;
  > * {
    pointer-events: none;
  }
}

.domDragDrop-isActiveGroup {
  background-color: transparentize($euiColorVis0, .75);
}

// Drop area while hovering with item
.domDragDrop-isActiveDropTarget {
  z-index: $domDragDropZLevel3;
  @include mixinDomDroppableActiveHover;
}

// Drop area that is not allowed for current item
.domDragDrop-isNotDroppable {
  @include mixinDomDroppableNotAllowed;
}

// Drop area will be replacing existing content
.domDragDrop-isReplacing {
  text-decoration: line-through;
}

.domDragDrop-notCompatible {
  background-color: $euiColorHighlight !important;
  border: $euiBorderWidthThin dashed $euiBorderColor !important;
  &.domDragDrop-isActiveDropTarget {
    background-color: rgba(251, 208, 17, .25) !important;
    border-color: $euiColorVis5 !important;
  }
}

.domDragDrop__container {
  position: relative;
  width: 100%;
  height: 100%;

  &.domDragDrop__container-active {
    z-index: $domDragDropZLevel3;
  }
}

$lnsLayerPanelDimensionMargin: 8px;
.domDragDrop__reorderableDrop {
  position: absolute;
  width: 100%;
  top: 0;
  height: calc(100% + #{$lnsLayerPanelDimensionMargin});
}

.domDragDrop-translatableDrop {
  transform: translateY(0);
  transition: transform $euiAnimSpeedFast ease-in-out;
  pointer-events: none;

  .domDragDrop-isDropTarget {
    @include mixinDomDraggable;
  }

  .domDragDrop-isActiveDropTarget {
    z-index: $domDragDropZLevel3;
  }
}

.domDragDrop-translatableDrag {
  transform: translateY(0);
  transition: transform $euiAnimSpeedFast ease-in-out;
  position: relative;
  z-index: $domDragDropZLevel1;
}

.domDragDrop__keyboardHandler {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: $euiBorderRadius;

  &:focus,
  &:focus-within {
    @include euiFocusRing;
    pointer-events: none;
    z-index: $domDragDropZLevel2;
  }
}

// Draggable item when it is moving
.domDragDrop-isHidden {
  opacity: 0;
  .domDragDrop__keyboardHandler {
    &:focus,
    &:focus-within {
      animation: none;
    }
  }
}

.domDragDrop__extraDrops {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: $domDragDropZLevel2;
  right: calc(100% + #{$euiSizeS});
  top: 0;
  transition: opacity $euiAnimSpeedFast ease-in-out;
  width:100%;
}

.domDragDrop__extraDrops-visible {
  opacity: 1;
  visibility: visible;
}

.domDragDrop__diamondPath {
  position: absolute;
  width: 30%;
  top: 0;
  left: -$euiSize;
  z-index: $domDragDropZLevel0;
}

.domDragDrop__extraDropWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: $euiColorLightestShade;
  border-radius: 0;
  &:first-child, &:first-child .domDragDrop__extraDrop {
    border-top-left-radius: $euiSizeXS;
    border-top-right-radius: $euiSizeXS;
  }
  &:last-child, &:last-child .domDragDrop__extraDrop {
    border-bottom-left-radius: $euiSizeXS;
    border-bottom-right-radius: $euiSizeXS;
  }
}

// collapse borders
.domDragDrop__extraDropWrapper + .domDragDrop__extraDropWrapper {
  margin-top: -1px;
}

.domDragDrop__extraDrop {
  position: relative;
  height: $euiSizeXS * 10;
  min-width: $euiSize * 7;
  color: $euiColorSuccessText;
  padding: $euiSizeXS;
  &.domDragDrop-incompatibleExtraDrop {
    color: $euiColorWarningText;
  }
}
