// from variables:

$domDragDropZLevel0: 0;
$domDragDropZLevel1: 1;
$domDragDropZLevel2: 2;
$domDragDropZLevel3: 3;

// from mixins

// sass-lint:disable-block indentation, no-color-keywords

// Static styles for a draggable item
@mixin mixinDomDraggable {
  @include euiSlightShadow;
  background: $euiColorEmptyShade;
  cursor: grab;
}

// Static styles for a drop area
@mixin mixinDomDroppable($borderWidth: $euiBorderWidthThin) {
  border: $borderWidth dashed transparent;
}

// Hovering state for drag item and drop area
@mixin mixinDomDragDropHover {
  &:hover {
    transform: translateX($euiSizeXS);
    transition: transform $euiAnimSpeedSlow ease-out;
  }
}

// Style for drop area when there's an item being dragged
@mixin mixinDomDroppableActive($borderWidth: $euiBorderWidthThin) {
  background-color: transparentize($euiColorVis0, .9) !important;
  border: $borderWidth dashed $euiColorVis0 !important;
}

// Style for drop area while hovering with item
@mixin mixinDomDroppableActiveHover($borderWidth: $euiBorderWidthThin) {
  background-color: transparentize($euiColorVis0, .75) !important;
  border: $borderWidth dashed $euiColorVis0 !important;
}

// Style for drop area that is not allowed for current item
@mixin mixinDomDroppableNotAllowed {
  opacity: .5;
}
