.kuiFormRow {
  margin-bottom: $kuiSizeL;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: $kuiFormMaxWidth;

  &.kuiFormRow--withIcon input {
    padding-left: $kuiSizeXXL;
  }

  &.kuiFormRow--dropdown input {
    padding-left: $kuiSizeM;
    padding-right: $kuiSizeXXL;
  }

  &.kuiFormRow--select .kuiFormRow__icon {
    left: auto;
    right: $kuiSizeM;
  }

  label {
    font-size: $kuiFontSizeXS;
    padding-bottom: $kuiSizeS;
    cursor: pointer;
    transition: all $kuiAnimSpeedFast $kuiAnimSlightResistance;
    font-weight: $kuiFontWeightMedium;
    order: -1; // Force the label to be first, so we can use sibling:focus selectors.
  }

  .kuiFormRow__helpText {
    font-size: $kuiFontSizeXS;
    padding: $kuiSizeS 0;
    color: $kuiColorDarkShade;
  }

  .kuiFormRow__icon {
    position: absolute;
    top: $kuiSizeXL;
    left: $kuiSizeM;
  }
}
