/**
 * 1. Anchor suggestions beneath input.
 * 2. Allow for option of positioning suggestions absolutely.
 */

.timExpressionInput__container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column; /* 1 */
  position: relative; /* 2 */
}

.timExpressionInput {
  cursor: text !important;
  min-height: 70px; // Matches buttons on the right with new vertical rhythm sizing
}
