<div>
  <a class="close" href="" ng-click="dismiss()">×</a>
  <h4>Load</h4>
  <div ng-show="panel.load.local">
    <h5>Local File</h5>
    <form>
      <input dash-upload="" id="dashupload" type="file">
      <br>
    </form>
  </div>
  <div ng-show="panel.load.gist">
    <h5>
      Gist
      <small>Enter a gist number or url</small>
    </h5>
    <form>
      <input ng-model="gist.url" type="text">
      <br>
      <button class="btn" ng-click="gist_dblist(gist_id(gist.url))" ng-show="is_gist(gist.url)">
        <i class="icon-github-alt"></i>
        Get gist:{{gist.url | gistid}}
      </button>
      <h6 ng-show="gist.files.length">
        Dashboards in gist:{{gist.url | gistid}}
        <small>click to load</small>
      </h6>
      <h6 ng-hide="gist.files.length">No gist dashboards found</h6>
      <table class="table table-condensed table-striped">
        <tr ng-repeat="file in gist.files">
          <td>
            <a ng-click="dash_load(file)">{{file.title}}</a>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div ng-show="panel.load.elasticsearch">
    <h5>Elasticsearch</h5>
    <form class="input-append">
      <input ng-model="elasticsearch.query" type="text">
      <button class="btn" ng-click="elasticsearch_dblist(elasticsearch.query)">
        <i class="icon-search"></i>
      </button>
    </form>
    <h6 ng-show="elasticsearch.dashboards.length">Elasticsearch stored dashboards</h6>
    <h6 ng-hide="elasticsearch.dashboards.length">No dashboards matching your query found</h6>
    <table class="table table-condensed table-striped">
      <tr ng-repeat="dashboard in elasticsearch.dashboards">
        <td>
          <a ng-click="elasticsearch_delete(dashboard)">
            <i class="icon-remove"></i>
          </a>
        </td>
        <td>
          <a href="#/dashboard/elasticsearch/{{dashboard._id}}">{{dashboard._id}}</a>
        </td>
        <td>
          <a>
            <i bs-modal="'panels/dashcontrol/share.html'" class="icon-share" ng-click="share_link(dashboard._id,'elasticsearch',dashboard._id)"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
