<kibana-panel ng-controller="dashcontrol" ng-init="init()">
  <label class="small">Dashboard Control</label>
  <button bs-popover="'panels/dashcontrol/load.html'" class="btn" data-placement="bottom" data-unique="1" ng-click="elasticsearch_dblist(elasticsearch.query)" ng-show="panel.load.gist || panel.load.elasticsearch || panel.load.local">
    <i class="icon-folder-open"></i>
    <i class="icon-caret-down"></i>
  </button>
  <button bs-popover="'panels/dashcontrol/save.html'" class="btn" data-placement="bottom" data-unique="1" ng-show="panel.save.gist || panel.save.elasticsearch || panel.save.local || panel.save.default">
    <i class="icon-save"></i>
    <i class="icon-caret-down"></i>
  </button>
  <button bs-modal="'panels/dashcontrol/share.html'" class="btn" ng-click="elasticsearch_save('temp')" ng-show="panel.temp">
    <i class="icon-share"></i>
  </button>
</kibana-panel>
