<div>
  <a class="close" href="" ng-click="dismiss()">×</a>
  <h4>Save</h4>
  <div ng-show="panel.save.default || panel.save.local">
    <h5>Locally</h5>
    <form>
      <ul class="nav nav-list">
        <li>
          <a ng-click="to_file()" ng-show="panel.save.local">
            <i class="icon-download"></i>
            Export to File
          </a>
        </li>
        <li>
          <a ng-click="default()" ng-show="panel.save.default">
            <i class="icon-bookmark"></i>
            Set as My Default
          </a>
        </li>
        <li>
          <a ng-click="purge()" ng-show="panel.save.default">
            <i class="icon-ban-circle"></i>
            Clear My Default
          </a>
        </li>
      </ul>
    </form>
  </div>
  <div ng-show="panel.save.gist">
    <h5>Gist</h5>
    <form class="input-append">
      <input class="input-medium" ng-model="gist.title" placeholder="Title" type="text">
      <button class="btn" ng-click="save_gist()">
        <i class="icon-github-alt"></i>
      </button>
    </form>
    <br>
    <small ng-show="gist.last">
      Last gist:
      <a href="{{gist.last}}" target="_blank">{{gist.last}}</a>
    </small>
  </div>
  <div ng-show="panel.save.elasticsearch">
    <h5>Elasticsearch</h5>
    <form class="input-append">
      <input class="input-medium" ng-model="elasticsearch.title" placeholder="Title" type="text">
      <button class="btn" ng-click="elasticsearch_save('dashboard')">
        <i class="icon-save"></i>
      </button>
    </form>
  </div>
</div>
