@import (reference) "../../style/main";

.canvas__palette-picker {
  display: inline-block;
  width: 100%;
}

.canvas__palette-picker--swatches {
  height: 200px;
  width: 200px;
  margin-right: 20px;
}

.canvas__palette-picker--swatch {
  margin: @spacingS 0;
  display: flex;
}

.canvas__palette-picker--label {
  width: 100%;
  line-height: 25px;
  font-size: @textXSmall;
  text-transform: capitalize;
}
