<form
  role="form"
  ng-submit="stepTimeField.createIndexPattern()"
  class="kuiPanel"
>
  <div class="kuiPanelHeader">
    <div class="kuiPanelHeaderSection">
      <h2
        class="kuiPanelHeader__title"
        translate="KIBANA-CREATE_INDEX_PATTERN_STEP_2_TITLE"
      ></h2>
    </div>
  </div>

  <div class="kuiPanelBody">
    <p class="kuiText kuiSubduedText kuiVerticalRhythm">
      You've defined <strong>{{stepTimeField.indexPatternName}}</strong> as your index pattern. Now you can specify some optional settings before we create it.
    </p>

    <!-- Time field select -->
    <div class="kuiVerticalRhythm">
      <div class="kuiVerticalRhythmSmall timeFieldNameLabel">
        <label
          id="timeFilterFieldSelectLabel"
          class="kuiLabel"
          for="timeFilterFieldSelect"
          translate="KIBANA-CREATE_INDEX_PATTERN_STEP_2_TIME_FIELD_LABEL"
        ></label>

        <a
          ng-if="!stepTimeField.isFetchingTimeFieldOptions"
          class="kuiLink kuiSubText"
          ng-click="stepTimeField.fetchTimeFieldOptions()"
          kbn-accessible-click
          translate="KIBANA-CREATE_INDEX_PATTERN_STEP_2_REFRESH_FIELDS_BUTTON"
          aria-describedby="timeFilterFieldSelectLabel"
        ></a>

        <p
          ng-if="stepTimeField.isFetchingTimeFieldOptions"
          class="kuiText kuiSubduedText"
          translate-attr="{ 'aria-label': 'KIBANA-CREATE_INDEX_PATTERN_STEP_2_TIME_FIELD_LOADING' }"
          aria-describedby="timeFilterFieldSelectLabel"
        >
          <span
            aria-hidden="true"
            class="kuiIcon fa-spinner fa-spin"
          ></span>
        </p>
      </div>

      <div class="kuiVerticalRhythmSmall kuiVerticalRhythm">
        <select
          id="timeFilterFieldSelect"
          aria-describedby="timeFilterFieldSelectHelpText"
          class="kuiSelect kuiSelect--large"
          data-test-subj="createIndexPatternTimeFieldSelect"
          ng-disabled="stepTimeField.isTimeFieldSelectDisabled()"
          ng-required="stepTimeField.timeFieldOptions.length"
          ng-options="option as option.display disable when option.isDisabled for option in stepTimeField.timeFieldOptions"
          ng-model="stepTimeField.selectedTimeFieldOption"
        ></select>
      </div>

      <p
        id="timeFilterFieldSelectHelpText"
        class="kuiText kuiSubduedText kuiVerticalRhythm"
        translate="KIBANA-CREATE_INDEX_PATTERN_STEP_2_TIME_FIELD_HELP"
      ></p>
    </div>

    <toggle-panel
      class="kuiVerticalRhythm"
      is-disabled="!stepTimeField.canEnableExpandWildcard()"
      is-collapsed="!stepTimeField.isAdvancedOptionsVisible"
      on-toggle="stepTimeField.onToggleAdvancedOptions"
      toggle-button-label="{{stepTimeField.getAdvancedOptionsButtonLabel()}}"
    >
      <!-- Expand index pattern checkbox -->
      <label
        class="kuiLabel kuiVerticalRhythmSmall"
        for="expandIndexPatternCheckBox"
        translate="KIBANA-CREATE_INDEX_PATTERN_STEP_2_EXPAND_LABEL"
      ></label>

      <label class="kuiCheckBoxLabel kuiVerticalRhythmSmall kuiVerticalRhythm">
        <input
          id="expandIndexPatternCheckBox"
          aria-describedby="expandIndexPatternCheckBoxHelpText"
          class="kuiCheckBox"
          type="checkbox"
          data-test-subj="createIndexPatternEnableExpand"
          ng-model="stepTimeField.expandWildcard"
        >
        <span class="kuiCheckBoxLabel__text">
          <span translate="KIBANA-CREATE_INDEX_PATTERN_STEP_2_EXPAND_CHECKBOX_LABEL"></span>
        </span>
      </label>

      <!-- Checkbox help text -->
      <div
        id="expandIndexPatternCheckBoxHelpText"
        class="kuiVerticalRhythm"
      >
        <p
          class="kuiText kuiSubduedText kuiVerticalRhythmSmall"
          translate="KIBANA-CREATE_INDEX_PATTERN_STEP_2_EXPAND_HELP_1"
        ></p>

        <p
          class="kuiText kuiSubduedText kuiVerticalRhythmSmall"
          translate="KIBANA-CREATE_INDEX_PATTERN_STEP_2_EXPAND_HELP_2"
        ></p>

        <p
          class="kuiText kuiSubduedText kuiVerticalRhythmSmall"
          translate="KIBANA-CREATE_INDEX_PATTERN_STEP_2_EXPAND_HELP_3"
        ></p>
      </div>
    </toggle-panel>

    <!-- Actions -->
    <div class="kuiBar kuiVerticalRhythm">
      <div class="kuiBarSection">
        <div class="kuiButtonGroup">
          <button
            class="kuiButton kuiButton--secondary kuiButton--iconText"
            ng-click="stepTimeField.goToPreviousStep()"
          >
            <span class="kuiButton__inner">
              <span aria-hidden="true" class="kuiButton__icon kuiIcon fa-chevron-left"></span>
              <span translate="KIBANA-CREATE_INDEX_PATTERN_STEP_2_BACK_BUTTON"></span>
            </span>
          </button>

          <button
            data-test-subj="createIndexPatternCreateButton"
            ng-disabled="!stepTimeField.canCreateIndexPattern()"
            class="kuiButton kuiButton--primary"
            type="submit"
            translate="KIBANA-CREATE_INDEX_PATTERN_STEP_2_SUBMIT_BUTTON"
          ></button>
        </div>
      </div>
    </div>
  </div>
</form>
