// Dark theme overides

$kuiColorEmptyShade: #222;
$kuiColorLightestShade: #333;
$kuiColorLightShade: #444;
$kuiColorMediumShade: #555;
$kuiColorDarkShade: #D9D9D9;
$kuiColorDarkestShade: #F5F5F5;
$kuiColorFullShade: #FFF;
$kuiColorPrimary: #4da1c0;
$kuiColorDanger: #bf4d4d;

// Configuration
@import 'variables/index';
