// Dark theme overides

$kuiColorEmptyShade: #222;
$kuiColorLightestShade: #272727;
$kuiColorLightShade: #333;
$kuiColorMediumShade: #444;
$kuiColorDarkShade: #D9D9D9;
$kuiColorDarkestShade: #F5F5F5;
$kuiColorFullShade: #FFF;
$kuiColorPrimary: #4da1c0;
$kuiColorDanger: #bf4d4d;
$kuiTextColor: #DDD;

// Configuration
@import 'variables/index';
