@import (reference) "../../style/main";

.canvas__workpad_loader {
  height: 400px;

  .canvas__workpad_loader--created, .canvas__workpad_loader--updated {
    white-space: nowrap;
  }

  .canvas__workpad_loader--delete:hover {
    color: @colorDanger;
  }

  .canvas__workpad_loader--export:hover {
    color: @colorSecondary;
  }

  .canvas__workpad_loader--workpad {
    cursor: pointer;

    &:hover {
      background-color: @darkGrey;
    }
  }

  .canvas__workpad_loader--controls {
    display: flex;
    flex-direction: row;
    margin-bottom: @spacingM;
  }

  .canvas__workpad_loader--new {
    margin-right: @spacingS;
  }
}
