@import (reference) "~ui/styles/mixins.less";

.markdown-vis {
  padding: 1em;
  width: 100%;
}

.vis-editor {

  &.vis-type-markdown {

    .visualization-options {
      .flex-parent();
      flex: 1 1 auto;
    }

    .markdown-vis-options {
      .euiPanel {

        .flex-parent();
        flex: 1 1 auto;

        .euiFlexGroup {
          flex-grow: 0;
        }

        textarea {
          flex: 1 1 auto;
          resize: none;
        }

        .markdown-vis--editor {
          flex: 1 1 100%;
        }
      }

    }

  }

}
