@import (reference) "~ui/styles/mixins.less";

.markdown-vis {
  padding: 1em;
  width: 100%;
}

.markdown-vis-editor,
.markdown-vis-editor-row {
  display: flex;
  flex: 1 1 100%;
}

.markdown-vis-editor-textarea {
  flex: 1 1 auto;
  resize: none;
}
