<div class="kuiSideBarSection">
  <div class="markdown-vis-options form-group">
    <div>
      <label for="markdownVisInput">Markdown</label>
      <small class="pull-right"><a target="_window" href="https://help.github.com/articles/github-flavored-markdown/">Help <i aria-hidden="true" class="fa fa-link"></i></a></small>
    </div>
    <div class="kuiSideBarFormRow">
      <label class="kuiSideBarFormRow__label" for="markdownVisFontSize">
        Font Size (<span ng-bind="vis.params.fontSize"></span>pt)
      </label>
      <div class="kuiSideBarFormRow__control">
        <input id="markdownVisFontSize" type="range" ng-model="vis.params.fontSize" class="form-control" min="8" max="36" />
      </div>
    </div>
    <div class="kuiSideBarFormRow">
      <label class="kuiSideBarFormRow__label" for="markdownVisOpenLinksInNewTab">
        Open links in new tab
      </label>
      <div class="kuiSideBarFormRow__control">
        <input
          id="markdownVisOpenLinksInNewTab"
          type="checkbox"
          ng-model="vis.params.openLinksInNewTab"
          class="kuiCheckBox"
        />
      </div>
    </div>
    <textarea
      id="markdownVisInput"
      ng-model="vis.params.markdown"
      class="form-control"
      rows="20"
      data-test-subj="markdownTextarea"
    ></textarea>
  </div>
</div>
