@import "../../dist/ui_framework.css";
@import "./variables";
@import "./views/home/home_view";
@import "./components/guide_components";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/**
 * 1. Insane line-height makes it easier to notice when components are relying
 *    on styles inherited from body.
 */
body {
  background-color: $guideBaseBackgroundColor;
  line-height: 40px; /* 1 */
  margin: 0;
}

.guide {
  display: flex;
  height: 100%;
}

.guideContent {
  flex: 1 1 auto;
  padding-top: $guideNavHeight;
  transition: padding-right $guideCodeViewerTransition;

  &.is-code-viewer-open {
    padding-right: $guideCodeViewerWidth;

    @include whenNarrowerThan($normalBreakpoint) {
      padding-right: $guideCodeViewerSmallWidth;
    }
  }
}

.guideWarning {
  border-left: 5px solid #e8488b;
  margin-top: 19px;
  padding: 0 14px;
  line-height: 21px;
  color: #e8488b;
}

.guideBreak {
  border: none;
}

.guidePaginationButtons {
  position: fixed;
  z-index: 10001;
  top: 10px;
  right: 10px;
}

.guidePaginationButton {
  appearance: none;
  border: none;
  line-height: 10px;
  padding: 4px 20px;
  color: $guideLinkHoverColor;
  background-color: #fff;
  border: 1px solid $guideLinkHoverColor;
  border-radius: 3px;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: #e6f7fc;
  }

  &.guidePaginationButton-isDisabled {
    pointer-events: none;
    color: rgba($guideTextColor, 0.25);
    border-color: rgba($guideTextColor, 0.25);
  }

  & + & {
    margin-left: 10px;
  }
}
