.repoItem {
  border: 1px solid grey;
  margin: 0;
  padding: 1rem;
}

.importModal {
  padding: 2.5rem;
  min-width: 60rem;
  min-height: 40rem;
}

.importModalTitle {
  margin-bottom: 1rem;
}

.tabContent {
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.addressInputLabel {
  line-height: 40px;
}

.importModalInput {
  margin-left: 1rem;
}

.importModalButton {
  margin-left: 2rem;
}

.searchBox {
  margin: 0;
}

.addRepoButton {
  margin: auto;
  display: block;
}