.dshAppContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dshStartScreen {
  text-align: center;
}

.dshStartScreen__pageContent {
  padding: $euiSizeXXL;
}

.dshStartScreen__panelDesc {
  max-width: 260px;
  margin: 0 auto;
}

.dshEmptyWidget {
  border: $euiBorderThin;
  border-style:  dashed;
  border-radius: $euiBorderRadius;
  padding: $euiSizeXXL * 2;
  max-width: 400px;
  margin-left: $euiSizeS;
  text-align: center;
}
