.dshAppContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dshStartScreen {
  text-align: center;
  padding: $euiSize;
  background-color: $euiColorLightestShade;
  color: $euiColorDarkShade;

  > * {
    max-width: 36em !important;
  }
}

.dshSaveModal,
.dshCloneModal {
  max-width: 450px;
}
