// ANGULAR SELECTOR HACKS

/**
 * Mimics EuiPageBackground
 */
dashboard-listing {
  background-color: $euiColorLightestShade;
  min-height: 100vh;
}

/**
 * Needs to correspond with the react root nested inside angular.
 */
 dashboard-viewport-provider {
  flex: 1;
  display: flex;
  [data-reactroot] {
    flex: 1;
  }
}


// Dark theme bootstrap
// Yes, this is a hack because bootstrap will be removed and everything must move to EUI theming
// Can't reliably remove all/any of these because of embeddables

.theme-dark {
  @import '@elastic/eui/src/themes/k6/k6_colors_dark';

  // /src/ui/public/styles/bootstrap/scaffolding.less
  a {
    color: $euiColorPrimary;

    &:hover,
    &:focus {
      color: darken($euiColorPrimary, 10%);
    }
  }

  // /src/ui/public/styles/bootstrap/forms.less
  // Updated to match EUI dark theme
  .form-control {
    color: $euiTextColor;
    background-color: tintOrShade($euiColorLightestShade, 60%, 25%);
    border-color: transparentize($euiColorFullShade, .9);
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
      background-color: darken($euiColorLightestShade, 2%);
    }
  }

  // /src/ui/public/styles/bootstrap/tables.less
  // Updated to match EUI dark theme
  .table {
    // Cells
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          border-top-color: $euiColorLightShade;
        }
      }
    }
    // Bottom align for column headings
    > thead > tr > th {
      border-bottom-color: $euiColorLightShade;
    }
    // Account for multiple tbody instances
    > tbody + tbody {
      border-top-color: $euiColorLightShade;
    }

    // Nesting
    .table {
      background-color: transparent;
    }
  }

  table {
    th {
      i.fa-sort {
        color: $euiColorMediumShade;
      }

      button.fa-sort-asc,
      button.fa-sort-down,
      i.fa-sort-asc,
      i.fa-sort-down {
        color: $euiTextColor;
      }

      button.fa-sort-desc,
      button.fa-sort-up,
      i.fa-sort-desc,
      i.fa-sort-up {
        color: $euiTextColor;
      }
    }
  }


  // /src/ui/public/styles/bootstrap/list-group.less
  .list-group-item {
    background-color: $euiColorLightShade;
    border-color: $euiColorDarkShade;
    &:nth-child(even) {
      background-color: $euiColorMediumShade;
    }
  }

  a.list-group-item,
  button.list-group-item {
    color: $euiColorMediumShade;

    .list-group-item-heading {
      color: $euiColorLightShade;
    }

    // Hover state
    &:hover,
    &:focus {
      color: $euiColorMediumShade;
      background-color: $euiColorDarkestShade;
    }
  }

  .panel {
    > .panel-body + .table,
    > .panel-body + .table-responsive,
    > .table + .panel-body,
    > .table-responsive + .panel-body {
      border-top-color: $euiColorMediumShade;
    }
  }

  .panel-group {
    .panel-heading {
      + .panel-collapse > .panel-body,
      + .panel-collapse > .list-group {
        border-top-color: $euiColorEmptyShade;
      }
    }

    .panel-footer {
      border-top: 0;
      + .panel-collapse .panel-body {
        border-bottom-color: $euiColorEmptyShade;
      }
    }
  }

  .panel-default {
    & > .panel-heading {
      color: $euiColorPrimary;
      background-color: $euiColorEmptyShade;
      border-color: $euiColorLightShade;

      + .panel-collapse > .panel-body {
        border-top-color: $euiColorLightShade;
      }
      .badge {
        color: $euiColorEmptyShade;
        background-color: $euiColorPrimary;
      }
    }
    & > .panel-footer {
      + .panel-collapse > .panel-body {
        border-bottom-color: $euiColorLightShade;
      }
    }
  }

  // /src/ui/public/styles/bootstrap/navs.less
  .nav {
    > li {
      > a {
        &:hover,
        &:focus {
          background-color: $euiColorDarkShade;
        }
      }
    }
  }

  .nav-tabs {
    border-bottom-color: $euiColorMediumShade;
    > li {
      > a {
        &:hover {
          border-color: $euiColorDarkShade;
        }
      }

      &.active > a {
        &,
        &:hover,
        &:focus {
          color: $euiColorFullShade;
          background-color: $euiColorMediumShade;
          border: 0 none transparent;
        }
      }
    }
  }
}
