<dashboard-app
  class="app-container dshAppContainer"
  ng-class="{'dshAppContainer--withMargins': model.useMargins}"
>
  <!-- Local nav. -->
  <kbn-top-nav name="dashboard" config="topNavMenu">
    <!-- Transcluded elements. -->
    <div data-transclude-slots>
      <!-- Search. -->
      <div ng-show="chrome.getVisible()" class="fullWidth" data-transclude-slot="bottomRow">
        <search-bar
          query="model.query"
          screen-title="screenTitle"
          on-query-submit="updateQueryAndFetch"
          app-name="'dashboard'"
          index-patterns="indexPatterns"
          filters="model.filters"
          on-filters-updated="onFiltersUpdated"
          show-filter-bar="showFilterBar()"
          show-date-picker="true"
          date-range-from="model.timeRange.from"
          date-range-to="model.timeRange.to"
          is-refresh-paused="model.refreshInterval.pause"
          refresh-interval="model.refreshInterval.value"
          on-refresh-change="onRefreshChange"
        ></search-bar>
      </div>
    </div>
  </kbn-top-nav>

  <!--
  The top nav is hidden in embed mode but the filter bar must still be present so
  we show the filter bar on its own here if the chrome is not visible.
-->
  <filter-bar
    ng-if="showFilterBar() && !chrome.getVisible()"
    class-name="'globalFilterGroup__filterBar'"
    filters="model.filters"
    on-filters-updated="onFiltersUpdated"
    index-patterns="indexPatterns"
  ></filter-bar>

  <apply-filters-popover
    filters="appState.$newFilters"
    on-cancel="onCancelApplyFilters"
    on-submit="onApplyFilters"
  ></apply-filters-popover>

  <div ng-show="getShouldShowEditHelp() || getShouldShowViewHelp()" class="dshStartScreen">
    <div class="euiPanel euiPanel--paddingLarge euiPageContent euiPageContent--horizontalCenter">
      <icon type="'dashboardApp'" size="'xxl'" color="'subdued'"></icon>

      <br><br>

      <div ng-show="getShouldShowEditHelp()" class="euiText">
        <h2
          i18n-id="kbn.dashboard.fillDashboardTitle"
          i18n-default-message="This dashboard is empty. Let&rsquo;s fill it up!"
        >
        </h2>

        <p>
          <span
            i18n-id="kbn.dashboard.addVisualizationDescription1"
            i18n-default-message="Click the "
            i18n-context="Part of composite label kbn.dashboard.addVisualizationDescription1 + kbn.dashboard.addVisualizationLinkText + kbn.dashboard.addVisualizationDescription2"
          ></span>
          <a
            kbn-accessible-click
            class="euiLink"
            ng-click="showAddPanel()"
            aria-label="{{::'kbn.dashboard.addVisualizationLinkAriaLabel' | i18n: { defaultMessage: 'Add visualization' } }}"
            data-test-subj="emptyDashboardAddPanelButton"
            i18n-id="kbn.dashboard.addVisualizationLinkText"
            i18n-default-message="Add"
          ></a>
          <span
            i18n-id="kbn.dashboard.addVisualizationDescription2"
            i18n-default-message=" button in the menu bar above to add a visualization to the dashboard."
          ></span>
        </p>
        <p
          i18n-id="kbn.dashboard.addVisualizationDescription3"
          i18n-default-message="If you haven't set up any visualizations yet, {visitVisualizeAppLink} to create your first visualization."
          i18n-values="{
            html_visitVisualizeAppLink: '<a class=\'euiLink\' href=\'#/visualize\'>' + visitVisualizeAppLinkText + '</a>'
          }"
        ></p>
      </div>

      <div ng-show="getShouldShowViewHelp()" class="euiText">
        <h2
          i18n-id="kbn.dashboard.fillDashboardTitle"
          i18n-default-message="This dashboard is empty. Let&rsquo;s fill it up!"
        >
        </h2>

        <p>
          <span
            i18n-id="kbn.dashboard.howToStartWorkingOnNewDashboardDescription1"
            i18n-default-message="Click the "
            i18n-context="Part of composite label kbn.dashboard.howToStartWorkingOnNewDashboardDescription1 + kbn.dashboard.howToStartWorkingOnNewDashboardEditLinkText + kbn.dashboard.howToStartWorkingOnNewDashboardDescription2"
          ></span>
          <a
            kbn-accessible-click
            class="euiLink"
            ng-click="enterEditMode()"
            i18n-id="kbn.dashboard.howToStartWorkingOnNewDashboardEditLinkText"
            i18n-default-message="Edit"
          ></a>
          <span
            i18n-id="kbn.dashboard.howToStartWorkingOnNewDashboardDescription2"
            i18n-default-message=" button in the menu bar above to start working on your new dashboard."
          ></span>
        </p>
      </div>

    </div>
  </div>

  <dashboard-viewport-provider
    get-embeddable-factory="getEmbeddableFactory"
  >
  </dashboard-viewport-provider>

</dashboard-app>
