<div class="kuiToolBar">
  <button class="kuiButton kuiButton--basic">
    Basic button
  </button>

  <button disabled class="kuiButton kuiButton--basic">
    Basic button, disabled
  </button>

  <button class="kuiButton kuiButton--primary">
    Primary button
  </button>

  <button disabled class="kuiButton kuiButton--primary">
    Primary button, disabled
  </button>

  <button class="kuiButton kuiButton--danger">
    Danger button
  </button>

  <button disabled class="kuiButton kuiButton--danger">
    Danger button, disabled
  </button>
</div>
