// Animations

$globalAnimSlightBounce: cubic-bezier(0.34,1.61,0.7,1);
$globalAnimSlightResistance: cubic-bezier(0.694, 0.0482, 0.335, 1);
$globalAnimSpeedVeryFast: 90ms;
$globalAnimSpeedFast: 150ms;
$globalAnimSpeedNormal: 250ms;
$globalAnimSpeedSlow: 350ms;
$globalAnimSpeedVerySlow: 500ms;
