// Borders

$kuiBorderWidthThin: 1px;
$kuiBorderWidthThick: 2px;

$kuiBorderColor: $kuiColorLightShade;
$kuiBorderRadius: 4px;
$kuiBorderThick: $kuiBorderWidthThick solid $kuiBorderColor;
$kuiBorderThin: $kuiBorderWidthThin solid $kuiBorderColor;
