// Mixes a provided color with white.
@function tint($color, $percent) {
  @return mix(#fff, $color, $percent);
}

// Mixes a provided color with black.
@function shade($color, $percent) {
  @return mix(#000, $color, $percent);
}

// For theming. Checks the text color and tells us whether it's light or dark.
// Based on that we either tint or shade.
@function tintOrShade($color, $tint, $shade) {
  @if (lightness($kuiTextColor) > 50) {
    @return shade($color, $shade);
  } @else {
    @return tint($color, $tint);
  }
}

@function shadeOrTint($color, $shade, $tint) {
  @if (lightness($kuiTextColor) < 50) {
    @return shade($color, $shade);
  } @else {
    @return tint($color, $tint);
  }
}

// Core

$kuiColorPrimary: #0079a5 !default;
$kuiColorSecondary: #00A69B;
$kuiColorAccent: #DD0A73;
$kuiColorHighlight: #FFFF00;

// Status
$kuiColorDanger: #A30000;
$kuiColorWarning: #E5830E;

// Grays
$kuiColorEmptyShade: #FFF !default;
$kuiColorLightestShade: #F5F5F5 !default;
$kuiColorLightShade: #D9D9D9 !default;
$kuiColorMediumShade: #999 !default;
$kuiColorDarkShade: #666 !default;
$kuiColorDarkestShade: #3F3F3F !default;
$kuiColorFullShade: #000 !default;


// Dark theme overides
// $kuiColorEmptyShade: #222;
// $kuiColorLightestShade: #333;
// $kuiColorLightShade: #444;
// $kuiColorMediumShade: #555;
// $kuiColorDarkShade: #D9D9D9;
// $kuiColorDarkestShade: #F5F5F5;
// $kuiColorFullShade: #FFF;
// $kuiColorPrimary: tint($kuiColorPrimary, 30%);


// Every color below must be based mathmatically on the set above.

$kuiTextColor: $kuiColorDarkestShade;
$kuiTitleColor: $kuiColorFullShade;
$kuiLinkColor: $kuiColorPrimary;
$kuiFocusBackgroundColor: tintOrShade($kuiColorPrimary, 90%, 50%);

