// Font

$kuiFontFamily: Roboto, Helvetica, Arial, sans-serif;
$kuiCodeFontFamily: "Roboto Mono", monospace;

$kuiLineHeight: 1.5;

$kuiFontSize:       $kuiSize;
$kuiFontSizeXS:     $kuiSize;
$kuiFontSizeS:      $kuiSize;
$kuiFontSizeM:      $kuiSize;
$kuiFontSizeL:      $kuiSize;
$kuiFontSizeXL:     $kuiSize;
$kuiFontSizeXXL:    $kuiSize;


