// Some mixins that help us deal with browser scaling of text more consistantly.
// Essentially, fonts across kui should scale agains the root html element, not
// against parent inheritance.


// Typography mixins

@function convertToRem($size) {
  @return #{$size / $kuiFontSize}rem;
}

// Spit out rem and px

@mixin fontSize($size: $kuiFontSize) {
  font-size: $size;
  font-size: convertToRem($size);
}

// Families
$kuiFontFamily: "Roboto", Helvetica, Arial, sans-serif;
$kuiCodeFontFamily: "Roboto Mono", monospace;

// Font sizes
$kuiFontSize:       $kuiSize;

$kuiFontSizeXS:     12px;
$kuiFontSizeS:      14px;
$kuiFontSizeM:      $kuiFontSize;
$kuiFontSizeL:      24px;
$kuiFontSizeXL:     32px;
$kuiFontSizeXXL:    48px;

// Line height

$kuiLineHeight: 1.5 * $kuiFontSize;

// Font weights

$kuiFontWeightLight:    300;
$kuiFontWeightRegular:  400;
$kuiFontWeightMedium:   500;

// Our base fonts

%kuiFont {
  font-family: $kuiFontFamily;
  font-weight: $kuiFontWeightRegular;
}

%kuiCodeFont {
  font-family: $kuiCodeFontFamily;
}

// Font sizing extends, using rem mixin

%kuiFontSize {
  @include fontSize($kuiFontSize);
  line-height: $kuiLineHeight;
}

%kuiFontSizeXS {
  @include fontSize($kuiFontSizeXS);
  line-height: $kuiLineHeight;
}

%kuiFontSizeS {
  @include fontSize($kuiFontSizeS);
  line-height: $kuiLineHeight;
}

%kuiFontSizeM {
  @include fontSize($kuiFontSizeM);
  line-height: $kuiLineHeight;
}

%kuiFontSizeL {
  @include fontSize($kuiFontSizeL);
  line-height: $kuiLineHeight * 1.5;
}

%kuiFontSizeXL {
  @include fontSize($kuiFontSizeXL);
  line-height: $kuiLineHeight * 2;
}

%kuiFontSizeXXL {
  @include fontSize($kuiFontSizeXXL);
  line-height: $kuiLineHeight * 3;
}
