$modalPadding: 10px;
$modalBorderColor: $kuiColorLightGray;
$modalBackgroundColor: #FFF;
$modalOverlayBackground: rgba(#000000, 0.5);
$kuiModalDepth: 1000;

// Dark theme colors
$modalBorderColor--darkTheme: #000;
$modalBackgroundColor--darkTheme: #525252;

@import "modal_overlay";
@import "modal";
