.contextSizePicker {
  padding-right: 10px;
  height: 100%;
}

  .contextSizePicker__item {
    display: inline-block;
  }

  .contextSizePicker__sizeInput {
    appearance: textfield;
    text-align: center;
    width: 3em;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }
