.homAddData__card {
  max-width: 250px;
  border: none;
  box-shadow: none;
}

.homAddData__icon {
  width: $euiSizeXL * 2;
  height: $euiSizeXL * 2;
}

.homAddData__footerItem--highlight {
  background-color: tintOrShade($euiColorPrimary, 90%, 70%);
  padding: $euiSize;
}

.homAddData__footerItem {
  text-align: center;
}

@include euiBreakpoint('xs') {
  .homAddData__card {
    max-width: none;
  }
}

@include euiBreakpoint('xs', 's') {
  .homeAddData__flexGroup {
    flex-wrap: wrap;
  }
}

@include euiBreakpoint('l', 'xl') {
  .homeAddData__flexGroup {
    flex-wrap: nowrap;
  }
}
