// These are the various types in the dropdown, they each get a color
$kbnTypeaheadTypes: (
  field: $euiColorWarning,
  value: $euiColorSecondary,
  operator: $euiColorPrimary,
  conjunction: $typeaheadConjunctionColor,
);

.kbnTypeahead {
  position: relative;

  .kbnTypeahead__popover {
    @include euiBottomShadow($adjustBorders: true);
    border: 1px solid;
    border-color: $euiBorderColor;
    color: $euiTextColor;
    background-color: $euiColorEmptyShade;
    position: absolute;
    top: -1px;
    z-index: $euiZContentMenu;
    width: 100%;
    border-bottom-left-radius: $euiBorderRadius;
    border-bottom-right-radius: $euiBorderRadius;

    .kbnTypeahead__items {
      @include euiScrollBar;

      max-height: 60vh;
      overflow-y: auto;
    }

    .kbnTypeahead__item {
      height: $euiSizeXL;
      white-space: nowrap;
      font-size: $euiFontSizeXS;
      vertical-align: middle;
      padding: 0;
      border-bottom: none;
      line-height: normal;
    }

    .kbnTypeahead__item:hover {
      cursor: pointer;
    }

    .kbnTypeahead__item:last-child {
      border-bottom: none;
      border-radius: 0 0 $euiBorderRadius $euiBorderRadius;
    }

    .kbnTypeahead__item:first-child {
      border-bottom: none;
      border-radius: $euiBorderRadius $euiBorderRadius 0 0;
    }

    .kbnTypeahead__item.active {
      background-color: $euiColorLightestShade;


      .kbnSuggestionItem__callout {
        background: $euiColorEmptyShade;
      }

      .kbnSuggestionItem__text {
        color: $euiColorFullShade;
      }

      .kbnSuggestionItem__type {
        color: $euiColorFullShade;
      }

      @each $name, $color in $kbnTypeaheadTypes {
        .kbnSuggestionItem--#{$name} {
          .kbnSuggestionItem__type {
            background-color: tintOrShade($color, 80%, 60%);
          }
        }
      }
    }
  }
}

.kbnSuggestionItem {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-size: $euiFontSizeXS;
  white-space: nowrap;

  @each $name, $color in $kbnTypeaheadTypes {
    &.kbnSuggestionItem--#{$name} {
      .kbnSuggestionItem__type {
        background-color: tintOrShade($color, 90%, 50%);
        color: makeHighContrastColor($color, tintOrShade($color, 90%, 50%));
      }
    }
  }

  &.kbnSuggestionItem--recentSearch {
    .kbnSuggestionItem__type {
      background-color: $euiColorLightShade;
      color: $euiColorMediumShade;
    }

    .kbnSuggestionItem__text {
      width: auto;
    }
  }
}

.kbnSuggestionItem__text,
.kbnSuggestionItem__type,
.kbnSuggestionItem__description {
  flex-grow: 1;
  flex-basis: 0%;
  display: flex;
  flex-direction: column;
}

.kbnSuggestionItem__type {
  flex-grow: 0;
  flex-basis: auto;
  width: $euiSizeXL;
  height: $euiSizeXL;
  text-align: center;
  overflow: hidden;
  padding: $euiSizeXS;
  justify-content: center;
  align-items: center;
}


.kbnSuggestionItem__text {
  flex-grow: 0; /* 2 */
  flex-basis: auto; /* 2 */
  font-family: $euiCodeFontFamily;
  margin-right: $euiSizeXL;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: $euiSizeXS $euiSizeS;
  color: $euiTextColor;
}

.kbnSuggestionItem__description {
  color: $euiColorDarkShade;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kbnSuggestionItem__callout {
  font-family: $euiCodeFontFamily;
  background: $euiColorLightestShade;
  color: $euiColorFullShade;
  padding: 0 $euiSizeXS;
  display: inline-block;
}
