.dscNoResults {
  max-width: 1000px;
}

// SASSTODO: seems like this class is not used anywhere
.discoverNoResultsShardFailure {
  display: block;

  .euiFlexItem:last-child {
    display: block;
    flex-grow: 1;
  }
}
