// SASSTODO: figure out why this is needed
kbn-management-app,
kbn-management-landing,
kbn-management-indices,
kbn-management-indices-edit,
kbn-management-indices-create,
kbn-management-advanced,
kbn-management-objects,
kbn-management-objects-view {
  display: block;
}

// SASSTODO: Remove when Kibana has a proper background color
kbn-management-objects, kbn-management-app, .tab-management {
  background: $euiColorLightestShade;
  flex-grow: 1;
}

#management-landing {
  display: flex;
}

.kbn-management-tab:first-letter {
  text-transform: capitalize;
}

// SASSTODO: Remove when this is replaced with EuiCode
kbn-management-objects-view {
  .ace_editor { height: 300px; }
}

// SASSTODO: These are some dragula settings.
.gu-handle {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.gu-mirror,
.gu-mirror .gu-handle {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

// Hack because the management wrapper is flat HTML and needs a class
.mgtPage__body {
  max-width: map-get($euiBreakpoints, 'xl');
}