.mgtPanel {
  margin-bottom: $euiSize;
  background: $euiColorEmptyShade;
}

/**
 * 1. Override kuiPanelBody styles to accommodate padding of items within the panel body..
 */
.mgtPanel__body {
  padding: 5px 10px; /* 1 */
}

/**
 * 1. Create vertical space between items when they wrap.
 */
.mgtPanel__item {
  padding: 5px 15px; /* 1 */
}

// SASSTODO: Remove when this is replaced by the side nav
.mgtPanel__link {
  @include euiFontSizeL;

  line-height: 1.5; // Make sure the space between wrapped lines is than the vertical space between items.

  &.mgtPanel__link--disabled {
    opacity: $euiColorDarkShade;
    cursor: default;

    &:hover, &:visited {
      color: $euiColorPrimary;
    }
  }
}

// SASSTODO: Remove when this form is replaced by EUI
kbn-management-objects {
  form {
    margin-bottom: $euiSize;
  }
  .list-unstyled {
    li {
      border-bottom: $euiBorderThin;
      padding: $euiSizeS;
    }
  }
  .empty {
    color: $euiColorDarkShade;
  }

  .item {
    padding: $euiSizeM;

    .item-title {
      margin-left: $euiSizeL;
    }

    .actions {
      margin-top: $euiSizeXS;
    }
  }

  .header {
    .title, .controls {
      padding-right: 1em;
      display: inline-block;
    }
  }
}
