@import (reference) "../../style/main";

.canvas .canvas__element__markdown {
  h1 { font-size: 2.5em;  }
  h2 { font-size: 2em;    }
  h3 { font-size: 1.75em; }
  h4 { font-size: 1.5em;  }
  h5 { font-size: 1.25em; }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
    line-height: 1.1;
    font-weight: inherit;
  }
}
