<div class="kuiLocalBreadcrumbs" data-test-subj="breadcrumbs">
  <div
    class="kuiLocalBreadcrumb"
    ng-if="useLinks"
    ng-repeat="breadcrumb in breadcrumbs"
  >
    <a
      class="kuiLocalBreadcrumb__link"
      href="{{ breadcrumb.href }}"
    >
      {{ breadcrumb.display }}
    </a>
  </div>

  <div
    class="kuiLocalBreadcrumb"
    ng-if="!useLinks"
    ng-repeat="breadcrumb in breadcrumbs"
  >
    {{ breadcrumb.display }}
  </div>

  <div
    class="kuiLocalBreadcrumb"
    ng-if="pageTitle"
  >
    {{ pageTitle }}
  </div>
</div>
