<div
  class="kuiLocalBreadcrumbs"
  data-test-subj="breadcrumbs"
  role="heading"
  aria-level="1"
  ng-if="showPluginBreadcrumbs"
>
  <div
    class="kuiLocalBreadcrumb"
    ng-if="useLinks"
    ng-repeat="breadcrumb in breadcrumbs"
  >
    <a
      class="kuiLocalBreadcrumb__link"
      href="{{ breadcrumb.href }}"
      data-test-subj="lnkBreadcrumb{{$index}}"
    >
      {{ breadcrumb.display }}
    </a>
  </div>

  <div
    class="kuiLocalBreadcrumb"
    ng-if="!useLinks"
    ng-repeat="breadcrumb in breadcrumbs"
  >
    {{ breadcrumb.display }}
  </div>

  <div
    class="kuiLocalBreadcrumb"
    ng-if="pageTitle"
    data-test-subj="breadcrumbPageTitle"
  >
    {{ pageTitle }}
  </div>
</div>
