.kuiCardGroup {
  display: flex;
}

  .kuiCardGroup__card {
    flex: 1 1 0%;

    & + & {
      margin-left: 30px;
    }
  }

  .kuiCardGroup__cardDescription {
    flex: 1 1 auto;
  }

.kuiCardGroup--united {
  border: 1px solid $cardBorderColor;
  border-radius: $globalBorderRadius;
  overflow: hidden;

  .kuiCardGroup__card {
    border: none;
    border-radius: 0;
  }

  .kuiCardGroup__card + .kuiCardGroup__card {
    margin-left: 0;
    border-left: 1px solid $cardBorderColor;
  }
}
