@import (reference) "../../../../style/main";

.canvas__time-picker {
  display: flex;

  > div:not(:last-child) {
    margin-right: @spacingS;
  }

  .canvas__time-picker--apply {
    margin-top: @spacingXS;
    width: 100%;
  }
}
