@import (reference) "~plugins/rework/main.less";

.rework--page-manager > * {
  margin-left: 5px;
  color: @text-color;
}

.rework--page-manager-config {

  &.show {
    display: inline !important;
  }
  &:hover {
    color: @kibanaBlue3;
  }
}

.rework--page-manager-add {
  &:hover {
    color: @kibanaGreen1;
  }
}

.rework--page-manager-remove {
  &:hover {
    color: @kibanaPink1;
  }
}
