@import (reference) "~plugins/rework/main.less";

.rework--page-manager-add {
  &:hover {
    color: @kibanaGreen1;
  }
}

.rework--page-manager-remove {
  margin-left: 5px;
  &:hover {
    color: @kibanaPink1;
  }
}
