@import (reference) "../../style/variables";

.canvas__page-manager {
  .canvas__page-manager--pages {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    max-height: 148px;
    padding-top: @spacingS;
    margin-bottom: @spacingS;
  }

  .canvas__page-manager--page.active {
    background-color: @trueWhite !important;
    color: @textMain !important;
  }

  .canvas__page-manager--page:hover {
    background-color: @mediumGrey;
    color: @lightGrey;
  }

  .canvas__page-manager--page {
    background-color: @darkGrey;
    position: relative;
    color: @mediumGrey;
    border: @borderStyle;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    text-align: center;
    width: 77px;
    height: 100px;
    margin: 0 @spacingM @spacingS 0;
    cursor: pointer;

    &:hover {
      .canvas__page-manager--page-controls {
        bottom: 0;
        display: block;
        position: absolute;
        text-align: center;
        width: 100%;

        > * {
          padding: @spacingXS;
        }

        .delete,
        .duplicate {
          font-size: @textMedium;
        }

        .delete {
          color: @red;
        }

        .duplicate {
          color: @blue;
        }
      }

      .canvas__page-manager--page-remove {
        display: inline;
      }
    }

    .canvas__page-manager--page-remove {
      display: none;
      position: absolute;
      top: -8px;
      right: -12px;
    }

    .canvas__page-manager--page-controls {
      display: none;
    }

    .canvas__page-manager--page-index {
      line-height: 100px;
      font-size: @textLarge;
    }
  }
}
