@import (reference) "../../style/main";

.canvas__asset-manager {
  .canvas__asset-manager--thumb {
    display: inline-block;
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: @borderRadius;
    border: @borderStyle;
    margin-right: @spacingM;
    margin-bottom: @spacingM;
    background-color: @lightestGrey;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;

  }

  .canvas__asset-manager--asset-identifier {
    position: absolute;
    bottom: 0;
    background-color: fade(@darkestGrey, 80%);
    border-radius: 0 0 @borderRadius @borderRadius;
    padding: @spacingXS;

    .asset-copy {
      float: right;
    }
  }
}
