.canvas__asset-manager {
  .canvas__asset-manager--asset {
    display: inline-block;
    position: relative;
    margin-right: $euiSize;
    margin-bottom: $euiSize;
    height: 200px;
    width: 200px;
  }

  .canvas__asset-manager--thumb {
    overflow: hidden;
    width: 100%;
    height: 100%;

    .canvas_asset-manager-image {
      width: 100%;
      height: 100%;
    }

    img {
      object-fit: cover;
      min-height: 200px;
    }
  }

  .canvas__asset-manager--asset-identifier {
    position: absolute;
    bottom: 0;
    background-color: transparentize($euiColorDarkestShade, 0.2);
    border-radius: 0 0 $euiBorderThin $euiBorderThin;
    padding: $euiSizeXS;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;

    .asset-id {
      font-size: $euiFontSizeS;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
