@import (reference) "../../style/main";

.canvas__asset-manager {

  .canvas__asset-manager--thumb {
    display: inline-block;
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: @borderRadius;
    border: @borderStyle;
    margin-right: @spacingM;
    margin-bottom: @spacingM;
    background-color: @lightestGrey;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

}
