<h3>Scripted fields</h3>
<p>These scripted fields are computed on the fly from your data. They can be used in visualizations and displayed in your documents, however they can not be searched. You can manage them here and add new ones as you see fit, but be careful, scripts can be tricky! <!-- If you need some examples, why not let Kibana <a ng-click="addDateScripts()"><strong>create a few examples from your date fields.</strong></a --></p>

<header>
  <a
    ng-href="{{ kbnUrl.getRouteHref(indexPattern, 'addField') }}"
    class="btn btn-info"
    aria-label="Add Scripted Field">
    <i aria-hidden="true" class="fa fa-plus"></i>
    Add Scripted Field
  </a>
</header>

<div class="hintbox" ng-if="getDeprecatedLanguagesInUse().length !== 0">
  <h4>
    <i class="fa fa-warning text-warning"></i> Deprecation Warning
  </h4>
  <p>
    We've detected that the following deprecated languages are in use: {{ getDeprecatedLanguagesInUse().join(', ') }}.
    Support for these languages will be removed in the next major version of Kibana and Elasticsearch.
    We recommend converting your scripted fields to
    <a target="_window" ng-href="{{docLinks.painless}}">Painless <i class="fa-link fa"></i></a>.
  </p>
</div>


<paginated-table
  columns="columns"
  rows="rows"
  per-page="perPage"
  link-to-top="true"
  show-blank-rows="false">
</paginated-table>

<p class="text-center" ng-if="rows.length === 0">No matching scripted fields found.</p>
