@import (reference) "~ui/styles/variables";

#indexPatternListReact {
  .indexPatternList__headerWrapper {
    padding: 8px;
  }

  .euiButtonEmpty {
    width: 100%;
    padding: 0 8px;
  }

  .euiButtonEmpty__content {
    justify-content: left;
    span {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

#indexPatternFields {
  padding: 0 16px;
}
