<div class="visEditorSidebar__section">
  <div class="form-group">
    <div class="clearfix form-group">
      <label for="markdownVisInput">Markdown</label>
      <small class="pull-right">
        <a target="_blank" href="https://help.github.com/articles/github-flavored-markdown/" rel="noreferrer noopener">
          <icon aria-hidden="true" size="'s'" type="'link'"></icon>
          <span
            i18n-id="markdownVis.params.helpLinkLabel"
            i18n-default-message="Help"
          >
          </span>
        </a>
      </small>
    </div>
    <div class="visEditorSidebar__formRow">
      <label class="visEditorSidebar__formLabel" for="markdownVisFontSize">
        <span
          i18n-id="markdownVis.params.fontSizeLabel"
          i18n-default-message="Font Size ({fontSize}pt)"
          i18n-values="{ fontSize: editorState.params.fontSize }"
        >
        </span>
      </label>
      <div class="visEditorSidebar__formControl">
        <input id="markdownVisFontSize" type="range" ng-model="editorState.params.fontSize" class="form-control" min="8" max="36" />
      </div>
    </div>
    <div class="visEditorSidebar__formRow">
      <label
        class="visEditorSidebar__formLabel"
        for="markdownVisOpenLinksInNewTab"
        i18n-id="markdownVis.params.openLinksLabel"
        i18n-default-message="Open links in new tab"
      >
      </label>
      <div class="visEditorSidebar__formControl">
        <input
          id="markdownVisOpenLinksInNewTab"
          type="checkbox"
          ng-model="editorState.params.openLinksInNewTab"
          class="kuiCheckBox"
        />
      </div>
    </div>
    <textarea
      id="markdownVisInput"
      ng-model="editorState.params.markdown"
      class="form-control"
      rows="20"
      data-test-subj="markdownTextarea"
    ></textarea>
  </div>
</div>
