<div class="content" chrome-context data-test-subj="kibanaChrome">
  <kbn-loading-indicator></kbn-loading-indicator>

  <global-nav
    ng-if="!k7design"
    chrome="chrome"
    data-test-subj="globalNav"
    is-visible="chrome.getVisible()"
    logo-brand="chrome.getBrand('logo')"
    small-logo-brand="chrome.getBrand('smallLogo')"
    app-title="chrome.getAppTitle()"
  ></global-nav>

  <header-global-nav
    ng-if="k7design"
    class="header-global-wrapper"
    is-visible="chrome.getVisible()"
    app-title="chrome.getAppTitle()"
  ></header-global-nav>

  <div class="app-wrapper" ng-class="{ 'hidden-chrome': !chrome.getVisible() }">
    <div class="app-wrapper-panel">
      <kbn-notifications
        list="notifList"
      ></kbn-notifications>

      <div id="globalBannerList"></div>

      <div
        class="application"
        ng-class="'tab-' + chrome.getFirstPathSegment() + ' ' + chrome.getApplicationClasses()"
        ng-view
      ></div>
    </div>
  </div>
</div>
