.sideNavTree {
  padding: 1rem 0 1rem 1rem;
  height: 100%;
}

%fileNode {
  padding: 4px;
  cursor: pointer;
  white-space: nowrap;
}

.fileNode {
  @extend %fileNode;
}

.activeFileNode {
  @extend %fileNode;
  background: #0079a5;
}
