<div ng-if="!req.stopped" class="visualize-spy-loading">
  <div class="visualize-spy-loading-text">
    Request in progress
    &nbsp;
    <div class="spinner"></div>
  </div>
</div>

<div ng-if="req.stopped && req.success === false" ng-init="console.log(req)" class="alert alert-danger">
  <i class="fa fa-danger"></i> Request Failed
</div>

<div ng-if="mode === 'request'">
  <h3 class="euiTitle euiTitle--small">
    Elasticsearch request body
  </h3>
  <div
    data-test-subj="visualizationEsRequestBody"
    class="euiCodeBlock euiCodeBlock--light euiCodeBlock--fontSmall euiCodeBlock--paddingSmall"
  >
    <code class="euiCodeBlock__code">
      <pre class="euiCodeBlock__pre">{{req.fetchParams.body | json}}</pre>
    </code>
  </div>
</div>

<div ng-if="mode === 'response'">
  <h3 class="euiTitle euiTitle--small">
    Elasticsearch response body
  </h3>
  <div class="euiCodeBlock euiCodeBlock--light euiCodeBlock--fontSmall euiCodeBlock--paddingSmall">
    <code class="euiCodeBlock__code">
      <pre class="euiCodeBlock__pre">{{req.resp | json}}</pre>
    </code>
  </div>
</div>

<div ng-if="mode === 'stats'">
  <table class="table">
    <tr ng-repeat="pair in stats">
      <td>{{pair[0]}}</td>
      <td>{{pair[1]}}</td>
    </tr>
  </table>
</div>
