.kuiPanel {
  @include kuiBottomShadowSmall;

  background-color: $kuiColorEmptyShade;
  border: $kuiBorderThin;
  border-radius: $kuiBorderRadius;
  flex-grow: 1;

  &.kuiPanel--paddingSmall {
    padding: $kuiSizeS;
  }

  &.kuiPanel--paddingMedium {
    padding: $kuiSize;
  }

  &.kuiPanel--paddingLarge {
    padding: $kuiSizeL;
  }

  &.kuiPanel--shadow {
    @include kuiBottomShadow;
  }

  &.kuiPanel--flexGrowZero {
    flex-grow: 0;
  }
}
