.kuiPanel {
  @include kuiBottomShadowSmall;

  background-color: $kuiColorEmptyShade;
  border: $kuiBorderThin;
  border-radius: $kuiBorderRadius;

  &.kuiPanel--paddingSmall {
    padding: $kuiSizeS;
  }

  &.kuiPanel--paddingMedium {
    padding: $kuiSize;
  }

  &.kuiPanel--paddingLarge {
    padding: $kuiSizeL;
  }

  &.kuiPanel--shadow {
    @include kuiBottomShadow;
  }
}
