@import './variables';

/* stylelint-disable-next-line length-zero-no-unit -- need consistent unit to sum them */
@mixin kibanaFullBodyHeight($additionalOffset: 0px) {
  // default - header, no banner
  height: calc(100vh - #{$kbnHeaderOffset + $additionalOffset});

  @at-root {
    // no header, no banner
    .kbnBody--chromeHidden & {
      height: calc(100vh - #{$additionalOffset});
    }
    // header, banner
    .kbnBody--hasHeaderBanner & {
      height: calc(100vh - #{$kbnHeaderOffsetWithBanner + $additionalOffset});
    }
    // no header, banner
    .kbnBody--chromeHidden.kbnBody--hasHeaderBanner & {
      height: calc(100vh - #{$kbnHeaderBannerHeight + $additionalOffset});
    }
  }
}

/* stylelint-disable-next-line length-zero-no-unit -- need consistent unit to sum them */
@mixin kibanaFullBodyMinHeight($additionalOffset: 0px) {
  // default - header, no banner
  min-height: calc(100vh - #{$kbnHeaderOffset + $additionalOffset});

  @at-root {
    // no header, no banner
    .kbnBody--chromeHidden & {
      min-height: calc(100vh - #{$additionalOffset});
    }
    // header, banner
    .kbnBody--hasHeaderBanner & {
      min-height: calc(100vh - #{$kbnHeaderOffsetWithBanner + $additionalOffset});
    }
    // no header, banner
    .kbnBody--chromeHidden.kbnBody--hasHeaderBanner & {
      min-height: calc(100vh - #{$kbnHeaderBannerHeight + $additionalOffset});
    }
  }
}
