.toaster-container {
  visibility: visible;
  width: 100%;

  .toaster {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  /**
   * 1. Shouldn't look like a button.
   */
  .toaster-countdown {
    appearance: none;
    background: none;
    border: none;
  }

  .alert {
    padding: $euiSizeXS $euiSize;
    margin: 0;
    border-radius: 0;
    border: 0px;
  }

  .toast {
    display: flex;
    align-items: center;

    > * {
      flex: 0 0 auto;

      &:not(:last-child) {
        margin-right: $euiSizeXS;
      }
    }
  }

  .toast-message {
    @include euiTextTruncate;

    flex: 1 1 auto;
    line-height: normal;
  }

  .toast-stack {
    padding-bottom: $euiSizeS;

    pre {
      display: inline-block;
      width: 100%;
      margin: $euiSizeS 0;
      word-break: normal;
      word-wrap: normal;
      white-space: pre-wrap;
    }
  }

  .toast-controls {
    display: flex;
  }

  .toast-message {
    white-space: normal;
  }
}

// toast message class for banner needs to be display:block because banner does
// not have a flex layout, and the styled element could be any kind of element
.toast-message-banner {
  display: block;
}
