<div class="kuiInfoPanel kuiInfoPanel--info">
  <div class="kuiInfoPanelHeader">
    <span class="kuiInfoPanelHeader__icon kuiIcon kuiIcon--info fa-info"></span>
    <span class="kuiInfoPanelHeader__title">
      Check it out.
    </span>
  </div>

  <div class="kuiInfoPanelBody">
    <div class="kuiInfoPanelBody__message">
      Here&rsquo;s some stuff that you need to know.
    </div>

    <div class="kuiInfoPanelBody__message">
      And some other stuff on another line, just for kicks.
    </div>
  </div>
</div>
