.actCheckActionTypeEnabled__disabledActionWarningCard {
  background-color: $euiColorLightestShade;
}

.actAccordionActionForm {
  background-color: $euiColorLightestShade;
}

.actAccordionActionForm .euiCard {
  box-shadow: none;
}

.actAccordionActionForm__button {
  padding: $euiSizeM;
  padding-left: $euiSizeL;
}

.actAccordionActionForm .euiAccordion__arrow {
  transform: translateX($euiSizeM) rotate(0deg) !important;
}
.actAccordionActionForm .euiAccordion__arrow[aria-expanded='true'] {
  transform: translateX($euiSizeM) rotate(90deg) !important;
}