<div>
  <!-- Global settings -->
  <div class="kuiSideBarSection">
    <div class="kuiSideBarSectionTitle">
      <div class="kuiSideBarSectionTitle__text">
        Settings
      </div>
    </div>

    <vislib-basic-options></vislib-basic-options>

    <div class="kuiSideBarFormRow" ng-show="vis.hasSchemaAgg('segment', 'date_histogram')">
      <label class="kuiSideBarFormRow__label" for="currentTimeMarker">
        Current Time Marker
      </label>
      <div class="kuiSideBarFormRow__control">
        <input class="kuiCheckBox" id="currentTimeMarker" type="checkbox"
               ng-model="vis.params.addTimeMarker"
               ng-checked="vis.params.addTimeMarker"
        >
      </div>
    </div>

    <div class="kuiSideBarFormRow" ng-show="!vis.hasSchemaAgg('segment', 'date_histogram')">
      <label class="kuiSideBarFormRow__label" for="orderBuckets">
        Order Buckets by Sum
      </label>
      <div class="kuiSideBarFormRow__control">
        <input class="kuiCheckBox" id="orderBuckets" type="checkbox" ng-model="vis.params.orderBucketsBySum">
      </div>
    </div>

    <vislib-grid></vislib-grid>
  </div>

</div>
