processor-ui-geoip {
  .advanced-section {
    margin-top: 15px;
  }

  .advanced-section-heading {
    .btn {
      background-color: transparent;
      color: black;
      border: transparent;
    }
  }
}
