<div class="form-group">
  <small class="pull-right">
    <a ng-href="https://adamwdraper.github.io/Numeral-js/" target="_blank">
      Docs <i class="fa fa-link"></i>
    </a>
  </small>

  <label>
    Numeral.js format pattern
    <small>
      (Default: "{{ editor.field.format.type.paramDefaults.pattern }}")
    </small>
  </label>
</div>

<field-format-editor-pattern
  ng-model="editor.formatParams.pattern"
  placeholder="editor.field.format.type.paramDefaults.pattern"
  inputs="cntrl.sampleInputs">
</field-format-editor-pattern>

