.dshExitFullScreenButton {
  text-align: center;
  width: 100%;
  height: 0;
  bottom: 0;
  position: absolute;
}

.dshExitFullScreenButton__mode {
  height: $euiSizeXXL;
  left: 0;
  bottom: 0;
  position: fixed;
  display: block;
  padding: 0;
  border: none;
  background: none;
  z-index: 5;

  &:hover,
  &:focus {
    transition: all $euiAnimSpeedExtraSlow $euiAnimSlightResistance;

    .dshExitFullScreenButton__text {
      transition: all $euiAnimSpeedNormal $euiAnimSlightResistance;
      transform: translateX(-$euiSize);
    }
  }
}

.dshExitFullScreenButton__logo {
  display: block;
  background-color: shadeOrTint($euiColorPrimary, 25%, 25%);
  height: $euiSizeXXL;
  // SASSTODO: wait until bundler can inject file names into SASS
  // background-image: url("../../../../../ui/images/kibana.svg");

  // These numbers are very specific to the Kibana logo size
  width: 92px;
  background-position: 8px 5px;
  background-size: 72px 30px;
  background-repeat: no-repeat;

  z-index: $euiZLevel1;
}

/**
 * 1. Calc made to allow caret in text to peek out / animate.
 */

.dshExitFullScreenButton__text {
  background: $euiColorPrimary;
  color: $euiColorEmptyShade;
  line-height: $euiSizeXXL;
  display: inline-block;
  height: $euiSizeXXL;
  position: absolute;
  left: calc(100% + #{$euiSize});  // 1
  top: 0px;
  bottom: 0px;
  white-space: nowrap;
  padding: 0px $euiSizeS 0px $euiSizeM;
  transition: all .2s ease;
  transform: translateX(-100%);
  z-index: -1;
}
