i.input-error {
  position: absolute;
  margin-left: -$euiSizeL;
  color: $euiColorDanger;
  margin-top: $euiSizeS;
  z-index: 5;
}

select {
  color: $euiTextColor;
  background-color: $euiColorEmptyShade;
}
