// ONLY USED IN DISCOVER

.sidebar-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: $euiColorLightestShade;
  border-right-color: transparent;
  border-bottom-color: transparent;

  .sidebar-well {
    background-color: lightOrDarkTheme(tint($euiColorPrimary, 90%), $euiColorLightShade);
  }

  .sidebar-list {
    .sidebar-controls {
      border-radius: $euiBorderRadius;
      margin-right: -13px;
      margin-top: $euiSizeXS / 2;

      .navbar-btn-link {
        padding-left: $euiSizeS;
        padding-right: $euiSizeS;
      }

      .sidebar-controls-error {
        cursor: default;
      }
    }

    ul {
      list-style: none;
      margin-bottom: 0;
    }

    .sidebar-item {
      border-top-color: transparent;
      font-size: $euiFontSizeXS;
      border-top: solid 1px transparent;
      border-bottom: solid 1px transparent;
      line-height: normal;

      label {
        @include __legacyLabelStyles__bad;
        margin-bottom: $euiSizeXS;
        display: block;
      }

      &.active {
        background-color: shade($euiColorLightestShade, 10%);
        color: $euiColorDarkestShade;
        border-color: $euiColorLightShade;
      }
    }

    .sidebar-item-title,
    .sidebar-item-text {
      margin: 0;
      padding: $euiSizeXS 0;
      text-align: center;
      width: 100%;
      border: none;
      border-radius: 0;
    }

    .sidebar-item-title {
      @include euiTextTruncate;
      text-align: left;

      &.full-title {
        white-space: normal;
      }
    }

    .sidebar-item-text {
      background: $euiColorEmptyShade;
    }
  }

    .sidebar-list-header {
      .sidebar-list-header-heading {
        color: $euiColorDarkestShade;
        border: 1px solid transparent;
      }

      .sidebar-list-header-label {
        padding-left: $euiSizeS;
        font-size: $euiFontSizeXS;
        line-height: $euiLineHeight;
        font-weight: $euiFontWeightBold;
        color: $euiColorDarkShade;
        border-bottom: 1px solid $euiColorLightShade;
      }
    }

  .index-pattern {
    font-weight: $euiFontWeightBold;
    padding: $euiSizeXS $euiSizeS;
    display: flex;
    justify-content: space-between;
    background-color: shadeOrTint($euiColorPrimary, 60%, 60%);
    color: $euiColorEmptyShade;
    line-height: $euiSizeL;

    .index-pattern-label {
      font-size: $euiFontSizeS;
      font-weight: $euiFontWeightBold;
      margin: 0;
    }

    > * {
      flex: 0 1 auto;
      align-self: center;
    }
  }
}

.indexPattern__container {
  display: flex;
  align-items: center;
  height: $euiSize * 3;
  margin-top: -$euiSizeS;
}

.indexPattern__triggerButton {
  @include euiTitle('xs');
  line-height: $euiSizeXXL;
}
