@import '../../../../../core_plugins/kibana/public/discover/doc_table/doc_table_source_mixin.scss';

.table {
  // Nesting
  .table {
    background-color: $euiColorEmptyShade;
  }
}

kbn-table, .kbn-table, tbody[kbn-rows] {
  // sub tables should not have a leading border
  .table .table {
    margin-bottom: 0;

    tr:first-child > td {
      border-top: none;
    }

    td.field-name {
      font-weight: $euiFontWeightBold;
    }
  }

  @include style_doc_source;

}

table {
  th {
    i.fa-sort {
      color: $euiColorLightShade;
    }

    button.fa-sort-asc,
    button.fa-sort-down,
    i.fa-sort-asc,
    i.fa-sort-down {
      color: $euiColorLightShade;
    }

    button.fa-sort-desc,
    button.fa-sort-up,
    i.fa-sort-desc,
    i.fa-sort-up {
      color: $euiColorLightShade;
    }
  }
}
