<div ng-controller="discover">
  <nav class="navbar navbar-default navbar-static-top subnav">
    <ul class="nav navbar-nav navbar-right">
      <li><a class="navbar-link" ng-click="resetQuery()"><i class="fa fa-ban"></i></a></li>
      <li><a class="navbar-link" ng-click="toggleConfig()"><i class="fa fa-gear"></i></a></li>
      <li><a class="navbar-link" ng-click="toggleTimepicker()"><i class="fa fa-clock-o"></i></a></li>

    </ul>
    <form class="navbar-form" ng-submit="fetch()">
      <div class="form-group" style="display:inline;">
        <div class="input-group">
          <span class="input-group-addon"><span class="fa fa-search"></span></span>
          <input placeholder="Search..." type="text" class="form-control" ng-model="state.query">
        </div>
      </div>
    </form>
  </nav>
  <config config-template="configTemplate" config-object="opts" config-close="configClose" config-submit="fetch"></config>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 discovery-field-container">
        <disc-field-chooser
          fields="fields"
          toggle="toggleField"
          refresh="refreshFieldList"
          data="rows"
          filter="filterQuery">
        </disc-field-chooser>
      </div>
      <div class="col-md-10 discover-table">
        <discover-timechart data="chart"></discover-timechart>
        <kbn-table style="overflow-x:auto" class="table table-condensed"
          rows="rows"
          columns="state.columns"
          refresh="fetch"
          max-length="opts.maxSummaryLength"
          get-sort="getSort"
          set-sort="setSort">
        </kbn-table>
      </div>
    </div>
  </div>
</div>