<div ng-controller="discover">
  <nav class="navbar navbar-default navbar-static-top subnav">
    <form class="navbar-form navbar-left form-inline" role="search" ng-submit="fetch()">
      <label class="control-label">Index</label>
      <input class="form-control" ng-model="index">
      <label class="control-label" for="size">Query</label>
      <input type="text" class="form-control" ng-model="query" placeholder="search">
      <label class="control-label" for="size">Limit</label>
      <select
          class="form-control"
          name="size"
          ng-model="size"
          ng-options="size.display for size in sizeOptions">
          </select>
      <label class="control-label" for="sort">Sort</label>
      <select
          class="form-control"
          name="sort"
          ng-model="sort"
          ng-options="field.name for field in fields">
          </select>
      <button type="submit" class="btn btn-default">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </nav>
  <div class="row">
    <div class="col-md-10">
      <kbn-table rows="rows" columns="columns"></kbn-table>
    </div>
    <div class="col-md-2">
      <disc-field-chooser
        fields="fields"
        toggle="toggleField"
        refresh="refreshFieldList">
        </disc-field-chooser>
    </div>
  </div>
</div>