@import '../../../../../node_modules/@elastic/eui/src/components/button/variables';

.insRequestDetailsStats__icon {
  margin-right: $euiSizeS;
}

.insRequestSelector__menuPanel {
  min-width: 300px;
}

.insRequestSelector__singleRequest {
  font-style: 1.2em;
  height: $euiButtonHeightSmall;
  padding: 0 $euiSizeS;
  display: flex;
  align-items: center;
}

.insRequestSelector__menuSpinner {
  margin-left: $euiSizeS;
}
