@import '@elastic/eui/src/components/button/variables';

.insRequestDetailsStats__icon {
  margin-right: $euiSizeS;
}

.insRequestSelector__menuPanel {
  width: $euiSizeXL * 2;
}

.insRequestSelector__singleRequest {
  height: $euiButtonHeightSmall;
  padding: 0 $euiSizeS;
  display: flex;
  align-items: center;
}

.insRequestSelector__menuSpinner {
  margin-left: $euiSizeS;
}

.insRequestDetailsRequest__parent {
  position: relative; }

.insRequestDetailsRequest__devToolButton {
  position: absolute;
  z-index: 1;
  right: $euiSizeS; }
