.requests-inspector__req-name {
  text-align: left;
}

.requests-details__description {
  padding: 16px;
}

.requests-inspector__empty {
  text-align: center;
}

.requests-stats__description {
  min-width: 300px;
}

.requests-stats__icon {
  margin-right: 8px;
}
