.requests-details__description {
  padding: 16px;
}

.requests-stats__icon {
  margin-right: 8px;
}

.inspector-request-chooser__menu-panel {
  min-width: 300px;
}

.inspector-request-chooser__request-title {
  font-size: 1.2em;
}

.inspector-request-chooser__single-request {
  .inspector-request-chooser__request-title();
  height: 30px; // height of EuiEmptyButton small
  padding: 0 8px;
  display: flex;
  align-items: center;
}

.inspector-request-chooser__menu-spinner {
  margin-left: 8px;
}
