@import (reference) "../../style/main";

.canvas__feedback-modal {
  color: @textMain;

  .canvas__feedback-modal--header {
    color: @titleColor;
    padding: 5px !important;
    font-size: 1.2em;
    font-weight: bold;
  }

  .canvas__feedback-modal--body {
    padding: 0px !important;
    height: 800px;

    .message {
      padding: @spacingM;
    }
  }
}
