.canvas__feedback-modal {
  width: 600px;

  .canvas__feedback-modal--body {
    padding: 0px !important;
    height: 800px;
    overflow: hidden;

    .message {
      padding: $euiSize;
      padding-bottom: 0;
    }

    .feedback-form {
      height: 450px;
      width: 100%;
      overflow-y: scroll;
    }
  }
}
