<div class="visEditorSidebar__section">
  <div class="visEditorSidebar__sectionTitle">
    <div
      i18n-id="visTypeTable.params.showMetricsLabel.optionsTitle"
      i18n-default-message="Options"
    ></div>
  </div>
  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="datatableVisualizationPerPage"
      i18n-id="visTypeTable.params.perPageLabel"
      i18n-default-message="Per Page"
    ></label>
    <div class="visEditorSidebar__formControl">
      <input
        class="kuiInput visEditorSidebar__input"
        id="datatableVisualizationPerPage"
        type="number"
        ng-model="editorState.params.perPage"
      />
    </div>
  </div>
  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="showMetricsAtAllLevelsCheckbox"
      i18n-id="visTypeTable.params.showMetricsLabel"
      i18n-default-message="Show metrics for every bucket/level"
    ></label>
    <div class="visEditorSidebar__formControl">
      <input
        class="kuiCheckBox"
        id="showMetricsAtAllLevelsCheckbox"
        type="checkbox"
        ng-model="editorState.params.showMetricsAtAllLevels"
        data-test-subj="showMetricsAtAllLevels"
      />
    </div>
  </div>
  <div class="visEditorSidebar__formRow">
    <div class="visEditorSidebar__formLabel">
      <label
        for="showPartialRowsCheckbox"
        i18n-id="visTypeTable.params.showPartialRowsLabel"
        i18n-default-message="Show partial rows"
      >
      </label>
      <icon-tip
        content="::'visTypeTable.params.showPartialRowsTip' | i18n: {
          defaultMessage: 'Show rows that have partial data. This will still calculate metrics for every bucket/level, even if they are not displayed.'
        }"
      ></icon-tip>
    </div>
    <div class="visEditorSidebar__formControl">
      <input
        class="kuiCheckBox"
        id="showPartialRowsCheckbox"
        type="checkbox"
        ng-model="editorState.params.showPartialRows"
        data-test-subj="showPartialRows"
      />
    </div>
  </div>
  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="showTotalCheckbox"
      i18n-id="visTypeTable.params.showTotalLabel"
      i18n-default-message="Show total"
    ></label>
    <div class="visEditorSidebar__formControl">
      <input
        class="kuiCheckBox"
        id="showTotalCheckbox"
        type="checkbox"
        ng-model="editorState.params.showTotal"
      />
    </div>
  </div>
  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="datatableVisualizationTotalFunction"
      i18n-id="visTypeTable.params.totalFunctionLabel"
      i18n-default-message="Total function"
    ></label>
    <div class="visEditorSidebar__formControl">
      <select
        id="datatableVisualizationTotalFunction"
        ng-disabled="!editorState.params.showTotal"
        class="kuiSelect visEditorSidebar__select"
        ng-model="editorState.params.totalFunc"
        ng-options="x for x in totalAggregations"
      ></select>
    </div>
  </div>
  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="datatableVisualizationPercentageCol"
      i18n-id="visTypeTable.params.PercentageColLabel"
      i18n-default-message="Percentage column"
    ></label>
    <div class="visEditorSidebar__formControl">
      <select
        id="datatableVisualizationPercentageCol"
        data-test-subj="percentageCol"
        class="kuiSelect visEditorSidebar__select"
        ng-model="editorState.params.percentageCol"
        ng-options="col.value as col.name for col in percentageColumns"
      ></select>
    </div>
  </div>
</div>
