@import (reference) "~plugins/rework/main.less";

.rework--markdown {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1.1em;
  }

  h6 {
    font-size: 1em;
    font-weight: bold;
  }

  table {
    width: 100%;

    th {
      border-bottom: 0.5em solid transparent;
    }
  }

}
