// True colors

$kuiColorBlue: #0079a5;
$kuiColorTeal: #00A69B;
$kuiColorRed: #A30000;
$kuiColorOrange: #E5830E;
$kuiColorLightestGray: #F5F5F5;
$kuiColorLightGray: #D9D9D9;
$kuiColorMediumGray: #999;
$kuiColorDarkGray: #666;
$kuiColorDarkestGray: #3F3F3F;
$kuiColorBlack: #000;
$kuiColorWhite: #FFF;
