// Z-Index


$kuiZLevel0:          0;
$kuiZLevel1:          1000;
$kuiZLevel2:          2000;
$kuiZLevel3:          3000;
$kuiZLevel4:          4000;
$kuiZLevel5:          5000;
$kuiZLevel6:          6000;
$kuiZLevel7:          7000;
$kuiZLevel8:          8000;
$kuiZLevel9:          9000;



$kuiZContent:         0;
$kuiZContentMenu:     2000;
$kuiZNavigation:      4000;
$kuiZMask:            6000;
$kuiZModal:           8000;
