.kuiPanelSimple {
  @include euiBottomShadowSmall;
  background-color: $euiColorEmptyShade;
  border: $euiBorderThin;
  border-radius: $euiBorderRadius;
  flex-grow: 1;

  &.kuiPanelSimple--paddingSmall {
    padding: $kuiSizeS;
  }

  &.kuiPanelSimple--paddingMedium {
    padding: $kuiSize;
  }

  &.kuiPanelSimple--paddingLarge {
    padding: $kuiSizeL;
  }

  &.kuiPanelSimple--shadow {
    @include kuiBottomShadow;
  }

  &.kuiPanelSimple--flexGrowZero {
    flex-grow: 0;
  }
}
