.unifiedDataTable__inTableSearchMatch {
  background-color: #E5FFC0; // TODO: Use a named color token
  transition: background-color $euiAnimSpeedFast ease-in-out;
}

.unifiedDataTable__inTableSearchMatchesCounter {
  font-variant-numeric: tabular-nums;
}

.unifiedDataTable__inTableSearchButton {
  /* to make the transition between the button and input more seamless for cases where a custom toolbar is not used */
  min-height: 2 * $euiSize; // input height
}

.unifiedDataTable__inTableSearchInputContainer {
  .unifiedDataTable__inTableSearchInput {
    /* to prevent the width from changing when entering the search term */
    min-width: 210px;
  }

  .euiFormControlLayout__append {
    padding-inline-end: 0 !important;
    background: none;
  }

  /* override borders style only if it's under the custom grid toolbar */
  .unifiedDataTableToolbarControlIconButton & .euiFormControlLayout,
  .unifiedDataTableToolbarControlIconButton & .unifiedDataTable__inTableSearchInput {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }
}
