@import (reference) "../../style/main";

.canvas__navbar {
  width: 100%;
  height: @spacingXXXXL;
  background-color: @darkestGrey;
  color: @lightGrey;
  padding-left: @spacingS;
  padding-right: @spacingS;
}
