.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 18px 27px;
  font-size: 17px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 6px 9px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
filter-bar .bar {
  padding: 6px 6px 4px 6px;
  background: #ecf0f1;
  border-bottom: 1px solid #ccc;
}
filter-bar .bar .filter {
  position: relative;
  display: inline-block;
  font-size: 12px;
  background-color: #7b8a8b;
  color: #fff;
  margin-right: 4px;
  margin-bottom: 4px;
  max-width: 100%;
  border-color: transparent;
  border-style: solid;
  border-width: 4px;
  border-left-width: 8px;
  border-right-width: 8px;
  border-radius: 12px;
}
filter-bar .bar .filter:hover > .filter-actions {
  display: block;
}
filter-bar .bar .filter:hover > .filter-description {
  opacity: 0.15;
  overflow: hidden;
}
filter-bar .bar .filter > .filter-actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  text-align: center;
}
filter-bar .bar .filter > .filter-description {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
filter-bar .bar .filter .filter-toggle {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  padding-right: 6px;
  margin-right: 3px;
}
filter-bar .bar .filter.negate {
  background-color: #D18282;
}
filter-bar .bar .filter a {
  color: #FFF;
}
filter-bar .bar .filter.disabled {
  opacity: 0.7;
}
filter-bar .bar .filter.disabled:hover span {
  text-decoration: none;
}
