@import (reference) "../../styles/_bootstrap.less";
@import (reference) "../../styles/theme/_theme.less";
@import (reference) "lesshat.less";

filter-bar .confirm {
  padding: 8px 10px 4px;
  background: @gray-lighter;
  border-bottom: 1px solid #ccc;

  ul {
    margin-bottom: 0px;
  }

  li {
    display: inline-block;
  }

  li:first-child {
    font-weight: bold;
    font-size: 1.2em;
  }

  li button {
    font-size: 0.9em;
    padding: 2px 8px;
  }

  .filter {
    position: relative;
    display: inline-block;
    text-align: center;
    min-width: 110px;

    font-size: @font-size-small;
    background-color: @gray-light;
    color: #333;
    margin-right: 4px;
    margin-bottom: 4px;
    max-width: 100%;

    // Replace padding with border so absolute controls position correctly
    padding: 4px 8px;
    border-radius: 12px;
  }
}

filter-bar .bar {
  padding: 6px 6px 4px 6px;
  background: @gray-lighter;
  border-bottom: 1px solid #ccc;

  &-condensed {
    padding: 2px 6px 0px 6px !important;
    font-size: 0.9em;
    background: darken(@gray-lighter, 5%);
  }

  .filter-link {
    position: relative;
    display: inline-block;
    border: 4px solid transparent;
    margin-bottom: 4px;
  }

  .filter-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .filter {
    position: relative;
    display: inline-block;
    text-align: center;
    min-width: 110px;

    font-size: @font-size-small;
    background-color: @action-add;
    color: #fff;
    margin-right: 4px;
    margin-bottom: 4px;
    max-width: 100%;

    // Replace padding with border so absolute controls position correctly
    padding: 4px 8px;
    border-radius: 12px;


    &:hover {
      > .filter-actions {
        display: block;
      }

      > .filter-description {
        opacity: 0.15;
        background: transparent;
        overflow: hidden;
      }
    }

    > .filter-actions {
      font-size: 1.3em;
      line-height: 1.1em;
      position: absolute;
      padding: 4px 8px;
      top: 0;
      left: 0;
      width: 100%;
      display: none;
      text-align: center;
      white-space: nowrap;
    }

    > .filter-actions > .action {
      border-right: 1px solid rgba(255, 255, 255, 0.4);
      padding-right: 6px;
      margin-right: 8px;
    }

    > .filter-actions > .action:last-child {
      border-right: 0;
      padding-right: 0;
      margin-right: 0;
    }

    &.negate {
      background-color: @action-remove;
    }

    a {
      color: #FFF;
    }

    &.disabled {
      opacity: 0.6;
      background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(255,255,255,.3) 10px, rgba(255,255,255,.3) 20px);
    }

    &.disabled:hover {
      span {
        text-decoration: none;
      }
    }
  }
}
