
<div class="kuiSideBarSection">
  <div class="form-group">
    <label for="datatableVisualizationPerPage">Per Page</label>
    <input type="number" ng-model="editorState.params.perPage" class="form-control" id="datatableVisualizationPerPage">
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="editorState.params.showMetricsAtAllLevels">
      Show metrics for every bucket/level
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="editorState.params.showPartialRows">
      Show partial rows
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="metricsAtAllLevels" disabled>
      Calculate metrics for every bucket/level
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="editorState.params.showTotal">
      Show total
    </label>
  </div>

  <div>
    <label for="datatableVisualizationTotalFunction">Total function</label>
    <select ng-disabled="!editorState.params.showTotal"
            class="form-control"
            ng-model="editorState.params.totalFunc"
            ng-options="x for x in totalAggregations" id="datatableVisualizationTotalFunction">
    </select>
  </div>
</div>
