@import (reference) "~ui/styles/mixins.less";

.waffle_chart2 {
  /* add your styles here */
}

.waffle-waffle {
  position: absolute;
  width: 100%;
  height: 100%;
}

.waffle-legend {
  position: absolute;
  width: 20%;
  top: 0;
  right: 0;
}
