<div class="kuiExpression">
  <div class="kuiExpression__item">
    <button class="kuiExpression__button">
      <span class="kuiExpression_buttonDescription">when</span>
      <span class="kuiExpression_buttonVlue">count()</span>
    </button>
    <div class="kuiExpression__popover">
      <div class="kuiExpression__popoverTitle">
        When
      </div>
      <div class="kuiExpression__popoverContent">
        <select class="kuiSelect ng-pristine ng-valid ng-scope ng-touched" ng-model="testbed.aggType" ng-options="aggType.label for aggType in testbed.aggTypes"><option label="count()" value="object:81" selected="selected">count()</option><option label="average()" value="object:82">average()</option><option label="sum()" value="object:83">sum()</option><option label="median()" value="object:84">median()</option><option label="min()" value="object:85">min()</option><option label="max()" value="object:86">max()</option></select>
      </div>
    </div>
  </div>
</div>
