.kuiIcon {
  display: inline-block;
  fill: $kuiTextColor;
  vertical-align: middle;

  &:focus {
    opacity: 1; // We often hide icons on hover. Make sure they appear on focus.
    background: $kuiFocusBackgroundColor;
  }
}

.kuiIcon--medium {
  @include size($kuiSizeM);
}

.kuiIcon--large {
  @include size($kuiSizeL);
}

.kuiIcon--xLarge {
  @include size($kuiSizeXL);
}

.kuiIcon--xxLarge {
  @include size($kuiSizeXXL);
}
