@include component('kuiIcon') {
  opacity: .8;
  display: inline-block;

  &:hover {
    opacity: 1;
  }

  @include modifier('medium') {
    @include size($kuiSizeM);
  }

  @include modifier('large') {
    @include size($kuiSizeL);
  }

  @include modifier('xLarge') {
    @include size($kuiSizeXL);
  }

  @include modifier('xxLarge') {
    @include size($kuiSizeXXL);
  }
}
