//
// Misc elements -- found in agg_types/controls/*.html
//

.visEditorAgg__rangesTable {
  td {
    padding: 0 $euiSizeS $euiSizeS 0;

    &:last-child {
      padding-right: 0;
    }
  }
}

.visEditorAgg__subAgg {
  border: $euiBorderThick;
  border-radius: $euiBorderRadius;
  background-color: transparent;
  padding: $euiSizeS;
}

.visEditorAgg__subAgg + .euiFormRow {
  margin-top: $euiSize;
}
