@import '@elastic/eui/src/components/form/variables';

//
// LAYOUT
//

.visEditorSidebar {
  min-width: $vis-editor-sidebar-min-width;
}

.visEditorSidebar__form {
  @include flex-parent(1, 1, auto);
  max-width: 100%;
}

.visEditorSidebar__config {
  padding: $euiSizeS;

  > * {
    flex-grow: 0;
  }

  @include euiBreakpoint('l', 'xl') {
    @include flex-parent(1, 1, 1px);
    @include euiScrollBar;
    overflow: auto;
  }
}

.visEditorSidebar__config--hidden {
  display: none;
}

//
// NAVIGATION
//

.visEditorSidebar__indexPattern {
  @include euiTextTruncate;
  font-weight: $euiFontWeightBold;
  padding: $euiSizeM $euiSizeXL $euiSizeM $euiSizeS; // Extra padding on the right for the collapse button
}

.visEditorSidebar__nav {
  flex-grow: 0;
}

//
// SECTIONS
//

.visEditorSidebar__section {
  background-color: $euiColorEmptyShade;
  padding: $euiSizeS;
  border-radius: $euiBorderRadius;

  + .visEditorSidebar__section {
    margin-top: $euiSizeS;
  }

  label:not([class^='eui']) {
    @include __legacyLabelStyles__bad;
    display: block;
  }

  .form-group label {
    margin-bottom: $euiSizeS;
  }
}

// Collapsible section

.visEditorSidebar__collapsible {
  background-color: lightOrDarkTheme($euiPageBackgroundColor, $euiColorLightestShade);
}

.visEditorSidebar__collapsible--marginBottom {
  margin-bottom: $euiSizeM;
}

.visEditorSidebar__collapsibleButton {
  position: absolute;
  right: $euiSizeXS;
  top: $euiSizeS;

  @include euiBreakpoint('xs', 's', 'm') {
    display: none;
  }
}

//
// FORMS
//

.visEditorSidebar__formRow {
  display: flex;
  align-items: center;
  margin-top: $euiSizeM;
}

.visEditorSidebar__formLabel {
  display: flex;
  align-items: center;
  flex: 1 1 40%;
  padding-right: $euiSizeXS;
}

.visEditorSidebar__formControl {
  display: flex;
  align-items: center;
  flex: 1 1 60%;
}

.visEditorSidebar__aggGroupAccordionButtonContent {
  font-size: $euiFontSizeS;

  span {
    color: $euiColorDarkShade;
  }
}

.visEditorSidebar__controls {
  margin: $euiSizeS;
  display: flex;
  justify-content: flex-end;

  .visEditorSidebar__autoApplyButton {
    margin-left: $euiSizeM;
  }
}
