@import '@elastic/eui/src/components/form/variables';

//
// LAYOUT
//

.visEditorSidebar__container {
  @include flex-parent(1, 1, auto);
  background-color: $euiColorLightestShade;
}

.visEditorSidebar__form {
  @include flex-parent(1, 1, auto);
}

.visEditorSidebar__config {
  padding: $euiSizeS;

  > * {
    flex-grow: 0;
  }

  @include euiBreakpoint('l', 'xl') {
    @include flex-parent(1, 1, 1px);
    @include euiScrollBar;
    overflow: auto;
  }
}

.visEditorSidebar__config--hidden {
  display: none;
}

//
// NAVIGATION
//

.visEditorSidebar__indexPattern {
  font-weight: $euiFontWeightBold;
  padding: $euiSizeXS $euiSizeS;
  line-height: $euiSizeL;
}

.visEditorSidebar__nav {
  padding: 0 $euiSizeS;
  flex-grow: 0;
}

//
// SECTIONS
//

.visEditorSidebar__section {
  background-color: $euiColorEmptyShade;
  padding: $euiSizeS;
  border-radius: $euiBorderRadius;

  + .visEditorSidebar__section {
    margin-top: $euiSizeS;
  }

  label:not([class^="eui"]) {
    @include __legacyLabelStyles__bad;
    display: block;
  }

  .form-group label {
    margin-bottom: $euiSizeS;
  }
}

// Collapsible section

.visEditorSidebar__collapsible {
  background-color: lightOrDarkTheme($euiPageBackgroundColor, $euiColorLightestShade);
}

.visEditorSidebar__collapsible--marginBottom {
  margin-bottom: $euiSizeM;
}

//
// FORMS
//

.visEditorSidebar__formRow {
  display: flex;
  align-items: center;
  margin-top: $euiSizeM;
}

.visEditorSidebar__formLabel {
  display: flex;
  align-items: center;
  flex: 1 1 40%;
  padding-right: $euiSizeXS;
}

.visEditorSidebar__formControl {
  display: flex;
  align-items: center;
  flex: 1 1 60%;
}

.visEditorSidebar__aggGroupAccordionButtonContent {
  font-size: $euiFontSizeS;

   span {
    color: $euiColorDarkShade;
  }
}
