@import '@elastic/eui/src/components/form/variables';

//
// LAYOUT
//

.visEditorSidebar__container {
  @include flex-parent(1, 1, auto);
  background-color: $euiColorLightestShade;
}

.visEditorSidebar__form {
  @include flex-parent(1, 1, auto);
}

.visEditorSidebar__config {
  padding: $euiSizeS;

  @include euiBreakpoint('l', 'xl') {
    @include flex-parent(1, 1, 1px);
    @include euiScrollBar;
    overflow: auto;
  }
}

//
// NAVIGATION
//

.visEditorSidebar__indexPattern {
  font-weight: $euiFontWeightBold;
  padding: $euiSizeXS $euiSizeS;
  background-color: shadeOrTint($euiColorPrimary, 60%, 60%);
  color: $euiColorEmptyShade;
  line-height: $euiSizeL;
}

.visEditorSidebar__nav {
  min-height: 0;

  .navbar-right {
    // Match correct bootstrap container spacing to pull buttons fully right
    margin-right: -15px;
  }
}


/**
 * 1. TODO: Override bootstrap styles. Remove !important once we're rid of bootstrap.
 */
.visEditorSidebar__navLink {
  padding: 2px $euiSizeS !important; /* 1 */
  color: $euiColorDarkShade !important; /* 1 */

  &.visEditorSidebar__navLink-isSelected {
    border-bottom: 2px solid $euiColorPrimary;
    border-color: $euiColorPrimary !important;
    color: $euiColorPrimary !important;

    &:before {
      display: none;
    }

    &:hover {
      background-color: transparent;
    }
  }
}

/**
 * 1. TODO: Override bootstrap styles. Remove !important once we're rid of bootstrap.
 */
.visEditorSidebar__navLink--danger {
  color: $euiColorEmptyShade !important; /* 1 */
  background-color: $euiColorDanger;

  &:hover {
    background-color: shadeOrTint($euiColorDanger, 12%, 0%) !important; /* 1 */
  }
}

.visEditorSidebar__navButtonLink {
  // Make the line-height the same size as the icon for better alignment
  line-height: $euiSize;
}

//
// SECTIONS
//

.visEditorSidebar__section {
  background-color: $euiColorEmptyShade;
  padding: $euiSizeS;
  border-radius: $euiBorderRadius;

  + .visEditorSidebar__section {
    margin-top: $euiSizeS;
  }

  label:not([class^="eui"]) {
    @include __legacyLabelStyles__bad;
    display: block;
  }

  .form-group label {
    margin-bottom: $euiSizeS;
  }
}

.visEditorSidebar__sectionTitle {
  @include euiFontSizeL;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $euiSizeM;
  text-transform: capitalize;
}

// Collapsible section

.visEditorSidebar__collapsible {
  background-color: transparentize($euiColorLightShade, .85);
}

.visEditorSidebar__collapsible--margin {
  margin-top: $euiSizeM;
}

.visEditorSidebar__collapsible--marginBottom {
  margin-bottom: $euiSizeM;
}

.visEditorSidebar__collapsibleTitle {
  @include euiFontSizeS;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;

  + * {
    margin-top: $euiSize;
    display: block;
  }

  + .form-group {
    margin-top: $euiSizeXS;
  }

  label {
    margin-bottom: 0 !important; // For filters
  }
}

.visEditorSidebar__collapsibleTitleLabel {
  color: $euiColorPrimary;
  display: flex;
  align-items: center;
  margin-right: $euiSizeXS;
  line-height: $euiLineHeight;
}

.visEditorSidebar__collapsibleTitleText {
  @include euiTextTruncate;
  margin-left: $euiSizeS;
}

.visEditorSidebar__collapsibleTitleDescription {
  flex: 1 1 0;
  @include euiTextTruncate;
}

.visEditorSidebar__collapsibleTitleDescription--danger {
  color: $euiColorDanger;
  font-weight: $euiFontWeightBold;
}


//
// FORMS
//

.visEditorSidebar__input,
.visEditorSidebar__select {
  @include __legacyInputStyles__bad;
}

.visEditorSidebar__select {
  @include __legacySelectStyles__bad;
}

.visEditorSidebar__formTitle {
  @include euiTitle('xxs');
  margin: $euiSizeS 0;
}

.visEditorSidebar__formRow {
  display: flex;
  align-items: center;
  margin-top: $euiSizeM;
}

.visEditorSidebar__formLabel {
  display: flex;
  align-items: center;
  flex: 1 1 40%;
  padding-right: $euiSizeXS;
}

.visEditorSidebar__formControl {
  display: flex;
  align-items: center;
  flex: 1 1 60%;
}

.visEditorSidebar__formRow--expand {
  .visEditorSidebar__formLabel,
  .visEditorSidebar__formControl {
    flex-basis: auto;
    flex-grow: 0;
  }
}

.visEditorSidebar__aggParamFormRow {
  margin-top: $euiSizeS;
  margin-bottom: $euiSizeS;
}
