<div class="visEditorSidebar__container">
  <form
    class="visEditorSidebar__form"
    ng-submit="visualizeEditor.$valid && stageEditableVis()"
    name="visualizeEditor"
    novalidate
    ng-keydown="submitEditorWithKeyboard($event)"
  ><!-- see http://goo.gl/9kgz5w -->

    <div
      css-truncate
      aria-label="{{
        ::'common.ui.vis.editors.sidebar.indexPatternAriaLabel' | i18n:
        {
          defaultMessage: 'Index pattern: {title}',
          values: { title: vis.indexPattern.title }
        }
      }}"
      ng-if="vis.type.requiresSearch && vis.type.options.showIndexSelection"
      class="visEditorSidebar__indexPattern"
      tabindex="0"
      id="sidebarIndexPatternTitle"
    >
      {{ vis.indexPattern.title }}
    </div>

    <nav class="navbar visEditorSidebar__nav">
      <div class="container-fluid">

        <!-- tabs -->
        <ul class="nav navbar-nav" role="tablist">
          <li
            role="tab"
            aria-selected="{{sidebar.section === 'data'}}"
            ng-class="{active: sidebar.section == 'data'}"
            ng-show="sidebar.showData"
          >
            <a
              class="visEditorSidebar__navLink"
              ng-class="{'visEditorSidebar__navLink-isSelected': sidebar.section == 'data'}"
              ng-click="sidebar.section='data'"
              kbn-accessible-click
              data-test-subj="visualizeEditDataLink"
              i18n-id="common.ui.vis.editors.sidebar.tabs.dataLabel"
              i18n-default-message="Data"
            >
            </a>
          </li>

          <li
            role="tab"
            aria-selected="{{sidebar.section === tab.name}}"
            ng-repeat="tab in vis.type.editorConfig.optionTabs"
            ng-class="{active: sidebar.section == tab.name}"
            ng-if="vis.type.editorConfig.optionTabs.length > 1 || sidebar.showData"
          >
            <a
              class="visEditorSidebar__navLink"
              ng-class="{'visEditorSidebar__navLink-isSelected': sidebar.section == tab.name}"
              ng-click="sidebar.section=tab.name"
              kbn-accessible-click
              data-test-subj="{{ 'visEditorTab' + tab.name }}"
            >
              {{tab.title}}
            </a>
          </li>
        </ul>

        <!-- controls -->
        <ul class="nav navbar-nav navbar-right">
          <li
            ng-if="visualizeEditor.errorCount() > 0 && visualizeEditor.errorCount() === visualizeEditor.softErrorCount()"
            disabled
            tooltip="{{ visualizeEditor.describeErrors() }}"
            tooltip-placement="bottom"
            tooltip-popup-delay="400"
            tooltip-append-to-body="1"
          >
            <div
              class="kuiButton kuiButton--danger navbar-btn-link visEditorSidebar__navButtonLink"
              aria-label="{{ visualizeEditor.describeErrors() }}"
            >
              <icon aria-hidden="true" type="'alert'" color="'danger'"></icon>
            </div>
          </li>

          <li
            tooltip="{{::'common.ui.vis.editors.sidebar.autoApplyChangesTooltip' | i18n: { defaultMessage: 'Auto apply changes' } }}"
            tooltip-placement="bottom"
            tooltip-popup-delay="400"
            tooltip-append-to-body="1"
            ng-if="vis.type.editorConfig.enableAutoApply"
          >
            <button
              data-test-subj="visualizeEditorAutoButton"
              class="kuiButton kuiButton--basic navbar-btn-link visEditorSidebar__navButtonLink"
              aria-label="{{::'common.ui.vis.editors.sidebar.autoApplyChangesAriaLabel' | i18n: { defaultMessage: 'Auto update the visualization on every change' } }}"
              ng-click="toggleAutoApply()"
              ng-class="{
                'kuiButton--primary': autoApplyEnabled,
                'kuiButton--basic': !autoApplyEnabled
              }"
            >
              <icon aria-hidden="true" type="'refresh'"></icon>
            </button>
          </li>
              <span
                ng-show="autoApplyEnabled"
                i18n-id="common.ui.vis.editors.sidebar.autoApplyChangesLabel"
                i18n-default-message="Auto Apply"
              >
            </span>

          <li
            tooltip="{{::'common.ui.vis.editors.sidebar.applyChangesTooltip' | i18n: { defaultMessage: 'Apply changes' } }}"
            tooltip-placement="bottom"
            tooltip-popup-delay="400" tooltip-append-to-body="1"
            ng-hide="autoApplyEnabled || (visualizeEditor.errorCount() > 0 && visualizeEditor.errorCount() === visualizeEditor.softErrorCount())"
          >
            <button
              data-test-subj="visualizeEditorRenderButton"
              class="kuiButton kuiButton--primary navbar-btn-link visEditorSidebar__navButtonLink"
              type="submit"
              ng-disabled="!vis.dirty || autoApplyEnabled"
              aria-label="{{::'common.ui.vis.editors.sidebar.applyChangesAriaLabel' | i18n: { defaultMessage: 'Update the visualization with your changes' } }}"
            >
              <icon aria-hidden="true" type="'play'"></icon>
            </button>
          </li>

          <li
            tooltip="{{::'common.ui.vis.editors.sidebar.discardChangesTooltip' | i18n: { defaultMessage: 'Discard changes' } }}"
            tooltip-placement="bottom"
            tooltip-popup-delay="400"
            tooltip-append-to-body="1"
            ng-hide="autoApplyEnabled"
          >
            <button
              data-test-subj="visualizeEditorResetButton"
              class="kuiButton navbar-btn-link visEditorSidebar__navButtonLink"
              ng-disabled="!vis.dirty"
              ng-click="resetEditableVis()"
              aria-label="{{::'common.ui.vis.editors.sidebar.discardChangesAriaLabel' | i18n: { defaultMessage: 'Reset the visualization' } }}"
            >
              <icon type="'cross'"></icon>
            </button>
          </li>
        </ul>
      </div>
    </nav>

    <div class="visEditorSidebar__config" ng-show="sidebar.section == 'data'">
      <!-- metrics -->
      <vis-editor-agg-group ng-if="vis.type.schemas.metrics" data-test-subj="metricsAggGroup" group-name="metrics"></vis-editor-agg-group>

      <!-- buckets -->
      <vis-editor-agg-group ng-if="vis.type.schemas.buckets" data-test-subj="bucketsAggGroup" group-name="buckets"></vis-editor-agg-group>
    </div>

    <div class="visEditorSidebar__config" ng-repeat="tab in vis.type.editorConfig.optionTabs" ng-show="sidebar.section == tab.name">
      <vis-editor-vis-options
        class="visEditorSidebar__options"
        editor-state="state"
        vis="vis"
        vis-data="visData"
        ui-state="uiState"
        visualize-editor="visualizeEditor"
        editor="tab.editor"
      ></vis-editor-vis-options>
    </div>

  </form>
</div>
