%kibana-panel{"ng-controller" => "table", "ng-init" => "init()"}
  %span.panelextra.pointer{"ng-show" => "panel.spyable", :style => "position:absolute;right:0px;top:0px"}
    %i.icon-eye-open{"bs-modal" => "'partials/modal.html'"}
  %div{:style => "{{panel.overflow}}:{{panel.height || row.height}};overflow-y:auto;overflow-x:auto"}
    .row-fluid{"ng-show" => "panel.paging"}
      .span1.offset1{:style => "text-align:right"}
        %i.icon-circle-arrow-left.pointer{"ng-click" => "panel.offset = 0", "ng-show" => "panel.offset &gt; 0"}
        %i.icon-arrow-left.pointer{"ng-click" => "panel.offset = (panel.offset - panel.size)", "ng-show" => "panel.offset &gt; 0"}
      .span8{:style => "text-align:center"}
        %strong {{panel.offset}}
        to
        %strong {{panel.offset + data.slice(panel.offset,panel.offset+panel.size).length}}
        %small of {{data.length}} available for paging
      .span1{:style => "text-align:left"}
        %i.icon-arrow-right.pointer{"ng-click" => "panel.offset = (panel.offset + panel.size)", "ng-show" => "data.length &gt; panel.offset+panel.size"}
    .small{"ng-show" => "panel.fields.length == 0"}
      No columns configured. You may want to add a
      = succeed "," do
        %strong fields panel
      or click the edit button in the top right of this panel to add some columns
    %table.table-hover.table.table-condensed{"ng-style" => "panel.style"}
      %thead{"ng-show" => "panel.header"}
  %th{"ng-repeat" => "field in panel.fields", :style => "white-space:nowrap"}
    %i.pointer.link.icon-caret-left{"ng-click" => "_.move(panel.fields,$index,$index-1)", "ng-show" => "!$first"}
    %span.pointer{"ng-click" => "set_sort(field)", "ng-show" => "panel.sortable"}
      {{field}}
      %i.pointer.link{"ng-class" => "{'icon-chevron-up': panel.sort[1] == 'asc','icon-chevron-down': panel.sort[1] == 'desc'}", "ng-show" => "field == panel.sort[0]"}
    %span{"ng-show" => "!panel.sortable"} {{field}}
    %i.pointer.link.icon-caret-right{"ng-click" => "_.move(panel.fields,$index,$index+1)", "ng-show" => "!$last"}
  %tbody{"ng-class-odd" => "'odd'", "ng-repeat" => "row in data.slice(panel.offset,panel.offset+panel.size)"}
    %tr.pointer{"ng-click" => "toggle_details(row)"}
      %td{"ng-bind-html-unsafe" => "(row.highlight[field]||row._source[field]) | highlight", "ng-repeat" => "field in panel.fields"}
    %tr{"ng-show" => "row.kibana.details"}
      %td{:colspan => "1000"}
        %table.table.table-bordered.table-condensed
          %thead
      %th Field
      %th Action
      %th Value
    %tr{"ng-class-odd" => "'odd'", "ng-repeat" => "(key,value) in row.kibana.details._source"}
      %td {{key}}
      %td
        %i.icon-search.pointer{"ng-click" => "build_search(key,value)"}
        %i.icon-ban-circle.pointer{"ng-click" => "build_search(key,value,true)"}
      %td {{value}}
  .row-fluid{"ng-show" => "panel.paging"}
    .span1.offset3{:style => "text-align:right"}
      %i.icon-circle-arrow-left.pointer{"ng-click" => "panel.offset = 0", "ng-show" => "panel.offset &gt; 0"}
      %i.icon-arrow-left.pointer{"ng-click" => "panel.offset = (panel.offset - panel.size)", "ng-show" => "panel.offset &gt; 0"}
    .span4{:style => "text-align:center"}
      %strong {{panel.offset}}
      to
      %strong {{panel.offset + data.slice(panel.offset,panel.offset+panel.size).length}}
      %small of {{data.length}} available for paging
    .span1{:style => "text-align:left"}
      %i.icon-arrow-right.pointer{"ng-click" => "panel.offset = (panel.offset + panel.size)", "ng-show" => "data.length &gt; panel.offset+panel.size"}
