-
  var appName = 'kibana';

block vars

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title Kibana
    link(
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"
    )
    block head
  body(kbn-chrome, id='#{appName}-body')
    kbn-initial-state(data=JSON.stringify(kibanaPayload))
    block content
