extends ./chrome.jade

block content
  style.
    .ui-app-loading {
      width: 33%;
      margin: 60px auto;
      text-align: center;
      font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #444444;
      padding-top: 45px;
      background-size: 145px;
      background-position: top center;
      background-repeat: no-repeat;
      background-image: url('data:image/gif;base64,#{loadingGif}');
    }

    .ui-app-loading small {
      font-size: 65%;
      font-weight: 400;
      color: #777;
    }


  div.ui-app-loading
    h1 Kibana
      small(id="cache-message" style="display:none").
        Give me a moment here. I'm loading a whole bunch of code. Don't worry, all this good stuff will be cached up for next time!

  script.
    window.onload = function () {

      var showCacheMessage = !/#.*[?&]embed(&|$)/.test(window.location.href);
      if (showCacheMessage) document.getElementById('cache-message').style.display = 'block';

      var files = [
        '/bundles/commons.bundle.js.style.css',
        '/bundles/#{app.id}.style.css',
        '/bundles/commons.bundle.js',
        '/bundles/#{app.id}.bundle.js'
      ];

      (function next() {
        var file = files.shift();
        if (!file) return;

        var type = /\.js$/.test(file) ? 'script' : 'link';
        var dom = document.createElement(type);
        dom.setAttribute('async', '');

        if (type === 'script') {
          dom.setAttribute('src', file);
          dom.addEventListener('load', next);
          document.head.appendChild(dom);
        } else {
          dom.setAttribute('rel', 'stylesheet');
          dom.setAttribute('href', file);
          document.head.appendChild(dom);
          next();
        }
      }());
    };
