$visBarLabelDarkColor: $euiColorDarkShade;
$visBarLabelLightColor: $euiColorLightShade;

.bar-label--normal {
  font-size: 8pt;
  pointer-events: none;
}

.bar-label--stack {
  font-size: 8pt;
  pointer-events: none;
  dominant-baseline: central;
  text-anchor: middle;
}

.bar-label--dark {
  fill: $visBarLabelDarkColor;
}

.bar-label--light {
  fill: $visBarLabelLightColor;
}
