.tvbVisAnnotation {
  position: absolute;
  z-index: 90; // Specific to not overlap chart tooltip
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tvbVisAnnotation__line {
  flex: 1 0 auto;
  width: 2px;
}

.tvbVisAnnotation__icon {
  flex: 0 0 auto;
  width: $euiSizeM;
  text-align: center;
}

.tvbVisAnnotation__tooltip {
  @include euiBottomShadow($color: $euiColorFullShade);
  @include euiFontSizeXS;
  padding: $euiSizeS;
  animation-duration: .0s;
  animation-delay: .0;
}

.tvbVisAnnotation__timestamp {
  color: $euiColorLightShade;
}
