@import '@elastic/eui/src/components/tool_tip/variables';
@import '@elastic/eui/src/components/tool_tip/mixins';

.tvbVisTimeSeries {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.tvbVisTimeSeries__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex: 1 0 auto;
  // TODO: Remove once tooltips are portaled
  overflow: visible; // Ensures the tooltip doesn't cause scrollbars
}

.tvbVisTimeSeries__visualization {
  cursor: crosshair;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  position: relative;

  > .tvbVisTimeSeries__container {
    min-width: 1px;
    width: 100%;
    height: 100%;
  }
}

.tvbVisTimeSeries__container {
  @include euiFontSizeXS;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.tvbVisTimeSeries__axisLabel {
  font-weight: $euiFontWeightBold;
  color: $tvbTextColor;
  text-align: center;
  min-height: 1.2em;

  &.tvbVisTimeSeries__axisLabel--reversed {
    color: $tvbTextColorReversed;
  }
}

// TOOLTIP

// EUITODO: Use EuiTooltip or somehow portal the current one
.tvbTooltip__container {
  pointer-events: none;
  position: absolute;
  z-index: $euiZLevel9;
  display: flex;
  align-items: center;
  padding: 0 $euiSizeS;
  transform: translate(0, -50%);
}

.tvbTooltip__container--right {
  flex-direction: row-reverse;
}

.tvbTooltip {
  @include euiToolTipStyle;
  @include euiFontSizeXS;
  padding: $euiSizeS;
}

.tvbTooltip__caret {
  $tempArrowSize: $euiSizeM;
  width: $tempArrowSize;
  height: $tempArrowSize;
  border-radius: $euiBorderRadius / 2;
  background-color: tintOrShade($euiColorFullShade, 25%, 90%);
  transform-origin: center;
  transform: rotateZ(45deg);

  .tvbTooltip__container--left & {
    margin-right: (($tempArrowSize/2) + 1px) * -1;
  }

  .tvbTooltip__container--right & {
    margin-left: (($tempArrowSize/2) + 1px) * -1;
  }
}

.tvbTooltip__item {
  display: flex;
}

/**
 * 1. Ensure tvbTooltip__label text wraps nicely.
 * 2. Create consistent space between the dot icon and the label.
 */
.tvbTooltip__labelContainer {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  min-width: 1px; /* 1 */
  margin-left: $euiSizeXS; /* 2 */
}

/**
 * 1. Ensure text wraps nicely.
 */
.tvbTooltip__label {
  flex-grow: 1;
  margin-right: $euiSizeXS;
  word-wrap: break-word; /* 1 */
  overflow-wrap: break-word; /* 1 */
  min-width: 1px; /* 1 */
}

.tvbTooltip__icon,
.tvbTooltip__value {
  flex-shrink: 0;
}

.tvbTooltip__timestamp {
  color: transparentize($euiColorGhost, .3);
  white-space: nowrap;
}
