

.tvbVisTopN {
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;

  tr:hover td {
    background-color: $tvbHoverBackgroundColor;
  }
}

.tvbVisTopN__table {
  width: 100%;
}

.tvbVisTopN__table tr > td:nth-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tvbVisTopN__value {
  text-align: right;
  white-space: nowrap;
  line-height: 0;
  vertical-align: middle;
  color: $tvbValueColor;
  padding: $euiSizeXS;
  padding-bottom: 0;
  width: 3%;
}

.tvbVisTopN__label {
  color: $tvbTextColor;
  padding: $euiSizeXS 0;
  max-width: 150px;
}

.tvbVisTopN__label span {
  width: 100%;
}

.tvbVisTopN__bar {
  padding: $euiSizeXS $euiSizeM;
  vertical-align: middle;
}

.tvbVisTopN__innerBar {
  min-height: $euiSize;
}

.tvbVisTopN--reversed {
  tr:hover td {
    background-color: $tvbHoverBackgroundColorReversed;
  }

  .tvbVisTopN__label {
    color: $tvbTextColorReversed;
  }

  .tvbVisTopN__value {
    color: $tvbValueColorReversed;
  }
}
