@import (reference) "~ui/styles/variables.less";

.step {
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 32px;
  text-align: center;
  color: @white;
  border-radius: 100%;
  background-color: @globalColorBlue;
}

.title {
  display: inline-block;
  margin-left: 16px;
}
