.tutorialContent {
  /*
   * 1. remove bottom margin placed on p element by bootstrap
   */
  p {
    margin-bottom: 0; /* 1 */
  }
}

.text-center > .kuiButtonGroup {
  display: inline-block !important;
}

.homePanel {
  background: white;
  padding: 24px;
}
