### Collecting logs from GCP Pub/Sub

#### To create GCP Pub/Sub, follow the below steps:

- [Create Topic for Pub/sub](https://cloud.google.com/pubsub/docs/create-topic#create_a_topic).
- [Create Subscription for topic](https://cloud.google.com/pubsub/docs/create-subscription#create_subscriptions)

#### To collect data from GCP Pub/Sub, follow the below steps:

- [Configure to export finding to GCP Pub/Sub](https://cloud.google.com/security-command-center/docs/how-to-notifications).
- [Configure to export asset to GCP Pub/Sub](https://cloud.google.com/asset-inventory/docs/monitoring-asset-changes).
- [Configure to export audit to GCP Pub/Sub](https://cloud.google.com/logging/docs/export/configure_export_v2?_ga=2.110932226.-66737431.1679995682#overview).

**NOTE**:
- Create unique Pub/Sub topic per data-stream.
