### Collecting logs from UDP

Specify the address and port that will be used to intialize a listening UDP socket that collects any UDP traffic received and sends each line as a document to Elasticsearch.
