<input
  input-focus
  ng-show="interval === 'other'"
  ng-class="{'form-control form-group': !inHeader, 'kuiLocalSearchInput kuiLocalSearchInput--secondary timelion-interval-custom ': inHeader}"
  ng-model="otherInterval"
>

<select
  class="timelion-interval-presets"
  ng-options="intervalOption for intervalOption in intervalOptions"
  ng-class="{'form-control': !inHeader, 'kuiLocalSearchSelect': inHeader, 'timelion-interval-presets-compact': interval === 'other'}"
  ng-model="interval"
></select>
