### Troubleshooting GCP

If you don't see metrics showing up, check the Agent logs to see if there are errors.

Common error types:

- Period is lower than 60 seconds
- Missing roles in the Service Account
- Misconfigured settings, like "Project Id"
