@import (reference) "../../../style/main";

.canvas__tray {
  max-height: 400px;
  overflow: auto;
  padding: @spacingM @spacingM @spacingXS @spacingM;
  display: flex;
  flex-direction: column;

  a {
    color: lighten(@blue, 7%);
  }

  .table td {
    border-color: @mediumGrey;
  }

  .canvas__expression, .form-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    textarea {
      flex-grow: 1;
      height: 200px;
      background: @lightestGrey;
      padding: @spacingS;
    }
  }
}
