<%
var attributes = '';
if (timefield) {
  attributes='class="eui-textNoWrap" width="1%"';
} else if (sourcefield) {
  attributes='class="eui-textBreakAll eui-textBreakWord"';
} else {
  attributes='class="discover-table-datafield eui-textBreakAll eui-textBreakWord"';
}
%>
<td <%= attributes %> data-test-subj="docTableField">
  <%= formatted %>
  <span class="table-cell-filter">
    <% if (filterable) { %>
      <button
        ng-click="inlineFilter($event, '+')"
        class="fa fa-search-plus docTableRowFilterButton"
        data-column="<%- column %>"
        tooltip="Filter for value"
        tooltip-append-to-body="1"
        aria-label="Filter for value"
      ></button>

      <button
        ng-click="inlineFilter($event, '-')"
        class="fa fa-search-minus docTableRowFilterButton"
        data-column="<%- column %>"
        tooltip="Filter out value"
        aria-label="Filter out value"
        tooltip-append-to-body="1"
      ></button>
    <% } %>
  </span>
</td>
