<td colspan="{{ columns.length + 2 }}">
  <div class="documentTableRow__actions">
    <a
      class="kuiLink documentTableRow__action"
      data-test-subj="docTableRowAction"
      ng-href="{{ getContextAppHref() }}"
      ng-if="indexPattern.hasTimeField()"
    >
      View surrounding entries
    </a>
    <a
      class="kuiLink documentTableRow__action"
      data-test-subj="docTableRowAction"
      ng-href="#/doc/{{indexPattern.id}}/{{row._index}}/{{row._type}}/?id={{row._id | uriescape}}"
    >
      View single entry
    </a>
  </div>
  <doc-viewer hit="row" filter="filter" columns="columns" index-pattern="indexPattern"></doc-viewer>
</td>
