<td colspan="{{ columns.length + 2 }}">
  <div class="documentTableRow__actions">
    <a
      class="btn btn-default btn-xs documentTableRow__action"
      ng-href="{{ getContextAppHref() }}"
    >
      <i class="fa fa-files-o" />
      View surrounding entries
    </a>
    <a
      class="btn btn-default btn-xs documentTableRow__action"
      ng-href="#/doc/{{indexPattern.id}}/{{row._index}}/{{row._type}}/?id={{row._id | uriescape}}"
    >
      <i class="fa fa-file-o" />
      View single entry
    </a>
  </div>
  <doc-viewer hit="row" filter="filter" columns="columns" index-pattern="indexPattern"></doc-viewer>
</td>
