@include component('kuiAvatar') {
  border-radius: 50%;
  width: $kuiSizeL;
  height: $kuiSizeL;
  display: inline-block;
  @include innerBorder('dark', 50%);

  @include modifier('small') {
    width: $kuiSize;
    height: $kuiSize;
  }

  @include modifier('large') {
    width: $kuiSize * 4;
    height: $kuiSize * 4;
  }
}
