<div
  class="kuiView"
  style="background-color: pink"
>
  <div
    class="kuiViewContent kuiViewContent--constrainedWidth"
    style="background-color: pink"
  >
    <div class="kuiNotice">
      <div ng-if="isExpired" class="kuiNotice__header">
        <h1 class="kuiNoticeTitle">
          <span class="kuiIcon kuiIcon--error fa-warning"></span>
          Notice title
        </h1>

        <div class="kuiNoticeText">
          You can use the Notice component to present content in the center of the content area,
          within a container with a narrow, fixed width.
        </div>

        <div class="kuiNoticeText">
          The pink color is just for demonstration purposes.
        </div>
      </div>
    </div>
  </div>
</div>
