.kui--flex {
  display: flex;
}

.kui--flexRow {
  display: flex;
  flex-direction: row;
}

.kui--flexWrap {
  flex-wrap: wrap;
}

.kui--flexGrow1 {
  flex-grow: 1;
}

.kui--flexShrink1 {
  flex-shrink: 1;
}

.kui--flexBasisOneThird {
  flex-basis: 33.33%;
}

.kui--flexAlignItemsCenter {
  align-items: center;
}
