// Margin
.kui--margin {
  margin: $kuiSize !important;
}

.kui--marginLarge {
  margin: $kuiSizeL !important;
}

.kui--marginSmall {
  margin: $kuiSizeS !important;
}

// Full padding
.kui--padding {
  padding: $kuiSize !important;
}

.kui--paddingLarge {
  padding: $kuiSizeL !important;
}

.kui--paddingSmall {
  padding: $kuiSizeS !important;
}

// Vertical margins
.kui--marginTopBottom {
  margin-top: $kuiSize !important;
  margin-bottom: $kuiSize !important;
}

.kui--marginTopBottomSmall {
  margin-top: $kuiSizeS !important;
  margin-bottom: $kuiSizeS !important;
}

.kui--marginTopBottomLarge {
  margin-top: $kuiSizeL !important;
  margin-bottom: $kuiSizeL !important;
}

.kui--marginTop {
  margin-top: $kuiSize !important;
}

.kui--marginBottom {
  margin-bottom: $kuiSize !important;
}

.kui--marginTopSmall {
  margin-top: $kuiSizeS !important;
}

.kui--marginBottomSmall {
  margin-bottom: $kuiSizeS !important;
}

.kui--marginTopLarge {
  margin-top: $kuiSizeL !important;
}

.kui--marginBottomLarge {
  margin-bottom: $kuiSizeL !important;
}

// Horizontal Margins
.kui--marginLeftRight {
  margin-left: $kuiSize !important;
  margin-right: $kuiSize !important;
}

.kui--marginLeftRightSmall {
  margin-left: $kuiSizeS !important;
  margin-right: $kuiSizeS !important;
}

.kui--marginLeftRightLarge {
  margin-left: $kuiSizeL !important;
  margin-right: $kuiSizeL !important;
}

.kui--marginLeft {
  margin-left: $kuiSize !important;
}

.kui--marginRight {
  margin-right: $kuiSize !important;
}

.kui--marginLeftSmall {
  margin-left: $kuiSizeS !important;
}

.kui--marginRightSmall {
  margin-right: $kuiSizeS !important;
}

.kui--marginLeftLarge {
  margin-left: $kuiSizeL !important;
}

.kui--marginRightLarge {
  margin-right: $kuiSizeL !important;
}

// Vertical padding
.kui--paddingTopBottom {
  padding-top: $kuiSize !important;
  padding-bottom: $kuiSize !important;
}

.kui--paddingTopBottomSmall {
  padding-top: $kuiSizeS !important;
  padding-bottom: $kuiSizeS !important;
}

.kui--paddingTopBottomLarge {
  padding-top: $kuiSizeL !important;
  padding-bottom: $kuiSizeL !important;
}

.kui--paddingTop {
  padding-top: $kuiSize !important;
}

.kui--paddingBottom {
  padding-bottom: $kuiSize !important;
}

.kui--paddingTopSmall {
  padding-top: $kuiSizeS !important;
}

.kui--paddingBottomSmall {
  padding-bottom: $kuiSizeS !important;
}

.kui--paddingTopLarge {
  padding-top: $kuiSizeL !important;
}

.kui--paddingBottomLarge {
  padding-bottom: $kuiSizeL !important;
}

// Horizontal padding
.kui--paddingLeftRight {
  padding-left: $kuiSize !important;
  padding-right: $kuiSize !important;
}

.kui--paddingLeftRightSmall {
  padding-left: $kuiSizeS !important;
  padding-right: $kuiSizeS !important;
}

.kui--paddingLeftRightLarge {
  padding-left: $kuiSizeL !important;
  padding-right: $kuiSizeL !important;
}

.kui--paddingLeft {
  padding-left: $kuiSize !important;
}

.kui--paddingRight {
  padding-right: $kuiSize !important;
}

.kui--paddingLeftSmall {
  padding-left: $kuiSizeS !important;
}

.kui--paddingRightSmall {
  padding-right: $kuiSizeS !important;
}

.kui--paddingLeftLarge {
  padding-left: $kuiSizeL !important;
}

.kui--paddingRightLarge {
  padding-right: $kuiSizeL !important;
}
