// Margin
@include utility('margin') {
  margin: $kuiSize !important;
}

@include utility('marginLarge') {
  margin: $kuiSizeL !important;
}

@include utility('marginSmall') {
  margin: $kuiSizeS !important;
}

// Full padding
@include utility('padding') {
  padding: $kuiSize !important;
}

@include utility('paddingLarge') {
  padding: $kuiSizeL !important;
}

@include utility('paddingSmall') {
  padding: $kuiSizeS !important;
}

// Vertical margins
@include utility('marginTopBottom') {
  margin-top: $kuiSize !important;
  margin-bottom: $kuiSize !important;
}

@include utility('marginTopBottomSmall') {
  margin-top: $kuiSizeS !important;
  margin-bottom: $kuiSizeS !important;
}

@include utility('marginTopBottomLarge') {
  margin-top: $kuiSizeL !important;
  margin-bottom: $kuiSizeL !important;
}

@include utility('marginTop') {
  margin-top: $kuiSize !important;
}

@include utility('marginBottom') {
  margin-bottom: $kuiSize !important;
}

@include utility('marginTopSmall') {
  margin-top: $kuiSizeS !important;
}

@include utility('marginBottomSmall') {
  margin-bottom: $kuiSizeS !important;
}

@include utility('marginTopLarge') {
  margin-top: $kuiSizeL !important;
}

@include utility('marginBottomLarge') {
  margin-bottom: $kuiSizeL !important;
}

// Horizontal Margins
@include utility('marginLeftRight') {
  margin-left: $kuiSize !important;
  margin-right: $kuiSize !important;
}

@include utility('marginLeftRightSmall') {
  margin-left: $kuiSizeS !important;
  margin-right: $kuiSizeS !important;
}

@include utility('marginLeftRightLarge') {
  margin-left: $kuiSizeL !important;
  margin-right: $kuiSizeL !important;
}

@include utility('marginLeft') {
  margin-left: $kuiSize !important;
}

@include utility('marginRight') {
  margin-right: $kuiSize !important;
}

@include utility('marginLeftSmall') {
  margin-left: $kuiSizeS !important;
}

@include utility('marginRightSmall') {
  margin-right: $kuiSizeS !important;
}

@include utility('marginLeftLarge') {
  margin-left: $kuiSizeL !important;
}

@include utility('marginRightLarge') {
  margin-right: $kuiSizeL !important;
}

// Vertical padding
@include utility('paddingTopBottom') {
  padding-top: $kuiSize !important;
  padding-bottom: $kuiSize !important;
}

@include utility('paddingTopBottomSmall') {
  padding-top: $kuiSizeS !important;
  padding-bottom: $kuiSizeS !important;
}

@include utility('paddingTopBottomLarge') {
  padding-top: $kuiSizeL !important;
  padding-bottom: $kuiSizeL !important;
}

@include utility('paddingTop') {
  padding-top: $kuiSize !important;
}

@include utility('paddingBottom') {
  padding-bottom: $kuiSize !important;
}

@include utility('paddingTopSmall') {
  padding-top: $kuiSizeS !important;
}

@include utility('paddingBottomSmall') {
  padding-bottom: $kuiSizeS !important;
}

@include utility('paddingTopLarge') {
  padding-top: $kuiSizeL !important;
}

@include utility('paddingBottomLarge') {
  padding-bottom: $kuiSizeL !important;
}

// Horizontal padding
@include utility('paddingLeftRight') {
  padding-left: $kuiSize !important;
  padding-right: $kuiSize !important;
}

@include utility('paddingLeftRightSmall') {
  padding-left: $kuiSizeS !important;
  padding-right: $kuiSizeS !important;
}

@include utility('paddingLeftRightLarge') {
  padding-left: $kuiSizeL !important;
  padding-right: $kuiSizeL !important;
}

@include utility('paddingLeft') {
  padding-left: $kuiSize !important;
}

@include utility('paddingRight') {
  padding-right: $kuiSize !important;
}

@include utility('paddingLeftSmall') {
  padding-left: $kuiSizeS !important;
}

@include utility('paddingRightSmall') {
  padding-right: $kuiSizeS !important;
}

@include utility('paddingLeftLarge') {
  padding-left: $kuiSizeL !important;
}

@include utility('paddingRightLarge') {
  padding-right: $kuiSizeL !important;
}
