.saved-query-management-popover {
  width: 400px;
}
.saved-query-list {
  @include euiYScrollWithShadows;
}
.saved-query-list-wrapper {
  height: 20vh;
  overflow-y:hidden;
}
.saved-query-list li:first-child .saved-query-list-item-text {
  font-weight: $euiFontWeightBold;
}
