@use 'sass:math';
@use 'eui/eui_variables' as eui;
@use 'eui/eui_mixins' as mixins;

.kbnDocViewer__fieldIconContainer {
  padding-top: math.mul(eui.$euiSizeXS, 1.5);
  line-height: eui.$euiSize;
}

.kbnDocViewer__fieldName {
  padding: eui.$euiSizeXS;
  padding-left: 0;
  line-height: eui.$euiLineHeight;

  .euiDataGridRowCell__popover & {
    font-size: eui.$euiFontSizeS;
    line-height: eui.$euiLineHeight;
  }
}

.kbnDocViewer__multiFieldBadge {
  @include mixins.euiFont;
  margin: eui.$euiSizeXS 0;
}
