@import (reference) "~plugins/rework/main.less";

.rework--palette {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 28px;
  border-radius: @border-radius-small;
  border: @rework--border;

  margin-top: 2px;
  margin-bottom: 2px;
}

.rework--palette-color {
  flex-grow: 1;
}
