@import (reference) "~ui/styles/variables";

.calendar-tooltip {
  font-size: @font-size-base;
  font-weight: normal;
  color: @tooltip-color !important;

  .tooltip-label {
    padding-right: 2 * @tooltip-space-tight;
  }
}
