<div class="kuiToolBarFooter">
  <div class="kuiToolBarFooterSection">
    <div class="kuiToolBarText">
      5 Items selected
    </div>
  </div>

  <div class="kuiToolBarFooterSection">
    <div class="kuiToolBarText">
      1 &ndash; 20 of 33
    </div>

    <div class="kuiButtonGroup kuiButtonGroup--united">
      <button class="kuiButton kuiButton--basic kuiButton--icon">
        <span class="kuiButton__icon kuiIcon fa-chevron-left"></span>
      </button>
      <button class="kuiButton kuiButton--basic kuiButton--icon">
        <span class="kuiButton__icon kuiIcon fa-chevron-right"></span>
      </button>
    </div>
  </div>
</div>
