.global_nav_logo,
.global-nav-link {
  &:hover {
    background-color: darken($euiColorPrimary, 15%);
  }

  &.active {
    background-color: $euiColorPrimary;
  }
}

.global_nav_logo {
  display: inline-block;
}

.global-nav-link {
  position: relative;
  width: $kbnChromeGlobalNavClosedWidth;
  height: $kbnGlobalNavAppIconHeight;
  line-height: $euiSizeL;

  &.is-global-nav-link-disabled {
    opacity: 0.5;

    .global-nav-link__anchor {
      cursor: default;
    }
  }

  &.active {
    .global-nav-link__anchor {
      color: $euiColorEmptyShade;
      text-decoration: none;
    }
  }
}

.is-global-nav-open {
  .global-nav-link {
    width: $kbnChromeGlobalNavOpenWidth;
  }
}

  .global-nav-link__anchor {
    display: block;
    height: 100%;
    color: $euiColorEmptyShade;
  }

  .global-nav-link__icon {
    display: inline-block;
    width: $kbnChromeGlobalNavClosedWidth;
    height: $kbnGlobalNavAppIconHeight;
    float: left;
    text-align: center;
    font-size: 1.7em;
  }

    /**
     * This image is used to display the icon.
     */
    .global-nav-link__icon-image {
      height: 18px;
      margin-top: $euiSizeS;
    }

    /**
     * This placeholder text gets shown if there is no specified icon.
     */
    .global-nav-link__icon-placeholder {
      line-height: $kbnGlobalNavAppIconHeight;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

  .global-nav-link__title {
    @include euiTextTruncate;
    display: none;
    width: $kbnChromeGlobalNavOpenWidth - $kbnChromeGlobalNavClosedWidth - 3px;
    float: right;
    font-size: 0.9em;
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
    line-height: $kbnGlobalNavAppIconHeight;

    .is-global-nav-open & {
      display: inline-block;
    }
  }

.global-nav-link--close {
  /**
   * 1. Translation accounts for the icon image being slightly off-center.
   */
  .global-nav-link__icon {
    transform: translateX(1px) scaleX(-1); /* 1 */
  }
}
