<div>
  <div
    ng-if="isLoading"
    class="kuiPanel kuiPanel--prompt kuiVerticalRhythm matchingIndicesListLoadingPrompt"
  >
    <div class="kuiPanelBody">
      <p class="kuiSubTitle kuiSubduedText kuiVerticalRhythm">
        Looking for matching indices
      </p>

      <div class="kuiVerticalRhythm">
        <p class="kuiText kuiSubduedText kuiVerticalRhythmSmall">
          Just a sec...
        </p>
      </div>
    </div>
  </div>

  <div
    ng-if="!isLoading"
    class="kuiControlledTable"
  >
    <!-- ToolBar -->
    <div class="kuiToolBar">
      <div class="kuiToolBarSection">
        <p class="kuiText">
          <ng-transclude></ng-transclude>
        </p>
      </div>

      <div class="kuiToolBarSection">
        <div class="kuiToolBarText">
          1 &ndash; 20 of 33
        </div>

        <div class="kuiButtonGroup kuiButtonGroup--united">
          <button class="kuiButton kuiButton--basic kuiButton--icon">
            <span class="kuiButton__icon kuiIcon fa-chevron-left"></span>
          </button>
          <button class="kuiButton kuiButton--basic kuiButton--icon">
            <span class="kuiButton__icon kuiIcon fa-chevron-right"></span>
          </button>
        </div>
      </div>
    </div>

    <ul class="kuiMenu kuiMenu--contained">
      <li
        class="kuiMenuItem"
        ng-repeat="index in indices"
      >
        <p class="kuiText">
          {{index}}
        </p>
      </li>
    </ul>
  </div>
</div>
