
.timeSlider__popoverOverride {
  width: 100%;
  max-inline-size: 100% !important;
}

.timeSlider-playToggle:enabled {
  background-color: $euiColorPrimary !important;
}

.timeSlider__anchor {
  width: 100%;
  height: 100%;
  box-shadow: none;
  overflow: hidden;
  @include euiFormControlSideBorderRadius($euiFormControlBorderRadius, $side: 'right', $internal: true);

  .euiText {
    background-color: $euiFormBackgroundColor !important;
    // background-color: transparent !important; TODO revert to this rule once control group provides background color

    &:hover {
      text-decoration: underline;
    }

    &:not(.euiFormControlLayoutDelimited__delimiter) {
      cursor: pointer !important;
    }
  }

  .timeSlider__anchorText {
    font-weight: $euiFontWeightMedium;
  }

  .timeSlider__anchorText--default {
    color: $euiColorMediumShade;
  }

  .timeSlider__anchorText--invalid {
    text-decoration: line-through;
    color: $euiColorMediumShade;
  }
}