.dscFieldChooser {
  padding-left: $euiSizeS !important;
  padding-right: $euiSizeS !important;
}

.dscFieldChooser__toggle {
  color: $euiColorMediumShade;
  margin-left: $euiSizeS !important;
}

.dscFieldName {
  color: $euiColorDarkShade;
}

.dscSidebarItemExpanded {
  border-top: 1px solid $euiColorLightShade;
  margin-bottom: $euiSizeS;
  background-color: #FFF;
  padding: 2px;
}

.dscSidebarField {
  padding-bottom: $euiSizeS;
  display: flex;
  align-items: flex-start;
  max-width: 100%;

  .dscSidebarField__name {
    margin-left: $euiSizeS;
    flex-grow: 1;
  }

  .dscSidebarField__infoIcon {
    flex-shrink: 0;
  }

  .dscSidebarField__fieldIcon {
    margin-top: $euiSizeXS / 2;
    margin-right: $euiSizeXS / 2;
  }
}

/**
 * 1. Only visually hide the action, so that it's still accessible to screen readers.
 * 2. When tabbed to, this element needs to be visible for keyboard accessibility.
 */
.dscSidebarItem__action {
  opacity: 0; /* 1 */

  &:focus {
    opacity: 1; /* 2 */
  }
}


/*
  Fixes EUI known issue https://github.com/elastic/eui/issues/1749
*/
.dscProgressBarTooltip__anchor {
  display: block;
}

.dscToggleFieldFilterButton {
  width: calc(100% - #{$euiSizeS});
  color: $euiColorPrimary;
  padding-left: $euiSizeXS;
  margin-left: $euiSizeXS;
}

.dscFieldSearch__filterWrapper {
  flex-grow: 0;
}

.dscFieldSearch__formWrapper {
  padding: $euiSizeM;
}
