.dscFieldChooser {
  padding-left: $euiSize;
  padding-right: $euiSize;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.dscFieldChooser__section {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.dscFieldChooser__sectionStatic {
  padding: 0 $euiSize;
}

.dscFieldChooser__sectionScroll {
  flex-grow: 1;
  overflow-x: hidden;
  @include euiYScrollWithShadows;
  padding: 0 $euiSize;
}

.dscFieldChooser__toggle {
  color: $euiColorMediumShade;
  margin-left: $euiSizeS !important;
}

.dscFieldName {
  color: $euiColorDarkestShade;
}

.dscFieldName__displayName {
  height: $euiSize;
  display: block;
}
/*
  Fixes EUI known issue https://github.com/elastic/eui/issues/1749
*/
.dscProgressBarTooltip__anchor {
  display: block;
}

.dscToggleFieldFilterButton {
  width: calc(100% - #{$euiSizeS});
  color: $euiColorPrimary;
  padding-left: $euiSizeXS;
  margin-left: $euiSizeXS;
}

.dscFieldSearch__filterWrapper {
  flex-grow: 0;
}

.dscFieldSearch__formWrapper {
  padding: $euiSizeM;
}
