<li
  attr-field="{{::field.name}}"
  class="dscSidebarItem"
>
    <div class="dscField dscSidebarItem__label">
      <field-name
        data-test-subj="field-{{::field.name}}"
        ng-click="onClickToggleDetails($event, field)"
        kbn-accessible-click
        field="field"
      ></field-name>
    </div>

    <button
      ng-if="field.name !== '_source'"
      ng-click="toggleDisplay(field)"
      ng-class="::field.display ? 'dscSidebarItem__action--remove' : 'dscSidebarItem__action--add'"
      ng-bind="::addRemoveButtonLabel"
      class="dscSidebarItem__action"
      data-test-subj="fieldToggle-{{::field.name}}"
    ></button>
</li>
