<section
  class="dscFieldChooser__section"
  aria-label="{{::'kbn.discover.fieldChooser.filter.indexAndFieldsSectionAriaLabel' | i18n: {defaultMessage: 'Index and fields'} }}"
>
  <div class="dscFieldChooser__sectionStatic">
    <discover-index-pattern-select
      selected-index-pattern="$parent.indexPattern"
      set-index-pattern="$parent.setIndexPattern"
      index-pattern-list="indexPatternList"
    >
    </discover-index-pattern-select>
    <form>
      <discover-field-search on-change="setFilterValue" value="filter.vals.name" types="fieldTypes">
      </discover-field-search>
    </form>
  </div>

  <div class="dscFieldChooser__sectionScroll">
    <div class="dscSidebar__listHeader" ng-if="fields.length">
      <h3
        class="euiFlexItem euiTitle euiTitle--xxxsmall"
        id="selected_fields"
        tabindex="0"
        i18n-id="kbn.discover.fieldChooser.filter.selectedFieldsTitle"
        i18n-default-message="Selected fields"
        data-test-subj="discover-sidebar-list-header"
      ></h3>
      <ul class="dscFieldList dscFieldList--selected" aria-labelledby="selected_fields">
        <discover-field
          ng-repeat="field in fields|filter:filter.isFieldFilteredAndDisplayed"
          field="field"
          on-add-field="onAddField"
          on-add-filter="onAddFilter"
          on-remove-field="onRemoveField"
          on-show-details="computeDetails"
        >
        </discover-field>
      </ul>
      <h3
        class="euiFlexItem euiTitle euiTitle--xxxsmall"
        id="available_fields"
        tabindex="0"
        i18n-id="kbn.discover.fieldChooser.filter.availableFieldsTitle"
        i18n-default-message="Available fields"
        data-test-subj="discover-sidebar-list-header"
        ng-if="fields.length"
      ></h3>
    </div>
    <div class="euiFlexGroup euiFlexGroup--gutterMedium" ng-if="fields.length">
      <div class="euiFlexItem euiFlexItem--flexGrowZero">
        <button
          ng-click="$parent.showFields = !$parent.showFields"
          aria-hidden="true"
          class="kuiButton kuiButton--small visible-xs visible-sm pull-right dscFieldChooser__toggle"
        >
          <span
            aria-hidden="true"
            class="kuiIcon"
            ng-class="{ 'fa-chevron-right': !$parent.showFields, 'fa-chevron-down': $parent.showFields }"
          ></span>
        </button>
      </div>
    </div>

    <ul
      ng-show="(popularFields | filter:filter.isFieldFilteredAndNotDisplayed).length > 0"
      ng-class="{ 'hidden-sm': !showFields, 'hidden-xs': !showFields }"
      class="dscFieldList dscFieldList--popular"
    >
      <li>
        <h6
          i18n-id="kbn.discover.fieldChooser.filter.popularTitle"
          i18n-default-message="Popular"
        ></h6>
      </li>
      <discover-field
        ng-repeat="field in popularFields | filter:filter.isFieldFilteredAndNotDisplayed"
        field="field"
        on-add-field="onAddField"
        on-add-filter="onAddFilter"
        on-remove-field="onRemoveField"
        on-show-details="computeDetails"
      >
      </discover-field>
    </ul>

    <ul
      ng-class="{ 'hidden-sm': !showFields, 'hidden-xs': !showFields  }"
      class="dscFieldList dscFieldList--unpopular"
    >
      <discover-field
        ng-repeat="field in unpopularFields | filter:filter.isFieldFilteredAndNotDisplayed"
        field="field"
        on-add-field="onAddField"
        on-add-filter="onAddFilter"
        on-remove-field="onRemoveField"
        on-show-details="computeDetails"
      >
      </discover-field>
    </ul>
  </div>
</section>
