<section class="sidebar-list" aria-label="{{::'kbn.discover.fieldChooser.filter.indexAndFieldsSectionAriaLabel' | i18n: {defaultMessage: 'Index and fields'} }}">
  <discover-index-pattern-select
    selected-index-pattern="selectedIndexPattern"
    set-index-pattern="setIndexPattern"
    index-pattern-list="indexPatternList"
  >
  </discover-index-pattern-select>
  <div class="sidebar-item" >
    <form>
      <discover-field-search
        on-change="setFilterValue"
        value="filter.vals.name"
        types="fieldTypes"
      >
      </discover-field-search>
    </form>
  </div>

  <div class="dscSidebar__listHeader sidebar-list-header" ng-if="fields.length">
    <h3
      class="euiFlexItem euiTitle euiTitle--xxxsmall sidebar-list-header-heading"
      id="selected_fields"
      tabindex="0"
      i18n-id="kbn.discover.fieldChooser.filter.selectedFieldsTitle"
      i18n-default-message="Selected fields"
    ></h3>
  </div>
  <ul class="list-unstyled dscFieldList--selected" aria-labelledby="selected_fields">
    <discover-field
      ng-repeat="field in fields|filter:filter.isFieldFilteredAndDisplayed"
      field="field"
      on-add-field="onAddField"
      on-add-filter="onAddFilter"
      on-remove-field="onRemoveField"
      on-show-details="computeDetails"
    >
    </discover-field>
  </ul>

  <div class="sidebar-list-header sidebar-item euiFlexGroup euiFlexGroup--gutterMedium" ng-if="fields.length">
    <h3
      class="euiFlexItem euiTitle euiTitle--xxxsmall sidebar-list-header-heading"
      id="available_fields"
      tabindex="0"
      i18n-id="kbn.discover.fieldChooser.filter.availableFieldsTitle"
      i18n-default-message="Available fields"
    ></h3>

    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button
        ng-click="$parent.showFields = !$parent.showFields"
        aria-hidden="true"
        class="kuiButton kuiButton--small visible-xs visible-sm pull-right dscFieldChooser__toggle"
      >
        <span
          aria-hidden="true"
          class="kuiIcon"
          ng-class="{ 'fa-chevron-right': !$parent.showFields, 'fa-chevron-down': $parent.showFields }"
        ></span>
      </button>
    </div>
  </div>

  <ul
    ng-show="(popularFields | filter:filter.isFieldFilteredAndNotDisplayed).length > 0"
    ng-class="{ 'hidden-sm': !showFields, 'hidden-xs': !showFields }"
    class="list-unstyled sidebar-well dscFieldList--popular">
    <li class="sidebar-item sidebar-list-header">
      <h6
        i18n-id="kbn.discover.fieldChooser.filter.popularTitle"
        i18n-default-message="Popular"
      ></h6>
    </li>
    <discover-field
      ng-repeat="field in popularFields | filter:filter.isFieldFilteredAndNotDisplayed"
      field="field"
      on-add-field="onAddField"
      on-add-filter="onAddFilter"
      on-remove-field="onRemoveField"
      on-show-details="computeDetails"
    >
    </discover-field>
  </ul>

  <ul
    ng-class="{ 'hidden-sm': !showFields, 'hidden-xs': !showFields  }"
    class="list-unstyled dscFieldList--unpopular">
    <discover-field
      ng-repeat="field in unpopularFields | filter:filter.isFieldFilteredAndNotDisplayed"
      field="field"
      on-add-field="onAddField"
      on-add-filter="onAddFilter"
      on-remove-field="onRemoveField"
      on-show-details="computeDetails"
    >
    </discover-field>
  </ul>

</section>
