<div class="config-controls pull-right btn-group">
  <button
    ng-if="category.configs.length > 1"
    ng-click="move(config, -1)"
    type="button"
    ng-disabled="category.configs.indexOf(config) < 1"
    class="btn btn-xs btn-default">
    <div tooltip="Increase Priority"><i class="fa fa-caret-up"></i></div>
  </button>
  <button
    ng-if="category.configs.length > 1"
    ng-click="move(config, 1)"
    type="button"
    ng-disabled="category.configs.indexOf(config) >= category.configs.length - 1"
    class="btn btn-xs btn-default">
    <div tooltip="Decrease Priority"><i class="fa fa-caret-down"></i></div>
  </button>
  <button
    ng-if="category.configs.length > category.min"
    ng-click="move(config, false)"
    type="button"
    class="btn btn-xs btn-danger">
    <div tooltip="Remove Dimension"><i class="fa fa-times"></i></div>
  </button>
</div>