$visColumnChartBarLabelDarkColor: #000; // EUI doesn't yet have a variable for fully black in all themes;
$visColumnChartBarLabelLightColor: $euiColorGhost;

.visColumnChart__barLabel {
  font-size: 8pt;
  pointer-events: none;
}

.visColumnChart__barLabel--stack {
  dominant-baseline: central;
  text-anchor: middle;
}

.visColumnChart__bar-label--dark {
  fill: $visColumnChartBarLabelDarkColor;
}

.visColumnChart__bar-label--light {
  fill: $visColumnChartBarLabelLightColor;
}
