@import "~ui/styles/variables.less";
@import (reference) "~ui/styles/mixins";

@chart-height: 330px;

body > .content,  body > .content > .application {
  overflow: hidden
}

.timelion {
  overflow: hidden;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  &-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow-y:auto;

    &-sheet {
      flex-grow: 1;
      overflow-y: auto;

      &-margin {
        margin: 20px;
      }
    }

    &-drawer {
      min-height: 350px;
      overflow-y: auto;
      z-index: 100;


      &-tab {
        text-align: center;
        width: 100%;
        background-color: whitesmoke;
        margin: 0 auto;
      }
    }
  }
}

[chart] {
  height: @chart-height;
}

[ng-click] {
  cursor: pointer;
}

.chart-container {
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  border: 2px dashed transparent;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 10px;
}

.chart-container.active {
  border-color: #ccc;
}

navbar.timelion-navbar .form-control:focus {
  border-color: @gray-lighter;
}

.chart-container.running {
  opacity: 0.50;
}

select.timelion-interval {
 -webkit-appearance: none;
}

.stats {
  background-color: whitesmoke;
  padding: 5px 20px;
  font-size: 0.9em;
}

.suggestion {
  border-bottom: 1px solid #ccc;
  padding: 5px 20px;
}

div.doc-container {
  &-content {
    padding: 0 20px 20px 20px;
    height: 310px;
    overflow-y: auto;
    background-color: @body-bg;
    position: relative;
  }

  &-buttons {
    text-align: center;
    background-color: @body-bg;
    height: 40px;

    .btn-doc {
      &-prev {
        position: absolute;
        left: 20px;
      }

      &-next {
        position: absolute;
        right: 20px;
      }
    }
  }
}

.cell-id {
  position: absolute;
  bottom:5px;
  left:5px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #666;
  padding: 3px;
  font-weight: bold;
  background-color: #ccc;
  opacity: 0.50;
  z-index: 10;
}

.chart-container:hover .cell-id {
  background-color: #a00;
  border-color: #a00;
  color: #fff;
}

.chart-container:hover .cell-id span {
  display: none;
}

.chart-container:hover .cell-id:after {
  content: "X";
}

.chart-container:hover .cell-id:hover {
  opacity: 1;
}

.legendLabel {
  //max-width: 210px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.ngLegendValue:hover {
  text-decoration: underline;
}