@import "~ui/styles/variables.less";


.timelion-container {
  margin: 10px 35px;
}

[chart] {
  height: 270px;
}

[ng-click] {
  cursor: pointer;
}

.chart-container {
  height: 270px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  border: 2px dashed transparent;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 10px;
}

.chart-container.active {
  border-color: #ccc;
}

navbar.timelion-navbar .form-control:focus {
  border-color: @gray-lighter;
}

.chart-container.running {
  opacity: 0.50;
}

select.timelion-interval {
 -webkit-appearance: none;
}

.stats {
  background-color: whitesmoke;
  padding: 5px;
  font-size: 0.9em;
}

.spy-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;

  &-tab {
    font-size: 1.3em;
    text-align: center;
    width: 50px;
    background-color: whitesmoke;  
    margin: 0 auto;
    border-top-right-radius: @border-radius-base;
    border-top-left-radius: @border-radius-base;
  }
}

div.doc-container {
  &-content {
    padding: 0 20px 20px 20px;
    height: 330px;
    overflow-y: scroll;
    border-top: 10px solid whitesmoke;
    background-color: @body-bg;
    position: relative;
  }

  &-buttons {
    text-align: center;
    background-color: @body-bg;
    height: 40px;

    .btn-doc {
      &-prev {
        position: absolute;
        left: 20px;
      }

      &-next {
        position: absolute;
        right: 20px;
      }
    }
  }
}

.cell-id {
  position: absolute;
  bottom:5px;
  left:5px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #666;
  padding: 3px;
  font-weight: bold;
  background-color: #ccc;
  opacity: 0.50;
  z-index: 10;
}

.chart-container:hover .cell-id {
  background-color: #a00;
  border-color: #a00;
  color: #fff;
}

.chart-container:hover .cell-id span {
  display: none;
}

.chart-container:hover .cell-id:after {
  content: "X";
}

.chart-container:hover .cell-id:hover {
  opacity: 1;
}

.legendLabel {
  max-width: 210px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.ngLegendValue:hover {
  text-decoration: underline;
}