.kuiInfoButton {
  font-size: 16px;
  background-color: inherit;
  color: $infoButtonColor;
  cursor: pointer;
  border: none;
  padding: 0;

  &:hover,
  &:active {
    color: $infoButtonColor;
  }
}
