<kbn-management-app section="kibana">
  <kbn-management-indices>
    <div
      ng-controller="managementIndicesCreate as controller"
      data-test-subj="createIndexPatternContainer"
      class="kuiViewContent"
    >
      <!--
      <h1
        class="kuiTitle kuiVerticalRhythm"
        translate="KIBANA-CONFIGURE_INDEX_PATTERN"
      ></h1>-->

      <!-- User has no data -->
      <div
        ng-if="!controller.hasIndices()"
        class="kuiPanel kuiPanel--prompt kuiVerticalRhythm"
      >
        <div class="kuiPanelBody">
          <h2 class="kuiSubTitle kuiSubduedText kuiVerticalRhythm">
            Missing Elasticsearch data
          </h2>

          <div class="kuiVerticalRhythm">
            <p class="kuiText kuiSubduedText kuiVerticalRhythmSmall">
              You'll need to index some data into Elasticsearch before you can create an index pattern.
              <a
                href="#"
                class="kuiLink"
                aria-label="Learn how to index data into Elasticsearch"
              >
                Learn how.
              </a>
            </p>
          </div>

          <button class="kuiButton kuiButton--secondary kuiButton--iconText kuiVerticalRhythm">
            <span class="kuiButton__inner">
              <span aria-hidden="true" class="kuiButton__icon kuiIcon fa-refresh"></span>
              <span>Check for new data</span>
            </span>
          </button>
        </div>
      </div>

      <!-- User has data -->
      <div
        ng-if="controller.hasIndices()"
        ng-switch="controller.wizardStep"
        class="kuiVerticalRhythm"
      >
        <!-- Specify index pattern -->
        <step-index-pattern
          ng-switch-when="indexPattern"
          index-pattern-name="controller.formValues.name"
          all-indices="controller.allIndices"
          all-template-index-patterns="controller.allTemplateIndexPatterns"
          partial-matching-indices="controller.partialMatchingIndices"
          partial-matching-template-index-patterns="controller.partialMatchingTemplateIndexPatterns"
          matching-indices="controller.matchingIndices"
          matching-template-index-patterns="controller.matchingTemplateIndexPatterns"
          go-to-next-step="controller.goToTimeFieldStep()"
        ></step-index-pattern>

        <!-- Specify optional time field -->
        <step-time-field
          ng-switch-when="timeField"
          index-pattern-name="controller.formValues.name"
          expand-wildcard="controller.formValues.expandWildcard"
          can-enable-expand-wildcard="controller.canEnableExpandWildcard()"
          time-field-options="controller.timeFieldOptions"
          time-field-options-error="controller.timeFieldOptionsError"
          selected-time-field-option="controller.formValues.timeFieldOption"
          refresh-time-field-options="controller.refreshTimeFieldOptions()"
          is-fetching-time-field-options="controller.isLoading"
          go-to-previous-step="controller.goToIndexPatternStep()"
          create-index-pattern="controller.createIndexPattern()"
        ></step-time-field>
      </div>



      <!-- Input error text -->
      <div
        class="kuiVerticalRhythm"
        ng-if="controller.timeFieldOptionsError"
      >
        <p class="kuiText">
          <span class="kuiStatusText kuiStatusText--error">
            <span class="kuiStatusText__icon kuiIcon fa-warning"></span>
            {{controller.timeFieldOptionsError}}
          </span>
        </p>
      </div>



    </div>
  </kbn-management-indices>
</kbn-management-app>
