openapi: 3.0.1
info:
  title: Elastic Maps Tile Service
  description: OpenAPI schema for the Elastic Maps Tile Service manifest endpoint
  version: '0.1'
  contact:
    name: Presentation Team
  license:
    name: Elastic License 2.0
    url: https://www.elastic.co/licensing/elastic-license
tags:
  - name: ems
    description: Elastic Maps Service.
servers:
  - url: 'https://tiles.maps.elastic.co'
    description: Production
  - url: 'https://tiles.maps.elastic.dev'
    description: Staging
security: []
paths:
   '/latest/manifest':
     get:
      operationId: getTileManifest
      tags: ['ems']
      summary: "Manifest of the EMS Tile Service"
      description: "Describes the basemap styles available"
      parameters: []
      responses:
        "404":
          description: "Manifest is not found"
          content:
            text/html:
              example:
                $ref: ../components/examples/tile_service_404.html
              schema:
                type: string
        "200":
          description: "Manifest is returned"
          content:
            application/json:
              example:
                $ref: ../components/examples/tile_service_200.json
              schema:
                type: object
                properties:
                  version:
                    type: string
                    description: "Version of the API as a date in YYYY-MM-DD format"
                  services:
                    type: array
                    minItems: 1
                    items:
                      type: object
                      required:
                        - id
                        - name
                        - attribution
                        - formats
                      properties:
                        id:
                          type: string
                          description: Identifier of the style
                        name:
                          type: object
                          description: A human readable label for the style
                          required: [ 'en' ]
                          properties:
                            en:
                              type: string
                        attribution:
                          $ref: ../components/attribution.yaml
                        formats:
                          type: array
                          description: The different formats for this tile service
                          items:
                            type: object
                            required:
                              - locale
                              - format
                              - url
                            properties:
                              locale:
                                type: string
                              format:
                                type: string
                                description: The service can offer vector or raster tiles
                                enum: ['raster', 'vector']
                              url:
                                type: string
                                description: Relative path to the MapBox style specification


