/**
 * 1. em used for right padding so documentation link and query string
 *    won't overlap if the user increases their default browser font size
 *    This is sized for the 'Uses lucene query syntax' link
 */
.kuiLocalSearchInput {
  padding-right: 6em; /* 1 */
}
