@mixin flex-parent($grow: 1, $shrink: 1, $basis: auto, $direction: column) {
  flex: $grow $shrink $basis;
  display: flex;
  flex-direction: $direction;

  > * {
    flex-shrink: 0;
  }
}

// EUITODO: Add this
@mixin kibanaCircleLogo() {
  display: inline-block;
  @include size($euiSizeXXL * 2);
  line-height: $euiSizeXXL * 2;
  text-align: center;
  background-color: $euiColorEmptyShade;
  border-radius: 100%;
  padding: $euiSize;

  .euiIcon {
    vertical-align: baseline;
  }
}

@mixin kibana-resizer($size: ($euiSizeM + 2px), $direction: horizontal) {
  display: flex;
  flex: 0 0 $size;
  background-color: $euiPageBackgroundColor;
  align-items: center;
  justify-content: center;
  margin: 0;
  user-select: none;

  @if ($direction == horizontal) {
    cursor: ew-resize;
    width: $size;
  } @else if ($direction == vertical) {
    cursor: ns-resize;
    height: $size;
    width: 100%;
  } @else {
    @warn("Direction unknown for kibana-resizer");
  }

  &:hover {
    background-color: tintOrShade($euiColorPrimary, 80%, 60%);
  }

  &:focus,
  &.active {
    background-color: $euiColorPrimary;
    color: $euiColorEmptyShade;
  }
}
