// EUI global scope
@import '../../../../node_modules/@elastic/eui/src/themes/k6/k6_globals';
@import '../../../../node_modules/@elastic/eui/src/themes/k6/k6_colors_light';
@import '../../../../node_modules/@elastic/eui/src/global_styling/functions/index';
@import '../../../../node_modules/@elastic/eui/src/global_styling/variables/index';
@import '../../../../node_modules/@elastic/eui/src/global_styling/mixins/index';

// EUI TODO: Add this
@mixin kibanaCircleLogo() {
  display: inline-block;
  @include size($euiSizeXXL * 2);
  line-height: $euiSizeXXL * 2;
  text-align: center;
  background-color: $euiColorEmptyShade;
  border-radius: 100%;
  padding: $euiSize;

  .euiIcon {
    vertical-align: baseline;
  }
}
