@import "~ui/styles/variables";

.confirm-dialogue {
  background-color: white;
  width: 400px;
  padding: 15px;
}

.confirm-dialogue__message {
  padding: 0px 0px 5px 0px;
}

.confirm-dialogue__actions {
  display: flex;
  justify-content: flex-end;

  > * + * {
    margin-left: 5px;
  }
}

.disable-app-layer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 10vh;
}
