@import (reference) "~ui/styles/theme";

.config {
  .navbar;
  .navbar-default();
  border-bottom: 1px solid;
  border-bottom-color: @config-border;

  .container-fluid {
    background-color: @config-bg;
    padding: 10px;
  }
}
