@import (reference) "~ui/styles/theme";

.config {
  .navbar;
  .navbar-default();
  .navbar-static-top;
  border-bottom: 1px solid;
  border-bottom-color: @config-border;

  .config-close {
    text-align: right;
    line-height: 1em;
    position: absolute;
    right: 20px;
    bottom: 25px;
  }

  .container-fluid {
    background-color: @config-bg;
    padding: 10px;
  }
}
