@import (reference) "~ui/styles/theme";

.config {
  .navbar;
  .navbar-default();
  border-bottom: 1px solid;
  border-bottom-color: @config-border;

  .config-close {
    width: 100%;
    background-color: @config-close-bg;
    border-radius: 0;
    text-align: right;
    padding: 10px;
    line-height: 1em;
  }

  .container-fluid {
    background-color: @config-bg;
    padding: 10px;
  }
}
