@import "~ui/styles/variables";

i.input-error {
  position: absolute;
  margin-left: -25px;
  color: @input-error-color;
  margin-top: 10px;
  z-index: 5;
}

select {
  color: @input-color;
  background-color: @input-bg;
}
