@import (reference) "~ui/styles/theme";

.list-group-menu {
  &.select-mode a {
     outline: none;
     color: @list-group-menu-item-select-color;
  }

  .list-group-menu-item {
    list-style: none;
    color: @list-group-menu-item-color;

    &.active {
      font-weight: bold;
      background-color: @list-group-menu-item-active-bg;
    }
    &:hover {
      background-color: @list-group-menu-item-hover-bg;
    }
    li {
      list-style: none;
      color: @list-group-menu-item-color;
    }
  }
}

// SASSTODO: Make sure these colors convert to theme variables
.tab-dashboard.theme-dark {
  @list-group-menu-item-color:                  #cecece;
  @list-group-menu-item-select-color:           #b7e2ea;
  @list-group-menu-item-active-bg:              @gray4;
  @list-group-menu-item-hover-bg:               @gray4;

  .list-group-menu {
    &.select-mode a{
        color: @list-group-menu-item-select-color;
    }

    .list-group-menu-item {
      color: @list-group-menu-item-color;

      &.active {
        background-color: @list-group-menu-item-active-bg;
      }
      &:hover {
        background-color: @gray2;
      }
      li {
        color: @list-group-menu-item-color;
      }
    }
  }
}
