@import (reference) "./variables.less";

.localTabs {
  display: flex;
  align-items: center;
}

  .localTab {
    flex: 0 0 auto;
    padding: 5px 0 6px;
    font-size: 18px;
    line-height: 20px;
    color: @kibanaGray2;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    text-decoration: none;

    &.localTab-disabled {
      opacity: 0.5;
      cursor: default;
    }

    &:only-child,
    &:hover,
    &.localTab-isSelected {
      color: @kibanaGray1;
      border-bottom-color: @kibanaGray1;
    }
  }

  .localTab + .localTab {
    margin-left: 20px;
  }
