@import "~ui/styles/variables";
@import (reference) "~ui/styles/bootstrap/mixins";

.flex-parent(@grow: 1, @shrink: 1, @basis: auto, @direction: column) {
  flex: @grow @shrink @basis;
  display: flex;
  flex-direction: @direction;

  > * {
    flex-shrink: 0;
  }
}
.real-flex-parent(@flow: column nowrap) {
  display: flex;
  flex-flow: @flow;
}


.ellipsis() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
