//== NFORSTheme

// Variables =====================================================================

@loadingIndcatorColor1: #f07320;
@loadingIndcatorColor2: #ffda00;


// Global Nav =====================================================================
.global-nav {
  background-color: #2a2320;
  &.is-global-nav-open .logo-small.kibana ,
  &.is-global-nav-open .logo.kibana  {
    background-image: url("~ui/images/nfors-logo.svg");
    background-position: 30px 6px;
    background-size: 106px 58px;
  }
  .logo-small.kibana,
  .logo.kibana{
    background-image: url("~ui/images/nfors-logo-symbol.svg");
    background-position: -2px 14px;
    background-size: 57px 41px;
    background-repeat: no-repeat;
    background-color: #ffffff;
  }
}
.global-nav-link:hover {
  background-color: rgba(92, 77, 55, 0.37);
}
.global-nav-link.active {
  background-color: #eaa72a;
}
.global-nav-link--close {
  border-bottom: 1px solid rgb(85, 74, 69);
}
// StatEngine Branding Attribution Styles
.global-nav__links-section:nth-child(2) {
  > .global-nav-link {
    border-bottom: 1px solid rgb(85, 74, 69);
  }
  > .attribution-logo.global-nav-link {
    background-image: url("~ui/images/statengine-logo-symbol.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
    margin: 15px 0 7px 18px;
    width: 20px;
    &:hover {
      background-color: transparent;
    }
  }
}
&.is-global-nav-open .global-nav__links-section:nth-child(2) {
  > .global-nav-link {
    border-bottom: 1px solid rgb(85, 74, 69);
  }
  > .attribution-logo.global-nav-link {
    background-image: url("~ui/images/powered-by-statengine.png");
    background-size: 110px 35px;
    border: none;
    margin: 15px 32px 7px 32px;
    width: 110px;
    &:hover {
      background-color: transparent;
    }
  }
}



// Top Loading Indicator Bar =======================================================
.loadingIndicator__bar {
  background-color: @loadingIndcatorColor1;
  background-image: linear-gradient(to right,
    @loadingIndcatorColor2 0%,
    @loadingIndcatorColor1 50%,
    @loadingIndcatorColor2 100%,
    );
}

// Product Panel =====================================================================
/* Found under "Managament View" */
.panel-product .panel-heading-kibana {
  background-color: #eaa72a;
  background-image: url("~ui/images/nfors-logo-text-white.png");
}
.panel-product .panel-heading-elasticsearch,
.panel-product .panel-heading-kibana,
.panel-product .panel-heading-beats,
.panel-product .panel-heading-logstash {
  background-position: 14px 8px;
  background-repeat: no-repeat;
  background-size: 100px 24px;
  padding-left: 0;
}
.panel-product .panel-heading {
  text-indent: -9999px; // Hides default text
}
