@import (reference) '../../style/main';

.canvas__toolbar {
  width: 100%;
  background-color: @darkestGrey;
  color: @textInverse;
  border-top: @borderStyle;
  border-color: lighten(@darkestGrey, 10%);
}
