<div class="sidebar-container kuiSideBar">
  <form
    class="sidebar-list kuiSideBarInner"
    ng-submit="visualizeEditor.$invalid ? stageEditableVis(false) : stageEditableVis()"
    name="visualizeEditor"
    novalidate
  ><!-- see http://goo.gl/9kgz5w -->

    <div css-truncate title="{{indexPattern.id}}" ng-if="vis.type.requiresSearch" class="index-pattern">
      {{ indexPattern.id }}
    </div>

    <nav class="navbar navbar-default subnav">
      <div class="container-fluid">

        <!-- tabs -->
        <ul class="nav navbar-nav">
          <li ng-class="{active: sidebar.section == 'data'}" ng-show="sidebar.showData">
            <a
              class="vis-editor-subnav-link"
              ng-class="{'is-vis-editor-sub-nav-link-selected': sidebar.section == 'data'}"
              ng-click="sidebar.section='data'"
            >
              Data
            </a>
          </li>
          <li ng-repeat="tab in vis.type.params.optionTabs" ng-class="{active: sidebar.section == tab.name}">
            <a
              class="vis-editor-subnav-link"
              ng-class="{'is-vis-editor-sub-nav-link-selected': sidebar.section == tab.name}"
              ng-click="sidebar.section=tab.name"
            >
              {{tab.title}}
            </a>
          </li>
        </ul>

        <!-- controls -->
        <ul class="nav navbar-nav navbar-right">
          <li
            ng-if="visualizeEditor.softErrorCount() > 0"
            disabled
            tooltip="{{ visualizeEditor.describeErrors() }}"
            tooltip-placement="bottom"
            tooltip-popup-delay="400"
            tooltip-append-to-body="1"
          >
            <a class="vis-editor-subnav-link vis-editor-subnav-link--danger">
              <span class="kuiIcon fa-warning"></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Visualization data -->
    <div
      class="visualizeEditSideBarConfig kuiSideBarContent"
      ng-show="sidebar.section == 'data'"
    >
      <!-- metrics -->
      <vis-editor-agg-group
        ng-if="vis.type.schemas.metrics"
        group-name="metrics"
      ></vis-editor-agg-group>

      <!-- buckets -->
      <vis-editor-agg-group
        ng-if="vis.type.schemas.buckets"
        group-name="buckets"
      ></vis-editor-agg-group>
    </div>

    <!-- Misc tab content -->
    <div
      class="vis-editor-config kuiSideBarContent"
      ng-repeat="tab in vis.type.params.optionTabs"
      ng-show="sidebar.section == tab.name"
    >
      <vis-editor-vis-options
        vis="vis"
        saved-vis="savedVis"
        ui-state="uiState"
        editor="tab.editor"
      ></vis-editor-vis-options>
    </div>

    <div class="kuiSideBarControls">
      <div class="kuiButtonGroup kuiButtonGroup--fullWidth">
        <!-- Reset -->
        <button
          class="kuiButton kuiButton--iconText kuiButton--basic"
          type="button"
          ng-disabled="!vis.dirty"
          ng-click="resetEditableVis()"
        >
          <span class="kuiButton__inner">
            <span
              aria-hidden="true"
              class="kuiButton__icon kuiIcon fa-trash"
            ></span>
            <span>Reset</span>
          </span>
        </button>

        <!-- Run visualization -->
        <button
          data-test-subj="visualizeEditorRenderButton"
          class="kuiButton kuiButton--iconText kuiButton--primary"
          type="submit"
          ng-disabled="!vis.dirty || visualizeEditor.errorCount() > 0"
        >
          <span class="kuiButton__inner">
            <span
              aria-hidden="true"
              class="kuiButton__icon kuiIcon fa-play"
            ></span>
            <span>Run</span>
          </span>
        </button>
      </div>
    </div>
  </form>
</div>
