@import 'src/legacy/ui/public/styles/styling_constants';

// Elastic charts
@import '@elastic/eui/src/components/tool_tip/variables';
@import '@elastic/eui/src/components/tool_tip/mixins';
@import '@elastic/charts/dist/theme';
@import '@elastic/eui/src/themes/charts/theme';

// Temporary shim to help with EuiFormRow spacing
// Will move to EUI
.euiFormRow + .euiButton {
  margin-top: $euiSize;
}

// Public UI styles
@import 'src/legacy/ui/public/index';

// Context styles
@import './context/index';

// Dev tools styles
@import './dev_tools/index';

// Discover styles
@import './discover/index';

// Home styles
@import './home/index';

// Visualize styles
@import './visualize/index';
// Has to come after visualize because of some
// bad cascading in the Editor layout
@import 'src/legacy/ui/public/vis/index';

// Management styles
@import './management/index';

// Doc Viewer
@import './doc_viewer/index';

// Dashboard styles
// MUST STAY AT THE BOTTOM BECAUSE OF DARK THEME IMPORTS
@import './dashboard/index';

// helper class that hides elements when rendered in percy
@media only percy {
  .hideInPercy {
    visibility: hidden;
  }
}
