@import 'src/legacy/ui/public/styles/styling_constants';

// Public UI styles
@import 'src/legacy/ui/public/index';

// Context styles
@import './context/index';

// Dev tools styles
@import './dev_tools/index';

// Discover styles
@import './discover/index';

// Home styles
@import './home/index';

// Visualize styles
@import './visualize/index';
// Has to come after visualize because of some
// bad cascading in the Editor layout
@import 'src/legacy/ui/public/vis/index';

// Management styles
@import './management/index';

// Doc Viewer
@import './doc_viewer/index';

// Dashboard styles
// MUST STAY AT THE BOTTOM BECAUSE OF DARK THEME IMPORTS
@import './dashboard/index';
