@import (reference) "../../style/variables";

.canvas__function-list--no-element {
  margin-top: @spacingXXXXL;
  text-align: center;

  .fa {
    font-size: @textXXLarge;
    margin-bottom: @spacingL;
  }
}
