@import (reference) "../../style/variables";

.canvas__element--datatable {

  td, th {
    border-top: 0px !important;
    border-bottom: 0px !important;
  }

  .controls--perpage {
    padding: @spacingXS @spacingM;
    text-align: right;

    label {
      color: @darkestGrey;
      font-weight: bold;
    }

    select {
      width: 60px;
      margin-left: @spacingS;
    }
  }
}
