@import (reference) "../../style/variables";

.canvas__element--datatable {
  .controls--perpage {
    padding: @spacingXS @spacingM;
    text-align: right;

    label {
      color: @darkestGrey;
      font-weight: bold;
    }

    select {
      width: 60px;
      margin-left: @spacingS;
    }
  }
}