 <div ng-controller="VisualizeEditor" class="vis-editor">

  <div ng-if="!appEmbedded">
    <navbar>
      <span ng-if="!!vis.title" class="name" ng-bind="vis.title"></span>
      <div class="fill bitty-modal-container">
        <div ng-if="linked && !unlinking"
          ng-dblclick="unlink()"
          tooltip="Double click to unlink this visualization from the saved search"
          class="bitty-modal visualize-linked">
          <i class="fa fa-link"></i>
          &nbsp;
          This visualization is linked to a saved search: <b>{{ vis.savedSearchId | json}}</b> <a href="#/discover/{{ vis.savedSearchId | uriescape }}"><i class="fa fa-pencil" tooltip="Click here to edit the linked saved search"></i></a>
        </div>

        <div ng-if="linked && unlinking" ng-click="doneUnlinking()" class="bitty-modal">
          <i class="fa fa-chain-broken"></i> Unlinked!
        </div>

        <form ng-submit="doVisualize()" class="flex-input-group">
          <input
            placeholder="Search..."
            type="text"
            class="form-control"
            ng-model="state.query">
          <button class="btn btn-default" type="submit"><span class="fa fa-search"></span></button>
        </form>
      </div>

      <div class="button-group">
        <a ng-click="startOver()" class="btn"><i class="fa fa-file-o"></i></a>
        <a ng-click="toggleSave()" class="btn"><i class="fa fa-save"></i></a>
        <a ng-click="toggleLoad()" class="btn"><i class="fa fa-folder-open"></i></a>
        <a ng-click="toggleShare()" class="btn"><i class="fa fa-code"></i></a>
        <a ng-click="doVisualize()" class="btn"><i class="fa fa-refresh"></i></a>
      </div>
    </navbar>
    <config
      config-template="configTemplate"
      config-object="conf">
    </config>
    <div class="vis-editor-content">
      <div class="vis-sidebar">
        <div class="sidebar-container">
          <form class="sidebar-list" ng-submit="doVisualize()">
            <ul class="list-unstyled">
              <li ng-repeat="category in visConfigCategories.displayOrder" class="sidebar-item">
                <vis-config-category
                  vis="vis"
                  category="vis[category.name]"
                  fields="fields">
                </vis-config-category>
              </li>
              <li class="sidebar-item">
                <div
                  ng-click="doVisualize()"
                  ng-if="vis.dirty"
                  ng-disabled="httpActive.length"
                  class="sidebar-item-button success">
                  Apply
                </div>
              </li>
            </ul>
          </form>
        </div>
      </div>
      <div class="vis-canvas">
        <vis-canvas><visualize vis="vis"></visualize></vis-canvas>
      </div>
    </div>
  </div>

  <div ng-if="appEmbedded" class="container-fluid">
    <div class="row vis-editor-content">
      <div class="vis-canvas">
        <vis-canvas><visualize vis="vis"></visualize></vis-canvas>
      </div>
    </div>
  </div>
</div>