 <div ng-controller="VisualizeEditor" class="vis-editor">

  <div ng-if="!appEmbedded">
    <navbar>
      <span ng-if="!!vis.title" class="name" ng-bind="vis.title"></span>
      <div class="fill bitty-modal-container">
        <div ng-if="linked && !unlinking"
          ng-dblclick="unlink()"
          tooltip="Double click to unlink this visualization from the saved search"
          class="bitty-modal visualize-linked">
          <i class="fa fa-link"></i>
          &nbsp;
          This visualization is linked to a saved search:
          <b>{{ vis.savedSearchId | json}}</b>
          <a href="#/discover/{{ vis.savedSearchId | uriescape }}">
            <i class="fa fa-pencil" tooltip="Click here to edit the linked saved search"></i>
          </a>
        </div>

        <div ng-if="linked && unlinking" ng-click="doneUnlinking()" class="bitty-modal">
          <i class="fa fa-chain-broken"></i> Unlinked!
        </div>

        <form ng-submit="doVisualize()" class="inline-form" name="queryInput">
          <div class="input-group"
          ng-class="queryInput.$invalid ? 'has-error' : ''">
            <input query-input="vis.searchSource"
              placeholder="Search..."
              type="text"
              class="form-control"
              ng-model="state.query">
            <button class="btn btn-default" type="submit"
              ng-disabled="queryInput.$invalid">
              <span class="fa fa-search"></span>
            </button>
          </div>
        </form>
      </div>

      <div class="button-group">
        <button ng-click="startOver()"><i class="fa fa-file-o"></i></button>
        <button ng-click="toggleSave()"><i class="fa fa-save"></i></button>
        <button ng-click="toggleLoad()"><i class="fa fa-folder-open"></i></button>
        <button ng-click="toggleShare()"><i class="fa fa-code"></i></button>
        <button ng-click="doVisualize()"><i class="fa fa-refresh"></i></button>
      </div>
    </navbar>
    <config
      config-template="configTemplate"
      config-object="conf">
    </config>
    <div class="vis-editor-content">
      <div class="vis-sidebar">
        <div class="sidebar-container">
          <form class="sidebar-list" ng-submit="doVisualize()" name="visualizeEditor">
            <ul class="list-unstyled">
              <li ng-repeat="category in visConfigCategories.displayOrder" class="sidebar-item">
                <vis-config-category
                  vis="vis"
                  category="vis[category.name]"
                  fields="fields">
                </vis-config-category>
              </li>
              <li class="sidebar-item">
                <button
                  ng-click="doVisualize()"
                  ng-if="vis.dirty"
                  ng-disabled="httpActive.length || visualizeEditor.$invalid"
                  class="sidebar-item-button success">
                  Apply
                </button>
              </li>
            </ul>
          </form>
        </div>
      </div>
      <div class="vis-canvas">
        <vis-canvas><visualize vis="vis"></visualize></vis-canvas>
      </div>
    </div>
  </div>

  <div ng-if="appEmbedded" class="container-fluid">
    <div class="row vis-editor-content">
      <div class="vis-canvas">
        <vis-canvas><visualize vis="vis"></visualize></vis-canvas>
      </div>
    </div>
  </div>
</div>