 <div ng-controller="VisualizeEditor">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header" ng-if="vis.title">
        <span class="navbar-brand pull-left">
          {{vis.title}}
        </span>
      </div>

      <ul class="nav navbar-nav pull-left">
        <li><a ng-click="startOver()" class="navbar-link"><i class="fa fa-file-o"></i></a></li>
        <li><a ng-click="toggleSave()" class="navbar-link"><i class="fa fa-save"></i></a></li>
        <li><a ng-click="toggleLoad()" class="navbar-link"><i class="fa fa-folder-open"></i></a></li>
        <li><a class="navbar-link" ng-click="doVisualize()"><i class="fa fa-refresh"></i></a></li>
      </ul>
    </div>
  </nav>
  <config
    config-template="configTemplate"
    config-object="conf">
  </config>
  <div class="container-fluid">
    <div class="row vis-editor-content">
      <div class="col-md-3">
        <form>
          <ul class="vis-config-panel">
            <li ng-repeat="category in visConfigCategories.displayOrder">
              <vis-config-category
                category-name="category.name"
                vis="vis"
                fields="fields">
              </vis-config-category>
            </li>
          </ul>
        </form>
      </div>
      <div class="col-md-9 vis-canvas">
        <visualization vis-canvas vis="vis"></visualization>
      </div>
    </div>
  </div>
</div>