.flex-parent(@grow: 1, @shrink: 1, @basis: auto) {
  .flex(@grow, @shrink, @basis);
  .display(flex);
  .flex-direction(column);
  min-height: 0;
  min-width: 0;
  > * {
    .flex-shrink(0);
    min-height: 0;
    min-width: 0;
  }
}

.ellipsis() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}