navbar {
  .display(flex);
  .flex-direction(row);
  .flex-wrap(wrap);
  .align-items(stretch);

  max-height: @navbar-collapse-max-height;
  margin-bottom: @navbar-margin-bottom;
  // top and bottom padding are normally calcuated and stored in @navbar-padding-vertical, but flexbox
  padding: @padding-base-vertical @navbar-padding-horizontal;
  color: @navbar-default-color;
  background-color: @navbar-default-bg;
  border-style: solid;
  border-color: @navbar-default-border;
  border-width: 0 0 1px;
  z-index: @zindex-navbar;

  /***
   * components
   ***/

  > * {
    padding-right: @navbar-padding-horizontal;
    .flex(0, 0, auto);

    &:last-child {
      padding-right: 0;
    }
  }

  // the element should take up an even share of available space
  > .fill {
    .flex(1, 1, 0);
  }

  // the "brand" that is displayed, usually on the left of the navbar
  > .name {
    .align-self(center);

    font-size: @font-size-large;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button {
    padding: @padding-base-vertical @padding-base-horizontal;
    font-size: @font-size-base;
    color: @navbar-default-link-color;
    background-color: @brand-primary;

    &:hover {
      color: @navbar-default-link-hover-color;
      background-color: @navbar-default-link-hover-bg;
    }

    &:active {
      color: @navbar-default-link-active-color;
      background-color: @navbar-default-link-active-bg;
    }

    &[disabled] {
      color: @navbar-default-link-disabled-color;
      background-color: @navbar-default-link-disabled-bg;
    }

    &:focus {
      // because some buttons are all side-to-side, the browser's outline
      // is cut off by the next button. This causes the outline to be
      // drawn inside the button. Appplied to all buttons so that it's
      // uniform within this widget
      outline-offset: -4px;
    }
  }


  // horizontal group of buttons/form elements
  .button-group,
  .inline-form {
    .display(flex);

    > * {
      .border-radius(0);
    }
    > :first-child {
      .border-left-radius(@input-border-radius);
    }
    > :last-child {
      .border-right-radius(@input-border-radius);
    }
  }

  .inline-form {
    input {
      height: auto;
    }

    button {
      color: @brand-primary;
      background-color: @input-group-addon-bg;
      border: 1px solid @input-group-addon-border-color;
    }
  }

  /***
   * responsive modifications
   ***/

  // desktop
  @media (min-width: @screen-md-min) {
    > .name {
      // 500px is sort of arbitrary, not sure how to deal with lots of buttons
      max-width: 500px;
    }
  }

  // tablets/phones
  @media (max-width: @screen-md-min) {
    > .fill {
      .flex(1, 1, @screen-md);
    }
  }
}


