#fatal-splash-screen {
  margin: 15px;
}

.toaster-container {
  visibility: visible;
  width: 100%;

  .toaster {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .alert {
    padding: 0.00001px 15px;
    margin: 0;
    border: none;
    border-radius: 0;
    min-height: 40px;
    line-height: 40px;

    .toaster-controls {
      button.btn {
        height: 40px;
        border: 0;
        border-radius: 0;
        max-height: 40px;
      }
    }

    .toaster-stack {
      padding-bottom: 10px;
    }

    pre {
      display: inline-block;
      width: 100%;
      margin: 10px 0;
      word-break: normal;
      word-wrap: normal;
    }
  }
}