@import (reference) "./_mixins.less";
@import (reference) "./theme/_variables.less";

paginate {
  .flex-display();
  .flex-direction(column);

  paginate-controls {
    .flex-display();
    padding: 5px 5px 10px;

    > .btn,
    .paginate-other-pages a {
      background-color: @pagination-bg;
      border-color: @pagination-border;
      color: @pagination-color;
      &:hover {
        background-color: @pagination-hover-bg;
        color: @pagination-hover-color;
        border-color: @pagination-hover-border;
      }
    }

    > .btn {
      margin-left: 1px;
      padding: 0 15px;

      &:first-child {
        margin-left: 0;
      }

      &[disabled] {
        color: @pagination-disabled-color;
        background-color: @pagination-disabled-bg;
        border-color: @pagination-disabled-border;
      }

      &:active,
      &:hover {
        box-shadow: none;
        background: transparent;
      }
    }

    .paginate-other-pages {
      .flex(1, 1, 50%);
      text-align: center;

      a {
        display: inline-block;
        padding: 0 15px;

        &.active {
          background: @pagination-active-bg;
          color: @pagination-active-color;
          border-color: @pagination-active-border;
          text-decoration: none;
        }
      }
    }

    @media (max-width: @screen-sm-min) {
      .jump-to-end {
        display: none;
      }
    }
  }

  .paginate-content {
    .flex(1, 1, auto);
  }
}