paginate {
  display: block;

  paginate-controls {
    .display(flex);
    .align-items(center);

    padding: 5px 5px 10px;
    text-align: center;

    .pagination {
      .flex(1, 0, auto);
      .display(flex);
      .justify-content(center);

      // override some bootstrap styles
      margin: 0 auto;

      > li {
        .flex(0, 0, auto);
      }
    }

    .pagination-size {
      .flex(0, 0, auto);

      input[type=number] {
        width: 3em;
      }
    }
  }
}