kbn-table,tbody[kbn-rows] {
  // sub tables should not have a leading border
  .table .table {
    margin-bottom: 0px;

    tr:first-child > td {
      border-top: none;
    }

    td.field-name {
      font-weight: bold;
    }
  }

  tr.even td {
    background-color: #f1f1f1;
  }

  td.numeric-value {
    text-align: right;
    padding-right: 15px;
  }

  dl.source {
    line-height: 2em;
    margin-bottom: 0;

    dt {
      display: inline;
      background: #ECECEC;
      padding: 0.15em 0.2em 0.15em 0.7em;
      margin-right: 0.3em;
      font-weight: bold;
      color: #5F5F5F;
      font-family: monospace;
    }

    dd {
      display: inline;
      margin-right: 0.75em;
    }
  }
}