@fa-font-path: "../../bower_components/font-awesome/fonts";
@font-size-smaller: ceil((@font-size-base * 0.75));

//** input boxes get a slick border thanks to flatly, this controls it's size
@input-border-width: 2px;

@sidebar-color: @text-color;
@sidebar-bg: @well-bg;
@sidebar-border: @well-border;
@sidebar-header-color: @brand-primary;
@sidebar-item-font-size: @font-size-small;

@sidebar-hover-color: @sidebar-color;
@sidebar-hover-bg: darken(@sidebar-bg, 10%);

@sidebar-active-color: @component-active-color;
@sidebar-active-bg: @component-active-bg;
@sidebar-active-hover-bg: @component-active-bg;
@sidebar-active-hover-color: @component-active-color;

@action-add: desaturate(@btn-success-bg, 30%);
@action-remove: desaturate(@btn-danger-bg, 30%);