@font-size-smaller: ceil((@font-size-base * 0.75));

@sidebar-color: @text-color;
@sidebar-bg: @well-bg;
@sidebar-border: @well-border;
@sidebar-header-color: @navbar-default-color;
@sidebar-item-font-size: @font-size-smaller;

@sidebar-hover-color: @sidebar-color;
@sidebar-hover-bg: darken(@sidebar-bg, 10%);

@sidebar-active-color: @component-active-color;
@sidebar-active-bg: @component-active-bg;