@import "../../bower_components/font-awesome/less/font-awesome.less";

// custom bootstrap build
@import "./_bootstrap.less";

@fa-font-path: "../../bower_components/font-awesome/fonts";

body {
  margin: 0px;
}

//== Subnav
//
// Use for adding a subnav to your app

.navbar-nav li a {
  cursor: pointer;
}

.container-default {
  margin-top: 10px;
}

.navbar {
  margin-bottom: 0px!important;
}

[ng-click] {
  cursor: pointer;
}

//== Config

.config {
  .navbar;
  .navbar-default;
  .navbar-static-top;
}

.config .container-fluid {
  padding: 10px 10px;
}

.config .config-close {
  width: 100%;
  #gradient > .vertical(@start-color: lighten(@navbar-default-bg, 10%); @end-color: @navbar-default-bg);
  .reset-filter(); // Remove gradient in IE<10 to fix bug where dropdowns don't get triggered
  border-radius: @navbar-border-radius;
  @shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
  .box-shadow(@shadow);
  text-align: center;
}