@import "../../bower_components/font-awesome/less/font-awesome.less";

// custom bootstrap build
@import "./_bootstrap.less";

@fa-font-path: "../../bower_components/font-awesome/fonts";

body {
  margin: 0px;
}

body div.content {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.footer-fixed {
  position:absolute;
  bottom:0;
}

//== Subnav
//
// Use for adding a subnav to your app

.navbar-nav li a {
  cursor: pointer;
}

.container-default {
  margin-top: 10px;
}

.navbar {
  margin-bottom: 0px!important;
}

[ng-click] {
  cursor: pointer;
}