@black: black;
@grayDarkest: #222;
@grayDarker: #333;
@grayDark: #666;
@gray: #999;
@grayLight: #ccc;
@grayLighter: #ddd;
@grayLightest: #eee;
@white: white;

@background: #fff;
@navBarBackground: #ddd;
@lineColor: #eee;
@textColor: #999;
@disabledColor: #ccc;
@valueColor: #666;
@topNavColor: #e4e4e4;
@pageColor: #f6f6f6;

@kibanaGray: #95a5a6;
@esBlue: #0079a5;
@esRed: #d76051;
@esYellow: #fbce47;
@esGreen: #80c383;
@esPink: #e8488b;
@esPurple: #9980b2;

@esAltGreen: #8ac336;
@esCyan: #59c6c5;

@import "./misc.less";
@import "./editor.less";
@import "./kbn_tabs.less";
@import "./color_rules.less";
@import "./markdown.less";
@import "./sortable.less";
@import "./color_picker.less";
@import "./error.less";
@import "./split_vis.less";

@import "./includes/colors.less";
@import "./includes/chart.less";
@import "./includes/metric.less";
@import "./includes/top_n.less";
@import "./includes/gauge.less";
