
<div class="localNav">
  <div class="localNavRow">
    <div class="localNavRow__section">
      <div class="localBreadcrumbs">
        <div class="localBreadcrumb">
          <a class="localBreadcrumb__link" href="#">
            Discover
          </a>
        </div>

        <div class="localBreadcrumb">
          <a class="localBreadcrumb__link" href="#">
            <span class="localBreadcrumb__emphasis">0</span> <span>hits</span>
          </a>
        </div>
      </div>
    </div>

    <div class="localNavRow__section">
      <div class="localMenu">
        <button class="localMenuItem">
          New
        </button>

        <button class="localMenuItem">
          Save
        </button>

        <button class="localMenuItem">
          Open
        </button>

        <button class="localMenuItem">
          <div class="localMenuItem__icon fa fa-clock-o"></div>
          Last 5 minutes
        </button>
      </div>
    </div>
  </div>

  <div class="localNavRow localNavRow--secondary">
    <div class="localTabs">
      <a class="localTab localTab-isSelected" href="#">
        Overview
      </a>

      <a class="localTab" href="#">
        Your Documents
      </a>

      <a class="localTab" href="#">
        Another Tab
      </a>
    </div>
  </div>
</div>
