@import '@elastic/eui/src/components/header/variables';

.timApp {
  position: relative;
  min-height: calc(100vh - #{$euiHeaderChildSize});
  background: $euiColorEmptyShade;

  [ng-click] {
    cursor: pointer;
  }
}

.timApp__container {
  margin: $euiSizeM;
}

.timApp__stats {
  font-weight: $euiFontWeightRegular;
}
