<kibana-panel ng-controller="fields" ng-init="init()">
  <ul class="unstyled" ng-class="{'inline': panel.arrange == 'horizontal'}" style="height:{{row.height}};overflow-y:auto;overflow-x:hidden;">
    <li ng-repeat="field in fields" ng-style="panel.style">
      <i class="pointer" ng-class="{'icon-check': _.indexOf(active,field)&amp;gt;-1,'icon-check-empty': _.indexOf(active,field)&amp;lt;0}" ng-click="toggle_field(field)"></i>
      <a bs-popover="'panels/fields/micropanel.html'" data-placement="{{panel.micropanel_position}}" data-unique="1" ng-class="{label: _.indexOf(active,field)&amp;gt;-1}" ng-click="toggle_micropanel(field)">{{field}}</a>
    </li>
  </ul>
</kibana-panel>
