// SASSTODO: Probably not the right file for this selector, but temporary until the files get re-organized
.globalQueryBar {
  padding-bottom: $euiSizeS;
}

.globalFilterGroup__filterBar {
  margin-top: $euiSizeM;
}

// sass-lint:disable quotes
.globalFilterGroup__branch {
  padding: $euiSize $euiSize $euiSizeS $euiSizeS;
  background-repeat: no-repeat;
  background-position: right top;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='28px' height='28px' viewBox='0 0 28 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='#{hexToRGB($euiColorLightShade)}'%3E%3Crect x='14' y='27' width='14' height='1'%3E%3C/rect%3E%3Crect x='0' y='0' width='1' height='14'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E");
}

.globalFilterGroup__wrapper {
  line-height: 1; // Override kuiLocalNav & kuiLocalNavRow
  overflow: hidden;
  transition: height $euiAnimSpeedNormal $euiAnimSlightResistance;
}
