<div class="filter-helper">
  <div class="kuiBar kuiVerticalRhythm">
    <div class="kuiBarSection">
      <div class="kuiSubTitle">
        Search filters
      </div>
    </div>
    <div class="kuiBarSection">
      <button class="kuiButton kuiButton--basic kuiButton--iconText" ng-click="filterHelper.addHelper()">
        <span class="kuiButton__icon kuiIcon fa-plus"></span>
        Add new
      </button>
    </div>
  </div>

  <table class="kuiTable kuiVerticalRhythm">
    <thead>
      <tr>
        <th class="kuiTableHeaderCell">
          Field
        </th>

        <th class="kuiTableHeaderCell">
          Criteria
        </th>

        <th class="kuiTableHeaderCell">
        </th>

        <th class="kuiTableHeaderCell">
        </th>
      </tr>
    </thead>

    <tbody>
      <tr
        class="kuiTableRow kuiTableRow--overflow"
        ng-repeat="helper in filterHelper.helpers"
      >
        <td class="kuiTableRowCell">
          <div class="kuiTableRowCell__liner">
            <ui-select
              ng-model="helper.field"
              on-select="filterHelper.refreshSuggestions(helper.field)"
            >
              <ui-select-match>
                {{$select.selected.name}}
              </ui-select-match>
              <ui-select-choices repeat="field.name as field in indexPattern.fields | orderBy:'name' | filter:$select.search ">
                <div ng-bind-html="field.name"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </td>

        <td class="kuiTableRowCell">
          <div class="kuiTableRowCell__liner">
            <select
              class="kuiSelect"
              ng-model="helper.type"
              ng-options="type.label for type in filterHelper.filterTypesByField(filterHelper.types, helper.field)"
              ng-change="filterHelper.updateHelper(helper)"
            ></select>
          </div>
        </td>

        <td class="kuiTableRowCell" ng-if="helper.type.id === 'query.match'">
          <div class="kuiTableRowCell__liner">
            <ui-select
              ng-model="helper.params.query"
              on-select="filterHelper.updateHelper(helper)"
            >
              <ui-select-match>
                {{$select.selected}}
              </ui-select-match>
              <ui-select-choices
                repeat="value in filterHelper.suggestions[helper.field] | orderBy:'valueOf()'"
                refresh="filterHelper.refreshSuggestions(helper.field, $select.search)"
                refresh-delay="10"
              >
                <div ng-bind-html="value"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </td>

        <td class="kuiTableRowCell" ng-if="helper.type.id === 'query.terms'">
          <div class="kuiTableRowCell__liner">
            <ui-select
              ng-model="helper.params.terms"
              on-select="filterHelper.updateHelper(helper)"
              multiple
            >
              <ui-select-match>
                {{$item}}
              </ui-select-match>
              <ui-select-choices
                repeat="value in filterHelper.suggestions[helper.field] | orderBy:'valueOf()'"
                refresh="filterHelper.refreshSuggestions(helper.field, $select.search)"
                refresh-delay="0"
              >
                <div ng-bind-html="value"></div>
              </ui-select-choices>
            </ui-select>
          </div>
        </td>

        <td class="kuiTableRowCell" ng-if="helper.type.id === 'range'">
          <div class="kuiTableRowCell__liner">
              <div class="kuiColumn kuiColumn--4">
                <input
                  ng-model="helper.params.gte"
                  type="number"
                  class="kuiTextInput fullWidth"
                  ng-blur="filterHelper.updateHelper(helper)"
                />
              </div><div class="kuiColumn kuiColumn--2">
                and
              </div><div class="kuiColumn kuiColumn--4">
                <input
                  ng-model="helper.params.lt"
                  type="number"
                  class="kuiTextInput fullWidth"
                  ng-blur="filterHelper.updateHelper(helper)"
                />
              </div>
          </div>
        </td>

        <td class="kuiTableRowCell" ng-if="helper.type.id === 'exists'">
          <div class="kuiTableRowCell__liner"></div>
        </td>

        <td class="kuiTableRowCell kuiTableRowCell--alignRight">
          <div class="kuiTableRowCell__liner">
            <button
              class="kuiMenuButton kuiMenuButton--danger"
              ng-click="filterHelper.removeHelper(helper)"
            >
              Delete
            </button>
          </div>
        </td>
      </tr>

      <tr ng-show="!filterHelper.helpers.length">
        <td class="kuiTableRowCell" colspan="4">
          <div class="kuiTableRowCell__liner">
            You currently have no filters.
          </div>
        </td>
      </tr>

      <!-- <tr>
        <td class="kuiTableRowCell" colspan="3">
        </td>
        <td class="kuiTableRowCell text-right">
          <div class="kuiTableRowCell__liner">
            <button class="kuiButton kuiButton--primary kuiButton--iconText" ng-click="filterHelper.applyHelpers()">
              <span class="kuiButton__icon kuiIcon fa-search"></span>
              Search
            </button>
          </div>
        </td>
      </tr> -->
    </tbody>
  </table>
</div>
