.filter-helper {
  position: absolute;
  top: 37px;
  right: 0;
  width: 50%;
  z-index: 20;
  background: white;
  padding: 10px;
  border: 1px solid lightgray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

  .filter-helper .kuiTableRow--overflow {
    .kuiTableRowCell__liner {
      overflow: visible;
    }
  }
