<style>
    .querySelect .query {
      margin-right: 5px;
    }
    .querySelect .selected {
      border: 3px solid;
    }
    .querySelect .unselected {
      border: 0px solid;
    }
</style>

<div>
  <h5>Plots Settings</h5>
  <table class="table table-condensed table-striped">
    <thead>
        <tr><th></th><th>Mode</th><th>Value Field</th><th>Paired Query</th><th>Delete</th></tr>
    </thead>
    <tbody ng-repeat="plot in panel.plots">
      <tr>
        <td><i class="icon-circle pointer" data-unique="1" bs-popover="'panels/histogram/meta.html'" data-placement="right" ng-style="{color: plot.color}"></i></td>
        <td><select ng-change="set_refresh(true)" class="input-small" ng-model="plot.mode" ng-options="f for f in ['count','min','mean','max','total']"></select></td>
        <td><input ng-change="set_refresh(true)" placeholder="Start typing" bs-typeahead="fields.list" type="text" class="input-large" ng-model="plot.value_field" ng-show="plot.mode != 'count'"></td>
        <td><select class="input-small" ng-change="set_refresh(true);" ng-model="plot.queries.mode" ng-options="f for f in ['all','pinned','unpinned','selected']"></select></td>
        <td><i ng-show="panel.plots.length > 1" class="pointer icon-remove" ng-click="panel.plots = _.without(panel.plots, plot);set_refresh(true)"></i></td>
      </tr>
      <tr class="querySelect" ng-show="plot.queries.mode == 'selected'">
        <td colspan="5">
          <span ng-style="{'border-color': querySrv.list[id].color}" ng-class="{selected:_.contains(plot.queries.ids,id),unselected:!_.contains(plot.queries.ids,id)}" ng-repeat="id in querySrv.ids" ng-click="plot.queries.ids = _.toggleInOut(plot.queries.ids,id);set_refresh(true);" class="query pointer badge">
            <i class="icon-circle" ng-style="{color: querySrv.list[id].color}"></i>
            <span> {{querySrv.list[id].alias || querySrv.list[id].query}}</span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-success" ng-click="add_new_plot();set_refresh(true)" style="margin-bottom:10px;"><i class="icon-plus icon-white"></i> Add a Plot</button>

  <h5>Chart Settings</h5>
  <div class="row-fluid" style="margin-bottom:10px;">
    <div class="span2"><label class="small">Time field</label> <input ng-change="set_refresh(true)" placeholder="Start typing" bs-typeahead="fields.list" type="text" class="input-small" ng-model="panel.time_field"></div>
  </div>
  <div class="row-fluid" style="margin-bottom:10px;">
    <div class="span1"> <label class="small">Bars</label><input type="checkbox" ng-model="panel.bars" ng-checked="panel.bars"></div>
    <div class="span1"> <label class="small">Lines</label><input type="checkbox" ng-model="panel.lines" ng-checked="panel.lines"></div>
    <div class="span1"> <label class="small">Points</label><input type="checkbox" ng-model="panel.points" ng-checked="panel.points"></div>
    <div class="span1"> <label class="small">Stack</label><input type="checkbox" ng-model="panel.stack" ng-checked="panel.stack"></div>
    <!--<div class="span1" ng-show="panel.stack"> <label class="small" bs-tooltip="'Stack as a percentage of total'">Percent</label><input type="checkbox"  ng-model="panel.percentage" ng-checked="panel.percentage"></div>-->
    <div class="span1"> <label class="small">Legend</label><input type="checkbox" ng-model="panel.legend" ng-checked="panel.legend"></div>
    <div class="span1"> <label class="small">xAxis</label><input type="checkbox" ng-model="panel['x-axis']" ng-checked="panel['x-axis']"></div>
    <div class="span1"> <label class="small">yAxis</label><input type="checkbox" ng-model="panel['y-axis']" ng-checked="panel['y-axis']"></div>
    <div class="span2" ng-show="panel.lines">
      <label class="small">Line Fill</label> 
      <select class="input-mini" ng-model="panel.fill" ng-options="f for f in [0,1,2,3,4,5,6,7,8,9,10]"></select>
    </div>
    <div class="span2" ng-show="panel.lines">
      <label class="small">Line Width</label> 
      <select class="input-mini" ng-model="panel.linewidth" ng-options="f for f in [0,1,2,3,4,5,6,7,8,9,10]"></select>
    </div>
  </div> 
  <div class="row-fluid">  
    <div class="span2">
      <label class="small">Time correction</label> 
      <select ng-model="panel.timezone" class='input-small' ng-options="f for f in ['browser','utc']"></select>
    </div>
    <div class="span1"> <label class="small">Selectable</label><input type="checkbox" ng-model="panel.interactive" ng-checked="panel.interactive"></div>
    <div class="span2"> 
      <label class="small">Zoom Links</label><input type="checkbox" ng-model="panel.zoomlinks" ng-checked="panel.zoomlinks" />
    </div>
    <div class="span2"> 
      <label class="small">Auto-interval</label><input type="checkbox" ng-model="panel.auto_int" ng-checked="panel.auto_int" />
    </div>
    <div class="span2" ng-show='panel.auto_int'> 
      <label class="small">Resolution</label><input type="number" class='input-mini' ng-model="panel.resolution" ng-change='set_refresh(true)'/>
    </div>
    <div class="span3" ng-show='panel.auto_int'> 
      <label class="small">Shoot for this many data points, rounding to sane intervals</label>
    </div>
    <div class="span2" ng-hide='panel.auto_int'> 
      <label class="small">Interval</label><input type="text" class='input-mini' ng-model="panel.interval" ng-change='set_refresh(true)'/>
    </div>
    <div class="span3" ng-hide='panel.auto_int'> 
      <label class="small">Use Elasticsearch date math format (eg 1m, 5m, 1d, 2w, 1y)</label>
    </div>
  </div>
  <h5>Panel Spy</h5>
  <div class="row-fluid">
    <div class="span2"> 
      <label class="small">Spyable</label><input type="checkbox" ng-model="panel.spyable" ng-checked="panel.spyable">
    </div>
    <div class="span9 small">
      The panel spy shows 'behind the scenes' information about a panel. It can
      be accessed by clicking the <i class='icon-eye-open'></i> in the top right
      of the panel.
    </div>
  </div>
</div>
