.contextMenu {
  position: relative;

  .contextMenu__items {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $euiColorEmptyShade;
    border: $euiBorderThin;

    .contextMenu__item {
      padding: $euiSizeS;
      background-color: $euiColorEmptyShade;
      border: $euiBorderThin;
      color: $euiTextColor;
      display: flex;
      align-self: flex-start;
      width: 100%;

      &-isActive {
        background-color: $euiColorDarkShade;
        color: $euiColorGhost;
      }
    }
  }
}
