@import 'node_modules/@elastic/eui/src/components/panel/mixins';

.tvbAnnotationsEditor__container {
  padding: $euiSize;
  background-color: $euiColorLightestShade;
}

@include euiPanel('tvbAnnotationsEditor');

.tvbAnnotationsEditor {
  margin-bottom: $euiSize;
  padding: $euiSizeS;
}
