.kuiLoadingSpinner {
  display: inline-block;
  width: $kuiSizeXL;
  height: $kuiSizeXL;
  border-radius: 50%;
  border: solid $kuiSizeXS / 2 $kuiColorLightShade;
  border-top-color: $kuiColorPrimary;
  animation: kuiLoadingSpinner .6s infinite linear;
}

.kuiLoadingSpinner--small {
  width: $kuiSizeS;
  height: $kuiSizeS;
  border-width: 1px;
}

.kuiLoadingSpinner--medium {
  width: $kuiSize;
  height: $kuiSize;
  border-width: 1px;
}

.kuiLoadingSpinner--large {
  width: $kuiSizeL;
  height: $kuiSizeL;
}

.kuiLoadingSpinner--xLarge {
  width: $kuiSizeXL;
  height: $kuiSizeXL;
}

@keyframes kuiLoadingSpinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
