<div ng-controller='marvel.nodes_health' ng-init="init()">
  <style>
    .marvel-table {
      vertical-align: middle;
    }
    .marvel-mean {
      font-size: 20pt;
      font-weight: 200;
      display: inline-block;
      vertical-align: middle;
    }
    .marvel-persistent-name {
      font-size: 9pt;
    }
    .marvel-extended {
      display: inline-block;
      font-size:9pt;
      margin-left: 5px;
      vertical-align: middle;
    }
    .marvel-header {
      margin-bottom: 10px;
    }
    .marvel-header .count{
      font-size: 20pt;
      font-weight: bold;
      margin-left: 10px;
    }
    .marvel-nodes-health-chart {
      margin-top: 5px;
      display: inline-block;
      height: 10px;
      width: 50px;
    }
  </style>

  <div class="pull-left marvel-header marvel-table" ng-show="rows.length > 0">
    <span class="count">{{rows.length}} {{panel.mode}}</span> / Last 10m </span>
  </div>
  <div class="pull-right">
    <a href="" ng-class="{strong:!panel.compact}" ng-click="panel.compact=false">Full</a> /
    <a href="" ng-class="{strong:panel.compact}" ng-click="panel.compact=true">Compact</a>
  </div>

  <table class="table table-bordered" ng-if="!panel.compact">
    <thead>

    <th ng-if="hasSelected(rows)">{{panel.mode}} <a id="detail_view_link" ng-href="{{detailViewLink()}}" class="btn btn-mini btn-info"  bs-tooltip="detailViewTip()" data-placement="right">Dashboard</a></th>
    <th ng-if="!hasSelected(rows)">{{panel.mode}} <a id="detail_view_link" disabled class="btn btn-mini btn-info"  bs-tooltip="detailViewTip()" data-placement="right">Dashboard</a></th>

    <th ng-repeat="metric in panel.metrics" ng-class="alertClass(warnLevels['_global_'][metric.field])">{{metric.name}}</th>
    </thead>
    <tr ng-repeat="row in rows">
      <td>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="row.selected" ng-checked="row.selected">
            {{row.display_name}}
            <div class="marvel-persistent-name" ng-hide="row.id == row.display_name" ng-click="metricClick(row)">{{row.id}}</div>
          </label>
        </div>
      </td>
      <td ng-repeat="metric in panel.metrics" ng-class="alertClass(warnLevels[row.id][metric.field])">
        <div class="marvel-mean pointer" ng-click="metricClick(row,metric)">
          <span ng-hide="metric.rate">{{data[row.id+"_"+metric.field].mean / metric.scale | number:metric.decimals}}</span>
          <span ng-show="metric.rate">{{(data[row.id+"_"+metric.field].max-data[row.id+"_"+metric.field].min) / 600 / metric.scale | number:metric.decimals}}</span>

          <br>

          <div class="marvel-nodes-health-chart" panel='panel' field="metric.field" series="data[row.id+'_'+metric.field+'_history']"></div>
        </div>
        <div class="marvel-extended pointer" ng-click="metricClick(row,metric)" ng-hide="metric.rate">
          <span>min: {{data[row.id+"_"+metric.field].min / metric.scale | number:metric.decimals}}</span><br>
          <span>max: {{data[row.id+"_"+metric.field].max / metric.scale | number:metric.decimals}}</span>
        </div>
      </td>
    </tr>
  </table>

  <table class="table table-bordered table-condensed marvel-table" ng-if="panel.compact">
    <thead>
    <th>{{panel.mode}} <a ng-href="{{detailViewLink()}}" class="btn btn-mini btn-info" ng-disabled="!hasSelected(rows)" bs-tooltip="detailViewTip()" data-placement="right">Dashboard</a></th>
    <th ng-repeat="metric in panel.metrics" ng-class="alertClass(warnLevels['_global_'][metric.field])">{{metric.name}}</th>
    </thead>
    <tr ng-repeat="row in rows">
      <td>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="row.selected" ng-checked="row.selected">
          </label>
          {{ row.display_name }}
        </div>
      </td>
      <td ng-repeat="metric in panel.metrics" ng-class="alertClass(warnLevels[row.id][metric.field])">
        <div class="pointer" ng-click="metricClick(row,metric)">
          <span ng-hide="metric.rate">{{data[row.id+"_"+metric.field].mean / metric.scale | number:metric.decimals}}</span>
          <span ng-show="metric.rate">{{(data[row.id+"_"+metric.field].max-data[row.id+"_"+metric.field].min) / 600 / metric.scale | number:metric.decimals}}</span>

          <div class="marvel-nodes-health-chart pointer" ng-click="metricClick(row,metric)" panel='panel' field="metric.field" series="data[row.id+'_'+metric.field+'_history']"></div>
        </div>
      </td>
    </tr>
  </table>

</div>