# Copyright 2020 LogRhythm, Inc
# Licensed under the LogRhythm Global End User License Agreement,
# which can be found through this page: https://logrhythm.com/about/logrhythm-terms-and-conditions/

[Unit]
Description=Kibana 7
BindsTo=probemanager.service
Wants=licenseserver.service
After=licenseserver.service
Wants=probemanager.service
Before=probemanager.service
Wants=probetransmogrifier.service
Before=probetransmogrifier.service

[Service]
Type=simple

User=nginx
Group=nginx

# Run ExecStartPre with root-permissions
PermissionsStartOnly=true

# Cleanup old kibana 7.2.0 directory if it exists.
# NOTE: the dash prefixed to the command causes systemd to ignore any error returned by rm.
ExecStartPre=-/usr/bin/rm -rf /usr/local/kibana-7.2.0-linux-x64/

# Ensure KibanaStartup.log file exists and is owned by nginx
ExecStartPre=/usr/bin/touch /var/log/probe/KibanaStartup.log
ExecStartPre=/usr/bin/chown nginx:nginx /var/log/probe/KibanaStartup.log

Environment=CONFIG_PATH=/usr/local/kibana-7.5.2-linux-x64/config/kibana.yml
Environment=NODE_ENV=production

WorkingDirectory=/usr/local/kibana-7.5.2-linux-x64

# Timeout when starting service, before triggering a restart with SIGTERM
TimeoutStartSec=300
ExecStart=/usr/local/kibana-7.5.2-linux-x64/bin/kibana

ExecStartPost=/usr/bin/python /usr/local/kibana-7.5.2-linux-x64/scripts/configureKibana.py
ExecStartPost=/usr/bin/bash scripts/kibana-post-start.sh

TimeoutStopSec=30

Restart=on-failure
RestartSec=10

[Install]
WantedBy=netmon.service

