.kuiEvent {
  display: flex;
}

.kuiEventSymbol {
  flex: 0 1 auto;
  font-size: $kuiFontSize;
  line-height: $kuiLineHeight;
  padding-right: 8px;
}

.kuiEventBody {
  flex: 1 1 0%;
}

  .kuiEventBody__message {
    font-size: $kuiFontSize;
    line-height: $kuiLineHeight;
    color: $kuiFontColor;
  }

  .kuiEventBody__metadata {
    font-size: $kuiFontSize;
    line-height: $kuiLineHeight;
    color: $kuiSubduedTextColor;
  }
