<processor-ui-container-header
  processor="processor"
  field="sourceField"
  pipeline="pipeline">
</processor-ui-container-header>
<div
  class="processor-ui-container-body"
  ng-class="{locked: processor.locked}">
  <div
    class="processor-ui-container-body-content"
    ng-hide="processor.collapsed">
    <div
      ng-show="processor.error"
      class="alert alert-danger">
      {{processor.error.message}}
    </div>
    <div class="processor-ui-content"></div>
    <output-preview
      new-object="processor.outputObject"
      old-object="processor.inputObject"
      error="processor.error">
    </output-preview>
  </div>
  <div class="overlay"></div>
</div>
