<button
  aria-label="Previous Sample"
  tooltip="Previous Sample"
  tooltip-append-to-body="true"
  ng-click="previousLine()"
  type="button"
  class="btn btn-xs btn-primary"
  ng-disabled="disabled">
  <i aria-hidden="true" class="fa fa-caret-left"></i>
</button>
<button
  aria-label="Next Sample"
  tooltip="Next Sample"
  tooltip-append-to-body="true"
  ng-click="nextLine()"
  type="button"
  class="btn btn-xs btn-primary"
  ng-disabled="disabled">
  <i aria-hidden="true" class="fa fa-caret-right"></i>
</button>
