.list-group-menu {
  &.select-mode a {
     outline: none;
     color: tint($euiColorPrimary, 10%);
  }

  .list-group-menu-item {
    list-style: none;
    color: tint($euiColorPrimary, 10%);

    &.active {
      font-weight: bold;
      background-color: $euiColorLightShade;
    }
    &:hover {
      background-color: tint($euiColorPrimary, 90%);
    }
    li {
      list-style: none;
      color: tint($euiColorPrimary, 10%);
    }
  }
}
