// SASSTODO: rem values are actually based off of a 14px base
// so changing them to EUI variables would alter computed values
.input-range__slider {
  appearance: none;
  background: $euiColorPrimary;
  border: 1px solid $euiColorPrimary;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 1rem;

  &:active {
    transform: scale(1.3);
  }

  &:focus {
    @include euiFocusRing('large');
  }
}

.input-range--disabled .input-range__slider {
  background: $euiColorLightShade;
  border: 1px solid $euiColorLightShade;
  box-shadow: none;
  transform: none;
}

.input-range__slider-container {
  transition: left 0.3s ease-out;
}

.input-range__label {
  color: $euiColorMediumShade;
  font-size: 0.8rem;
  transform: translateZ(0);
  white-space: nowrap;
}

.input-range__label--min,
.input-range__label--max {
  bottom: -1.4rem;
  position: absolute;
}

.input-range__label--min {
  left: 0;
}

.input-range__label--max {
  right: 0;
}

.input-range__label--value {
  position: absolute;
  top: -1.8rem;
}

.input-range__label-container {
  left: -50%;
  position: relative;
}

.input-range__label--max .input-range__label-container {
  left: 50%;
}

.input-range__track {
  background: $euiColorLightShade;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.3rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out;
}

.input-range--disabled .input-range__track {
  background: $euiColorLightShade;
}

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%;
}

.input-range__track--active {
  background: $euiColorPrimary;
}

.input-range {
  margin: 0 $euiSizeS;
  position: relative;
  width: calc(100% - #{$euiSize});
}

.theme-dark {
  @import '@elastic/eui/src/themes/k6/k6_colors_dark';

  .input-range__track {
    background: $euiColorLightShade;
  }

  .input-range__slider {
    background: $euiColorPrimary;
    border-color: $euiColorPrimary;
  }

  .input-range__track--active {
    background: $euiColorPrimary;
  }

  .input-range__label {
    color: $euiColorDarkShade;
  }
}
