.spinner.ng-hide {
  visibility: hidden;
  display: block !important;
  opacity: 0;
  transition-delay: 0.25s;
}

// SASSTODO: Make sure these colors convert to theme variables
.tab-dashboard.theme-dark {
  .spinner > div {
    background-color: #fff;
  }
}
