@import '../../vislib/variables';

// NOTE: Some of the styles attempt to align with the TSVB legend

$visLegendWidth: 150px;
$visColorPickerWidth: $euiSizeM * 10;
$visLegendLineHeight: $euiSize;

.visLegend__toggle {
  align-self: flex-start;
  // Override .kuiCollapseButton
  color: $visValueColor !important;
}

.visLegend {
  @include euiFontSizeXS;
  display: flex;
  flex-direction: row;
  padding: $euiSizeXS 0;
  min-height: 0;
  height: 100%;

  // flex-direction re-aligns toggle button
  .visLib--legend-left & {
    flex-direction: row-reverse;
  }

  .visLib--legend-right & {
    flex-direction: row;
  }

  .visLib--legend-top & {
    flex-direction: column-reverse;
    width: 100%;
    padding-left: $euiSizeL;

  }
  .visLib--legend-bottom & {
    flex-direction: column;
    width: 100%;
    padding-left: $euiSizeL;
  }

  /**
   * 1. Position the .visLegend__valueDetails absolutely against the legend item
   * 2. Make sure the .visLegend__valueDetails is visible outside the list bounds
   * 3. Make sure the currently selected item is top most in z level
   */
  .visLegend__list {
    display: flex;
    line-height: $visLegendLineHeight;

    width: $visLegendWidth; // Must be a hard-coded width for the chart to get its correct dimensions
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;

    .visLib--legend-top &,
    .visLib--legend-bottom & {
      width: auto;
      flex-direction: row;
      flex-wrap: wrap;
      overflow: visible; /* 2 */

      .visLegend__value {
        flex-grow: 0;
        max-width: $visLegendWidth;
      }
    }

    &.hidden {
      visibility: hidden;
    }
  }
}

.visLegend__value {
  cursor: pointer;
  padding: $euiSizeXS;
  display: flex;
  flex-shrink: 0;
  position: relative; /* 1 */

  > * {
    max-width: 100%; // Needed for truncation (dom element has no class)
  }

  &.disabled {
    opacity: 0.5;
  }
}

.visLegend__valueTitle {
  @include euiTextTruncate; // ALWAYS truncate
  color: $visTextColor;

  &:hover {
    text-decoration: underline;
  }
}

.visLegend__valueTitle--full ~ .visLegend__valueDetails {
  z-index: 2; /* 3 */
}

.visLegend__valueDetails {
  background-color: $euiColorEmptyShade;

  .visLib--legend-left &,
  .visLib--legend-right & {
    margin-top: $euiSizeXS;
    border-bottom: $euiBorderThin;
  }

  .visLib--legend-top &,
  .visLib--legend-bottom & {
    @include euiBottomShadowMedium;
    position: absolute; /* 1 */
    border-radius: $euiBorderRadius;
  }

  .visLib--legend-bottom & {
    bottom: $visLegendLineHeight + 2 * $euiSizeXS;
  }

  .visLib--legend-top & {
    margin-top: $euiSizeXS;
  }
}

.visLegend__valueColorPicker {
  width: $visColorPickerWidth;
  margin: auto;

  .visLegend__valueColorPickerDot {
    $colorPickerDotsPerRow: 8;
    $colorPickerDotMargin: $euiSizeXS / 2;
    $colorPickerDotWidth: $visColorPickerWidth / $colorPickerDotsPerRow - 2 * $colorPickerDotMargin;

     margin: $colorPickerDotMargin;
    width: $colorPickerDotWidth;

    &:hover {
      transform: scale(1.4);
    }
  }
}
