@import '../../vislib/variables';

// NOTE: Some of the styles attempt to align with the TSVB legend

.visLegend__toggle {
  border-radius: $euiBorderRadius;

  &:hover,
  &:focus {
    box-shadow: none;
    background-color: $euiFocusBackgroundColor;
  }
}


/**
  * 1. Keep the legend from being overlapped by the dashboard panel title
  * 2. Make sure the chart is centered based on legend
  */

.visLegend {
  @include euiFontSizeXS;
  display: flex;
  padding-top: $euiSizeM; /* 1 */
  min-height: 0;
  height: 100%;
  overflow: hidden;
}

.visLib {
  // Default is legend on the right
  .visLegend {
    flex-direction: column;
    align-items: flex-end;
  }

  .visLib__chart {
    padding-left: $euiSizeL; /* 2 */
  }

  &.visLib--legend-left {
    .visLegend {
      align-items: flex-start;
    }

    .visLib__chart {
      padding-left: 0; /* 2 */
      padding-right: $euiSizeL; /* 2 */
    }
  }

  &.visLib--legend-bottom,
  &.visLib--legend-top {
    .visLegend {
      flex-direction: row;
      align-items: flex-start;
    }

    .visLib__chart {
      padding-left: 0;
    }
  }
}

.visLegend__list {
  @include euiScrollBar;
  width: 150px; // Must be a hard-coded width for the chart to get its correct dimensions
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 0;
  overflow-x: hidden;
  overflow-y: auto;

  .visLib--legend-top &,
  .visLib--legend-bottom & {
    width: auto;
    overflow-y: hidden;

    .visLegend__value {
      display: inline-block;
    }
  }

  &.hidden {
    visibility: hidden;
  }
}

.visLegend__value {
  cursor: pointer;
  padding: $euiSizeXS + 1px;
  display: flex;

  > * {
    max-width: 100%;
  }

  &.disabled {
    opacity: 0.5;
  }
}

.visLegend__valueTitle {
  color: $visTextColor;

  &:hover {
    text-decoration: underline;
  }
}

.visLegend__valueTitle--truncate {
  @include euiTextTruncate;
}

.visLegend__valueTitle--full {
  word-break: break-all;
}

.visLegend__valueDetails {
  border-bottom: 1px solid $euiColorLightShade;
  padding-bottom: $euiSizeXS;
}

.visLegend__valueColorPicker {
  width: $euiSizeM * 10;
  margin: auto;

  .visLegend__valueColorPickerDot {
    margin: $euiSizeXS / 2;

    &:hover {
      transform: scale(1.4);
    }
  }
}
