<div class="visLegend" ng-if="labels.length">
  <button
    type="button"
    ng-click="toggleLegend()"
    class="kuiCollapseButton visLegend__toggle"
    aria-label="{{::'common.ui.vis.visTypes.legend.toggleLegendButtonAriaLabel' | i18n: { defaultMessage: 'Toggle legend' } }}"
    aria-expanded="{{!!open}}"
    aria-controls="{{::legendId}}"
    data-test-subj="vislibToggleLegend"
  >
    <span class="kuiIcon {{getToggleLegendClasses()}}"></span>
  </button>
  <ul class="visLegend__list" ng-show="open" id="{{::legendId}}">

    <li
      ng-repeat="legendData in labels track by legendData.label"
      ng-mouseenter="highlight($event)"
      ng-mouseleave="unhighlight($event)"
      data-label="{{legendData.label}}"
      class="visLegend__value color"
    >

      <div ng-keydown="onLegendEntryKeydown($event)">
        <div
          kbn-accessible-click
          data-label="{{legendData.label}}"
          ng-focus="highlight($event)"
          ng-blur="unhighlight($event)"
          ng-click="$parent.toggleDetails(legendData.label)"
          ng-class="$parent.areDetailsVisible(legendData.label) ? 'visLegend__valueTitle--full' : 'visLegend__valueTitle--truncate'"
          class="visLegend__valueTitle"
          title="{{legendData.label}}"
          aria-label="{{::'common.ui.vis.visTypes.legend.toggleOptionsButtonAriaLabel' | i18n: { defaultMessage: '{legendDataLabel}, toggle options', values: { legendDataLabel: legendData.label } } }}"
          data-test-subj="legend-{{legendData.label}}"
        >
          <i
            class="fa fa-circle"
            ng-style="{color: getColor(legendData.label)}"
            data-test-subj="legendSelectedColor-{{getColor(legendData.label)}}"
          ></i>
          {{legendData.label}}
        </div>

        <div ng-if="$parent.areDetailsVisible(legendData.label)" class="visLegend__valueDetails">
          <div
            class="kuiButtonGroup kuiButtonGroup--united kuiButtonGroup--fullWidth"
            ng-show="canFilter(legendData)"
          >
            <button
              class="kuiButton kuiButton--basic kuiButton--small"
              ng-click="filter(legendData, false)"
              aria-label="{{::'common.ui.vis.visTypes.legend.filterForValueButtonAriaLabel' | i18n: { defaultMessage: 'Filter for value {legendDataLabel}', values: { legendDataLabel: legendData.label } } }}"
              data-test-subj="legend-{{legendData.label}}-filterIn"
            >
              <span class="kuiIcon fa-search-plus"></span>
            </button>

            <button
              class="kuiButton kuiButton--basic kuiButton--small"
              ng-click="filter(legendData, true)"
              aria-label="{{::'common.ui.vis.visTypes.legend.filterOutValueButtonAriaLabel' | i18n: { defaultMessage: 'Filter out value {legendDataLabel}', values: { legendDataLabel: legendData.label } } }}"
              data-test-subj="legend-{{legendData.label}}-filterOut"
            >
              <span class="kuiIcon fa-search-minus"></span>
            </button>
          </div>

          <div class="visLegend__valueColorPicker" role="listbox">
            <span
              id="{{legendId}}ColorPickerDesc"
              class="euiScreenReaderOnly"
              i18n-id="common.ui.vis.visTypes.legend.setColorScreenReaderDescription"
              i18n-default-message="Set color for value {legendDataLabel}"
              i18n-values="{ legendDataLabel: legendData.label }"
            >
            </span>
            <i
              ng-repeat="choice in colors"
              kbn-accessible-click
              role="option"
              aria-label="{{choice}}"
              aria-describedby="{{legendId}}ColorPickerDesc"
              aria-selected="{{choice === getColor(legendData.label)}}"
              ng-click="setColor(legendData.label, choice)"
              ng-class="choice == getColor(legendData.label) ? 'fa-circle-o' : 'fa-circle'"
              ng-style="{color: choice}" class="fa dot visLegend__valueColorPickerDot"
              data-test-subj="legendSelectColor-{{choice}}"
            >
            </i>
          </div>

        </div>
      </div>

    </li>
  </ul>
</div>
