html {
  height: 100%;
}

.guideBody {
  height: 100%;
}

.guide {
  min-height: 100%; /* 1 */
}

.guideContent {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding-top: $guideNavHeight;
  transition:
    padding-top $guideChromeTransition,
    padding-right $guideCodeViewerTransition,
    opacity $guideCodeViewerTransition;

  &.is-code-viewer-open {
    padding-right: $guideCodeViewerWidth;

    @include whenNarrowerThan($guideNormalBreakpoint) {
      padding-right: $guideCodeViewerSmallWidth;
    }
  }

  .is-guide-nav-open + & {
    opacity: 0.7;
  }

  &.is-chrome-hidden {
    padding-top: 0;
  }
}

@media only screen and (max-width: 1300px) {
  .guideHomePage {
    justify-content: flex-start !important;

    .guideContentPage__content {
      margin-left: 250px;
    }
  }
}

.guideContentPage {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  background-color: #ffffff;
}

  .guideContentPage__hint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 260px;
    max-height: 500px;
    padding: 30px;
    margin: 20px;
    border-radius: 4px;
    background-color: #e8e8e8;
    line-height: $guideLineHeight;
  }

  .guideContentPage__content {
    width: 100%;
    max-width: 800px;
    padding: 30px 60px;
  }

.guideHintArrow {
  position: absolute;
  top: -15px;
  left: 12px;
  background-image: url("images/hint-arrow.svg");
  width: 26px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.guideWarning {
  border-left: 5px solid #e8488b;
  margin-top: 19px;
  padding: 0 14px;
  line-height: 21px;
  color: #e8488b;
}

.guideBreak {
  border: none;
}
