.cell-hover {
  position: relative;

  /**
   * 1. Center vertically regardless of row height.
   */
  .table-cell-filter {
    position: absolute;
    white-space: nowrap;
    right: 0;
    top: 50%; /* 1 */
    transform: translateY(-50%); /* 1 */
    display: none;
  }

  &:hover {
    .table-cell-filter {
      display: inline;
    }

    .cell-hover-show {
      visibility: visible;
    }
  }
}

.cell-hover-show {
  // so that the cell doesn't change size on hover
  visibility: hidden;
}
