// BEM NOTE: These selectors could not be renamed.
// Most come from an external libray, others are too general for
// search and replace. The SVG itself doesn't have a class, nor
// could it be easily found to apply to all chart types.
// At least wrapping selectors inside SVG will narrow scope to
// selectors that only occur in SVG's.

svg {
  .axis {
    shape-rendering: crispEdges;
    stroke-width: 1px;

    line, path {
      stroke: $euiColorLightShade;
      fill: none;
      shape-rendering: crispEdges;
    }

    .tick text {
      font-size: fontSize($euiSizeS);
      fill: $euiColorMediumShade;
    }
  }

  .chart-label,
  .label-text,
  .chart-text {
    fill: $euiColorMediumShade;
  }

  .label-line {
    stroke: $euiColorMediumShade;
  }

  /* Brush Styling */
  .brush .extent {
    stroke: $euiColorEmptyShade;
    fill-opacity: .125;
    shape-rendering: crispEdges;
  }

  .visAreaChart__overlapArea {
    opacity: 0.8;
  }

  .series > path, // library
  .series > rect {
    fill-opacity: 0.8;
    stroke-opacity: 1;
    stroke-width: 0;
  }

  .blur_shape { // library
    opacity: 0.3 !important;
  }

  .slice {
    stroke: white;
    stroke-width: 2px;
    &:hover {
      opacity: 0.8
    }
  }

  .line {
    circle {
      opacity: 1;

      &:hover {
        stroke-width: 10px;
        stroke-opacity: 0.8;
      }
    }
  }

  .endzone {
    opacity: 0.05;
    fill: $euiColorFullShade;
    pointer-events: none;
  }
}
