@use 'sass:math';
@use 'eui/eui_variables' as eui;

.unifiedDataTableToolbar {
  padding: eui.$euiSizeS eui.$euiSizeS eui.$euiSizeXS;

  .unifiedDataTableToolbarControlButton {
    .euiDataGridToolbarControl {
      block-size: eui.$euiSizeXL;
      border: eui.$euiBorderWidthThin solid eui.$euiFormBorderColor;
      border-radius: eui.$euiBorderRadiusSmall;

      // making the icons larger than the default size
      & svg {
        inline-size: eui.$euiSize;
        block-size: eui.$euiSize;
      }
    }
  }

  .unifiedDataTableToolbarControlGroup {
    position: relative;
    overflow: hidden;
    border-radius: eui.$euiBorderRadiusSmall;
    display: inline-flex;
    align-items: stretch;
    flex-direction: row;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border: eui.$euiBorderWidthThin solid eui.$euiColorBorderBasePlain;
      border-radius: inherit;
      pointer-events: none;
    }

    & .unifiedDataTableToolbarControlButton .euiDataGridToolbarControl {
      border-radius: 0;
      border: none;
    }

    & .unifiedDataTableToolbarControlButton + .unifiedDataTableToolbarControlButton {
      border-inline-start: eui.$euiBorderThin;
      border-radius: 0;
    }
  }

  .unifiedDataTableToolbarControlIconButton .euiToolTipAnchor .euiButtonIcon {
    inline-size: eui.$euiSizeXL;
    block-size: eui.$euiSizeXL;
    border-radius: inherit;

    // cancel default behaviour
    &:hover,
    &:active,
    &:focus {
      background: transparent;
      animation: none !important;
      transform: none !important;
    }
  }

  .unifiedDataTableToolbarControlIconButton + .unifiedDataTableToolbarControlIconButton {
    border-inline-start: eui.$euiBorderWidthThin solid eui.$euiColorBorderBasePlain;
    border-radius: 0;
  }

  .unifiedDataTableToolbarBottom {
    position: relative; // for placing a loading indicator correctly
  }
}
