.unifiedDataTableToolbar {
  padding: $euiSizeS $euiSizeS $euiSizeXS;

  .unifiedDataTableToolbarControlButton {
    .euiDataGridToolbarControl {
      block-size: $euiSizeXL;
      border: $euiBorderWidthThin solid $euiFormBorderColor;
      border-radius: $euiBorderRadiusSmall;

      // making the icons larger than the default size
      & svg {
        inline-size: $euiSize;
        block-size: $euiSize;
      }
    }
  }

  .unifiedDataTableToolbarControlGroup {
    position: relative;
    overflow: hidden;
    border-radius: $euiBorderRadiusSmall;
    display: inline-flex;
    align-items: stretch;
    flex-direction: row;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border: $euiBorderWidthThin solid $euiColorBorderBasePlain;
      border-radius: inherit;
      pointer-events: none;
    }

    & .unifiedDataTableToolbarControlButton .euiDataGridToolbarControl {
      border-radius: 0;
      border: none;
    }

    & .unifiedDataTableToolbarControlButton + .unifiedDataTableToolbarControlButton {
      border-inline-start: $euiBorderThin;
      border-radius: 0;
    }
  }

  .unifiedDataTableToolbarControlIconButton .euiToolTipAnchor .euiButtonIcon {
    inline-size: $euiSizeXL;
    block-size: $euiSizeXL;
    border-radius: inherit;

    // cancel default behaviour
    &:hover, &:active, &:focus {
      background: transparent;
      animation: none !important;
      transform: none !important;
    }
  }

  .unifiedDataTableToolbarControlIconButton + .unifiedDataTableToolbarControlIconButton {
    border-inline-start: $euiBorderWidthThin solid $euiColorBorderBasePlain;
    border-radius: 0;
  }

  .unifiedDataTableToolbarBottom {
    position: relative; // for placing a loading indicator correctly
  }
}
