@import (reference) "../../../style/main";

.canvas__timelion-row {
  display: flex;
  flex-direction: row;

  .canvas__timelion-query {
    flex-grow: 1;
  }

  .canvas__timelion-interval {
    width: 100px;
    flex-grow: 0;
  }
}
