# Click the run button of each step to enable the module
# Upload scripts
# 1. Script to assign risk level based on risk score
PUT _scripts/{{createLevelScriptOptions.id}}
{
  "script": {
    "lang": "{{createLevelScriptOptions.script.lang}}",
    "source": {{createLevelScriptOptions.script.source}}
  }
}

# 2. Script to setup initial state for the Host Risk Score scripted metric aggregation
PUT _scripts/{{createInitScriptOptions.id}}
{
  "script": {
    "lang": "{{createInitScriptOptions.script.lang}}",
    "source": {{createInitScriptOptions.script.source}}
  }
}

# 3. Map script for the Host Risk Score transform
PUT _scripts/{{createMapScriptOptions.id}}
{
  "script": {
    "lang": "{{createMapScriptOptions.script.lang}}",
    "source": {{createMapScriptOptions.script.source}}
  }
}

# 4. Reduce script for the Host Risk Score transform
PUT _scripts/{{createReduceScriptOptions.id}}
{
  "script": {
    "lang": "{{createReduceScriptOptions.script.lang}}",
    "source": {{createReduceScriptOptions.script.source}}
  }
}

# 5. Upload the ingest pipeline
# Ingest pipeline to add ingest timestamp and risk level to documents
PUT _ingest/pipeline/{{createIngestPipelineOptions.name}}
{
  "processors": {{createIngestPipelineOptions.processors}}
}

# 6. Create mappings for the destination index of the Host Risk Score pivot transform
PUT {{createRiskScoreIndicesOptions.index}}
{
  "mappings": {{createRiskScoreIndicesOptions.mappings}}
}

# 7. Upload the Host Risk Score pivot transform
# This transform runs hourly and calculates a risk score and risk level for hosts in a Kibana space
PUT _transform/{{pivotTransformId}}
{{pivotTransformOptions}}


# 8. Start the pivot transform
POST _transform/{{pivotTransformId}}/_start

# 9. Create mappings for the destination index of the Host Risk Score latest transform
PUT {{createRiskScoreLatestIndicesOptions.index}}
{
  "mappings": {{createRiskScoreLatestIndicesOptions.mappings}}
}

# 10. Upload the latest transform
# This transform gets the latest risk information about hosts in a Kibana space
PUT _transform/{{latestTransformId}}
{{latestTransformOptions}}

# 11. Start the latest transform
POST _transform/{{latestTransformId}}/_start

# Hint: If you don't see data after running any of the transforms, stop and restart the transforms
# Stop the pivot transform
POST _transform/{{pivotTransformId}}/_stop

# Start the pivot transform
POST _transform/{{pivotTransformId}}/_start

# Stop the latest transform
POST _transform/{{latestTransformId}}/_stop

# Start the latest transform
POST _transform/{{latestTransformId}}/_start
