@import (reference) "~plugins/rework/main.less";

.rework--editor {
  padding: 10px;
  width: 100%;

  h4 > i {
    color: @kibanaBlue2;
  }

  .rework--editor-section {
    padding-bottom: 10px;
  }

  .rework--argument-form {
    width: 100%;
  }
}
