/**
 * 1. Allow list to expand as items are added, but cap it at the screen height.
 */
.kuiGlobalToastList {
  @include kuiScrollBar;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: fixed;
  z-index: $kuiZToastList;
  bottom: 0;
  right: 0;
  width: 320px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 100vh; /* 1 */
}

.kuiGlobalToastListItem {
  margin-bottom: $kuiSizeM;
  animation: 0.5s kuiShowToast;
  opacity: 1;

  /**
   * 1. justify-content: flex-end interferes with overflowing content, so we'll use this to push
   *    items to the bottom instead.
   */
  &:first-child {
    margin-top: auto; /* 1 */
  }

  &.kuiGlobalToastListItem-isDismissed {
    transition: opacity $kuiAnimSpeedNormal;
    opacity: 0;
  }
}

@keyframes kuiShowToast {
  from {
    transform: translateX(30px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
