.inpEmptyIndexPatternPrompt {
  max-width: $inpEmptyStateMaxWidth !important; // override EUI specificity
}

.inpEmptyIndexPatternPrompt__footer {
  @extend %inpEmptyState__footer;
}

@include euiBreakpoint('xs', 's') {
  .inpEmptyIndexPatternPrompt__illustration > svg {
    width: $euiSize * 12;
    height: auto;
    margin: 0 auto;
  }

  .inpEmptyIndexPatternPrompt__text {
    text-align: center;
    align-items: center;
  }
}
