<div class="localDropdownPanels">
  <!-- Left panel -->
  <div class="localDropdownPanel localDropdownPanel--left">
    <!-- Title -->
    <div
      data-test-subj="shareUiTitle"
      class="localDropdownTitle"
    >
      Share saved {{share.objectType}}
    </div>

    <!-- Help text -->
    <div ng-if="share.urls.original" class="localDropdownHelpText">
      You can share this URL with people to let them load the most recent saved version of this {{share.objectType}}.
    </div>

    <div ng-if="!share.urls.original" class="localDropdownWarning">
      Please save this {{share.objectType}} to enable this sharing option.
    </div>

    <div ng-if="share.urls.original">
      <!-- iframe -->
      <div class="localDropdownSection" ng-if="share.allowEmbed">
        <!-- Header -->
        <div class="localDropdownHeader">
          <div class="localDropdownHeader__label">
            Embedded iframe
          </div>
          <div class="localDropdownHeader__actions">
            <a
              class="localDropdownHeader__action"
              ng-click="share.copyToClipboard('#originalIframeUrl')"
            >
              Copy
            </a>
          </div>
        </div>

        <div>
          <label>
            <input type="checkbox" ng-model="share.showSearch" name="showSearch" ng-change="share.updateUrls()">
            Show Search Bar
          </label>
        </div>

        <!-- Input -->
        <input
          id="originalIframeUrl"
          class="localDropdownInput"
          type="text"
          readonly
          value="{{share.makeIframeTag(share.urls.original)}}"
        />

        <!-- Notes -->
        <div class="localDropdownFormNote">
          Add to your HTML source. Note that all clients must be able to access Kibana.
        </div>
      </div>

      <!-- Link -->
      <div class="localDropdownSection">
        <!-- Header -->
        <div class="localDropdownHeader">
          <div class="localDropdownHeader__label">
            Link
          </div>
          <div class="localDropdownHeader__actions">
            <a
              class="localDropdownHeader__action"
              ng-click="share.copyToClipboard('#originalUrl')"
            >
              Copy
            </a>
          </div>
        </div>

        <!-- Input -->
        <input
          id="originalUrl"
          class="localDropdownInput"
          type="text"
          readonly
          value="{{share.urls.original}}"
        />
      </div>
    </div>
  </div>

  <!-- Right panel -->
  <div class="localDropdownPanel localDropdownPanel--right">
    <!-- Title -->
    <div class="localDropdownTitle">
      Share Snapshot
    </div>

    <!-- Help text -->
    <div class="localDropdownHelpText">
      Snapshot URLs encode the current state of the {{share.objectType}} in the URL itself. Edits to the saved {{share.objectType}} won't be visible via this URL.
    </div>

    <!-- iframe -->
    <div class="localDropdownSection" ng-if="share.allowEmbed">
      <!-- Header -->
      <div class="localDropdownHeader">
        <div class="localDropdownHeader__label">
          Embedded iframe
        </div>
        <div class="localDropdownHeader__actions">
          <a
            class="localDropdownHeader__action"
            ng-if="!share.urlFlags.shortSnapshotIframe"
            ng-click="share.toggleShortSnapshotIframeUrl()"
          >
            Short URL
          </a>

          <a
            class="localDropdownHeader__action"
            ng-if="share.urlFlags.shortSnapshotIframe"
            ng-click="share.toggleShortSnapshotIframeUrl()"
          >
            Long URL
          </a>

          <a
            class="localDropdownHeader__action"
            ng-click="share.copyToClipboard('#snapshotIframeUrl')"
          >
            Copy
          </a>
        </div>
      </div>

      <div>
        <label>
          <input type="checkbox" ng-model="share.showSearch" name="showSearch" ng-change="share.updateUrls()">
          Show Search Bar
        </label>
      </div>

      <!-- Input -->
      <input
        id="snapshotIframeUrl"
        class="localDropdownInput"
        type="text"
        readonly
        value="{{share.urlFlags.shortSnapshotIframe ? share.makeIframeTag(share.urls.shortSnapshotIframe) : share.makeIframeTag(share.urls.snapshot)}}"
      />

      <!-- Notes -->
      <div class="localDropdownFormNote">
        Add to your HTML source. Note that all clients must be able to access Kibana.
      </div>
    </div>

    <!-- Link -->
    <div class="localDropdownSection">
      <!-- Header -->
      <div class="localDropdownHeader">
        <div class="localDropdownHeader__label">
          Link
        </div>
        <div class="localDropdownHeader__actions">
          <a
            data-test-subj="sharedSnapshotShortUrlButton"
            class="localDropdownHeader__action"
            ng-if="!share.urlFlags.shortSnapshot"
            ng-click="share.toggleShortSnapshotUrl()"
          >
            Short URL
          </a>

          <a
            class="localDropdownHeader__action"
            ng-if="share.urlFlags.shortSnapshot"
            ng-click="share.toggleShortSnapshotUrl()"
          >
            Long URL
          </a>

          <a
            data-test-subj="sharedSnapshotCopyButton"
            class="localDropdownHeader__action"
            ng-click="share.copyToClipboard('#snapshotUrl')"
          >
            Copy
          </a>
        </div>
      </div>

      <!-- Input -->
      <input
        data-test-subj="sharedSnapshotUrl"
        id="snapshotUrl"
        class="localDropdownInput"
        type="text"
        readonly
        value="{{share.urlFlags.shortSnapshot ? share.urls.shortSnapshot : share.urls.snapshot}}"
      />

      <!-- Notes -->
      <div class="localDropdownFormNote">
        We recommend sharing shortened snapshot URLs for maximum compatibility. Internet Explorer has URL length restrictions, and some wiki and markup parsers don't do well with the full-length version of the snapshot URL, but the short URL should work great.
      </div>
    </div>
  </div>
</div>
