@import (reference) "../../../style/main";

.canvas__esdocs--index_query {
  display: flex;

  .canvas__esdocs--index {
    margin-right: @spacingM;
    width: 150px;
  }

  .canvas__esdocs--query {
    flex-grow: 1;
  }

}
