    - name: preserve_original_event
      required: true
      show_user: true
      title: Preserve original event
      description: Preserves a raw copy of the original event, added to the field `event.original`
      type: bool
      multi: false
      default: false
    - name: tags
      type: text
      title: Tags
      multi: true
      required: true
      show_user: false
      default:
        - forwarded
        - {{ package_name }}-{{ data_stream_name }}
    - name: processors
      type: yaml
      title: Processors
      multi: false
      required: false
      show_user: false
      description: >
        Processors are used to reduce the number of fields in the exported event or to enhance the event with metadata. This executes in the agent before the logs are parsed. See [Processors](https://www.elastic.co/guide/en/beats/filebeat/current/filtering-and-enhancing-data.html) for details.