format_version: "{{ format_version }}"
name: "{{ package_name }}"
title: |
  {{ package_title }}
version: {{ package_version }}
description: |
  {{ package_description }}
type: integration
categories:
  - security
  - iam
conditions:
  kibana:
    version: {{ min_version }}
{% if package_logo %}icons:
  - src: /img/logo.svg
    title: "{{ package_name }} Logo"
    size: 32x32
    type: image/svg+xml{% endif %}
policy_templates:
  - name: {{ package_name }}
    title: |
      {{ package_title }}
    description: |
      {{ package_description}}
    inputs: {% for input in inputs %}
      - type: {{ input.type }}
        title: |
          {{ input.title }} : {{ input.type }}
        description: |
          {{ input.description }} {% endfor %}
owner:
  github: "{{ package_owner }}"
  type: elastic