// Dial menu is a phone like dial comprised of an svg icon and a title.

@include component('kuiKeyPadMenu') {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: $kuiKeyPadMenuSize * 3; // Default to grid of 3
  text-align: center;
  @include kuiFontSizeS;

  @include child('item') {
    padding: $kuiSize;
    height: $kuiKeyPadMenuSize;
    width: $kuiKeyPadMenuSize;
    display: block;
    color: $kuiColorDarkShade;
    border: $kuiBorderThin;
    border-color: transparent;
    border-radius: $kuiBorderRadius;

    &:hover, &:focus {
      border-color: $kuiBorderColor;

      @include child('icon') {
        transform: translateY(0);
      }
    }
  }

  @include child('icon') {
    transition: transform $kuiAnimSlightBounce $kuiAnimSpeedNormal;
    transform: translateY($kuiSizeXS);
  }
}
