@import (reference) "~plugins/rework/main.less";

.rework--palette-chooser-options {
  height: 200px;
}

.rework--palette-chooser {
  display: inline-block;
}

.rework--palette-chooser, .rework--palette-chooser-option {
  .rework--palette:hover {
    border-color: @kibanaBlue2;
  }
}
