@import (reference) "../../style/variables";

.canvas__shape-picker {
  display: inline-block;

  .canvas__shape-picker-preview {
    font-size: @textLarge;
  }
}

.canvas__shape-picker-items {
  .canvas__shape-picker-item {
    color: @darkestGrey;
    display: inline-block;
    margin: 0px @spacingS @spacingS 0px;
    width: 25px;

    .fa {
      font-size: @textLarge;
      // margin-left: @spacingXS;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .canvas__shape-picker-item.selected {
    color: @blue;
  }
}
