share-object-url {
  .input-group {
    display: flex;

    .clipboard-button {
      .right-trim();
    }

    .shorten-button {
      .right-trim();
    }

    .left-trim {
       border-bottom-left-radius: 0;
       border-top-left-radius: 0;
    }

    .right-trim {
       border-top-right-radius: 0;
       border-bottom-right-radius: 0;
    }

    .form-control.url {
      cursor: text;
    }
  }
}
