@import (reference) "../../style/variables";

.canvas__arg--add {
  cursor: pointer;
  text-align: center;
  font-size: @textSmall;
  font-weight: normal;
  padding: @spacingXS @spacingS;

  &:hover {
    background-color: @lightestGrey;

    label {
      color: @darkestGrey;
    }
  }
}
