@import (reference) "../../style/variables";

.canvas__arg--add {
  cursor: pointer;
  padding: @spacingXS;
  padding-left: @spacingS;

  &:not(:last-child) {
    border-bottom: @borderStyle;
  }

  &:hover {
    background-color: @lightestGrey;

    label {
      color: @darkestGrey;
    }
  }
}
