@import (reference) "../../style/variables";

.canvas__arg--add {
  background-color: @lightestGrey;
  margin: 0px @spacingM;
  border-bottom: @borderStyle;
  padding: @spacingXXS @spacingS;
  cursor: pointer;
  color: @labelColor;
  text-align: right;

  &:hover {
    background-color: @lightGrey;

    label {
      color: @darkestGrey;
    }
  }

  // TODO: This shouldn't be a bootstrap <Label>
  label {
    font-weight: bold !important;
    cursor: pointer;
    background-color: transparent;
  }
}
