// from variables:

$lnsLayerPanelDimensionMargin: 8px;

$lnsZLevel0: 0;
$lnsZLevel1: 1;
$lnsZLevel2: 2;
$lnsZLevel3: 3;

// from mixins

// sass-lint:disable-block indentation, no-color-keywords

// Static styles for a draggable item
@mixin lnsDraggable {
  @include euiSlightShadow;
  background: $euiColorEmptyShade;
  border: $euiBorderWidthThin dashed transparent;
  cursor: grab;
}

// Static styles for a drop area
@mixin lnsDroppable {
  border: $euiBorderWidthThin dashed $euiBorderColor;
}

// Hovering state for drag item and drop area
@mixin lnsDragDropHover {
  &:hover {
    border: $euiBorderWidthThin dashed $euiColorMediumShade;
  }
}

// Style for drop area when there's an item being dragged
@mixin lnsDroppableActive {
  background-color: transparentize($euiColorVis0, .9);
}

// Style for drop area while hovering with item
@mixin lnsDroppableActiveHover {
  background-color: transparentize($euiColorVis0, .75);
  border: $euiBorderWidthThin dashed $euiColorVis0;
}

// Style for drop area that is not allowed for current item
@mixin lnsDroppableNotAllowed {
  opacity: .5;
}
