<visualize-app class="app-container visEditor visEditor--{{ vis.type.name }}">
  <!-- Local nav. -->
  <kbn-top-nav name="visualize" config="topNavMenu">
    <!-- Transcluded elements. -->
    <div data-transclude-slots>
      <!-- Search. -->
      <div
        data-transclude-slot="bottomRow"
        ng-show="chrome.getVisible()"
        class="fullWidth"
      >
        <div ng-if="vis.type.requiresSearch && state.linked" class="kuiVerticalRhythmSmall">
          {{ ::'kbn.visualize.linkedToSearchInfoText' | i18n: { defaultMessage: 'Linked to Saved Search' } }}
          <a
            href="#/discover/{{savedVis.savedSearch.id}}"
          >
            {{ savedVis.savedSearch.title }}
          </a>
          &nbsp;
          <a
            data-test-subj="unlinkSavedSearch"
            href=""
            ng-dblclick="unlink()"
            tooltip="{{ ::'kbn.visualize.linkedToSearch.unlinkButtonTooltip' | i18n: { defaultMessage: 'Double click to unlink from Saved Search' } }}"
          >
            <span aria-hidden="true" class="kuiIcon fa-chain-broken"></span>
          </a>
        </div>

        <div class="fullWidth kuiVerticalRhythmSmall">
          <search-bar
            query="state.query"
            screen-title="state.vis.title"
            on-query-submit="updateQueryAndFetch"
            app-name="'visualize'"
            index-patterns="[indexPattern]"
            filters="filters"
            on-filters-updated="onFiltersUpdated"
            show-query-bar="showQueryBar()"
            show-filter-bar="vis.type.options.showFilterBar && chrome.getVisible()"
            show-date-picker="enableQueryBarTimeRangeSelector"
            date-range-from="timeRange.from"
            date-range-to="timeRange.to"
            is-refresh-paused="refreshInterval.pause"
            refresh-interval="refreshInterval.value"
            show-auto-refresh-only="showAutoRefreshOnlyInQueryBar"
            on-refresh-change="onRefreshChange"
          ></search-bar>
        </div>
      </div>
    </div>
  </kbn-top-nav>

  <!--
    The top nav is hidden in embed mode but the filter bar must still be present so
    we show the filter bar on its own here if the chrome is not visible.
  -->
  <filter-bar
    ng-if="vis.type.options.showFilterBar && !chrome.getVisible()"
    class-name="'globalFilterGroup__filterBar'"
    filters="filters"
    on-filters-updated="onFiltersUpdated"
    index-patterns="[indexPattern]"
  ></filter-bar>

  <apply-filters-popover
    key="applyFiltersKey"
    filters="state.$newFilters"
    on-cancel="onCancelApplyFilters"
    on-submit="onApplyFilters"
  ></apply-filters-popover>

  <div
    class="euiCallOut euiCallOut--primary euiCallOut--small hide-for-sharing"
    ng-if="vis.type.shouldMarkAsExperimentalInUI()"
    data-test-subj="experimentalVisInfo"
  >
    <div class="euiText">
      <p ng-bind-html="getAdditionalMessage()"></p>
    </div>
  </div>

  <div class="visualize" ng-if="!chrome.getVisible()"/>

  <visualization-editor
    ng-if="chrome.getVisible()"
    saved-obj="savedVis"
    ui-state="uiState"
    time-range="timeRange"
    filters="globalFilters"
    class="visEditor__content"
  />

</visualize-app>
