<div class="kuiSideBarSection">
  <div class="form-group">
    <div class="form-group">
      <label i18n-id="tagCloud.tagCloudVisParams.textScaleLabel" i18n-default-message="Text Scale"></label>
      <select class="form-control" ng-model="editorState.params.scale" ng-options="mode for mode in config.collections.scales"></select>
    </div>
    <div class="form-group">
      <label i18n-id="tagCloud.tagCloudVisParams.orientationsLabel" i18n-default-message="Orientations"></label>
      <select class="form-control" ng-model="editorState.params.orientation" ng-options="mode for mode in config.collections.orientations"></select>
    </div>
    <div class="form-group">
      <label i18n-id="tagCloud.tagCloudVisParams.fontSizeLabel" i18n-default-message="Font Size"></label>
      <div class="tag-cloud-fontsize-slider"></div>
      <div class="kuiBar">
        <div class="kuiBarSection">
          <input
            type="number"
            min="1"
            max="{{editorState.params.maxFontSize}}"
            class="kuiTextInput tag-cloud-fontsize-slider__input"
            ng-model="editorState.params.minFontSize"
            aria-label="{{ 'tagCloud.tagCloudVisParams.minFontSizeAriaLabel' | i18n: { defaultMessage: 'Minimum tag font size' } }}"
            aria-describedby="tagCloudFontSliderMinUnit"
          >
          <span id="tagCloudFontSliderMinUnit" aria-label="{{ 'tagCloud.tagCloudVisParams.minPixelsAriaLabel' | i18n: { defaultMessage: 'pixels' } }}">px</span>
        </div>
        <div class="kuiBarSection">
          <input
            type="number"
            min="{{editorState.params.minFontSize}}"
            max="100"
            class="kuiTextInput tag-cloud-fontsize-slider__input"
            ng-model="editorState.params.maxFontSize"
            aria-label="{{ 'tagCloud.tagCloudVisParams.maxFontSizeAriaLabel' | i18n: { defaultMessage: 'Maximum tag font size' } }}"
            aria-describedby="tagCloudFontSliderMaxUnit"
          >
          <span id="tagCloudFontSliderMaxUnit" aria-label="{{ 'tagCloud.tagCloudVisParams.maxPixelsAriaLabel' | i18n: { defaultMessage: 'pixels' } }}">px</span>
        </div>
      </div>
    </div>
    <div>
      <label>
        <input type="checkbox" value="{{hideLabel}}" ng-model="editorState.params.showLabel" name="showLabel"
               ng-checked="editorState.params.showLabel">
        <span i18n-id="tagCloud.tagCloudVisParams.showLabelToggleLabel" i18n-default-message="Show Label"></span>
      </label>
    </div>
  </div>
</div>
