<div class="form-group">
  <label
    for="visEditorInterval{{agg.id}}"
  >
    <span
      i18n-id="common.ui.aggTypes.timeIntervalLabel"
      i18n-default-message="Interval"
    ></span>
    <icon-tip
      ng-if="agg.buckets.getInterval().scaled && (agg.buckets.getInterval().scale <= 1)"
      type="'alert'"
      position="'right'"
      content="'common.ui.aggTypes.intervalCreatesTooManyBucketsTooltip' | i18n: {
        defaultMessage: 'This interval creates too many buckets to show in the selected time range, so it has been scaled to {bucketDescription}',
        values: { bucketDescription: agg.buckets.getInterval().description } }"
    ></icon-tip>
    <icon-tip
      ng-if="agg.buckets.getInterval().scaled && (agg.buckets.getInterval().scale > 1)"
      type="'alert'"
      position="'right'"
      content="'common.ui.aggTypes.intervalCreatesTooLargeBucketsTooltip' | i18n: {
        defaultMessage: 'This interval creates buckets that are too large to show in the selected time range, so it has been scaled to {bucketDescription}',
        values: { bucketDescription: agg.buckets.getInterval().description } }"
    ></icon-tip>
  </label>
  <select
    ng-if="!editorConfig.customInterval.timeBase"
    id="visEditorInterval{{agg.id}}"
    ng-model="agg.params.interval"
    ng-change="agg.write()"
    required
    ng-options="opt as opt.display for opt in aggParam.options.raw | filter: optionEnabled"
    class="form-control"
    name="interval">
    <option
      value=""
      i18n-id="common.ui.aggTypes.selectTimeIntervalLabel"
      i18n-default-message="-- select a valid interval --"
    ></option>
  </select>
  <input
    aria-label="{{ ::'common.ui.aggTypes.customTimeIntervalAriaLabel' | i18n: { defaultMessage: 'Custom interval' } }}"
    type="text"
    name="customInterval"
    ng-model="agg.params.customInterval"
    validate-date-interval="{{editorConfig.customInterval.timeBase}}"
    ng-change="aggForm.customInterval.$valid && agg.write()"
    ng-if="agg.params.interval.val == 'custom'"
    class="form-control"
    required />
  <div
    ng-if="editorConfig.customInterval.help"
    class="kuiSubText kuiSubduedText kuiVerticalRhythmSmall"
    style="margin-top: 5px"
  >
    <span>{{editorConfig.customInterval.help}}</span>
  </div>
</div>
