// react-anything-sortable overrides
// Scoped to just the TSVB editor

.tvbEditor {

  .ui-sortable {
    display: block;
    position: relative;
    overflow: visible;
    user-select: none;

    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }

    .ui-sortable-item.ui-sortable-dragging {
      position: absolute;
      z-index: $euiZLevel2;
    }

    .ui-sortable-placeholder {
      display: none;

      &.visible {
        display: block;
        opacity: 0.5;
        z-index: -1;
      }
    }
  }

}



