<div class="modal-body" style="text-align: center;">
  <h2>Try Marvel for Free in Development</h2>
  <p class="lead">Like it? Then <a href="http://www.elasticsearch.com/marvel/" target="_BLANK">buy a license</a> for production, only $500 for your first 5 nodes.<br/>
  …or talk to us about our <a href="http://www.elasticsearch.com/support/" target="_BLANK">annual support packages</a> that include Marvel for free.</p>
  <p>
    <a href="http://www.elasticsearch.com/marvel/" target="_BLANK" class="btn btn-success">Buy Marvel Now</a>
    <a class="btn btn-success" ng-click="setOptIn(marvelOpts.report);dismiss();">Continue Free Trial</a>
  </p>
  <p>Sharing your cluster statistics with us to help us improve. Totally anonymous and never shared with <br/>
  anyone. Not ever. Curious what we see? <a ng-click="showSample=true">View report here</a>. <span ng-show="marvelOpts.report">Not interested? <a ng-click="setOptIn(false);">Opt out here</a></span><span ng-hide="marvelOpts.report">Opted Out? <a ng-click="setOptIn(true);">Click here to opt back in.</a></span></p>
  <div ng-show="showSample" style="text-align: left;">
    <h5>Sample Statistics</h5>
    <span class="close" ng-click="showSample=false" style="margin: 10px 10px; font-size: 30px;">&times;</span>
    <pre>{{ data | json }}</pre>
  </div>
</div>
