  <div class="modal-body">
    <h2>Welcome to Elasticsearch Marvel</h2>
    <div style="max-width: 600px;">

      <p>
      You're all set up! If you need a bit of help you can always visit
      <a href="http://www.elasticsearch.org/overview/marvel/" target="_blank">Marvel's web page</a>

      <p/>
      <h5>A friendly request</h5>

      <p>
      Help us make Elasticsearch better by sharing your cluster statistics with us.
      Totally <strong>anonymous</strong> and <strong>never</strong> shared with anyone. Not ever.
      Curious what we see? <span class="link" ng-click="showSample=true">View report here</span>
      </p>
      <p>
      Thx,<br>
      The Elasticsearch Dev Team
      </p>

      <div ng-show="showSample">
        <h5>Sample Statistics</h5>
        <pre>{{ data | json }}</pre>
      </div>

  </div>
    <div class="modal-footer">
      <button ng-click="setOptIn(true);dismiss();" class="btn btn-success">Count me in!</button>
      <span ng-click="setOptIn(false);dismiss();" class="pointer small">No Thanks</span>
    </div>

