<div class="header">
  <h1 class="text-muted">
      <img src="/logo.png">
      <small class="pull-right">
        <span class="fa-stack new-sheet" ng-click="newSheet()">
          <i class="fa fa-file-o fa-stack-2x"></i>
          <i class="fa fa-plus fa-stack-1x"></i>
        </span>
      </small>
  </h1>
</div>

<form>
  <div class="form-group function-form" ng-submit="search()">
    <input type="text"
      class="form-control top-agg-input"
      ng-model="input.expressions[input.selected]"
      id="search"
      placeholder="Enter Expression">
    <button style="display:none"
      type="submit"
      ng-click="search()">Run</button>
  </div>
</form>


  <div class="chart-container col-md-4"
    ng-repeat="cell in input.expressions track by $index"
    ng-click="setActiveCell($index)"
    ng-class="{active: $index === input.selected, running: running}"
    >
    <div class="cell-id" ng-click="removeCell($index)">{{$index + 1}}</div>
    <div chart="sheet[$index]" cell="$index"></div>
  </div>
  <div class="chart-container add-chart col-md-4">
    <i class="fa fa-plus" ng-click="newCell()"></i>
  </div>
</div>