<div class="header">
  <h1 class="text-muted">
      <img src="/logo.png">
      <small class="pull-right">
        <span class="fa-stack new-sheet" ng-click="newSheet()">
          <i class="fa fa-file-o fa-stack-2x"></i>
          <i class="fa fa-plus fa-stack-1x"></i>
        </span>
      </small>
  </h1>
</div>
<form>
  <div class="form-group function-form" ng-submit="search()">
    <input type="text"
      expression="input.expressions[input.selected]"
      class="form-control top-agg-input"
      ng-model="input.expressions[input.selected]"
      id="search"
      placeholder="Enter Expression">
    <button style="display:none"
      type="submit"
      ng-click="search()">Run</button>
  </div>
  <div ng-if="sheet[0].exception" class="alert alert-danger">
    {{sheet[0].exception.name}} {{sheet[0].exception}} in <strong>cell {{sheet[0].plot + 1}}</strong>
  </div>
</form>

<div>
  <div class="chart-container col-md-4"
    ng-repeat="cell in input.expressions track by $index"
    ng-click="setActiveCell($index)"
    ng-class="{active: $index === input.selected, running: running}"
    >
    <div class="cell-id" ng-click="removeCell($index)"><span>{{$index + 1}}</span></div>
    <div chart="sheet[$index]" cell="$index"></div>
  </div>
  <div class="add-chart col-md-4">
    <i class="fa fa-plus" ng-click="newCell()"></i>
  </div>
</div>

<div class="clearfix"></div>
<div class="footer" ng-if="stats">
  <center>
    <strong>Cache Efficiency</strong> {{((1 - (stats.cacheCount/stats.queryCount))*100) | number:0}}% /
    <strong>Query Time:</strong> {{stats.queryTime - stats.invokeTime}}ms /
    <strong>Processing Time:</strong> {{stats.sheetTime - stats.queryTime}}ms
  </center>
</div>