/**
 * 1. Allow this class to be applied to `ul` and `ol` elements
 */
.kuiMenu {
  padding-left: 0; /* 1 */
}

.kuiMenu--contained {
  border: $globalBorderThin;

  .kuiMenuItem {
    padding: 6px 10px;
  }
}

/**
 * 1. Allow this class to be applied to `li` elements
 */
.kuiMenuItem {
  list-style: none; /* 1 */
  padding: 6px 0;

  & + & {
    border-top: $globalBorderThin;
  }
}
