/**
 * padding-left: 0 and list-style: none rules
 * are meant for ul.kuiMenu and li.kuiMenuItem
 * elements.
 *
 * kuiMenu and kuiMenuItems can classify both
 * nonsemantic divs as well as lists (ul, li).
 */
.kuiMenu {
  padding-left: 0;
}

.kuiMenu--contained {
  border: $tableRowBorder;
  padding-left: 0;

  .kuiMenuItem {
    padding: 6px 10px;
  }
}

.kuiMenuItem {
  list-style: none;
  padding: 6px 0;

  & + & {
    border-top: $tableRowBorder;
  }
}
