/**
 * 1. Have the same spatial footprint as the regular input.
 */
.kuiStaticInput {
  width: $kuiFormFieldDefaultWidth;
  @include formControlBase;
  border: 1px solid transparent; /* 1 */
  background-color: transparent;
}
