@mixin flex-parent($grow: 1, $shrink: 1, $basis: auto, $direction: column) {
  flex: $grow $shrink $basis;
  display: flex;
  flex-direction: $direction;

  > * {
    flex-shrink: 0;
  }
}

// EUITODO: Add this
@mixin kibanaCircleLogo() {
  display: inline-block;
  @include size($euiSizeXXL * 2);
  line-height: $euiSizeXXL * 2;
  text-align: center;
  background-color: $euiColorEmptyShade;
  border-radius: 100%;
  padding: $euiSize;

  .euiIcon {
    vertical-align: baseline;
  }
}

// Standardizes the look and layout of resizable area handles
@mixin kbnResizer($size: ($euiSizeM + 2px), $direction: horizontal) {
  display: flex;
  flex: 0 0 $size;
  background-color: $euiPageBackgroundColor;
  align-items: center;
  justify-content: center;
  margin: 0;
  user-select: none;

  @if ($direction == horizontal) {
    cursor: ew-resize;
    width: $size;
  } @else if ($direction == vertical) {
    cursor: ns-resize;
    height: $size;
    width: 100%;
  } @else {
    @warn("Direction unknown for kbnResizer");
  }

  &:hover {
    background-color: tintOrShade($euiColorPrimary, 80%, 60%);
  }

  &:focus,
  &.active {
    background-color: $euiColorPrimary;
    color: $euiColorEmptyShade;
  }
}

@mixin kibanaFullScreenGraphics($euiZLevel: $euiZLevel9) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $euiZLevel + 1000;
  background: inherit;
  background-image: linear-gradient(0deg, $euiColorLightestShade 0%, $euiColorEmptyShade 100%);
  opacity: 0;
  overflow: auto;
  animation: kibanaFullScreenGraphics_FadeIn $euiAnimSpeedExtraSlow $euiAnimSlightResistance 0s forwards;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 400px;
    height: 370px;
    content: url(lightOrDarkTheme('ui/assets/images/bg_top_branded.svg', 'ui/assets/images/bg_top_branded_dark.svg'));
  }

  &::after {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 1170px;
    height: 880px;
    content: url(lightOrDarkTheme('ui/assets/images/bg_bottom_branded.svg', 'ui/assets/images/bg_bottom_branded_dark.svg'));
  }

  @keyframes kibanaFullScreenGraphics_FadeIn {
    from {
      opacity: 0;
      transform: translateY(200px), scale(.75);
    }

    to {
      opacity: 1;
      transform: translateY(0), scale(1);
    }
  }
}
