// EUI global scope

@import '@elastic/eui/src/themes/eui/eui_colors_light';

// Note that fonts are loaded directly by src/legacy/ui/ui_render/views/chrome.pug

@import '@elastic/eui/src/global_styling/functions/index';
@import '@elastic/eui/src/global_styling/variables/index';
@import '@elastic/eui/src/global_styling/mixins/index';

@import './mixins';

// TEMP HACK FOR 7.0, will be fixed in EUI in 7.1+
// Resets non EuiText headers font styles
h1, h2, h3, h4, h5, h6, p {
  font-family: $euiFontFamily;
  font-weight: $euiFontWeightRegular;
  font-size: $euiFontSize;
}
