// EUI Light global scope
// Note that fonts are loaded directly by src/legacy/ui/ui_render/views/chrome.pug

@import '@elastic/eui/src/themes/eui/eui_colors_light';
@import '@elastic/eui/src/global_styling/index';

@import './mixins';

// FOR TESTING ONLY, REMOVE BEFORE MERGE
body::before {
  display: block;
  content: "THIS IS THE DEFAULT LIGHT THEME";
  color: $euiColorPrimary;
  font-weight: $euiFontWeightBold;
  background-color: $euiColorEmptyShade;
  padding: $euiSize;
}
