<div class="kuiControlledTable">
  <!-- ToolBar -->
  <div class="kuiToolBar">
    <div class="kuiToolBarSearch">
      <div class="kuiToolBarSearchBox">
        <div class="kuiToolBarSearchBox__icon kuiIcon fa-search"></div>
        <input
          class="kuiToolBarSearchBox__input"
          type="text"
          placeholder="Search..."
        >
      </div>
    </div>

    <div class="kuiToolBarSection">
      <button class="kuiButton kuiButton--primary">
        Add
      </button>

      <button class="kuiButton kuiButton--basic kuiButton--icon">
        <span class="kuiButton__icon kuiIcon fa-gear"></span>
      </button>

      <button class="kuiButton kuiButton--basic kuiButton--icon">
        <span class="kuiButton__icon kuiIcon fa-bars"></span>
      </button>
    </div>

    <div class="kuiToolBarSection">
      <div class="kuiToolBarText">
        0 of 33
      </div>

      <div class="kuiButtonGroup kuiButtonGroup--united">
        <button class="kuiButton kuiButton--basic kuiButton--icon">
          <span class="kuiButton__icon kuiIcon fa-chevron-left"></span>
        </button>
        <button class="kuiButton kuiButton--basic kuiButton--icon">
          <span class="kuiButton__icon kuiIcon fa-chevron-right"></span>
        </button>
      </div>
    </div>
  </div>

  <!-- PromptForItems -->
  <div class="kuiPanel kuiPanel--centered kuiPanel--withHeader">
    <div class="kuiPromptForItems">
      <div class="kuiPromptForItems__message">
        Looks like you don&rsquo;t have any items. Let&rsquo;s add some!
      </div>

      <div class="kuiPromptForItems__actions">
        <button class="kuiButton kuiButton--primary kuiButton--iconText">
          <span class="kuiButton__icon kuiIcon fa-plus"></span>
          Add an item
        </button>
      </div>
    </div>
  </div>

  <!-- ToolBarFooter -->
  <div class="kuiToolBarFooter">
    <div class="kuiToolBarFooterSection">
      <div class="kuiToolBarText">
        0 of 33
      </div>

      <div class="kuiButtonGroup kuiButtonGroup--united">
        <button class="kuiButton kuiButton--basic kuiButton--icon">
          <span class="kuiButton__icon kuiIcon fa-chevron-left"></span>
        </button>
        <button class="kuiButton kuiButton--basic kuiButton--icon">
          <span class="kuiButton__icon kuiIcon fa-chevron-right"></span>
        </button>
      </div>
    </div>
  </div>

</div>
