<table class="kuiTable kuiTable--fluid">
  <thead>
    <tr>
      <th class="kuiTableHeaderCell">
        System
      </th>
      <th class="kuiTableHeaderCell">
        Action
      </th>
    </tr>
  </thead>

  <tbody>
    <tr class="kuiTableRow">
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          Cryogenics
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          <select class="kuiSelect">
            <option selected>On</option>
            <option>Off</option>
            <option>Self-destruct</option>
          </select>
        </div>
      </td>
    </tr>

    <tr class="kuiTableRow">
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          Propellant
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          <select class="kuiSelect">
            <option selected>On</option>
            <option>Off</option>
            <option>Self-destruct</option>
          </select>
        </div>
      </td>
    </tr>

    <tr class="kuiTableRow">
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          Rockets
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          <select class="kuiSelect">
            <option>On</option>
            <option selected>Off</option>
            <option>Self-destruct</option>
          </select>
        </div>
      </td>
    </tr>
  </tbody>
</table>
