<table class="kuiTable">
  <thead>
    <tr>
      <th class="kuiTableHeaderCell kuiTableHeaderCell--checkBox">
        <input type="checkbox" class="kuiCheckBox">
      </th>
      <th class="kuiTableHeaderCell kuiTableHeaderCell--sortable" data-demo-sortable-column>
        <div class="kuiTableHeaderCell__liner">
          Title
          <span data-sort-icon-ascending class="kuiTableSortIcon kuiIcon fa-long-arrow-up"></span>
          <span data-sort-icon-descending class="kuiTableSortIcon kuiIcon fa-long-arrow-down"></span>
        </div>
      </th>
      <th class="kuiTableHeaderCell kuiTableHeaderCell--sortable" data-demo-sortable-column>
        <div class="kuiTableHeaderCell__liner">
          Status
          <span data-sort-icon-ascending class="kuiTableSortIcon kuiIcon fa-long-arrow-up"></span>
          <span data-sort-icon-descending class="kuiTableSortIcon kuiIcon fa-long-arrow-down"></span>
        </div>
      </th>
      <th class="kuiTableHeaderCell">
        Date created
      </th>
      <th class="kuiTableHeaderCell">
        Date last modified
      </th>
    </tr>
  </thead>

  <tbody>
    <tr class="kuiTableRow">
      <td class="kuiTableRowCell kuiTableRowCell--checkBox">
        <div class="kuiTableRowCell__liner">
          <input type="checkbox" class="kuiCheckBox">
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          <a class="kuiLink" href="#">Alligator</a>
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          <div class="kuiIcon kuiIcon--success fa-check"></div>
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
        </div>
      </td>
    </tr>

    <tr class="kuiTableRow">
      <td class="kuiTableRowCell kuiTableRowCell--checkBox">
        <div class="kuiTableRowCell__liner">
          <input type="checkbox" class="kuiCheckBox">
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          <button class="kuiToggleButton">
            <span class="kuiToggleButton__icon kuiIcon fa-caret-down"></span>
            Boomerang
          </button>

        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          <div class="kuiIcon kuiIcon--success fa-check"></div>
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
        </div>
      </td>
    </tr>

    <tr class="kuiTableRow">
      <td class="kuiTableRowCell kuiTableRowCell--expanded" colspan="5">
        <div class="kuiTableRowCell__liner">
          <h3 class="kuiSubTitle">
            Boomerang
          </h3>
          <p class="kuiText">
            All kinds of crazy information about boomerangs could go in here.
          </p>
        </div>
      </td>
    </tr>

    <tr class="kuiTableRow">
      <td class="kuiTableRowCell kuiTableRowCell--checkBox">
        <div class="kuiTableRowCell__liner">
          <input type="checkbox" class="kuiCheckBox">
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          <a class="kuiLink" href="#">Celebration of some very long content that will affect cell width and should eventually become truncated</a>
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          <div class="kuiIcon kuiIcon--warning fa-bolt"></div>
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
        </div>
      </td>
    </tr>

    <tr class="kuiTableRow">
      <td class="kuiTableRowCell kuiTableRowCell--checkBox">
        <div class="kuiTableRowCell__liner">
          <input type="checkbox" class="kuiCheckBox">
        </div>
      </td>
      <td class="kuiTableRowCell kuiTableRowCell--wrap">
        <div class="kuiTableRowCell__liner">
          <a class="kuiLink" href="#">You can also specify that really long content wraps instead of becoming truncated with an ellipsis (which is the default behavior)</a>
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          <div class="kuiIcon kuiIcon--error fa-warning"></div>
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          Tue Dec 06 2016 12:56:15 GMT-0800 (PST)
        </div>
      </td>
    </tr>
  </tbody>
</table>
