<table class="kuiTable">
  <thead>
    <tr>
      <th class="kuiTableHeaderCell">
        Reminder
      </th>
      <th class="kuiTableHeaderCell">
        A
      </th>
      <th class="kuiTableHeaderCell">
        B
      </th>
      <th class="kuiTableHeaderCell">
        C
      </th>
      <th class="kuiTableHeaderCell kuiTableHeaderCell--alignRight">
        Actions
      </th>
    </tr>
  </thead>

  <tbody>
    <tr class="kuiTableRow">
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          Core temperature critical
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          A
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          B
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          C
        </div>
      </td>
      <td class="kuiTableRowCell kuiTableRowCell--alignRight">
        <div class="kuiTableRowCell__liner">
          <div class="kuiMenuButtonGroup kuiMenuButtonGroup--alignRight">
            <button class="kuiMenuButton kuiMenuButton--basic">
              Acknowledge
            </button>
            <button class="kuiMenuButton kuiMenuButton--basic">
              Silence
            </button>
            <button class="kuiMenuButton kuiMenuButton--danger">
              Delete
            </button>
          </div>
        </div>
      </td>
    </tr>

    <tr class="kuiTableRow">
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          Time for your snack
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          A
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          B
        </div>
      </td>
      <td class="kuiTableRowCell">
        <div class="kuiTableRowCell__liner">
          C
        </div>
      </td>
      <td class="kuiTableRowCell kuiTableRowCell--alignRight">
        <div class="kuiTableRowCell__liner">
          <div class="kuiMenuButtonGroup kuiMenuButtonGroup--alignRight">
            <button class="kuiMenuButton kuiMenuButton--basic">
              Acknowledge
            </button>
            <button class="kuiMenuButton kuiMenuButton--basic">
              Silence
            </button>
            <button class="kuiMenuButton kuiMenuButton--danger">
              Delete
            </button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
