<div class="controls">
  <button
    aria-label="Edit source filter"
    ng-if="editing !== filter"
    ng-click="editing = filter"
    type="button"
    class="btn btn-default">
    <i aria-hidden="true" class="fa fa-pencil"></i>
  </button>
  <button
    aria-label="Save source filter"
    ng-if="editing === filter"
    type="submit"
    class="btn btn-primary">
    <i aria-hidden="true" class="fa fa-save"></i>
  </button>
  <button
    aria-label="Delete source filter"
    ng-click="delete(filter)"
    type="button"
    class="btn btn-danger">
    <i aria-hidden="true" class="fa fa-trash"></i>
  </button>
</div>
