.unifiedFieldListSidebar {
  overflow: hidden;
  margin: 0 !important;
  flex-grow: 1;
  padding: 0;
  height: 100%;

  &--collapsed {
    width: auto;
    padding: $euiSizeS $euiSizeS 0;
  }

  &.unifiedFieldListSidebar--fullWidth {
    min-width: 0 !important;
  }

  &:not(.unifiedFieldListSidebar--fullWidth) {
    width: $euiSize * 19;
  }

  @include euiBreakpoint('xs', 's') {
    width: 100%;
    padding: $euiSize;
    background-color: $euiPageBackgroundColor;
  }
}

.unifiedFieldListSidebar__list {
  padding: $euiSizeS $euiSizeS 0;

  @include euiBreakpoint('xs', 's') {
    padding: $euiSizeS 0 0 0;
  }
}

.unifiedFieldListSidebar__group {
  height: 100%;
}

.unifiedFieldListSidebar__mobile {
  width: 100%;
  padding: $euiSizeS $euiSizeS 0;

  .unifiedFieldListSidebar__mobileBadge {
    margin-left: $euiSizeS;
    vertical-align: text-bottom;
  }
}

.unifiedFieldListSidebar__flyoutHeader {
  align-items: center;
}

.unifiedFieldListSidebar .unifiedFieldListItemButton {
  &.kbnFieldButton {
    margin-bottom: calc($euiSizeXS / 2);
  }

  &.domDragDrop-isDraggable {
    box-shadow: none;
  }

  &:not(.unifiedFieldListItemButton__dragging) {
    padding: 0;
    background: none;
  }
}
