<div class="kuiModal" style="width: 450px">
  <div class="kuiModalHeader">
    <div class="kuiModalHeader__title">
      Delete object
    </div>

    <div class="kuiModalHeaderCloseButton kuiIcon fa-times"></div>
  </div>

  <div class="kuiModalBody">
    <div class="kuiModalBodyText">
      Are you sure you want to delete this object? You can&rsquo;t undo this.
    </div>
  </div>

  <div class="kuiModalFooter">
    <button class="kuiButton kuiButton--hollow">
      No, cancel
    </button>

    <button class="kuiButton kuiButton--primary">
      Yes, delete this object
    </button>
  </div>
</div>
