.visListingTable__typeImage,
.visListingTable__typeIcon {
  margin-right: $euiSizeS;
  position: relative;
  top: -1px;
}

.visListingTable__typeImage {
  @include size($euiSize);
}

.visListingTable__experimentalIcon {
  width: 24px;
  vertical-align: baseline;
  padding: 0 8px;    
  margin-left: 8px;

}