<!-- Local nav. -->
<kbn-top-nav name="visualize">
  <!-- Transcluded elements. -->
  <div data-transclude-slots>
    <!-- Title. -->
    <div
      data-transclude-slot="topLeftCorner"
    >
      <div
        class="kuiLocalTitle"
        role="heading"
        aria-level="1"
        ng-if="listingController.showPluginBreadcrumbs"
        i18n-id="kbn.visualize.listing.topLeftCornerTitle"
        i18n-default-message="Visualize"
      ></div>
    </div>
  </div>
</kbn-top-nav>

<div class="kuiViewContent kuiViewContent--constrainedWidth kuiViewContentItem"
     data-test-subj="visualizeLandingPage"
>
  <div class="kuiViewContentItem kuiVerticalRhythm" ng-if="listingController.showLimitError">
    <div class="kuiInfoPanel kuiInfoPanel--warning">
      <div class="kuiInfoPanelBody">
        <div class="kuiInfoPanelBody__message">
          <span
            i18n-id="kbn.visualize.listing.listingLimitHelpText"
            i18n-default-message="You have {totalItems} visualizations, but your &quot;listingLimit&quot;
                                  setting prevents the table below from displaying more than {listingLimit}.
                                  You can change this setting under"
            i18n-values="{
              totalItems: listingController.totalItems,
              listingLimit: listingController.listingLimit
            }"
            i18n-description="Part of composite text kbn.visualize.listing.listingLimitHelpText +
                              kbn.visualize.listing.listingLimitAdvancedSettingsLinkText"
          ></span>
          <a
            kbn-href="#/management/kibana/settings"
            class="kuiLink"
            i18n-id="kbn.visualize.listing.listingLimitAdvancedSettingsLinkText"
            i18n-default-message="Advanced Settings"
            i18n-description="Part of composite text kbn.visualize.listing.listingLimitHelpText +
                              kbn.visualize.listing.listingLimitAdvancedSettingsLinkText"
          ></a>.
        </div>
      </div>
    </div>
  </div>

  <visualize-listing-table
    fetch-items="listingController.fetchItems"
    delete-selected-items="listingController.deleteSelectedItems"
    on-create-vis="listingController.createNewVis"
  ></visualize-listing-table>

  <new-vis-modal
    is-open="listingController.showNewVisModal"
    on-close="listingController.closeNewVisModal"
    vis-types-registry="listingController.visTypeRegistry"
  ></new-vis-modal>

</div>
