---

root: true
extends: '../../../../../../../.eslintrc.js'

rules:
  block-scoped-var: off
  camelcase: off
  dot-notation: off
  eqeqeq: off
  guard-for-in: off
  new-cap: off
  no-caller: off
  no-empty: off
  no-extend-native: off
  no-loop-func: off
  no-multi-str: off
  no-nested-ternary: off
  no-proto: off
  no-sequences: off
  no-undef: off
  no-use-before-define: off
  one-var: off
  strict: off
  no-var: off
  prefer-const: off
