$dashGrid__depth: 1;
$dashGrid__depth-dragging: 2;





.euiContextMenuItem {
  display: block;
}






.tab-dashboard {
  background-color: $euiColorEmptyShade;
}


.dashboardModal {
  width: 450px;
}

.dashboard-grid {
  display: block;
  margin: 0;
  padding: 5px;
  z-index: $dashGrid__depth;
}

.start-screen {
  margin: 20px auto;
  max-width: 800px;
  width: 100%;
  background: #FFF;
  padding: 40px;
  border-radius: 4px;
}

.panel {
  border: solid 1px transparent;
}

/**
 * 1. For expanded panel mode, we want to hide the grid, but keep it rendered so it doesn't cause all visualizations
 * to re-render once the panel is minimized, which is a time consuming operation.
 */
.panel--hidden-mode {
  display: none; /* 1. */
}

.panel--expanded-mode {
  height: 100%;
  width: 100%;
}

.panel--edit-mode {
  border-color: $euiColorLightShade;

  &:hover {
    border-color: $euiColorPrimary;

    .panel-title:hover {
      color: $euiColorPrimary;
    }

    .panel-heading {
      background-color: rgba($euiColorFullShade,.05) !important;
    }
  }

  .panel-heading {
    cursor: move;
  }
}

.dashboard-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dashboard-container-with-margins {
  background-color: $euiColorLightestShade;
}

/**
 * Disable transitions from the library on each grid element.
 */
.react-grid-item {
  transition: none;
}

/**
 * Dragged panels in dashboard should always appear above other panels.
 */
.react-grid-item.react-draggable-dragging {
  z-index: $dashGrid__depth-dragging !important;
}

/**
 * Overwrites red coloring that comes from this library by default.
 */
.react-grid-item.react-grid-placeholder {
  border-radius: 4px;
  background: $euiColorPrimary;
}

/**
 * 1. Fix Firefox bug where a value of overflow: hidden will prevent scrolling in a panel where the spy panel does
 * not have enough room.
 */
.dashboard-panel {
  z-index: auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;

  background: $euiColorEmptyShade;
  color: $euiTextColor;
  padding: 0;
  overflow: visible; /* 1 */

  position: relative;

  .panel {
    margin: 0;
    // maintain the 100% height of the panel
    height: 100%;
    flex: 1;

    // flex layout allows us to define the visualize element as "fill available space"
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .panel-heading {
      padding: 8px;
      flex: 0 0 auto;
      white-space: nowrap;
      display: flex;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      background-color: $euiColorEmptyShade;
      border: none;

      /**
       * 1. Required to get the pop up component arrow to line up with the menu icon.
       */
      .panel-dropdown:hover {
        color: $euiColorPrimary;
      }

      .kuiPopover__body {
        z-index: 25;
      }

      .panel-title {
        font-size: inherit;

        // flexbox fix for IE10
        // http://stackoverflow.com/questions/22008135/internet-explorer-10-does-not-apply-flexbox-on-inline-elements
        display: inline-block;

        @include truncate;
        flex: 1 1 auto;

        i {
          opacity: 0.3;
          font-size: 1.2em;
          margin-right: 4px;
        }
      }

      .panel-move:hover {
        cursor: move;
      }
    }

    /**
     * 1. Use opacity to make this element accessible to screen readers and keyboard.
     * 2. Show on focus to enable keyboard accessibility.
     */
    .panel-heading-floater {
      opacity: 0; /* 1 */
      position: absolute;
      right: 1px;
      top: 1px;
      background-color: $euiColorEmptyShade;
      z-index: 5;
      &:focus {
        opacity: 1; /* 2 */
      }
    }

    /**
     * 1. Use opacity to make this element accessible to screen readers and keyboard.
     * 2. Show on focus to enable keyboard accessibility.
     */
    .viewModeOpenContextMenuIcon {
      opacity: 0; /* 1 */
      &:focus {
        opacity: 1; /* 2 */
      }
    }

    &:hover {
      .panel-heading-floater {
        opacity: 1;
      }
      .viewModeOpenContextMenuIcon {
        opacity: 1;
      }
    }

    .load-error {
      text-align: center;
      font-size: 1em;
      display: flex;
      flex: 1 0 auto;
      justify-content: center;
      flex-direction: column;
      overflow: auto;

      .fa-exclamation-triangle {
        font-size: 2em;
        color: $euiColorDanger;
      }
    }

    /**
     * 1. For tile maps, this is necessary to get the panel pop over to show up. Otherwise the tilemap ends up having
     * a bigger z-index than the pop over.
     */
    .panel-content {
      display: flex;
      flex: 1 1 100%;
      height: auto;
      z-index: 1; /* 1. */
    }

    .panel-content--fullWidth {
      width: 100%;
    }
  }

  /**
   * 1. We want the doc-table-container to scroll only when embedded in a dashboard panel
   */
  .doc-table-container {
    flex: 1 1 0; /* 1 */
    overflow: auto; /* 1 */
  }
}


.dashboardPanelMenuOptionsForm {
  padding: 16px;
  input {
    width: 100%;
    display: block;
  }
}
