.dashboardModal {
  width: 450px;
}

.start-screen {
  margin: 20px auto;
  max-width: 800px;
  width: 100%;
  background: #FFF;
  padding: 40px;
  border-radius: 4px;
}


.dashboard-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $euiColorEmptyShade;
}

.dashboard-container-with-margins {
  background-color: $euiColorLightestShade;
}
