@import (reference) "~ui/styles/variables";
@import (reference) "~ui/styles/mixins";
@import "~ui/styles/local_search.less";
@import "~react-grid-layout/css/styles.css";
@import "~react-resizable/css/styles.css";

.exitFullScreenButton {
  text-align: center;
  width: 100%;
  height: 0;
  bottom: 0;
  position: absolute;
}

.layout-edit {
  /**
   * 1. If we don't give the resizable handler a larger z index value the spy toggle will take over the mouse hover.
   */
  .react-resizable-handle {
    z-index: 10; /* 1 */
    right: 4px;
    bottom: 4px;
  }
}

.euiContextMenuItem {
  display: block;
}

.layout-view {
  /**
   * 1. Due to https://github.com/STRML/react-grid-layout/issues/240 we have to manually hide the resizable
   * element.
   */
  .react-resizable-handle {
    display: none; /* 1. */
  }
}

/**
 * 1. Need to override the react grid layout height when a single panel is expanded. Important is required because
 * otherwise the height is set inline.
 */
.layout-maximized-panel {
  height: 100% !important; /* 1. */
  width: 100%;
  position: absolute;
}

.exitFullScreenMode {
  height: 40px;
  left: 0px;
  bottom: 0px;
  position: fixed;
  display: block;
  padding: 0;
  border: none;
  background: none;
  z-index: 5;
}

.exitFullScreenMode:hover,
.exitFullScreenMode:focus {
  transition: all .5s ease;

  .exitFullScreenModeText {
    visibility: visible;
    opacity: 1;
    transition: all .2s ease;
    transform: translateX(-14px);
  }
}

.exitFullScreenModeLogo {
  display: block;
  background-color: #005571;
  width: 92px;
  height: 40px;
  background-image: url("~ui/images/kibana.svg");
  background-position: 8px 5px;
  background-size: 72px 30px;
  background-repeat: no-repeat;
  z-index: 50;
}

/**
 * 1. Calc made to allow caret in text to peek out / animate.
 */

.exitFullScreenModeText {
  background: @globalColorBlue;
  color: tint(@globalColorBlue, 70%);
  line-height: 40px;
  display: inline-block;
  height: 40px;
  position: absolute;
  left: calc(100% + 14px);  // 1
  top: 0px;
  bottom: 0px;
  white-space: nowrap;
  padding: 0px 4px 0px 10px;
  transition: all .2s ease;
  transform: translateX(-100%);
  z-index: -1;
}

.dashboardPanelMenuOptionsForm {
  padding: 16px;
  input {
    width: 100%;
    display: block;
  }
}

.dashboardLandingPage {
  min-height: 100vh;
  background: @globalColorLightestGray;
}

.dashboardLandingPage__content {
  max-width: 1000px;
  margin: auto;
}
