<div ng-if="!history.complete" class="alert alert-info" role="alert">
  Request in progress
</div>

<div ng-show="spyMode.name === 'request'">
  <label>
    Elasticsearch request body &nbsp;
  </label>
  <pre>{{history.req | json}}</pre>
</div>

<div ng-show="spyMode.name === 'response'">
  <label>
    Elasticsearch response body &nbsp;
  </label>
  <pre>{{history.resp | json}}</pre>
</div>

<div ng-show="spyMode.name === 'stats'">
  <table class="table">
    <tr ng-repeat="pair in history.meta">
      <td>{{pair[0]}}</td>
      <td>{{pair[1]}}</td>
    </tr>
  </table>
</div