<div class="kuiHeader">
  <section class="kui--flexRow">
    <section class="kui--flexGrow1">
      <span class="kui--flex">
        <div class="kuiHeaderItem kuiHeaderItem--borderRight">
          <a href="" class="kuiHeaderItem__logo">
            <svg class="kuiIcon kuiHeaderItem__logoIcon">
              <use href="#logo" />
            </svg>
          </a>
        </div>
        <a href="#" class="kuiHeaderBreadcrumb">
          <span class="kuiHeaderBreadcrumb__text">Management</span>
        </a>
        <a href="#" class="kuiHeaderBreadcrumb">
          <span class="kuiHeaderBreadcrumb__text">Truncation test is here</span>
        </a>
        <span class="kuiHeaderBreadcrumb isCollapsed">
          <span class="kuiHeaderBreadcrumb__text">&#8230;</span>
        </span>
        <a href="#" class="kuiHeaderBreadcrumb">
          <span class="kuiHeaderBreadcrumb__text">Users</span>
        </a>
        <a href="#" class="kuiHeaderBreadcrumb isActive">
          <span class="kuiHeaderBreadcrumb__text">Create</span>
        </a>
      </span>
    </section>
    <section class="kui--flexShrink1 kui--textAlignRight">
      <div class="kui--flex">
        <div class="kuiHeaderItem">
          <button class="kuiHeaderItem__button">
            <svg class="kuiIcon kuiIcon--medium">
              <use href="#search" />
            </svg>
          </button>
        </div>
        <div class="kuiHeaderItem kuiPopMenu kuiPopMenu--anchorRight" data-id="toggleButton">
          <button class="kuiHeaderItem__button">
            <svg class="kuiIcon kuiIcon--medium kui--verticalAlignMiddle">
              <use href="#user" />
            </svg>
            <span class="kuiHeader__notification">3</span>
          </button>
          <div class="kuiPopMenu__body kui--bottomShadow" data-id="toggleMenu">
            <div class="kuiHeaderProfile kui--flexRow kui--flexAlignItemsCenter">
              <div class="kui--flexShrink1 kui--paddingRight">
                <div class="kuiAvatar kuiAvatar--large" style="background:url('http://lorempixel.com/64/64/cats/')">
                </div>
              </div>
              <div class="kui--flexGrow1">
                <p class="kui--marginBottom">John Username</p>
                <div class="kui--flexRow">
                  <div class="kui--flexGrow1">
                    <a href="" class="kuiLink">Edit profile</a>
                  </div>
                  <div class="kui--flexGrow1 kui--textAlignRight">
                    <a href="" class="kuiLink">Log out</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="kuiHeaderAlert">
              <svg tabindex="0" class="kuiIcon kuiIcon--medium kuiHeaderAlert__dismiss">
                <use href="#cross" />
              </svg>
              <p class="kuiHeaderAlert__title">Here's a notification title</p>
              <p class="kuiHeaderAlert__text">I am the hat judge. Show me a hat and I will tell you if it's a good hat or bad hat.</p>
              <div class="kui--flexRow">
                <div class="kui--flexGrow1">
                  <a href="" class="kuiHeaderAlert__action">Download your thing here</a>
                </div>
                <div class="kui--flexGrow1 kuiHeaderAlert__date">
                  Nov. 14, 02:14PM.
                </div>
              </div>
            </div>
            <div class="kuiHeaderAlert">
              <svg tabindex="0" class="kuiIcon kuiIcon--medium kuiHeaderAlert__dismiss">
                <use href="#cross" />
              </svg>
              <p class="kuiHeaderAlert__title">Here's a really long notification title with nonsense beneath it.</p>
              <p class="kuiHeaderAlert__text">Walk the cow through a warm room, and then bring it to my plate.</p>
              <div class="kui--flexRow">
                <div class="kui--flexGrow1">
                  <a href="" class="kuiHeaderAlert__action">Download your thing here</a>
                </div>
                <div class="kui--flexGrow1 kuiHeaderAlert__date">
                  Nov. 14, 02:14PM.
                </div>
              </div>
            </div>
            <div class="kuiHeaderAlert">
              <svg tabindex="0" class="kuiIcon kuiIcon--medium kuiHeaderAlert__dismiss">
                <use href="#cross" />
              </svg>
              <p class="kuiHeaderAlert__title">Here's a notification title</p>
              <p class="kuiHeaderAlert__text">Only usable on grilled cheese sandwiches. That is the only application of Kraft Singles as far as I'm concerned.</p>
              <div class="kui--flexRow">
                <div class="kui--flexGrow1">
                  <a href="" class="kuiHeaderAlert__action">Download your thing here</a>
                </div>
                <div class="kui--flexGrow1 kuiHeaderAlert__date">
                  Nov. 14, 02:14PM.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kuiHeaderItem kuiPopMenu kuiPopMenu--anchorRight" data-id="toggleButton">
          <button class="kuiHeaderItem__button">
            <svg tabindex="0" class="kuiIcon kuiIcon--medium">
              <use href="#apps" />
            </svg>
          </button>
          <div class="kuiPopMenu__body kui--bottomShadow" data-id="toggleMenu">
            <div class="kuiKeyPad">
              <a href="" class="kuiKeyPad__item">
                <svg class="kuiIcon kuiIcon--xLarge kuiKeyPad__icon">
                  <use href="#app_discover" />
                </svg>
                <p>Discover</p>
              </a>
              <a href="" class="kuiKeyPad__item">
                <svg class="kuiIcon kuiIcon--xLarge kuiKeyPad__icon">
                  <use href="#app_dashboard" />
                </svg>
                <p>Discover</p>
              </a>
              <a href="" class="kuiKeyPad__item">
                <svg class="kuiIcon kuiIcon--xLarge kuiKeyPad__icon">
                  <use href="#app_devtools" />
                </svg>
                <p>Discover</p>
              </a>
              <a href="" class="kuiKeyPad__item">
                <svg class="kuiIcon kuiIcon--xLarge kuiKeyPad__icon">
                  <use href="#app_ml" />
                </svg>
                <p>Discover</p>
              </a>
              <a href="" class="kuiKeyPad__item">
                <svg class="kuiIcon kuiIcon--xLarge kuiKeyPad__icon">
                  <use href="#app_graph" />
                </svg>
                <p>Discover</p>
              </a>
              <a href="" class="kuiKeyPad__item">
                <svg class="kuiIcon kuiIcon--xLarge kuiKeyPad__icon">
                  <use href="#app_visualize" />
                </svg>
                <p>Discover</p>
              </a>
              <a href="" class="kuiKeyPad__item">
                <svg class="kuiIcon kuiIcon--xLarge kuiKeyPad__icon">
                  <use href="#app_timelion" />
                </svg>
                <p>Discover</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
