<div class="kuiHeader">
  <section class="u-flex-row">
    <section class="u-flex-grow-1">
      <span class="u-flex">
        <div class="kuiHeader__logo"></div>
        <a href="" class="kuiHeader__breadcrumb">Management</a>
        <a href="" class="kuiHeader__breadcrumb">Elasticsearch</a>
        <a href="" class="kuiHeader__breadcrumb">Users</a>
        <a href="" class="kuiHeader__breadcrumb isActive">Create</a>
      </span>
    </section>
    <section class="u-flex-grow-1 u-text-align-right">
      <button class="kuiHeader__button">
        <svg class="kuiIcon kuiIcon--medium">
          <use href="#search" />
        </svg>
      </button>
      <button class="kuiHeader__button">
        <svg class="kuiIcon kuiIcon--medium">
          <use href="#search" />
        </svg>
      </button>
      <button class="kuiHeader__button">
        <svg class="kuiIcon kuiIcon--medium">
          <use href="#search" />
        </svg>
      </button>
    </section>
  </section>
</div>
