%kibana-panel{"ng-controller" => "stringquery", "ng-init" => "init()"}
  %div{"ng-show" => "!panel.multi"}
    %form
      %table.form-horizontal
        %tr
          %td
            %label
              %small {{panel.label}}
        %tr
          %td{:style => "padding-right:20px", :width => "97%"}
            %span{:style => "position:relative"}
              %i.icon-remove-sign.pointer{"ng-click" => "panel.query='';send_query(panel.query)", "ng-show" => "panel.query.length &gt; 0", :style => "position:absolute;left:10px;top:3px"}
              %input{"bs-typeahead" => "panel.history", "data-items" => "100", "data-min-length" => "0", "ng-model" => "panel.query", :style => "text-indent:20px;width:100%", :type => "text"}/
          %td{:style => "margin-left:20px", :width => "1%"}
            %button.btn.btn-success.btn-small{"ng-click" => "send_query(panel.query)", :style => "margin-top:0px", :type => "submit"}
              %i.icon-search
        %tr
  .row-fluid{"ng-show" => "panel.multi &amp;&amp; panel.multi_arrange == 'horizontal'"}
    %span{"ng-repeat" => "q in panel.query"}
      %span{:style => "margin-bottom:0px;margin-right:5px;display:inline-block;position:relative"}
        %i.icon-remove-sign.pointer{"ng-click" => "remove_query($index);send_query(panel.query)", "ng-show" => "panel.query.length &gt; 1", :style => "position:absolute;left:10px;top:8px"}
        %input{"bs-typeahead" => "panel.history", "data-items" => "100", "data-min-length" => "0", "ng-model" => "panel.query[$index]", "ng-model-onblur" => "", :style => "width:90%", :type => "text"}/
        %br/
    %br/
    %button.btn.btn-info{"ng-click" => "send_query(panel.query)", :type => "submit"}
      %i.icon-search
      Search
    %button.btn{"ng-click" => "add_query();", :type => "submit"}
      %i.icon-plus
  %div{"ng-show" => "panel.multi &amp;&amp; panel.multi_arrange == 'vertical'"}
    %form
      %table.form-horizontal{:style => "margin-bottom:5px;"}
        %tr
          %td.small Queries
        %tr{"ng-repeat" => "q in panel.query", :style => "margin-bottom:10px"}
          %td{:width => "99%"}
            %span{:style => "position:relative"}
              %i.icon-remove-sign.pointer{"ng-click" => "remove_query($index);send_query(panel.query)", "ng-show" => "panel.query.length &gt; 1", :style => "position:absolute;left:10px;top:3px"}
              %input{"bs-typeahead" => "panel.history", "data-items" => "100", "data-min-length" => "0", "ng-model" => "panel.query[$index]", "ng-model-onblur" => "", :style => "text-indent: 20px;width:100%", :type => "text"}/
          %td{:style => "visibility:hidden", :width => "1%"}
            %button.btn.btn-info{:type => "submit"}
      %button.btn.btn-info{"ng-click" => "send_query(panel.query)", :type => "submit"}
        %i.icon-search
        Search
      %button.btn{"ng-click" => "send_query(panel.query);add_query();", :type => "submit"}
        %i.icon-plus
        Add Query
