@import (reference) '../../style/variables';

.canvas__arg {
  &:not(:last-child) {
    border-bottom: @borderStyle;
  }

  .form-control {
    font-size: @textXSmall;
  }

  &:hover {
    .canvas__arg--remove {
      visibility: visible;
    }
  }

  .canvas__arg--label {
    margin: @spacingS;
    flex-shrink: 0;
  }

  .canvas__arg--simple {
    display: flex;
    align-items: center;
  }

  .canvas__arg--simple-controls {
    width: 100%;
    margin: @spacingS;
  }

  .canvas__arg--controls {
    padding: 0 @spacingS @spacingS @spacingS;

    .canvas__arg--controls--submit {
      text-align: right;

      button {
        margin-left: @spacingM;
      }
    }
  }

  .canvas__arg--remove {
    visibility: hidden;
  }
}
