@import (reference) "../../style/variables";

.canvas__arg {

  &:not(:last-child) {
    border-bottom: @borderStyle;
  }

  .form-control {
    font-size: @textXSmall;
  }

  &:hover {
    .canvas__arg--remove {
      visibility: visible;
    }
  }

  .canvas__arg--header {
    display: flex;

    .canvas__arg--label {
      margin: @spacingM @spacingS;
      flex-shrink: 0;

      i {
        width: @spacingM;
      }

    }

    .canvas__arg--simple {
      display: flex;
      flex: 1 0;
      justify-content: flex-end;
      align-items: center;
    }

    .canvas__arg--simple-wrapper {
      width: 100%;

      .canvas__arg--simple-controls {
        text-align: right;
        margin-left: @spacingM;

        select.form-control {
          border-bottom: 0px;
        }
      }

      .canvas__arg--simple-top {
        align-self: flex-start;
      }

      .canvas__arg--simple-bottom {
        align-self: flex-end;
      }
    }
  }

  .canvas__arg--controls {
    padding: 0 @spacingS @spacingS @spacingS;

    .canvas__arg--controls--submit {
      text-align: right;

      button {
        margin-left: @spacingM;
      }
    }
  }

}

.canvas__arg--remove {
  cursor: pointer;
  visibility: hidden;
  margin: @spacingM @spacingS;
  flex-shrink: 0;

  &:hover {
    color: @red;
  }
}
