@import (reference) "../../style/variables";

.canvas__arg {
  border-bottom: @borderStyle;
  margin: 0 @spacingM;

  .form-control {
    font-size: @textXSmall;
  }

  &:hover {
    .canvas__arg--remove {
      visibility: visible;
    }
  }

  .canvas__arg--header {
    display: flex;

    .canvas__arg--label {
      padding: @spacingM @spacingS;
      flex-shrink: 0;
      font-weight: bold;

      i {
        width: @spacingM;
      }
    }

    .canvas__arg--simple-wrapper {
      flex-shrink: 0;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .canvas__arg--simple {
        width: 100%;
        text-align: right;
        margin-left: @spacingM;
      }
      .canvas__arg--simple-top {align-self: flex-start;}
      .canvas__arg--simple-bottom {align-self: flex-end;}
    }

  }

  .canvas__arg--controls {
    padding: 0 @spacingS @spacingM @spacingS;
  }

}

.canvas__arg--remove {
  cursor: pointer;
  visibility: hidden;
  margin: @spacingM @spacingS;
  flex-shrink: 0;

  &:hover {
    color: @red;
  }
}
