.kuiSideNav__mobileToggle {
  display: none;
  flex-direction: row;
  color: $kuiColorEmptyShade;
  border-bottom: $kuiBorderThin;
  padding: $kuiSize $kuiSizeL;
}

.kuiSideNav__mobileIconWrap {
}

.kuiSideNav__mobileIcon {
  fill: $kuiColorPrimary;
}

.kuiSideNav__mobileTitle {
  flex-grow: 1;
  color: $kuiColorPrimary;
}

@include screenXSmall {

  .kuiSideNav {
    &.isOpenMobile {
      .kuiSideNav__content {
        visibility: visible;
        opacity: 1;
        height: auto;
        margin: $kuiSizeL;
        max-height: 5000px;
      }
    }
  }

  .kuiSideNav__mobileToggle {
    display: flex;
  }

  .kuiSideNav__content {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    margin: 0 $kuiSizeL;
    transition: all $kuiAnimSpeedNormal $kuiAnimSlightResistance;
  }
}
