.kuiSideNavItem {
  @include kuiFontSizeS;

  display: block;
  width: 100%;
  text-align: left;
  padding: $kuiSizeXXS 0;
  color: $kuiColorDarkShade;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.kuiSideNavItem-isSelected {
    color: $kuiTextColor;
    font-weight: $kuiFontWeightMedium;
    cursor: default;
  }

  // We allow one level of nesting.
  &.kuiSideNavItem--indent {
    padding-left: $kuiSizeS;
  }

  &:hover, &:focus {
    &:not(.kuiSideNavItem-isSelected) {
      color: $kuiTextColor;
      text-decoration: underline;
    }
  }
}
