@import (reference) "~ui/styles/variables";

.visEditor--vega {
  .visEditorSidebar__config {
    // Vega controls its own padding, no need for additional padding
    padding: 0 !important;
  }
}

visualization-editor {

  .vegaEditor {
    display: flex;
    flex: 1 1 auto;
    position: relative;

    // If the screen too small, make sure the editor has some height
    min-height: 18em;
    @media (min-width: @screen-md-min) {
      min-height: unset;
    }

    #editor_actions {
      position: absolute;
      margin: 0.6em 1.3em;
      z-index: 80;

      ul.dropdown-menu {
        left: auto;
        right: 0;
      }
    }

    #vegaAceEditor {
      flex: 1 1 auto;
    }
  }
}
