.vis-type-vega {
  .index-pattern {
    display: none;
  }

  .vis-editor-config {
    // this is the only control, no need for padding
    padding: 0 !important;
  }
}

visualization-editor {

  .vegaEditor {
    display: flex;
    flex: 1 1 auto;
    position: relative;

    #editor_actions {
      position: absolute;
      margin: 0.6em 1.3em;

      ul.dropdown-menu {
        left: auto;
        right: 0;
      }
    }

    #vegaAceEditor {
      flex: 1 1 auto;
    }
  }
}
