@import (reference) "~ui/styles/variables";

.vis-type-vega {
  .vis-editor-config {
    // this is the only control, no need for padding
    padding: 0 !important;
  }

  // Hiding the "discard" button, which is not needed for a single text entry editor:
  // * There are other ways to undo: Ctrl+Z, window refresh, or navigating away to another Kibana tab.
  // * It is dangerous as it may result in large loss of work without a way to undo
  .navbar-nav li:nth-of-type(3) {
    display: none;
  }
}

visualization-editor {

  .vis-editor-canvas {
    padding-left: 0;
  }

  .vegaEditor {
    display: flex;
    flex: 1 1 auto;
    position: relative;

    // If the screen too small, make sure the editor has some height
    min-height: 18em;
    @media (min-width: @screen-md-min) {
      min-height: unset;
    }

    #editor_actions {
      position: absolute;
      margin: 0.6em 1.3em;
      z-index: 80;

      ul.dropdown-menu {
        left: auto;
        right: 0;
      }
    }

    #vegaAceEditor {
      flex: 1 1 auto;
    }
  }
}
