
<div class="localNav">
  <div class="localNavRow">
    <div class="localNavRow__section">
      <div class="localTitle">
        Untitled Document
      </div>
    </div>

    <div class="localNavRow__section">
      <div class="localMenu">
        <div class="localMenuItem">
          New
        </div>

        <div class="localMenuItem">
          Save
        </div>

        <div class="localMenuItem">
          Open
        </div>

        <button class="localMenuItem">
          <div class="localMenuItem__icon fa fa-clock-o"></div>
          Last 5 minutes
        </button>
      </div>
    </div>
  </div>
</div>
