.kuiVerticalRhythm {
  & + & {
    margin-top: $verticalRhythmSpacing;
  }
}

.kuiVerticalRhythmSmall {
  & + & {
    margin-top: $verticalRhythmSmallSpacing;
  }
}

.kuiVerticalRhythmLarge {
  & + & {
    margin-top: $verticalRhythmLargeSpacing;
  }
}

.kuiVerticalRhythmXLarge {
  & + & {
    margin-top: $verticalRhythmXLargeSpacing;
  }
}
