//== Colors
//

// KUI coloring =====================================================================

@globalColorBlue: #006BB4;
@globalColorLightBlue: #006E8A;
@globalColorRed: #BD271E;
@globalColorLightestGray: #F5F7FA;
@globalColorLightGray: #D3DAE6;
@globalColorLighterGray: #a7a7a7;
@globalColorMediumGray: #98A2B3;
@globalColorDarkGray: #69707D;
@globalColorDarkestGray: #343741;
@globalColorBlack: #000;
@globalColorWhite: #FFF;
@globalColorTeal: #017D73;
@globalColorOrange: #F5A700;
@globalColorPurple: #7800A6;

//## Gray and brand colors for use across Bootstrap.

@white:                                 #ffffff;
@black:                                 #000000;

@gray2:                                 #222222;
@gray3:                                 #333333;
@gray4:                                 #444444;
@gray5:                                 #555555;
@gray6:                                 #69707D;
@gray7:                                 #777777;
@gray8:                                 #888888;
@gray9:                                 #999999;
@gray10:                                #aaaaaa;
@gray11:                                #bbbbbb;
@gray12:                                #cccccc;
@gray13:                                #dddddd;
@gray14:                                #eeeeee;

@gray-base:                             @black;
@gray-darker:                           @gray2;
@gray-dark:                             #7b8a8b;
@gray:                                  #95a5a6;
@gray-light:                            #b4bcc2;
@gray-lighter:                          @globalColorLightGray;

@esGreen:                               #94C63D;
@esGreen2:                              darken(@esGreen, 25%);

@brand-primary:                         @gray4;
@brand-success:                         #017D73;
@brand-info:                            #006BB4;
@brand-warning:                         #F5A700;
@brand-danger:                          @globalColorRed;

@kibanaGray1:                           #2D2D2D;
@kibanaGray2:                           #5A5A5A;
@kibanaGray3:                           #666;
@kibanaGray4:                           #BEBEBE;
@kibanaGray5:                           #E4E4E4;
@kibanaGray6:                           #F6F6F6;
@kibanaGray7:                           #FFFFFF;

@kibanaBlue1:                           darken(@kibanaBlue2, 10%);
@kibanaBlue2:                           @globalColorBlue;
@kibanaBlue3:                           @globalColorBlue;
@kibanaBlue4:                           #9DD0E0;
@kibanaBlue5:                           #CEE8F0;
@kibanaBlue6:                           #f5fafb;

@kibanaGreen1:                          #80C383;
@kibanaGreen2:                          #AEE8B0;

@kibanaYellow1:                         #FBCE47;
@kibanaYellow2:                         #F5DD94;

@kibanaRed1:                            #D76051;
@kibanaRed2:                            #FF9183;

@kibanaPurple1:                         #9980B2;
@kibanaPurple2:                         #CDB5E4;

@kibanaPink1:                           #DD0A73;
@kibanaPink2:                           #FF95C1;

@product-kibana:                          @kibanaPink1;
@product-elasticsearch:                   #3EBEB0;
@product-logstash:                        #F3BD19;
@product-beats:                           #07A5DE;
