/**
 * 1. The local nav contains tooltips which should pop over the filter bar.
 * 2. The filter and local nav components should always appear above the dashboard grid items.
 * 3. The filter and local nav components should always appear above the discover content.
 * 4. The sidebar collapser button should appear above the main Discover content but below the top elements.
 * 5. Dragged panels in dashboard should always appear above other panels.
 */
@filterBarDepth: 4; /* 1 */
@localNavDepth: 5; /* 1 */
@dashboardGridDepth: 1; /* 2 */
@dashboardDraggingGridDepth: 2; /* 5 */
@discoverWrapperDepth: 1; /* 3 */
@discoverSidebarDepth: 2; /* 4 */
