/**
 * 1. The local nav contains tooltips which should pop over the filter bar.
 * 2. The filter and local nav components should always appear above the dashboard grid items.
 */
@filterBarDepth: 2; /* 1 */
@localNavDepth: 3; /* 1 */
@dashboardGridDepth: 1; /* 2 */
