@import (reference) "../../style/main";

// It is up to the element to handle its overflow.
.canvas__workpad--element {
  height: 100%;
  width: 100%;
}

.canvas__element--content {
  height: 100%;
  width: 100%;
}
