<div>
  <div class="sidebar-item-title">
    Trend Lines

    <div class="vis-editor-agg-header-controls btn-group" style="float: right;">
      <!-- remove button -->
      <button aria-label="Add value axis" ng-click="addTrendLine()" tooltip="Add value axis" tooltip-append-to-body="true" type="button" class="btn btn-xs btn-primary ng-scope">
        <i aria-hidden="true" class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <div ng-repeat="trend in vis.params.trendLines track by trend.id" class="vis-editor-agg-group">
  <div class="vis-editor-agg-wrapper">
    <!-- agg.html - controls for aggregation -->
    <ng-form name="aggForm" class="vis-editor-agg"><!-- header -->
      <div class="vis-editor-agg-header">
        <!-- open/close editor -->
        <button aria-label="Open Editor" ng-click="editorOpen = !editorOpen" type="button" class="btn btn-primary btn-xs vis-editor-agg-header-toggle">
          <i aria-hidden="true" ng-class="{ 'fa-caret-down': editorOpen, 'fa-caret-right': !editorOpen }" class="fa fa-caret-right"></i>
        </button>

        <!-- title -->
        <span class="vis-editor-agg-header-title">{{trend.id}}</span>

        <div class="vis-editor-agg-header-controls btn-group">
          <!-- remove button -->
          <button ng-if="vis.params.valueAxes.length > 1" aria-label="Remove value axis" ng-click="removeTrendLine(axis)" tooltip="Remove value axis" tooltip-append-to-body="true" type="button" class="btn btn-xs btn-danger ng-scope">
            <i aria-hidden="true" class="fa fa-times"></i>
          </button>
        </div>
      </div>

      <div group-name="groupName" ng-show="editorOpen" class="vis-editor-agg-editor">
        <div class="vis-option-item form-group">

        </div>
      </div>
    </ng-form>
  </div>
</div>
</div>
