/* vislib styles */

.arc path {
  stroke: #fff;
  /* stroke-width: 3px; */
}

div.columns {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  margin: 0;
  padding: 0;
}

div.rows {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  margin: 0;
  padding: 0;
}

.row-labels, .column-labels {
  margin: 0;
  padding: 10;
}

visualize {
  margin:0;
  padding:0;
}

.visualize-chart {
  display: flex;
  flex: 1 1 100%;
}

.visualize-wrapper {
  display: flex;
  flex-direction: row;
}

.y-axis-wrapper {
  display: flex;
  flex: 1 1;
  flex-direction: column;
}

.y-axis-div {
  flex: 5 1;
  min-width: 35px
}

.y-axis-filler-div {
  flex: 1 1;
}

//.legend-wrapper {
//   flex: 1 1;
//}

div.x-axis-label {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 15px;
  font-size: 7pt;
  color: #848e96;
}

div.y-axis-label {
  position: absolute;
  left: -25px;
  top: 42.5%;
  font-size: 7pt;
  color: #848e96;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

/*  legends  */
.header {
  width: 100%;
  height: 26px;
  margin: 0 0 14px 0;
}
.legend-ul {
  list-style-type: none;
  margin: 0 0 0 10px]]];
  padding: 0;
  visibility: visible;
  display: flex;
  flex-direction: column;
  
}
.legend-ul.hidden {
  visibility: hidden;
}

li.color {
  // display: block;
  // float: left;
  min-height: 22px;
  margin: 0 18px 0 18px;
  padding: 3px 0 3px 0;
  text-align: left;
  // word-wrap: break-word;
  font-size: 12px;
  line-height: 13px;
  color: #666;
  // list-style: none;
  cursor: default;

  text-align: left;
  flex-grow: 2;

}

.dots {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: left;
  margin: 1px 0 0 -14px;
}

.legend-toggle {
  position: relative;
  float: right;
  right: 9px;
  top: 9px;
}

.column-labels {
  color: #777;
  font-size: 10pt;
  font-weight: normal;
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 1.0em;
  line-height: 2.0em;
}

/*  histogram axis and label styles  */
.vis-canvas {
  /* background-color: #fff; */
}

.chart-bkgd {
  fill: #ffffff;
  /*fill: #eff3f4;*/
  /*stroke: #ddd;*/
  /*shape-rendering: crispEdges;*/
}

p.rows-label, p.columns-label {
  display: block;
  background: #eff3f4;
  padding: 0;
  margin: 0;
  font-size: 9pt;
  fill: #46525d;
  text-align: center;
  line-height: 1.9em;
}

.charts-label {
  font-size: 8pt;
  fill: #848e96;
}

.x-axis-label, .y-axis-label {
  font-size: 7pt;
  fill: #848e96;
}

.tick text {
  font-size: 7pt;
  fill: #848e96;
  /*cursor: pointer;*/
}

.axis {
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

path, line, .axis line, .axis path {
  stroke: #ddd;
  fill: none;
  shape-rendering: crispEdges;
}

.legend-box {
   fill: #ffffff;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.layer .rect:hover {
  stroke: 3px;
}

.k4tip {
  line-height: 1;
  font-size: 12px;
  font-weight: normal;
  padding: 8px;
  background: rgba(70, 82, 93, 0.95);
  color: #fff;
  border-radius: 4px;
  position: fixed;
  z-index: 20;
  visibility: hidden;
}

.rect {
  /*shape-rendering: crispEdges;*/
  stroke: transparent;
  stroke-width: 2;
}
.rect.hover {
  /*shape-rendering: crispEdges;*/
  stroke: #333;
}

/* Flex Box */
.vis-wrapper {
  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
  margin: 10px 0 0 6px;
}

.error-wrapper {
  display: flex;
  flex: 1 1 100%;
}

.error {
  font-size: 18px;
  text-align: center;
  text-wrap: break-word;
}

/* YAxis logic */
.y-axis-col-wrapper {
  display: flex;
  flex: 2 1;
  flex-direction: column;
  min-width: 50px;
}

.y-axis-col {
  display: flex;
  flex: 35 1;
  flex-direction: row;
}

.y-axis-title {
  // flex: 1 1;
  width: 15px
}

.y-axis-title text {
  font-size: 11px;
}

.y-axis-chart-title {
  display: flex;
  // flex: 1 1;
  flex-direction: column;
  width: 15px
}

.chart-title {
  flex: 1 1;
}

.chart-title text {
  font-size: 11px;
  fill: #848e96;
}

.y-axis-div-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 20px
}

.vis-col-wrapper {
  display: flex;
  flex: 35 1;
  flex-direction: column;
}

.chart-wrapper {
  display: flex;
  flex: 35 1;
  overflow: visible;
}

.chart-wrapper-column {
  display: flex;
  flex: 35 1;
  flex-direction: row;
}

.chart-wrapper-row {
  display: flex;
  flex: 35 1;
  flex-direction: column;
}

.chart {
  flex: 1 1;
  overflow: visible;
}

.chart-row {
  flex: 1 1;
}

.chart-column {
  flex: 1 1;
}



.y-axis-spacer-block {
  flex: 6 1;
}

.x-axis-wrapper {
  display: flex;
  flex: 6 1;
  flex-direction: column;
  overflow: visible;
}

.x-axis-div-wrapper {
  display: flex;
  // flex: 6 1;
  flex-direction: row;
  // overflow: visible;
  min-height: 16px;
}



.x-axis-chart-title {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  min-height: 15px;
  max-height: 15px;
}

.x-axis-title {
  flex: 1 1;
  min-height: 15px;
  max-height: 15px;
}

.x-axis-title text {
  font-size: 11px;
}

.x-axis-div {
  flex: 1 1;
  overflow: visible;
  margin-top: -5px;
}

.legend-col-wrapper {
  flex: 0 1 auto;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 30px
}

.x.axis path {
  display: none;
}

