.header-global-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-global-wrapper + .app-wrapper {
  top: 48px;
  left: 48px;

  // HOTFIX: Temporary fix for flyouts not inside portals
  // SASSTODO: Find an actual solution
  .euiFlyout {
    top: 48px;
  }
}

// Mobile header is smaller
@include euiBreakpoint('xs') {
  .header-global-wrapper + .app-wrapper {
    top: 36px;
    left: 0;

    .euiFlyout {
      top: 36px;
    }
  }
}

// Mobile header is smaller
@include euiBreakpoint('s') {
  .header-global-wrapper + .app-wrapper {
    left: 0;
  }
}
