// Size variables
$euiHeaderNavSize: $euiSizeXL + $euiSize;
$euiHeaderNavSizeMobile: $euiHeaderNavSize * .75;

.header-global-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-global-wrapper + .app-wrapper:not(.hidden-chrome) {
  top: $euiHeaderNavSize;
  left: $euiHeaderNavSize;

  // HOTFIX: Temporary fix for flyouts not inside portals
  // SASSTODO: Find an actual solution
  .euiFlyout {
    top: $euiHeaderNavSize;
  }
}

// Mobile header is smaller
@include euiBreakpoint('xs') {
  .header-global-wrapper + .app-wrapper:not(.hidden-chrome) {
    top: $euiHeaderNavSizeMobile;
    left: 0;

    .euiFlyout {
      top: $euiHeaderNavSizeMobile;
    }
  }
}

// Mobile header is smaller
@include euiBreakpoint('s') {
  .header-global-wrapper + .app-wrapper:not(.hidden-chrome) {
    left: 0;
  }
}
