# overlays.yaml
overlay: 1.0.0
info:
  title: Overlays for the Kibana API document
  version: 0.0.1
actions:
# Clean up server definitions
  - target: '$.servers.*'
    description: Remove all servers so we can add our own.
    remove: true
  - target: '$.servers'
    description: Add server into the now empty server array.
    update:
      - url: https://{kibana_url}
        variables:
          kibana_url:
            default: <KIBANA_URL>
# Add some tag descriptions that are specific to the Serverless APIs
  - target: '$.tags[?(@.name=="roles")]'
    description: Change displayName and description
    update:
      x-displayName: "Roles"
      description: Manage the roles that grant Elasticsearch and Kibana privileges.
      externalDocs:
        description: Kibana role management
        url: https://www.elastic.co/docs/deploy-manage/users-roles/serverless-custom-roles
  - target: '$.tags[?(@.name=="saved objects")]'
    description: Change displayName and description
    update:
      x-displayName: "Saved objects"
      description: |
        Export or import sets of saved objects.

        To manage a specific type of saved object, use the corresponding APIs.
        For example, use:

        [Data views](../group/endpoint-data-views).
  - target: '$.tags[?(@.name=="agent builder")]'
    description: Change tag description and displayName
    update:
      description: >
        Agent Builder is a set of AI-powered capabilities for developing and interacting with agents that work with your Elasticsearch data.
        
        Most users will probably want to integrate with Agent Builder using MCP or A2A, but you can also work programmatically with tools, agents, and conversations using these Kibana APIs.
      externalDocs:
        description: Agent Builder docs
        url: https://www.elastic.co/docs/solutions/search/agent-builder/programmatic-access
      # externalDocs:
        # description: 
        # url: https://www.elastic.co/docs/solutions/search/elastic-agent-builder
      x-displayName: 'Agent Builder'
# Remove extra tags from operations
  - target: "$.paths[*][*].tags[1:]"
    description: Remove all but first tag from operations
    remove: true
  - target: '$.paths[*][*]'
    description: Add x-metaTags for Kibana product name
    update:
      x-metaTags:
        - content: Kibana, Elastic Cloud Serverless
          name: product_name
