.tsvb-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  flex: 0 0 100%; /* Let it fill the entire space horizontally */
  margin: 0;
  padding: 0;
}

.tsvb-grid-cell {
  flex: 1;
}

.tsvb-grid--flexCells > .tsvb-grid-cell {
  display: flex;
}

.tsvb-grid--top {
  align-items: flex-start;
}

.tsvb-grid--bottom {
  align-items: flex-end;
}

.tsvb-grid--center {
  align-items: center;
}

.tsvb-grid--justifyCenter {
  justify-content: center;
}

.tsvb-grid-cell--top {
  align-self: flex-start;
}

.tsvb-grid-cell--bottom {
  align-self: flex-end;
}

.tsvb-grid-cell--center {
  align-self: center;
}

.tsvb-grid-cell--fit {
  flex: none;
}

.tsvb-grid--gutters {
  margin: -1em 0 0 -1em;
}
.tsvb-grid--gutters > .tsvb-grid-cell {
  padding: 1em 0 1em 1em;
}

.tsvb-grid--guttersLg {
  margin: -1.5em 0 -1.5em -1.5em;
}
.tsvb-grid--guttersLg > .tsvb-grid-cell {
  padding: 1.5em 0 1.5em 1.5em;
}

.tsvb-grid--guttersXl {
  margin: -2em 0 -2em -2em;
}
.tsvb-grid--guttersXl > .tsvb-grid-cell {
  padding: 2em 0 2em 2em;
}

.tsvb-grid-cell-of {
  flex: none !important;
}

.tsvb-grid-cell-full {
  width: 100% !important;
}

.tsvb-grid-cell-1of2 {
  width: 50% !important;
}

.tsvb-grid-cell-1of3 {
  width: 33.3333% !important;
}

.tsvb-grid-cell-2of3 {
  width: 66.6667% !important;
}

.tsvb-grid-cell-1of4 {
  width: 25% !important;
}

.tsvb-grid-cell-3of4 {
  width: 75% !important;
}

.tsvb-grid-cell-1of5 {
  width: 20% !important;
}

.tsvb-grid-cell-1of6 {
  width: 16.6666666667% !important;
}

.tsvb-grid-cell-1of12 {
  width: 16.6666666667% !important;
}
