// Pop menu is an animated popover relatively positioned to a button / action.
// By default it positions in the middle, but can be anchored left and right.

.kuiPopover {
  display: inline-block;
  position: relative;

  // Open state happens on the wrapper and applies to the body.
  &.kuiPopover-isOpen {
    .kuiPopover__body {
      opacity: 1;
      visibility: visible;
      z-index: $kuiZContentMenu;
      margin-top: $kuiSizeS;
    }
  }
}

  // Animation happens on the body.
  .kuiPopover__body {
    @include kuiBottomShadow;

    background-color: $kuiColorEmptyShade;
    position: absolute;
    min-width: $kuiSize * 16; // Can expand further, but this size is good for our menus.
    top: 100%;
    left: 50%;
    border: $kuiBorderThin;
    border-radius: $kuiBorderRadius 0 $kuiBorderRadius $kuiBorderRadius;
    transform: translateX(-50%) translateY($kuiSizeS) translateZ(0);
    backface-visibility: hidden;
    transition:
      opacity $kuiAnimSlightBounce $kuiAnimSpeedSlow,
      visibility $kuiAnimSlightBounce $kuiAnimSpeedSlow,
      margin-top $kuiAnimSlightBounce $kuiAnimSpeedSlow;
    transform-origin: center top;
    opacity: 0;
    visibility: hidden;
    margin-top: $kuiSizeL;

    // This fakes a border on the arrow.
    &:before {
      position: absolute;
      content: "";
      top: -$kuiSize;
      height: 0;
      width: 0;
      left: 50%;
      margin-left: -$kuiSize;
      border-left: $kuiSize solid transparent;
      border-right: $kuiSize solid transparent;
      border-bottom: $kuiSize solid $kuiBorderColor;
    }

    // This part of the arrow matches the body.
    &:after {
      position: absolute;
      content: "";
      top: -$kuiSize + 1;
      right: 0;
      height: 0;
      left: 50%;
      margin-left: -$kuiSize;
      width: 0;
      border-left: $kuiSize solid transparent;
      border-right: $kuiSize solid transparent;
      border-bottom: $kuiSize solid $kuiColorEmptyShade;
    }
  }

.kuiPopover--withTitle .kuiPopover__body:after {
  border-bottom-color: $kuiColorLightestShade;
}

// Positions the menu and arrow to the left of the parent.
.kuiPopover--anchorLeft {
  .kuiPopover__body {
    left: 0;
    transform: translateX(0%) translateY($kuiSizeS) translateZ(0);

    &:before, &:after {
      right: auto;
      left: $kuiSize;
      margin: 0;
    }
  }
}

// Positions the menu and arrow to the right of the parent.
.kuiPopover--anchorRight {
  .kuiPopover__body {
    left: 100%;
    transform: translateX(-100%) translateY($kuiSizeS) translateZ(0);

    &:before, &:after {
      right: $kuiSize;
      left: auto;
    }
  }
}
