// Pop menu is an animated popover relatively positioned to a button / action.
// By default it positions in the middle, but can be anchored left and right.

@include component('kuiPopover') {
  display: inline-block;
  position: relative;

  // Open state happens on the wrapper and applies to the body.
  @include state('isOpen') {
    @include child('body') {
      opacity: 1;
      visibility: visible;
      z-index: $kuiZContent;
      margin-top: $kuiSizeS;
    }
  }

  // Animation happens on the body.
  @include child('body') {
    background: $kuiColorEmptyShade;
    position: absolute;
    min-width: $kuiSize * 16; // Can expand further, but this size is good for our menus.
    top: 100%;
    left: 50%;
    background: $kuiColorEmptyShade;
    border: $kuiBorderThin;
    border-radius: $kuiBorderRadius 0 $kuiBorderRadius $kuiBorderRadius;
    padding: $kuiSize;
    transform: translateX(-50%) translateY($kuiSizeS) translateZ(0);
    backface-visibility: hidden;
    transition:
      opacity $kuiAnimSlightBounce $kuiAnimSpeedSlow,
      visibility $kuiAnimSlightBounce $kuiAnimSpeedSlow,
      margin-top $kuiAnimSlightBounce $kuiAnimSpeedSlow;
    transform-origin: center top;
    opacity: 0;
    visibility: hidden;
    margin-top: $kuiSizeL;

    // This fakes a border on the arrow.
    &:before {
      position: absolute;
      content: "";
      top: -$kuiSize;
      height: 0;
      width: 0;
      left: 50%;
      margin-left: -$kuiSize;
      border-left: $kuiSize solid transparent;
      border-right: $kuiSize solid transparent;
      border-bottom: $kuiSize solid $kuiBorderColor;
    }

    // This part of the arrow matches the body.
    &:after {
      position: absolute;
      content: "";
      top: -$kuiSize + 1;
      right: 0;
      height: 0;
      left: 50%;
      margin-left: -$kuiSize;
      width: 0;
      border-left: $kuiSize solid transparent;
      border-right: $kuiSize solid transparent;
      border-bottom: $kuiSize solid $kuiColorEmptyShade;
    }
  }

  // Positions the menu and arrow to the left of the parent.
  @include modifier('anchorLeft') {
    @include child('body') {
      left: 0;
      transform: translateX(0%) translateY($kuiSizeS) translateZ(0);

      &:before, &:after {
        right: auto;
        left: $kuiSize;
        margin: 0;
      }
    }
  }

  // Positions the menu and arrow to the right of the parent.
  @include modifier('anchorRight') {
    @include child('body') {
      left: 100%;
      transform: translateX(-100%) translateY($kuiSizeS) translateZ(0);

      &:before, &:after {
        right: $kuiSize;
        left: auto;
      }
    }
  }
}

