@import (reference) "../../style/main";

.canvas__sidebar {
  padding: @spacingS;
}

.canvas__sidebar-section-title {
  font-size: @textMedium;
  font-weight: 200;
}

.canvas__sidebar-section-tip {
  font-size: @textSmall;
  margin-left: @spacingS;
}

.canvas__sidebar-section-body {
  margin-bottom: @spacingS;
  padding: @spacingS;
  background-color: @cardBackground;
  border: @borderStyle;
}
