@import (reference) "../../style/main";

.canvas__sidebar {
  margin: @spacingM;
}

.canvas__sidebar--expression {

  textarea {
    font-size: @textXSmall;
    font-family: monospace;
    height: 200px;
  }

}
