<!DOCTYPE html>
  <!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Kibana 4</title>

    <script>
      window.KIBANA_VERSION='@@version';
      window.KIBANA_BUILD_NUM='@@buildNum';
      window.KIBANA_COMMIT_SHA='@@commitSha';
    </script>

    <link rel="stylesheet" href="/styles/main.css?_b=@@buildNum">
    <script src="/bower_components/requirejs/require.js?_b=@@buildNum"></script>
    <script src="/require.config.js?_b=@@buildNum"></script>
    <script>
      if (window.KIBANA_BUILD_NUM.substr(0, 2) !== '@@') {
        // only cache bust if this is really the build number
        require.config({ urlArgs: '_b=' + window.KIBANA_BUILD_NUM });
      }

      require(['kibana'], function (kibana) { kibana.init(); });
    </script>
  </head>
  <body ng-controller="kibana" ng-class="'application-'+activeApp">
    <kbn-notifications list="notifList"></kbn-notifications>
    <div class="content" style="display: none;">
      <nav ng-hide="appEmbedded" bindonce class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">

          <div class="navbar-header">
            <button ng-click="showCollapsed = !showCollapsed" type="button" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand visible-xs">{{activeApp}}
              <span ng-show="httpActive.length" class="spinner">
              </span>
            </span>
          </div>


          <!-- Full navbar -->
          <div collapse="!showCollapsed" class="navbar-collapse" id="kibana-primary-navbar">
            <ul class="nav navbar-nav">
              <li ng-repeat="app in apps.inOrder" ng-class="{active: activeApp == app.id}">
                <a ng-href="#{{app.lastPath}}" bo-text="app.name"></a>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li ng-show="httpActive.length" class="navbar-text">
                <div class="spinner">
                </div>
              </li>
              <li ng-if="setupComplete" ng-show="opts.timefilter.enabled" class="navbar-timepicker-display">
                <a ng-click="toggleTimepicker()">
                  <pretty-duration from="opts.timefilter.time.from" to="opts.timefilter.time.to"></pretty-duration>
                  &nbsp;
                  <i class="fa fa-clock-o"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- /Full navbar -->


        </div>
      </nav>

      <config
        config-template="globalConfigTemplate" config-object="opts">
      </config>

      <div class="application" ng-view></div>
    </div>
    <style-compile>
      .truncate-by-height {
        max-height: {{ truncateMaxHeight }};
      }
      .truncate-by-height::before {
        top: {{ truncateGradientTop }};
      }
    </style-compile>
  </body>
</html>
