<form
  role="form"
  ng-submit="opts.saveDataSource()"
>
  <h2 class="kuiLocalDropdownTitle">
    Save Search
  </h2>

  <input
    class="kuiLocalDropdownInput"
    id="SaveSearch"
    ng-model="opts.savedSearch.title"
    input-focus="select"
    placeholder="Name this search..."
    aria-label="Name"
  >

  <saved-object-save-as-check-box
    class="kuiVerticalRhythmSmall"
    saved-object="opts.savedSearch"
  ></saved-object-save-as-check-box>

  <button
    ng-disabled="!opts.savedSearch.title"
    data-test-subj="discoverSaveSearchButton"
    type="submit"
    class="kuiButton kuiButton--primary kuiVerticalRhythmSmall"
  >
    Save
  </button>
</form>
