$kuiShiftNavWidth: $kuiSize * 16;

.kuiShiftNav {
  width: $kuiShiftNavWidth;
  position: relative;
  overflow: hidden;
  transition: height $kuiAnimSpeedFast $kuiAnimSlightResistance;


  .kuiShiftNav__option {
    display: flex;
    padding: $kuiSizeM;
    width: 100%;
    text-align: left;

    &:hover, &:focus {
      text-decoration: underline;
    }

    &:focus {
      background-color: $kuiFocusBackgroundColor;
    }
  }

  .kuiShiftNav__option--previous {
    background-color: $kuiColorLightestShade;
    border-bottom: $kuiBorderThin;
  }

  .kuiShiftNav__icon {
    margin-right: $kuiSizeS;
  }

  .kuiShiftNav__text {
    flex-grow: 1;
  }

  .kuiShiftNav__arrow {
    align-self: flex-end;
  }

  .kuiShiftNav--next, .kuiShiftNav--previous {
    visibility: 0;
    opacity: 0;
  }

  .kuiShiftNav__panel {
    transform: translateX(0);
    position: absolute;
    width: 100%;
    transition: all $kuiAnimSpeedNormal $kuiAnimSlightResistance;
    visibility: visible;

    &.kuiShiftNav__panel--next {
      transform: translateX($kuiShiftNavWidth);
      visibility: hidden;
    }

    &.kuiShiftNav__panel--previous {
      transform: translateX(-$kuiShiftNavWidth);
      visibility: hidden;
    }
  }

  .kuiShiftNav__content {
    padding: $kuiSizeS;
  }

}
