<div class="checkbox" ng-if="true">
  <label>
    <input ng-model="agg.params.drop_partials" type="checkbox">
    <span
      i18n-id="common.ui.aggTypes.controls.dropPartialsLabel"
      i18n-default-message="Drop partial buckets"
    ></span>
    &nbsp;
    <icon-tip
      position="'right'"
      content="{{ 'common.ui.aggTypes.controls.dropPartialsTooltip' | i18n: { defaultMessage: '&quot;Remove buckets that span time outside the time range so the histogram doesn\'t start and end with incomplete buckets.&quot;' } }}"
    ></icon-tip>
  </label>
</div>
