<div ng-if="aggParam.shouldShow(agg)">
  <div>
    <label>Extended Bounds</label>
    <kbn-info info="Min and Max do not filter the results, but rather extend the bounds of the result set."></kbn-info>
  </div>
  <div class="vis-editor-agg-form-row">
    <div class="form-group">
      <div>Min <small>(optional)</small></div>
      <input
        ng-model="agg.params.extended_bounds.min"
        type="number"
        class="form-control"
        name="extended_bounds.min" />
    </div>
    <div class="form-group">
      <div>Max <small>(optional)</small></div>
      <input
        ng-model="agg.params.extended_bounds.max"
        type="number"
        class="form-control"
        name="extended_bounds.max" />
    </div>
  </div>
</div>