<div class="form-group">
  <label
    i18n-id="common.ui.aggTypes.field.fieldLabel"
    i18n-default-message="Field"
  ></label>

  <ui-select
    title="{{ ::'common.ui.aggTypes.field.aggregationFieldTitle' | i18n: { defaultMessage: 'Aggregation Field' } }}"
    name="field"
    required
    class="visEditorAggSelect__select field-select"
    ng-show="indexedFields.length"
    ng-model="agg.params.field"
    on-select="aggParam.onChange(agg)"
    uis-open-close="limit = 100"
  >
    <ui-select-match
      placeholder="{{ ::'common.ui.aggTypes.field.selectFieldPlaceholder' | i18n: { defaultMessage: 'Select a field' } }}"
    >
      {{$select.selected.displayName}}
    </ui-select-match>
    <ui-select-choices
      group-by="'type'"
      kbn-scroll-bottom="limit = limit + 100"
      repeat="field in indexedFields | filter: { displayName: $select.search } | sortPrefixFirst:$select.search:'name' | limitTo: limit"
    >
      <div
        data-test-subj="{{field.displayName}}"
        class="eui-textTruncate"
        ng-bind-html="field.displayName | highlight: $select.search"
        title="{{field.displayName}}"
      ></div>
    </ui-select-choices>
  </ui-select>

  <div class="hintbox" ng-if="!indexedFields.length">
    <p>
      <i class="fa fa-danger text-danger"></i>
      <strong
        i18n-id="common.ui.aggTypes.dateRanges.noCompatibleFieldsLabel"
        i18n-default-message="No Compatible Fields:"
      ></strong>
      <span
        i18n-id="common.ui.aggTypes.dateRanges.noCompatibleFieldsDescription"
        i18n-default-message="The {indexPatternTitle} index pattern does not contain any of the following field types:"
        i18n-values="{ indexPatternTitle: agg.getIndexPattern().title }"
      ></span>
      {{ agg.type.params.byName.field.filterFieldTypes | commaList:false }}
    </p>
  </div>

</div>
