<div>
  <div class="visEditorAgg__formRow--flex">
    <div class="form-group">
      <label>
        <input
          type="checkbox"
          class="kuiCheckBox"
          name="showOther"
          ng-model="agg.params.otherBucket"
        >
        <span
          i18n-id="common.ui.aggTypes.otherBucket.groupValuesLabel"
          i18n-default-message="Group other values in separate bucket"
        ></span>
        <icon-tip
          position="'right'"
          content="::'common.ui.aggTypes.otherBucket.groupValuesTooltip' | i18n: { defaultMessage: 'Values not in the top N are grouped in this bucket. To include documents with missing values, enable \'Show missing values\'.' }"
        ></icon-tip>
      </label>
    </div>
  </div>
  <div class="visEditorAgg__formRow--flex" ng-if="agg.params.otherBucket">
    <div class="form-group">
      <label
        i18n-id="common.ui.aggTypes.otherBucket.labelForOtherBucketLabel"
        i18n-default-message="Label for other bucket"
      ></label>
      <div>
        <input
          type="text"
          ng-model="agg.params.otherBucketLabel"
          class="form-control kuiSideBarInput"
        >
      </div>
    </div>
  </div>
  <div class="visEditorAgg__formRow--flex">
    <div class="form-group">
      <label>
        <input
          type="checkbox"
          class="kuiCheckBox"
          name="showMissing"
          ng-model="agg.params.missingBucket"
          ng-disabled="agg.params.field.type !== 'string'"
        >
        <span
          i18n-id="common.ui.aggTypes.otherBucket.showMissingValuesLabel"
          i18n-default-message="Show missing values"
        ></span>
        <icon-tip
          position="'right'"
          content="::'common.ui.aggTypes.otherBucket.showMissingValuesTooltip' | i18n: { defaultMessage: 'Only works for fields of type \'string\'. When enabled, include documents with missing values in the search. If this bucket is in the top N, it appears in the chart. If not in the top N, and you enable \'Group other values in separate bucket\', Elasticsearch adds the missing values to the \'other\' bucket.' }"
        ></icon-tip>
      </label>
    </div>
  </div>
  <div class="visEditorAgg__formRow--flex" ng-show="agg.params.missingBucket">
    <div class="form-group">
      <label
        i18n-id="common.ui.aggTypes.otherBucket.labelForMissingValuesLabel"
        i18n-default-message="Label for missing values"
      ></label>
      <div>
        <input
          type="text"
          ng-model="agg.params.missingBucketLabel"
          class="form-control kuiSideBarInput"
          ng-disabled="agg.params.field.type !== 'string'"
        >
      </div>
    </div>
  </div>
</div>
