<div class="visEditorAgg__formRow--flex" ng-controller="agg.type.params.byName.precision.controller">
  <div ng-if="!agg.params.autoPrecision" class="form-group">
    <label
      for="visEditorMapPrecision{{agg.id}}"
      i18n-id="common.ui.aggTypes.precisionLabel"
      i18n-default-message="Precision"
    ></label>
    <div class="visEditorAgg__formRow--flex">
      <input
        id="visEditorMapPrecision{{agg.id}}"
        name="precision"
        ng-model="agg.params.precision"
        required
        class="form-control"
        type="range"
        min="1"
        max="{{config.get('visualization:tileMap:maxPrecision')}}"
        >
      <div class="visEditorAgg__sliderValue">
        {{agg.params.precision}}
      </div>
    </div>
  </div>
</div>

<div>
  <label>
    <input
      type="checkbox"
      name="autoPrecision"
      ng-model="agg.params.autoPrecision"
    >
    <span
      i18n-id="common.ui.aggTypes.changePrecisionLabel"
      i18n-default-message="Change precision on map zoom"
    ></span>
  </label>
</div>

<div>
  <label>
    <input
      type="checkbox"
      name="useGeocentroid"
      ng-model="agg.params.useGeocentroid"
    >
    <span
      i18n-id="common.ui.aggTypes.placeMarkersOffGridLabel"
      i18n-default-message="Place markers off grid (use geocentroid)"
    ></span>
  </label>
</div>

<div>
  <label>
    <input
      type="checkbox"
      data-test-subj="isFilteredByCollarCheckbox"
      name="isFilteredByCollar"
      ng-model="agg.params.isFilteredByCollar"
    >
    <span
      i18n-id="common.ui.aggTypes.onlyRequestDataAroundMapExtentLabel"
      i18n-default-message="Only request data around map extent"
    ></span>
    <icon-tip
      position="'right'"
      content="::'common.ui.aggTypes.onlyRequestDataAroundMapExtentTooltip' | i18n: { defaultMessage: 'Apply geo_bounding_box filter aggregation to narrow the subject area to the map view box with collar' }"
    ></icon-tip>
  </label>
</div>
