.searchSelectContainer {
  width: 600px;
  height: 400px;
  overflow-y: scroll;
}

.searchSelectTableRow {
  &:hover {
    cursor: pointer;

    .euiTableCellContent__text {
      color: #0079a5;
    }
  }
}
