openapi: 3.0.0
info:
  title: Entity Analytics Common Schema
  description: Common schema for Entity Analytics
  version: '1'
paths: {}
components:
  schemas:
    EntityAnalyticsPrivileges:
      type: object
      properties:
        has_all_required:
          type: boolean
        has_read_permissions:
          type: boolean
        has_write_permissions:
          type: boolean
        privileges:
          type: object
          properties:
            elasticsearch:
              type: object
              properties:
                cluster:
                  type: object
                  properties:
                    manage_index_templates:
                      type: boolean
                    manage_transform:
                      type: boolean
                index:
                  type: object
                  additionalProperties:
                    type: object
                    properties:
                      read:
                        type: boolean
                      write:
                        type: boolean
          required:
            - elasticsearch
      required:
        - has_all_required
        - privileges
    EntityAfterKey:
      type: object
      additionalProperties:
        type: string

    AfterKeys:
      type: object
      properties:
        host:
          $ref: '#/components/schemas/EntityAfterKey'
        user:
          $ref: '#/components/schemas/EntityAfterKey'
      example:
        host:
          'host.name': 'example.host'
        user:
          'user.name': 'example_user_name'

    DataViewId:
      description: The identifier of the Kibana data view to be used when generating risk scores.
      example: security-solution-default
      type: string

    Filter:
      description: An elasticsearch DSL filter object. Used to filter the risk inputs involved, which implicitly filters the risk scores themselves.
      type: object
      additionalProperties: true

    PageSize:
      description: Specifies how many scores will be involved in a given calculation. Note that this value is per `identifier_type`, i.e. a value of 10 will calculate 10 host scores and 10 user scores, if available. To avoid missed data, keep this value consistent while paginating through scores.
      default: 1000
      type: number

    KibanaDate:
      type: string
      example: '2017-07-21T17:32:28Z'

    DateRange:
      description: Defines the time period on which risk inputs will be filtered.
      type: object
      required:
        - start
        - end
      properties:
        start:
          $ref: '#/components/schemas/KibanaDate'
        end:
          $ref: '#/components/schemas/KibanaDate'

    IdentifierType:
      type: string
      enum:
        - host
        - user

    RiskScoreInput:
      description: A generic representation of a document contributing to a Risk Score.
      type: object
      required:
        - id
        - index
        - description
        - category
      properties:
        id:
          type: string
          example: 91a93376a507e86cfbf282166275b89f9dbdb1f0be6c8103c6ff2909ca8e1a1c
          description: The unique identifier (`_id`) of the original source document
        index:
          type: string
          example: .internal.alerts-security.alerts-default-000001
          description: The unique index (`_index`) of the original source document
        category:
          type: string
          example: category_1
          description: The risk category of the risk input document.
        description:
          type: string
          example: 'Generated from Detection Engine Rule: Malware Prevention Alert'
          description: A human-readable description of the risk input document.
        risk_score:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: The weighted risk score of the risk input document.
        timestamp:
          type: string
          example: '2017-07-21T17:32:28Z'
          description: The @timestamp of the risk input document.
        contribution_score:
          type: number
          format: double

    RiskScoreCategories:
      type: string
      enum:
        - category_1

    EntityRiskLevels:
      type: string
      enum:
        - 'Unknown'
        - 'Low'
        - 'Moderate'
        - 'High'
        - 'Critical'

    EntityRiskScoreRecord:
      type: object
      required:
        - '@timestamp'
        - id_field
        - id_value
        - calculated_level
        - calculated_score
        - calculated_score_norm
        - category_1_score
        - category_1_count
        - inputs
        - notes
      properties:
        '@timestamp':
          type: string
          format: 'date-time'
          example: '2017-07-21T17:32:28Z'
          description: The time at which the risk score was calculated.
        id_field:
          type: string
          example: 'host.name'
          description: The identifier field defining this risk score. Coupled with `id_value`, uniquely identifies the entity being scored.
        id_value:
          type: string
          example: 'example.host'
          description: The identifier value defining this risk score. Coupled with `id_field`, uniquely identifies the entity being scored.
        calculated_level:
          $ref: '#/components/schemas/EntityRiskLevels'
          example: 'Critical'
          description: Lexical description of the entity's risk.
        calculated_score:
          type: number
          format: double
          description: The raw numeric value of the given entity's risk score.
        calculated_score_norm:
          type: number
          format: double
          minimum: 0
          maximum: 100
          description: The normalized numeric value of the given entity's risk score. Useful for comparing with other entities.
        category_1_score:
          type: number
          format: double
          description: The contribution of Category 1 to the overall risk score (`calculated_score`). Category 1 contains Detection Engine Alerts.
        category_1_count:
          type: number
          format: integer
          description: The number of risk input documents that contributed to the Category 1 score (`category_1_score`).
        inputs:
          type: array
          description: A list of the highest-risk documents contributing to this risk score. Useful for investigative purposes.
          items:
            $ref: '#/components/schemas/RiskScoreInput'
        category_2_score:
          type: number
          format: double
        category_2_count:
          type: number
          format: integer
        notes:
          type: array
          items:
            type: string
        criticality_modifier:
          type: number
          format: double
        criticality_level:
          $ref: '../asset_criticality/common.schema.yaml#/components/schemas/AssetCriticalityLevel'

    RiskScoreEntityIdentifierWeights:
      type: number
      format: double
      minimum: 0
      maximum: 1

    RiskScoreWeightGlobalShared:
      x-inline: true
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - global_identifier

    RiskScoreWeight:
      oneOf:
        - allOf:
            - $ref: '#/components/schemas/RiskScoreWeightGlobalShared'
            - type: object
              required:
                - host
              properties:
                host:
                  $ref: '#/components/schemas/RiskScoreEntityIdentifierWeights'
                user:
                  $ref: '#/components/schemas/RiskScoreEntityIdentifierWeights'

        - allOf:
            - $ref: '#/components/schemas/RiskScoreWeightGlobalShared'
            - type: object
              required:
                - user
              properties:
                host:
                  $ref: '#/components/schemas/RiskScoreEntityIdentifierWeights'
                user:
                  $ref: '#/components/schemas/RiskScoreEntityIdentifierWeights'

    RiskScoreWeights:
      description: 'A list of weights to be applied to the scoring calculation.'
      type: array
      items:
        $ref: '#/components/schemas/RiskScoreWeight'
      example:
        - type: 'global_identifier'
          host: 0.5
          user: 0.1

    TaskManagerUnavailableResponse:
      description: Task manager is unavailable
      type: object
      required:
        - status_code
        - message
      properties:
        status_code:
          type: integer
          minimum: 400
        message:
          type: string
