// TODO: Use the same styles for TSVB and Vislib vis'
// Duplicate of src/legacy/core_plugins/kbn_vislib_vis_types/public/vislib/_variables.scss
$visLineColor: transparentize($euiColorDarkShade, .8);
$visTextColor: $euiColorDarkShade;
$visHoverBackgroundColor: transparentize($euiColorFullShade, .9);
