<div class="form-group">
  <div ng-if="!aggParam.scripted">
    <label for="field">
      Field
      <span ng-if="aggParam.scriptable && aggConfig.vis.indexPattern.scriptedFields.raw.length > 0">
        -
        <a ng-click="aggParam.scripted = true">Use Script</a>
      </span>
    </label>
    <select
      class="form-control"
      name="field"
      required
      ng-model="params.field"
      ng-options="
        field as field.displayName group by field.type for field in aggConfig.vis.indexPattern.fields.raw
        | fieldType: aggParam.filterFieldTypes
        | filter: { indexed: true }
        | orderBy: ['type', 'name']
      ">
    </select>
  </div>

  <div ng-if="aggParam.scripted">
    <label for="field">
      Scripted Field
      <span ng-if="aggParam.scriptable">
        -
        <a ng-click="aggParam.scripted = false">Use Field</a>
      </span>
    </label>
    <select
      class="form-control"
      name="scriptedField"
      required
      ng-model="params.field"
      ng-options="
        field as field.name for field in aggConfig.vis.indexPattern.scriptedFields.raw
        | orderBy: ['name']
      ">
    </select>
  </div>
</div>