<div class="form-group">
  <div ng-if="!aggParam.isScripted">
    <label for="field">
      Field
    </label>
    <select
      class="form-control"
      name="field"
      ng-valid="params.field"
      ng-model="params.field"
      ng-options="
        field as field.displayName group by field.type for field in aggConfig.vis.indexPattern.fields.raw
        | fieldType: aggParam.filterFieldTypes
        | filter: { indexed: true }
        | orderBy: ['type', 'name']
      ">
    </select>
  </div>
</div>