<div class="form-group">
  <label for="field">
    Field
  </label>

  <kbn-tooltip class="sidebar-tooltip pull-right" placement="left" delay="0"
      ng-show="agg.params.field.analyzed && indexedFields.byName[agg.params.field.name + '.raw'].analyzed == false"
      text="<i>{{$parent.agg.params.field.name + '.raw'}}</i> may be a <i>not_analyzed</i> version of this field.">
    <span class="text-info">
      <i class="fa fa-info"></i> Tip
    </span>
  </kbn-tooltip>

  <kbn-tooltip class="sidebar-tooltip pull-right" placement="left" delay="0"
      ng-show="agg.params.field.analyzed"
      text="<strong>Careful!</strong> The field selected contains analyzed strings. Values such as <i>foo-bar</i> will be broken into <i>foo</i> and <i>bar</i>. See <i>Mapping Core Types</i> in the elasticsearch documentation for more information on setting this field as <i>not_analyzed</i>">
    <span class="text-warning">
      <i class="fa fa-warning"></i> Analyzed Field
    </span>
  </kbn-tooltip>

  <select
    class="form-control"
    name="field"
    required
    ng-model="agg.params.field"
    ng-options="field as field.displayName group by field.type for field in indexedFields">
  </select>

  </p>

</div>