<div class="form-group">
  <div ng-repeat="filter in params.filters">
    <label>Query string {{$index + 1}}</label>
    <div class="form-group vis-editor-agg-form-row">
      <input query-input
        ng-model="filter.query"
        type="text"
        class="form-control"
        name="filter{{$index}}">

      <button
        type="button"
        ng-click="params.filters.splice($index, 1)"
        class="btn btn-danger btn-xs">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
</div>
<div
  ng-click="params.filters.push({})"
  class="sidebar-item-button primary">
  Add filter
</div>
