<div class="form-group">
  <div ng-repeat="filter in agg.params.filters">
    <label>Query {{$index + 1}}</label>
    <div class="form-group vis-editor-agg-form-row">
      <input validate-query
        ng-model="filter.input.query"
        type="text"
        class="form-control"
        name="filter{{$index}}">

      <button
        type="button"
        ng-click="agg.params.filters.splice($index, 1)"
        class="btn btn-danger btn-xs">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
</div>
<div
  click-focus="'filter'+(agg.params.filters.length-1)"
  ng-click="agg.params.filters.push({input:{}})"
  class="sidebar-item-button primary">
  Add filter
</div>
