<div class="form-group">
  <label>Interval</label>
  <select
    ng-if="aggParam.options"
    ng-model="params.interval"
    required
    ng-options="opt as opt.display for opt in aggParam.options.raw | filter:optionEnabled"
    class="form-control"
    name="interval">
    <option value="">-- select a valid interval --</option>
  </select>
  <input
    ng-if="!aggParam.options"
    ng-model="params.interval"
    required
    type="number"
    class="form-control"
    name="interval"
    min="0"
    >
</div>
