<div class="form-group">
  <label>Interval</label>
  <select
    ng-if="aggParam.options"
    ng-model="params.interval"
    required
    kbn-valid-options="aggParam.options.raw | filter:optionEnabled"
    ng-options="opt as opt.display for opt in aggParam.options.raw | filter:optionEnabled"
    class="form-control"
    name="interval">
  </select>
  <input
    ng-if="!aggParam.options"
    ng-model="params.interval"
    required
    type="number"
    class="form-control"
    name="interval"
    min="0"
    >
</div>
