<div class="form-group">
  <label>
    Interval
    <kbn-tooltip
      ng-show="agg.params.buckets.getInterval().scaled"
      text="This interval creates too many buckets or buckets that are too large to show in the selected time range, so they are being scaled."
      placement="right"
      class="text-warning">
      <i class="fa fa-warning"></i>
    </kbn-tooltip>
  </label>
  <select
    ng-if="aggParam.options"
    ng-model="agg.params.interval"
    required
    ng-options="opt as opt.display for opt in aggParam.options.raw | filter: optionEnabled"
    class="form-control"
    name="interval">
    <option value="">-- select a valid interval --</option>
  </select>
  <input
    ng-if="!aggParam.options"
    ng-model="agg.params.interval"
    required
    type="number"
    class="form-control"
    name="interval"
    min="0"
    input-whole-number
    >
</div>
