<div ng-controller="agg.type.params.byName.orderAgg.controller">
  <div class="form-group">
    <label>Order By</label>
    <select
      name="orderBy"
      ng-model="agg.params.orderBy"
      required
      class="form-control">
      <option
        ng-repeat="agg in agg.vis.aggs.bySchemaGroup.metrics"
        value="{{agg.id}}"
        ng-selected="agg.params.orderBy === agg.id || (!agg.params.orderBy && $index === 0)">
        metric #{{$index + 1}}: {{safeMakeLabel(agg)}}
      </option>
      <option value="custom" ng-selected="agg.params.orderBy === 'custom'">
        Custom Metric
      </option>
    </select>
  </div>
  <div ng-show="agg.params.orderAgg" class="vis-editor-agg-order-agg">
    <label>{{params.orderBy.display}} Aggregation</label>
    <vis-editor-agg-params
      agg="agg.params.orderAgg"
      ng-if="agg.params.orderAgg"
      group-name="'metrics'">
    </vis-editor-agg-params>
  </div>
</div>