<div class="form-group" ng-controller="agg.type.params.byName.percents.controller">
  <label>Percentiles</label>
  <div
    ng-repeat="value in agg.params.percents track by $index"
    class="form-group vis-editor-agg-form-row vis-editor-agg-form-row">

    <input
      ng-model="agg.params.percents[$index]"
      values-list="agg.params.percents"
      values-list-min="0"
      values-list-max="100"
      input-focus
      class="form-control">

    <button type="button" ng-click="remove($index, 1)" class="btn btn-danger btn-xs">
      <i class="fa fa-times"></i>
    </button>
  </div>

  <input ng-model="validLength" name="validLength" required type="hidden">
  <div class="hintbox" ng-show="aggForm.validLength.$invalid">
    <p>
      <i class="fa fa-danger text-danger"></i>
      <strong>Required:</strong> You mush specify at least one percentile
    </p>
  </div>

  <button
    ng-click="add()"
    type="button"
    class="sidebar-item-button primary">
    <i class="fa fa-plus"></i> Add Percent
  </button>
</div>
