<div class="vis-editor-agg-form-row">
  <div class="form-group">
    <label>Precision</label>
    <div class="vis-editor-agg-form-row">
      <input
        name="precision"
        ng-model="agg.params.precision"
        required
        class="form-control"
        type="range"
        min="1"
        max="{{config.get('visualization:tileMap:maxPrecision')}}"
        >
      <div class="form-group vis-editor-agg-form-value">
        {{agg.params.precision}}
      </div>
    </div>
  </div>
</div>