<div class="vis-editor-agg-form-row" ng-controller="agg.type.params.byName.precision.controller">
  <div ng-if="!agg.params.autoPrecision" class="form-group">
    <label>Precision</label>
    <div class="vis-editor-agg-form-row">
      <input
        name="precision"
        ng-model="agg.params.precision"
        required
        class="form-control"
        type="range"
        min="1"
        max="{{config.get('visualization:tileMap:maxPrecision')}}"
        >
      <div class="form-group vis-editor-agg-form-value">
        {{agg.params.precision}}
      </div>
    </div>
  </div>
</div>

<div class="vis-option-item">
  <label>
    <input type="checkbox"
    name="autoPrecision"
    ng-model="agg.params.autoPrecision">
    Change precision on map zoom
  </label>
</div>

