<div class="form-group regex">
  <label>{{ aggParam.name | label }}</label>
  <input
    type="text"
    class="form-control"
    ng-model="params[aggParam.name].pattern"
  >
  <div class="flags">
    <span class="docs label label-info">
      <a href="http://docs.oracle.com/javase/7/docs/api/java/util/regex/Pattern.html#field_detail"
        target="_blank">regex flags</a>
    </span>
    <select
      multiple
      ng-model="params[aggParam.name].flags"
      ng-options="label for label in aggParam.flags">
    </select>
  </div>
</div>