<div ng-if="!aggParam.disabled(agg)">
  <div class="form-group regex">
    <label>{{ aggParam.name | label }} Pattern</label>
    <input
      type="text"
      class="form-control"
      ng-model="agg.params[aggParam.name].pattern"
    >
  </div>
  <div class="form-group regex">
    <div class="flags">
      <label>
        {{ aggParam.name | label }} Pattern Flags
        <small>(<a href="http://docs.oracle.com/javase/7/docs/api/java/util/regex/Pattern.html#field_detail"
          target="_blank">reference</a>)</small>
      </label>

      <select
        multiple="multiple"
        ng-options="label for label in aggParam.flags"
        ng-model="agg.params[aggParam.name].flags">
      </select>

    </div>
  </div>
</div>