<div class="content" chrome-context >
  <!-- TODO: These config dropdowns shouldn't be hard coded -->
  <nav class="app-links-wrapper" ng-show="chrome.getVisible()">
    <li
      ng-if="!chrome.getBrand('logo')  && !chrome.getBrand('smallLogo')"
      aria-label="{{ chrome.getAppTitle() }} Logo"
      class="logo kibana hidden-sm"
      ></li>
    <li
      ng-if="chrome.getBrand('logo')"
      ng-style="{ 'background': chrome.getBrand('logo') }"
      aria-label="{{ chrome.getAppTitle() }} Logo"
      class="logo hidden-sm"
      ></li>
    <li
      ng-if="chrome.getBrand('smallLogo')"
      ng-style="{ 'background': chrome.getBrand('smallLogo') }"
      aria-label="{{ chrome.getAppTitle() }} Logo"
      class="logo-small visible-sm hidden-xs"
      ></li>

    <app-switcher>
    </app-switcher>
    <div class="bottom-apps">
      <div class="chrome-actions app-links" kbn-chrome-append-nav-controls></div>
    </div>
  </nav>

  <div class="app-wrapper" ng-class="{ 'hidden-chrome': !chrome.getVisible() }">
    <div class="app-wrapper-panel">
      <kbn-notifications list="notifList"></kbn-notifications>
      <nav
        ng-style="::{ background: chrome.getNavBackground() }"
        ng-class="{ show: chrome.getTabs().length > 0 }"
        class="hide navbar navbar-inverse navbar-static-top">

        <!-- Mobile navbar -->
        <div class="navbar-header">
          <button ng-click="showCollapsed = !showCollapsed" type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs">
            <span ng-if="chrome.getBrand('title')" class="navbar-brand">{{ chrome.getBrand('title') }}</span>
            <span ng-if="chrome.getActiveTabTitle()" class="navbar-brand">{{ chrome.getActiveTabTitle() }}</span>
          </span>
        </div>
        <!-- /Mobile navbar -->

        <!-- Full navbar -->
        <div collapse="!showCollapsed" class="navbar-collapse" kbn-chrome-append-nav-controls>
          <div ng-if="chrome.getBrand('title')" class="navbar-brand">{{ chrome.getBrand('title') }}</div>
          <ul class="nav navbar-nav" role="navigation">


            <li ng-repeat="tab in chrome.getTabs()" ng-class="{ active: tab.active }">
              <a ng-href="{{ tab.href() }}" ng-style="{ 'border-bottom-color': tab.activeIndicatorColor }">
                {{ tab.title }}
              </a>
            </li>
          </ul>
        </div>
        <!-- /Full navbar -->
      </nav>
      <kbn-loading-indicator></kbn-loading-indicator>
      <div class="application" ng-class="'tab-' + chrome.getFirstPathSegment() + ' ' + chrome.getApplicationClasses()" ng-view></div>
    </div>
  </div>
</div>
