<div class="content" chrome-context >
  <!-- TODO: These config dropdowns shouldn't be hard coded -->
  <nav class="app-links-wrapper" ng-show="chrome.getVisible()">

    <li
      ng-if="!chrome.getBrand('logo') && !chrome.getBrand('smallLogo')"
      aria-label="{{ chrome.getAppTitle() }} Logo"
      class="logo kibana"
    ></li>

    <li
      ng-if="chrome.getBrand('logo')"
      ng-style="{ 'background': chrome.getBrand('logo') }"
      aria-label="{{ chrome.getAppTitle() }} Logo"
      class="logo hidden-sm"
    ></li>

    <li
      ng-if="chrome.getBrand('smallLogo')"
      ng-style="{ 'background': chrome.getBrand('smallLogo') }"
      aria-label="{{ chrome.getAppTitle() }} Logo"
      class="logo-small visible-sm hidden-xs"
    ></li>

    <app-switcher>
    </app-switcher>

    <div class="bottom-apps">
      <div class="chrome-actions" kbn-chrome-append-nav-controls></div>
    </div>

  </nav>

  <div class="app-wrapper" ng-class="{ 'hidden-chrome': !chrome.getVisible() }">
    <div class="app-wrapper-panel">
      <kbn-notifications list="notifList"></kbn-notifications>
      <kbn-loading-indicator></kbn-loading-indicator>
      <div
        class="application"
        ng-class="'tab-' + chrome.getFirstPathSegment() + ' ' + chrome.getApplicationClasses()"
        ng-view
      ></div>
    </div>
  </div>
</div>
