<paginated-table
  ng-if="rows.length"
  rows="rows"
  columns="formattedColumns"
  per-page="perPage"
  sort="sort"
  show-total="showTotal"
  totalFunc="totalFunc">

  <div class="kbnAggTable__controls">
    <small
      i18n-id="common.ui.aggTable.exportLabel"
      i18n-default-message="Export:"
    ></small>&nbsp;&nbsp;
    <a class="small" ng-click="aggTable.exportAsCsv(false)">
      <span
        i18n-id="common.ui.aggTable.rawLabel"
        i18n-default-message="Raw"
       ></span>
       <i aria-hidden="true" class="fa fa-download"></i>
    </a>&nbsp;&nbsp;&nbsp;
    <a class="small" ng-click="aggTable.exportAsCsv(true)">
      <span
        i18n-id="common.ui.aggTable.formattedLabel"
        i18n-default-message="Formatted"
       ></span>
       <i aria-hidden="true" class="fa fa-download"></i>
    </a>
    <paginate-controls></paginate-controls>
  </div>
</paginated-table>
