# /bin/bash or /bin/zsh (oh-my-zsh is installed by default as well)
SHELL=/bin/bash
# Switch to 1 to enable FIPS environment, any other value to disable,
# then close and reopen a new terminal to setup the environment
FIPS=0
# Set this variable to the version of the OpenSSL FIPS module you want to use for testing (e.g. when reproducing FTR failures).
# Only configure this if FIPS=1 is also set.
# Values: '140-3' or '140-2'
#TEST_ENABLE_FIPS_VERSION='140-3'
#TEST_BROWSER_HEADLESS=1
