.lnsRowCompressedMargin+.lnsRowCompressedMargin {
  margin-top: $euiSizeS;
}

.lnsConfigPanelAnnotations__date .euiFormControlLayout__prepend {
  min-width: $euiSize * 3.25; // makes both labels ("from" and "to") the same width
}

.lnsConfigPanelAnnotations__addButton {
  margin-top: $euiSizeXS;
}

.lnsConfigPanelAnnotations__fieldPicker {
  cursor: pointer;
}
