# Security Complete tier config

## Cloud settings
xpack.cloud.serverless.product_tier: complete

xpack.features.overrides:
  ### Workflows Management should be moved from Analytics category to the Security one.
  workflowsManagement.category: "security"

# Elastic Managed LLMs
xpack.actions.preconfigured:
  General-Purpose-LLM-v3:
    name: General Purpose LLM v3
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".gp-llm-v3-chat_completion"
      providerConfig:
        model_id: "gp-llm-v3"
  General-Purpose-LLM-v2:
    name: General Purpose LLM v2
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".gp-llm-v2-chat_completion"
      providerConfig:
        model_id: "gp-llm-v2"
  General-Purpose-LLM-v1:
    name: General Purpose LLM v1
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".rainbow-sprinkles-elastic"
      providerConfig:
        model_id: "rainbow-sprinkles"
