# Observability Complete tier config

## Cloud settings
xpack.cloud.serverless.product_tier: complete

## Enabled plugins
xpack.infra.enabled: true
xpack.slo.enabled: true
xpack.uptime.enabled: true

xpack.features.overrides:
  infrastructure.name: 'Infrastructure'
  ### By default, this feature named as `APM and User Experience`, but should be renamed to `Applications`.
  apm.name: 'Applications'
  ### Machine Learning feature should be moved from Analytics category to the Observability one and renamed to `AI Ops`.
  ml:
    category: 'observability'
    order: 1200
  ### Stack alerts is hidden in Role management since it's not needed.
  stackAlerts.hidden: true
  ### By default, this feature named as `Synthetics and Uptime`, but should be renamed to `Synthetics` since `Uptime` is not available.
  uptime.name: 'Synthetics'
  ### Workflows Management should be moved from Analytics category to the Observability one.
  workflowsManagement.category: 'observability'

# Elastic Managed LLMs
xpack.actions.preconfigured:
  General-Purpose-LLM-v2:
    name: General Purpose LLM v2
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: "gp-llm-v2"
      providerConfig:
        model_id: "gp-llm-v2"
  General-Purpose-LLM-v1:
    name: General Purpose LLM v1
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: 'elastic'
      taskType: 'chat_completion'
      inferenceId: '.rainbow-sprinkles-elastic'
      providerConfig:
        model_id: 'rainbow-sprinkles'
