# Security Search AI Lake tier config

## Disable plugins
xpack.osquery.enabled: false
xpack.alerting.maintenanceWindow.enabled: false
xpack.alerting.rulesSettings.enabled: false

xpack.features.overrides:
  ### The following features are Security features hidden in Role management UI for this specific tier.
  securitySolutionTimeline.hidden: true
  securitySolutionNotes.hidden: true

