# Chat Project Config

## Fine-tune the chat solution feature privileges. These feature privilege overrides are set individually for each project type. Also, refer to `serverless.yml` for the project-agnostic overrides.
xpack.features.overrides:
  dashboard:
    privileges:
      ### Dashboard's `All` feature privilege should implicitly grant `All` access to Maps and Visualize features.
      all.composedOf:
        - feature: "maps"
          privileges: [ "all" ]
        - feature: "visualize"
          privileges: [ "all" ]
      ### Dashboard's `Read` feature privilege should implicitly grant `Read` access to Maps and Visualize features.
      ### Additionally, it should implicitly grant privilege to create short URLs in Visualize app.
      read.composedOf:
        - feature: "maps"
          privileges: [ "read" ]
        - feature: "visualize"
          privileges: [ "read" ]
    ### All Dashboard sub-feature privileges should be hidden: reporting capabilities will be granted via dedicated
    ### Reporting feature and short URL sub-feature privilege should be granted for both `All` and `Read`.
    subFeatures.privileges:
      download_csv_report.disabled: true
      generate_report.disabled: true
      store_search_session.disabled: true
      url_create:
        disabled: true
        includeIn: "read"
  dashboard_v2:
    category: "chat"
    privileges:
      ### Dashboard's `All` feature privilege should implicitly grant `All` access to Maps and Visualize features.
      all.composedOf:
        - feature: "maps_v2"
          privileges: [ "all" ]
        - feature: "visualize_v2"
          privileges: [ "all" ]
      ### Dashboard's `Read` feature privilege should implicitly grant `Read` access to Maps and Visualize features.
      ### Additionally, it should implicitly grant privilege to create short URLs in Visualize app.
      read.composedOf:
        - feature: "maps_v2"
          privileges: [ "read" ]
        - feature: "visualize_v2"
          privileges: [ "read" ]
    ### All Dashboard sub-feature privileges should be hidden: reporting capabilities will be granted via dedicated
    ### Reporting feature and short URL sub-feature privilege should be granted for both `All` and `Read`.
    subFeatures.privileges:
      download_csv_report.disabled: true
      generate_report.disabled: true
      store_search_session.disabled: true
      url_create:
        disabled: true
        includeIn: "read"

  ### Maps feature is hidden in Role management since it's automatically granted by Dashboard feature.
  maps_v2.hidden: true
  ### Visualize feature is hidden in Role management since it's automatically granted by Dashboard feature.
  visualize:
    ### The short URL sub-feature privilege should be always granted.
    subFeatures.privileges.url_create.includeIn: "read"
  visualize_v2:
    hidden: true
    ### The short URL sub-feature privilege should be always granted.
    subFeatures.privileges.url_create.includeIn: "read"

# Make sure the plugins belonging to this project type are loaded
plugins.allowlistPluginGroups: ['platform', 'chat']

## Enable the Serverless Chat plugin
xpack.serverless.chat.enabled: true

## Cloud settings
xpack.cloud.serverless.project_type: search

## Set the home route
uiSettings.overrides.defaultRoute: /app/workchat

## Enable workchat plugins
xpack.workchatFramework.enabled: true
xpack.workchatApp.enabled: true
xpack.wciSalesforce.enabled: true
xpack.wciIndexSource.enabled: true
xpack.wciExternalServer.enabled: true

# Disable spaces
xpack.spaces.maxSpaces: 1

## Content Connectors in stack management
xpack.contentConnectors.enabled: false
