# Security Search AI Lake tier config

## Cloud settings
xpack.cloud.serverless.product_tier: search_ai_lake

## Disable plugins
xpack.osquery.enabled: false
xpack.ml.ad.enabled: false
xpack.ml.dfa.enabled: false

## Plugins that are inaccessible in the UI
xpack.securitySolutionServerless.inaccessibleApps:
  - dashboards
  - visualize
  - maps
  - lens

## Disable plugin features
xpack.maintenanceWindows.enabled: false
xpack.alerting.rulesSettings.enabled: false
xpack.trigger_actions_ui.rules.enabled: false

xpack.features.overrides:
  ### The following features are Security features hidden in Role management UI for this specific tier.
  securitySolutionTimeline.hidden: true
  securitySolutionNotes.hidden: true
  securitySolutionSiemMigrations.hidden: true
  
  ### Workflows Management should be moved from Analytics category to Security .
  workflowsManagement.category: "security"
  ### Agent Builder feature is available in this tier; move it from Analytics category to Security.
  agentBuilder:
    category: 'security'
    order: 1101

  ## Fine-tune the security solution essentials feature privileges. These feature privilege overrides are set individually for each project type. Also, refer to `serverless.yml` for the project-agnostic overrides.
  siemV5:
    privileges:
      all.composedOf:
        ## Limited values so the fields from serverless.yml or serverless.security.yml are overwritten
        ## We do not need to compose 4 from maps and visualizations because these functionalities are disabled in this tier
        - feature: 'discover_v2'
          privileges: ['all']
          ## We need limited access to fleet (v1) in order to use integrations
        - feature: 'fleet'
          privileges: ['all']
      read.composedOf:
        - feature: 'discover_v2'
          privileges: ['read']
        - feature: 'fleet'
          privileges: ['read']
  siemV4:
    privileges:
      all.composedOf:
        ## Limited values so the fields from serverless.yml or serverless.security.yml are overwritten
        ## We do not need to compose siemV4 from maps and visualizations because these functionalities are disabled in this tier
        - feature: 'discover_v2'
          privileges: ['all']
          ## We need limited access to fleet (v1) in order to use integrations
        - feature: 'fleet'
          privileges: ['all']
      read.composedOf:
        - feature: 'discover_v2'
          privileges: ['read']
        - feature: 'fleet'
          privileges: ['read']
  siemV3:
    privileges:
      all.composedOf:
        ## Limited values so the fields from serverless.yml or serverless.security.yml are overwritten
        ## We do not need to compose siemV3 from maps and visualizations because these functionalities are disabled in this tier
        - feature: 'discover_v2'
          privileges: ['all']
          ## We need limited access to fleet (v1) in order to use integrations
        - feature: 'fleet'
          privileges: ['all']
      read.composedOf:
        - feature: 'discover_v2'
          privileges: ['read']
        - feature: 'fleet'
          privileges: ['read']
  siemV2:
    privileges:
      all.composedOf:
        ## Limited values so the fields from serverless.yml or serverless.security.yml are overwritten
        ## We do not need to compose siemV2 from maps and visualizations because these functionalities are disabled in this tier
        - feature: 'discover_v2'
          privileges: ['all']
          ## We need limited access to fleet (v1) in order to use integrations
        - feature: 'fleet'
          privileges: ['all']
      read.composedOf:
        - feature: 'discover_v2'
          privileges: ['read']
        - feature: 'fleet'
          privileges: ['read']
  siem:
    privileges:
      all.composedOf:
        ## Limited values so the fields from serverless.yml or serverless.security.yml are overwritten
        ## We do not need to compose siemV2 from maps and visualizations because these functionalities are disabled in this tier
        - feature: 'discover_v2'
          privileges: ['all']
        - feature: 'savedQueryManagement'
          privileges: ['all']
      read.composedOf:
        - feature: 'discover_v2'
          privileges: ['read']
        - feature: 'savedQueryManagement'
          privileges: ['read']

# Custom integrations/fleet settings
xpack.fleet.agentless.isDefault: true
xpack.fleet.hideDashboards: true
xpack.fleet.integrationsHomeOverride: '/app/security/configurations/integrations'
xpack.fleet.prereleaseEnabledByDefault: true
xpack.fleet.internal.registry.searchAiLakePackageAllowlistEnabled: true

# Elastic Managed LLMs
xpack.actions.preconfigured:
  Anthropic-Claude-Sonnet-3-7:
    name: Anthropic Claude Sonnet 3.7
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".rainbow-sprinkles-elastic"
      providerConfig:
        model_id: "rainbow-sprinkles"
  Anthropic-Claude-Sonnet-4-5:
    name: Anthropic Claude Sonnet 4.5
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".gp-llm-v2-chat_completion"
      providerConfig:
        model_id: "gp-llm-v2"
  Anthropic-Claude-Opus-4-5:
    name: Anthropic Claude Opus 4.5
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".anthropic-claude-4.5-opus-chat_completion"
      providerConfig:
        model_id: "anthropic-claude-4.5-opus"
  Anthropic-Claude-Opus-4-6:
    name: Anthropic Claude Opus 4.6
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".anthropic-claude-4.6-opus-chat_completion"
      providerConfig:
        model_id: "anthropic-claude-4.6-opus"
  OpenAI-GPT-OSS-120B:
    name: OpenAI GPT-OSS 120B
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".openai-gpt-oss-120b-chat_completion"
      providerConfig:
        model_id: "openai-gpt-oss-120b"
  OpenAI-GPT-4-1:
    name: OpenAI GPT-4.1
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".openai-gpt-4.1-chat_completion"
      providerConfig:
        model_id: "openai-gpt-4.1"
  OpenAI-GPT-4-1-Mini:
    name: OpenAI GPT-4.1 Mini
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".openai-gpt-4.1-mini-chat_completion"
      providerConfig:
        model_id: "openai-gpt-4.1-mini"
  OpenAI-GPT-5-2:
    name: OpenAI GPT-5.2
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".openai-gpt-5.2-chat_completion"
      providerConfig:
        model_id: "openai-gpt-5.2"
  OpenAI-GPT-OSS-20B:
    name: OpenAI GPT-OSS 20B
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".openai-gpt-oss-20b-chat_completion"
      providerConfig:
        model_id: "openai-gpt-oss-20b"
  OpenAI-o4:
    name: OpenAI o4
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".openai-o4-chat_completion"
      providerConfig:
        model_id: "openai-o4"
  OpenAI-o4-Mini:
    name: OpenAI o4 Mini
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".openai-o4-mini-chat_completion"
      providerConfig:
        model_id: "openai-o4-mini"
  Google-Gemini-2-5-Pro:
    name: Google Gemini 2.5 Pro
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".google-gemini-2.5-pro-chat_completion"
      providerConfig:
        model_id: "google-gemini-2.5-pro"
  Google-Gemini-2-5-Flash:
    name: Google Gemini 2.5 Flash
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".google-gemini-2.5-flash-chat_completion"
      providerConfig:
        model_id: "google-gemini-2.5-flash"
  Google-Gemini-3-0-Pro:
    name: Google Gemini 3.0 Pro
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".google-gemini-3.0-pro-chat_completion"
      providerConfig:
        model_id: "google-gemini-3.0-pro"
  Google-Gemini-3-0-Flash:
    name: Google Gemini 3.0 Flash
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".google-gemini-3.0-flash-chat_completion"
      providerConfig:
        model_id: "google-gemini-3.0-flash"
