# Search Project Config

# Make sure the plugins belonging to this project type are loaded
plugins.allowlistPluginGroups: ['platform', 'search']

xpack.search.enabled: false
xpack.osquery.enabled: false

# Enable fleet on search projects for agentless features
xpack.fleet.enabled: true
xpack.fleet.packages:
  # fleet_server package installed to publish agent metrics
  - name: fleet_server
    version: latest
# Filter out some observability and security integrations
xpack.fleet.internal.registry.excludePackages: [
  # Security integrations
  'endpoint',
  'beaconing',
  'cloud_security_posture',
  'cloud_defend',
  'security_detection_engine',

  # Oblt integrations
  'apm',
  'synthetics',
  'synthetics_dashboards',

  # Removed in 8.11 integrations
  'cisco',
  'microsoft',
  'symantec',
  'cyberark',

  # Profiling integrations
  'profiler_agent',

  # Search connectors
  'elastic_connectors',
]

## Fine-tune the search solution feature privileges. Also, refer to `serverless.yml` for the project-agnostic overrides.
xpack.features.overrides:
  ### Agent Builder feature is moved from Analytics category to the Search one.
  agentBuilder.category: 'enterpriseSearch'
  ### Workflows Management should be moved from Analytics category to the Search one.
  workflowsManagement.category: 'enterpriseSearch'
  ### Dashboards feature is moved from Analytics category to the Search one.
  dashboard_v2.category: "enterpriseSearch"
  ### Dev Tools feature is moved from Analytics category to the Search one.
  dev_tools.category: "enterpriseSearch"
  ### Discover feature is moved from Analytics category to the Search one.
  discover_v2.category: "enterpriseSearch"
  ### Machine Learning feature is moved from Analytics category to the Management one.
  ml.category: "management"
  ### Stack Alerts feature is moved from Analytics category to the Search one renamed to simply `Alerts`.
  stackAlerts:
    name: "Alerts"
    category: "enterpriseSearch"
  ### Observability AI Assistant feature is moved to Search and renamed
  observabilityAIAssistant:
    name: "AI Assistant"
    category: "enterpriseSearch"

## Cloud settings
xpack.cloud.serverless.project_type: search

## Enable the Serverless Search plugin
xpack.serverless.search.enabled: true

## Set the home route
uiSettings.overrides.defaultRoute: /app/elasticsearch

# Specify in telemetry the project type
telemetry.labels.serverless: search

# Alerts and LLM config
xpack.actions.enabledActionTypes:
  ['.email', '.index', '.slack', '.slack_api', '.jira', '.webhook', '.teams', '.gen-ai', '.bedrock', '.gemini', '.inference']

# Customize empty page state for analytics apps
no_data_page.analyticsNoDataPageFlavor: 'serverless_search'

# Disable Dev tools
xpack.painless_lab.enabled: false

xpack.ml.ad.enabled: false
xpack.ml.dfa.enabled: false
xpack.ml.nlp.enabled: true

xpack.ml.compatibleModuleType: 'search'

data_visualizer.resultLinks.fileBeat.enabled: false

# Search Notebooks
xpack.searchNotebooks.catalog.url: https://elastic-enterprise-search.s3.us-east-2.amazonaws.com/serverless/catalog.json

# Semantic text UI
xpack.index_management.dev.enableSemanticText: true

# Search Homepage
xpack.searchHomepage.enabled: true

# AI Assistant config
xpack.observabilityAIAssistant.enabled: true
xpack.searchAssistant.enabled: true
xpack.searchAssistant.ui.enabled: true
xpack.observabilityAIAssistant.scope: "search"
aiAssistantManagementSelection.preferredAIAssistantType: "observability"

# Query Rules UI
xpack.searchQueryRules.enabled: true

## Search Connectors in stack management
xpack.contentConnectors.ui.enabled: false

# Elastic Managed LLMs
xpack.actions.preconfigured:
  General-Purpose-LLM-v2:
    name: General Purpose LLM v2
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: "gp-llm-v2"
      providerConfig:
        model_id: "gp-llm-v2"
  General-Purpose-LLM-v1:
    name: General Purpose LLM v1
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".rainbow-sprinkles-elastic"
      providerConfig:
        model_id: "rainbow-sprinkles"
