# Security Search AI Lake tier config

## Disable plugins
xpack.osquery.enabled: false
xpack.ml.ad.enabled: false
xpack.ml.dfa.enabled: false

## Disable plugin features
xpack.alerting.maintenanceWindow.enabled: false
xpack.alerting.rulesSettings.enabled: false
xpack.trigger_actions_ui.rules.enabled: false

xpack.features.overrides:
  ### The following features are Security features hidden in Role management UI for this specific tier.
  securitySolutionTimeline.hidden: true
  securitySolutionNotes.hidden: true
  siem.description: null
  siemV2.description: null
  securitySolutionSiemMigrations.hidden: true

# Custom integrations/fleet settings
xpack.fleet.agentless.isDefault: true
xpack.fleet.prereleaseEnabledByDefault: true
xpack.fleet.internal.registry.searchAiLakePackageAllowlistEnabled: true
xpack.fleet.integrationsHomeOverride: '/app/security/configurations/integrations'
