# Observability Complete tier config

## Cloud settings
xpack.cloud.serverless.product_tier: complete

## Enabled plugins
xpack.infra.enabled: true
xpack.slo.enabled: true
xpack.uptime.enabled: true

xpack.features.overrides:
  infrastructure.name: 'Infrastructure'
  ### By default, this feature named as `APM and User Experience`, but should be renamed to `Applications`.
  apm.name: 'Applications'
  ### Machine Learning feature should be moved from Analytics category to the Observability one and renamed to `AI Ops`.
  ml:
    category: 'observability'
    order: 1200
  ### Stack alerts is hidden in Role management since it's not needed.
  stackAlerts.hidden: true
  ### By default, this feature named as `Synthetics and Uptime`, but should be renamed to `Synthetics` since `Uptime` is not available.
  uptime.name: 'Synthetics'
  ### Workflows Management should be moved from Analytics category to the Observability one.
  workflowsManagement.category: 'observability'

# Elastic Managed LLMs
xpack.actions.preconfigured:
  Anthropic-Claude-Sonnet-3-7:
    name: Anthropic Claude Sonnet 3.7
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".rainbow-sprinkles-elastic"
      providerConfig:
        model_id: "rainbow-sprinkles"
  Anthropic-Claude-Sonnet-4-5:
    name: Anthropic Claude Sonnet 4.5
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".gp-llm-v2-chat_completion"
      providerConfig:
        model_id: "gp-llm-v2"
  OpenAI-GPT-OSS-120B:
    name: OpenAI GPT-OSS 120B
    actionTypeId: .inference
    exposeConfig: true
    config:
      provider: "elastic"
      taskType: "chat_completion"
      inferenceId: ".openai-gpt-oss-120b-chat_completion"
      providerConfig:
        model_id: "openai-gpt-oss-120b"

