# Search Project Config

# Make sure the plugins belonging to this project type are loaded
plugins.allowlistPluginGroups: ['platform', 'search']

xpack.search.enabled: false
xpack.osquery.enabled: false

# Enable fleet on search projects for agentless features
xpack.fleet.enabled: true
xpack.fleet.internal.registry.kibanaVersionCheckEnabled: false
xpack.fleet.internal.registry.spec.min: '3.0'
xpack.fleet.internal.registry.spec.max: '3.3'
xpack.fleet.packages:
  # fleet_server package installed to publish agent metrics
  - name: fleet_server
    version: latest
# Filter out some observability and security integrations
xpack.fleet.internal.registry.excludePackages: [
  # Security integrations
  'endpoint',
  'beaconing',
  'cloud_security_posture',
  'cloud_defend',
  'security_detection_engine',

  # Oblt integrations
  'apm',
  'synthetics',
  'synthetics_dashboards',

  # Removed in 8.11 integrations
  'cisco',
  'microsoft',
  'symantec',
  'cyberark',

  # Profiling integrations
  'profiler_agent',

  # Search connectors
  'elastic_connectors',
]

## Fine-tune the search solution feature privileges. Also, refer to `serverless.yml` for the project-agnostic overrides.
xpack.features.overrides:
  dashboard:
    privileges:
      ### Dashboard's `All` feature privilege should implicitly grant `All` access to Maps and Visualize features.
      all.composedOf:
        - feature: "maps"
          privileges: [ "all" ]
        - feature: "visualize"
          privileges: [ "all" ]
      ### Dashboard's `Read` feature privilege should implicitly grant `Read` access to Maps and Visualize features.
      ### Additionally, it should implicitly grant privilege to create short URLs in Visualize app.
      read.composedOf:
        - feature: "maps"
          privileges: [ "read" ]
        - feature: "visualize"
          privileges: [ "read" ]
    ### All Dashboard sub-feature privileges should be hidden: reporting capabilities will be granted via dedicated
    ### Reporting feature and short URL sub-feature privilege should be granted for both `All` and `Read`.
    subFeatures.privileges:
      download_csv_report.disabled: true
      generate_report.disabled: true
      store_search_session.disabled: true
      url_create:
        disabled: true
        includeIn: "read"
  dashboard_v2:
    ### Dashboards feature is moved from Analytics category to the Search one.
    category: "enterpriseSearch"
    privileges:
      ### Dashboard's `All` feature privilege should implicitly grant `All` access to Maps and Visualize features.
      all.composedOf:
        - feature: "maps_v2"
          privileges: [ "all" ]
        - feature: "visualize_v2"
          privileges: [ "all" ]
      ### Dashboard's `Read` feature privilege should implicitly grant `Read` access to Maps and Visualize features.
      ### Additionally, it should implicitly grant privilege to create short URLs in Visualize app.
      read.composedOf:
        - feature: "maps_v2"
          privileges: [ "read" ]
        - feature: "visualize_v2"
          privileges: [ "read" ]
    ### All Dashboard sub-feature privileges should be hidden: reporting capabilities will be granted via dedicated
    ### Reporting feature and short URL sub-feature privilege should be granted for both `All` and `Read`.
    subFeatures.privileges:
      download_csv_report.disabled: true
      generate_report.disabled: true
      store_search_session.disabled: true
      url_create:
        disabled: true
        includeIn: "read"

  ### Dev Tools feature is moved from Analytics category to the Search one.
  dev_tools.category: "enterpriseSearch"
  ### Discover feature is moved from Analytics category to the Search one.
  discover_v2.category: "enterpriseSearch"
  ### Maps feature is hidden in Role management since it's automatically granted by Dashboard feature.
  maps_v2.hidden: true
  ### Machine Learning feature is moved from Analytics category to the Management one.
  ml.category: "management"

  ### Stack Alerts feature is moved from Analytics category to the Search one renamed to simply `Alerts`.
  stackAlerts:
    name: "Alerts"
    category: "enterpriseSearch"
  ### Observability AI Assistant feature is moved to Search and renamed
  observabilityAIAssistant:
    name: "AI Assistant"
    category: "enterpriseSearch"

  ### Visualize feature is hidden in Role management since it's automatically granted by Dashboard feature.
  visualize:
    ### The short URL sub-feature privilege should be always granted.
    subFeatures.privileges.url_create.includeIn: "read"
  visualize_v2:
    hidden: true
    ### The short URL sub-feature privilege should be always granted.
    subFeatures.privileges.url_create.includeIn: "read"

## Cloud settings
xpack.cloud.serverless.project_type: search

## Enable the Serverless Search plugin
xpack.serverless.search.enabled: true

## Set the home route
uiSettings.overrides.defaultRoute: /app/elasticsearch

# Specify in telemetry the project type
telemetry.labels.serverless: search

# Alerts and LLM config
xpack.actions.enabledActionTypes:
  ['.email', '.index', '.slack', '.jira', '.webhook', '.teams', '.gen-ai', '.bedrock', '.gemini', '.inference']

# Customize empty page state for analytics apps
no_data_page.analyticsNoDataPageFlavor: 'serverless_search'

# Disable Dev tools
xpack.painless_lab.enabled: false

xpack.ml.ad.enabled: false
xpack.ml.dfa.enabled: false
xpack.ml.nlp:
  enabled: true
  modelDeployment:
    allowStaticAllocations: true
    vCPURange:
      low:
        min: 0
        max: 2
        static: 2
      medium:
        min: 1
        max: 32
        static: 32
      high:
        min: 1
        max: 512
        static: 512
xpack.ml.compatibleModuleType: 'search'

data_visualizer.resultLinks.fileBeat.enabled: false

# Search Notebooks
xpack.searchNotebooks.catalog.url: https://elastic-enterprise-search.s3.us-east-2.amazonaws.com/serverless/catalog.json

# Semantic text UI
xpack.index_management.dev.enableSemanticText: true

# AI Assistant config
xpack.observabilityAIAssistant.enabled: true
xpack.searchAssistant.enabled: true
xpack.searchAssistant.ui.enabled: true
xpack.observabilityAIAssistant.scope: "search"
aiAssistantManagementSelection.preferredAIAssistantType: "observability"

# Query Rules UI
xpack.searchQueryRules.enabled: false

## Search Connectors in stack management
xpack.contentConnectors.ui.enabled: false
