.visDisabledLabVisualization {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.visDisabledLabVisualization__icon {
  font-size: $euiFontSizeXL;
}

