@import "~ui/styles/variables.less";

// This should be moved to the kibana ui framework code as soon as it has been
// integrated into the kibana repo. See elastic/kibana#8867 for the status.
.kuiLocalMenuItem__input--inPlace {
  appearance: textfield;
  background: transparent;
  border: 0;
  border-bottom: 1px dashed;
  display: block;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 2em;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &:focus {
    background-color: @kibanaGray6;
  }
}
