@import (reference) "~ui/styles/variables";
@import (reference) "~ui/styles/mixins";
@import (reference) "~ui/styles/theme";

pipeline-output {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  .header-line {
    display: flex;

    label {
      width: 100%;
    }
  }

  pre {
    min-height: 450px;
    flex: 1 1 1px;
  }
}
