@import (reference) "~ui/styles/mixins.less";

.inputControlVis {
  width: 100%;
  margin: 0 5px;

  .inputRangeContainer {
    padding: 15px 0;
  }

  .actions {
    margin-top: 5px;
  }
}

visualization.input_control_vis {
  overflow: visible;

  .vis-container {
    overflow: visible;
  }
}

.Select-menu-outer {
  z-index: 99999 !important; // make sure menu is on top of everything else (leaflet)
}

