### Collecting logs from TCP

Specify the address and port that will be used to intialize a listening TCP socket that collects any TCP traffic received and sends each line as a document to Elasticsearch.
