// Legacy styles to come before all
@import './styles/_legacy/index';

// Prefix all styles with "kbn" to avoid conflicts.
// Examples
//   kbnChart
//   kbnChart__legend
//   kbnChart__legend--small
//   kbnChart__legend-isLoading

@import './accessibility/index';
@import './directives/index';
@import './error_url_overflow/index';
@import './exit_full_screen/index';
@import './field_editor/index';
@import './style_compile/index';
@import '../../../plugins/management/public/components/index';
