@import (reference) "../../style/main";

.canvas__add-arg-popover .popover-content {
  padding: 0px;
  width: 200px;
  font-size: @textXSmall;
}

.canvas__add-arg-button.fa {
  color: @mediumGrey;
  margin-left: @spacingXS;
  font-size: @textSmall;
}
