@import (reference) "../../style/main";

.canvas__add-arg-popover .popover-content {
  padding: 0px;
  width: 200px;
}

.canvas__add-arg-container {
  text-align: center;
  margin: 0 @spacingM;
  padding: @spacingS 0;
  border-bottom: @borderStyle;

  .canvas__add-arg-button {
    width: 19px;
    height: 19px;
    background-color: #D9D9D9;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    /* font-size: 14px; */
    color: @trueWhite;
  }

}
