@import (reference) "~ui/styles/variables";
@import (reference) "~ui/styles/mixins";

.typeahead {
  position: relative;

  .typeahead-footer {
    background: @globalColorLightestGray;
    padding: 8px;
    border-top: solid 1px @typeahead-item-border;
  }


  .typeahead-popover {
    border: 1px solid;
    border-color: @typeahead-item-border;
    color: @typeahead-item-color;
    background-color: @typeahead-item-bg;
    position: absolute;
    top: 32px;
    z-index: @zindex-typeahead;
    box-shadow: 0px 4px 8px rgba(0,0,0,.1);
    width: 100%;
    border-radius: 4px;

    .typeahead-items {
      max-height: 500px;
      overflow-y: auto;
    }

    .typeahead-item {
      height: 32px;
      line-height: 32px;
      white-space: nowrap;
      font-size: 12px;
      vertical-align: middle;
    }

    .typeahead-item:last-child {
      border-bottom: 0px;
      border-radius: 0 0 4px 4px;
    }

    .typeahead-item:first-child {
      border-bottom: 0px;
      border-radius: 4px 4px 0 0;
    }

    .typeahead-item.active {
      background-color: @globalColorLightestGray;

      .typeahead-function {
        .typeahead-type {
          background: @globalColorTeal;
          color: @globalColorWhite;
        }

        .typeahead-value {
          color: @globalColorTeal;
        }
      }

      .typeahead-field {
        .typeahead-type {
          background: @globalColorOrange;
          color: @globalColorWhite;
        }

        .typeahead-value {
          color: @globalColorOrange;
        }
      }
    }

    .typeahead-function {
      .typeahead-type {
        background: tint(@globalColorTeal, 90%);
        color: @globalColorTeal;
      }
    }

    .typeahead-field {
      .typeahead-type {
        background: tint(@globalColorOrange, 90%);
        color: @globalColorOrange;
      }
    }

    .typeahead-type {
      height: 32px;
      width: 32px;
      display: inline-block;
      background: @globalColorLightGray;
      font-size: 12px;
      text-align: center;
      font-family: monospace;
      margin-right: 16px;
      vertical-align: middle;
    }

    .typeahead-value {
      display: inline-block;
      font-family: monospace;
      margin-right: 32px;
      font-weight: bold;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }

    .typeahead-description {
      display: inline-block;
      color: @globalColorDarkGray;
      vertical-align: middle;
    }
  }
}

.inline-form .typeahead.visible .input-group {
  > :first-child {
    .border-bottom-radius(0);
  }
  > :last-child {
    .border-bottom-radius(0);
  }
}
