// @import (reference) "~ui/styles/bootstrap/list-group";
// @import (reference) "~ui/styles/list-group-menu";

.disabledLabVisualization {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.disabledLabVisualization__icon {
  font-size: 2em;
}

.visualizeViewContentHeader {
  display: flex;
}

.visualizeViewContentHeader .kuiTitle {
  flex: 1 1 auto;
}

