.kbnDocViewer {
  pre,
  .kbnDocViewer__value {
    display: inline-block;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    color: $euiColorFullShade;
  }

  .dscFieldName {
    color: $euiColorDarkShade;
  }

  td,
  pre {
    font-family: $euiCodeFontFamily;
  }

  tr:first-child td {
    border-top-color: transparent;
  }

  tr:hover {
    .kbnDocViewer__actionButton {
      opacity: 1;
    }
  }
}

.kbnDocViewer__content {
  background-color: $euiColorEmptyShade;
  padding: $euiSizeS 0 0 0;
}

.kbnDocViewer__buttons,
.kbnDocViewer__field {
  white-space: nowrap;
}

.kbnDocViewer__actionButton {
  opacity: 0;

  &:focus {
    opacity: 1;
  }
}
