.documentation__docsHeader {
  margin: 0;
}

.documentation__docs--inline {
  display: flex;
  flex-direction: column;
  // make sure docs are rendered in front of monaco
  z-index: 1;
}

.documentation__docsContent {
  .documentation__docs--overlay & {
    height: 40vh;
    width:  #{'min(75vh, 90vw)'};
  }

  .documentation__docs--inline & {
    flex: 1;
    min-height: 0;
  }

  & > * + * {
    border-left: $euiBorderThin;
  }
}
