
<div class="localNav">
  <div class="localNavRow">
    <div class="localNavRow__section">
      <div class="localBreadcrumbs">
        <div class="localBreadcrumb">
          <a class="localBreadcrumb__link" href="#">
            Discover
          </a>
        </div>

        <div class="localBreadcrumb">
          <a class="localBreadcrumb__link" href="#">
            <span class="localBreadcrumb__emphasis">0</span> hits
          </a>
        </div>
      </div>
    </div>

    <div class="localNavRow__section">
      <div class="localMenu">
        <div class="localMenuItem localMenuItem-isSelected">
          New
        </div>

        <div class="localMenuItem">
          Save
        </div>

        <div class="localMenuItem">
          Open
        </div>

        <button class="localMenuItem">
          <div class="localMenuItem__icon fa fa-clock-o"></div>
          Last 5 minutes
        </button>
      </div>
    </div>
  </div>

  <div class="localDropdown">
    <!-- Title -->
    <div class="localDropdownTitle">Dropdown title</div>

    <!-- Help text -->
    <div class="localDropdownHelpText">
      Here's some help text to explain the purpose of the dropdown.
    </div>

    <!-- Warning -->
    <div class="localDropdownWarning">
      Here's some warning text in case the user has something misconfigured.
    </div>

    <div class="localDropdownSection">
      <!-- Header -->
      <div class="localDropdownHeader">
        <div class="localDropdownHeader__label">
          Header for a section of content
        </div>
      </div>

       <!-- Input -->
      <input
        class="localDropdownInput"
        type="text"
        placeholder="Input something here"
      />
    </div>

    <div class="localDropdownSection">
      <!-- Header -->
      <div class="localDropdownHeader">
        <div class="localDropdownHeader__label">
          Header for another section of content
        </div>
        <div class="localDropdownHeader__actions">
          <a
            class="localDropdownHeader__action"
            href=""
          >
            Action A
          </a>
          <a
            class="localDropdownHeader__action"
            href=""
          >
            Action B
          </a>
        </div>
      </div>

      <!-- Input -->
      <input
        class="localDropdownInput"
        type="text"
        readonly
        value="This is some text inside of a read-only input"
      />

      <!-- Notes -->
      <div class="localDropdownFormNote">
        Here are some notes to explain the purpose of this section of the dropdown.
      </div>
    </div>
  </div>

  <div class="localNavRow localNavRow--secondary">
    <div class="localSearch">
      <input
        class="localSearchInput"
        type="text"
        placeholder="Filter..."
        autocomplete="off"
      >
      <button class="localSearchButton">
        <span class="fa fa-search"></span>
      </button>
    </div>
  </div>
</div>
