@import (reference) "~ui/styles/mixins";

.filterEditor {
  position: absolute;
  width: 600px;
  z-index: 101;
}

.ui-select-choices--autoWidth {
  width: auto !important;
  min-width: 100% !important;
  max-height: 300px !important;
}

.ui-select-match--ellipsis {
  .ellipsis();
}

.ui-select-match--restrictToParent .ui-select-match-item {
  max-width: 100%;
}

  .ui-select-match--pillWithTooltip {
    display: block;
    margin-right: 16px;
    .ellipsis();
  }
