<filter-params-phrase-editor
  ng-if="operator.type === 'phrase'"
  field="field"
  params="params"
  on-change="onChange({ params: params })"
></filter-params-phrase-editor>

<filter-params-phrases-editor
  ng-if="operator.type === 'phrases'"
  field="field"
  params="params"
  on-change="onChange({ params: params })"
></filter-params-phrases-editor>

<filter-params-range-editor
  ng-if="operator.type === 'range'"
  field="field"
  params="params"
  on-change="onChange({ params: params })"
></filter-params-range-editor>
