<ui-select
  ng-if="field.aggregatable && field.type === 'string'"
  ng-model="params.phrase"
  ui-select-focus-on="focus-params"
>
  <ui-select-match placeholder="Values...">
    <span tooltip="{{$select.selected}}">{{$select.selected}}</span>
  </ui-select-match>
  <ui-select-choices
    repeat="value in filterParamsPhraseEditor.compactUnion([$select.search, $select.selected], valueSuggestions) | filter:$select.search | sortPrefixFirst:$select.search"
    refresh="filterParamsPhraseEditor.refreshValueSuggestions($select.search)"
    refresh-delay="100"
  >
    <div ng-bind="value"></div>
  </ui-select-choices>
</ui-select>

<div
  ng-if="!(field.aggregatable && field.type === 'string')"
  class="kuiFieldGroupSection kuiFieldGroupSection--wide"
>
  <input
    ng-model="params.phrase"
    type="text"
    class="kuiTextInput"
  />
</div>
