home-app {
  background-color: $euiColorLightestShade;
}

.home {
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
}

.homeDirectory {
  background: $euiColorEmptyShade;
  margin: 0;
  border-left: $euiBorderThin;
  border-right: $euiBorderThin;
  border-bottom: $euiBorderThin;
  padding: $euiSize;
}

.homeDirectoryTab {
  background-color: $euiColorLightestShade;
}

.sampleDataSetCard {
  flex-grow: 0;
}

.home-welcome {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $euiZLevel9 + 1000;
  background: inherit;
  background-image: linear-gradient(0deg, $euiColorLightestShade 0%, $euiColorEmptyShade 100%);
  color: inherit;
  opacity: 0;
  overflow: auto;
  animation: homeFadeIn $euiAnimSpeedExtraSlow $euiAnimSlightResistance 0s forwards;
}

.home-welcome::before {
  // SASSTODO: webpack pipeline isn't setup to handle image urls in SASS yet
  // content: url(../assets/bg_top_branded.svg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.home-welcome::after {
  // SASSTODO: webpack pipeline isn't setup to handle image urls in SASS yet
  // content: url(../assets/bg_bottom_branded.svg);
  position: fixed;
  bottom: -2px; // Hides an odd space at the bottom of the svg
  left: 0;
  z-index: 1;
}

.home-welcome-header {
  position: relative;
  padding: $euiSizeXL;
  z-index: 10;
}

.home-welcome-logo {
  margin-bottom: $euiSizeXL;
  @include kibanaCircleLogo;
  @include euiBottomShadowMedium;
}

.home-welcome-title {
  color: inherit;
  font-weight: 400;
}

.home-welcome-footer-action {
  margin-right: $euiSizeS;
}

.welcome-subtitle {
  opacity: 0.75;
}

.home-welcome-content {
  position: relative;
  margin: auto;
  max-width: 512px;
  padding-left: $euiSizeXL;
  padding-right: $euiSizeXL;
  z-index: 10;
}

@keyframes homeFadeIn {
  from {
    opacity: 0;
    transform: translateY(200px), scale(0.75);
  }
  to {
    opacity: 1;
    transform: translateY(0), scale(1);
  }
}
