@import (reference) "~ui/styles/variables.less";

home-app {
  background-color: @globalColorLightestGray;
}

.home {
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
}

.homeDirectory {
  background: @white;
  margin: 0;
  border-left: 1px solid @globalColorLightGray;
  border-right: 1px solid @globalColorLightGray;
  border-bottom: 1px solid @globalColorLightGray;
  padding: 16px;
}

.homeDirectoryTab {
  background-color: @globalColorLightestGray;
}

.sampleDataSetCard {
  flex-grow: 0;
}

.home-welcome {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
  background: inherit;
  // When sassified, should pull in EUI colors: $euiColorLightestShade, $euiColorEmptyShade
  background-image: linear-gradient(0deg, @globalColorLightestGray 0%, white 100%);
  color: inherit;
  opacity: 0;
  overflow: auto;
  animation: homeFadeIn 0.5s ease-in 0s forwards;
}

.home-welcome::before {
  content: url(../assets/bg_top_branded.svg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.home-welcome::after {
  content: url(../assets/bg_bottom_branded.svg);
  position: fixed;
  bottom: -2px; // Hides an odd space at the bottom of the svg
  left: 0;
  z-index: 1;
}

.home-welcome-header {
  position: relative;
  padding: 32px;
  z-index: 10;
}

.home-welcome-logo {
  display: inline-block;
  margin-bottom: 24px;
  background-color: white;
  border-radius: 100%;
  padding: 16px;
  box-shadow: 0 4px 16px -6px rgba(0, 0, 0, 0.75);
}

.home-welcome-title {
  color: inherit;
  font-weight: 400;
}

.home-welcome-footer-action {
  margin-right: 8px;
}

.welcome-subtitle {
  opacity: 0.75;
}

.home-welcome-content {
  position: relative;
  margin: auto;
  max-width: 512px;
  padding-left: 32px;
  padding-right: 32px;
  z-index: 10;
}

@keyframes homeFadeIn {
  from {
    opacity: 0;
    transform: translateY(200px), scale(0.75);
  }
  to {
    opacity: 1;
    transform: translateY(0), scale(1);
  }
}
