@import (reference) "~ui/styles/variables.less";

.home {
  background-color: @globalColorLightestGray;
  min-height: 100vh;
}

.homePanel {
  padding: 24px;
  background-color: @white;
}

.homeTopFeatures {
  margin-top: 12px;
}

.homeFeatureDirectory {
  background: @white;
  margin: 0;
  border-left: 1px solid @globalColorLightGray;
  border-right: 1px solid @globalColorLightGray;
  border-bottom: 1px solid @globalColorLightGray;
  padding: 16px;
}

.homeFeatureCategoryTab {
  background-color: @globalColorLightestGray;
}
