@import (reference) "~ui/styles/variables.less";

.home {
  background-color: @globalColorLightestGray;
  min-height: 100vh;
}

.homePanel {
  padding: 24px;
  background-color: @white;
}

.topFeatures {
  margin-top: 12px;
}

.center {
  text-align: center;
}

.featureDirectory {
  background: @white;
  margin: 0;
  border-left: 1px solid @globalColorLightGray;
  border-right: 1px solid @globalColorLightGray;
  border-bottom: 1px solid @globalColorLightGray;
  padding: 24px;
}

.featureCategoryTab {
  background-color: @globalColorLightestGray;

  &.kuiTab-isSelected {
    background-color: @white;
  }
}
