<div class="kuiCardGroupContainer">
  <div class="kuiCardGroup">
    <div class="kuiCard" style="width: 400px">
      <div class="kuiCard__description">
        <div class="kuiCard__descriptionTitle">
          Get a banana
        </div>

        <div class="kuiCard__descriptionText">
          Bananas are yellow, fit easily in the hand, and have a lot of potassium or something.
        </div>
      </div>

      <div class="kuiCard__footer">
        <a class="kuiButton kuiButton--basic" href="#">
          Banana!
        </a>
      </div>
    </div>

    <div class="kuiCard" style="width: 400px">
      <div class="kuiCard__description">
        <div class="kuiCard__descriptionTitle">
          Get a pteradactyl
        </div>

        <div class="kuiCard__descriptionText">
          Pteradactyls can fly, like to squawk all the time, and are difficult to spell correctly.
        </div>
      </div>

      <div class="kuiCard__footer">
        <a
          class="kuiButton kuiButton--primary"
          href="https://www.elastic.co/subscriptions/xpack"
          target="_blank"
        >
          Pteradactyl!
        </a>
      </div>
    </div>
  </div>
</div>

<br class="guideBreak">

<div class="kuiCardGroup kuiCardGroup--united">
  <div class="kuiCard">
    <div class="kuiCard__description">
      <div class="kuiCard__descriptionTitle">
        Get a banana
      </div>

      <div class="kuiCard__descriptionText">
        Bananas are yellow, fit easily in the hand, and have a lot of potassium or something.
      </div>
    </div>

    <div class="kuiCard__footer">
      <a class="kuiButton kuiButton--basic" href="#">
        Banana!
      </a>
    </div>
  </div>

  <div class="kuiCard">
    <div class="kuiCard__description">
      <div class="kuiCard__descriptionTitle">
        Get a pteradactyl
      </div>

      <div class="kuiCard__descriptionText">
        Pteradactyls can fly, like to squawk all the time, and are difficult to spell correctly.
      </div>
    </div>

    <div class="kuiCard__footer">
      <a
        class="kuiButton kuiButton--primary"
        href="https://www.elastic.co/subscriptions/xpack"
        target="_blank"
      >
        Pteradactyl!
      </a>
    </div>
  </div>
</div>
