.guideDemo {
  margin-top: $guideVerticalRhythm;
}

.guideDemo--fullScreen {
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.guideDemo--darkTheme {
  background-color: #272727;
  padding: 10px;
}
