install-filebeat-step {

  .install-filebeat {
    > ol {
      padding-left: 1em;

      > li {
        padding: 4px 0;
        font-weight: bold;

        > span {
          font-weight: normal;

          > pre {
            margin: 7px 0;
          }
        }
      }
    }
  }

}
