.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 18px 27px;
  font-size: 19px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 6px 9px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
@media (min-width: 992px) {
  .vis-editor-content {
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -1px;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
  }
  .vis-editor-content .vis-sidebar {
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: 300px;
    -moz-flex-basis: 300px;
    -ms-flex-basis: 300px;
    flex-basis: 300px;
  }
  .vis-editor-content .vis-canvas {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -moz-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
  }
}
.vis-editor-content vis-config-editor {
  display: block;
}
.vis-editor-content .sidebar-item-title:hover {
  color: inherit !important;
  background-color: inherit !important;
}
.vis-editor-content .vis-config-details {
  border-top: 1px solid transparent;
  padding: 5px 10px;
  background-color: #ffffff;
  color: #46525d;
}
.vis-editor-content .vis-config-details .config-controls {
  margin-bottom: 5px;
}
.vis-editor-content .agg-config-interval td {
  padding-left: 10px;
}
.vis-editor-content .agg-config-interval td:first-child {
  padding-left: 0px;
}
.vis-wizard h1 {
  margin-top: 45px;
}
vis-canvas {
  display: block;
}
.vis-editor .navbar .form-group {
  display: block;
}
.vis-editor .navbar .input-group {
  position: relative;
}
.vis-editor .navbar .navbar-form.first {
  margin-left: -15px;
}
.vis-editor .navbar .bitty-modal {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  background: rgba(70, 82, 93, 0.9);
  color: white;
  text-align: center;
  padding-top: 6px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.vis-editor .navbar a .fa {
  color: white;
}
form.vis-share div.form-control {
  height: inherit;
}
