@import (reference) "../../../styles/_bootstrap.less";
@import (reference) "../../../styles/theme/_theme.less";
@import (reference) "../../../styles/_variables.less";
@import (reference) "../../../styles/_mixins.less";

visualize {
  .flex-display();
  .flex-direction(column);
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;

  .visualize-error {
    margin-top: 20px;
    text-align: center;
    font-size: 1em;

    .fa-exclamation-triangle {
      font-size: 2em;
      color: @btn-danger-bg;
    }
  }

  .k4tip {
    white-space: pre-line;
  }

  .visualize-chart {
    .flex(1, 1);
    overflow: hidden;

    &.extra-visible {
      margin-bottom: 10px;
    }

    &.extra-only {
      display: none;
    }
  }
}

visualize-extras {
  // this element should flex
  .flex();

  // it's children should also flex vertically
  .flex-direction(column);
  .flex-display();

  overflow: auto;
  padding-top: 10px;

  &.visible {
    display: block;
  }

  &.only {
    .flex(1, 1, auto);
    padding-top: 0px;
  }

  .visualize-show-extras {
    .flex();
    background-color: @well-bg;
    text-align: center;

    i {
      padding: 0 10px;
    }
  }

  .visualize-extra-container {
    .flex(1, 1, auto);

    .flex-display();
    .flex-direction(column);

    padding: 10px 10px 0;

    tr > td {
      font-size: 0.85em;
    }
  }

  .visualize-table-right {
    text-align: right;
  }

  .visualize-table-controls {
    padding: 0 5px;
    text-align: right;
  }

  .visualize-csv-options {
    .form-control {
      padding: 0px 6px;
      height: auto;
    }
    label {
      margin: 0 10px;
      padding: 0;
      font-weight: normal;
    }
    .visualize-csv-separator {
      width: 1.5em;
    }
    button[type=submit] {
      margin-left: 5px;
    }
  }

  .visualize-spy {
    .flex(1, 1, auto);
    .flex-display();
    .flex-direction(column);

    paginate {
      .flex(1, 1, auto);
      .flex-display();
      .flex-direction(column);

      .paginate-content {
        .flex(1, 1, auto);
        .flex-display();
        .flex-direction(column);

        [ui-ace] {
          .flex(1, 1, 100%);
          min-height: 250px;
        }
      }
    }
  }

  .visualize-spy-metadata {
    padding: 0;
    list-style: none;

    li {
      .flex-display();
    }

    label {
      width: 125px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      display: block;
    }
  }
}