@import (reference) "~plugins/rework/main.less";

@rework--editor--background: #eee;
@rework--workspace--background: @kibanaGray6;
@rework--border: 1px solid @kibanaGray4;

.rework--workspace {
  padding-left: 1px;
  flex-grow: 1;
  background: @rework--workspace--background;
  display: flex;
  position: relative;

  .rework--workspace-element-header {
    .rework--positionable-actions, .rework--positionable-resize {
      display: none;
    }

    .rework--positionable:hover .rework--positionable-meta {
      box-shadow: inset 0px 0px 0px 2px @kibanaBlue2;
    }

    &.rework--workspace-element-header-selected {

      .rework--positionable-meta {
        box-shadow: inset 0px 0px 0px 2px @kibanaBlue2;
      }

      .rework--positionable-actions, .rework--positionable-resize {
        display: block;
      }
    }
  }


  .rework--workpad {

    .rework--positionable {
      overflow: none;
    }

    .rework--element {
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
  }

  .rework--page-control {
    color: @text-color;
    text-align: center;
    font-size: 70px;
    margin: 20px;
    opacity: 0.2;

    &:hover {
      opacity: 0.5;
    }
  }

  .rework--editor-toggle--left .rework--editor-toggle {
    display: block;
    position: absolute;
    background-color: @rework--editor--background;
    width: 24px;
    right: -23px;
    padding: 25px 8px 24px 8px;
    color: @text-color;
    border-right: @rework--border;
    border-bottom: @rework--border;
  }

  .rework--editor--left {
    display: flex;
    flex-grow: 1;
    background-color: @rework--editor--background;
    border-right: @rework--border;
    width: 350px;
  }
}
