@import (reference) "~plugins/rework/main.less";

@rework--editor--background: @kibanaGray5;

.rework--workspace {
  flex-grow: 1;
  background: @kibanaGray4;
  display: flex;
  position: relative;

  .rework--workspace-element-wrapper {
    .rework--positionable-actions, .rework--positionable-resize {
      display: none;
    }

    .rework--positionable {
      &:hover {
        box-shadow: inset 0px 0px 0px 2px @kibanaBlue2;
      }
    }

    &.rework--workspace-element-wrapper-selected {

      .rework--positionable {
        box-shadow: inset 0px 0px 0px 2px @kibanaBlue2;
      }

      .rework--positionable-actions, .rework--positionable-resize {
        display: block;
      }
    }
  }


  .rework--workpad {

    .rework--positionable {
      overflow: none;
    }

    .rework--element {
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
  }

  .rework--page-control {
    color: @text-color;
    text-align: center;
    font-size: 70px;
    margin: 20px;
    opacity: 0.2;

    &:hover {
      opacity: 0.5;
    }
  }

  .rework--editor-toggle--left .rework--editor-toggle {
    display: block;
    position: absolute;
    background-color: @rework--editor--background;
    width: 24px;
    right: -24px;
    padding: 25px 8px;;
    color: @text-color;
  }

  .rework--editor--left {
    display: flex;
    flex-grow: 1;
    background-color: @rework--editor--background;
    width: 350px;
  }
}
