<kbn-settings-app section="indices">
  <kbn-settings-indices>
    <div ng-controller="settingsIndicesEdit" bindonce>
      <div class="page-header">
        <h1>
          <i ng-if="defaultIndex === indexPattern.id" class="fa fa-star"></i>
          {{indexPattern.id}}
          <button
            ng-click="setDefaultPattern()"
            tooltip="Set as default index"
            class="btn btn-success">
            <i class="fa fa-star"></i>
          </button>
          <button
            confirm-click="indexPattern.refreshFields()"
            confirmation="This will reset the field popularity counters. Are you sure you want to reload your fields?"
            tooltip="Reload field list"
            class="btn btn-warning">
            <i class="fa fa-refresh"></i>
          </button>
          <button
            confirm-click="removePattern()"
            confirmation="Are you sure you want to remove this index pattern?"
            tooltip="Remove index pattern"
            class="btn btn-danger">
            <i class="fa fa-ban"></i>
          </button>

        </h1>
        <p>
          This page lists every field in the <strong>{{indexPattern.id}}</strong>
          index and the field's associated core type as recorded by Elasticsearch.
          While this list allows you to view the core type of each field, changing
          field types must be done using Elasticsearch's
          <a href="http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/mapping.html">
            Mapping API
          </a>
        </p>
        <div bo-if="indexPattern.timeFieldName && indexPattern.intervalName" class="alert alert-info">
          This index uses a <strong>Time-based index pattern</strong> which repeats <span bo-text="indexPattern.getInterval().display"></span>
        </div>
        <div bo-if="conflictFields.length" class="alert alert-warning">
          <strong>Mapping conflict!</strong> {{conflictFields.length > 1 ? conflictFields.length : 'A'}} field{{conflictFields.length > 1 ? 's' : ''}} {{conflictFields.length > 1 ? 'are' : 'is'}} defined as several types (string, integer, etc) across the indices that match this pattern. You may still be able to use these conflict fields in parts of Kibana, but they will be unavailable for functions that require Kibana to know their type. Correcting this issue will require reindexing your data.
        </div>
      </div>

      <paginate list="indexPattern.fields|orderBy:table.by:table.reverse" per-page="20">
        <table class="table">
          <thead>
            <th ng-click="setFieldSort('name')">name <i ng-class="sortClass('name')"></i></th>
            <th ng-click="setFieldSort('type')">type <i ng-class="sortClass('type')"></i></th>
            <th ng-click="setFieldSort('analyzed')">
              analyzed <kbn-info info="Analyzed fields may require extra memory to visualize" placement="top"></kbn-info>
              <i ng-class="sortClass('analyzed')"></i>
            </th>
            <th ng-click="setFieldSort('indexed')">
              indexed <kbn-info info="Fields that are not indexed are unavailable for search" placement="top"></kbn-info>
              <i ng-class="sortClass('indexed')"></i>
            </th>
            <th ng-click="setFieldSort('count')">
              popularity <kbn-info info="A gauge of how often this field is used" placement="top"></kbn-info>
              <i ng-class="sortClass('count')"></i>
            </th>

          </thead>
          <tr class="field-settings"
            ng-repeat="field in page">
          <td>
              <span bo-text="field.name"></span>
              &nbsp;
              <span
                bo-if="indexPattern.timeFieldName === field.name"
                tooltip="This field represents the time that events occured"
                class="label label-default">
              <i class="fa fa-clock-o"></i>
              </span>
            </td>
            <td>
              <span bo-text="field.type"></span>
              <i
              bo-if="field.type == 'conflict'"
              tooltip="The type of this field changes across indices. It is unavailable for many analysis functions"
              class="fa fa-warning text-color-warning"></i>
            </td>
            <td><span bo-text="field.analyzed ? 'yes' : 'no'"></span></td>
            <td><span bo-text="field.indexed ? 'yes' : 'no'"></span></td>
            <td>
              <span bo-text="field.count"></span>
              <span class="field-popularize">
                <span ng-click="indexPattern.popularizeField(field.name, 1)" class="label label-default"><i class="fa fa-plus"></i></span>
                <span ng-click="indexPattern.popularizeField(field.name, -1)" class="label label-default"><i class="fa fa-minus"></i></span>
              </span>
            </td>
          </tr>
        </table>
      </paginate>
    </div>
  </kbn-settings-indices>
</kbn-settings-app>