.highlightLine {
  background: lightblue;

}

.markLineNumber {
  background: lightblue;
	width: 5px;
}

.monaco-editor-hover {
  border: 1px solid #c8c8c8;
  cursor: default;
  position: absolute;
  overflow: hidden;
  z-index: 5;
  -webkit-user-select: text;
  -ms-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
  box-sizing: initial;
  animation: fadein .1s linear;
  line-height: 1.5em;
  background: #FFFFFF;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 4px 8px 0 rgba(153,153,153,0.15),
  0 2px 3px -1px rgba(153,153,153,0.30);
}

.monaco-editor-hover .hover-row {
  padding: 4px 5px;
}

.monaco-editor-hover .button-group {
  background: linear-gradient(-180deg, #FAFAFA 0%, #F8F8F8 100%);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 -1px 0 0 #D9D9D9;
  height: 32px;
}

.monaco-editor-hover .button-group button:not(:first-child) {
  border-left: 1px solid #D8D8D8;
}
.monaco-editor-hover .button-group button{
  font-size: 13px;
  font-weight: normal;
  border: 0;
  border-radius: 0;
}

.text-placeholder {
  width: 100%;
  height: 18px;
  margin: 4px 0 4px 0;
}

.gradient {
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eaeaea 8%, #f8f8f8 38%, #eaeaea 54%);
  background-size: 1000px 640px;

  position: relative;

}

@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}