.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 18px 27px;
  font-size: 19px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 6px 9px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
body.application-dashboard {
  background-color: #589cbc;
}
dashboard-grid {
  display: block;
  margin: 0;
  padding: 5px;
}
.gridster {
  list-style-type: none;
  display: block;
  background-color: #589cbc;
  margin: 0;
  padding: 0;
}
.gridster .gs-resize-handle {
  background-position: 50% 50% !important;
  bottom: 0 !important;
  right: 0 !important;
  padding: 4px;
  height: 25px;
  width: 25px;
}
.gridster .preview-holder {
  border: none!important;
  background: #b4bcc2 !important;
}
.gridster i.remove {
  cursor: pointer;
}
.gridster dashboard-panel {
  display: block;
  height: 100%;
  background: #ffffff;
  color: #46525d;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.gridster dashboard-panel .panel {
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.gridster dashboard-panel .panel .panel-heading {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  min-height: 45px;
}
.gridster dashboard-panel .panel .panel-heading a {
  color: #46525d;
  border: none;
  background: none;
  padding: 0px 3px;
}
.gridster dashboard-panel .panel .panel-heading a:hover {
  color: #31c471;
}
.gridster dashboard-panel .panel visualize {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  height: auto;
}
.dashboard-load {
  margin: 10px;
}
