@import "../../../../bower_components/bootstrap/less/variables.less";
@import "../../../../bower_components/bootstrap/less/theme.less";

.gridster .preview-holder {
    border: none!important;
    background: @gray-light!important;
}

.gridster li.gs-w {
  border: 1px solid @gray-light;
  background: @gray-lighter;
  padding: 5px;
}

.gridster {
  list-style-type: none;
  display: block;
}