.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
body.application-dashboard {
  background-color: #18bc9c;
}
.gridster-container {
  margin: 0;
  padding: 5px;
}
.gridster {
  list-style-type: none;
  display: block;
  background-color: #18bc9c;
  margin: 0;
  padding: 0;
}
.gridster .preview-holder {
  border: none!important;
  background: #999999 !important;
}
.gridster i.remove {
  cursor: pointer;
}
.gridster dashboard-panel {
  display: block;
  height: 100%;
  background: #ffffff;
  color: #18bc9c;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  overflow: hidden;
  position: relative;
}
.gridster dashboard-panel .btn {
  position: absolute;
  color: #d9534f;
  top: 0px;
  right: 0px;
  border: none;
  background: none;
  opacity: .25;
  transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
}
.gridster dashboard-panel .btn:hover {
  opacity: 1;
}
.dashboard-load {
  margin: 10px;
}
