@import (reference) "../../../styles/_bootstrap.less";
@import (reference) "../../../styles/theme/_theme.less";

@dashboard-background: #18bc9c;

body.application-dashboard {
  background-color: @dashboard-background;
}

// Dashboard app container stretches to fill height. Required because gridster is not full height
div.application div.dashboard-container {
  width: 100%;
  background-color: @dashboard-background;
}

[dashboard-grid].gridster {
  list-style-type: none;
  display: block;
  background-color: @dashboard-background;
  margin-bottom: 0;
}

[dashboard-grid].gridster .preview-holder {
    border: none!important;
    background: @gray-light!important;
}

[dashboard-grid].gridster li.gs-w {
  background: #fff;
  padding: 5px;
  color: @dashboard-background;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  overflow: hidden;
}

[dashboard-grid] i.remove {
  cursor: pointer;
}

.dashboard-load {
  margin: 10px;
}