.canvas__color-dot {
  display: inline-block;
  position: relative;
  height: $euiSizeXL;
  width: $euiSizeXL;

  .canvas__color-dot--background {
    position: absolute;
    height: $euiSizeXL;
    width: $euiSizeXL;
    border-radius: 16px;
    top: 0;
    left: 0;
  }

  .canvas__color-dot--foreground {
    position: absolute;
    border: $euiBorderThick;
    height: $euiSizeXL;
    width: $euiSizeXL;
    border-radius: $euiSize;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
