@import (reference) "../../../style/main";

.canvas__datasource_preview {
  background-color: @background;
  color: @textMain;
  border-radius: @borderRadius;
  margin: @spacingS;
  padding: 0 @spacingS;
}
