@import (reference) "~ui/styles/mixins";
@import (reference) "~ui/styles/variables";

body { overflow-x: hidden; }

.app-links-wrapper {
  width: @as-open-width;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  background-color: @app-links-wrapper-background;
  overflow: hidden;
  transition: width @transition-time;
  transition-delay: @transition-delay;

  &:hover {
    .app-title {
      display: inline-block;
    }
    + .app-wrapper {
      transform: translateX(@as-open-width - @as-closed-width);
    }
  }

  .logo-small,
  .logo {
    height: 70px;
    width: @as-open-width;
    list-style-type: none;
    &.kibana {
      background-image: url("~ui/images/kibana.svg");
      background-position: 6px 10px;
      background-size: 140px 50px;
      background-repeat: no-repeat;
      background-color: #e8488b;
    }
  }

  .bottom-apps {
    position: absolute;
    bottom: 0;
  }
}

.app-wrapper {
  .real-flex-parent();
  position: absolute;
  transition: transform @transition-time;
  transition-delay: @transition-delay;
  left: @as-closed-width;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin: 0 auto;
  background-color: #fff;

  &.hidden-chrome {
    left: 0;
  }

  .navbar-right {
    margin-right: 0;
  }
}

  .app-wrapper-panel {
    .flex-parent(@shrink: 0);
    box-shadow: -4px 0px 3px rgba(0,0,0,0.2);
  }

.app-links {
  text-align: justify;

  .app-link {
    width: @as-open-width;
    height: @app-icon-height;
    line-height:  @app-line-height;

    > a {
      display: block;
      height: 100%;
      color: #ebf7fa;
    }

    &.is-app-switcher-app-link-disabled {
      opacity: 0.5;

      .app-link__anchor {
        cursor: default;
      }
    }

    .app-icon {
      float: left;
      font-weight: bold;
      text-align: center;
      font-size: 1.7em;
      display: inline-block;
      height: @app-icon-height;
      width: @as-closed-width;

      > img {
        height: 18px;
        margin-top: 8px;
        filter: invert(100%);
      }
      > i {
        color: #fff;
        line-height: @app-icon-height
      }
    }

    .app-icon-missing {
      float: left;
      text-align: center;
      font-size: 1.7em;
      display: inline-block;
      height: @app-icon-height;
      line-height: @app-icon-height;
      width: @as-closed-width;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .app-title {
      width: calc(@as-open-width - @as-closed-width);
      display: inline-block;
      float: right;
      font-size: 0.9em;
      text-align: left;
      padding-left: 3px;
      line-height: @app-icon-height;
    }

    &:hover,
    &.active {
      background-color: @app-links-active-background;
      > a {
        color: @white;
        text-decoration: none;
      }
    }
  }

}
