@import (reference) "~ui/styles/mixins";
@import (reference) "~ui/styles/variables";

body { overflow-x: hidden; }

.app-links-wrapper {
  width: @as-closed-width;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  background-color: @app-links-wrapper-background;
  overflow: hidden;

  &.is-app-links-wrapper-open {
    width: @as-open-width;
    .app-title {
      display: inline-block;
    }
    + .app-wrapper {
      left: @as-open-width;
    }
  }

  .logo-small,
  .logo {
    height: 70px;
    width: @as-open-width;
    list-style-type: none;
    &.kibana {
      background-image: url("~ui/images/kibana.svg");
      background-position: 6px 10px;
      background-size: 140px 50px;
      background-repeat: no-repeat;
      background-color: #e8488b;
    }
  }

  .bottom-apps {
    position: absolute;
    bottom: 0;
  }
}

.app-wrapper {
  .real-flex-parent();
  position: absolute;
  left: @as-closed-width;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  margin: 0 auto;
  background-color: #fff;

  /**
   * 1. Dirty, but we need to override the .is-app-links-wrapper-open state
   *    when we're looking at the log-in screen.
   */
  &.hidden-chrome {
    left: 0 !important; /* 1 */
  }

  .navbar-right {
    margin-right: 0;
  }
}

  .app-wrapper-panel {
    .flex-parent(@shrink: 0);
    box-shadow: -4px 0px 3px rgba(0,0,0,0.2);
  }
