<div
  ng-switch="mode"
  ng-init="mode = 'visualization'"
>
  <div class="kuiLocalDropdownTitle">Add Panels</div>

  <ul class="nav nav-tabs">
    <li ng-class="{active: mode == 'visualization'}">
      <a
        ng-click="mode='visualization'"
        aria-label="List visualizations"
      >
        Visualization
      </a>
    </li>
    <li ng-class="{active: mode == 'search'}">
      <a
        ng-click="mode='search'"
        aria-label="List saved searches"
      >
        Saved Search
      </a>
    </li>
  </ul>

  <div class="list-group-item list-group-item--noBorder" ng-switch-when="visualization">
    <saved-object-finder
      use-local-management="true"
      type="visualizations"
      on-add-new="opts.addNewVis"
      on-choose="opts.addVis">
    </saved-object-finder>
  </div>

  <div class="list-group-item list-group-item--noBorder" ng-switch-when="search">
    <saved-object-finder
      type="searches"
      use-local-management="true"
      on-choose="opts.addSearch"
    ></saved-object-finder>
  </div>
</div>
