$modalPadding: 10px;
$modalBorderColor: #6EADC1;
$modalBackgroundColor: #FFF;
$modalOverlayBackground: rgba(#000000, 0.3);
$globalModalDepth: 1000;

// Dark theme colors
$modalBorderColor--darkTheme: #000;
$modalBackgroundColor--darkTheme: #525252;

@import "modal_overlay";
@import "modal";
