.rangeSliderAnchor__button {
  .euiFormControlLayout {
    box-shadow: none;
    background-color: transparent !important;
  }

  .rangeSlider__invalidToken {
    padding: 0 $euiSizeS;
    display: flex;

    .euiToolTipAnchor {
      align-self: center;
    }

    .euiIcon {
      background-color: transparent;
      width: $euiSizeS * 2;
      border-radius: $euiSizeXS;
      padding: 0 calc($euiSizeXS / 2);
    }
  }
}

.rangeSliderAnchor__fieldNumber {
  font-weight: $euiFontWeightMedium;
  height: calc($euiButtonHeight - 3px) !important;

  &.rangeSliderAnchor__fieldNumber--valid:invalid:not(:focus) {
    background-image: none; // override the red underline for values between steps
  }

  &.rangeSliderAnchor__fieldNumber--invalid {
    color: $euiColorWarningText;
  }

  &:placeholder-shown, &::placeholder {
    font-weight: $euiFontWeightRegular;
    color: $euiTextSubduedColor;
    text-decoration: none;
  }
}
