.kuiPanel {
  border-left: $tableBorder;
  border-right: $tableBorder;
  border-bottom: $tableBorder;
}

.kuiPanel--centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kuiPanelHeader {
  @include buttonOnStandoutBackground;
  @include selectOnStandoutBackground;

  display: flex;
  align-items: center;
  padding: $toolBarPadding;
  height: $toolBarHeight;
  background-color: $standoutBackgroundColor;
}

  .kuiPanelHeader__title {
    font-size: $titleFontSize;
    line-height: $lineHeight;
  }

.kuiPanelBody {
  padding: $toolBarPadding;
}
