@import (reference) "~plugins/rework/main.less";

/*
z-indices:
  Workspace: 0-1000
  Page: 1000-1999
  Elements: 2000-2999 (closer to front of array = lower on stack)
  Left-sidebar: 3000-3999
  Top Nav & Dropdowns: 4000-4999
*/

.rework--page-previews {
  .rework--interactable-resize, .rework--interactable-actions {
    display: none;
  }
}

.rework--watermark {
  &:after {
    content: "{Re}search";
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 32px;
    font-weight: bold;
    color: #000;
    opacity: 0.1;
    z-index: 2000;
    pointer-events: none;
  }
}


.rework--inline-form {
  display: flex;
  margin-bottom: 10px;

  .btn-group {
    display: flex;
  }

  > * {
    margin-right: 5px;
  }

  > *:last-child {
    margin-right: 0px;
  }
}

.rework--fullscreen {
  .rework--page {
    overflow: hidden;
  }
}

.rework--element {
  height: 100%;
  width: 100%;
}

.rework--application {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.rework--workspace {
  padding-left: 1px;
  flex-grow: 1;
  background: @rework--workspace--background;
  display: flex;
  position: relative;
  z-index: 1000;

  .rework--workspace-element-header {
    .rework--interactable-actions, .rework--interactable-resize {
      display: none;
    }

    .rework--interactable:hover .rework--interactable-meta {
      box-shadow: inset 0px 0px 0px 2px @kibanaBlue2;
    }

    &.rework--workspace-element-header-selected {

      .rework--interactable-meta {
        box-shadow: inset 0px 0px 0px 2px @kibanaBlue2;
      }

      .rework--interactable-actions, .rework--interactable-resize {
        display: block;
      }
    }
  }

  .rework--sidebar-left {
    z-index: 3000;
  }

  .rework--editor {
    padding: 10px;
    width: 100%;

    h4 > i {
      color: @kibanaBlue2;
    }

    .rework--editor-section {
      padding-bottom: 10px;
    }

    .rework--argument-form {
      width: 100%;
    }
  }


  .rework--workpad {

    position: relative;
    .rework--interactable {
      overflow: none;
    }
  }

  .rework--page-control {
    color: @text-color;
    text-align: center;
    font-size: 70px;
    margin: 20px;
    opacity: 0.2;

    &:hover {
      opacity: 0.5;
    }
  }

  .rework--page-manager {
    > * {
      opacity: 0.25;
      font-size: 40px;

      &:hover {
        opacity: 1;
      }
    }

    .rework--page-manager-no-remove:hover {
      color: inherit !important;
      opacity: 0.25 !important;
    }

  }

  .rework--editor-toggle--left {
    display: block;
    position: absolute;
    background-color: @rework--editor--background;
    right: -23px;
    border-right: @rework--border;
    border-bottom: @rework--border;

    a {
      display: block;
      padding: 25px 8px 24px 8px;
      width: 24px;
      color: @text-color;
    }
  }

  .rework--editor--left {
    width: 400px;
    display: flex;
    flex-grow: 1;
    background-color: @rework--editor--background;
    border-right: @rework--border;
  }
}

table.rework--table-form td {
  padding-right: 10px;
}
