<div class="row-fluid" ng-controller="parallelcoordinates">
  <div style="width:90%">
    <form class="input-append">
      <h6>Query</h6>
      <input ng-model="panel.query" style="width:90%" type="text">
      <button class="btn" ng-click="get_data();">
        <i class="icon-search"></i>
      </button>
    </form>
  </div>
</div>
<h5>Panel Spy</h5>
<div class="row-fluid">
  <div class="span2">
    <label class="small">Spyable</label>
    <input ng-checked="panel.spyable" ng-model="panel.spyable" type="checkbox">
  </div>
  <div class="span9 small">
    The panel spy shows 'behind the scenes' information about a panel. It can
    be accessed by clicking the
    <i class="icon-eye-open"></i>
    in the top right
    of the panel.
  </div>
</div>
