@import 'variables';

// Put the page background color in the flyout version too
.kbnSolutionNav__flyout {
  background-color: $euiPageBackgroundColor;

  .kbnSolutionNav {
    flex: auto; // Override default EuiPageSideBar flex CSS when in a flyout
  }
}

.kbnSolutionNav {
  display: flex;
  flex-direction: column;

  @include euiYScroll;

  @include euiBreakpoint('m', 'l', 'xl') {
    width: $solutionNavWidth;
    padding: $euiSizeL;
  }

  &__title {
    display: inline-flex;
    align-items: center;
  }

  &__titleAvatar {
    margin-right: $euiSizeM;
    align-self: flex-start;
  }
}

.kbnSolutionNav--hidden {
  pointer-events: none;
  opacity: 0;

  @include euiCanAnimate {
    transition: opacity $euiAnimSpeedFast $euiAnimSlightResistance;
  }
}
