$euiSideNavEmphasizedBackgroundColor: transparentize($euiColorLightShade, .7);
@import '@elastic/eui/src/components/side_nav/mixins';
@import 'variables';

// Put the page background color in the flyout version too
.kbnSolutionNav__flyout {
  background-color: $euiPageBackgroundColor;
}

.kbnSolutionNav {
  @include euiSideNavEmbellish;
  @include euiYScroll;

  display: flex;
  flex-direction: column;

  @include euiBreakpoint('m', 'l', 'xl') {
    width: $solutionNavWidth;
    padding: $euiSizeL;
  }

  &__title {
    display: inline-flex;
    align-items: center;
  }

  &__titleAvatar {
    margin-right: $euiSizeM;
    align-self: flex-start;
  }
}

.kbnSolutionNav--hidden {
  pointer-events: none;
  opacity: 0;

  @include euiCanAnimate {
    transition: opacity $euiAnimSpeedFast $euiAnimSlightResistance;
  }
}
