- input: cloudfoundry
  template_path: cloudfoundry.yml.hbs
  title: |
    {{ data_stream_title }}
  description: |
    {{ data_stream_description }}
  vars:
    - name: api_address
      type: text
      title: API Address
      multi: false
      required: true
      show_user: true
      default: "http://api.bosh-lite.com"
      description: The URL of the Cloud Foundry API.
    - name: client_id
      type: text
      title: Client ID
      multi: false
      required: true
      show_user: true
      description: Client ID to authenticate with Cloud Foundry.
    - name: client_secret
      type: text
      title: Client Secret
      multi: false
      required: true
      show_user: true
      secret: true
      description: Client Secret to authenticate with Cloud Foundry.
    - name: shard_id
      type: text
      title: Shard ID
      required: false
      show_user: false
      description: |
        Shard ID for the connection with Cloud Foundry. Use the same ID across multiple filebeat to shard the load of events. Default: "(generated UUID)".
    - name: version
      type: text
      title: Cloud Foundry API Version
      required: false
      show_user: false
      description: |
        Consumer API version to connect with Cloud Foundry to collect events. Use v1 to collect events using Doppler/Traffic Control. Use v2 to collect events from the RLP Gateway. Default: "v1".
    - name: doppler_address
      type: text
      title: Doppler Address
      required: false
      show_user: false
      description: |
        The URL of the Cloud Foundry Doppler Websocket. Optional. Default: "(value from ${api_address}/v2/info)".
    - name: uaa_address
      type: text
      title: UAA Address
      required: false
      show_user: false
      description: |
        The URL of the Cloud Foundry UAA API. Optional. Default: "(value from ${api_address}/v2/info)".
    - name: rlp_address
      type: text
      title: RLP Address
      required: false
      show_user: false
      description: |
        The URL of the Cloud Foundry RLP Gateway. Optional. Default: "(log-stream subdomain under the same domain as api_server)".
    - name: custom
      type: yaml
      title: Additional Log Configuration Options
      description: >
          Configuration options that can be used to further change input configuration. Check the [Filebeat documentation](https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-input-log.html) for more information.
      required: false
      show_user: false
      default: |
        #recursive_glob.enabled: true
        #encoding: plain
        harvester_buffer_size: 16384
        max_bytes: 10485760
        # json.keys_under_root: false
        # json.add_error_key: false
        # json.message_key: message
        # json.overwrite_keys: false
        # json.expand_keys: false
        # json.document_id: ""
        # json.ignore_decoding_error: false
        # multiline.type: pattern
        # multiline.pattern: "^{"
        # multiline.negate: true
        # multiline.match: after
        # multiline.max_lines: 500
        # multiline.timeout: 5s
        # multiline.flush_pattern: ""
        # exclude_lines: ['^DBG']
        # include_lines: ['^ERR', '^WARN']
        # scan_frequency: 10s
        # harvester_limit: 0
        # tail_files: false
        # backoff: 1s
        # max_backoff: 10s
        # backoff_factor: 2
        # close_inactive: 5m
        # close_renamed: false
        # close_removed: true
        # close_eof: false
        # close_timeout: 0
        # clean_removed: true
        # clean_inactive: 0
        # ignore_older: 0
        # max_bytes: 10485760
        # symlinks: false