@import (reference) "../../style/main";

.canvas__font-picker--popover {
  .popover-content {
    padding: 0px;
  }
}

.canvas__font-picker {
  height: 200px;

  .canvas__font-picker--font {
    padding: @spacingXS @spacingM;

    &:hover {
      background-color: @lightestGrey;
      cursor: pointer;
    }
  }
}
