@import (reference) "../../style/main";

.canvas__font-picker {
  .canvas__font-picker--font {
    padding: @spacingXS;

    &:hover {
      background-color: @lightestGrey;
      cursor: pointer;
    }
  }
}
