.canvasFontPicker__wrapper {
  // hacky fix until we can use EUI super select
  > .euiPopover__anchor {
    width: 100%;
  }
}

.canvasFontPicker {
  @include euiScrollBar;

  height: 200px;
  overflow-y: scroll;

  .canvasFontPicker__font {
    display: block;
    width: 100%;
    padding: $euiSizeXS $euiSize;
    color: black;
  }
}
