@import (reference) "../../style/main";

.canvas__home_app {
  padding: @spacingS;

  .canvas__workpad_loader {
    background-color: @darkestGrey;
    color: @lightGrey;
    padding: @spacingS;
  }
}