<div class="kuiButtonGroup kuiButtonGroup--united">
  <button class="kuiButton kuiButton--basic">
    Option A
  </button>
  <button class="kuiButton kuiButton--basic">
    Option B
  </button>
  <button class="kuiButton kuiButton--basic">
    Option C
  </button>
</div>

<hr class="guideBreak">

<div class="kuiButtonGroup kuiButtonGroup--united">
  <button class="kuiButton kuiButton--basic kuiButton--iconText">
    <span class="kuiButton__icon kuiIcon fa-chevron-left"></span>
    <span>Back</span>
  </button>
  <button class="kuiButton kuiButton--basic kuiButton--iconText">
    <span>Next</span>
    <span class="kuiButton__icon kuiIcon fa-chevron-right"></span>
  </button>
</div>
