<div class="kuiMenu kuiMenu--contained">
  <div class="kuiMenuItem">
    <div class="kuiActionItem">
      <p class="kuiText">Item A</p>
      <div class="kuiMenuButtonGroup">
        <button class="kuiMenuButton kuiMenuButton--basic">
          Acknowledge
        </button>
        <button class="kuiMenuButton kuiMenuButton--basic">
          Silence
        </button>
        <button class="kuiMenuButton kuiMenuButton--danger">
          Delete
        </button>
      </div>
    </div>
  </div>

  <div class="kuiMenuItem">
    <div class="kuiActionItem">
      <p class="kuiText">Item B</p>
      <div class="kuiMenuButtonGroup">
        <button class="kuiMenuButton kuiMenuButton--basic">
          Acknowledge
        </button>
        <button class="kuiMenuButton kuiMenuButton--basic">
          Silence
        </button>
        <button class="kuiMenuButton kuiMenuButton--danger">
          Delete
        </button>
      </div>
    </div>
  </div>

  <div class="kuiMenuItem">
    <div class="kuiActionItem">
      <p class="kuiText">Item C</p>
      <div class="kuiMenuButtonGroup">
        <button class="kuiMenuButton kuiMenuButton--basic">
          Acknowledge
        </button>
        <button class="kuiMenuButton kuiMenuButton--basic">
          Silence
        </button>
        <button class="kuiMenuButton kuiMenuButton--danger">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
