<div
  class="panel panel-default"
  ng-if="category.name !== 'group' || vis.segment.configs.length > 0">
  <div class="panel-heading" >
    {{ category.label }}
    <button
      type="button"
      ng-if="category.configs.length < category.max"
      ng-click="vis.addConfig(category.name)"
      class="btn btn-default" >
      <i class="fa fa-plus"></i>
    </button>
  </div>
  <div class="panel-body">
    <vis-config-editor
      ng-repeat="config in category.configs"
      category="category"
      config="config"
      vis="vis"
      fields="fields"
      move="moveHandler">
    </vis-config-editor>
  </div>
</div>