<div
  class="sidebar-item-title"
  ng-if="category.name !== 'group' || vis.segment.configs.length > 0">
  <span>
    <button
      type="button"
      ng-if="category.configs.length < category.max"
      ng-click="vis.addConfig(category.name)"
      class="btn btn-xs btn-default" >
      <i class="fa fa-plus"></i>
    </button>
    {{ category.label }}
  </span>
</div>
<div ng-if="category.configs.length > 0" class="vis-config-details">
  <vis-config-editor
    ng-repeat="config in category.configs"
    category="category"
    config="config"
    vis="vis"
    fields="fields"
    move="moveHandler">
  </vis-config-editor>
</div>
