<paginate list="rows" per-page="10">
  <table class="table table-condensed">
    <thead>
      <tr bindonce>
        <th ng-repeat="col in columns" ng-click="cycleSort(col)">
          <span bo-text="col"></span>
          <i
            ng-if="sort.field === col"
            class="fa"
            ng-class="{
              'fa-sort-asc': sort.asc,
              'fa-sort-desc': !sort.asc
            }">
          </i>
        </th>
      </tr>
    </thead>
    <tbody kbn-rows="page" kbn-rows-min="paginate.perPage"></tbody>
  </table>
  <form class="visualize-table-controls form-inline" role="form" ng-submit="exportAsCsv()">
    <span class="small" ng-click="csv.showOptions = true" ng-if="csv.showOptions === false">
      Export <i class="fa fa-download"></i>
    </span>
    <span class="small visualize-csv-options" ng-if="csv.showOptions">
      <div class="form-group">
        <label>Filename</label>
        <input type="text" class="form-control" ng-model="csv.filename">
      </div>
      <div class="form-group">
        <label>Separator</label>
        <input type="text" class="form-control visualize-csv-separator" ng-model="csv.separator">
      </div>
      <div class="checkbox">
        <label>
          Quote values? <input type="checkbox" ng-model="csv.quoteValues">
        </label>
      </div>
      <button type="submit"><i class="fa fa-download"></i></button>
    </span>
  </div>
</paginate>