<div class="visualize-chart" ng-class="{ 'table-visible': showTable }"></div>
<div
  ng-click="showTable = !showTable"
  ng-class="{ active: showTable }"
  class="visualize-show-table">
  <small><i class="fa fa-table"></i></small>
</div>
<div class="visualize-table" ng-class="{ 'visible': showTable }">
  <paginate list="flattenedData.rows" per-page="30">
    <table class="table">
      <thead>
        <tr>
          <th ng-repeat="col in flattenedData.columns">{{col}}</th>
        </tr>
      </thead>
      <tbody kbn-rows="page"></tbody>
    </table>
  </paginate>
</div>