<div class="btn-toolbar visualize-table-controls" role="toolbar">
  <div class="btn-group pull-right">
    <button class="btn btn-default" tooltip="Export this table as CSV">
      <i class="fa fa-download" ng-click="exportAsCsv()"></i>
    </button>
  </div>
</div>
<paginate list="rows" per-page="10">
  <table class="table table-condensed">
    <thead>
      <tr bindonce>
        <th ng-repeat="col in columns" ng-click="cycleSort(col)">
          <span bo-text="col"></span>
          <i
            ng-if="sort.field === col"
            class="fa"
            ng-class="{
              'fa-sort-asc': sort.asc,
              'fa-sort-desc': !sort.asc
            }">
          </i>
        </th>
      </tr>
    </thead>
    <tbody kbn-rows="page" kbn-rows-min="paginate.perPage"></tbody>
  </table>
</paginate>