<div class="visualize-chart"></div>
<div ng-click="toggleTable()" class="visualize-show-table">
  <small>
    <i
      ng-class="{
        'fa-chevron-up': !showTable,
        'fa-chevron-down': showTable
      }"
      class="fa"></i></small>
</div>
<div class="visualize-table">
  <paginate list="flattenedData.rows" per-page="10">
    <table class="table">
      <thead>
        <tr>
          <th ng-repeat="col in flattenedData.columns">{{col}}</th>
        </tr>
      </thead>
      <tbody kbn-rows="page"></tbody>
    </table>
  </paginate>
</div>