.guidePage {
  display: flex;
  flex: 1 0 auto;
  margin-bottom: $kuiSizeL;
  overflow: hidden;
}

.guidePageBody {
  $topMargin: $kuiSizeL;
  $leftMargin: 120px + $guideSideNavWidth;
  $rightMargin: 80px;
  $scrollBarWidth: 20px;

  background-color: $kuiColorEmptyShade;
  border: $kuiBorderThin;
  border-radius: $kuiBorderRadius;
  flex: 1 1 auto;
  padding: 0 $kuiSizeL $kuiSizeL $kuiSizeL;
  margin: $topMargin $rightMargin 0 $leftMargin;
  width: calc(100vw - #{$leftMargin + $rightMargin + $scrollBarWidth});

  .is-code-viewer-open & {
    width: calc(100vw - #{$leftMargin + $rightMargin + $scrollBarWidth + $guideCodeViewerWidth});
  }

  @include whenNarrowerThan($guideNormalBreakpoint) {
    $leftMargin: $kuiSizeL + $guideSideNavSmallWidth;
    $rightMargin: $kuiSizeL;

    margin: $topMargin $rightMargin 0 $leftMargin;
    width: calc(100vw - #{$leftMargin + $rightMargin + $scrollBarWidth});

    .is-code-viewer-open & {
      width: calc(100vw - #{$leftMargin + $rightMargin + $scrollBarWidth + $guideCodeViewerSmallWidth});
    }
  }
}
