@import "../../variables";

.guidePage {
  display: flex;
}

.guidePageBody {
  $topPadding: 31px;
  background-color: $guidePanelBackgroundColor;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  flex: 1 1 auto;
  padding: 40px 60px;
  margin: 10px 10px 10px 20px + $guideSideNavWidth;

  @include whenNarrowerThan($normalBreakpoint) {
    margin: 10px 10px 10px 20px + $guideSideNavSmallWidth;
  }
}
