groups:
  - group: 
    id:
    description:

    settings:
      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:

      - setting: <required>
        id:
        description:
          - <required>
        state:
        deprecated_guidance:
        note:
        example:
        tip:
        warning:
        important:
        default:
        options:
        type:
        platforms:


