.flex-parent(@grow: 1, @shrink: 1, @basis: auto) {
  .flex(@grow, @shrink, @basis);
  .display(flex);
  .flex-direction(column);

  > * {
    .flex-shrink(0);
  }
}

.ellipsis() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nav-active-arrow (@color: @body-bg) {

  @media (max-width: @screen-sm-min) {
    &:before {
      display: none !important;
    }
  }

  &:before {
    content:"";
    display:inline-block;
    position:absolute;
    border:@navbar-arrow-size solid @color;
    border-color:transparent transparent @color transparent;
    top:(@navbar-height - @navbar-arrow-size*2);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
  }
}