<label>
  <span>Processors</span>
  <a
    aria-label="A pipeline is a definition of a series of processors that are to be executed in the same order as they are declared."
    tooltip="A pipeline is a definition of a series of processors that are to be executed in the same order as they are declared."
    tooltip-append-to-body="true"
    target="_blank">
    <i aria-hidden="true" class="fa fa-question-circle"></i>
  </a>
</label>
<div
  class="alert alert-soft-info"
  ng-show="collectionType!=collectionTypes.MAIN">
  <!-- <h1 ng-show="collectionType===collectionTypes.MAIN">You are defining the main processor chain</h1> -->
  <span ng-show="collectionType===collectionTypes.PROCESSOR_FAILURE">
    You are defining the processor chain that will execute when another processor fails
  </span>
  <span ng-show="collectionType===collectionTypes.GLOBAL_FAILURE">
    You are defining the processor chain that will execute when a failure occurs in any processor that does not have its own failure chain defined.
  </span>
  <span ng-show="collectionType===collectionTypes.FOREACH">
    You are defining the processor to be executed against each element in an array via a foreach processor
  </span>

  <ul>
    <li ng-repeat="crumb in breadcrumbs">
      <a
        ng-hide="$last"
        ng-click="navigateTo($index)"
        href>{{crumb.primary}}</a>
      <span ng-show="$last">{{crumb.primary}}</span>
      <span class="secondary" ng-show="crumb.secondary">- {{crumb.secondary}}</span>
    </li>
  </ul>
</div>
