<div class="form-group">
  <div class="header">
    <label>Processor Input:</label>
    <input-output-controls options="processor.inputControlsState"></input-output-controls>
  </div>
  <div ng-hide="processor.inputControlsState.showMeta">
    <pre ng-class="{ 'full': processor.inputControlsState.expandLevel === 2, 'small': processor.inputControlsState.expandLevel === 1 }">{{ processor.inputObject.doc | json }}</pre>
  </div>
  <div ng-show="processor.inputControlsState.showMeta">
    <pre ng-class="{ 'full': processor.inputControlsState.expandLevel === 2, 'small': processor.inputControlsState.expandLevel === 1 }">{{ processor.inputObject.meta | json }}</pre>
  </div>
</div>
