  <div class="modal-body">
    <h2>Welcome to Elasticsearch Marvel</h2>
    <div>

      <p>
      You're all set up! If you need a bit of help you can always visit
      TODO: ADD URL HERE

      <p/>

      <h5>A humble request</h5>
      <p>The dev team humbly asks for your help in making Elasticsearch even better.<p>

      <p>You can make a valuable contribution to improving Elasticsearch by periodically sharing cluster statistics with us. The information is 100% anonymous and we will never share your stats reports with any third parties.
      To view a sample report, <span class="link" ng-click="showSample=true">click here</span>.</p>

      <p>Your help is very much appreciated and makes all the difference to us.</p>

      <p>Enjoy Marvel!</p>

      <p>Many thanks,<br>
      @Kimchy & The Elasticsearch Dev Team</p>

      <div ng-show="showSample">
        <h5>Sample Statistics</h5>
        <pre>{{ data | json }}</pre>
      </div>

<!--
      <h5>Cluster statistics</h5>

      Help improve Elasticsearch by reporting <strong>anonymous</strong>
      cluster statistics, including information about the size and performance of your cluster.
      Data is sent once daily and is under 1 kilobyte. To
      see a sample report click <span class="link" ng-click="showSample=true">here</span>. The data will only
      be used by Elasticsearch and will never be transmitted to a third party.
      <div ng-show="showSample">
        <h5>Sample Statistics</h5>
        <pre>{{ data | json }}</pre>
      </div>
    </div>
-->
  </div>

  <div class="modal-footer">
    <!-- these set strings since cookies don't deal with boolean -->
    <button ng-click="setOptIn('IN');dismiss();" class="btn btn-success">Sure!</button>
    <span ng-click="setOptIn('OUT');dismiss();" class="pointer small">No Thanks</span>
  </div>