  <div class="modal-body">
    <h2>Welcome to Elasticsearch Marvel</h2>
    <div>

      You're all set up! In case you need some help you can always visit
      TODO: ADD URL HERE

      <br/>

      <h5>Cluster statistics</h5>

      Help improve Elasticsearch by reporting <strong>anonymous</strong>
      cluster statistics, including information about the size and performance of your cluster.
      Data is sent once daily and is under 1 kilobyte. To
      see a sample report click <span class="link" ng-click="showSample=true">here</span>. The data will only
      be used by Elasticsearch and will never be transmitted to a third party.
      <div ng-show="showSample">
        <h5>Sample Statistics</h5>
        <pre>{{ data | json }}</pre>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <!-- these set strings since cookies don't deal with boolean -->
    <button ng-click="setOptIn('IN');dismiss();" class="btn btn-success">Sure!</button>
    <span ng-click="setOptIn('OUT');dismiss();" class="pointer small">No Thanks</span>
  </div>