// TODO: Use the same styles for TSVB and Vislib vis'
$visLineColor: transparentize($euiColorFullShade,0.8);
$visTextColor: transparentize($euiColorFullShade,0.6);
$visValueColor: transparentize($euiColorFullShade,0.3);
$visHoverBackgroundColor: transparentize($euiColorFullShade,0.9);
