
.code .comment {
  color: #998;
  font-style: italic;
}



.code .string {
  color: #DD0A73;
}

.code .numeric,
.code .variable {
  color: #00A69B;
}
.code .keyword,
.code .primitive,
.code .modifier {
  color: #333;
  font-weight: bold;
}

.code .type,
.code .class  {
  color: #0079a5;
  font-weight: bold;
}

.code .symbol {
  text-decoration: underline;
}

.code .annotation {
  position: relative;
  display: inline;
}

.code .parameter {
  color: inherit;
}
