<table ng-if="group && rows" class="table">
  <tr ng-repeat-start="table in rows">
    <th>
      <span class="agg-table-table-header">{{ table.title }}</span>
    </th>
  </tr>
  <tr ng-repeat-end>
    <td>
      <kbn-agg-table table="table" per-page="getPerPage()" level="nextLevel"></kbn-agg-table>
    </td>
  </tr>
</table>

<table ng-if="group && columns" class="table">
  <tr>
    <th ng-repeat="table in columns">
      <span class="agg-table-table-header">{{ table.title }}</span>
    </th>
  </tr>
  <tr>
    <td ng-repeat="table in columns">
      <kbn-agg-table table="table" per-page="getPerPage()" level="nextLevel"></kbn-agg-table>
    </td>
  </tr>
</table>

<paginate
  ng-if="!group"

  list="formattedRows"
  per-page="getPerPage()"

  class="agg-table">
  <div class="visualize-table-paginated-table">
    <table class="table table-condensed">
      <thead>
        <tr bindonce>
          <th
            ng-repeat="col in columns"
            ng-click="table.cycleSort(col)"
            ng-class="table.getColumnClass(col, $first, $last)">
            <span bo-text="table.colTitle(col)"></span>
            <i
              class="fa"
              ng-class="{
                'fa-sort-asc': table.sort.col === col && table.sort.asc,
                'fa-sort-desc': table.sort.col === col && !table.sort.asc,
                'fa-sort': !table.sort || table.sort.col !== col
              }">
            </i>
          </th>
        </tr>
      </thead>
      <tbody kbn-rows="page" kbn-rows-min="getPerPage()"></tbody>
    </table>
  </div>

  <div class="visualize-table-controls">
    <a class="small" ng-click="table.exportAsCsv()">
      Export <i class="fa fa-download"></i>
    </a>
    <paginate-controls></paginate-controls>
  </div>
</paginate>