@import (reference) "../../styles/_bootstrap.less";
@import (reference) "../../styles/theme/_theme.less";
@import (reference) "../../styles/_variables.less";
@import (reference) "lesshat.less";

visualize {
  .display(flex);
  .flex-direction(column);
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;

  .k4tip {
    white-space: pre-line;
  }

  .visualize-chart {
    .flex(1 1 auto);
    overflow: auto;

    &.spy-visible {
      margin-bottom: 10px;
    }

    &.spy-only {
      display: none;
    }
  }
}

.visualize-error {
  .display(flex);
  .align-items(center);
  .justify-content(center);
  .top { .align-self(flext-start); }
  .item { }
  .bottom { .align-self(flext-end); }

}


visualize-spy {
  // this element should flex
  .flex(0, 0, auto);

  // it's children should also flex vertically
  .flex-direction(column);
  .display(flex);

  overflow: auto;
  padding-top: 10px;

  &.visible {
    display: block;
  }

  &.only {
    .flex(1, 1, auto);
    padding-top: 0px;
  }

  .visualize-show-spy {
    .flex(0, 0, auto);
    background-color: @well-bg;
    text-align: center;

    i {
      padding: 0 10px;
    }
  }

  .visualize-spy-container {
    .flex(1, 0, auto);

    .display(flex);
    .flex-direction(column);

    height: 482px;
    padding: 10px 10px 0;
    overflow-y: auto;

    header {
      padding: 0 0 15px;
    }

    > .alert {
      .flex(0, 0, auto);
    }

    tr > td {
      font-size: 0.85em;
    }
  }

  &.only .visualize-spy-container {
    height: auto;
  }

  .visualize-spy-nav {
    margin-top: 10px;
    margin-bottom: 10px;
    .flex(0, 0, auto);

    a.btn {
      margin: @padding-small-vertical @padding-small-vertical;
    }
  }

  pre {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}
