<div class="spinner large" ng-show="vis.type.requiresSearch && searchSource.activeFetchCount > 0"></div>
<div ng-if="vis.type.requiresSearch && esResp.hits.total === 0"
  class="text-center visualize-error visualize-chart">
  <div class="item top"></div>
  <div class="item">
    <h2 aria-hidden="true">
      <i ng-if="vis.params.emote === 'fa fa-meh-o'" aria-hidden="true" class="fa fa-meh-o"></i>
      <i ng-if="vis.params.emote === 'fa fa-smile-o'" aria-hidden="true" class="fa fa-smile-o"></i>
      <i ng-if="vis.params.emote === 'fa fa-frown-o'" aria-hidden="true" class="fa fa-frown-o"></i>
    </h2>
    <h4>No results found</h4>
  </div>
  <div class="item bottom"></div>
</div>
<div ng-hide="vis.type.requiresSearch && esResp.hits.total === 0"
  ng-class="{ loading: vis.type.requiresSearch && searchSource.activeFetchCount > 0 }"
  class="visualize-chart"></div>
<!-- <pre>{{chartData | json}}</pre> -->
<visualize-spy ng-if="vis.type.requiresSearch"></visualize-spy>
