
@import "../../variables";

.guideHome {
  max-width: 1200px;
  margin: 30px auto 200px;
}

.guideHomeSection {
  & + & {
    margin-top: 30px;
  }
}

.statusGroup {
  display: flex;
  align-items: center;
  margin-left: 20px;

  > * + * {
    margin-left: 15px;
  }
}

.statusPanel {
  display: flex;
}

.statusPanel__section {
  flex: 1 1 0;

  & + & {
    margin-left: 10px;
  }
}

.statTableRowHeader {
  padding-right: 20px;
  font-size: 12px;
  vertical-align: bottom;
}

.hideTop {
  margin-top: -1px;
}
