.guideNav {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  min-width: $guideMinWidth;
  height: $guideNavHeight;
  border-bottom: $kuiBorderThin;
  color: $kuiTextColor;
  background-color: $kuiColorEmptyShade;
  transition: height 0.3s ease, box-shadow 0.3s linear;
  overflow: hidden;
  box-shadow: 0 0 0 rgba(black, 0.3);

  &.is-guide-nav-open {
    height: 100%;
    box-shadow: 0 40px 200px rgba(black, 0.05);
  }
}

  .guideNav__header {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    height: $guideNavHeight;
    padding: 0 $kuiSizeL;
  }

    .guideNav__menu {
      cursor: pointer;
      margin-right: $kuiSizeS;
    }

    .guideNav__title {
      color: $kuiTextColor;
      text-decoration: none;
      font-size: 18px;
    }

    .guideNav__version {
      margin-left: $kuiSizeS;
      font-weight: $kuiFontWeightLight;
      @include kuiFontSizeS;
    }

    .guideNav__elasticLogo {
      position: absolute;
      background-image: url("images/elastic-logo.svg");
      width: 106px;
      height: 36px;
      background-repeat: no-repeat;
      background-size: contain;
      left: 50%;
      transform: translateX(-50%);
    }

.guideNavSearch {
  margin: 0 $kuiSizeL;
  width: 100%;
  max-width: 400px;
  font-size: $kuiSize;
  padding: $kuiSizeS;
  border: $kuiBorderThin;

  &:focus {
    border-color: $kuiColorPrimary;
    outline: none;
  }
}

/**
 * 1. Height of the searchbox.
 */
.guideNavItemsContainer {
  @include scrollbar;
  display: flex;
  overflow: auto;
  min-height: calc(100vh - #{$guideNavHeight + 40px}); /* 1 */
}

.guideNavItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.guideNavSectionTitle {
  min-width: 200px;
  @include kuiFontSizeL;
  font-weight: $kuiFontWeightLight;
  padding-left: $kuiSizeL;
  color: $kuiColorFullShade;
  margin-top: $kuiSizeL;
}

.guideNavItem,
.guideNavNoItems {
  min-width: 200px;
  padding: $kuiSizeS $kuiSizeXL;
  @include kuiFontSizeM;
}

.guideNavItem {
  display: flex;
  align-items: center;
}

  .guideNavItem__link {
    color: $guideTextColor;
    text-decoration: none;

    &:hover {
      color: $kuiColorDarkestShade;
    }
  }

  .guideNavItem__reactLogo {
    margin-left: $kuiSizeS;
    background-image: url("images/react-logo.svg");
    width: 24px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: contain;
  }

.guideNavNoItems {
  color: $kuiColorAccent;
  margin-top: 0;
  margin-bottom: 0;
}

.guideNavPaginationButtons {
  position: absolute;
  top: $kuiSize;
  right: $kuiSizeL;
}

.guideNavPaginationButton {
  appearance: none;
  text-align: center;
  height: $kuiSizeXL;
  width: $kuiSizeXL;
  padding: $kuiSizeS;
  color: $kuiTextColor;
  background-color: $kuiColorEmptyShade;
  border-radius: $kuiBorderRadius;
  display: inline-block;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $kuiColorLightestShade;
  }

  &.guideNavPaginationButton-isDisabled {
    pointer-events: none;
    opacity: .5;
  }

  & + & {
    margin-left: $kuiSizeS;
  }
}
