@import (reference) "../../style/variables";

.canvas__paginate--page-controls {
  overflow: hidden;
  text-align: center;

  .page-navigate,
  .page-number {
    padding: @spacingXXS;
    vertical-align: middle;
  }
}
