<p class="kuiText">
  <span class="kuiStatusText">
    <span class="kuiStatusText__icon kuiIcon fa-area-chart" aria-hidden="true"></span>
    Font icon
  </span>
</p>

<p class="kuiText">
  <span class="kuiStatusText">
    <img
      aria-hidden="true"
      class="kuiStatusText__icon"
      src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNjBweCI
        gaGVpZ2h0PSI0NnB4IiB2aWV3Qm94PSIwIDAgNjAgNDYiIHZlcnNpb249IjEuMSIgeG1sbnM9Im
        h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vc
        mcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDQyICgzNjc4MSkgLSBo
        dHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2ggLS0+CiAgICA8dGl0bGU+aWNvbi1
        hcmVhPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPG
        RlZnM+PC9kZWZzPgogICAgPGcgaWQ9IlZpc3VhbGl6ZSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd
        2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9
        IlZpc3VhbGl6ZS1DcmVhdGUtTmV3IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNzU2LjAwMDAwMCw
        gLTIyMi4wMDAwMDApIiBmaWxsPSIjMDAwMDAwIj4KICAgICAgICAgICAgPGcgaWQ9ImNoYXJ0cy
        IgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNzUuMDAwMDAwLCAxNDguMDAwMDAwKSI+CiAgICAgICAgI
        CAgICAgICA8ZyBpZD0iYXJlYSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNjQxLjAwMDAwMCwgNDMu
        MDAwMDAwKSI+CiAgICAgICAgICAgICAgICAgICAgPGcgaWQ9Imljb24tYXJlYSIgdHJhbnNmb3J
        tPSJ0cmFuc2xhdGUoNDAuMDAwMDAwLCAzMS4wMDAwMDApIj4KICAgICAgICAgICAgICAgICAgIC
        AgICAgPHBvbHlnb24gaWQ9Iu+HviIgcG9pbnRzPSI0NC41Mzg0NjE1IDExLjY2NjY2NjcgNTEgM
        zUgOSAzNSA5IDIwIDIwLjMwNzY5MjMgNSAzNC44NDYxNTM4IDIwIj48L3BvbHlnb24+CiAgICAg
        ICAgICAgICAgICAgICAgICAgIDxwb2x5Z29uIGlkPSJ4eS1heGlzIiBmaWxsLXJ1bGU9Im5vbnp
        lcm8iIHBvaW50cz0iNCAwIDAgMCAwIDQ1LjAxMTYyNjMgNjAuMDAwMDAxMSA0NS4wMTE2MjYzID
        YwLjAwMDAwMTEgNDEuMDExNjI2MyA0IDQxLjAxMTYyNjMiPjwvcG9seWdvbj4KICAgICAgICAgI
        CAgICAgICAgICA8L2c+CiAgICAgICAgICAgICAgICA8L2c+CiAgICAgICAgICAgIDwvZz4KICAg
        ICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg=="
    />
    Image icon
  </span>
</p>
