@import (reference) "~ui/styles/mixins.less";

@import url("ponder/ponder.less");
@import url("DataTables-1.10.7/media/css/jquery.dataTables.css");
@import url("intro.js-2.0.0/minified/introjs.min.css");

.somMap {
  width: 100%;
  height:  100%;
  position:  relative;
  top: 0;
  left: 0;
}
