@import (reference) "~plugins/rework/main.less";

.rework--icon-select > button.btn {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  background-color: darken(@kibanaGray6, 5%);
  padding: 0px;
  border: @rework--border;

  &.selected {
    img {
      opacity: 1;
    }
    border-color: @kibanaBlue2;
  }

  img {
    opacity: 0.6;
  }

  &:hover {
    img {
      opacity: 1;
    }
  }
}
