<div class="kuiPanel kuiPanel--withHeader kuiVerticalRhythm">
  <div class="kuiPanelHeader">
    <div class="kuiPanelHeader__title">
      Panel title
    </div>
  </div>

  <div class="kuiPanelBody">
    <p>Content goes here</p>
  </div>
</div>

<div class="kuiPanel kuiPanel--withHeader kuiVerticalRhythm">
  <div class="kuiPanelHeader">
    <div class="kuiPanelHeader__title">
      Panel title
    </div>
  </div>

  <div class="kuiPanelBody">
    <p>Content goes here</p>
  </div>
</div>

<div class="kuiPanel kuiPanel--withHeader kuiVerticalRhythm">
  <div class="kuiPanelHeader">
    <div class="kuiPanelHeader__title">
      Panel title
    </div>
  </div>

  <div class="kuiPanelBody">
    <p>Content goes here</p>
  </div>
</div>
