<div class="visEditorSidebar__section">

  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="percentageMode"
      i18n-id="metricVis.params.percentageModeLabel"
      i18n-default-message="Percentage Mode"
    >
    </label>
    <div class="visEditorSidebar__formControl">
      <input class="kuiCheckBox" id="percentageMode" type="checkbox" ng-model="editorState.params.metric.percentageMode">
    </div>
  </div>

  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="showLabels"
      i18n-id="metricVis.params.showLabelsLabel"
      i18n-default-message="Show Labels"
    >
    </label>
    <div class="visEditorSidebar__formControl">
      <input class="kuiCheckBox" id="showLabels" type="checkbox" ng-model="editorState.params.metric.labels.show">
    </div>
  </div>

  <div class="visEditorSidebar__collapsible--margin">
    <div class="visEditorSidebar__collapsibleTitle">
      <div
        kbn-accessible-click
        aria-expanded="{{!!showColorRange}}"
        aria-controls="metricOptionsRanges"
        aria-label="{{::'metricVis.params.ranges.toggleOptionsAriaLabel' | i18n: { defaultMessage: 'Toggle range options' } }}"
        class="visEditorSidebar__collapsibleTitleLabel"
        ng-click="showColorRange = !showColorRange"
      >
        <icon color="'primary'" aria-hidden="true" ng-if="showColorRange" type="'arrowDown'" size="'s'"></icon>
        <icon color="'primary'" aria-hidden="true" ng-if="!showColorRange" type="'arrowRight'" size="'s'"></icon>

        <span
          class="visEditorSidebar__collapsibleTitleText"
          i18n-id="metricVis.params.rangesTitle"
          i18n-default-message="Ranges"
        >
      </span>
      </div>
    </div>

    <div id="metricOptionsRanges" ng-show="showColorRange">

      <table class="visEditorAgg__rangesTable form-group" ng-show="editorState.params.metric.colorsRange.length">
        <tr>
          <th scope="col">
            <label
              id="metricOptionsCustomRangeFrom"
              i18n-id="metricVis.params.ranges.fromLabel"
              i18n-default-message="From"
            >
            </label>
          </th>
          <th scope="col" colspan="2">
            <label
              id="metricOptionsCustomRangeTo"
              i18n-id="metricVis.params.ranges.toLabel"
              i18n-default-message="To"
            >
            </label>
          </th>
        </tr>

        <tr ng-repeat="range in editorState.params.metric.colorsRange track by $index">
          <td>
            <input
              aria-labelledby="metricOptionsCustomRangeFrom"
              ng-model="range.from"
              type="number"
              class="form-control"
              name="range.from"
              greater-or-equal-than="getGreaterThan($index)"
              required
              step="any" />
          </td>
          <td>
            <input
              aria-labelledby="metricOptionsCustomRangeTo"
              ng-model="range.to"
              type="number"
              class="form-control"
              name="range.to"
              greater-or-equal-than="range.from"
              required
              step="any" />
          </td>
          <td>
            <button
              type="button"
              ng-click="removeRange($index)"
              ng-show="editorState.params.metric.colorsRange.length > 1"
              class="kuiButton kuiButton--danger kuiButton--small">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </table>

      <div class="hintbox" ng-show="!editorState.params.metric.colorsRange.length">
        <p>
          <i class="fa fa-danger text-danger"></i>
          <span
            i18n-id="metricVis.params.ranges.warning.specifyRangeDescription"
            i18n-default-message="{requiredDescription} You must specify at least one range."
            i18n-values="{ html_requiredDescription: '<strong>' + editorState.requiredDescription + '</strong>' }"
          >
          </span>
        </p>
      </div>

      <div
        ng-click="addRange()"
        class="kuiButton kuiButton--primary kuiButton--fullWidth"
        i18n-id="metricVis.params.ranges.addRangeButtonLabel"
        i18n-default-message="Add Range"
      >
      </div>

    </div>
  </div>

  <div ng-show="editorState.params.metric.colorsRange.length > 1" class="visEditorSidebar__collapsible--margin">
    <div class="visEditorSidebar__collapsibleTitle">
      <div
        kbn-accessible-click
        aria-expanded="{{!!showColorOptions}}"
        aria-controls="metricOptionsColors"
        aria-label="{{::'metricVis.params.color.toggleOptionsAriaLabel' | i18n: { defaultMessage: 'Toggle color options' } }}"
        class="visEditorSidebar__collapsibleTitleLabel"
        ng-click="showColorOptions = !showColorOptions"
      >
        <icon color="'primary'" aria-hidden="true" ng-if="showColorOptions" type="'arrowDown'" size="'s'"></icon>
        <icon color="'primary'" aria-hidden="true" ng-if="!showColorOptions" type="'arrowRight'" size="'s'"></icon>

        <span
          class="visEditorSidebar__collapsibleTitleText"
          i18n-id="metricVis.params.color.colorOptionsTitle"
          i18n-default-message="Color Options"
        >
      </span>
      </div>
    </div>
    <div id="metricOptionsColors" ng-if="showColorOptions">

      <div class="visEditorSidebar__formRow" ng-show="editorState.params.metric.colorsRange.length > 1">
        <label
          class="visEditorSidebar__formLabel"
          for="metricColorMode"
          i18n-id="metricVis.params.color.useForLabel"
          i18n-default-message="Use Color For"
        >
        </label>
        <div class="visEditorSidebar__formControl">
          <select
            id="metricColorMode"
            class="kuiSelect visEditorSidebar__select"
            ng-model="editorState.params.metric.metricColorMode"
            ng-options="mode.id as mode.label for mode in collections.metricColorMode"
          ></select>
        </div>
      </div>
      <div class="visEditorSidebar__formRow" ng-show="editorState.params.metric.metricColorMode !== 'None'">
        <label
          class="visEditorSidebar__formLabel"
          for="colorSchema"
          i18n-id="metricVis.params.color.schemaLabel"
          i18n-default-message="Color Schema"
        >
        </label>
        <div class="visEditorSidebar__formControl">
          <select
            id="colorSchema"
            class="kuiSelect visEditorSidebar__select"
            ng-model="editorState.params.metric.colorSchema"
            ng-options="mode.id as mode.label for mode in collections.colorSchemas"
          ></select>
        </div>
        <div class="text-info text-center" ng-show="customColors" ng-click="resetColors()"
          i18n-id="metricVis.params.color.resetColorDescription"
          i18n-default-message="reset colors"
        >
        </div>
      </div>

      <div class="visEditorSidebar__formRow"  ng-show="editorState.params.metric.metricColorMode !== 'None'">
        <label
          class="visEditorSidebar__formLabel"
          for="invertColors"
          i18n-id="metricVis.params.color.reverseSchemaLabel"
          i18n-default-message="Reverse Color Schema"
        >
        </label>
        <div class="visEditorSidebar__formControl">
          <input class="kuiCheckBox" id="invertColors" type="checkbox" ng-model="editorState.params.metric.invertColors">
        </div>
      </div>

    </div>
  </div>

  <div class="visEditorSidebar__collapsible--margin">
    <div class="visEditorSidebar__collapsibleTitle">
      <div
        kbn-accessible-click
        aria-expanded="{{!!showStyle}}"
        aria-controls="metricOptionsStyle"
        aria-label="{{::'metricVis.params.style.toggleOptionsAriaLabel' | i18n: { defaultMessage: 'Toggle style options' } }}"
        class="visEditorSidebar__collapsibleTitleLabel"
        ng-click="showStyle = !showStyle"
      >
        <icon color="'primary'" aria-hidden="true" ng-if="showStyle" type="'arrowDown'" size="'s'"></icon>
        <icon color="'primary'" aria-hidden="true" ng-if="!showStyle" type="'arrowRight'" size="'s'"></icon>
        <span
          class="visEditorSidebar__collapsibleTitleText"
          i18n-id="metricVis.params.style.styleTitle"
          i18n-default-message="Style"
        >
        </span>
      </div>
    </div>

    <div id="metricOptionsStyle" ng-if="showStyle">

      <div class="visEditorSidebar__formRow">
        <label class="visEditorSidebar__formLabel" for="metricFontSize">
          <span
            i18n-id="metricVis.params.style.fontSizeLabel"
            i18n-default-message="Font Size ({fontSize}pt)"
            i18n-values="{ fontSize: editorState.params.metric.style.fontSize }"
          >
          </span>
        </label>
        <div class="visEditorSidebar__formControl">
          <input id="metricFontSize" type="range" ng-model="editorState.params.metric.style.fontSize" class="form-control" min="12" max="120" />
        </div>
      </div>

    </div>
  </div>
</div>
