.kuiFormControlLayout {
  @include kuiFormControlSize;

  display: inline-block;
  position: relative;

  &.kuiFormControlLayout--fullWidth {
    width: 100%;
    max-width: 100%;
  }

  .kuiFormControlLayout__icon {
    position: absolute;
    top: $kuiSizeM;
    left: $kuiSizeM;
  }

  .kuiFormControlLayout__icon--right {
    left: auto;
    right: $kuiSizeM;
  }
}
