<form
  role="form"
  class="kuiVerticalRhythm"
>
  <div class="kuiBar">
    <div class="kuiBarSection">
      <div class="kuiSearchInput fullWidth">
        <div class="kuiSearchInput__icon kuiIcon fa-search"></div>
        <input
          class="kuiSearchInput__input"
          input-focus
          disable-input-focus="disableAutoFocus"
          ng-model="query"
          placeholder="{{ ::'common.ui.paginateSelectableList.searchPlaceholder' | i18n: {defaultMessage: 'Filter…'} }}"
          class="form-control"
          name="query"
          type="text"
          autocomplete="off"
        >
      </div>
    </div>

    <div class="kuiBarSection">
      <p
        class="kuiText kuiSubduedText"
        i18n-id="common.ui.paginateSelectableList.ofTotalHitCount"
        i18n-default-message="{matchingHits} of {hitCount}"
        i18n-values="{ hitCount, matchingHits: hitsByQuery.length }"
      ></p>
    </div>
  </div>
</form>

<paginate
  list="hitsByQuery"
  per-page="{{ perPage }}"
  class="kuiVerticalRhythm"
>
  <button
    class="paginate-heading list-group-item list-sort-button"
    ng-click="sortHits(hits)"
    aria-live="assertive"
  >
    <span class="euiScreenReaderOnly"
      i18n-id="common.ui.paginateSelectableList.sortByButtonLabelScreenReaderOnly"
      i18n-default-message="Sort by"
    ></span>
    <span
      i18n-id="common.ui.paginateSelectableList.sortByButtonLabel"
      i18n-default-message="Name"
    ></span>
    <span
      class="fa"
      ng-class="isAscending ? 'fa-caret-up' : 'fa-caret-down'"
    >
      <span class="euiScreenReaderOnly"
        ng-if="isAscending"
        i18n-id="common.ui.paginateSelectableList.sortByButtonLabeAscendingScreenReaderOnly"
        i18n-default-message="ascending"
      ></span>
      <span class="euiScreenReaderOnly"
        ng-if="!isAscending"
        i18n-id="common.ui.paginateSelectableList.sortByButtonLabeDescendingScreenReaderOnly"
        i18n-default-message="descending"
      ></span>
    </span>
  </button>
  <ul class="li-striped list-group list-group-menu">
    <li class="list-group-item list-group-menu-item" ng-repeat="hit in page">
      <a
        data-test-subj="paginatedListItem-{{accessor(hit)}}"
        ng-show="userMakeUrl"
        kbn-href="{{ makeUrl(hit) }}">
        <span>{{ accessor(hit) }}</span>
      </a>

      <div ng-show="userOnSelect" ng-click="onSelect(hit, $event)">
        <span>{{ accessor(hit) }}</span>
      </div>
    </li>

    <li class="list-group-item list-group-no-results" ng-if="hitsByQuery.length === 0">
      <p i18n-id="common.ui.paginateSelectableList.noMatchesFoundDescription"
        i18n-default-message="No matches found."
      ></p>
    </li>
  </ul>
</paginate>
