- var j = function (o) { return JSON.stringify(o); }

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    link(rel='shortcut icon', href='/ui/images/elk.ico')
    title Kibana
    link(rel='stylesheet', href='/bundles/#{app.id}.style.css')
  body(kbn-chrome)
    script window.__KBN__ = !{j(kibanaPayload)};
    script(src='/bundles/#{app.id}.bundle.js')
