.kuiPageContent {
  padding: $kuiSizeL;
  background: $kuiColorEmptyShade;
  border: $kuiBorderThin;
  border-radius: $kuiBorderRadius;
  width: 100%;
}

.kuiPageContent--verticalCenter {
  align-self: center;
}

.kuiPageContent--horizontalCenter {
  width: auto;
  margin: auto;
}
