.kuiPageHeaderSection {

  & + & {
    margin-left: $kuiSizeXL;
  }
}
@include screenXSmall {

  .kuiPageHeaderSection {
    width: 100%;

    & + & {
      margin-left: 0;
      margin-top: $kuiSize;
    }
  }
}
