@import (reference) '../../style/main';

.canvas__refresh_control {
  .canvas__refresh_control--popover {
    min-width: 250px;
  }

  .canvas__auto_refresh {
    color: #93c83d;
  }

  .canvas__in_flight {
    -webkit-animation: refreshInFlight 3s 0s linear infinite;
    animation: refreshInFlight 3s linear 0s infinite;
  }

  .canvas__refresh_control--auto-refresh--submit {
    min-width: @spacingXXXL;
  }

  .canvas__refresh_control--auto-refresh--preset-intervals {
    .items > * {
      width: 100%;
    }
  }
}

@-webkit-keyframes refreshInFlight {
  0% {
    color: #0779a1;
  }
  20% {
    color: #93c83d;
  }
  40% {
    color: #24bbb1;
  }
  60% {
    color: #17a8e0;
  }
  80% {
    color: #ef5098;
  }
  100% {
    color: #0779a1;
  }
}

@keyframes refreshInFlight {
  0% {
    color: #0779a1;
  }
  20% {
    color: #93c83d;
  }
  40% {
    color: #24bbb1;
  }
  60% {
    color: #17a8e0;
  }
  80% {
    color: #ef5098;
  }
  100% {
    color: #0779a1;
  }
}
