@import (reference) "../../style/main";

.canvas__refresh_control {
  i {
    padding-right: @spacingXS;
  }

  i:last-child {
    padding-right: 0;
  }

  .canvas__auto_refresh {
    color: #93C83D;
  }

  .canvas__in_flight {
    -webkit-animation: refreshInFlight 3s 1s linear infinite;
    animation: refreshInFlight 3s linear 1s infinite;
  }

}

.canvas__refresh_control--auto-refresh--preset-intervals {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  .items > * {
    display: block;
  }
}

@-webkit-keyframes refreshInFlight {
  0%   { color: #0779A1; }
  20%  { color: #93C83D; }
  40%  { color: #24BBB1; }
  60%  { color: #17A8E0; }
  80%  { color: #EF5098; }
  100% { color: #0779A1; }
}

@keyframes refreshInFlight {
  0%   { color: #0779A1; }
  20%  { color: #93C83D; }
  40%  { color: #24BBB1; }
  60%  { color: #17A8E0; }
  80%  { color: #EF5098; }
  100% { color: #0779A1; }
}
