.mgtAdvancedSettings__field {
  + * {
    margin-top: $euiSize;
  }

  &Wrapper {
    width: 640px;

    @include internetExplorerOnly() {
      min-height: 1px;
    }
  }

  &Actions {
    padding-top: $euiSizeM;
  }

  @include internetExplorerOnly {
    &Row {
      min-height: 1px;
    }
  }
}
