.mgtAdvancedSettings__field {
  + * {
    margin-top: $euiSize;
  }

  &Wrapper {
    width: 640px;
  }

  &Actions {
    padding-top: $euiSizeM;
  }

  &ImagePreview > img {
    height: 100px;
    width: auto;
  }
}
