<div class="dev-tools-app-container app-container">
  <bread-crumbs class="bread-crumbs--navbar" omit-current-page="true"></bread-crumbs>
  <kbn-top-nav name="devtools">
    <div class="localTabs">
      <a
        ng-repeat="item in devTools"
        class="localTab"
        ng-class="{'localTab-isSelected': currentPath === item.url}"
        kbn-href="{{::item.url}}"
      >
        {{::item.display}}
      </a>
    </div>
  </kbn-top-nav>
  <div role="main" class="dev-tools-container" ng-transclude></div>
</div>
