// Prefix all styles with "kbn" to avoid conflicts.
// Examples
//   kbnChart
//   kbnChart__legend
//   kbnChart__legend--small
//   kbnChart__legend-isLoading

@import './agg_table/index';
@import './collapsible_sidebar/index';
@import './doc_table/index';
@import './doc_viewer/index';
@import './inspector/index';
@import './markdown/index';
@import './query_bar/index';

// The following are prefixed with "vis"

// Can't import vis folder here because of cascading issues, it's imported in legacy/core_plugins/kibana
// @import './vis/index';
@import './vislib/index';
@import './visualize/index';
