// Legacy styles to come before all
@import './styles/_legacy/index';

// Prefix all styles with "kbn" to avoid conflicts.
// Examples
//   kbnChart
//   kbnChart__legend
//   kbnChart__legend--small
//   kbnChart__legend-isLoading

@import './accessibility/index';
@import './agg_table/index';
@import './chrome/index';
@import './collapsible_sidebar/index';
@import './directives/index';
@import './doc_table/index';
@import './doc_viewer/index';
@import './error_allow_explicit_index/index';
@import './error_auto_create_index/index';
@import './error_url_overflow/index';
@import './field_editor/index';
@import './inspector/index';
@import './markdown/index';
@import './notify/index';
@import './partials/index';
@import './query_bar/index';
@import './style_compile/index';

// The following are prefixed with "vis"

// Can't import vis folder here because of cascading issues, it's imported in legacy/core_plugins/kibana
// @import './vis/index';
@import './vislib/index';
@import './visualize/index';
