<div class="form-group">
  <div class="kuiSideBarFormRow">
    <label class="kuiSideBarFormRow__label" for="colorSchema">
      Color Schema
    </label>
    <div class="kuiSideBarFormRow__control">
      <select
        id="colorSchema"
        class="kuiSelect kuiSideBarSelect"
        ng-model="vis.params.colorSchema"
        ng-options="mode for mode in vis.type.params.colorSchemas"
      ></select>
    </div>
  </div>
  <div class="kuiSideBarFormRow">
    <label class="kuiSideBarFormRow__label" for="vectorMap">
      Vector map
    </label>
    <div class="kuiSideBarFormRow__control">
      <select
        id="vectorMap"
        class="kuiSelect kuiSideBarSelect"
        ng-model="vis.params.selectedLayer"
        ng-options="layer.name for layer in vis.type.params.vectormap.layers"
        ng-change="onLayerChange()"
        ng-init="vis.params.selectedLayer=vis.type.params.vectormap.layers[0]"
      ></select>
    </div>
  </div>

  <div class="kuiSideBarFormRow">
    <label class="kuiSideBarFormRow__label" for="joinField">
      Join on field
    </label>
    <div class="kuiSideBarFormRow__control">
      <select id="joinField"
              ng-model="vis.params.selectedJoinField"
              ng-options="field.description for field in vis.params.selectedLayer.fields"
              ng-init="vis.params.selectedJoinField=vis.params.selectedLayer.fields[0]"
      >
        <option value=''>Select</option></select>
    </div>
  </div>




</div>
