<form
  role="form"
  ng-submit="goToNextStep()"
  class="kuiPanel"
>
  <div class="kuiPanelHeader">
    <div class="kuiPanelHeaderSection">
      <h1
        class="kuiPanelHeader__title"
        translate="KIBANA-CREATE_INDEX_PATTERN_STEP_1_TITLE"
      ></h1>
    </div>
  </div>

  <div class="kuiPanelBody">
    <div class="kuiInfoPanel kuiInfoPanel--info kuiVerticalRhythm">
      <div class="kuiInfoPanelHeader">
        <span class="kuiInfoPanelHeader__icon kuiIcon kuiIcon--info fa-info"></span>
        <span
          class="kuiInfoPanelHeader__title"
          translate="KIBANA-CREATE_INDEX_PATTERN_STEP_1_INFO_TITLE"
        ></span>
      </div>

      <div class="kuiInfoPanelBody">
        <div
          class="kuiInfoPanelBody__message"
          translate="KIBANA-CREATE_INDEX_PATTERN_STEP_1_INFO_BODY_1"
        ></div>

        <div class="kuiInfoPanelBody__message">
          <span translate="KIBANA-CREATE_INDEX_PATTERN_STEP_1_INFO_BODY_2"></span>
          <a
            class="kuiLink"
            ng-href="{{ documentationLinks.indexPatterns.introduction }}"
            translate="KIBANA-CREATE_INDEX_PATTERN_STEP_1_INFO_BODY_3"
          ></a>
        </div>
      </div>
    </div>

    <div class="createIndexPatternInputContainer kuiVerticalRhythm">
      <!-- Index pattern input -->
      <div>
        <label
          class="kuiLabel kuiVerticalRhythmSmall"
          translate="KIBANA-INDEX_NAME_OR_PATTERN"
        ></label>

        <div class="kuiVerticalRhythmSmall">
          <input
            class="kuiTextInput kuiTextInput--large"
            data-test-subj="createIndexPatternNameInput"
            ng-model="indexPatternName"
            ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
            placeholder="index-name-*"
            validate-index-name
            allow-wildcard
            name="name"
            required
            type="text"
          ></input>
        </div>
      </div>

      <!-- Action -->
      <button
        data-test-subj="createIndexPatternCreateButton"
        class="kuiButton kuiButton--primary kuiButton--iconText kuiVerticalRhythmSmall"
        ng-click="goToNextStep()"
      >
        <span class="kuiButton__inner">
          <span>Next</span>
          <span aria-hidden="true" class="kuiButton__icon kuiIcon fa-chevron-right"></span>
        </span>
      </button>
    </div>

    <!-- List of matching indices -->
    <div
      class="kuiVerticalRhythm"
      ng-switch="matchingIndicesListType"
    >
      <matching-indices-list
        ng-switch-when="noMatches"
        indices="allIndices"
        template-index-patterns="allTemplateIndexPatterns"
      ></matching-indices-list>

      <matching-indices-list
        ng-switch-when="partialMatches"
        indices="partialMatchingIndices"
        template-index-patterns="partialMatchingTemplateIndexPatterns"
      ></matching-indices-list>

      <matching-indices-list
        ng-switch-when="exactMatches"
        indices="matchingIndices"
        template-index-patterns="matchingTemplateIndexPatterns"
      ></matching-indices-list>
    </div>
  </div>
</form>
