.guideCodeViewer {
  position: fixed;
  top: 50%;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #002b36;
  transform: translateY(100%);
  transition: transform $guideCodeViewerTransition;
  overflow: auto;

  &.is-code-viewer-open {
    transform: translateX(0);
  }
}

  .guideCodeViewer__header {
    padding: $kuiSize;
    @include kuiFontSizeL;
    color: #93a1a1;
  }

  .guideCodeViewer__closeButton {
    position: fixed;
    background: #d33682;
    color: #fdf6e3;
    display: inline-block;
    height: $kuiSizeXL;
    padding: 0 $kuiSizeS;
    line-height: $kuiSizeXL;
    font-family: $kuiCodeFontFamily;
    font-size: $kuiFontSizeXS;
    top: 50%;
    right: 15px;
    cursor: pointer;
    visibility: hidden;
    margin-top: 1px;

    &.is-code-viewer-open {
      visibility: visible;
      z-index: 999999;
    }
  }

  .guideCodeViewer__title {
    padding: $kuiSize;
    @include kuiFontSizeM;
    background: #073642;
    color: #93a1a1;
  }

  .guideCodeViewer__content {
    margin: 0 0 16px;
  }

// HLJS

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #002b36;
  font-family: 'Roboto Mono', monospace;
  color: #839496;
  font-size: 12px;
  line-height: 1.5;
}

.hljs-comment,
.hljs-quote {
  color: #586e75;
}

/* Solarized Green */
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #859900;
}

/* Solarized Cyan */
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #2aa198;
}

/* Solarized Blue */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #268bd2;
}

/* Solarized Yellow */
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #b58900;
}

/* Solarized Orange */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #cb4b16;
}

/* Solarized Red */
.hljs-built_in,
.hljs-deletion {
  color: #dc322f;
}

.hljs-formula {
  background: #073642;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
