.sidebar-container.collapsible-sidebar {
  position: relative;

  .sidebar-collapser {
    background-color: #fff;
    right: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -25px;
    width: 10px;
    border: 1px solid #ecf0f1;
    border-width: 1px 0 1px 1px;
    cursor: pointer;

    .chevron-cont{
      position: absolute;
      height: 50px;
      top: 25%;  /* FIXME because of the different layouts (fullscreen;scrolling) in Discover vs Visualize. */
      text-align: center;
      line-height: 50px;
      left: 50%;
      margin-left: -5px;
      &:before {
        font-family: FontAwesome;
        color: #333;
        content: "\F053";
      }
    }
  }

  &.closed {
    width: 0 !important;
    border-right-width: 0;
    border-left-width: 0;
    z-index: 100;

    > * {
      visibility: hidden;
    }

    .sidebar-collapser {
      visibility: visible;
      right: -10px;
      border-right: 1px solid #ecf0f1;
      .chevron-cont:before {
        content: "\F054";
      }
    }
  }
}
