<div>
  <button
    ng-disabled="page.first"
    ng-click="goToPage(1)"
    class="btn btn-default btn-xs jump-to-end">
    <i class="fa fa-fast-backward"></i>
  </button>
  <button
    ng-disabled="page.first"
    ng-click="goToPage(page.prev)"
    class="btn btn-default btn-xs">
    <i class="fa fa-backward"></i>
  </button>
</div>

<div class="paginate-other-pages">
  <a
    ng-repeat="other in otherPages"
    ng-click="goToPage(other)"
    ng-class="{ active: other.number === page.number }"
    ng-bind="other.number">
  </a>
</div>

<div>
  <button
    ng-disabled="page.last"
    ng-click="goToPage(page.next)"
    class="btn btn-default btn-xs">
    <i class="fa fa-forward"></i>
  </button>

  <button
    ng-disabled="page.last"
    ng-click="goToPage(page.count)"
    class="btn btn-default btn-xs jump-to-end">
    <i class="fa fa-fast-forward"></i>
  </button>
</div>