<ul class="pagination pagination-sm">
  <li ng-class="{disabled: page.first}">
    <a ng-click="goToPage(page.prev)">«</a>
  </li>

  <li ng-if="!otherPages.containsFirst">
    <a ng-click="goToPage(1)">1...</a>
  </li>

  <li
    ng-repeat="other in otherPages"
    ng-class="{ active: other.number === page.number }">
    <a ng-click="goToPage(other)">{{other.number}}</a>
  </li>

  <li ng-if="!otherPages.containsLast">
    <a ng-click="goToPage(page.count)">...{{page.count}}</a>
  </li>

  <li ng-class="{disabled: page.last}">
    <a ng-click="goToPage(page.next)">»</a>
  </li>
</ul>