<form>
  <div class="form-group finder-form">
    <div>
      <a class="small pull-right" ng-click="manageObject(type)">manage {{type}}</a>
    </div>
    <div class="clearfix visible-xs-block"></div>
    <input
      input-focus
      ng-model="filter"
      ng-attr-placeholder="{{noun}} Filter"
      class="form-control"
      name="filter"
      type="text">
      <span class="finder-hit-count"><strong>{{hitCount}}</strong> {{type}}</span>
  </div>
</form>
<paginate list="hits | orderBy:'title'" per-page="5">
  <ul class="list-group list-group-menu">
    <a class="list-group-item list-group-menu-item"
      ng-repeat="hit in page"
      ng-href="{{ makeUrl(hit) }}"
      ng-click="onChoose(hit, $event)">
      <li>
        <i class="fa" ng-if="hit.icon" ng-class="hit.icon"></i> {{hit.title}}
        <p ng-if="hit.description" ng-bind="hit.description"></p>
      </li>
    </a>
    <p ng-if="hits.length === 0" ng-bind="'No matching ' + nouns + ' found.'"></p>
  </ul>
</paginate>
