<div class="kbn-timepicker">
  <style>
    .kbn-timepicker [kbn-time-input] {
      text-align: center;
    }

    .kbn-timepicker-modes {
      text-transform: capitalize;
    }

    .kbn-timepicker-section {
      float: left;
      padding: 0px 15px;
    }

    .kbn-timepicket-alert {
      width: 100px;
    }
  </style>

  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked kbn-timepicker-modes">
        <li ng-class="{active: mode=='quick'}"><a ng-click="setMode('quick')" >quick</a></li>
        <li ng-class="{active: mode=='relative'}"><a ng-click="setMode('relative')" >relative</a></li>
        <li ng-class="{active: mode=='absolute'}"><a ng-click="setMode('absolute')" >absolute</a></li>
      </ul>
    </div>

    <div class="col-md-10">
      <div ng-switch on="mode" class="container-fluid">
        <div ng-switch-when="quick">

          <div class="kbn-timepicker-section">
            <ul class="list-unstyled">
              <li><a ng-click="setQuick('now/d', 'now/d')">Today</a></li>
              <li><a ng-click="setQuick('now/w', 'now/w')">This week</a></li>
              <li><a ng-click="setQuick('now/M', 'now/M')">This month</a></li>
              <li><a ng-click="setQuick('now/y', 'now/y')">This year</a></li>
              <li><a ng-click="setQuick('now/d', 'now')">The day so far</a></li>
              <li><a ng-click="setQuick('now/w', 'now')">Week to date</a></li>
              <li><a ng-click="setQuick('now/M', 'now')">Month to date</a></li>
              <li><a ng-click="setQuick('now/y', 'now')">Year to date</a></li>
            </ul>
          </div>

          <div class="kbn-timepicker-section">
            <ul class="list-unstyled">
              <li><a ng-click="setQuick('now-1d/d', 'now-1d/d')">Yesterday</a></li>
              <li><a ng-click="setQuick('now-2d/d', 'now-2d/d')">Day before yesterday</a></li>
              <li><a ng-click="setQuick('now-7d/d', 'now-7d/d')">This day last week</a></li>
              <li><a ng-click="setQuick('now-1w/w', 'now-1w/w')">Last week</a></li>
              <li><a ng-click="setQuick('now-1M/M', 'now-1M/M')">Last month</a></li>
              <li><a ng-click="setQuick('now-1y/y', 'now-1y/y')">Last year</a></li>
            </ul>
          </div>

          <div class="kbn-timepicker-section">
            <ul class="list-unstyled">
              <li><a ng-click="setQuick('now-15m', 'now')">Last 15 minutes</a></li>
              <li><a ng-click="setQuick('now-30m', 'now')">Last 30 minutes</a></li>
              <li><a ng-click="setQuick('now-1h', 'now')">Last 1 hour</a></li>
              <li><a ng-click="setQuick('now-4h', 'now')">Last 4 hours</a></li>
              <li><a ng-click="setQuick('now-12h', 'now')">Last 12 hours</a></li>
              <li><a ng-click="setQuick('now-24h', 'now')">Last 24 hours</a></li>
              <li><a ng-click="setQuick('now-7d', 'now')">Last 7 days</a></li>
              <li><a ng-click="setQuick('now-30d', 'now')">Last 30 days</a></li>
            </ul>
          </div>

          <!-- TODO: Add a section for custom intervals -->
        </div>
        <div ng-switch-when="relative">

          <div class="kbn-timepicker-section">

            <form class="form-inline" role="form">
              <label>
                From:
                <span ng-show="relative.preview">{{relative.preview}}</span><span ng-hide="relative.preview"><i>Invalid Expression</i></span>
              </label><br>
              <div class="form-group">
                <input type="number" class="form-control"
                  ng-model="relative.count"
                  ng-change="formatRelative()">
              </div>
              <div class="form-group">
                <select class="form-control col-xs-2"
                  ng-model="relative.unit"
                  ng-options="opt.value as opt.text for opt in relativeOptions"
                  ng-change="formatRelative()">
                </select>
              </div>
              <br>
              <div class="small">
                <input type="checkbox"
                  ng-model="relative.round"
                  ng-checked="relative.round"
                  ng-change="formatRelative()"/> round to the {{units[relative.unit]}}
              </div>
            </form>

          </div>

          <div class="kbn-timepicker-section">
            <form class="form-inline" role="form">
              <label>
                To: Now
              </label><br>
              <div class="form-group">
                <input type="text" disabled class="form-control" value="Now">
              </div>
            </form>
          </div>

          <div class="kbn-timepicker-section">
            <form role="form">
              <label>&nbsp</label>
              <div class="form-group">
                <button class="btn btn-primary kbn-timepicker-go" ng-disabled="!relative.preview" ng-click="applyRelative()">Go</button>
              </div>
            </form>
          </div>

        </div>

        <div ng-switch-when="absolute">
          <div class="kbn-timepicker-section">
            <form role="form">
              <div>
                <label class="small">From: <span ng-show="!absolute.from"><i>Invalid Date</i></span></label>
                <input type="text" class="form-control" input-datetime="{{format}}" ng-model="absolute.from">
              </div>
              <div ng-model="absolute.from">
                <datepicker max="absolute.to" show-weeks="false"></datepicker>
              </div>
            </form>
          </div>

          <div class="kbn-timepicker-section">
            <form role="form">
              <div>
                <label class="small">To: <span ng-show="!absolute.to"><i>Invalid Date</i></span></label>
                <input type="text" class="form-control" input-datetime="{{format}}" ng-model="absolute.to">
              </div>
              <div ng-model="absolute.to">
                <datepicker min="absolute.from" show-weeks="false"></datepicker>
              </div>
            </form>
          </div>

          <div class="kbn-timepicker-section kbn-timepicker-alert">
            <form role="form">
              <label>&nbsp</label>
              <div class="form-group">
                <button class="btn btn-primary kbn-timepicker-go" ng-disabled="absolute.from > absolute.to || !absolute.from || !absolute.to" ng-click="applyAbsolute()">Go</button>
                <span class="small" ng-show="absolute.from > absolute.to"><strong>From</strong> must occur before <strong>To</strong></span>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>


<!--  <div class="row">
    <div class="timepicker-from col-xs-6 col-md-3">
      <center>
        <div ng-model="from">
          <datepicker max="to" show-weeks="false"></datepicker>
        </div>
        <br>
      </center>
    </div>

    <div class="timepicker-from col-xs-6 col-md-3">
      <center>
        <div ng-model="to">
          <datepicker min="from" show-weeks="false"></datepicker>
        </div>
      </center>
    </div>
  </div>
</div>
-->