<div class="kbn-timepicker container-fluid">

  <style>
    .kbn-timepicker [kbn-time-input] {
      text-align: center;
    }
  </style>

  <div class="row">
    <form name="input">

      <div class="timepicker-from col-xs-6 col-md-3">
        <center>
          <div ng-model="from">
            <datepicker max="to" show-weeks="false"></datepicker>
          </div>
          <br>
        </center>
      </div>

      <div class="timepicker-from col-xs-6 col-md-3">
        <center>
          <div ng-model="to">
            <datepicker min="from" show-weeks="false"></datepicker>
          </div>
        </center>
      </div>

    </form>
</div>