{% include "readme.njk" %}
{% for data_stream in fields %}
### {{ data_stream.datastream }}

Insert a description of the datastream here.

**ECS Field Reference**

Please refer to the following [document](https://www.elastic.co/guide/en/ecs/current/ecs-field-reference.html) for detailed information on ECS fields.

**Exported fields**

| Field | Description | Type |
|---|---|---|
{% for field in data_stream.fields %}| {{ field.name }} | {{ field.description | default('Insert a description') }} | {{ field.type | default('Insert a type')}} |
{% endfor %}
{% endfor %}
