.kuiTogglePanelHeader {
  padding-bottom: 4px;
  margin-bottom: 15px;
  border-bottom: $globalBorderThin;

  /**
   * 1. Allow the user to click anywhere on the header, not just on the button text.
   */
  .kuiToggleButton {
    width: 100%; /* 1 */
    text-align: left; /* 1 */
  }
}
