.fieldPickerSelectable {
  height: $euiSizeXXL * 9; // 40 * 9 = 360px

  .presFieldPicker__fieldButton[aria-checked='true'] {
    background-color: transparentize($euiColorPrimary, .9);
  }

  .euiSelectableMessage {
    height: 100%;
  }
}