.kuiToolBar {
  @include bar;

  padding: $toolBarPadding;
  height: $toolBarHeight;
}

.kuiToolBarSection {
  @include barSection;
}

/**
 * 1. Override Bar styles and put Search on the left side.
 */
.kuiToolBar--searchOnly {
  .kuiToolBarSearch {
    margin-left: 0 !important; /* 1 */
  }
}
