openapi: 3.0.1
info:
  title: Elastic Maps File Service
  description: OpenAPI schema for the Elastic Maps File Service manifest endpoint
  version: '0.1'
  contact:
    name: Presentation Team
  license:
    name: Elastic License 2.0
    url: https://www.elastic.co/licensing/elastic-license
tags:
  - name: ems
    description: Elastic Maps Service.
servers:
  - url: 'https://vector.maps.elastic.co'
    description: Production
  - url: 'https://storage.googleapis.com/elastic-bekitzur-emsfiles-vector-dev/'
    description: Staging
paths:
   '/latest/manifest':
     get:
      summary: "Manifest of the EMS File Service"
      description: "Describes the layers available with formats and other metadata"
      parameters: []
      responses:
        "200":
          description: "Manifest is returned"
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    description: "Version of the API as a date in YYYY-MM-DD format"
                  layers:
                    type: array
                    minItems: 1
                    items:
                      type: object
                      properties:
                        layer_id:
                          type: string
                          description: Identifier of the layers
                        created_at:
                          type: string
                          description: Date of the creation of the layer
                          format: date-time
                        attribution:
                          type: array
                          minItems: 1
                          items:
                            type: object
                            properties:
                              label:
                                type: object
                                properties:
                                  en:
                                    type: string
                                    description: Attribution label for the data source
                              url:
                                type: object
                                properties:
                                  en:
                                    type: string
                                    description: URL to the data source
                                    format: URL
