.rework--editable {
  text-align: inherit;
  background-color: transparent;
  border: transparent;
  border-radius: 0;
  padding: 0px;
  border-bottom: 1px solid transparent;
  margin-top: 1px;


  &:focus, &:hover {
    outline: none;
    border-bottom: 1px solid #666;
  }
}
