
@import "../variables";
@import "./home/home_view";

.guide {
  display: flex;
  height: 100%;
}

.guideContent {
  flex: 1 1 auto;
  padding-top: $guideNavHeight;
  transition: padding-right $guideCodeViewerTransition;

  &.is-code-viewer-open {
    padding-right: $guideCodeViewerWidth - 20px;

    @include whenNarrowerThan($normalBreakpoint) {
      padding-right: $guideCodeViewerSmallWidth - 20px;
    }
  }
}

.guideWarning {
  border-left: 5px solid #e8488b;
  margin-top: 19px;
  padding: 0 14px;
  line-height: 21px;
  color: #e8488b;
}

.guideBreak {
  border: none;
}
