
<div class="localNav">
  <div class="localNavRow">
    <div class="localNavRow__section">
      <div class="localBreadcrumbs">
        <div class="localBreadcrumb">
          <a class="localBreadcrumb__link" href="#">
            Discover
          </a>
        </div>

        <div class="localBreadcrumb">
          <a class="localBreadcrumb__link" href="#">
            <span class="localBreadcrumb__emphasis">0</span> hits
          </a>
        </div>
      </div>
    </div>

    <div class="localNavRow__section">
      <div class="localMenu">
        <div class="localMenuItem localMenuItem-isSelected">
          New
        </div>

        <div class="localMenuItem">
          Save
        </div>

        <div class="localMenuItem">
          Open
        </div>

        <button class="localMenuItem">
          <div class="localMenuItem__icon fa fa-clock-o"></div>
          Last 5 minutes
        </button>
      </div>
    </div>
  </div>

  <div class="localDropdown">
    <!-- Dropdown close button -->
    <button class="localDropdownCloseButton">
      <span class="fa fa-chevron-circle-up"></span>
    </button>

    <div class="localDropdownPanels">
      <!-- Left panel -->
      <div class="localDropdownPanel localDropdownPanel--left">
        <!-- Title -->
        <div class="localDropdownTitle">Left panel</div>

        <!-- Help text -->
        <div class="localDropdownHelpText">
          Here's some help text to explain the purpose of the dropdown.
        </div>
      </div>

      <!-- Right panel -->
      <div class="localDropdownPanel localDropdownPanel--left">
        <!-- Title -->
        <div class="localDropdownTitle">Right panel</div>

        <!-- Help text -->
        <div class="localDropdownHelpText">
          Here's some help text to explain the purpose of the dropdown.
        </div>
      </div>
    </div>
  </div>

  <div class="localNavRow localNavRow--secondary">
    <div class="localSearch">
      <input
        class="localSearchInput"
        type="text"
        placeholder="Filter..."
        autocomplete="off"
      >
      <button class="localSearchButton">
        <span class="fa fa-search"></span>
      </button>
    </div>
  </div>
</div>
