.rework--grow {
  overflow: hidden;
}

.rework--grow-content {
  height: 100%;
  width: 100%;
  background-image: url({{{image}}});
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.rework--grow-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.rework--grow-label {
  {{{label_style.string}}}
}
