/**
 * 1. Don't cut off the shadow of the field items
 */

.unifiedFieldList__fieldListGrouped {
  margin-left: -$euiSize; /* 1 */
  position: relative;
  flex-grow: 1;
  overflow: auto;

  @include euiOverflowShadow;
  @include euiScrollBar;
}

.unifiedFieldList__fieldListGrouped__container {
  padding-top: $euiSizeS;
  position: absolute;
  top: 0;
  left: $euiSize; /* 1 */
  right: $euiSizeXS; /* 1 */
}
