@use 'sass:math';
@use 'eui/eui_variables' as eui;
@use 'eui/eui_mixins' as mixins;

/**
 * 1. Don't cut off the shadow of the field items
 */

.unifiedFieldList__fieldListGrouped {
  margin-left: math.negate(eui.$euiSize);
  /* 1 */
  position: relative;
  flex-grow: 1;
  overflow: auto;

  @include mixins.euiOverflowShadow;
  @include mixins.euiScrollBar;
}

.unifiedFieldList__fieldListGrouped__container {
  padding-top: eui.$euiSizeS;
  position: absolute;
  top: 0;
  left: eui.$euiSize; /* 1 */
  right: eui.$euiSizeXS; /* 1 */
}
