{% include "./description_readme.njk" %}
{% for datastream in datastreams %}
### {{ datastream.title }}

{{ datastream.description }}
{% endfor %}
{% for field in fields %}
{% raw %}{{fields {% endraw %}"{{ field.datastream }}"{% raw %}}}{% endraw %}
{% endfor %}