{% include "./description_readme.njk" %}

{% for datastream in datastreams %}
### {{ datastream.title }}

{{ datastream.description }}{% endfor %}

**ECS Field Reference**

Please refer to the following [document](https://www.elastic.co/guide/en/ecs/current/ecs-field-reference.html) for detailed information on ECS fields.

**Exported fields**
{% for data_stream in fields %}
| Field | Description | Type |
|---|---|---|
{% for field in data_stream.fields %}| {{ field.name }} | {{ field.description | default('') | replace('\n', ' ') | trim }} | {{ field.type }} |
{% endfor %}
{% endfor %}