// SASSTODO: Create these tooltip variables in EUI
// And/Or create a tooltip mixin
$temp-euiTooltipBackground: tintOrShade($euiColorFullShade, 25%, 90%);
$temp-euiTooltipText: $euiColorGhost;

// Converted leaflet icon sprite into background svg for custom coloring (dark mode)
$visMapLeafletSprite: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 540 60' height='60' width='540'%3E%3Cg fill='#{hexToRGB($euiTextColor)}'%3E%3Cg%3E%3Cpath d='M18 36v6h6v-6h-6zm4 4h-2v-2h2v2z'/%3E%3Cpath d='M36 18v6h6v-6h-6zm4 4h-2v-2h2v2z'/%3E%3Cpath d='M23.142 39.145l-2.285-2.29 16-15.998 2.285 2.285z'/%3E%3C/g%3E%3Cpath d='M100 24.565l-2.096 14.83L83.07 42 76 28.773 86.463 18z'/%3E%3Cpath d='M140 20h20v20h-20z'/%3E%3Cpath d='M221 30c0 6.078-4.926 11-11 11s-11-4.922-11-11c0-6.074 4.926-11 11-11s11 4.926 11 11z'/%3E%3Cpath d='M270,19c-4.971,0-9,4.029-9,9c0,4.971,5.001,12,9,14c4.001-2,9-9.029,9-14C279,23.029,274.971,19,270,19z M270,31.5c-2.484,0-4.5-2.014-4.5-4.5c0-2.484,2.016-4.5,4.5-4.5c2.485,0,4.5,2.016,4.5,4.5C274.5,29.486,272.485,31.5,270,31.5z'/%3E%3Cg%3E%3Cpath d='M337,30.156v0.407v5.604c0,1.658-1.344,3-3,3h-10c-1.655,0-3-1.342-3-3v-10c0-1.657,1.345-3,3-3h6.345 l3.19-3.17H324c-3.313,0-6,2.687-6,6v10c0,3.313,2.687,6,6,6h10c3.314,0,6-2.687,6-6v-8.809L337,30.156'/%3E%3Cpath d='M338.72 24.637l-8.892 8.892H327V30.7l8.89-8.89z'/%3E%3Cpath d='M338.697 17.826h4v4h-4z' transform='rotate(-134.99 340.703 19.817)'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M381 42h18V24h-18v18zm14-16h2v14h-2V26zm-4 0h2v14h-2V26zm-4 0h2v14h-2V26zm-4 0h2v14h-2V26z'/%3E%3Cpath d='M395 20v-4h-10v4h-6v2h22v-2h-6zm-2 0h-6v-2h6v2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A";

.leaflet-bar {
  @include euiBottomShadowMedium($color: $euiShadowColorLarge, $opacity: .2)
}

.leaflet-container {
  background: $euiColorEmptyShade;

  //the heatmap layer plugin logs an error to the console when the map is in a 0-sized container
  min-width: 1px !important;
  min-height: 1px !important;
}

.leaflet-clickable {
  &:hover {
    stroke-width: $euiSizeS;
    stroke-opacity: 0.8;
  }
}

/**
 * 1. Since Leaflet is an external library, we also have to provide EUI variables
 *    to non-override colors for darkmode.
 */

.leaflet-control {
  a {
    background-color: lightOrDarkTheme($euiColorEmptyShade, $euiColorLightShade); /* 1 */
    border-color: lightOrDarkTheme($euiColorLightShade, $euiColorMediumShade); /* 1 */
    color: $euiTextColor; /* 1 */
  }
}

.leaflet-retina .leaflet-draw-toolbar a {
  background-image: url($visMapLeafletSprite); /* 1 */
}

.leaflet-control-layers-expanded {
  padding: 0;
  margin: 0;
  @include fontSize(11px);
  font-family: $euiFontFamily;
  font-weight: $euiFontWeightMedium;
  line-height: $euiLineHeight;

  label {
    font-weight: $euiFontWeightMedium;
    margin: 0;
    padding: 0;
  }
}

/* over-rides leaflet popup styles to look like kibana tooltip */
.leaflet-popup-content-wrapper {
  margin: 0;
  padding: 0;
  background: $temp-euiTooltipBackground;
  color: $temp-euiTooltipText;
  border-radius: $euiBorderRadius !important; // Override all positions the popup might be at
}

.leaflet-popup {
  pointer-events: none;
}

.leaflet-popup-content {
  margin: 0;
  @include euiFontSizeS;
  font-weight: $euiFontWeightRegular;
  word-wrap: break-word;
  overflow: hidden;
  pointer-events: none;

  > * {
    margin: $euiSizeS $euiSizeS 0;
  }

  > :last-child {
    margin-bottom: $euiSizeS;
  }

  table {
    td,th {
      padding: $euiSizeXS;
    }
  }
}

.leaflet-popup-tip-container,
.leaflet-popup-close-button,
.leaflet-draw-tooltip {
  display: none !important;
}

.leaflet-control-attribution {
  background-color: transparentize($euiColorEmptyShade, .7);
  color: $euiColorDarkShade;

  // attributions are appended in blocks of <p> tags, this will allow them to display in one line
  p {
    display: inline;
  }
}

.leaflet-draw-actions a {
  background-color: $euiColorLightShade;
  color: $euiColorFullShade;
}

// Filter to desaturate mapquest tiles

img.leaflet-tile {
  @if (lightness($euiTextColor) < 50) {
    filter: brightness(1.03) grayscale(0.73);
  } @else {
    filter: invert(1) brightness(1.75) grayscale(1);
  }
}

img.leaflet-tile.filters-off {
  filter: none;
}
