
.kuiLocalNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $localNavTextColor;
  background-color: $localNavBackgroundColor;

  @include darkTheme {
    color: $localNavTextColor--darkTheme;
    background-color: $localNavBackgroundColor--darkTheme;
  }
}

.kuiLocalNavRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
}

  .kuiLocalNavRow__section {
    height: 100%;
  }

.kuiLocalNavRow--secondary {
  height: auto;
  padding: 0 $localNavSideSpacing;
}

.kuiLocalNavRow--secondary form {
  padding: 4px 0;
}
