.visEditor--timelion {

  vis-options-react-wrapper,
  .visEditorSidebar__options,
  .visEditorSidebar__timelionOptions,
  .visEditor__timelionExpressionInput {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }
}

.visEditor__timelionExpressionInput {
  .euiFormRow__fieldWrapper {
    flex-grow: 1;
  }
}

.timelionExpressionInput__editor {
  @include euiBreakpoint('xs', 's', 'm') {
    height: $euiSize * 15;
    max-height: $euiSize * 15;
  }

  height: 100%;
  padding-top: $euiSize;
}
