.ruleForm__container {
  container-type: inline-size;
}

.ruleFormFlyout__container {
  container-type: inline-size;
}

@container (max-width: 768px) {
  .euiDescribedFormGroup {
    flex-direction: column;
  }
  .euiDescribedFormGroup > .euiFlexItem {
    width: 100%;
  }
  .ruleDefinitionHeader {
    flex-direction: column;
    gap: $euiSizeM;
  }
  .ruleDefinitionHeaderRuleTypeName {
    font-size: $euiFontSizeM;
    margin-bottom: $euiSizeXS;
  }
  .ruleDefinitionHeaderRuleTypeDescription, .ruleDefinitionHeaderDocsLink {
    font-size: $euiFontSizeS;
  }
}