<div class="kuiSideBarSection">
  <div class="form-group">
    <div class="kuiSideBarSectionTitle">
      <div
        class="kuiSideBarSectionTitle__text"
        i18n-id="regionMap.visParams.layerSettingsTitle"
        i18n-default-message="Layer Settings"
      ></div>
    </div>

    <div class="kuiSideBarFormRow">
      <label
        class="kuiSideBarFormRow__label"
        for="regionMap"
        i18n-id="regionMap.visParams.vectorMapLabel"
        i18n-default-message="Vector map"
      ></label>
      <div class="kuiSideBarFormRow__control">
        <select
          id="regionMap"
          class="kuiSelect kuiSideBarSelect"
          ng-model="editorState.params.selectedLayer"
          ng-options="layer.name for layer in collections.vectorLayers track by layer.layerId"
          ng-change="onLayerChange()"
        ></select>
      </div>
    </div>

    <div class="form-group clearfix" ng-hide="!editorState.params.emsHotLink">
      <a
        class="rgmEMSLink pull-right"
        target="_blank"
        rel="noopener"
        ng-href="{{editorState.params.emsHotLink}}"
        target="_blank"
        title="{{'regionMap.visParams.previewOnEMSLinkTitle' | i18n: {
          defaultMessage: 'Preview {selectedLayerName} on the Elastic Maps Service',
          values: { selectedLayerName: editorState.params.selectedLayer.name }
        } }}"
      >
        <icon aria-hidden size="'s'" type="'link'" />
        <span
          i18n-id="regionMap.visParams.previewOnEMSLinkText"
          i18n-default-message="Preview on EMS"
        ></span>
      </a>
    </div>

    <div class="kuiSideBarFormRow">
      <label
        class="kuiSideBarFormRow__label"
        for="joinField"
        i18n-id="regionMap.visParams.joinFieldLabel"
        i18n-default-message="Join field"
      ></label>
      <div class="kuiSideBarFormRow__control">
        <select id="joinField"
          class="kuiSelect kuiSideBarSelect"
          ng-model="editorState.params.selectedJoinField"
          ng-options="field.description for field in editorState.params.selectedLayer.fields track by field.name"
        >
          <option
            value=''
            i18n-id="regionMap.visParams.selectOptionLabel"
            i18n-default-message="Select"
          ></option>
        </select>
      </div>
    </div>
    <div class="kuiSideBarFormRow">
      <label
        class="kuiSideBarFormRow__label"
        for="displayWarnings"
        i18n-id="regionMap.visParams.displayWarningsLabel"
        i18n-default-message="Display warnings"
      ></label>

      <div class="kuiSideBarFormRow__control">
        <input id="displayWarnings" type="checkbox" ng-model="editorState.params.isDisplayWarning">
        &nbsp;
        <icon-tip
          content="::'regionMap.visParams.switchWarningsTipText' | i18n: {
            defaultMessage: 'Turns on/off warnings. When turned on, warning will be shown for each term that cannot be matched to a shape in the vector layer based on the join field. When turned off, these warnings will be turned off.'
          }"
          position="'right'"
        ></icon-tip>
      </div>
    </div>
    <div class="kuiSideBarFormRow">
      <label
        class="kuiSideBarFormRow__label"
        for="onlyShowMatchingShapes"
        i18n-id="regionMap.visParams.showAllShapesLabel"
        i18n-default-message="Show all shapes"
      ></label>
      <div class="kuiSideBarFormRow__control">
        <input id="onlyShowMatchingShapes" type="checkbox" ng-model="editorState.params.showAllShapes">
        &nbsp;
        <icon-tip
          content="::'regionMap.visParams.turnOffShowingAllShapesTipText' | i18n: {
            defaultMessage: 'Turning this off only shows the shapes that were matched with a corresponding term'
          }"
          position="'right'"
        ></icon-tip>
      </div>
    </div>
  </div>
</div>

<div class="kuiSideBarSection">

  <div class="kuiSideBarSectionTitle">
    <div
      class="kuiSideBarSectionTitle__text"
      i18n-id="regionMap.visParams.styleSettingsLabel"
      i18n-default-message="Style settings"
    ></div>
  </div>
  <div class="kuiSideBarFormRow" >
    <label
      class="kuiSideBarFormRow__label"
      for="colorSchema"
      i18n-id="regionMap.visParams.colorSchemaLabel"
      i18n-default-message="Color Schema"
    ></label>
    <div class="kuiSideBarFormRow__control">
      <select
        id="colorSchema"
        class="kuiSelect kuiSideBarSelect"
        ng-model="editorState.params.colorSchema"
        ng-options="mode.id as mode.label for mode in collections.colorSchemas"
      ></select>
    </div>
  </div>
  <div class="kuiSideBarFormRow" >
    <label
      class="kuiSideBarFormRow__label"
      for="outlineWeight"
      i18n-id="regionMap.visParams.outlineWeightLabel"
      i18n-default-message="Outline weight"
    ></label>
    <div class="kuiSideBarFormRow__control">
      <input
        id="outlineWeight"
        class="kuiInput kuiSideBarInput"
        type="number"
        ng-model="editorState.params.outlineWeight"
      >
    </div>
  </div>
</div>

<wms-options options="editorState.params.wms" collections="collections"></wms-options>