@import (reference) "../../../style/variables";

.canvas__argtype--axis_config--disabled {
  color: @mediumGrey;
  font-size: 0.8em;
}

.canvas__argtype--axis_config--configure {
  .form-group {
    display: flex;

    label {
      padding: @spacingXS @spacingS;
    }
  }
}
