@import 'components/fetch_error/index';
@import 'directives/index';

@import 'ui/public/styles/local_search';

@import 'hacks';

// Discover plugin styles

// Prefix all styles with "dsc" to avoid conflicts.
// Examples
//   dscTable
//   dscTable__footer
//   monChart__legend--small
//   monChart__legend-isLoading
@import 'discover';
