@import '@elastic/eui/src/components/form/mixins';
@import '@elastic/eui/src/components/form/variables';

.globalFilterItem {
  line-height: $euiSizeL + $euiSizeXS;
  border: none;
  color: $euiTextColor;

  &:not(.globalFilterItem-isDisabled) {
    @include euiFormControlDefaultShadow;
  }
}

.globalFilterItem-isDisabled {
  background-color: transparentize($euiColorLightShade, .4);
  text-decoration: line-through;
  font-weight: $euiFontWeightRegular;
  font-style: italic;
}

.globalFilterItem-isPinned {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $euiSizeXS;
    background-color: $euiColorVis0;
  }
}

.globalFilterItem__editorForm {
  padding: $euiSizeM;
}
