<form role="form" ng-submit="applyRelative()" class="form-inline" name="relativeTime">
  <div class="kbn-timepicker-body kuiVerticalRhythm">
    <div class="kbn-timepicker-section kbn-timepicker-body-column">
      <div class="kuiLocalDropdownHeader kbn-timepicker-form-header">
        <label class="kuiLocalDropdownHeader__label"
          i18n-id="common.ui.timepicker.from"
          i18n-default-message="From"
        >
        </label>

        <div class="kuiLocalDropdownHeader__actions">
          <a
            class="kuiLocalDropdownHeader__action"
            ng-click="setRelativeToNow({key:'from'})"
            kbn-accessible-click
          >
          <span
            i18n-id="common.ui.timepicker.setToNow"
            i18n-default-message="Set To Now"
          ></span>
          </a>
        </div>
      </div>

      <div class="kuiLocalDropdownFormNote kuiVerticalRhythmSmall">
        <span ng-show="relative.from.preview">
          {{relative.from.preview}}
        </span>
        <span ng-hide="relative.from.preview">
          <em
            i18n-id="common.ui.timepicker.relative.invalidExpression"
            i18n-default-message="Invalid Expression"
          >
          </em>
        </span>
      </div>

      <div class="kuiFieldGroup kuiVerticalRhythmSmall">
        <div class="kuiFieldGroupSection kuiFieldGroupSection--wide">
          <input
            required
            ng-model="relative.from.count"
            ng-change="formatRelative({key:'from'})"
            greater-than="-1"
            min="0"
            type="number"
            ng-class="{ 'kuiTextInput-isInvalid' : checkRelative() }"
            class="kuiTextInput fullWidth"
          >
        </div>

        <div class="kuiFieldGroupSection">
          <select
            ng-model="relative.from.unit"
            ng-options="opt.value as opt.text for opt in relativeOptions"
            ng-change="formatRelative({key:'from'})"
            ng-class="{ 'kuiSelect-isInvalid': checkRelative() }"
            class="kuiSelect fullWidth"
          >
          </select>
        </div>
      </div>

      <div class="kuiVerticalRhythmSmall">
        <label class="kuiCheckBoxLabel">
          <input
            class="kuiCheckBox"
            type="checkbox"
            ng-model="relative.from.round"
            ng-checked="relative.from.round"
            ng-change="formatRelative({key:'from'})"
          >
          <span class="kuiCheckBoxLabel__text"
            i18n-id="common.ui.timepicker.roundTo"
            i18n-default-message="round to the {unit}"
            i18n-description="{unit} will be a translated time unit, e.g. \"hour\", \"minute\""
            i18n-values="{
              unit: units[relative.to.unit.substring(0,1)]
            }"
          >
          </span>
        </label>
      </div>
    </div>

    <div class="kbn-timepicker-section kbn-timepicker-body-column">
      <div class="kuiLocalDropdownHeader kbn-timepicker-form-header">
        <label class="kuiLocalDropdownHeader__label"
          i18n-id="common.ui.timepicker.to"
          i18n-default-message="To"
        >
        </label>

        <div class="kuiLocalDropdownHeader__actions">
          <a
            class="kuiLocalDropdownHeader__action"
            ng-click="setRelativeToNow({key:'to'})"
            kbn-accessible-click
          >
          <span
            i18n-id="common.ui.timepicker.setToNow"
            i18n-default-message="Set To Now"
          ></span>
          </a>
        </div>
      </div>

      <div class="kuiLocalDropdownFormNote kuiVerticalRhythmSmall">
        <span ng-show="relative.to.preview">
          {{relative.to.preview}}
        </span>
        <span ng-hide="relative.to.preview">
          <em
            i18n-id="common.ui.timepicker.invalidExpression"
            i18n-default-message="Invalid Expression"
          >
          </em>
        </span>
      </div>

      <div class="kuiFieldGroup kuiVerticalRhythmSmall">
        <div class="kuiFieldGroupSection kuiFieldGroupSection--wide">
          <input
            required
            ng-model="relative.to.count"
            ng-change="formatRelative({key:'to'})"
            greater-than="-1"
            min="0"
            type="number"
            ng-class="{ 'kuiTextInput-isInvalid': checkRelative() }"
            class="kuiTextInput fullWidth"
          >
        </div>

        <div class="kuiFieldGroupSection">
          <select
            ng-model="relative.to.unit"
            ng-options="opt.value as opt.text for opt in relativeOptions"
            ng-change="formatRelative({key:'to'})"
            ng-class="{ 'kuiSelect-isInvalid': checkRelative() }"
            class="kuiSelect fullWidth"
          >
          </select>
        </div>
      </div>

      <div class="kuiVerticalRhythmSmall">
        <label class="kuiCheckBoxLabel">
          <input
            class="kuiCheckBox"
            type="checkbox"
            ng-model="relative.to.round"
            ng-checked="relative.to.round"
            ng-change="formatRelative({key:'to'})"
          >
          <span class="kuiCheckBoxLabel__text"
            i18n-id="common.ui.timepicker.roundTo"
            i18n-default-message="round to the {unit}"
            i18n-description="{unit} will be a translated time unit, e.g. \"hour\", \"minute\""
            i18n-values="{
              unit: units[relative.to.unit.substring(0,1)]
            }">
            
          </span>
        </label>
      </div>
    </div>
  </div>

  <div class="kbn-timepicker-actions kuiVerticalRhythm">
    <span
      class="kbn-timepicker-action-item kbn-timepicker-error"
      ng-show="checkRelative()"
      i18n-id="common.ui.timepicker.fromToError"
      i18n-default-message="{strongStr}From{strongEnd} must occur before {strongStr}To{strongEnd}"
      i18n-values="{
        html_strongStr: '<strong>',
        html_strongEnd: '</strong>'
      }">
      
    </span>
    <button
      type="submit"
      class="kuiButton kuiButton--primary kbn-timepicker-submit-button"
      ng-disabled="!(relative.from.preview && relative.to.preview) || checkRelative()"
      data-test-subj="timepickerGoButton"
      i18n-id="common.ui.timepicker.go"
      i18n-default-message="Go">
    </button>
  </div>
</form>
