@import (reference) "../../../style/variables";

.canvas__argtype--seriesStyle--properties {
  display: flex;

  & > div {
    flex: 1;
    margin-right: @spacingXS;
  }
}

.canvas__argtype--seriesStyle--remove-color {
  line-height: 25px;
  display: inline-block;
}

.canvas__argtype--seriesStyle--color {
  display: inline-block;
}

.canvas__argtype--seriesStyle--color-picker {

  & > div {
    padding-right: @spacingXS;
    vertical-align: middle;
    height: 25px;
    line-height: 25px;
  }
}
