@import (reference) "../../../style/variables";

.canvas__argtype--seriesStyle {
  > * label {
    margin: 0 @spacingS;
  }

  .canvas__argtype--seriesStyle--plotStyle {
    > * {
      display: inline-block;

      label {
        margin: 0 @spacingS;
      }

      select {
        width: 58px;
        font-size: 0.9em;
      }
    }
  }
}
