@import (reference) "../../../style/variables";

.canvas__argtype--seriesStyle--properties {
  display: flex;
  margin-top: @spacingM;

  & > div {
    width: 70px;
    margin-right: @spacingXS;
  }
}
