<paginate list="rows" per-page="10">
  <table class="table table-condensed visualize-table">
    <thead>
      <tr bindonce>
        <th
          ng-repeat="col in columns track by $index"
          ng-click="cycleSort(col)"
          ng-class="getColumnClass(columns, $first, $last)">
          <span bo-text="col"></span>
          <i
            class="fa"
            ng-class="{
              'fa-sort-asc': sort.field === col && sort.asc === true,
              'fa-sort-desc': sort.field === col && sort.asc === false,
              'fa-sort': !sort || sort.field !== col
            }">
          </i>
        </th>
      </tr>
    </thead>
    <tbody kbn-rows="page" kbn-rows-min="paginate.perPage"></tbody>
  </table>
  <a class="small pull-right" ng-click="exportAsCsv()">
    Export <i class="fa fa-download"></i>
  </a>
</paginate>