<div
  class="kuiViewContent gettingStartedContent"
  data-test-subj="gettingStartedContainer"
>
  <div class="kuiViewContentItem kuiVerticalRhythm gettingStartedWelcome">
    <h1 class="kuiTitle gettingStartedTitle">
      Welcome to Kibana
    </h1>
  </div>

  <div class="kuiViewContentItem kuiVerticalRhythm gettingStartedLogo">
    <img
      ng-src="{{ gettingStarted.imageUrls.kibanaLogo }}"
      alt="Kibana logo"
    />
  </div>

  <div class="kuiViewContentItem kuiVerticalRhythm">
    <injected-items items="gettingStarted.topMessages"></injected-items>
  </div>

  <div class="kuiViewContentItem kuiVerticalRhythm">
    <div class="kuiCardGroup kuiCardGroup">
      <div class="kuiCard kuiCardGroup__card gettingStartedCard">
        <div class="kuiCard__description">
          <div class="kuiCard__descriptionTitle">
            <h2 class="kuiSubTitle">
              First, add your data
            </h2>
          </div>

          <div class="kuiCard__descriptionText gettingStartedCard__descriptionText">
            <div class="gettingStartedLogoRow">
              <img
                class="gettingStartedLogoRow__logo"
                ng-src="{{ gettingStarted.imageUrls.beatsLogo }}"
                alt="Beats logo"
              />
              <img
                class="gettingStartedLogoRow__logo"
                ng-src="{{ gettingStarted.imageUrls.logstashLogo }}"
                alt="Logstash logo"
              />
            </div>
          </div>
        </div>

        <div class="kuiCard__footer">
          <p class="kuiText">
            Pull in data from the
            <a
              ng-href="{{ gettingStarted.documentationLinks.elasticsearch.docs }}"
              class="kuiLink"
              target="_blank"
            >Elasticsearch API</a>,
            <a
              ng-href="{{ gettingStarted.documentationLinks.beats.docs }}"
              class="kuiLink"
              target="_blank"
            >Beats</a>, or
            <a
              ng-href="{{ gettingStarted.documentationLinks.logstash.docs }}"
              class="kuiLink"
              target="_blank"
            >Logstash</a>.
            Not sure how to do that?
            <a
              ng-href="{{ gettingStarted.documentationLinks.gettingStarted }}"
              class="kuiLink"
              target="_blank"
            >Read this introduction.</a>
          </p>
        </div>
      </div>

      <div class="kuiCard kuiCardGroup__card gettingStartedCard">
        <div class="kuiCard__description">
          <div class="kuiCard__descriptionTitle">
            <h2 class="kuiSubTitle">
              Visualize and explore
            </h2>
          </div>

          <div class="kuiCard__descriptionText gettingStartedCard__descriptionText">
            <div class="gettingStartedLogoRow">
              <img
                class="gettingStartedLogoRow__logo"
                ng-src="{{ gettingStarted.imageUrls.dashboardIcon }}"
                alt="Dashboard icon"
              />
            </div>
          </div>
        </div>

        <div class="kuiCard__footer">
          <p class="kuiText">Once you've added data, you'll need to
          <a
            href="#/management/kibana/index"
            class="kuiLink"
            kbn-getting-started-opt-out
          >configure an index pattern</a>
          for your data before using our Discover and Visualize applications.</p>
        </div>
      </div>

      <div
        class="kuiCard kuiCardGroup__card gettingStartedCard"
        ng-show="gettingStarted.hasManageAndMonitorMessages()"
      >
        <div class="kuiCard__description">
          <div class="kuiCard__descriptionTitle">
            <h2 class="kuiSubTitle">
              Manage and monitor
            </h2>
          </div>

          <div class="kuiCard__descriptionText gettingStartedCard__descriptionText">
            <div class="gettingStartedLogoRow">
              <img
                class="gettingStartedLogoRow__logo"
                ng-src="{{ gettingStarted.imageUrls.shieldIcon }}"
                alt="Shield icon"
              />
            </div>
          </div>
        </div>

        <div class="kuiCard__footer">
          <injected-items items="gettingStarted.manageAndMonitorMessages"></injected-items>
        </div>
      </div>
    </div>
  </div>

  <div
    ng-if="!gettingStarted.hasOptedOut()"
    class="kuiViewContentItem kuiVerticalRhythm"
  >
    <div class="kuiFieldGroup">
      <div class="kuiFieldGroupSection">
        <a
          class="kuiButton kuiButton--primary"
          kbn-href="#/management"
          kbn-getting-started-opt-out
          data-test-subj="lnkGettingStartedOptOut"
        >
          <span class="kuiButton__inner">
            <span>Got it, take me to Kibana</span>
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="kuiViewContentItem kuiVerticalRhythm">
    <p class="kuiText">
      Just want to see what Kibana is capable of doing?
      <a
        ng-href="{{ gettingStarted.documentationLinks.demoSite }}"
        class="kuiLink"
        target="_blank"
      >View the demo site</a>.
    </p>
  </div>

  <div class="kuiViewContentItem kuiVerticalRhythm">
    <p class="kuiText">
      <a
        ng-href="{{ gettingStarted.documentationLinks.kibana.docs }}"
        class="kuiLink"
        target="_blank"
      >Kibana documentation</a>
      is always available to help.
    </p>
  </div>
</div>
