getting-started {

  .kuiViewContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    .gettingStartedWelcome {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 200px;
      width: 100%;
      background-color: #f7f7f7;

      h1 {
        transform: translateY(10px);
      }
    }

    .gettingStartedLogo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border: 1px solid #D7DBDD;
      width: 100px;
      height: 100px;
      border-radius: 100%;

      background-color: #ffffff;

      transform: translateY(-60px);
    }

    .kuiCardGroup--spaced {
      display: flex;

      .kuiCard + .kuiCard {
        margin-left: 10px;
      }
    }
  }

}


/*
// Top div
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;

// For logo with circle
// see flexbox patterns
position: absolute;
left: 50%;
top: 100%;
transform: translate(-50%, -50%);

// Bottom div
display: flex;
flex-direction: column;
align-items: center;
padding-top: xxx;

// For centering text
// should go into UI framework; file called overrides
.kuiTextCenter {
  text-align: center;
}

// Use SVG for icon
// See visualization type icons


*/