<div class="kuiViewContent">
  <div class="kuiViewContentItem kuiVerticalRhythm gettingStartedWelcome">
    <h1 class="kuiTitle">
      Welcome to Kibana
    </h1>
  </div>

  <div class="kuiViewContentItem kuiVerticalRhythm gettingStartedLogo">
    <div>[Kibana logo]</div>
  </div>

  <div class="kuiViewContentItem kuiVerticalRhythm">
    optional top message slot
  </div>

  <div class="kuiViewContentItem kuiVerticalRhythm">
    <ol class="kuiCardGroup kuiCardGroup--spaced">
      <li class="kuiCard kuiCardGroup__card">
        <div class="kuiCard__description">
          <div class="kuiCard__descriptionTitle">
            <h2 class="kuiSubTitle">
              First, add your data
            </h2>            
          </div>

          <div class="kuiCard__descriptionText">
            [Beats logo] [Logstash logo]
          </div>
        </div>

        <div class="kuiCard__footer">
          Pull in data from the <a href="">Elasticsearch API</a>, <a href="">Beats</a>, <a href="">Logstash</a>.
          Not sure how to do that? <a href="">Read this introduction.</a>
        </div>
      </li>

      <li class="kuiCard kuiCardGroup__card">
        <div class="kuiCard__description">
          <div class="kuiCard__descriptionTitle">
            <h2 class="kuiSubTitle">
              Visualize and explore
            </h2>
          </div>

          <div class="kuiCard__descriptionText">
            [Some dashboard-like logo]
          </div>
        </div>

        <div class="kuiCard__footer">
          Once you've added data, you'll need to <a href="">configure an index pattern</a>
          for your data before using our Discover and Visualize applications.
        </div>
      </li>

      <li
        class="kuiCard kuiCardGroup__card"
        ng-if="gettingStarted.hasManageAndMonitorItems"
        >
        <div class="kuiCard__description">
          <div class="kuiCard__descriptionTitle">
            <h2 class="kuiSubTitle">
              Manage and monitor
            </h2>
          </div>

          <div class="kuiCard__descriptionText">
          [Some shield-like logo]
          </div>
        </div>

        <div class="kuiCard__footer">
          <span ng-repeat="item in gettingStarted.manageAndMonitorItems">
            {{ item }}
          </span>
        </div>
      </li>
    </ol>
  </div>

  <div class="kuiViewContentItem kuiVerticalRhythm">
    <div class="kuiFieldGroup">
      <div class="kuiFieldGroupSection">
        <p class="kuiText">    Just want to see what Kibana is capable of doing? </p>
      </div>

      <div class="kuiFieldGroupSection">
        <button class="kuiButton kuiButton--primary">
          <span class="kuiButton__inner">
            <span>View the demo site</span>
          </span>
        </button>  
      </div>
    </div>
  </div>

  <div class="kuiViewContentItem kuiVerticalRhythm">
    <a href="">Kibana documentation</a> is always available to help.
  </div>
</div>