<div class="kuiViewContent gettingStartedContent">

  <div
    ng-if="!gettingStarted.hasOptedOut"
    class="kuiBar gettingStartedOptOutContent"
  >
    <div class="kuiBarSection">
      <p class="kuiText kuiSubduedText">
        <a
          kbn-href="#/management"
          ng-click="gettingStarted.recordOptOut()"
          class="kuiLink"
        >I'm a pro, skip this stuff &gt;</a>
      </p>
    </div>
  </div>

  <div class="kuiViewContentItem kuiVerticalRhythm gettingStartedWelcome">
    <h1 class="kuiTitle">
      Welcome to Kibana
    </h1>
  </div>

  <div class="kuiViewContentItem kuiVerticalRhythm gettingStartedLogo">
    <img src="{{ gettingStarted.imageUrls.kibanaLogo }}" />
  </div>

  <div
    id="gettingStartedTopMessageContainer"
    class="kuiViewContentItem kuiVerticalRhythm"
  ></div>

  <div class="kuiViewContentItem kuiVerticalRhythm">
    <div class="kuiCardGroup kuiCardGroup">
      <div class="kuiCard kuiCardGroup__card gettingStartedCard">
        <div class="kuiCard__description">
          <div class="kuiCard__descriptionTitle">
            <h2 class="kuiSubTitle">
              First, add your data
            </h2>            
          </div>

          <div class="kuiCard__descriptionText gettingStartedCard__descriptionText">
            <div class="gettingStartedLogoRow">
              <img src="{{ gettingStarted.imageUrls.beatsLogo }}" />
              <img src="{{ gettingStarted.imageUrls.logstashLogo }}" />
            </div>
          </div>
        </div>

        <div class="kuiCard__footer">
          <p class="kuiText">Pull in data from the <a href="" class="kuiLink">Elasticsearch API</a>,
          <a href="" class="kuiLink">Beats</a>, <a href="" class="kuiLink">Logstash</a>.
          Not sure how to do that? <a href="" class="kuiLink">Read this introduction.</a></p>
        </div>
      </div>

      <div class="kuiCard kuiCardGroup__card gettingStartedCard">
        <div class="kuiCard__description">
          <div class="kuiCard__descriptionTitle">
            <h2 class="kuiSubTitle">
              Visualize and explore
            </h2>
          </div>

          <div class="kuiCard__descriptionText gettingStartedCard__descriptionText">
            <div class="gettingStartedLogoRow">
              <img src="{{ gettingStarted.imageUrls.dashboardIcon }}" />
            </div>
          </div>
        </div>

        <div class="kuiCard__footer">
          <p class="kuiText">Once you've added data, you'll need to
          <a
            href="#/management/kibana/index"
            ng-click="gettingStarted.recordOptOut()"
            class="kuiLink"
          >
            configure an index pattern
          </a>
          for your data before using our Discover and Visualize applications.</p>
        </div>
      </div>

      <div
        class="kuiCard kuiCardGroup__card gettingStartedCard"
        ng-show="gettingStarted.hasManageAndMonitorMessages"
      >
        <div class="kuiCard__description">
          <div class="kuiCard__descriptionTitle">
            <h2 class="kuiSubTitle">
              Manage and monitor
            </h2>
          </div>

          <div class="kuiCard__descriptionText gettingStartedCard__descriptionText">
            <div class="gettingStartedLogoRow">
              <img src="{{ gettingStarted.imageUrls.shieldIcon }}" />
            </div>
          </div>
        </div>

        <div class="kuiCard__footer">
          <p
            class="kuiText"
            ng-if="gettingStarted.manageAndMonitorMessages"
            ng-bind-html="gettingStarted.manageAndMonitorMessages | trustAsHtml"></p>
        </div>
      </div>
    </div>
  </div>

  <div class="kuiViewContentItem kuiVerticalRhythm">
    <div class="kuiFieldGroup">
      <div class="kuiFieldGroupSection">
        <p class="kuiText">Just want to see what Kibana is capable of doing?</p>
      </div>

      <div class="kuiFieldGroupSection">
        <button class="kuiButton kuiButton--primary">
          <span class="kuiButton__inner">
            <span>View the demo site</span>
          </span>
        </button>  
      </div>
    </div>
  </div>

  <div class="kuiViewContentItem kuiVerticalRhythm">
    <p class="kuiText"><a href="" class="kuiLink">Kibana documentation</a> is always available to help.</p>
  </div>
</div>