.gettingStartedContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
}

.gettingStartedWelcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: #f7f7f7;
}

.gettingStartedTitle {
  transform: translateY(10px);
}

.gettingStartedLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #D7DBDD;
  width: 100px;
  height: 100px;
  border-radius: 100%;

  background-color: #ffffff;

  transform: translateY(-60px);
}

.gettingStartedLogoRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gettingStartedLogoRow__logo {
  height: 80px;

  & + & {
    margin-left: 40px;
  }
}

.gettingStartedCard__descriptionText {
  margin-top: 32px;
  margin-bottom: 32px;
}

.gettingStartedCard {
  width: 340px;  
}