.kuiViewContent {
  padding-top: 20px;
  padding-bottom: 20px;
}

.kuiViewContent--constrainedWidth {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.kuiViewContentItem {
  padding-left: 20px;
  padding-right: 20px;
}
