//
// Misc elements -- found in agg_types/controls/*.html
//

.visEditorAgg__rangesTable {
  td {
    padding: 0 $vis-editor-agg-editor-spacing $vis-editor-agg-editor-spacing 0;

    &:last-child {
      padding-right: 0;
    }
  }
}

.visEditorAgg__formRow--flex {
  display: flex;

  > * {
    flex: 1 1 auto;
    margin-right: $vis-editor-agg-editor-spacing;

    &:last-child {
      margin-right: 0px;
    }
  }
}

/**
  * 1. Hack to split child elements evenly.
  */
.visEditorAgg__formRow--split {
  flex: 1 1 0 !important; /* 1 */
}

.visEditorAgg__sliderValue {
  @include euiFontSize;
  align-self: center;
  margin: 0 0 0 $vis-editor-agg-editor-spacing;
}

.visEditorAgg__subAgg {
  border: $euiBorderThick;
  border-radius: $euiBorderRadius;
  background-color: transparent;
  margin: $vis-editor-agg-editor-spacing 0;
  padding: $vis-editor-agg-editor-spacing;
}
