<div class="sidebar-item visEditorAggGroup__wrapper">
  <div class="sidebar-item-title visEditorAggGroup__title">
    {{ groupNameLabel }}
  </div>

  <div ng-class="groupName" draggable-container="group" class="visEditorAggGroup">
    <div ng-repeat="agg in group track by agg.id" data-test-subj="aggregationEditor{{agg.id}}" draggable-item="agg">
      <!-- agg.html - controls for aggregation -->
      <ng-form vis-editor-agg name="aggForm" class="visEditorAgg"></ng-form>
    </div>

    <vis-editor-agg-add ng-if="stats.count === 0" data-test-subj="addAggregationButton"></vis-editor-agg-add>
  </div>
</div>
