<div class="form-group">
  <div>
    <label
      ng-if="$index < 1 || groupName !== 'buckets'"
      class="eui-displayInline"
      i18n-id="common.ui.vis.editors.aggSelect.aggregationLabel"
      i18n-default-message="Aggregation"
    >
    </label>
    <label
      ng-if="$index >= 1 && groupName === 'buckets'"
      class="eui-displayInline"
      i18n-id="common.ui.vis.editors.aggSelect.subAggregationLabel"
      i18n-default-message="Sub Aggregation"
    >
    </label>
    <a
      ng-if="aggHelpLink"
      href="{{aggHelpLink}}"
      class="pull-right visEditorAggSelect__helpLink"
      target="_blank"
      rel="noopener noreferrer"
      i18n-id="common.ui.vis.editors.aggSelect.helpLinkLabel"
      i18n-default-message="{aggTitle} help"
      i18n-values="{ aggTitle: agg.type.title }"
    >
    </a>
  </div>
  <div class="euiSpacer euiSpacer--s"></div>
  <ui-select
    required
    name="agg"
    class="visEditorAggSelect__select agg-select"
    data-test-subj="visEditorAggSelect"
    ng-model="agg.type"
  >
    <ui-select-match placeholder="{{ ::'common.ui.vis.editors.aggSelect.selectAggPlaceholder' | i18n: { defaultMessage: 'Select an aggregation' } }}">
      {{$select.selected.title}}
    </ui-select-match>
    <ui-select-choices
      repeat="agg in aggTypeOptions
        | filter: { title: $select.search }
        | orderBy:'title'
        | sortPrefixFirst:$select.search:'title'"
      group-by="'subtype'"
    >
      <div data-test-subj="{{agg.title}}" ng-bind-html="agg.title | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
</div>
