<div ng-if="aggIsTooLow" class="form-group">
  <p class="vis-editor-agg-error">
    "{{ agg.schema.title }}" aggs must run before all other buckets!
  </p>
  <input
    type="number"
    name="order"
    ng-model="$index"
    max="{{aggIsTooLow ? $index - 1 : $index}}"
    style="display: none;">
</div>

<div ng-if="agg.error" class="form-group">
  <p class="vis-editor-agg-error ng-binding">
    {{agg.error}}
  </p>
</div>

<div ng-if="agg.schema.deprecate" class="form-group">
  <p ng-show="agg.schema.deprecateMessage" class="vis-editor-agg-error">
    {{ agg.schema.deprecateMessage }}
  </p>
  <p ng-show="!agg.schema.deprecateMessage" class="vis-editor-agg-error">
    "{{ agg.schema.title }}" has been deprecated.
  </p>
</div>

<!-- schema editors get added down here: aggSelect.html, agg_types/controls/*.html -->
