.kuiFlexGroup {
  display: flex;
  align-items: stretch;

  .kuiFlexItem {
    flex-grow: 1;
    flex-basis: 0;
  }

  $gutterTypes: (
    gutterSmall: $kuiSizeS,
    gutterMedium: $kuiSize,
    gutterLarge: $kuiSizeL,
    gutterExtraLarge: $kuiSizeXXL,
  );

  // Gutter Sizes
  @each $gutterName, $gutterSize in $gutterTypes {
    &.kuiFlexGroup--#{$gutterName} > .kuiFlexItem + .kuiFlexItem {
      margin-left: $gutterSize;
    }
  }

  // Justify the grid
  &.kuiFlexGroup--justifyContentSpaceBetween {
    justify-content: space-between;
  }

  &.kuiFlexGroup--justifyContentSpaceAround {
    justify-content: space-around;
  }

  &.kuiFlexGroup--justifyContentCenter {
    justify-content: center;
  }

  &.kuiFlexGroup--justifyContentFlexEnd {
    justify-content: flex-end;
  }

  // Align Items
  &.kuiFlexGroup--alignItemsStart {
    align-items: flex-start;
  }

  &.kuiFlexGroup--alignItemsCenter {
    align-items: center;
  }

  &.kuiFlexGroup--alignItemsEnd {
    align-items: flex-end;
  }
}

@include screenXSmall {
  .kuiFlexGroup {
    flex-wrap: wrap;
  }
}
