.kuiFlexGrid {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 0;

  .kuiFlexItem {
    flex-grow: 0;
  }

  // Gutter Sizes
  &.kuiFlexGrid--gutterSmall {
    margin: -($kuiSizeS / 2);

    .kuiFlexItem {
      padding: 0 $kuiSizeS / 2;
      margin-top: $kuiSizeS;
    }
  }

  &.kuiFlexGrid--gutterMedium {
    margin: -$kuiSize / 2;

    .kuiFlexItem {
      padding: 0 $kuiSize / 2;
      margin-top: $kuiSize;
    }
  }

  &.kuiFlexGrid--gutterLarge {
    margin: -$kuiSizeL / 2;

    .kuiFlexItem {
      padding: 0 $kuiSizeL / 2;
      margin-top: $kuiSizeL;
    }
  }

  &.kuiFlexGrid--gutterExtraLarge {
    margin: -$kuiSizeXL / 2;

    .kuiFlexItem {
      padding: 0 $kuiSizeXL / 2;
      margin-top: $kuiSizeXL;
    }
  }

  // Grid columns
  &.kuiFlexGrid--flexBasisFourths .kuiFlexItem {
    flex-basis: 25%;
  }

  &.kuiFlexGrid--flexBasisThirds .kuiFlexItem {
    flex-basis: 33.33%;
  }

  &.kuiFlexGrid--flexBasisHalves .kuiFlexItem {
    flex-basis: 50%;
  }
}

