.kuiFlexGroup {
  display: flex;
  align-items: stretch;

  .kuiFlexItem {
    flex-grow: 1;
    flex-basis: 0;
  }

  // Turn off item growth
  &.kuiFlexGroup--flexGrowZero > .kuiFlexItem {
    flex-grow: 0;
    flex-basis: auto;
  }

  // Justify the grid
  &.kuiFlexGroup--justifyContentSpaceBetween {
    justify-content: space-between;
  }

  &.kuiFlexGroup--justifyContentSpaceAround {
    justify-content: space-around;
  }

  &.kuiFlexGroup--justifyContentCenter {
    justify-content: center;
  }

  &.kuiFlexGroup--justifyContentFlexEnd {
    justify-content: flex-end;
  }
}

$gutterTypes: (
  gutterSmall: $kuiSizeS,
  gutterMedium: $kuiSize,
  gutterLarge: $kuiSizeL,
  gutterXLarge: $kuiSizeXXL,
);

@each $gutterName, $gutterSize in $gutterTypes {
  $halfGutterSize: $gutterSize * 0.5;

  .kuiFlexGroup--#{$gutterName} {
    margin: -$halfGutterSize;

    & > .kuiFlexItem {
      margin: $halfGutterSize;
    }
  }
}

@include screenXSmall {
  .kuiFlexGroup {
    flex-wrap: wrap;
  }
}
