.kuiFlexGroup {
  display: flex;
  align-items: stretch;

  .kuiFlexItem {
    flex-grow: 1;
    flex-basis: 0;
  }

  // Gutter Sizes
  &.kuiFlexGroup--gutterSmall .kuiFlexItem + .kuiFlexItem {
    margin-left: $kuiSizeS;
  }

  &.kuiFlexGroup--gutterMedium .kuiFlexItem + .kuiFlexItem {
    margin-left: $kuiSize;
  }

  &.kuiFlexGroup--gutterLarge .kuiFlexItem + .kuiFlexItem {
    margin-left: $kuiSizeL;
  }

  &.kuiFlexGroup--gutterExtraLarge .kuiFlexItem + .kuiFlexItem {
    margin-left: $kuiSizeXXL;
  }

  // Turn off item grown
  &.kuiFlexGroup--flexGrowZero .kuiFlexItem {
    flex-grow: 0;
    flex-basis: auto;
  }

  // Justify the grid
  &.kuiFlexGroup--justifyContentSpaceBetween {
    justify-content: space-between;
  }

  &.kuiFlexGroup--justifyContentSpaceAround {
    justify-content: space-around;
  }

  &.kuiFlexGroup--justifyContentCenter {
    justify-content: center;
  }

  &.kuiFlexGroup--justifyContentFlexEnd {
    justify-content: flex-end;
  }

  &.kuiFlexGroup--flexBasisFourths  {
    flex-wrap: wrap;
    margin: 0 -$kuiSizeM;

    .kuiFlexItem {
      flex-grow: 0;
      flex-basis: 25%;
      padding: 0 $kuiSizeM;
      margin-left: 0 !important;
      margin-top: $kuiSizeL;
    }
  }

  &.kuiFlexGroup--flexBasisThirds  {
    flex-wrap: wrap;
    margin: 0 -$kuiSizeM;

    .kuiFlexItem {
      flex-grow: 0;
      flex-basis: 33.33%;
      padding: 0 $kuiSizeM;
      margin-left: 0 !important;
      margin-top: $kuiSizeL;
    }
  }

  &.kuiFlexGroup--flexBasisHalves  {
    flex-wrap: wrap;
    margin: 0 -$kuiSizeM;

    .kuiFlexItem {
      flex-grow: 0;
      flex-basis: 50%;
      padding: 0 $kuiSizeM;
      margin-left: 0 !important;
      margin-top: $kuiSizeL;
    }
  }

}
