@import '../popover/mixins';

.kuiContextMenuPanel {
  position: absolute;
  width: 100%;
  visibility: visible;
  background-color: $kuiColorEmptyShade;

  &.kuiContextMenuPanel-txInLeft {
    pointer-events: none;
    animation: kuiContextMenuPanelTxInLeft $kuiAnimSpeedNormal $kuiAnimSlightResistance;
  }

  &.kuiContextMenuPanel-txOutLeft {
    pointer-events: none;
    animation: kuiContextMenuPanelTxOutLeft $kuiAnimSpeedNormal $kuiAnimSlightResistance;
  }

  &.kuiContextMenuPanel-txInRight {
    pointer-events: none;
    animation: kuiContextMenuPanelTxInRight $kuiAnimSpeedNormal $kuiAnimSlightResistance;
  }

  &.kuiContextMenuPanel-txOutRight {
    pointer-events: none;
    animation: kuiContextMenuPanelTxOutRight $kuiAnimSpeedNormal $kuiAnimSlightResistance;
  }
}

.kuiContextMenuPanel--next {
  transform: translateX($kuiContextMenuWidth);
  visibility: hidden;
}

.kuiContextMenuPanel--previous {
  transform: translateX(-$kuiContextMenuWidth);
  visibility: hidden;
}

.kuiContextMenuPanelTitle {
  @include kuiPopoverTitle;

  width: 100%;
  text-align: left;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

@keyframes kuiContextMenuPanelTxInLeft {
  0% {
    transform: translateX($kuiContextMenuWidth);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes kuiContextMenuPanelTxOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-$kuiContextMenuWidth);
  }
}

@keyframes kuiContextMenuPanelTxInRight {
  0% {
    transform: translateX(-$kuiContextMenuWidth);;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes kuiContextMenuPanelTxOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX($kuiContextMenuWidth);
  }
}
