.inspector-modes__icon {
  margin-right: 8px;
}

.inspector-panel__heading {
  border-bottom: 1px solid #D9D9D9;
  background-color: #F5F5F5;
}

.inspector-panel__title {
  color: #666;
  text-align: center;
}

.inspector-panel__action {
  display: block;
}

.inspector-panel__action--right {
  text-align: right;
}

.inspector-panel__helpPopover p:last-child {
  margin-bottom: 0;
}

.inspector-view__flex {
  display: flex;
}
