.docViewer {
  pre,
  .docViewer__value {
    display: inline-block;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  td,
  pre {
    font-family: $euiCodeFontFamily;
  }

  tr:first-child td {
    border-top-color: transparent;
  }
}

.docViewer__content {
  margin: $euiSizeS 0 0 0;
}

.docViewer__buttons,
.docViewer__field {
  white-space: nowrap;
}
