extends ../../../server/ui/views/chrome.jade

block vars
  - appName = 'test-harness'

block head
  link(rel='stylesheet', href='/tests/mocha.css')
  script(src='/tests/mocha.js')

block content
  #mocha
  script(src='/tests/bundle.js' src-map='/tests/a6b5151f.bundle.js.map')
  link(rel='stylesheet', href='/tests/style.css')
