 <div>
  <label class="kuiLabel kuiVerticalRhythm">
    Index name or pattern
  </label>

  <p
    class="kuiText kuiVerticalRhythm"
    ng-if="!eventTimeFieldIndexPatternForm.index.nameIsPattern"
  >
    Patterns allow you to define dynamic index names using * as a wildcard. Example: logstash-*
  </p>

  <p
    class="kuiText kuiVerticalRhythm"
    ng-if="eventTimeFieldIndexPatternForm.index.isTimeBased && eventTimeFieldIndexPatternForm.index.nameIsPattern"
  >
    Patterns allow you to define dynamic index names. Static text in an index name is denoted using brackets. Example: [logstash-]YYYY.MM.DD. Please note that weeks are setup to use ISO weeks which start on Monday. &mdash;
    <small>
      <a
        arget="_blank"
        href="http://momentjs.com/docs/#/displaying/format/"
        class="kuiLink"
      >
        Date Format Documentation
      </a>
    </small>
  </p>

  <input
    ng-model="eventTimeFieldIndexPatternForm.index.name"
    ng-attr-placeholder="{{eventTimeFieldIndexPatternForm.index.defaultName}}"
    ng-model-options="{ updateOn: 'default blur', debounce: {'default': 2500, 'blur': 0} }"
    validate-index-name
    allow-wildcard
    name="name"
    required
    type="text"
    class="kuiTextInput kuiVerticalRhythm fullWidth"
  />

  <small
    class="kuiVerticalRhythm"
    ng-show="eventTimeFieldIndexPatternForm.index.nameInterval.name == 'weeks'"
  >
    <strong>Note: </strong>
    I noticed you're using weekly indices. Kibana requires ISO weeks be used in your index creation.
    See <a href="https://en.wikipedia.org/wiki/ISO_week_date" target="_blank" title="Wikipedia: ISO Week Date">Wikipedia: ISO Week Date</a>
  </small>

  <div>
    <div class="alert alert-warning">
      <h4>Time-interval based index patterns are deprecated!</h4>
      <p>
        We <strong>strongly recommend</strong> using wildcard pattern names instead of
        time-interval based index patterns.
      </p>
      <p>
        Kibana is now smart enough to automatically determine which
        indices to search against within the current time range for
        wildcard index patterns. This means that wildcard
        index patterns now get the same performance optimizations when
        searching within a time range as time-interval patterns.
      </p>
    </div>

    <label>
      Index pattern interval&nbsp;
      <kbn-info info="The interval at which index names rotate."></kbn-info>
    </label>

    <select
      required
      ng-options="opt.display for opt in eventTimeFieldIndexPatternForm.intervals"
      ng-model="eventTimeFieldIndexPatternForm.index.nameInterval"
      class="form-control">
    </select>
  </div>

  <!-- Errors -->
  <section class="kuiVerticalRhythm">
    <div class="alert alert-danger" ng-repeat="err in eventTimeFieldIndexPatternForm.index.patternErrors">
      {{err}}
    </div>

    <div class="alert alert-info" ng-if="eventTimeFieldIndexPatternForm.samples">
      Attempted to match the following indices and aliases:
      <ul>
        <li ng-repeat="sample in eventTimeFieldIndexPatternForm.samples">{{sample}}</li>
      </ul>
      <button type="button" ng-click="eventTimeFieldIndexPatternForm.moreSamples(true)" class="btn btn-default">
        Expand Search
      </button>
    </div>

    <div class="alert alert-{{eventTimeFieldIndexPatternForm.index.existing.class}}" ng-if="eventTimeFieldIndexPatternForm.index.existing">
      Pattern matches {{eventTimeFieldIndexPatternForm.index.existing.matchPercent}} of existing indices and aliases
      <ul>
        <li ng-repeat="match in eventTimeFieldIndexPatternForm.index.existing.matches | orderBy:'toString()'| limitTo: eventTimeFieldIndexPatternForm.index.sampleCount">{{match}}</li>
      </ul>
      <button
        ng-if="eventTimeFieldIndexPatternForm.index.sampleCount < eventTimeFieldIndexPatternForm.index.existing.matches.length"
        ng-click="eventTimeFieldIndexPatternForm.moreSamples()"
        type="button"
        class="btn btn-default">
        Expand Search
      </button>
    </div>

    <div class="alert alert-info" ng-if="eventTimeFieldIndexPatternForm.index.existing.failures.length">
      Indices and aliases that were found, but did not match the pattern:
      <ul>
        <li ng-repeat="match in eventTimeFieldIndexPatternForm.index.existing.failures | limitTo: eventTimeFieldIndexPatternForm.index.sampleCount">{{match}}</li>
      </ul>
      <a
        ng-if="eventTimeFieldIndexPatternForm.index.sampleCount < eventTimeFieldIndexPatternForm.index.existing.matches.length"
        ng-click="eventTimeFieldIndexPatternForm.moreSamples()"
        class="alert-link">
        more
      </a>
    </div>
  </section>

</div>
