.mkdVis {
  padding: $euiSizeS;
  width: 100%;
}

.visEditor--markdown {
  vis-editor-vis-options, vis-options-react-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .visEditor--markdown__textarea {
    flex-grow: 1;
  }

  .mkdEditor {
    height: 100%;
  }
}
