#canvas__pill-select--popover {

  .popover-content {
    padding: 0px;
  }

  .canvas__pill-select--options {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis; // TODO: This will truncate long words, needs a tooltip or something
    white-space: nowrap;

    .canvas__pill-select--option {
      font-size: $euiFontSizeS;
      padding: $euiSizeXS $euiSizeS;

      &:hover {
        background-color: $euiColorLightShade;
      }
    }
  }

  .canvas__pill-select--search {
    padding: $euiSizeS;
  }

}

.canvas__pill-select {
  padding-top: $euiSizeS;
  border-bottom: $euiBorderThin;

  .canvas__pill-select--pill {
    margin-right: $euiSizeS;
    margin-bottom: $euiSizeS;
    border-radius: $euiSize;
    border: $euiBorderThin;
    background-color: transparent;
    font-weight: normal;
    font-size: $euiFontSizeS;
    padding: 1px $euiSizeS;
    display: inline-block;
  }
}
