@import (reference) "~plugins/rework/main.less";

.rework--top-nav {
  height: 70px;
  background-color: #eaeaea;
  z-index: 1;
  border-bottom: 1px solid @kibanaGray4;
}

.rework--workpad-name {
  font-size: 20px;
  line-height: 35px;
  font-weight: 100;
}

.rework--top-nav-top, .rework--top-nav-bottom {
  padding: 5px 10px;
  height: 35px;
}
