@import (reference) "~plugins/rework/main.less";

@rework--top-nav--background: #eaeaea;
@rework--top-nav--section-height: 35px;

.rework--top-nav {
  height: 70px;
  z-index: 1;
  border-bottom: 1px solid @kibanaGray4;
  background-color: @rework--top-nav--background;
}

.rework--workpad-name {
  font-size: 20px;
  font-weight: 100;
  display: inline-block;
  line-height: @rework--top-nav--section-height;
  padding-left: 10px;
}

.rework--top-nav-top, .rework--top-nav-bottom {
  height: @rework--top-nav--section-height;
  padding: 0px 10px;
}
