<div>
  <div class="kuiSideBarFormRow">
    <label class="kuiSideBarFormRow__label" for="colorSchema">
      Color Schema
    </label>
    <div class="kuiSideBarFormRow__control">
      <select
        id="colorSchema"
        class="kuiSelect kuiSideBarSelect"
        ng-model="vis.params.colorSchema"
        ng-options="mode for mode in vis.type.params.colorSchemas"
      ></select>
    </div>
  </div>

  <div class="kuiSideBarFormRow">
    <label class="kuiSideBarFormRow__label" for="colorsNumber">
      Number of colors
    </label>
    <div class="kuiSideBarFormRow__control">
      <input
        id="colorsNumber"
        type="range"
        step="1"
        min="3"
        max="10"
        class="kuiInput kuiSideBarInput"
        ng-model="vis.params.colorsNumber"
      />
    </div>
  </div>

  <div class="kuiSideBarFormRow">
    <label class="kuiSideBarFormRow__label" for="axisScale">
      Z Axis Scale
    </label>
    <div class="kuiSideBarFormRow__control">
      <select
        id="axisScale"
        class="kuiSelect kuiSideBarSelect"
        ng-model="vis.params.scale"
        ng-options="mode for mode in vis.type.params.scales"
      ></select>
    </div>
  </div>

  <div class="kuiSideBarFormRow">
    <label class="kuiSideBarFormRow__label" for="setColorRange">
      Custom Range
    </label>
    <div class="kuiSideBarFormRow__control">
      <input class="kuiCheckBox" id="setColorRange" type="checkbox" ng-model="vis.params.setColorRange">
    </div>
  </div>

  <div ng-if="vis.params.setColorRange">
    <div class="kuiSideBarCollapsibleTitle">
      <div
        class="kuiSideBarCollapsibleTitle__label"
        ng-click="isColorRangeOpen = !isColorRangeOpen"
      >
        <span
          aria-hidden="true"
          ng-class="{ 'fa-caret-down': isColorRangeOpen, 'fa-caret-right': !isColorRangeOpen }"
          class="fa fa-caret-right kuiSideBarCollapsibleTitle__caret"
        ></span>
        <span class="kuiSideBarCollapsibleTitle__text">
          Custom Ranges
        </span>
      </div>
    </div>

    <div ng-show="isColorRangeOpen" class="kuiSideBarCollapsibleSection">
      <div class="kuiSideBarSection">
        <div class="kuiSideBarFormRow" ng-repeat="color in vis.params.colorsRange track by $index">
          <label class="kuiSideBarFormRow__label" for="{{ 'colorRange' + $index }}">
            <div class="kuiSideBarFormRow__label__colorbox" ng-style="{ 'background-color': getColor($index) }"></div>
            value over
          </label>
          <div class="kuiSideBarFormRow__control">
            <input
              id="{{ 'colorRange' + $index }}"
              class="kuiInput kuiSideBarInput"
              ng-model="color.value"
              type="number"
              ng-required="vis.params.setColorRange"
            >
          </div>
        </div>
      </div>
      <div class="text text-center text-info">note: colors can be changed in the legend</div>
    </div>
  </div>
</div>
