<div class="form-group">
  <div class="kuiSideBarFormRow">
    <label class="kuiSideBarFormRow__label" for="visualizeBasicSettingsLegendPosition">
      Legend Position
    </label>
    <div class="kuiSideBarFormRow__control">
      <select
        id="visualizeBasicSettingsLegendPosition"
        class="form-control"
        ng-model="vis.params.legendPosition"
        ng-options="position.value as position.text for position in vis.type.editorConfig.collections.legendPositions"
      >
      </select>
    </div>
  </div>

  <div class="kuiSideBarFormRow">
    <label class="kuiSideBarFormRow__label" for="showTooltip">
      Show Tooltip
    </label>
    <div class="kuiSideBarFormRow__control">
      <input id="showTooltip" type="checkbox" ng-model="vis.params.addTooltip">
    </div>
  </div>
</div>
