<div class="form-group">

  <div class="kuiSideBarSectionTitle">
    <div class="kuiSideBarSectionTitle__text">
      Layer Settings
    </div>
  </div>

  <div class="kuiSideBarFormRow">
    <label class="kuiSideBarFormRow__label" for="regionMap">
      Vector map
    </label>
    <div class="kuiSideBarFormRow__control">
      <select
        id="regionMap"
        class="kuiSelect kuiSideBarSelect"
        ng-model="vis.params.selectedLayer"
        ng-options="layer.name for layer in vis.type.params.vectorLayers"
        ng-change="onLayerChange()"
        ng-init="vis.params.selectedLayer=vis.type.params.vectorLayers[0]"
      ></select>
    </div>
  </div>

  <div class="kuiSideBarFormRow">
    <label class="kuiSideBarFormRow__label" for="joinField">
      Join field
    </label>
    <div class="kuiSideBarFormRow__control">
      <select id="joinField"
              ng-model="vis.params.selectedJoinField"
              ng-options="field.description for field in vis.params.selectedLayer.fields"
              ng-init="vis.params.selectedJoinField=vis.params.selectedLayer.fields[0]"
      >
        <option value=''>Select</option></select>
    </div>
  </div>

  <div class="kuiSideBarSectionTitle">
    <div class="kuiSideBarSectionTitle__text">
      Style Settings
    </div>
  </div>

  <div class="kuiSideBarFormRow" >
    <label class="kuiSideBarFormRow__label" for="colorSchema">
      Color Schema
    </label>
    <div class="kuiSideBarFormRow__control">
      <select
        id="colorSchema"
        class="kuiSelect kuiSideBarSelect"
        ng-model="vis.params.colorSchema"
        ng-options="mode for mode in vis.type.params.colorSchemas"
      ></select>
    </div>
  </div>


  <div class="kuiSideBarSectionTitle">
    <div class="kuiSideBarSectionTitle__text">
      Basic Settings
    </div>
  </div>


  <vislib-basic-options></vislib-basic-options>


</div>
