@import (reference) "~plugins/rework/main.less";

@rework--top-nav--section-height: 35px;

.rework--nav-button {
  display: inline-block;
  font-size: 20px;

  & > a {
    color: @rework--action-link-color;
    line-height: @rework--top-nav--section-height;
    padding: 0px 10px;

    &:hover {
      color: @text-color;
    }
  }


}
