.timelion-interval-custom {
  width: 60px;
}

.timelion-interval-custom-compact {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.timelion-interval-presets {
  width: 90px;
}

.timelion-interval-presets-compact {
  width: 10px;
  padding-left: 0;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
