<input
  input-focus
  aria-label="Custom interval"
  class="kuiTextInput timelion-interval-custom"
  ng-show="interval === 'other'"
  ng-class="{ 'timelion-interval-custom-compact': interval === 'other' }"
  ng-model="otherInterval"
><select
  id="timelionInterval"
  aria-label="Select interval"
  class="kuiSelect timelion-interval-presets"
  ng-class="{ 'timelion-interval-presets-compact': interval === 'other'}"
  ng-model="interval"
>
  <option
    ng-repeat="intervalOption in intervalOptions"
    aria-label="{{::intervalLabels[intervalOption]}}"
    value="{{::intervalOption}}"
  >
      {{::intervalOption}}
  </option>
</select>
