<%
var attributes = '';
if (timefield) {
  attributes='class="eui-textNoWrap" width="1%"';
} else if (sourcefield) {
  attributes='class="eui-textBreakAll eui-textBreakWord"';
} else {
  attributes='class="kbnDocTableCell__dataField eui-textBreakAll eui-textBreakWord"';
}
%>
<td <%= attributes %> data-test-subj="docTableField">
  <%= formatted %>
  <span class="kbnDocTableCell__filter">
    <% if (filterable) { %>
      <button
        ng-click="inlineFilter($event, '+')"
        class="fa fa-search-plus kbnDocTableRowFilterButton"
        data-column="<%- column %>"
        tooltip-append-to-body="1"
        data-test-subj="docTableCellFilter"
        tooltip="{{ ::'kbn.docTable.tableRow.filterForValueButtonTooltip' | i18n: {defaultMessage: 'Filter for value'} }}"
        tooltip-placement="bottom"
        aria-label="{{ ::'kbn.docTable.tableRow.filterForValueButtonAriaLabel' | i18n: {defaultMessage: 'Filter for value'} }}"
      ></button>
      <button
        ng-click="inlineFilter($event, '-')"
        class="fa fa-search-minus kbnDocTableRowFilterButton"
        data-column="<%- column %>"
        data-test-subj="docTableCellFilterNegate"
        tooltip="{{ ::'kbn.docTable.tableRow.filterOutValueButtonTooltip' | i18n: {defaultMessage: 'Filter out value'} }}"
        aria-label="{{ ::'kbn.docTable.tableRow.filterOutValueButtonAriaLabel' | i18n: {defaultMessage: 'Filter out value'} }}"
        tooltip-append-to-body="1"
        tooltip-placement="bottom"
      ></button>
    <% } %>
  </span>
</td>
