.kuiBadge {
  font-size: $kuiSizeM;
  line-height: $kuiSizeL;
  display: inline-block;
  text-decoration: none;
  border: solid 1px transparent;
  border-radius: $kuiSizeL;
  padding: 0 $kuiSizeM;
  background-color: transparent;
  white-space: nowrap;
  vertical-align: middle;

  .kuiBadge__content {
    display: flex;
    align-items: center;
  }

  .kuiBadge__icon {
    margin-right: $kuiSizeXS;
  }

  &.kuiBadge--iconRight .kuiBadge__content {
    flex-direction: row-reverse;

    .kuiBadge__icon {
      margin-left: $kuiSizeXS;
      margin-right: 0;
    }
  }
}


// Modifier naming and colors.
$badgeTypes: (
  default: (
    textColor: darken($kuiColorLightShade, 60%),
    backgroundColor: transparentize($kuiColorLightShade, 0.6)
  ),
  primary: (
    textColor: darken($kuiColorPrimary, 10%),
    backgroundColor: transparentize($kuiColorPrimary, 0.9)
  ),
  secondary: (
    textColor: darken($kuiColorSecondary, 10%),
    backgroundColor: transparentize($kuiColorSecondary, 0.9)
  ),
  warning: (
    textColor: darken($kuiColorWarning, 20%),
    backgroundColor: transparentize($kuiColorWarning, 0.85)
  ),
  danger: (
    textColor: $kuiColorDanger,
    backgroundColor: transparentize($kuiColorDanger, 0.9)
  ),
  accent: (
    textColor: darken($kuiColorAccent, 5%),
    backgroundColor: transparentize($kuiColorAccent, 0.9)
  ),
);

@each $name, $color in $badgeTypes {
  $textColor: map-get($color, textColor);
  $backgroundColor: map-get($color, backgroundColor);

  .kuiBadge--#{$name} {
    color: $textColor;
    background-color: $backgroundColor;
    border-color: transparentize($textColor, 0.8);

    svg {
      fill: $textColor;
    }
  }
}
