.kuiBadge {
  font-size: $kuiSizeM;
  line-height: $kuiSizeL;
  display: inline-block;
  text-decoration: none;
  border: solid 1px transparent;
  border-radius: $kuiSizeL;
  padding: 0 $kuiSizeS;
  background-color: transparent;
  white-space: nowrap;
  vertical-align: middle;

  .kuiBadge__content {
    display: flex;
    align-items: center;
  }

  .kuiBadge__icon {
    margin-right: $kuiSizeXS;
  }

  &.kuiBadge--iconRight .kuiBadge__content {
    flex-direction: row-reverse;

    .kuiBadge__icon {
      margin-left: $kuiSizeXS;
      margin-right: 0;
    }
  }
}


// Modifier naming and colors.
$badgeTypes: (
  default: $kuiColorLightShade,
  primary: $kuiColorPrimary,
  secondary: $kuiColorSecondary,
  warning: $kuiColorWarning,
  danger: $kuiColorDanger,
  accent: $kuiColorAccent
);

@each $name, $color in $badgeTypes {
  .kuiBadge--#{$name} {
    border-color: $color;
    background-color: transparentize($color, .9);
  }
}
