<form name="absoluteTime" ng-submit="applyAbsolute()">
  <div class="kbn-timepicker-body">
    <div class="kbn-timepicker-section kbn-timepicker-body-column">
      <div class="kuiLocalDropdownHeader kbn-timepicker-form-header">
        <label class="kuiLocalDropdownHeader__label"
          i18n-id="common.ui.timepicker.from"
          i18n-default-message="From"
        >
        </label>

        <div class="kuiLocalDropdownHeader__actions">
          <a
            class="kuiLocalDropdownHeader__action"
            ng-click="setToNow({key:'from'})"
            kbn-accessible-click
          >
            <span
              i18n-id="common.ui.timepicker.setToNow"
              i18n-default-message="Set To Now"
            ></span>
          </a>
        </div>
      </div>

      <input
        type="text"
        required
        class="kuiTextInput fullWidth"
        input-datetime="{{format}}"
        ng-model="absolute.from"
      >
      <div ng-show="!absolute.from">
        <em
          i18n-id="common.ui.timepicker.invalidDate"
          i18n-default-message="Invalid Date"
        >
        </em>
      </div>

      <div>
        <datepicker ng-model="pickFromDate" ng-model-options="{ getterSetter: true }" max-date="pickToDate()" show-weeks="false"></datepicker>
      </div>
    </div>

    <div class="kbn-timepicker-section kbn-timepicker-body-column">
      <div class="kuiLocalDropdownHeader kbn-timepicker-form-header">
        <label class="kuiLocalDropdownHeader__label"
          i18n-id="common.ui.timepicker.to"
          i18n-default-message="To"
        >
        </label>

        <div class="kuiLocalDropdownHeader__actions">
          <a
            class="kuiLocalDropdownHeader__action"
            ng-click="setToNow({key:'to'})"
            kbn-accessible-click
          >
            <span
              i18n-id="common.ui.timepicker.setToNow"
              i18n-default-message="Set To Now"
            ></span>
          </a>
        </div>
      </div>

      <span ng-show="!absolute.to">
        <em
          i18n-id="common.ui.timepicker.invalidDate"
          i18n-default-message="Invalid Date"
        >
        </em>
      </span>
      <input
        type="text"
        required
        class="kuiTextInput fullWidth"
        input-datetime="{{format}}"
        ng-model="absolute.to"
      >

      <div>
        <datepicker ng-model="pickToDate" ng-model-options="{ getterSetter: true }" min-date="pickFromDate()" show-weeks="false"></datepicker>
      </div>
    </div>
  </div>

  <div class="kbn-timepicker-actions kuiVerticalRhythm">
    <span
      class="kbn-timepicker-action-item kbn-timepicker-error"
      ng-show="absolute.from > absolute.to"
      i18n-id="common.ui.timepicker.fromToError"
      i18n-default-message="{strongStr}From{strongEnd} must occur before {strongStr}To{strongEnd}"
      i18n-values="{
        html_strongStr: '<strong>',
        html_strongEnd: '</strong>'
      }"
    >
    </span>
    <button
      type="submit"
      class="kuiButton kuiButton--primary kbn-timepicker-submit-button"
      ng-disabled="absolute.from > absolute.to || !absolute.from || !absolute.to"
      data-test-subj="timepickerGoButton"
      i18n-id="common.ui.timepicker.go"
      i18n-default-message="Go"
    >
    </button>
  </div>
</form>
