.kuiFormSwitch {
  position: relative;
  display: inline-block;
  height: $kuiFormSwitchHeight;
  cursor: pointer;

  /**
   * 1. The label is our main clickable area. It sits above the actual switch.
   */
  .kuiFormSwitch__label {
    position: absolute;
    left: 0;
    padding-left: $kuiFormSwitchWidth + $kuiSizeS; // 1
    z-index: 2; // 1
    line-height: $kuiFormSwitchHeight;
    font-weight: $kuiFontWeightRegular;
  }

  /**
   * 1. The input is "hidden" but still focusable.
   */
  .kuiFormSwitch__input {
    position: absolute;
    opacity: 0; // 1
    z-index: -1; // 1
  }

  .kuiFormSwitch__input:focus + .kuiFormSwitch__body {
    background: $kuiColorEmptyShade;

    .kuiFormSwitch__thumb {
      border-color: $kuiColorPrimary;
      background-color: $kuiColorPrimary;
    }
  }

  .kuiFormSwitch__body {
    width: $kuiFormSwitchWidth;
    height: $kuiFormSwitchHeight;
    background: $kuiFormBackgroundColor;
    border: $kuiBorderThin;
    display: inline-block;
    position: relative;
    border-radius: $kuiFormSwitchHeight;
    vertical-align: middle;
  }

  /**
   * 1. Accounts for the border on the body.
   */
  .kuiFormSwitch__thumb {
    position: absolute;
    width: $kuiFormSwitchHeight;
    height: $kuiFormSwitchHeight;
    display: inline-block;
    background-color: $kuiColorEmptyShade;
    left: $kuiFormSwitchWidth - $kuiFormSwitchThumbSize;
    top: -1px; // 1
    border-radius: 50%;
    border: $kuiBorderThin;
    transition: border-color $kuiAnimSpeedNormal $kuiAnimSlightBounce, background-color $kuiAnimSpeedNormal $kuiAnimSlightBounce, left $kuiAnimSpeedNormal $kuiAnimSlightBounce, transform $kuiAnimSpeedNormal $kuiAnimSlightBounce;
    z-index: 1;
  }

  .kuiFormSwitch__track {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: $kuiFormSwitchHeight;
  }

  /**
   * 1. Mask is used to color the svg. Text color is used so works regardless of theme.
   */
  .kuiFormSwitch__icon {
    position: absolute;
    right: -($kuiFormSwitchWidth - ($kuiFormSwitchThumbSize / 2));
    top: 0;
    bottom: 0;
    width: $kuiFormSwitchWidth - ($kuiFormSwitchThumbSize / 2) + $kuiSizeS;
    transition: left $kuiAnimSpeedNormal $kuiAnimSlightBounce, right $kuiAnimSpeedNormal $kuiAnimSlightBounce;
    mask: url('../src/components/icon/assets/cross.svg') center center no-repeat; // 1
    background-color: $kuiTextColor; // 1
  }

  .kuiFormSwitch__icon--checked {
    right: auto;
    left: -$kuiSizeS;
    background-color: $kuiTextColor;
    mask: url('../src/components/icon/assets/check.svg') center center no-repeat;
  }

  /**
   * The thumb is slightly scaled when in use.
   */
  &:hover {
    .kuiFormSwitch__thumb {
      transform: scale(1.05);
    }
  }

  &:active {
    .kuiFormSwitch__thumb {
      transform: scale(.95);
    }
  }

  /**
   * When input is not checked, we shift around the positioning of sibling/child selectors.
   */
  .kuiFormSwitch__input:not(:checked) ~ .kuiFormSwitch__body {

    .kuiFormSwitch__thumb {
      left: -1px;
    }

    .kuiFormSwitch__icon {
      right: -$kuiSizeS;

      &.kuiFormSwitch__icon--checked {
        right: auto;
        left: -($kuiFormSwitchWidth - ($kuiFormSwitchThumbSize / 2));
      }
    }
  }
}
