<!DOCTYPE html>
  <!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Kibana 4</title>
    <!-- load the root require context -->
    <script src="bower_components/d3/d3.js"></script>

    <script src="bower_components/requirejs/require.js"></script>

    <script src="kibana/require.config.js"></script>
    <script>require(['kibana'], function () {});</script>
    <link rel="stylesheet" href="kibana/styles/main.css" >
  </head>
  <body ng-controller="kibana" ng-class="'application-'+activeApp">
    <kbn-notifications list="notifList"></kbn-notifications>
    <div class="content" style="display: none;">
      <nav bindonce class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li ng-repeat="app in apps" ng-class="{active: activeApp == app.id}">
              <a ng-href="#{{app.lastPath}}" bo-text="app.name"></a>
            </li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li ng-show="httpActive.length"><a href="#"><i class="fa fa-spinner fa-spin loading-spinner"></i></a></li>
            <li ng-show="opts.timefilter.enabled()">
              <a class="navbar-link" ng-click="toggleTimepicker()">
                <span class="small">{{opts.timefilter.time.from | moment}} to {{opts.timefilter.time.to | moment}}</span>
                <i class="fa fa-clock-o"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <config
        config-template="globalConfigTemplate" config-object="opts">
      </config>
      <div class="application" ng-view></div>
    </div>
  </body>
</html>
