@import '@elastic/eui/src/components/form/variables';

.kbnSavedQueryManagement__popover {
  max-width: $euiFormMaxWidth;
}
.kbnSavedQueryManagement__listWrapper {
  max-height: $euiSizeXXL * 5;
  overflow-y: hidden;
}

.kbnSavedQueryManagement__text {
  padding: $euiSizeM $euiSizeM 0 $euiSizeM;
}

.kbnSavedQueryManagement__list {
  @include euiYScrollWithShadows;
  padding: $euiSizeM;
}

.kbnSavedQueryManagement__list li:first-child .saved-query-list-item-text {
  font-weight: $euiFontWeightBold;
}

