.tvbSplitVis {
  width: 100%;
  display: flex;
  // Allow wrapping beyond 4 in a row
  flex-wrap: wrap;
  // Space out each vis instead of clumping in the center to utilize more hoizontal space
  justify-content: space-around;
  // Stretch the all the heights so that prior to wrapping the vis' take up the full panel height
  align-items: stretch;
}

.tvbSplitVis__split {
  // This maintains that each vis will be at least 1/4 of the panel's width
  // but it will also grow to fill the space if there are less than 4 in a row
  flex: 1 0 25%;
  // Ensure a minimum width is acheived on smaller width panels
  min-width: $euiSize * 12;
  display: flex;

  > .tvbVis {
    // Apply the minimum height on the vis itself so it doesn't interfere with flex calculations
    // Gauges are not completely square, so the height is just slightly less than the width
    min-height: calc($euiSize * 12 / 1.25);
  }
}

// When there is only one visualization, expand the full height and remove all minimum sizes
.tvbSplitVis--one {
  flex: 1;

  .tvbSplitVis__split {
    min-width: 0;

    > .tvbVis {
      min-height: 0;
    }
  }
}
