/**
 * 1. Breadcrumbs are placed in the top-left corner and need to be bumped over
 *    a bit.
 */
.kuiLocalBreadcrumbs {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: $localNavSideSpacing; /* 1 */
}

.kuiLocalBreadcrumb {
  & + & {
    margin-left: 6px;

    &:before {
      content: '/';
      user-select: none;
      margin-right: 4px;
      color: $localNavBreadcrumbDelimiterColor;

      @include darkTheme {
        color: $localNavBreadcrumbDelimiterColor--darkTheme;
      }
    }
  }
}

.kuiLocalBreadcrumb__link {
  font-size: $globalFontSize;
  color: $localBreadcrumbLinkColor;
  text-decoration: none;

  &:hover {
    color: $localBreadcrumbLinkColor;
    text-decoration: underline;
  }

  @include darkTheme {
    color: $globalLinkColor--darkTheme;

    &:hover {
      color: $globalLinkColor--darkTheme;
    }
  }
}

.kuiLocalBreadcrumb__emphasis {
  font-weight: $globalFontWeightBold;
}
