/**
 * 1. Breadcrumbs are placed in the top-left corner and need to be bumped over
 *    a bit.
 */
.kuiLocalBreadcrumbs {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: $localNavSideSpacing; /* 1 */
}

.kuiLocalBreadcrumb {
  font-size: 14px;
  margin: 0;
  font-weight: normal;

  & + & {
    margin-left: 6px;

    &:before {
      content: '/';
      user-select: none;
      margin-right: 4px;
      color: $localNavBreadcrumbDelimiterColor;

      @include darkTheme {
        color: $localNavBreadcrumbDelimiterColor--darkTheme;
      }
    }
  }
}

/**
 * 1. Make it a bit darker to contrast with the gray background.
 */
.kuiLocalBreadcrumb__link {
  @include link;
  color: $localBreadcrumbLinkColor; /* 1 */
  font-size: $globalFontSize;
}

.kuiLocalBreadcrumb__emphasis {
  font-weight: $globalFontWeightBold;
}
