
/**
 * 1. Breadcrumbs are placed in the top-left corner and need to be bumped over
 *    a bit.
 */
.kuiLocalBreadcrumbs {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: $localNavSideSpacing; /* 1 */
}

  .kuiLocalBreadcrumb {
    & + & {
      margin-left: 6px;

      &:before {
        content: '/';
        user-select: none;
        margin-right: 4px;
        color: $localNavBreadcrumbDelimiterColor;

        @include darkTheme {
          color: $localNavBreadcrumbDelimiterColor--darkTheme;
        }
      }
    }

    &:last-child {
      .kuiLocalBreadcrumb__link {
        color: $localNavTextColor;
        cursor: default;

        &:hover {
          text-decoration: none;
        }

        @include darkTheme {
          color: $localNavTextColor--darkTheme;
        }
      }
    }
  }

    .kuiLocalBreadcrumb__link {
      font-size: $localNavFontSizeNormal;
      color: #5a5a5a;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      @include darkTheme {
        color: $localNavButtonTextColor--darkTheme;
      }
    }

    .kuiLocalBreadcrumb__emphasis {
      font-weight: 700;
    }
