.kuiLocalSearch {
  display: flex;
  width: 100%;
}

.kuiLocalSearchInput {
  @include formControl;
  flex: 1 1 100%;
  border-color: $localSearchBackgroundColor;
  border-top-color: $localSearchBackgroundColor;
  border-bottom-color: $localSearchBackgroundColor;
  border-radius: $globalBorderRadius 0 0 $globalBorderRadius;

  &.kuiLocalSearchInput-isInvalid {
    border-color: $localSearchBorderColor-isInvalid;
  }
}

.kuiLocalSearchInput--secondary {
  height: $localSearchHeight;
  flex: 0 0 auto;
  border-radius: 0;
  border-left-color: $globalFormControlBorderColor;

  @include darkTheme {
    border-left-color: $localNavBackgroundColor--darkTheme;
    border-right-color: $localNavBackgroundColor--darkTheme;
  }
}

.kuiLocalSearchAssistedInput {
  display: flex;
  flex: 1 1 100%;
  position: relative;
}

  /**
   * 1. Vertically center the assistance, regardless of its height.
   */
  .kuiLocalSearchAssistedInput__assistance {
    position: absolute;
    right: $globalFormControlHorizontalPadding;
    top: 50%; /* 1 */
    transform: translateY(-50%); /* 1 */
  }

.kuiLocalSearchSelect {
  @include select;

  border-color: $localSearchBackgroundColor;
  border-left-color: $globalFormControlBorderColor;
  border-radius: 0;
}

/**
 * 1. When it expands, the search input should lie on top of the content.
 * 2. Expand as the user enters text.
 * 3. Prevent the search input from running off the bottom of the screen and becoming inaccessible.
 * 4. When the input is collapsed, we want text input to be truncated with an ellipsis.
 */
.kuiLocalSearchInput--expandable {
  height: $localSearchHeight;
  line-height: $globalLineHeight;
  word-break: break-all; /* 4 */
  white-space: nowrap; /* 4 */
  overflow: hidden; /* 4 */
  text-overflow: ellipsis; /* 4 */

  &:focus {
    z-index: 1; /* 1 */
    height: auto; /* 2 */
    max-height: calc(100vh - 200px); /* 3 */
    white-space: normal;
    overflow: auto; /* 3 */
    box-shadow: 0 5px 22px rgba(#000000, 0.25); /* 1 */
  }

  p {
    margin: 0;
    font-size: inherit;
    line-height: inherit;
  }
}

/**
 * 1. Override inherited styles.
 */
.kuiLocalSearchButton {
  width: 43px;
  height: $localSearchHeight;
  font-size: $globalFontSize;
  line-height: 0; /* 1 */
  color: $localSearchButtonTextColor;
  background-color: $localSearchButtonBackgroundColor;
  border: 0;
  border-radius: 0 $globalBorderRadius $globalBorderRadius 0;

  &:focus {
    @include focus($globalFocusColor, $globalBorderColor);
  }

  @include darkTheme {
    color: $localSearchButtonTextColor--darkTheme;
    background-color: $localSearchButtonBackgroundColor--darkTheme;

    &:focus {
      @include focus($globalFocusColor, $localNavBackgroundColor--darkTheme);
    }
  }
}
