.canvas__workpad {
  position: relative;
}

.canvas__grid {
  position: absolute;
  user-select: none;
  pointer-events: none;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  background-size: 50px 50px;
}
