.canvas__workpad {
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
  position: relative;

  &.fullscreen {
    overflow: hidden;
  }
}

// For some bizarre reason, you must repeat the styles in their own blocks or they won’t be applied
// https://www.sitepoint.com/html5-full-screen-api/
// #canvas--fullscreen:-moz-full-screen {
#canvas--fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
}
