.kuiTabs {
  display: flex;
  border-bottom: $tableBorder;
}

  /**
   * 1. Override button styles (some of which are from Bootstrap).
   * 2. Adding a border shifts tabs right by 1px, so we need to shift them back.
   * 3. Move the tab down so that its bottom border covers the container's bottom border.
   * 4. When the tab is focused, its bottom border changes to be 1px, so we need to add 1px more
   *    of padding to make sure the text doesn't shift down.
   */
  .kuiTab {
    appearance: none; /* 1 */
    cursor: pointer;
    padding: 10px 30px;
    font-size: 14px;
    color: $subduedFontColor;
    background-color: #ffffff; /* 1 */
    border: 1px solid $standoutBackgroundColor;
    border-bottom-width: 2px;
    border-radius: 0; /* 1 */
    margin-bottom: -2px; /* 3 */

    & + & {
      border-left: none;

      &:focus {
        margin-left: -1px; /* 2 */
      }
    }

    &:focus {
      color: $linkColor;
      z-index: 1;
      outline: none; /* 1 */
      border: 1px solid $selectedBorderColor !important;
      padding-bottom: 11px; /* 4 */
    }

    &:hover:not(.kuiTab-isSelected) {
      color: $linkHoverColor;
      background-color: #F2F2F2;
    }

    &.kuiTab-isSelected {
      cursor: default;
      color: $fontColor;
      border-bottom-color: #FFFFFF;
    }
  }
