.kuiTabs {
  display: flex;
  border-bottom: $tableBorder;
}

  /**
   * 1. Override button styles (some of which are from Bootstrap).
   * 2. Adding a border shifts tabs right by 1px, so we need to shift them back.
   */
  .kuiTab {
    appearance: none; /* 1 */
    cursor: pointer;
    padding: 10px 30px;
    font-size: 14px;
    color: $subduedFontColor;
    background-color: #ffffff; /* 1 */
    border: 1px solid $standoutBackgroundColor;
    border-bottom-color: transparent;
    border-radius: 0; /* 1 */

    & + & {
      border-left: none;

      &:focus {
        margin-left: -1px; /* 2 */
      }
    }

    &:focus {
      color: $linkColor;
      z-index: 1;
      outline: none; /* 1 */
      border: 1px solid $selectedBorderColor !important;
    }

    &:hover:not(.kuiTab-isSelected) {
      color: $linkHoverColor;
    }

    &:active {
      outline: none;
      border-color: #ffffff;
      box-shadow: none; /* 1 */
      color: $linkColor !important;
    }

    &.kuiTab-isSelected {
      color: $fontColor;
      background-color: #F2F2F2;
      cursor: default;
    }
  }
