$kuiRangeTrackColor: $kuiColorLightShade !default;
$kuiRangeThumbColor: $kuiColorEmptyShade !default;

$kuiRangeThumbRadius: 50% !default;
$kuiRangeThumbHeight: $kuiSize !default;
$kuiRangeThumbWidth: $kuiSize !default;
$kuiRangeBorderWidth: 2px !default;
$kuiRangeBorderColor: $kuiTextColor !default;

$kuiRangeTrackWidth: 100% !default;
$kuiRangeTrackHeight: 2px !default;
$kuiRangeTrackBorderWidth: 0 !default;
$kuiRangeTrackBorderColor: $kuiColorLightShade !default;
$kuiRangeTrackRadius: $kuiBorderRadius !default;

@mixin track {
  cursor: pointer;
  height: $kuiRangeTrackHeight;
  transition: all $kuiAnimSpeedNormal ease-in;
  width: $kuiRangeTrackWidth;
}

@mixin thumb {
  background: $kuiRangeThumbColor;
  border: $kuiRangeBorderWidth solid $kuiRangeBorderColor;
  border-radius: $kuiRangeThumbRadius;
  cursor: pointer;
  height: $kuiRangeThumbHeight;
  width: $kuiRangeThumbWidth;
}

@import 'range';
