<div class="kuiSideBar" style="height: 600px; width: 350px">
  <div style="background-color: white; height: 60px; width: 100%; padding: 10px">
    Controls could go here
  </div>

  <div class="kuiSideBarContent">
    <div style="background-color: pink; height: 300px; width: 100%; margin-bottom: 20px"></div>
    <div style="background-color: pink; height: 300px; width: 100%; margin-bottom: 20px"></div>
    <div style="background-color: pink; height: 300px; width: 100%"></div>
  </div>

  <div class="kuiSideBarControls">
    <div class="kuiButtonGroup kuiButtonGroup--fullWidth">
      <button class="kuiButton kuiButton--basic">
        <span class="kuiButton__inner">
          <span>Reset</span>
        </span>
      </button>
      <button class="kuiButton kuiButton--primary">
        <span class="kuiButton__inner">
          <span>Submit</span>
        </span>
      </button>
    </div>
  </div>
</div>
