.kuiTabs {
  display: flex;
  border-bottom: $kuiBorderThin;
}

/**
 * 1. Move the tab down so that its bottom stripe will cover the container's bottom border.
 */
.kuiTab {
  @include kuiFontSize;

  position: relative;
  cursor: pointer;
  padding: $kuiSizeS $kuiSize;
  color: $kuiColorDarkShade;
  margin-bottom: -$kuiBorderWidthThin; /* 1 */
  overflow: hidden;
  transition: color $kuiAnimSpeedFast;

  &:after {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(0);
    content: ' ';
    width: 100%;
    height: $kuiBorderWidthThick;
    background-color: $kuiColorSecondary;
    transition: transform $kuiAnimSpeedFast $kuiAnimSlightBounce;
  }

  &.kuiTab-isSelected {
    cursor: default;
    color: $kuiTitleColor;

    &:after {
      transform: translateY(-100%); /* 1 */
    }
  }
}
