<div bindonce ng-controller="indexSettings">
  <div class="col-md-2 sidebar-container">
    <div class="sidebar-list">
      <div class="sidebar-list-header">
        <h5>Index Patterns <a ng-show="indexPattern.id" href="#/settings/indices" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> Add New</a></h5>
      </div>
      <ul class="list-unstyled">
        <li class="sidebar-item" ng-repeat="pattern in defaultPattern = (indexPatternIds | filter:defaultIndex)">
          <a ng-href="#/settings/indices/{{pattern}}">
            <div class="sidebar-item-title" ng-class="{'active': pattern == indexPattern.id}">
              <i class="fa fa-star"></i> <span bo-text="pattern"></span>
            </div>
          </a>
        </li>
        <li class="sidebar-item" ng-if="!defaultPattern.length">
          <div class="sidebar-item-title full-title">
              <strong>Warning:</strong> No default index pattern. You must select or create one to continue.
          </div>
        </li>
        <li class="sidebar-item" ng-repeat="pattern in indexPatternIds | filter:'!'+defaultIndex">
          <a ng-href="#/settings/indices/{{pattern}}">
            <div class="sidebar-item-title" ng-class="{'active': pattern == indexPattern.id}">
              <span bo-text="pattern"></span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-10">

    <div class="container-fluid">

      <div ng-if="!indexPattern.id">
        <div class="col-md-12">
          <div class="page-header">
            <h1>Configure an index pattern</h1>
            In order to use Kibana you must configure at least one index pattern. Index patterns are
            used to identify the Elasticsearch index to run search and analytics against. They are also
            used to configure fields.
          </div>
          <form name="form" role="form" class="well" ng-submit="create()">
            <div class="form-group">
              <label>Index Name <small>or pattern</small></label>
              <input type="text" class="form-control" placeholder="Enter index name"
                ng-model="indexPattern.title" required>
            </div>
            <button type="submit" class="btn btn-primary"
              ng-disabled="form.$invalid">Create</button>
          </form>
        </div>
      </div>

      <div ng-if="indexPattern.id">
        <div class="col-md-12">
          <div class="page-header">
            <h1>
              {{indexPattern.id}}
              <button
                ng-click="setDefaultPattern()"
                tooltip="Set as default index"
                class="btn btn-success">
                <i class="fa fa-star"></i>
              </button>
              <button
                ng-click="indexPattern.refreshFields()"
                tooltip="Refresh field list"
                class="btn btn-warning">
                <i class="fa fa-refresh"></i>
              </button>
              <button
                ng-click="removePattern()"
                tooltip="Remove index pattern"
                class="btn btn-danger">
                <i class="fa fa-ban"></i>
              </button>

            </h1>
            This page lists every field in the <strong>{{indexPattern.id}}</strong> index and the field's
            associated core type as recorded by Elasticsearch
          </div>

          <div ng-hide="tablePages() == 1">
            <center>
              <button class="btn btn-sm" ng-disabled="table.page == 0" ng-click="table.page=table.page-1">
                Previous
              </button>
              {{table.page+1}}/{{tablePages()}}
              <button class="btn btn-sm" ng-disabled="table.page >= indexPattern.fields.length/table.max - 1" ng-click="table.page=table.page+1">
                Next
              </button>
            </center>
          </div>

          <table class="table">
            <thead>
              <th ng-click="setFieldSort('name')">name <i ng-class="sortClass('name')"></i></th>
              <th ng-click="setFieldSort('type')">type <i ng-class="sortClass('type')"></i></th>
            </thead>
            <tr ng-repeat="field in indexPattern.fields | orderBy:table.by:table.reverse | startFrom:table.page*table.max | limitTo:table.max">
              <td bo-text="field.name"></td>
              <td bo-text="field.type"></td>
            </tr>
          </table>
        </div>
      </div>

    </div>

  </div>
</div>