<div>
  <div class="col-md-2 sidebar-container">
    <div class="sidebar-list">
      <div class="sidebar-list-header">
        <h5>Index Patterns</h5>
      </div>
      <ul bindonce class="list-unstyled">
        <li bindonce class="sidebar-item">
          <div ng-click="loadIndex(field)" class="sidebar-item-title">
            <span field-name="field.name" field-type="field.type"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-10">

    <div class="container-fluid">
      <div class="page-header">
        <h1>Configure an index pattern</h1>
      </div>
      <div class="col-md-6 well">

        <div ng-show="indices.view == 'addPattern'">
          <form name="form" role="form">
            <div class="form-group">
              <label>Index Name <small>or pattern</small></label>
              <input type="text" class="form-control" placeholder="Enter index name"
                ng-model="indices.newIndex.pattern" required>
            </div>
            <button type="submit" class="btn btn-primary"
              ng-disabled="form.$invalid"
              ng-click="addPattern(indices.newIndex.pattern)">Create</button>
          </form>
        </div>

      </div>
    </div>

  </div>
</div>