.sharing-ui-menu__List {
  display: block;
  margin: 0;
  padding: 0;
}

.sharing-ui-menu__ListWrapper,
.sharing-ui-menu__SharePanel {
  display: inline-block;
  vertical-align: top;
}
.sharing-ui-menu__ListWrapper {
  text-align: center;
}
.sharing-ui-menu__SharePanel {
  padding: 10px;
  width: ~"calc(100% - 150px)";
}

.sharing-ui-menu__Item {
  display: inline-block;
  text-align: center;
  padding: 10px;
}

.sharing-ui-menu__Icon {
  display: block;
  font-size: 28px;
}

.sharing-ui-menu__Label {
  white-space: normal;
}

.sharing-ui-menu__Close {
  padding: 10px;
}
