doctype html
html
  head
    title Kibana4 Tests
    link(rel="stylesheet", href='/node_modules/mocha/mocha.css')
  body
    #mocha
    script(src='/node_modules/expect.js/expect.js')
    script(src='/node_modules/mocha/mocha.js')
    script(src='/src/bower_components/requirejs/require.js')
    script(src='/src/kibana/require.config.js')
    script(type="text/javascript").
      window.COVERAGE = !!(/coverage/i.test(window.location.search));
      mocha.setup('bdd');

      require.config({
        baseUrl: '/src/kibana',
        paths: {
          testUtils: '../../test/utils',
          sinon: '../../test/utils/sinon'
        },
        shim: {
          'sinon/sinon': {
            deps: [
              'sinon/sinon-timers-1.8.2'
            ],
            exports: 'sinon'
          }
        },
        // mark all requested files with instrument query param
        urlArgs: COVERAGE ? 'instrument=true' : void 0
      });

      function setupCoverage(done) {
        document.title = document.title.replace('Tests', 'Coverage');
        require([
          'testUtils/istanbul_reporter/reporter'
        ], function (IstanbulReporter) {
          mocha.reporter(IstanbulReporter);
          done();
        });
      }

      function runTests() {
        require(!{JSON.stringify(tests)}, function () {
          window.mochaRunner = mocha.run().on('end', function () {
            window.mochaResults = this.stats;
          });
        });
      }

      if (COVERAGE) {
        setupCoverage(runTests);
      } else {
        runTests();
      }
