@import (reference) "../../../styles/main.less";

/* _tilemap */

.tilemap {
  margin-bottom: 6px;
  border: 1px solid #DDD;
  position: relative;
}

/* leaflet Dom Util div for map label */

.tilemap-legend {
  padding: 5px 7px 5px 7px;
  margin: 0;
  font: 11px/13px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.92);
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
  border-radius: 5px;
  text-align: left;
  line-height: 15px;
  color: #666;
}

.tilemap-legend i {
  width: 10px;
  height: 10px;
  float: left;
  margin: 2px 4px 0 0;
  opacity: 1;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #999;
  background: #aaa;
}


/* leaflet Dom Util div for map legend */

.tilemap-info {
  padding: 3px 7px 3px 7px;
  margin: 0;
  font-size: 12px;
  background: white;
  background: rgba(255,255,255,0.92);
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
  border-radius: 5px;
}

.tilemap-info h2 {
  font-size: 12px !important;
  margin: 0 !important;
  padding: 0;
  color: #444;
}

.leaflet-control-fit {
  text-align: center;
  background: #fff;
  width: 26px;
  height: 26px;
  outline: 1px black;
}

/* over-rides leaflet popup styles to look like kibana tooltip */

.leaflet-container {
  background: #fff !important;
  outline: 0 !important;
}

.leaflet-popup-content-wrapper {
  margin: 0;
  padding: 0;
}

.leaflet-popup {
  margin-bottom: 16px !important;
}

.leaflet-popup-content-wrapper {
  background: rgba(70, 82, 93, 0.95) !important;
  color: @gray-lighter !important;
  border-radius: 4px !important;
  padding: 0 !important;
}

.leaflet-popup-content {
  padding: 8px !important;
  margin: 0 !important;
  line-height: 14px !important;
}

.leaflet-popup-tip-container, .leaflet-popup-close-button {
  display: none !important;
}

.leaflet-control-layers-expanded {
  padding: 0;
  margin: 0;
  font: 12px/13px Arial, Helvetica, sans-serif;
  line-height: 14px !important;
}

.leaflet-control-layers-expanded label {
  font-weight: normal !important;
  margin: 0 !important;
  padding: 0 !important;
}
