@import (reference) "../../../styles/main.less";
@import (reference) "lesshat.less";

/* vislib styles */
.arc path {
  stroke: #fff;
}

div.columns {
  .display(flex);
  .flex-direction(row);
  .flex(1 1 100%);
  margin: 0;
  padding: 0;
}

div.rows {
  .display(flex);
  .flex-direction(column);
  .flex(1 1 100%);
  margin: 0;
  padding: 0;
}

.row-labels, .column-labels {
  margin: 0;
  padding: 10;
}

visualize {
  margin:0;
  padding:0;
}

.visualize-chart {
  .display(flex);
  .flex(1 1 100%);
}

.visualize-wrapper {
  .display(flex);
  .flex-direction(row);
}

.y-axis-wrapper {
  .display(flex);
  .flex(1 1);
  .flex-direction(column);
}

.y-axis-filler-div {
  .flex(1 1);
}

div.x-axis-label {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 15px;
  font-size: 7pt;
  color: #848e96;
}

div.y-axis-label {
  position: absolute;
  left: -25px;
  top: 42.5%;
  font-size: 7pt;
  color: #848e96;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

/*  legend  */
.legend-col-wrapper {
  .flex(0 1 auto);
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 40px;
}

.header {
  width: 100%;
  height: 26px;
  margin: 0 0 14px 0;
}

.legend {
  width: 100%;
  height: 26px;
  margin: 0 0 14px 0;
}

.legend-ul {
  list-style-type: none;
  margin: 0 0 0 14px;
  padding: 0;
  visibility: visible;
  .display(flex);
  .flex-direction(column);
}

.legend-ul.hidden {
  visibility: hidden;
}

li.color {
  min-height: 22px;
  margin: 0 18px 0 18px;
  padding: 3px 0 3px 0;
  text-align: left;
  font-size: 12px;
  line-height: 13px;
  color: #666;
  cursor: default;
  text-align: left;
  .flex-grow(2);
  word-wrap: break-word;
  max-width: 150px;
}
.wordwrap {
  word-wrap: break-word;
  max-width: 150px;
}

.dots {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: left;
  margin: 1px 0 0 -14px;
}

.legend-toggle {
  position: relative;
  float: right;
  right: 9px;
  top: 9px;
}

.column-labels {
  color: #777;
  font-size: 10pt;
  font-weight: normal;
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 1.0em;
  line-height: 2.0em;
}

/*  histogram axis and label styles  */
.vis-canvas {
}

.chart-bkgd {
  fill: #ffffff;
}

p.rows-label, p.columns-label {
  display: block;
  background: #eff3f4;
  padding: 0;
  margin: 0;
  font-size: 9pt;
  fill: #46525d;
  text-align: center;
  line-height: 1.9em;
}

.charts-label {
  font-size: 8pt;
  fill: #848e96;
}

.x-axis-label, .y-axis-label {
  font-size: 7pt;
  fill: #848e96;
}

.tick text {
  font-size: 7pt;
  fill: #848e96;
}

.axis {
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.axis line, .axis path {
  stroke: #ddd;
  fill: none;
  shape-rendering: crispEdges;
}

.legend-box {
  fill: #ffffff;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.layer .rect:hover {
  stroke: 3px;
}

.vis-tooltip {
  visibility: hidden;
  line-height: 1.1;
  font-size: 12px;
  font-weight: normal;
  padding: 8px;
  background: rgba(70, 82, 93, 0.95);
  color: @gray-lighter;
  border-radius: 4px;
  position: fixed;
  z-index: 120;
  word-wrap: break-word;
  max-width: 40%;

  table {
    td,th {
      padding: 2px 4px;
    }

    // if there is a header, give it a border that matches
    // those in the body
    thead tr {
      border-bottom: 1px solid @gray;
    }

    // only apply to tr in the body, not the header
    tbody tr {
      border-top: 1px solid @gray;
      &:first-child {
        border-top: none;
      }
    }
  }
}

.rect {
  stroke: transparent;
  stroke-width: 2;
}
.rect.hover {
  stroke: #333;
}

/* Flex Box Layout */
.vis-wrapper {
  .display(flex);
  .flex(1 1 100%);
  .flex-direction(row);
  margin: 10px 0 0 6px;
}

.error {
  .flex(1 1 100%);
  text-align: center;

  p {
    margin-top: 15%;
    font-size: 18px;
    text-wrap: wrap;
  }
}

/* YAxis logic */
.y-axis-col-wrapper {
  .display(flex);
  .flex-direction(column);
}

.y-axis-col {
  .display(flex);
  .flex-direction(row);
  .flex(1 0 50px);
}

.y-axis-spacer-block {
  min-height: 45px;
}

.y-axis-div-wrapper {
  .display(flex);
  .flex-direction(column);
  width: 38px;
  min-height: 20px;
}

.y-axis-div {
  .flex(1 1 25px);
  min-width: 14px;
  min-height: 14px;
}

.y-axis-title {
  min-height: 14px;
  min-width: 14px;
}

.y-axis-chart-title {
  .display(flex);
  .flex-direction(column);
  min-height: 14px;
  width: 14px;
}

.y-axis-title text {
  font-size: 11px;
}

.chart-title {
  .flex(1 1 100%);
  min-height: 14px;
  min-width: 14px;
}

.chart-title text {
  font-size: 11px;
  fill: #848e96;
}

.vis-col-wrapper {
  .display(flex);
  .flex(1 0 20px);
  .flex-direction(column);
}

.chart-wrapper {
  .display(flex);
  .flex(1 0 20px);
  overflow: visible;
  margin: 0 5px 0 0;
}

.chart-wrapper-column {
  .display(flex);
  .flex(1 0 20px);
  .flex-direction(row);
}

.chart-wrapper-row {
  .display(flex);
  .flex-direction(column);
  .flex(1 0 100%);
}

.chart {
  .flex(1 1 100%);
  overflow: visible;
}

.chart-row {
  .flex(1 1);
}

.chart-column {
  .flex(1 1);
}

.x-axis-wrapper {
  .display(flex);
  .flex-direction(column);
  min-height: 45px;
  overflow: visible;
}

.x-axis-div-wrapper {
  .display(flex);
  .flex-direction(row);
  min-height: 15px;
}

.x-axis-chart-title {
  .display(flex);
  .flex-direction(row);
  min-height: 15px;
  max-height: 15px;
  min-width: 20px;
}

.x-axis-title {
  min-height: 15px;
  max-height: 15px;
  min-width: 20px;
}

.x-axis-title text {
  font-size: 11px;
}

.x-axis-div {
  margin-top: -5px;
  min-height: 20px;
  min-width: 20px;
}

.x.axis path {
  display: none;
}
