pipeline-input {
  display: block;
  margin-bottom: 10px;
  background-color: white;

  textarea.form-control {
    min-height: 110px;
    height: 110px;
  }

  .header {
    display: flex;

    label {
      flex: 1 1 auto;
    }

    .controls {
      flex: 0 0 auto;
      display: flex;
      height: 22px;

      button {
        flex: 0 0 auto;
        width: 22px;
        position: relative;
        top: -5px;
        margin-left: 5px;
      }
    }
  }

  .description {
    font-style: italic;
    padding-bottom: 0px;
  }
}
