pipeline-input {
  display: block;
  margin-bottom: 10px;
  background-color: white;

  textarea.form-control {
    min-height: 110px;
    height: 110px;
  }

  .header {
    display: flex;

    label {
      flex: 1 1 auto;
    }

    source-data {
      flex: 0 0 auto;
    }
  }
}
