@import (reference) "~ui/styles/variables";
@import (reference) "~ui/styles/mixins";
@import (reference) "~ui/styles/theme";

pipeline-setup {
  .main-panels {
    display: flex;
    margin-bottom: 10px;

    .left-panel {
      .flex-parent(1, 1, 1px);
      width: 50%;

      &>label {
        margin-bottom: 2px;
      }
    }

    .center-panel {
      .flex-parent(0, 0, auto, column);
      justify-content: center;

      .buttons {
        .flex-parent(0, 0, auto, column);
      }
    }

    .right-panel {
      .flex-parent(1, 1, 1px, column);
      width: 50%;
    }

    .panel {
      background-color: @settings-add-data-wizard-panel-bg;
    }

    .pipeline {
      min-height: 610px;

      &.panel {
        margin-bottom: 0px;
      }
    }
  }

  label {
    margin-bottom: 0px;
  }

  ul.pipeline-container {
    list-style-type: none;
    padding: 0px;
    margin-bottom: 0px;

    &>li {
      padding: 1px;
    }
  }

  .add-processor {
    padding:10px;
    margin-bottom: 10px;
  }

  textarea.form-control {
    min-height: 150px;
  }
}
