@import (reference) "~plugins/rework/main.less";

.rework--workpad-list {
  background-color: #fff;
  padding: 0px 10px;
  border-radius: @border-radius-base;
  width: 100%;
  height: 100%;

  tr:hover {
    background-color: @kibanaGray6;
  }

  &-name, &-timestamp, &-controls {
    line-height: 27px !important;
  }

  &-name, &-timestamp {
    &:hover {
      cursor: pointer;
    }
  }

  &-controls {
    font-size: 20px;
    width: 80px;

    a {
      text-decoration: none;
      color: @rework--action-link-color;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: @kibanaBlue2;
      }

      &.fa-ban:hover {
        color: @kibanaPink1;
      }
    }
  }
}

.rework--workpad-import-export {
  text-align: right;
  margin: 0 10px 10px;

  a {
    text-decoration: none;
    color: @rework--action-link-color;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: @kibanaBlue2;
    }
  }
}
