@import (reference) "~plugins/rework/main.less";

.rework--workpad-list {
  background-color: #fff;
  padding: 0px 10px;
  border-radius: @border-radius-base;
  width: 100%;
  height: 100%;

  .rework--workpad-list-name, .rework--workpad-list-timestamp {
    line-height: 27px;

    &:hover {
      cursor: pointer;
    }
  }

  tr:hover {
    background-color: @kibanaGray6;
  }
}

.rework--workpad-list-delete {
  font-size: 20px;
  line-height: 27px;

  &:hover {
    color: @kibanaPink1;
    cursor: pointer;
  }
}
