@import (reference) "~plugins/rework/main.less";

.rework--workpad-list {
  background-color: #fff;
  padding: 0px 10px;
  border-radius: @border-radius-base;
  width: 100%;
  height: 100%;

  tr:hover {
    background-color: @kibanaGray6;
    cursor: pointer;
  }
}
