<visualize-app class="app-container visEditor visEditor--{{ vis.type.name }}">
  <!-- Linked search. -->
  <div
      ng-show="isVisible"
      ng-if="vis.type.requiresSearch && state.linked"
      class="fullWidth visEditor__linkedMessage"
    >
    <div class="kuiVerticalRhythmSmall">
      {{ ::'kbn.visualize.linkedToSearchInfoText' | i18n: { defaultMessage: 'Linked to Saved Search' } }}
      <a
        href="#/discover/{{savedVis.savedSearch.id}}"
      >
        {{ savedVis.savedSearch.title }}
      </a>
      &nbsp;
      <a
        data-test-subj="unlinkSavedSearch"
        href=""
        ng-dblclick="unlink()"
        tooltip="{{ ::'kbn.visualize.linkedToSearch.unlinkButtonTooltip' | i18n: { defaultMessage: 'Double click to unlink from Saved Search' } }}"
      >
        <span aria-hidden="true" class="kuiIcon fa-chain-broken"></span>
      </a>
    </div>
  </div>

  <!--
    Local nav.
    Most visualizations have all search bar components enabled
    Some visualizations have fewer options but all visualizations have a search bar
    which is why show-search-baris set to "true".
    All visualizaions also have least a timepicker \ autorefresh component, which is why
    show-query-bar is set to "true".
  -->
  <kbn-top-nav
    ng-if="isVisible"
    app-name="'visualize'"
    config="topNavMenu"
    show-search-bar="true"
    show-query-bar="true"
    show-query-input="showQueryInput()"
    show-filter-bar="showFilterBar() && isVisible"
    show-date-picker="showQueryBarTimePicker()"
    show-auto-refresh-only="!showQueryBarTimePicker()"
    query="state.query"
    saved-query="savedQuery"
    screen-title="state.vis.title"
    on-query-submit="updateQueryAndFetch"
    index-patterns="[indexPattern]"
    filters="filters"
    on-filters-updated="onFiltersUpdated"
    date-range-from="timeRange.from"
    date-range-to="timeRange.to"
    is-refresh-paused="refreshInterval.pause"
    refresh-interval="refreshInterval.value"
    on-refresh-change="onRefreshChange"
    show-save-query="showSaveQuery"
    on-saved="onQuerySaved"
    on-saved-query-updated="onSavedQueryUpdated"
    on-clear-saved-query="onClearSavedQuery"
  >
  </kbn-top-nav>

  <!--
    The top nav is hidden in embed mode but the filter bar must still be present so
    we show the filter bar on its own here if the chrome is not visible.
  -->
  <kbn-top-nav
    ng-if="showFilterBar() && !isVisible"

    app-name="'visualize'"
    show-search-bar="true"
    show-filter-bar="true"
    show-save-query="false"
    show-date-picker="false"

    filters="filters"
    on-filters-updated="onFiltersUpdated"
    index-patterns="[indexPattern]"
  >
  </kbn-top-nav>

  <div
    class="euiCallOut euiCallOut--primary euiCallOut--small hide-for-sharing"
    ng-if="vis.type.shouldMarkAsExperimentalInUI()"
    data-test-subj="experimentalVisInfo"
  >
    <div class="euiText">
      <p ng-bind-html="getAdditionalMessage()"></p>
    </div>
  </div>

  <visualization-embedded
    ng-if="!isVisible"
    class="visualize"
    saved-obj="savedVis"
    ui-state="uiState"
    time-range="timeRange"
    filters="filters"
    query="query"/>

  <h1
    class="euiScreenReaderOnly"
    i18n-id="kbn.visualize.pageHeading"
    i18n-default-message="{chartName} {chartType} visualization"
    i18n-values="{
      chartName: savedVis.title,
      chartType: vis.type.title
    }"
  >
  </h1>
  <visualization-editor
    ng-if="isVisible"
    saved-obj="savedVis"
    ui-state="uiState"
    time-range="timeRange"
    filters="filters"
    query="query"
    class="visEditor__content"
  />

</visualize-app>
