@import (reference) "~ui/styles/variables";

visualize {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;

  .k4tip {
    white-space: pre-line;
  }

  .vis-container {
    height: 1px;
    display: flex;
    flex-direction: row;

    flex: 1 1 auto;
    overflow: auto;
    -webkit-transition: opacity 0.01s;
    transition: opacity 0.01s;

    &.spy-only {
      display: none;
    }

  }

  .loading {
    opacity: @loading-opacity;
  }

  .spinner {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    z-index: 20;
    opacity: @loading-opacity;
  }
}

.visualize-error {
  display: flex;
  align-items: center;
  justify-content: center;
  .top { align-self: flext-start; }
  .item { }
  .bottom { align-self: flext-end; }

}

ul.visualizations .media-body {
  font-size: 0.75em;
}

visualize-spy {
  // this element should flex
  flex: 0 1 auto;

  // it's children should also flex vertically
  flex-direction: column;
  display: flex;

  overflow: auto;

  &.visible {
    display: block;
  }

  &.only {
    flex: 1 1 auto;
    padding-top: 0px;
  }

  .visualize-show-spy {
    flex: 0 0 auto;

    border-top: 1px solid;
    border-top-color: @visualize-show-spy-border;
    margin-bottom: 3px;

    &-tab {
      margin: 0px auto;
      margin-top: -1px;
      border: 1px solid;
      border-color: @visualize-show-spy-border;
      border-top: 0px;
      border-width: 0px 1px 1px 1px;
      border-bottom-left-radius: @border-radius-base;
      border-bottom-right-radius: @border-radius-base;
      width: 50px;
      background: @visualize-show-spy-bg;
      text-align: center;
      color: @visualize-show-spy-color;

      &:hover {
        background-color: @visualize-show-spy-hover-bg;
        color: @visualize-show-spy-hover-color;
      }
    }


    i {
      padding: 0 10px;
    }
  }

  .visualize-spy-fill {
    margin-right: 5px;
  }

  .visualize-spy-container {
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;

    height: 482px;
    overflow-y: auto;

    header {
      padding: 0 0 15px;
    }

    header + * {
      flex: 1 1 auto;
    }

    > .alert {
      flex: 0 0 auto;
    }

    tr > td {
      font-size: 0.85em;
    }
  }

  &.only .visualize-spy-container {
    height: auto;
  }

  .visualize-spy-nav {
    flex: 0 0 auto;

    a.btn {
      margin: @padding-small-vertical @padding-small-vertical;
    }
  }

  .visualize-spy-content {
    position: relative;

    .visualize-spy-loading {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      text-align: center;

      &-text {
        display: inline-block;
        margin: 0;
        background: @alert-info-bg;
        color: @alert-info-text;
        padding: 5px 10px;
        border-radius: @border-radius-base;

        .spinner > * {
          background-color: @alert-info-text;
        }
      }
    }
  }

  pre {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}

