.canvas__datetime-range-absolute {
  display: flex;

  > * {
    border: $euiBorderThin;
    border-radius: $euiBorderThin;
  }

  > div:not(:last-child) {
    margin-right: $euiSizeS;
  }

  .rdtPicker {
    border: none;
  }
}
