@import (reference) "../../style/variables";

.canvas__function {
  & > .canvas__loading {
    text-align: center;
    font-size: 20px;
  }
}

.canvas__function__arg--add {
  display: inline-block;
  padding-left: @spacingXS;

  .label {
    margin: @spacingXXS;
    cursor: pointer;
  }
}
