@import (reference) "../../style/variables";

.canvas__function__arg {
  display: flex;
  padding: @spacingS @spacingM;
}

.canvas__function__arg--controls {
  flex: 1 0;
  width: 280px;
  border-right: @spacingXS solid @border;
  padding-right: @spacingS;
}

.canvas__function__arg--remove {
  padding-left: @spacingXS;
  margin: auto @spacingXS;
  cursor: pointer;
}

.canvas__function__arg--add {
  display: inline-block;
  padding-left: @spacingXS;

  .label {
    margin: @spacingXXS;
    cursor: pointer;
  }
}
