.kuiHeaderBar {
  @include bar;
  align-items: baseline;
  padding-bottom: 4px;

  border-bottom: $tableRowBorder;
}

/**
 * 1. Align a single section to the left by default.
 */
.kuiHeaderBarSection {
  @include barSection;
  align-items: baseline;

  &:only-child {
    margin-left: 0; /* 1 */
  }
}
