@import "~ui/styles/mixins";

.legend-col-wrapper {
  .flex-parent(0, 0, auto);
  z-index: 10;
  min-height: 0;

  .legend-toggle {
    cursor: pointer;
    opacity: 0.75;
    white-space: nowrap;
    font-size: 0.9em;

    .legend-open {
      margin-right: 20px;
    }

    .legend-closed {
      font-size: 1.5em;
      padding-left: 5px;
    }
  }

  .column-labels {
    text-align: right;
  }

  .legend-ul {
    flex: 1 1 1px;
    overflow-x: hidden;
    overflow-y: auto;

    list-style-type: none;
    padding: 0;
    visibility: visible;
    min-height: 0;
    min-width: 60px;
    margin-right: 5px;

    li.color {
      min-height: 22px;
      padding: 3px 0 3px 0;
      text-align: left;
      font-size: 12px;
      line-height: 13px;
      color: #666;
      cursor: default;
      text-align: left;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      max-width: 150px;

      .dots {
        padding-right: 5px;
      }
    }
  }

  .legend-ul.hidden {
    visibility: hidden;
  }

  .legend-toggle {
  }
}
