$modalPadding: 10px;
$modalBorderColor: $euiBorderColor;
$modalBackgroundColor: $euiColorEmptyShade;
$kuiModalDepth: 1000;
$modalOverlayBackground: $euiColorEmptyShade;
@if (lightness($euiTextColor) > 50) {
  $modalOverlayBackground: $euiColorLightShade;
}

@import "modal_overlay";
@import "modal";
