<!-- vis type specific options -->
<div class="kuiSideBarSection">
  <div class="form-group">
    <label for="coordinateMapOptionsMapType">Map type</label>
      <select
        id="coordinateMapOptionsMapType"
        name="agg"
      class="form-control"
      ng-model="vis.params.mapType"
      ng-init="vis.params.mapType || vis.type.editorConfig.collections.mapTypes[0]"
      ng-options="mapType as mapType for mapType in vis.type.editorConfig.collections.mapTypes"
      >
    </select>
  </div>

  <div ng-if="vis.params.mapType === 'Heatmap'" class="form-group">
    <div>
      <label>
        Cluster size
      </label>
      <div class="vis-editor-agg-form-row">
        <input
          name="heatClusterSize"
          ng-model="vis.params.heatClusterSize"
          required
          class="form-control"
          type="range"
          min="1.0"
          max="3.0"
          step="0.1"
          >
        <div class="vis-editor-agg-form-value">
          {{vis.params.heatClusterSize}}
        </div>
      </div>
    </div>

  </div>

  <vislib-basic-options></vislib-basic-options>

  <div class="kuiSideBarFormRow">
    <label class="kuiSideBarFormRow__label" for="desaturateMapTiles">
      Desaturate tiles
    </label>

    <div class="kuiSideBarFormRow__control">
      <input
        type="checkbox"
        id="desaturateMapTiles"
        name="isDesaturated"
        ng-disabled="!vis.type.visConfig.canDesaturate"
        ng-model="vis.params.isDesaturated"
      >
      &nbsp;
      <icon-tip
        content="'Reduce the vibrancy of tile colors. This does not work in any version of Internet Explorer.'"
        position="'right'"
      ></icon-tip>
    </div>
  </div>
</div>

<wms-options options="vis.params.wms"></wms-options>
