progress.aiopsActiveProgress[value] {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  animation: aiopsAnimatedProgress 4s infinite linear;
}
progress.aiopsActiveProgress[value]::-webkit-progress-inner-element {
  overflow: hidden;
  background-position: inherit;
}
progress.aiopsActiveProgress[value]::-webkit-progress-bar {
  background-color: transparent;
  background-position: inherit;
}
progress.aiopsActiveProgress[value]::-webkit-progress-value {
  background: repeating-linear-gradient(-45deg, transparent 0 6px, rgba(0, 0, 0, 0.1) 6px 12px), $euiColorSuccess;
  background-size: calc(12px/0.707) 100%, /* 0.707 = cos(45deg)*/
  100% 800%;
  background-position: inherit;
}
progress.aiopsActiveProgress[value]::-moz-progress-bar {
  background: repeating-linear-gradient(-45deg, transparent 0 6px, rgba(0, 0, 0, 0.1) 6px 12px), $euiColorSuccess;
  background-size: calc(12px/0.707) 100%, /* 0.707 = cos(45deg)*/
  100% 800%;
  background-position: inherit;
}
@keyframes aiopsAnimatedProgress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc(10*(12px/0.707)) 100%;
  }
}

