.revealImage {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .revealImageAligner {
    background-size: contain;
    background-repeat: no-repeat;
  }
}
