.revealImage {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  .revealImageAligner {
    background-size: contain;
    background-repeat: no-repeat;
  }

  // disables selection and dragging
  .revealImage__image {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
}
