@import '../../mixins';

.dscTable__footer {
  background-color: $euiColorLightShade;
  padding: $euiSize / 2 $euiSize;
  margin-top: $euiSize / 4;
  text-align: center;
}

.dscTable__flyoutHeader {
  white-space: nowrap;
}
