.kbnFieldButton {
  @include euiFontSizeS;
  border-radius: $euiBorderRadius;
  margin-bottom: $euiSizeXS;
  padding: 0 $euiSizeS;
  display: flex;
  align-items: flex-start;
  transition: box-shadow $euiAnimSpeedFast $euiAnimSlightResistance,
    background-color $euiAnimSpeedFast $euiAnimSlightResistance; // sass-lint:disable-line indentation

  &:focus-within,
  &-isActive {
    @include euiFocusRing;
  }
}

.kbnFieldButton__button {
  flex-grow: 1;
  text-align: left;
  padding: $euiSizeS 0;
  display: flex;
  align-items: flex-start;
  line-height: normal;
}

.kbnFieldButton__fieldIcon {
  flex-shrink: 0;
  line-height: 0;
}

.kbnFieldButton__name {
  flex-grow: 1;
  padding: 0 $euiSizeS;
}

.kbnFieldButton__infoIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: $euiSize;
  flex-shrink: 0;
  line-height: 0;
}

.kbnFieldButton__fieldAction {
  margin-left: $euiSizeS;
}

.kbnFieldButton__dragHandle {
  margin-right: $euiSizeS;
}

.kbnFieldButton__fieldAction,
.kbnFieldButton__dragHandle {
  line-height: $euiSizeXL;
}

// Reduce text size and spacing for the small size
.kbnFieldButton--xs {
  font-size: $euiFontSizeXS;

  .kbnFieldButton__button {
    padding: $euiSizeXS 0;
  }

  .kbnFieldButton__fieldAction {
    margin-left: $euiSizeXS;
  }

  .kbnFieldButton__fieldAction,
  .kbnFieldButton__dragHandle {
    line-height: $euiSizeL;
  }
}

.kbnFieldButton--flushBoth {
  padding-left: 0;
  padding-right: 0;
}
