/**
 * 1. Override h1.
 */
.kuiTitle {
  margin: 0; /* 1 */
  font-weight: 300; /* 1 */
  color: $fontColor;
  font-size: 26px;
  -webkit-font-smoothing: antialiased;
}

/**
 * 1. Override h2, h3, etc.
 */
.kuiSubTitle {
  margin: 0; /* 1 */
  font-weight: 300; /* 1 */
  color: $fontColor;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}

/**
 * 1. Override p.
 */
.kuiText {
  margin: 0; /* 1 */
  font-weight: 400; /* 1 */
  color: $fontColor;
  line-height: $lineHeight;
  font-size: $fontSize;
  -webkit-font-smoothing: antialiased;
}
