.dshContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $euiColorEmptyShade;
}

.dshContainer--withMargins {
  background-color: $euiColorLightestShade;
}

.dshStartScreen {
  margin: $euiSize auto;
  max-width: 800px;
  width: 100%;
  background: $euiColorEmptyShade;
  padding: $euiSizeXXL;
  border-radius: $euiBorderRadius;
}

.dshSaveModal,
.dshCloneModal {
  max-width: 450px;
}
