// External libraries
// SASSTODO: Change from relative path once node-sass includes node_modules in includePaths
@import './../../../../../node_modules/react-grid-layout/css/styles';
@import './../../../../../node_modules/react-resizable/css/styles';

// Temporary hacks
@import 'hacks';

// Prefix all styles with "dsh" to avoid conflicts.
// Examples
//   dshChart
//   dshChart__legend
//   dshChart__legend--small
//   dshChart__legend-isLoading

/**
  * 1. Don't duplicate styles in dark mode
  */
.tab-dashboard.theme-light { /* 1 */
  @import 'dashboard_app';
  @import 'grid/index';
  @import 'panel/index';
  @import 'viewport/index';
}

// Imports outside of .tab-dashboard selector don't change between light/dark modes
@import 'components/index';
@import 'listing/index';

// DARK THEME
// EUI global scope -- dark
@import './../../../../../node_modules/@elastic/eui/src/themes/k6/k6_colors_dark';

.tab-dashboard.theme-dark {
  background-color: $euiColorEmptyShade;

  @import 'dashboard_app';
  @import 'grid/index';
  @import 'panel/index';
  @import 'viewport/index';
}
