<dashboard-app
  class="app-container dshAppContainer"
  ng-class="{'dshAppContainer--withMargins': model.useMargins}"
>
  <!-- Local nav. -->
  <kbn-top-nav name="dashboard" config="topNavMenu">
    <!-- Transcluded elements. -->
    <div data-transclude-slots>
      <!-- Title. -->
        <div data-transclude-slot="topLeftCorner">
          <div
            class="kuiLocalBreadcrumbs"
            data-test-subj="breadcrumbs"
            role="heading"
            aria-level="1"
            ng-if="showPluginBreadcrumbs">
            <div class="kuiLocalBreadcrumb">
              <a
                class="kuiLocalBreadcrumb__link"
                href="{{landingPageUrl()}}"
                i18n-id="kbn.dashboard.app.dashboardLinkLabel"
                i18n-default-message="Dashboard"
              ></a>
            </div>
            <div class="kuiLocalBreadcrumb">
              {{ getDashTitle() }}
            </div>
          </div>
        </div>

      <!-- Search. -->
      <div ng-show="chrome.getVisible()" class="fullWidth" data-transclude-slot="bottomRow">
        <query-bar
          query="model.query"
          app-name="'dashboard'"
          on-submit="updateQueryAndFetch($query)"
          index-patterns="indexPatterns"
        >
        </query-bar>
      </div>
    </div>
  </kbn-top-nav>

  <!-- Filters. -->
  <filter-bar
    ng-show="showFilterBar()"
    state="state"
    index-patterns="indexPatterns"
  ></filter-bar>

  <div
    ng-show="getShouldShowEditHelp()"
    class="dshStartScreen"
  >
    <h2
      class="kuiTitle kuiVerticalRhythm"
      i18n-id="kbn.dashboard.app.fillDashboardTitle"
      i18n-default-message="This dashboard is empty. Let&rsquo;s fill it up!"
    >
    </h2>

    <p
      class="kuiText kuiVerticalRhythm"
      i18n-id="kbn.dashboard.app.addVisualizationToDashboardDescription"
      i18n-default-message="Click the {unsafe_addVisualizationToDashboardLink} button in the menu bar above to add a visualization to the dashboard. {br}If you haven't set up any visualizations yet, {visitVisualizeAppLink} to create your first visualization."
      i18n-values="{
        unsafe_addVisualizationToDashboardLink: '<a
          kbn-accessible-click
          class=\'kuiButton kuiButton--primary kuiButton--small\'
          ng-click=\'showAddPanel()\'
          aria-label=\'' + addVisualizationToDashboardLinkAriaLabel + '\'
          data-test-subj=\'emptyDashboardAddPanelButton\'>' + addVisualizationToDashboardLinkText + '</a>',
        br: '<br/>',
        visitVisualizeAppLink: '<a class=\'kuiLink\' href=\'#/visualize\'>' + visitVisualizeAppLinkText + '</a>'}"
    >
    </p>
  </div>

  <div ng-show="getShouldShowViewHelp()" class="dshStartScreen">
    <h2
      class="kuiTitle kuiVerticalRhythm"
      i18n-id="kbn.dashboard.app.fillDashboardTitle"
      i18n-default-message="This dashboard is empty. Let&rsquo;s fill it up!"
    >
    </h2>

    <p
      class="kuiText kuiVerticalRhythm"
      i18n-id="kbn.dashboard.app.howToStartWorkingOnNewDashboardDescription"
      i18n-default-message="Click the {unsafe_howToStartWorkingOnNewDashboardEditLink} button in the menu bar above to start working on your new dashboard."
      i18n-values="{
        unsafe_howToStartWorkingOnNewDashboardEditLink: '
          <a
            kbn-accessible-click
            class=\'kuiButton kuiButton--primary kuiButton--small\'
            ng-click=\'enterEditMode()\'
          >' + howToStartWorkingOnNewDashboardEditLinkText + '</a>'
      }"
    >
    </p>
  </div>

  <dashboard-viewport-provider
    get-embeddable-factory="getEmbeddableFactory"
  >
  </dashboard-viewport-provider>

</dashboard-app>
