.suggestions {
  background-color: $euiColorLightestShade;
  color: $euiTextColor;
  border: 1px solid $euiColorLightShade;
  border-top: 2px solid $euiColorLightShade;
  border-radius: 0px 0px $euiBorderRadius $euiBorderRadius !important;
  z-index: 10000;
  max-height: 378px; // 5 suggestions
  overflow-y: auto;
  box-shadow: 0 5px 22px rgba(0, 0, 0, 0.25);

  .suggestion {
    border-bottom: 1px solid $euiColorLightShade;
    padding: 5px 20px;

    &:hover {
      background-color: $euiColorLightShade;
    }

    &.active {
      background-color: $euiColorLightShade;
    }
  }

  .suggestion-details {
    background-color: $euiColorLightestShade;
    padding: 10px;
    border-radius: $euiBorderRadius;

    > table {
      color: $euiTextColor;
      margin-bottom: 0px;
    }
  }

  &.suggestions-isPopover {
    position: absolute;
    top: 100%;
  }
}
