name: Add author:actionable-obs label to PRs

on:
  pull_request_target:
    types: [opened]

jobs:
  label-actionable-obs-team:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read

    steps:
      - name: Label if author is in the actionable-obs team
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const actionableObsTeam = [
              "jasonrhodes",
              "ana-davydova",
              "baileycash-elastic",
              "benakansara",
              "dominiqueclarke",
              "fkanout",
              "cesco-f",
              "kdelemme",
              "miguelmartin-elastic",
              "miltonhultgren",
              "mgiota",
              "shahzad31",
              "yiannisnikolopoulos"
            ]; // GitHub usernames
            const label = "author:actionable-obs";

            const author = context.payload.pull_request.user.login;

            if (actionableObsTeam.includes(author)) {
              await github.rest.issues.addLabels({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: context.payload.pull_request.number,
                labels: [label],
              });
            }
