on:
  issue_comment:
    types: [created]

jobs:
  issue_alert:
    name: Alert on failed test
    if: |
      !github.event.issue.pull_request
      && (github.event.comment.user.login == 'kibanamachine' || github.event.comment.user.login == 'elasticmachine')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout kibana-operations
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: 'elastic/kibana-operations'
          ref: main
          path: ./kibana-operations
          token: ${{secrets.KIBANAMACHINE_TOKEN}}
          persist-credentials: false

      - name: Label failed test issue
        working-directory: ./kibana-operations/triage
        env:
          GITHUB_TOKEN: ${{secrets.KIBANAMACHINE_TOKEN}}
          SLACK_TOKEN: ${{secrets.SLACK_TOKEN_FAILED_TEST_NOTIFIER}}
        run: |
          npm ci --omit=dev
          node failed-test-alert ${{github.event.issue.number}} || true
