on:
  pull_request_target:
    branches:
      - main
    types:
      - opened

jobs:
  approve:
    name: Auto-approve renovate bot PRs
    runs-on: ubuntu-latest
    if: |
      startsWith(github.event.pull_request.head.ref, 'renovate') &&
      github.actor == 'elastic-renovate-prod[bot]'
    permissions:
      pull-requests: write
    steps:
      - uses: hmarr/auto-approve-action@f0939ea97e9205ef24d872e76833fa908a770363 # v4.0.0
        with:
          github-token: ${{ secrets.KIBANAMACHINE_TOKEN }}
