on:
  issues:
    types:
      - labeled

jobs:
  issue_commented:
    name: Label failed test issue
    if: |
      !github.event.issue.pull_request
      && github.event.label.name == 'failed-test'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout kibana-operations
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
        with:
          repository: 'elastic/kibana-operations'
          ref: main
          path: ./kibana-operations
          token: ${{secrets.KIBANAMACHINE_TOKEN}}

      - name: Label failed test issue
        working-directory: ./kibana-operations/triage
        env:
          GITHUB_TOKEN: ${{secrets.KIBANAMACHINE_TOKEN}}
          SLACK_TOKEN: ${{secrets.SLACK_TOKEN_FAILED_TEST_NOTIFIER}}
        run: |
          npm ci --omit=dev
          node failed-test-label ${{github.event.issue.number}} || true
