name: Find LaunchDarkly flag code references

on:
  push:
    branches:
      - 'main'

jobs:
  launchDarklyCodeReferences:
    name: LaunchDarkly Code References
    if: github.event.repository.fork == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 11 # This value must be set if the lookback configuration option is not disabled for find-code-references. Read more: https://github.com/launchdarkly/ld-find-code-refs#searching-for-unused-flags-extinctions
          persist-credentials: false
      - name: LaunchDarkly Code References
        uses: launchdarkly/find-code-references@89a7d362d1d4b3725fe0fe0ccd0dc69e3bdcba58 # v2.14.0
        with:
          accessToken: ${{ secrets.LD_ACCESS_TOKEN }}
          projKey: ${{ secrets.LD_PROJECT_KEY }}
