on:
  pull_request_target:
    types:
      - closed
      - labeled
      - unlabeled

jobs:
  on-merge:
    name: 'Label and Backport'
    runs-on: ubuntu-latest
    if: |
      github.event.pull_request.merged == true &&
        (github.event.action == 'closed' ||
          (github.event.action == 'labeled' &&
            (github.event.label.name == 'backport:all-open' ||
              github.event.label.name == 'backport:version')) ||
          (github.event.action == 'unlabeled' &&
            github.event.label.name == 'backport:skip' &&
            (contains(github.event.pull_request.labels.*.name, 'backport:all-open') ||
              contains(github.event.pull_request.labels.*.name, 'backport:version'))))
    steps:
      - name: Checkout Actions
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: 'elastic/kibana-github-actions'
          ref: main
          path: ./actions
          persist-credentials: false

      - name: Install Actions
        run: npm install --production --prefix ./actions

      - name: Run On-Merge
        uses: ./actions/on-merge
        with:
          github_token: ${{secrets.KIBANAMACHINE_TOKEN}}
