on:
  issue_comment:
    types:
      - created

jobs:
  issue_commented:
    name: Skip failed test on comment
    if: |
      !github.event.issue.pull_request
      && startsWith(github.event.comment.body, '/skip')
      && contains(github.event.issue.labels.*.name, 'failed-test')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          repository: 'elastic/kibana-github-actions'
          ref: main
          path: ./actions

      - name: Install Actions
        run: npm ci --omit=dev --prefix ./actions

      - name: User Permission Check
        uses: ./actions/permission-check
        with:
          permission: admin
          teams: appex-qa, security-solution-test-skippers
          token: ${{secrets.KIBANAMACHINE_TOKEN}}

      - name: Checkout kibana-operations
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          repository: 'elastic/kibana-operations'
          ref: main
          path: ./kibana-operations
          token: ${{secrets.KIBANAMACHINE_TOKEN}}

      - name: Skip failed test
        working-directory: ./kibana-operations/triage
        env:
          GITHUB_TOKEN: ${{secrets.KIBANAMACHINE_TOKEN}}
          SLACK_TOKEN: ${{secrets.SLACK_TOKEN_FAILED_TEST_NOTIFIER}}
        run: |
          npm ci --omit=dev
          node failed-test-auto ${{github.event.issue.number}}
