.footerGlobalNav {
  position: fixed;
  bottom: 0;
  height: $kbnFooterBannerHeight;
  width: 100%;

  /* this is the div injected by the mountpoint. we need to have it take full dimensions */
  > div {
    height: 100%;
    width: 100%;
  }
}
