@include euiHeaderAffordForFixed;

.chrHeaderHelpMenu__version {
  text-transform: none;
}

.chrHeaderBadge__wrapper {
  align-self: center;
  margin-right: $euiSize;
}

.header__toggleNavButtonSection {
  .euiBody--collapsibleNavIsDocked & {
    display: none;
  }
}

.homWrapper{
  background-color: #f1f1f1 !important;
}
.kbnOverviewPageHeader{
  background-color: #f2f2f2 !important;
}
.euiFlexItem{
}
.euiTitle{
  color: #007ea7;
}
a {
  color: #15968d !important;
}


