@import './banner';

.euiDataGrid__restrictBody {
  .headerGlobalNav,
  .kbnQueryBar {
    display: none;
  }
}

.euiDataGrid__restrictBody.euiBody--headerIsFixed {
  .euiFlyout {
    top: 0;
    height: 100%;
  }
}

.chrHeaderHelpMenu__version {
  text-transform: none;
}

.chrHeaderBadge__wrapper {
  align-self: center;
  margin-right: $euiSize;
}

.header__toggleNavButtonSection {
  .euiBody--collapsibleNavIsDocked & {
    display: none;
  }
}

.header__breadcrumbsWithExtensionContainer {
  overflow: hidden; // enables text-ellipsis in the last breadcrumb
  .euiHeaderBreadcrumbs {
    // stop breadcrumbs from growing.
    // this makes the extension appear right next to the last breadcrumb
    flex-grow: 0;
    margin-right: 0;

    overflow: hidden; // enables text-ellipsis in the last breadcrumb
  }
}
.header__breadcrumbsAppendExtension {
  flex-grow: 1;
}
