@import '@elastic/eui/src/components/header/variables';

.header-global-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-global-wrapper + #kibana-body > .app-wrapper:not(.hidden-chrome) {
  top: $euiHeaderChildSize;
  left: $euiHeaderChildSize;

  // HOTFIX: Temporary fix for flyouts not inside portals
  // SASSTODO: Find an actual solution
  .euiFlyout {
    top: $euiHeaderChildSize;
    height: calc(100% - #{$euiHeaderChildSize});
  }
}

// Mobile header is smaller
@include euiBreakpoint('xs', 's') {
  .header-global-wrapper + #kibana-body > .app-wrapper:not(.hidden-chrome) {
    left: 0;
  }
}

.chrHeaderHelpMenu__version {
  text-transform: none;
}

.chrHeaderBadge__wrapper {
  align-self: center;
  margin-right: $euiSize;
}
