.kbnCollapsibleNav__recentsListGroup {
  @include euiYScroll;
  max-height: $euiSize * 10;
  margin-right: -$euiSizeS;
}

/**
 * 1. Increase the hit area of the link (anchor)
 * 2. Only show the text underline when hovering on the text/anchor portion
 */

.kbnCollapsibleNav__solutionGroupButton {
  display: block; /* 1 */

  &:hover {
    text-decoration: none; /* 2 */
  }
}

.kbnCollapsibleNav__solutionGroupLink {
  display: block; /* 1 */

  &:hover {
    text-decoration: underline; /* 2 */
  }
}
