@import (reference) "../../style/main";

.canvas__update-model--header {
  display: flex;
}

.canvas__update-model--goat {
  display: flex;
  padding-right: @spacingXL;
}

.canvas__update-model--goat_news {
  margin-top: @spacingXXXXL;

  strike {
    color: @red;

    span {
      color: @textMain;
    }
  }
}
