.canvas__update-model {
  width: 700px;

  .canvas__update-model--header {
    justify-content: space-evenly;

    .canvas__update-model--goat_news {
      strike {
        color: $euiColorDanger;

        span {
          color: $euiTextColor;
        }
      }
    }
  }
}
