/**
 * 1. Hide increment and decrement buttons for type="number" input.
 */
.cxtSizePicker {
  text-align: center;
  width: $euiSize * 5;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}
