@import (reference) "../../style/main";


.canvas {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
}

.canvas__main {
  background-color: @background;
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  height: 0px; // Essentially a hack to make the sidebar and workspace scroll when the tray is open
}

.canvas__app--sidebar {
  background-color: darken(@lightestGrey, 2%);
  width: 350px;
  flex-grow: 0;
  overflow: auto;
  border-left: @borderStyle;
}

.canvas__app--workspace {
  background-color: @background;
  padding: @spacingM;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}


.canvas__app--workpad {
  flex: 0 0;
  width: 0;
}
